Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

feat: add claude-fable-5-1 to the Anthropic subscription model catalog
  .changeset/fluffy-fable-subscription.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

feat: add claude-fable-5-1 to the Anthropic subscription model catalog (#2819)
  .changeset/fluffy-fable-subscription.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

fix: route explicit bare model to its subscription connection
  .changeset/explicit-subscription-preference.md
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing-core/__tests__/route-helpers.spec.ts
  packages/backend/src/routing/routing-core/route-helpers.ts
Due: backend

fix: route explicit bare model to its subscription connection (#2820)
  .changeset/explicit-subscription-preference.md
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing-core/__tests__/route-helpers.spec.ts
  packages/backend/src/routing/routing-core/route-helpers.ts
Due: backend

fix(proxy): translate Anthropic thinking to reasoning_effort for OpenAI
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: hide OpenRouter :batch model variants from discovery
  .changeset/openrouter-hide-batch-variants.md
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

fix: hide OpenRouter :batch model variants from discovery (#2821)
  .changeset/openrouter-hide-batch-variants.md
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

test: deflake proxy-fallback-auth e2e by polling for the recorded attempt
  packages/backend/test/proxy-fallback-auth.e2e-spec.ts
Due: none

refactor(frontend): consolidate platform-icon dark-mode inversion (#2792)
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/backend/src/database/secret-reencryption.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.boundary.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/notifications/services/email-provider-config.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/inline-image-redaction.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.streaming.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider-key.service.spec.ts
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/components/SetupModal.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/styles/agent-type-select.css
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/controls.css
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/platform-icons.css
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/pages/Settings.test.tsx
Due: backend, frontend

test: deflake proxy-fallback-auth e2e by polling for the recorded attempt (#2823)
  packages/backend/test/proxy-fallback-auth.e2e-spec.ts
Due: none

chore: add changeset for fast-uri security bump
  .changeset/security-fast-uri-bump.md
Due: none

chore: add changeset for fast-uri security bump (#2825)
  .changeset/security-fast-uri-bump.md
Due: none

ci: add upgrade-path smoke test against a populated database
  .github/workflows/docker-smoke.yml
Due: none

ci: add upgrade-path smoke test against a populated database (#2826)
  .github/workflows/docker-smoke.yml
Due: none

feat(routing): send x-opencode-session header on OpenCode Go/Zen requests
  .changeset/opencode-session-header.md
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/provider-hooks.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
Due: backend

docs: update README, CLAUDE.md, AGENTS.md to current state
  AGENTS.md
  CLAUDE.md
  README.md
Due: none

fix: canonicalize provider aliases in extra-header lookup, escape NULs in spec
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/provider-hooks.ts
Due: backend

docs: update README, CLAUDE.md, AGENTS.md to current state (#2828)
  AGENTS.md
  CLAUDE.md
  README.md
Due: none

test: assert x-opencode-session absence directly instead of via not.objectContaining
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
Due: backend

feat(routing): send x-opencode-session header on OpenCode Go/Zen requests (#2827)
  .changeset/opencode-session-header.md
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/provider-hooks.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
Due: backend

feat: add alias for custom provider model ids
  .changeset/custom-provider-alias.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1802100000000-AddCustomProviderAlias.spec.ts
  packages/backend/src/database/migrations/1802100000000-AddCustomProviderAlias.ts
  packages/backend/src/entities/custom-provider.entity.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fetcher.ts
  packages/backend/src/routing/custom-provider.controller.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.controller.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/dto/custom-provider.dto.spec.ts
  packages/backend/src/routing/dto/custom-provider.dto.ts
  packages/backend/src/routing/proxy/__tests__/openai-model-id.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/openai-model-id.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/tests/components/CustomProviderForm.test.tsx
  packages/shared/__tests__/custom-provider-alias.spec.ts
  packages/shared/src/custom-provider-alias.ts
  packages/shared/src/index.ts
Due: backend, frontend

fix: trim alias separators without a suffix-anchored regex
  packages/shared/src/custom-provider-alias.ts
Due: none

fix: invalidate model cache tenant-wide and map alias races to 409
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.edge.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-cache.service.spec.ts
  packages/backend/src/routing/routing-core/routing-cache.service.ts
Due: backend

feat: add alias for custom provider model ids (#2831)
  .changeset/custom-provider-alias.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1802100000000-AddCustomProviderAlias.spec.ts
  packages/backend/src/database/migrations/1802100000000-AddCustomProviderAlias.ts
  packages/backend/src/entities/custom-provider.entity.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fetcher.ts
  packages/backend/src/routing/custom-provider.controller.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.controller.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/dto/custom-provider.dto.spec.ts
  packages/backend/src/routing/dto/custom-provider.dto.ts
  packages/backend/src/routing/proxy/__tests__/openai-model-id.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/openai-model-id.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.edge.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-cache.service.spec.ts
  packages/backend/src/routing/routing-core/routing-cache.service.ts
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/tests/components/CustomProviderForm.test.tsx
  packages/shared/__tests__/custom-provider-alias.spec.ts
  packages/shared/src/custom-provider-alias.ts
  packages/shared/src/index.ts
Due: backend, frontend

fix(frontend): adapt provider connection page and header to phone screens
  .changeset/mobile-provider-connection-view.md
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/styles/analytics-overview.css
  packages/frontend/src/styles/connection-detail.css
  packages/frontend/src/styles/controls.css
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/toast.css
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
  packages/frontend/tests/components/Header.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

feat: show new-version badge on self-hosted dashboards
  .changeset/self-hosted-update-check.md
  CLAUDE.md
  design-system/registry/components.json
  design-system/registry/llms.txt
  docker/DOCKER_README.md
  docker/docker-compose.yml
  packages/backend/.env.example
  packages/backend/src/app.module.ts
  packages/backend/src/version/version-check.config.spec.ts
  packages/backend/src/version/version-check.config.ts
  packages/backend/src/version/version-check.service.spec.ts
  packages/backend/src/version/version-check.service.ts
  packages/backend/src/version/version.controller.spec.ts
  packages/backend/src/version/version.controller.ts
  packages/backend/src/version/version.module.ts
  packages/frontend/src/components/VersionIndicator.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/api/version.ts
  packages/frontend/src/styles/version-indicator.css
  packages/frontend/tests/components/VersionIndicator.test.tsx
  packages/frontend/tests/services/version-api.test.ts
Due: backend, frontend

fix: coalesce concurrent version checks and enlarge dismiss target
  packages/backend/src/version/version-check.service.spec.ts
  packages/backend/src/version/version-check.service.ts
  packages/frontend/src/styles/version-indicator.css
Due: backend, frontend

fix(frontend): address review on phone layout (toast dup, meta wrap, connections grid)
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/styles/analytics-overview.css
  packages/frontend/src/styles/connection-detail.css
  packages/frontend/src/styles/toast.css
Due: frontend

feat: show new-version badge on self-hosted dashboards (#2834)
  .changeset/self-hosted-update-check.md
  CLAUDE.md
  design-system/registry/components.json
  design-system/registry/llms.txt
  docker/DOCKER_README.md
  docker/docker-compose.yml
  packages/backend/.env.example
  packages/backend/src/app.module.ts
  packages/backend/src/version/version-check.config.spec.ts
  packages/backend/src/version/version-check.config.ts
  packages/backend/src/version/version-check.service.spec.ts
  packages/backend/src/version/version-check.service.ts
  packages/backend/src/version/version.controller.spec.ts
  packages/backend/src/version/version.controller.ts
  packages/backend/src/version/version.module.ts
  packages/frontend/src/components/VersionIndicator.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/api/version.ts
  packages/frontend/src/styles/version-indicator.css
  packages/frontend/tests/components/VersionIndicator.test.tsx
  packages/frontend/tests/services/version-api.test.ts
Due: backend, frontend

feat: add n8n agent category
  packages/frontend/public/icons/n8n.svg
  packages/frontend/tests/components/AgentTypeGrid.test.tsx
  packages/frontend/tests/components/AgentTypeSelect.test.tsx
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
Due: none

feat: add n8n harness setup guidance
  packages/frontend/src/components/N8nSetup.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/styles/agent-type-select.css
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
Due: frontend

fix(frontend): adapt provider connection page and header to phone screens (#2833)
  .changeset/mobile-provider-connection-view.md
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/styles/analytics-overview.css
  packages/frontend/src/styles/connection-detail.css
  packages/frontend/src/styles/controls.css
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
  packages/frontend/tests/components/Header.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

feat: mention the Chat Model node in n8n setup and add changeset
  .changeset/n8n-agent-category.md
  packages/frontend/src/components/N8nSetup.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
Due: frontend

fix: keep the Phoenix harness enum in lockstep with n8n
  packages/backend/src/routing/autofix/contract/phoenix-openapi.yaml
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
Due: backend

feat: add n8n agent category (#2442)
  .changeset/n8n-agent-category.md
  packages/backend/src/routing/autofix/contract/phoenix-openapi.yaml
  packages/frontend/public/icons/n8n.svg
  packages/frontend/src/components/N8nSetup.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/styles/agent-type-select.css
  packages/frontend/tests/components/AgentTypeGrid.test.tsx
  packages/frontend/tests/components/AgentTypeSelect.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
Due: backend, frontend

chore: remove Gemini credit discovery promo
  .changeset/remove-gemini-credits-promo.md
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/frontend/public/images/discovery-banner.jpg
  packages/frontend/src/components/UserDiscoveryBanner.tsx
  packages/frontend/src/components/UserDiscoveryModal.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/overview.css
  packages/frontend/tests/components/UserDiscoveryBanner.test.tsx
  packages/frontend/tests/components/UserDiscoveryModal.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
Due: frontend

chore: remove Gemini credit discovery promo (#2835)
  .changeset/remove-gemini-credits-promo.md
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/frontend/public/images/discovery-banner.jpg
  packages/frontend/src/components/UserDiscoveryBanner.tsx
  packages/frontend/src/components/UserDiscoveryModal.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/overview.css
  packages/frontend/tests/components/UserDiscoveryBanner.test.tsx
  packages/frontend/tests/components/UserDiscoveryModal.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
Due: frontend

feat: add Codex as a coding-assistant agent platform
  .changeset/codex-cli-agent-platform.md
  packages/backend/src/common/dto/create-agent.dto.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
  packages/frontend/public/icons/providers/codex.svg
  packages/frontend/src/components/CodexSetup.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/tests/components/AgentTypeGrid.test.tsx
  packages/frontend/tests/components/AgentTypeSelect.test.tsx
  packages/frontend/tests/components/CodexSetup.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
Due: backend, frontend

fix: add Codex to Phoenix harness allowlist
  packages/backend/src/routing/autofix/contract/phoenix-openapi.yaml
Due: backend

fix(routing): send x-opencode-session on OpenCode playground and catalog requests
  .changeset/opencode-session-playground-catalog.md
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
Due: backend
