Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

Refactor subscription-capabilities into @mnfst/shared workspace package
  .changeset/refactor-shared-package.md
  package-lock.json
  package.json
  packages/backend/src/routing/model-discovery/model-fallback.ts
  packages/backend/src/routing/subscription-support.ts
  packages/openclaw-plugin/__tests__/subscription-capabilities.test.ts
  packages/openclaw-plugin/package.json
  packages/openclaw-plugin/scripts/copy-assets.js
  packages/openclaw-plugin/src/subscription.ts
  packages/shared/.gitignore
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/subscription-capabilities.ts
  packages/shared/tsconfig.json
  packages/subscription-capabilities/index.d.ts
  turbo.json
Due: backend, plugin

Remove dead EmailConfigController, unused endpoints, and orphaned API functions
  packages/backend/src/model-prices/model-prices.controller.spec.ts
  packages/backend/src/model-prices/model-prices.controller.ts
  packages/backend/src/model-prices/model-prices.service.spec.ts
  packages/backend/src/model-prices/model-prices.service.ts
  packages/backend/src/notifications/dto/email-config.dto.ts
  packages/backend/src/notifications/dto/notification-email.dto.ts
  packages/backend/src/notifications/email-config.controller.spec.ts
  packages/backend/src/notifications/email-config.controller.ts
  packages/backend/src/notifications/notifications.module.ts
  packages/backend/src/notifications/services/email-config.service.spec.ts
  packages/backend/src/notifications/services/email-config.service.ts
  packages/backend/src/notifications/services/notification-email-address.service.spec.ts
  packages/backend/src/notifications/services/notification-email-address.service.ts
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
  packages/frontend/src/services/api.ts
  packages/frontend/tests/services/api.test.ts
Due: backend, frontend

Remove unused getTokens and getCosts frontend API functions
  packages/frontend/src/services/api.ts
  packages/frontend/tests/services/api.test.ts
Due: frontend

Add changeset for dead code removal
  .changeset/remove-dead-code.md
Due: none

fix: build shared package before dependents in CI
  .github/workflows/ci.yml
Due: none

fix: use dual CJS/ESM output for shared package
  packages/shared/package.json
  packages/shared/tsconfig.cjs.json
  packages/shared/tsconfig.esm.json
Due: none

chore: clean up model pricing cache
  .changeset/model-pricing-cache-cleanup.md
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/model-prices/model-name-normalizer.ts
  packages/backend/src/model-prices/model-prices.controller.spec.ts
  packages/backend/src/model-prices/model-prices.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/routing/model-discovery/model-fallback.ts
  packages/backend/test/costs.e2e-spec.ts
  packages/backend/test/model-prices.e2e-spec.ts
  packages/backend/test/proxy.e2e-spec.ts
  packages/backend/test/routing-flow.e2e-spec.ts
Due: backend

fix: include packages/shared in lint configuration
  eslint.config.mjs
  package.json
Due: none

Remove unused security module, endpoint, and entity
  .changeset/remove-security-module.md
  packages/backend/src/app.module.ts
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1773700000000-DropSecurityEventTable.spec.ts
  packages/backend/src/database/migrations/1773700000000-DropSecurityEventTable.ts
  packages/backend/src/entities/security-event.entity.ts
  packages/backend/src/security/security.controller.spec.ts
  packages/backend/src/security/security.controller.ts
  packages/backend/src/security/security.module.ts
  packages/backend/src/security/security.service.spec.ts
  packages/backend/src/security/security.service.ts
  packages/backend/src/telemetry/dto/create-telemetry.dto.spec.ts
  packages/backend/src/telemetry/dto/create-telemetry.dto.ts
  packages/backend/src/telemetry/telemetry.module.ts
  packages/backend/src/telemetry/telemetry.service.spec.ts
  packages/backend/src/telemetry/telemetry.service.ts
  packages/backend/test/helpers.ts
  packages/backend/test/security.e2e-spec.ts
  packages/backend/test/telemetry.e2e-spec.ts
  packages/frontend/src/services/api.ts
  packages/frontend/tests/services/api.test.ts
Due: backend, frontend

fix: use original index name in security_event drop migration down()
  packages/backend/src/database/migrations/1773700000000-DropSecurityEventTable.ts
Due: backend

chore: update CLAUDE.md to match current codebase
  .changeset/common-roses-dream.md
  CLAUDE.md
Due: none

fix: address critical code quality issues
  packages/backend/src/common/utils/cost-calculator.spec.ts
  packages/backend/src/common/utils/cost-calculator.ts
  packages/backend/src/otlp/otlp.module.ts
  packages/backend/src/otlp/services/trace-cost-calculator.spec.ts
  packages/backend/src/otlp/services/trace-cost-calculator.ts
  packages/backend/src/otlp/services/trace-dedup.service.spec.ts
  packages/backend/src/otlp/services/trace-dedup.service.ts
  packages/backend/src/otlp/services/trace-entity-builder.spec.ts
  packages/backend/src/otlp/services/trace-entity-builder.ts
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/otlp/services/trace-span-classifier.spec.ts
  packages/backend/src/otlp/services/trace-span-classifier.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/src/routing/resolve/resolve.module.ts
  packages/backend/src/routing/routing.module.ts
Due: backend

fix: address code quality warnings
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/analytics/controllers/costs.controller.spec.ts
  packages/backend/src/analytics/controllers/costs.controller.ts
  packages/backend/src/analytics/controllers/tokens.controller.spec.ts
  packages/backend/src/analytics/controllers/tokens.controller.ts
  packages/backend/src/analytics/services/agent-lifecycle.service.spec.ts
  packages/backend/src/analytics/services/agent-lifecycle.service.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/common/guards/api-key.guard.spec.ts
  packages/backend/src/common/guards/api-key.guard.ts
  packages/backend/src/otlp/guards/otlp-auth.guard.spec.ts
  packages/backend/src/otlp/guards/otlp-auth.guard.ts
  packages/backend/src/otlp/services/trace-dedup.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/scoring/index.ts
Due: backend

fix: harden qwen provider routing (#1205)
  .changeset/five-years-wait.md
  packages/backend/src/database/migrations/1773600000000-AddProviderRegion.ts
  packages/backend/src/entities/user-provider.entity.spec.ts
  packages/backend/src/entities/user-provider.entity.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/qwen-region.spec.ts
  packages/backend/src/routing/qwen-region.ts
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/backend/test/helpers.ts
  packages/frontend/src/services/api.ts
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/api.test.ts
Due: backend, frontend

test: add comprehensive coverage for refactored services
  packages/backend/src/routing/oauth/openai-oauth.controller.ts
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-dedup.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/routing-core/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/routing-core/routing-invalidation.service.spec.ts
  packages/backend/src/routing/routing-core/tier.service.spec.ts
Due: backend

fix: update e2e test imports for restructured module paths
  packages/backend/test/proxy.e2e-spec.ts
  packages/backend/test/routing-flow.e2e-spec.ts
  packages/openclaw-plugin/public/index.html
Due: none

fix: address review feedback — race conditions and error scoping
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/routing-core/tier.service.ts
Due: backend

chore: update build artifact hash
  packages/openclaw-plugin/public/index.html
Due: none

fix: sync package-lock.json after dependency removals
  package-lock.json
Due: none

fix: remove TelemetryModule import from e2e test helpers
  packages/backend/test/helpers.ts
Due: none

feat: improve onboarding wizard UX with accordion layout and new setup methods
  .changeset/wizard-ux-improvements.md
  packages/frontend/src/components/ApiKeyDisplay.tsx
  packages/frontend/src/components/CopyButton.tsx
  packages/frontend/src/components/SetupModal.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/components/SetupStepInstall.tsx
  packages/frontend/src/components/SetupStepLocalReady.tsx
  packages/frontend/src/components/SetupStepProviders.tsx
  packages/frontend/src/styles/overview.css
  packages/frontend/src/styles/wizard.css
  packages/frontend/tests/components/ApiKeyDisplay.test.tsx
  packages/frontend/tests/components/CopyButton.test.tsx
  packages/frontend/tests/components/SetupModal.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/frontend/tests/components/SetupStepInstall.test.tsx
  packages/frontend/tests/components/SetupStepLocalReady.test.tsx
  packages/frontend/tests/components/SetupStepProviders.test.tsx
Due: frontend

fix: address review feedback — clipboard fallback and error gate
  packages/frontend/src/components/CopyButton.tsx
  packages/frontend/src/components/SetupModal.tsx
  packages/frontend/tests/components/CopyButton.test.tsx
  packages/frontend/tests/components/SetupModal.test.tsx
Due: frontend

fix: suppress SolidJS createResource unhandled rejection in tests
  packages/frontend/tests/components/SetupModal.test.tsx
Due: none

chore: update skills for routing-only architecture
  .changeset/update-skills-routing.md
  skills/manifest-status/SKILL.md
  skills/manifest/SKILL.md
  skills/setup-manifest-plugin/SKILL.md
  skills/setup-manifest-plugin/scripts/setup_manifest.sh
  skills/uninstall-manifest-plugin/SKILL.md
Due: none

Update README.md
  README.md
Due: none

feat: update logo to beta version
  .changeset/beta-logo-update.md
  packages/frontend/public/logo-white.svg
  packages/frontend/public/logo.svg
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/styles/auth.css
  packages/frontend/src/styles/controls.css
  packages/openclaw-plugin/public/index.html
  packages/openclaw-plugin/public/logo-white.svg
  packages/openclaw-plugin/public/logo.svg
Due: frontend

fix: reorder wizard methods and add interactive wizard field values
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/styles/wizard.css
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/openclaw-plugin/public/index.html
Due: frontend

fix: address Cubic review feedback on skill docs
  skills/manifest/SKILL.md
  skills/setup-manifest-plugin/SKILL.md
Due: none

test: add full coverage for manifest (local) package + changeset
  .changeset/provider-plugin-split.md
  packages/openclaw-plugins/manifest/__tests__/json-file.test.ts
  packages/openclaw-plugins/manifest/__tests__/local-mode.test.ts
  packages/openclaw-plugins/manifest/__tests__/register.test.ts
Due: none

docs: fix plugin config paths and add manifest local README
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  packages/openclaw-plugins/manifest/README.md
  skills/manifest/SKILL.md
Due: none

fix: address Cubic review feedback
  .github/workflows/ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  package.json
  packages/openclaw-plugins/manifest/README.md
  packages/openclaw-plugins/manifest/openclaw.plugin.json
  packages/openclaw-plugins/manifest/src/index.ts
  packages/openclaw-plugins/manifest/src/json-file.ts
  scripts/check-api-prefix.js
  scripts/sync-plugin-version.js
  skills/manifest/SKILL.md
Due: none

fix: add openclaw.compat.pluginApi for ClawHub listing
  .changeset/breezy-kiwis-work.md
  packages/openclaw-plugins/manifest-provider/package.json
Due: none

fix: add manifest-provider changeset for CI
  .changeset/breezy-kiwis-work.md
Due: none

Add issue templates and pull request template for community standards
  .changeset/goofy-rings-train.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Due: none

Update package-lock.json
  package-lock.json
Due: none
