Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

test: cover onPinKey forwarding in RoutingSpecificitySection
  packages/frontend/tests/pages/RoutingSpecificitySection.test.tsx
Due: none

test: cover handleSpecificityPinKey via Routing mount
  packages/frontend/tests/pages/Routing.test.tsx
Due: none

fix: address Cubic review feedback
  .changeset/multiple-keys-per-provider.md
  packages/backend/src/database/migrations/1782000000000-AddProviderKeyLabelAndPriority.spec.ts
  packages/backend/src/database/migrations/1782000000000-AddProviderKeyLabelAndPriority.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/dto/specificity.dto.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/pages/RoutingActions.tsx
Due: backend, frontend

test: cover Clear pin in FallbackList chip + handleAddFallback dedupe
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/pages/RoutingActions.test.ts
Due: none

test: cover list-mode AddAnotherKey, error paths, and custom-provider title resolution
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/frontend/tests/components/RoutingModals.test.tsx
Due: none

feat(savings): use most expensive routed model as baseline + explainer rewrite
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/services/savings-query.service.ts
  packages/backend/src/common/utils/baseline-cost.spec.ts
  packages/backend/src/common/utils/baseline-cost.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/frontend/src/components/SavingsCard.tsx
  packages/frontend/src/components/SavingsExplainer.tsx
  packages/frontend/src/styles/savings.css
  packages/frontend/tests/components/SavingsExplainer.test.tsx
Due: backend, frontend

test(frontend): add tooltip hover and interaction tests for SavingsCard
  packages/frontend/tests/components/SavingsCard.test.tsx
Due: none

fix(savings): clarify baseline definition in tooltip and explainer
  packages/frontend/src/components/SavingsCard.tsx
  packages/frontend/src/components/SavingsExplainer.tsx
Due: frontend

fix: multi-key UI polish and key dedup enforcement
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/KeyPickerModal.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/components/RoutingModals.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingActions.tsx
  packages/frontend/src/pages/RoutingPanels.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/provider-utils.ts
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/ProviderDetailView.test.tsx
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingActions.test.ts
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/shared/src/fallback-encoding.ts
Due: frontend

fix: address Cubic review + cascade key rename to fallback_models
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/pages/RoutingActions.tsx
Due: backend, frontend

docs(benchmark): add METHODOLOGY.md for paper reproducibility
  benchmark/METHODOLOGY.md
Due: none

docs(benchmark): add design rationale section to METHODOLOGY.md
  benchmark/METHODOLOGY.md
Due: none

docs(benchmark): add complete tools inventory to METHODOLOGY.md
  benchmark/METHODOLOGY.md
Due: none

fix: pass apiMode/chatBody to warmup fallback, return 502 when all fallbacks exhausted
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

feat(dashboard): add two-tab Hermes setup matching OpenClaw pattern
  packages/frontend/src/components/HermesSetup.tsx
  packages/frontend/tests/components/HermesSetup.test.tsx
Due: frontend

fix: capitalize Hermes in onboard tab label
  packages/frontend/src/components/HermesSetup.tsx
  packages/frontend/tests/components/HermesSetup.test.tsx
Due: frontend

feat: store and display provider_key_label in message logs
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1782100000000-AddProviderKeyLabelToAgentMessages.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/styles/data.css
Due: backend, frontend

feat(savings): add savings bar chart with clickable stat tab
  packages/backend/src/analytics/controllers/savings.controller.spec.ts
  packages/backend/src/analytics/controllers/savings.controller.ts
  packages/backend/src/analytics/services/savings-query.service.spec.ts
  packages/backend/src/analytics/services/savings-query.service.ts
  packages/backend/src/common/dto/savings-query.dto.spec.ts
  packages/backend/src/common/dto/savings-query.dto.ts
  packages/frontend/src/components/ChartCard.tsx
  packages/frontend/src/components/SavingsCard.tsx
  packages/frontend/src/components/SavingsChart.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/styles/cards.css
  packages/frontend/src/styles/savings.css
  packages/frontend/tests/components/ChartCard.test.tsx
  packages/frontend/tests/components/SavingsCard.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/vite.config.ts
Due: backend, frontend

feat(savings): replace dual bar chart with single savings-per-day bars
  packages/frontend/src/components/SavingsChart.tsx
Due: frontend

feat(savings): simplify How Savings Are Calculated explainer
  packages/frontend/src/components/SavingsExplainer.tsx
  packages/frontend/tests/components/SavingsExplainer.test.tsx
Due: frontend

docs(benchmark): add FAQ, eliminated decisions, and glossary to METHODOLOGY.md
  benchmark/METHODOLOGY.md
Due: none

docs(benchmark): add LIMITATIONS.md and RELATED_WORK.md
  benchmark/LIMITATIONS.md
  benchmark/RELATED_WORK.md
Due: none

docs(benchmark): add FINDINGS.md with 10 findings tagged STABLE/PRELIMINARY
  benchmark/FINDINGS.md
Due: none

fix(agents): clean up data on delete so recreated agents start fresh
  .changeset/agent-recreate-clean-slate.md
  packages/backend/src/analytics/services/agent-lifecycle.service.spec.ts
  packages/backend/src/analytics/services/agent-lifecycle.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1782200000000-CleanupOrphanedAgentRows.spec.ts
  packages/backend/src/database/migrations/1782200000000-CleanupOrphanedAgentRows.ts
  packages/backend/test/agent-recreate.e2e-spec.ts
Due: backend

docs(benchmark): update FINDINGS.md with findings 11-12 and data snapshot
  benchmark/FINDINGS.md
Due: none

docs(benchmark): add SESSION_NOTES.md for cross-session continuity
  benchmark/SESSION_NOTES.md
Due: none
