Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: strip native button chrome from chart stat tabs
  packages/frontend/src/styles/cards.css
Due: frontend

fix: compute limit period boundaries in local time, not UTC
  .changeset/limits-local-time-boundaries.md
  packages/backend/src/common/utils/period.util.spec.ts
  packages/backend/src/common/utils/period.util.ts
  packages/backend/src/common/utils/postgres-sql.spec.ts
  packages/backend/src/common/utils/postgres-sql.ts
  packages/backend/src/notifications/services/notification-cron.service.edge-cases.spec.ts
Due: backend

fix: show custom provider names in overview series and models
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

fix: resolve custom provider name + icon in the global Messages log
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

fix: refetch agent list on agent change so setup modal respects chosen harness
  .changeset/setup-modal-stale-platform.md
  packages/frontend/src/components/AgentGuard.tsx
  packages/frontend/tests/components/AgentGuard.test.tsx
Due: frontend

fix(migration): skip orphaned agent_id rows in LiftProvidersToUserLevel backfill
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.ts
Due: backend

fix: strip context_management from Anthropic proxy requests
  .changeset/modern-wombats-accept.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
Due: backend

docs: spec for custom provider display fix
  docs/superpowers/specs/2026-06-10-custom-provider-display-design.md
Due: none

docs: fix timeseries fallback label in spec
  docs/superpowers/specs/2026-06-10-custom-provider-display-design.md
Due: none

docs: implementation plan for custom provider display fix
  docs/superpowers/plans/2026-06-10-custom-provider-display.md
Due: none

feat(analytics): resolve custom provider name in shared message-row projection
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
Due: backend

feat(analytics): cost-by-model and per-provider charts resolve custom provider names
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
Due: backend

feat(analytics): messages endpoint labels custom providers for the filter dropdown
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
Due: backend

feat(providers): global providers endpoint resolves custom display names
  packages/backend/src/routing/user-providers.controller.spec.ts
  packages/backend/src/routing/user-providers.controller.ts
Due: backend

feat(frontend): ModelCell renders custom providers like built-in providers
  packages/frontend/src/components/MessageTable.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
Due: frontend

feat(frontend): CostByModelTable reads backend-resolved custom provider name
  packages/frontend/src/components/CostByModelTable.tsx
  packages/frontend/tests/components/CostByModelTable.test.tsx
Due: frontend

refactor(frontend): drop per-page custom provider name lookups
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

fix: strip additional unsupported JSON Schema keywords from Gemini tool schemas
  .changeset/silver-chairs-grab.md
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
Due: backend

feat(frontend): GlobalOverview reads backend-resolved custom provider names
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

test(analytics): register CustomProvider repo mock in cost-filter spec
  packages/backend/src/analytics/services/messages-query.service.cost-filter.spec.ts
Due: backend

style: prettier formatting on touched src files
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/frontend/src/pages/Overview.tsx
Due: backend, frontend

chore: changeset for custom provider display fix
  .changeset/custom-provider-display.md
Due: none

fix: merge parallel Gemini tool responses into one turn
  .changeset/silver-chairs-grab.md
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
Due: backend

fix: UI design anomalies — container widths, modal cleanup, naming, inline rename, no-connections cards
  packages/frontend/src/components/NoConnectionsPrompt.tsx
  packages/frontend/src/components/RoutingModals.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/components/playground/PlaygroundEmptyState.tsx
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/Playground.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/src/styles/routing.css
Due: frontend

docs: spec for dashboard fixes (filter redirect, local gating, savings removal)
  docs/superpowers/specs/2026-06-10-dashboard-fixes-design.md
Due: none

docs: implementation plan for dashboard fixes
  docs/superpowers/plans/2026-06-10-dashboard-fixes.md
Due: none

fix(messages): carry agent filter through the messages redirect
  .changeset/agent-messages-filter-redirect.md
  packages/frontend/src/pages/AgentMessagesRedirect.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/tests/pages/AgentRedirects.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

fix(providers): hide local tab, route and overview card in cloud
  .changeset/hide-local-in-cloud.md
  packages/frontend/node_modules
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: frontend

refactor: remove subscription savings (UI, API client, backend endpoints)
  .changeset/remove-subscription-savings.md
  node_modules
  packages/backend/node_modules
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/savings.controller.spec.ts
  packages/backend/src/analytics/controllers/savings.controller.ts
  packages/backend/src/analytics/services/savings-query.service.spec.ts
  packages/backend/src/analytics/services/savings-query.service.ts
  packages/backend/src/common/dto/savings-query.dto.spec.ts
  packages/backend/src/common/dto/savings-query.dto.ts
  packages/frontend/src/components/ChartCard.tsx
  packages/frontend/src/components/SavingsCard.tsx
  packages/frontend/src/components/SavingsChart.tsx
  packages/frontend/src/components/SavingsExplainer.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/styles/cards.css
  packages/frontend/src/styles/savings.css
  packages/frontend/tests/components/ChartCard.test.tsx
  packages/frontend/tests/components/SavingsCard.test.tsx
  packages/frontend/tests/components/SavingsExplainer.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/services/analytics-api.test.ts
  packages/frontend/tests/services/api/analytics.test.ts
Due: backend, frontend

docs: spec for per-agent provider-grouped chart (restore Seb's design)
  docs/superpowers/specs/2026-06-10-agent-provider-chart-design.md
Due: none

docs: implementation plan for per-agent provider chart
  docs/superpowers/plans/2026-06-10-agent-provider-chart.md
Due: none

feat(api): add per-agent per-provider cost timeseries client fn
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/services/api/analytics.test.ts
Due: frontend

feat(overview): provider-grouped usage chart on the per-agent overview
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

test(overview): adapt limits-page chart assertions to ProviderChartCard
  packages/frontend/tests/pages/Overview-limits.test.tsx
Due: none

test(overview): full coverage for provider chart; chore: changeset
  .changeset/agent-provider-chart.md
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

feat: sync manifest subscription model lists (2026-06-11)
  packages/shared/src/subscription/configs.ts
Due: none

fix(seed): set provider on seeded agent messages so provider-grouped charts show demo data
  packages/backend/src/database/seed-messages.ts
Due: backend

fix(charts): move agent-chart-tooltip styles into a component-owned stylesheet
  packages/frontend/src/components/MultiAgentTokenChart.tsx
  packages/frontend/src/styles/agent-chart-tooltip.css
  packages/frontend/src/styles/analytics-overview.css
Due: frontend
