Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

Fix routing CTA banner flicker on Limits page
  .changeset/fix-limits-cta-flicker.md
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/tests/pages/Limits.test.tsx
Due: frontend

Update package-lock.json after npm install
  package-lock.json
Due: none

Improve test coverage for chart zero-value handling
  CLAUDE.md
  packages/frontend/src/components/CostChart.tsx
  packages/frontend/src/components/SingleTokenChart.tsx
  packages/frontend/src/components/TokenChart.tsx
  packages/frontend/src/services/chart-utils.ts
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/services/chart-utils.test.ts
Due: frontend

fix(plugin): align OpenClaw plugin API with official docs
  packages/openclaw-plugin/__tests__/command.test.ts
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/__tests__/local-mode.test.ts
  packages/openclaw-plugin/__tests__/register.test.ts
  packages/openclaw-plugin/__tests__/routing.test.ts
  packages/openclaw-plugin/__tests__/tools.test.ts
  packages/openclaw-plugin/openclaw.plugin.json
  packages/openclaw-plugin/package.json
  packages/openclaw-plugin/src/command.ts
  packages/openclaw-plugin/src/hooks.ts
  packages/openclaw-plugin/src/index.ts
  packages/openclaw-plugin/src/local-mode.ts
  packages/openclaw-plugin/src/routing.ts
  packages/openclaw-plugin/src/tools.ts
Due: plugin

chore: add changeset for plugin API compliance fixes
  .changeset/plugin-api-compliance.md
Due: none

fix: display sub-cent costs as "< $0.01" and treat negative costs as unknown
  .changeset/fix-cost-zero-display.md
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/common/utils/sql-dialect.spec.ts
  packages/backend/src/common/utils/sql-dialect.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/services/formatters.ts
  packages/frontend/tests/services/formatters-extra.test.ts
  packages/frontend/tests/services/formatters.test.ts
Due: backend, frontend

feat: show precise cost on hover for sub-cent values
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
Due: frontend

fix(plugin): restore backwards-compatible gateway API for hooks, tools, and provider
  .changeset/fix-plugin-gateway-compat.md
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/src/command.ts
  packages/openclaw-plugin/src/hooks.ts
  packages/openclaw-plugin/src/routing.ts
  packages/openclaw-plugin/src/tools.ts
Due: plugin

test: cover hookOn fallback and legacy tool handler paths
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/__tests__/tools.test.ts
Due: none

Add Mintlify documentation spec
  docs/SPEC.md
Due: none

fix: resolve browser tab title stuck on "Manifest"
  .changeset/fix-meta-title-browser-tab.md
  packages/frontend/index.html
  packages/frontend/src/index.tsx
Due: frontend

chore: update package-lock.json
  package-lock.json
Due: none

fix: format chart legend values — dollars for cost, kilo-tokens for tokens, proper timestamps
  .changeset/fix-chart-legend-format.md
  packages/frontend/src/components/CostChart.tsx
  packages/frontend/src/components/SingleTokenChart.tsx
  packages/frontend/src/components/TokenChart.tsx
  packages/frontend/src/services/chart-utils.ts
  packages/frontend/tests/services/chart-utils.test.ts
Due: frontend

feat: change default plugin mode from local to cloud
  CONTRIBUTING.md
  README.md
  package-lock.json
  packages/openclaw-plugin/README.md
  packages/openclaw-plugin/__tests__/config.test.ts
  packages/openclaw-plugin/__tests__/register.test.ts
  packages/openclaw-plugin/openclaw.plugin.json
  packages/openclaw-plugin/src/config.ts
  packages/openclaw-plugin/src/index.ts
  packages/openclaw-plugin/src/product-telemetry.ts
Due: plugin

chore: add changeset for default cloud mode
  .changeset/default-cloud-mode.md
Due: none

Revise README for cost savings and usage details
  README.md
Due: none

Update README to replace Manifest dashboard image
  README.md
Due: none

Update README to replace Manifest dashboard image (#920)
  README.md
Due: none

fix: update changeset package name quotes
  .changeset/fix-unused-variables.md
Due: none

chore: add changeset for CI pipeline
  .changeset/small-animals-refuse.md
Due: none

Add supported providers table and quick links to README
  .changeset/add-providers-list.md
  README.md
Due: none

Update providers table to show model counts per provider
  README.md
Due: none

Add GitHub quick link, sync root README to npm on publish
  .changeset/add-providers-list.md
  README.md
  packages/openclaw-plugin/README.md
  packages/openclaw-plugin/package.json
Due: none

Improve dashboard text clarity across all pages
  .changeset/improve-dashboard-clarity.md
  packages/frontend/src/components/SetupModal.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/pages/Help.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/ModelPrices.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
Due: frontend

Replace hardcoded model buttons with searchable model picker in Deactivate Routing modal
  .changeset/searchable-model-picker.md
  packages/frontend/src/components/ModelSelectDropdown.tsx
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/tests/components/ModelSelectDropdown.test.tsx
  packages/frontend/tests/components/RoutingInstructionModal.test.tsx
Due: frontend

Improve Deactivate Routing modal clarity and always show terminal command
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/tests/components/RoutingInstructionModal.test.tsx
Due: frontend

Add tests for uncovered lines to fix Codecov patch coverage
  packages/frontend/tests/components/ModelSelectDropdown.test.tsx
  packages/frontend/tests/components/RoutingInstructionModal.test.tsx
Due: none

Replace hardcoded model buttons with searchable model picker (#923)
  .changeset/searchable-model-picker.md
  packages/frontend/src/components/ModelSelectDropdown.tsx
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/tests/components/ModelSelectDropdown.test.tsx
  packages/frontend/tests/components/RoutingInstructionModal.test.tsx
Due: frontend

Add context-aware Docs link to header
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/styles/controls.css
Due: frontend

Add changeset for docs link
  .changeset/add-doc-link.md
Due: none

Add context-aware Docs link to header (#925)
  .changeset/add-doc-link.md
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/styles/controls.css
Due: frontend

Redesign Limits page UI with kebab menus, new icons, and streamlined modals
  packages/backend/src/entities/notification-rule.entity.ts
  packages/backend/src/notifications/dto/notification-rule.dto.ts
  packages/backend/src/notifications/notifications.controller.spec.ts
  packages/backend/src/notifications/notifications.controller.ts
  packages/backend/src/notifications/services/notification-rules.service.spec.ts
  packages/backend/src/notifications/services/notification-rules.service.ts
  packages/frontend/src/components/AlertIcon.tsx
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/LimitIcon.tsx
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/styles/limits.css
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/notifications.css
  packages/frontend/tests/components/LimitRuleModal.test.tsx
  packages/frontend/tests/pages/Limits-interactions.test.tsx
  packages/frontend/tests/pages/Limits.test.tsx
Due: backend, frontend

Fix provider modal API key leak and add remove provider confirmation
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/pages/Limits.tsx
Due: frontend

Add test coverage for Limits UI redesign
  .changeset/limits-ui-tests.md
  packages/backend/test/limits.e2e-spec.ts
  packages/frontend/tests/components/AlertIcon.test.tsx
  packages/frontend/tests/components/EmailProviderModal.test.tsx
  packages/frontend/tests/components/EmailProviderSetup.test.tsx
  packages/frontend/tests/components/LimitIcon.test.tsx
  packages/frontend/tests/components/LimitRuleModal.test.tsx
  packages/frontend/tests/pages/Limits-interactions.test.tsx
  packages/frontend/tests/pages/Limits.test.tsx
Due: none

Improve Limits page test coverage
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/tests/pages/Limits-interactions.test.tsx
  packages/frontend/tests/pages/Limits.test.tsx
Due: frontend

Add Login local mode fallback test for coverage
  packages/frontend/tests/pages/Login.test.tsx
Due: none

Redesign Limits page UI with tests and security fixes (#926)
  .changeset/limits-ui-tests.md
  packages/backend/src/entities/notification-rule.entity.ts
  packages/backend/src/notifications/dto/notification-rule.dto.ts
  packages/backend/src/notifications/notifications.controller.spec.ts
  packages/backend/src/notifications/notifications.controller.ts
  packages/backend/src/notifications/services/notification-rules.service.spec.ts
  packages/backend/src/notifications/services/notification-rules.service.ts
  packages/backend/test/limits.e2e-spec.ts
  packages/frontend/src/components/AlertIcon.tsx
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/LimitIcon.tsx
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/styles/limits.css
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/notifications.css
  packages/frontend/tests/components/AlertIcon.test.tsx
  packages/frontend/tests/components/EmailProviderModal.test.tsx
  packages/frontend/tests/components/EmailProviderSetup.test.tsx
  packages/frontend/tests/components/LimitIcon.test.tsx
  packages/frontend/tests/components/LimitRuleModal.test.tsx
  packages/frontend/tests/pages/Limits-interactions.test.tsx
  packages/frontend/tests/pages/Limits.test.tsx
  packages/frontend/tests/pages/Login.test.tsx
Due: backend, frontend

docs: update README.md
  README.md
Due: none

Add project AGENTS guide
  AGENTS.md
Due: none
