Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix: no em-dashes in user-facing copy
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/components/ProviderDetailView.test.tsx
  packages/frontend/tests/components/RequestDrawer.test.tsx
Due: frontend

fix: request chart legend reads 'Success - healed via Auto-fix / Fallback'
  packages/frontend/src/components/ReliabilityChart.tsx
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
Due: frontend

fix: precompute legacy autofix group ordering
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
Due: backend

feat: snapped cursor + hover tooltip on the status/healed charts
  packages/frontend/src/components/ChartHoverTooltip.tsx
  packages/frontend/src/components/MultiAgentTokenChart.tsx
  packages/frontend/src/components/ReliabilityChart.tsx
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
Due: frontend

feat: cohort-gate the Auto-fix beta UI behind backend eligibility
  packages/backend/src/routing/autofix/__tests__/autofix-cohort.controller.spec.ts
  packages/backend/src/routing/autofix/autofix-cohort.controller.ts
  packages/backend/src/routing/autofix/autofix.module.ts
  packages/frontend/src/components/AutofixCohortGate.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/api/autofix.ts
  packages/frontend/tests/components/AutofixCohortGate.test.tsx
  packages/frontend/tests/services/api/autofix.test.ts
Due: backend, frontend

fix: Model usage Est. cost regular weight (regressed in the branch rewrite)
  packages/frontend/src/pages/GlobalOverview.tsx
Due: frontend

fix: Requests chart counts logical requests in every view (#2511)
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/backend/src/analytics/services/request-volume.service.spec.ts
  packages/backend/src/analytics/services/request-volume.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
Due: backend

feat: healed-requests info tooltip + HTTP-code tags on drawer attempts
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/components/UnifiedChartCard.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/styles/request-drawer.css
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
  packages/frontend/tests/components/ErrorClassCard.preserved.test.tsx
  packages/frontend/tests/components/NotificationBell.test.tsx
  packages/frontend/tests/components/RequestDrawer.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: frontend

feat: expose provider attempt aggregates
  .changeset/gentle-attempt-aggregates.md
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/attempt-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/attempt-analytics.controller.ts
  packages/backend/src/analytics/services/attempt-stats.service.spec.ts
  packages/backend/src/analytics/services/attempt-stats.service.ts
  packages/backend/test/attempt-analytics.e2e-spec.ts
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/services/api/analytics.test.ts
Due: backend, frontend

feat: self-healed everywhere — branded badges, renamed columns, success rates
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/styles/request-drawer.css
  packages/frontend/tests/components/RequestDrawer.test.tsx
Due: backend, frontend

feat: Model usage everywhere with reliability columns; fix meta-table cell borders
  packages/backend/src/analytics/controllers/autofix-analytics.controller.ts
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/frontend/src/components/CostByModelTable.tsx
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/styles/data.css
  packages/frontend/tests/components/CostByModelTable.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: backend, frontend

fix: Overview says "Healed", connection pages keep "Self-healed"
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/components/UnifiedChartCard.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

fix: address cubic review on cohort gate
  packages/frontend/src/components/AutofixCohortGate.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/services/api/autofix.ts
  packages/frontend/tests/components/AutofixCohortGate.test.tsx
Due: frontend

feat: rename request-table Self-heal column to Applied Methods
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/tests/components/MessageTable.test.tsx
Due: frontend

fix: align the trailing reliability trio across stacked tables
  packages/frontend/src/components/CostByModelTable.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/styles/theme.css
Due: frontend

fix: drop the fallback/autofix badges from the request drawer header
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/tests/components/RequestDrawer.test.tsx
Due: frontend

fix: connection tables read Total requests / Healed (30d)
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
Due: frontend

feat: heal wording becomes recovery everywhere
  docs/analytics-dashboard-spec.md
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/components/ReliabilityChart.tsx
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/components/SocialFollowBanner.tsx
  packages/frontend/src/components/UnifiedChartCard.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
  packages/frontend/tests/components/ErrorClassCard.preserved.test.tsx
  packages/frontend/tests/components/NotificationBell.test.tsx
  packages/frontend/tests/components/SocialFollowBanner.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: frontend

feat: connection detail lives in the attempt world
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/frontend/src/components/UnifiedChartCard.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: backend, frontend

docs: add the recovery definitions and autofix_status values to the spec
  docs/analytics-dashboard-spec.md
Due: none

fix: one recovery definition everywhere: requests.autofix_status
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/backend/src/analytics/services/request-volume.service.spec.ts
  packages/backend/src/analytics/services/request-volume.service.ts
Due: backend

fix: the Harnesses table follows the page range selector everywhere
  packages/frontend/src/pages/GlobalOverview.tsx
Due: frontend

feat: agent overview shows requests by status only, attempt model table
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

docs: grain map, Doctor-less chart rule, fallback/auto-fix vocabulary
  docs/analytics-dashboard-spec.md
Due: none

feat: connection detail gets HTTP-status view and a full cards row
  docs/analytics-dashboard-spec.md
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/attempt-stats.service.spec.ts
  packages/backend/src/analytics/services/attempt-stats.service.ts
  packages/frontend/src/components/ReliabilityChart.tsx
  packages/frontend/src/components/UnifiedChartCard.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: backend, frontend

chore: drop the dead served-requests total on the connection lists
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
Due: frontend

fix: connection attempt endpoints apply the list's legacy folds
  packages/backend/src/analytics/services/attempt-stats.service.spec.ts
  packages/backend/src/analytics/services/attempt-stats.service.ts
Due: backend

feat: connection-grain rows everywhere a connection is displayed
  packages/backend/src/analytics/controllers/provider-usage.controller.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/backend/src/analytics/services/provider-usage.service.ts
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/services/api/providers.ts
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: backend, frontend

feat: connection-scoped attempt timeseries (status + per-harness)
  packages/backend/src/analytics/controllers/provider-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/attempt-stats.service.spec.ts
  packages/backend/src/analytics/services/attempt-stats.service.ts
Due: backend

docs+polish: two-worlds dashboard spec, concept tooltips, dead code out
  docs/analytics-dashboard-spec.md
  packages/backend/src/analytics/services/request-volume.service.spec.ts
  packages/backend/src/analytics/services/request-volume.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
  packages/frontend/tests/components/ErrorClassCard.preserved.test.tsx
  packages/frontend/tests/components/NotificationBell.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: backend, frontend

feat: recent requests deep-link into the Requests page side panel
  packages/frontend/src/pages/AgentMessagesRedirect.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/pages/AgentMessagesRedirect.test.tsx
  packages/frontend/tests/pages/AgentRedirects.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

feat: surface Auto-fix request outcomes
  CLAUDE.md
  dashboard-redesign-brief.md
  docs/autofix-self-healing-poc.md
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/analytics/services/request-volume.service.spec.ts
  packages/backend/src/analytics/services/request-volume.service.ts
  packages/backend/src/routing/autofix/dev-autofix-seeder.service.ts
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/tests/components/RequestDrawer.test.tsx
Due: backend, frontend

fix: connection lists read attempt reliability at their own grain
  packages/backend/src/analytics/controllers/provider-usage.controller.spec.ts
  packages/backend/src/analytics/services/provider-usage.service.spec.ts
  packages/backend/src/analytics/services/provider-usage.service.ts
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/api/providers.ts
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: backend, frontend

feat: requests tables read identity first, with pinned lead widths
  packages/frontend/src/components/MessageTable.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/MessageTable.test.tsx
Due: frontend

feat: Overview enters the two-worlds spec (requests vs attempts)
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/frontend/src/components/CostByModelTable.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/components/CostByModelTable.test.tsx
  packages/frontend/tests/components/ErrorClassCard.preserved.test.tsx
  packages/frontend/tests/components/NotificationBell.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: backend, frontend

fix: harness Success rate shows without the Doctor version
  packages/frontend/src/pages/GlobalOverview.tsx
Due: frontend

feat: connection detail gets By request status (default) and Healed requests
  packages/backend/src/analytics/controllers/provider-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/backend/src/analytics/services/request-volume.service.spec.ts
  packages/backend/src/analytics/services/request-volume.service.ts
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: backend, frontend

feat: grain-aware tooltip vocabulary, Doctor-aware attempts wording
  packages/frontend/src/components/CostByModelTable.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/components/CostByModelTable.test.tsx
  packages/frontend/tests/components/ErrorClassCard.preserved.test.tsx
  packages/frontend/tests/components/NotificationBell.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: frontend

docs: define request and attempt terminology
  AGENTS.md
  CLAUDE.md
  docs/analytics-glossary.md
Due: none

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
