Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

perf: speed up request log pagination
  .changeset/faster-request-pages.md
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/services/api/messages.test.ts
Due: backend, frontend

fix: address n8n package review feedback (#2647)
  integrations/n8n-nodes-manifest/CHANGELOG.md
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/LmChatManifest.node.json
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js.map
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/nodes/LmChatManifest/LmChatManifest.node.json
  integrations/n8n-nodes-manifest/nodes/Manifest/Manifest.node.ts
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
  integrations/n8n-nodes-manifest/test/manifest-node.test.js
  nodes/LmChatManifest/LmChatManifest.node.json
  nodes/Manifest/Manifest.node.ts
Due: none

fix: preserve fresh request totals by default
  packages/backend/src/analytics/controllers/messages.controller.spec.ts
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/frontend/src/services/api/messages.ts
  packages/frontend/tests/services/api/messages.test.ts
Due: backend, frontend

feat: defer plan selection until after onboarding is complete
  packages/frontend/src/components/AuthGuard.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Upgrade.tsx
  packages/frontend/src/pages/Welcome.tsx
  packages/frontend/tests/components/AuthGuard.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
  packages/frontend/tests/pages/Upgrade.test.tsx
Due: frontend

perf: speed up request log pagination (#2648)
  .changeset/faster-request-pages.md
  packages/backend/src/analytics/controllers/messages.controller.spec.ts
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/services/api/messages.test.ts
Due: backend, frontend

Increase fallback limit to 100
  CLAUDE.md
  package-lock.json
  packages/backend/package.json
  packages/backend/src/routing/dto/routing.dto.spec.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
  packages/shared/src/fallback-limits.ts
  packages/shared/src/index.ts
Due: backend, frontend

fix: remove dead free-plan branch in Upgrade, cover /upgrade guard path
  packages/frontend/src/pages/Upgrade.tsx
  packages/frontend/tests/components/AuthGuard.test.tsx
Due: frontend

fix: update user discovery offer to \$25 credit and 15-min call
  packages/frontend/src/components/UserDiscoveryBanner.tsx
  packages/frontend/src/components/UserDiscoveryModal.tsx
  packages/frontend/src/pages/Help.tsx
  packages/frontend/tests/components/UserDiscoveryBanner.test.tsx
  packages/frontend/tests/components/UserDiscoveryModal.test.tsx
Due: frontend

fix: update remaining test assertions for $25 / 15-min offer copy
  packages/frontend/tests/components/Help.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
Due: none

perf: do not block billing status on usage baseline scan
  .changeset/billing-status-baseline-nonblocking.md
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/frontend/src/pages/Overview.tsx
Due: backend, frontend

perf: resolve the billing plan once at bootstrap instead of per page
  .changeset/billing-status-baseline-nonblocking.md
  packages/backend/src/billing/billing.controller.spec.ts
  packages/backend/src/billing/billing.controller.ts
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/frontend/src/components/AuthGuard.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/api/billing.ts
  packages/frontend/src/services/plan-range-lock.ts
  packages/frontend/src/services/plan-store.ts
  packages/frontend/tests/components/AuthGuard.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/services/plan-range-lock.test.ts
  packages/frontend/tests/services/plan-store.test.ts
  packages/shared/src/index.ts
  packages/shared/src/plan-limits.ts
Due: backend, frontend

test: adapt the baseline e2e to background initialization
  packages/backend/test/tenant-request-usage-migration.e2e-spec.ts
Due: none

perf: do not block billing status on usage baseline scan (#2653)
  .changeset/billing-status-baseline-nonblocking.md
  packages/backend/src/billing/billing.controller.spec.ts
  packages/backend/src/billing/billing.controller.ts
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/backend/test/tenant-request-usage-migration.e2e-spec.ts
  packages/frontend/src/components/AuthGuard.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/api/billing.ts
  packages/frontend/src/services/plan-range-lock.ts
  packages/frontend/src/services/plan-store.ts
  packages/frontend/tests/components/AuthGuard.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/services/plan-range-lock.test.ts
  packages/frontend/tests/services/plan-store.test.ts
  packages/shared/src/index.ts
  packages/shared/src/plan-limits.ts
Due: backend, frontend

fix: redirect to plan picker after onboarding instead of upgrade page
  packages/frontend/src/components/AuthGuard.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Welcome.tsx
  packages/frontend/tests/components/AuthGuard.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
Due: frontend

Add Atlas Cloud provider
  .changeset/atlas-cloud-provider.md
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/providers.ts
Due: backend, frontend

feat: markdown and JSON rendering in request message drawer
  packages/frontend/src/components/JsonBlock.tsx
  packages/frontend/src/components/RequestMessages.tsx
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix: retry healed models on the original provider transport
  .changeset/autofix-healed-transport-fallback.md
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

feat: improve request message drawer UI
  packages/frontend/src/components/RequestMessages.tsx
  packages/frontend/src/styles/request-drawer.css
Due: frontend

feat: widen request detail drawer by 50px
  packages/frontend/src/styles/request-drawer.css
Due: frontend

chore: add changeset for drawer improvements
  .changeset/request-drawer-improvements.md
Due: none

fix: update RequestMessages tests for new Tools tab structure
  packages/frontend/tests/components/RequestMessages.test.tsx
Due: none

test: cover TruncatedId tooltip show/hide paths
  packages/frontend/tests/components/RequestMessages.test.tsx
Due: none

fix: show complete Gemini request messages
  .changeset/show-gemini-request-messages.md
  packages/shared/__tests__/chat-message.spec.ts
  packages/shared/src/chat-message.ts
Due: none

fix: make request quota timezone explicit
  .changeset/fix-request-quota-timezone.md
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/backend/src/billing/request-quota-window.spec.ts
  packages/backend/src/billing/request-quota-window.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801600000000-HardenRequestQuotaTimeZone.spec.ts
  packages/backend/src/database/migrations/1801600000000-HardenRequestQuotaTimeZone.ts
  packages/backend/test/tenant-request-usage-migration.e2e-spec.ts
Due: backend

fix: show complete Gemini request messages (#2662)
  .changeset/show-gemini-request-messages.md
  packages/shared/__tests__/chat-message.spec.ts
  packages/shared/src/chat-message.ts
Due: none

fix: always report autofix retry outcomes to Phoenix
  .changeset/autofix-outcome-delivery.md
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
Due: backend

fix: avoid quota timezone config table
  .changeset/fix-request-quota-timezone.md
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/backend/src/billing/request-quota-window.spec.ts
  packages/backend/src/billing/request-quota-window.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801600000000-HardenRequestQuotaTimeZone.spec.ts
  packages/backend/src/database/migrations/1801600000000-HardenRequestQuotaTimeZone.ts
  packages/backend/test/tenant-request-usage-migration.e2e-spec.ts
Due: backend

fix: always report autofix retry outcomes to Phoenix (#2664)
  .changeset/autofix-outcome-delivery.md
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
Due: backend

test: cover healed fallback model default
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
Due: backend

fix: scope quota timezone guard to billing
  .changeset/fix-request-quota-timezone.md
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/backend/test/billing-request-limit.e2e-spec.ts
  packages/backend/test/tenant-request-usage-migration.e2e-spec.ts
Due: backend

fix: retry healed models on the original provider transport (#2659)
  .changeset/autofix-healed-transport-fallback.md
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: reject request quota timezone drift (#2663)
  .changeset/fix-request-quota-timezone.md
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/backend/test/billing-request-limit.e2e-spec.ts
  packages/backend/test/tenant-request-usage-migration.e2e-spec.ts
Due: backend

fix: publish the n8n review corrections
  .github/workflows/publish-n8n-node.yml
  integrations/n8n-nodes-manifest/package-lock.json
Due: none

fix: publish the n8n review corrections (#2665)
  .github/workflows/publish-n8n-node.yml
  integrations/n8n-nodes-manifest/package-lock.json
Due: none

fix: classify Anthropic usage exhaustion as billing
  .changeset/calm-owls-bill.md
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/observation-payload.spec.ts
  packages/backend/src/routing/autofix/observation-payload.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
  packages/shared/src/index.ts
  packages/shared/src/provider-error-semantics.ts
Due: backend

test: cover Anthropic error envelope variants
  packages/shared/__tests__/error-taxonomy.spec.ts
Due: none

fix: classify Anthropic usage exhaustion as billing (#2666)
  .changeset/calm-owls-bill.md
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/observation-payload.spec.ts
  packages/backend/src/routing/autofix/observation-payload.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
  packages/shared/src/index.ts
  packages/shared/src/provider-error-semantics.ts
Due: backend

fix: preserve DeepSeek reasoning tool turns
  .changeset/clean-reasoning-replay.md
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-content-cache.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
Due: backend

test: cover reasoning request guards
  packages/backend/src/routing/proxy/__tests__/reasoning-content-cache.spec.ts
Due: backend

fix: preserve DeepSeek reasoning tool turns (#2667)
  .changeset/clean-reasoning-replay.md
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-content-cache.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
Due: backend
