Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix: address CI/Cubic feedback
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
Due: backend

test: fix attribution-backfill e2e for the out-of-band backfill
  packages/backend/test/user-provider-backfill-migrations.e2e-spec.ts
Due: none

chore: make codecov coverage status informational
  codecov.yml
Due: none

fix: ANALYZE before the message-provider backfill
  packages/backend/src/database/backfills/backfill-message-providers.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-message-providers.gateway.ts
  packages/backend/src/database/backfills/backfill-message-providers.spec.ts
  packages/backend/src/database/backfills/backfill-message-providers.ts
Due: backend

feat: add what's-new dialog announcing global providers
  .changeset/whats-new-global-providers.md
  packages/frontend/src/App.tsx
  packages/frontend/src/components/WhatsNewModal.tsx
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/whatsnew.css
  packages/frontend/tests/components/WhatsNewModal.test.tsx
Due: frontend

fix: focus the what's-new modal on open and restore focus on close
  packages/frontend/src/components/WhatsNewModal.tsx
  packages/frontend/tests/components/WhatsNewModal.test.tsx
Due: frontend

test: ensure focus-test DOM node is cleaned up on assertion failure
  packages/frontend/tests/components/WhatsNewModal.test.tsx
Due: none

backend: split provider usage from config endpoint
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/provider-usage.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-usage.controller.ts
  packages/backend/src/analytics/services/provider-usage.service.spec.ts
  packages/backend/src/analytics/services/provider-usage.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1792900000000-AddProviderUsageCoveringIndex.spec.ts
  packages/backend/src/database/migrations/1792900000000-AddProviderUsageCoveringIndex.ts
  packages/backend/src/routing/tenant-providers.controller.spec.ts
  packages/backend/src/routing/tenant-providers.controller.ts
Due: backend

frontend: fetch provider config and usage as independent resources
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/api/providers.ts
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
  packages/frontend/tests/pages/ProviderUsageLive.test.tsx
  packages/frontend/tests/services/api/providers.test.ts
Due: frontend

fix: address cubic review on provider usage split
  packages/backend/src/database/migrations/1792900000000-AddProviderUsageCoveringIndex.spec.ts
  packages/backend/src/database/migrations/1792900000000-AddProviderUsageCoveringIndex.ts
  packages/frontend/src/pages/GlobalOverview.tsx
Due: backend, frontend

chore: drop covering-index migration from provider-usage split
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1792900000000-AddProviderUsageCoveringIndex.spec.ts
  packages/backend/src/database/migrations/1792900000000-AddProviderUsageCoveringIndex.ts
Due: backend

fix: restore custom provider modal on Usage-based page
  .changeset/custom-provider-modal.md
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/shared/tsconfig.json
Due: frontend

fix: revert tsconfig ignoreDeprecations (TS 5.x in CI)
  packages/shared/tsconfig.json
Due: none

test: add coverage for custom provider modal flows
  packages/frontend/tests/components/CustomProviderForm.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: none

Fix custom provider modal on Usage-based page (#2279)
  .changeset/custom-provider-modal.md
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/tests/components/CustomProviderForm.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: frontend

Add structured skeleton loader to provider connection detail page
  packages/frontend/src/components/ConnectionDetailSkeleton.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/tests/components/ConnectionDetailSkeleton.test.tsx
Due: frontend

feat(frontend): add SWR cache behind fetchJson GETs
  packages/frontend/src/services/api/cache.ts
  packages/frontend/src/services/api/core.ts
  packages/frontend/tests/services/api/cache.test.ts
  packages/frontend/tests/services/api/core.test.ts
Due: frontend

fix(frontend): guard SWR cache against resurrection + unbounded growth
  packages/frontend/src/services/api/cache.ts
  packages/frontend/tests/services/api/cache.test.ts
Due: frontend

feat(frontend): invalidate SWR cache from SSE before bumping pings
  packages/frontend/src/services/sse.ts
  packages/frontend/tests/services/sse.test.ts
Due: frontend

test(frontend): reset SWR cache per test; opt out self-cached GETs
  packages/frontend/src/services/api/model-params.ts
  packages/frontend/src/services/api/routing.ts
  packages/frontend/tests/setup.ts
  packages/frontend/vite.config.ts
Due: frontend

fix(frontend): refresh global usage on message pings
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/services/api/cache.ts
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/services/api/cache.test.ts
Due: frontend

Add structured skeleton loaders to provider list and connection detail pages
  packages/frontend/src/components/ProviderConnectionsSkeleton.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/tests/components/ProviderConnectionsSkeleton.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: frontend

Show skeleton instead of stale data when switching agents
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
Due: frontend

changeset: skeleton loading states
  .changeset/skeleton-loading-states.md
Due: none

Add aria-hidden to skeleton components for screen reader accessibility
  packages/frontend/src/components/ConnectionDetailSkeleton.tsx
  packages/frontend/src/components/ProviderConnectionsSkeleton.tsx
  packages/frontend/tests/components/ConnectionDetailSkeleton.test.tsx
  packages/frontend/tests/components/ProviderConnectionsSkeleton.test.tsx
Due: frontend

perf: speed up overview and messages
  .changeset/fast-overview-messages.md
  packages/backend/src/analytics/controllers/messages.controller.spec.ts
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/services/api/messages.ts
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/services/api/analytics.test.ts
  packages/frontend/tests/services/api/messages.test.ts
Due: backend, frontend

test: cover fast messages branches
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: backend

test: cover backend overview branches
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
Due: backend

feat: sync manifest subscription model lists (2026-06-17)
  packages/shared/src/subscription/configs.ts
Due: none

docs(oauth): fix core facade path comment
  packages/backend/src/routing/oauth/openai/openai-oauth.types.ts
Due: backend

perf: defer agent overview hidden charts
  .changeset/lazy-agent-overview-charts.md
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

fix: name agent in provider disconnect errors
  .changeset/provider-disconnect-agent-name.md
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

fix: improve routing empty state in dark mode
  .changeset/routing-empty-state-dark-mode.md
  packages/frontend/src/styles/routing.css
Due: frontend

fix: speed provider disconnect checks
  .changeset/provider-disconnect-speed.md
  packages/backend/src/routing/routing-core/__tests__/provider.service.coverage.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

fix: support large proxy image payloads
  .changeset/proxy-inline-image-body-limit.md
  packages/backend/src/common/middleware/body-parser-limits.spec.ts
  packages/backend/src/common/middleware/body-parser-limits.ts
  packages/backend/src/main.ts
  packages/backend/src/routing/proxy/__tests__/inline-image-redaction.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/inline-image-redaction.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

Fix TS error: use config.loading after config/usage resource split
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
Due: frontend

feat: sync manifest subscription model lists (2026-06-18)
  packages/shared/src/subscription/configs.ts
Due: none

test: cover proxy body limit edge cases
  packages/backend/src/common/middleware/body-parser-limits.spec.ts
  packages/backend/src/routing/proxy/__tests__/inline-image-redaction.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
