Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix: mark OpenAI subscriptions cacheable
  .changeset/openai-subscription-cache-metadata.md
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

fix: cache xAI Responses prompts
  .changeset/xai-responses-prompt-cache.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

fix: send Mistral prompt cache keys
  .changeset/mistral-prompt-cache-key.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

feat: make Pro plan unlimited on agents and requests
  .changeset/stripe-billing.md
  packages/shared/__tests__/plan-limits.spec.ts
  packages/shared/src/plan-limits.ts
Due: none

feat: enforce the monthly request limit on the proxy
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/backend/src/common/errors/error-codes.ts
  packages/backend/src/routing/proxy/__tests__/proxy-exception.filter.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.streaming-abort.spec.ts
  packages/backend/src/routing/proxy/proxy-exception.filter.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/test/billing-request-limit.e2e-spec.ts
Due: backend

feat: redesign the agent-creation paywall as pricing cards
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/src/components/DuplicateAgentModal.tsx
  packages/frontend/src/components/UpgradePanel.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/tests/components/UpgradePanel.test.tsx
  packages/frontend/tests/pages/Workspace-validation.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

feat: restructure the account billing card
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/styles/agents.css
  packages/frontend/tests/pages/Account.test.tsx
Due: frontend

fix: cache OpenRouter Gemini and Qwen prompts
  .changeset/openrouter-prompt-cache.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/cache-injection.spec.ts
  packages/backend/src/routing/proxy/cache-injection.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: report Opus 4.8 subscription context
  .changeset/anthropic-opus-context.md
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
  packages/shared/src/subscription/types.ts
Due: backend

fix: skip Ollama thinking param
  .changeset/ollama-thinking-param.md
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
Due: backend

fix: preserve Ollama model prefixes
  .changeset/ollama-author-models.md
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: mark Z.ai subscriptions cacheable
  .changeset/zai-cache-capability.md
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

fix: mark MiniMax subscriptions cacheable
  .changeset/minimax-cache-capability.md
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

fix: send Qwen prompt cache markers
  .changeset/qwen-prompt-cache.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/cache-injection.spec.ts
  packages/backend/src/routing/proxy/cache-injection.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

fix: mark Xiaomi subscriptions cacheable
  .changeset/xiaomi-cache-capability.md
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

fix: send Moonshot prompt cache keys
  .changeset/moonshot-prompt-cache-key.md
  packages/backend/src/routing/proxy/__tests__/anthropic-cache-control-roundtrip.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/stream-writer.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

fix: address cubic review on billing plan gates
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/frontend/src/pages/Account.tsx
  packages/frontend/tests/pages/Account.test.tsx
Due: backend, frontend

fix: target releasable manifest package
  .changeset/zai-cache-capability.md
Due: none

fix: target releasable manifest package
  .changeset/moonshot-prompt-cache-key.md
Due: none

fix: target releasable manifest package
  .changeset/xiaomi-cache-capability.md
Due: none

fix: target releasable manifest package
  .changeset/qwen-prompt-cache.md
Due: none

fix: target releasable manifest package
  .changeset/minimax-cache-capability.md
Due: none

fix: remove message count limit
  .changeset/remove-message-count-limit.md
  docker/.env.example
  docker/docker-compose.yml
  packages/backend/.env.example
  packages/backend/src/common/errors/__tests__/error-codes.spec.ts
  packages/backend/src/common/errors/error-codes.ts
  packages/backend/src/routing/proxy/__tests__/message-limit.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/message-limit.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: preserve Copilot reasoning summaries
  .changeset/copilot-chat-reasoning-summary.md
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
Due: backend

fix: target releasable manifest package
  .changeset/deepseek-cache-usage.md
Due: none

fix: record DeepSeek prompt cache hits
  .changeset/deepseek-cache-usage.md
  packages/backend/src/routing/proxy/__tests__/anthropic-cache-control-roundtrip.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

fix: send Fireworks prompt cache keys
  .changeset/fireworks-prompt-cache-key.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: target releasable manifest package
  .changeset/fireworks-prompt-cache-key.md
Due: none

fix: address cubic follow-up on plan.service billing gates
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
Due: backend

fix: let Auto-fix heal auto-routed requests
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: stop spurious CORS errors in the dev Wingman drawer
  .changeset/cool-snakes-fly.md
  packages/backend/src/cors-csp-config.spec.ts
  packages/backend/src/cors-csp-config.ts
  packages/backend/src/main.ts
  packages/backend/test/cors.e2e-spec.ts
  packages/frontend/vite.config.ts
Due: backend

fix: strip additional unsupported JSON Schema keywords from Gemini tool schemas
  .changeset/silver-chairs-grab.md
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
Due: backend

fix: merge parallel Gemini tool responses into one turn
  .changeset/silver-chairs-grab.md
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
Due: backend

fix: inject dummy thoughtSignature for Gemini 3.x when history lacks one
  .changeset/silver-chairs-grab.md
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
Due: backend

fix: treat empty-string echoed thought_signature as absent to allow cache fallback
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
Due: backend

feat: add cline-pass subscription provider
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/public/icons/providers/cline-pass.png
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/shared/src/providers.ts
  packages/shared/src/subscription/configs.ts
Due: backend, frontend

fix: mark cline-pass as subscribtion-only
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
Due: backend, frontend

chore: add changelog entry
  .changeset/slick-lamps-allow.md
Due: none

chore: fix typo in changelog
  .changeset/slick-lamps-allow.md
Due: none

fix: honor pinned provider/authType when validating override routes
  packages/backend/src/routing/resolve/__tests__/resolve.service.edge.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/__tests__/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
