Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

feat(dr): disaster recovery stack on port 2100 with switch script
  docker/docker-compose.dr.yml
  scripts/switch-manifest.sh
Due: none

chore(dr): improve switch script with help, better snapshot, health check
  scripts/switch-manifest.sh
Due: none

chore: add manifest-dr skill to .agents/skills/
  .agents/skills/manifest-dr/SKILL.md
Due: none

chore: refresh CLAUDE.md to match current codebase
  CLAUDE.md
Due: none

fix(routing): preserve request API mode
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/database/migrations/1801720000000-AddRequestApiMode.spec.ts
  packages/backend/src/database/migrations/1801720000000-AddRequestApiMode.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

fix(test): anchor tenant request usage e2e to the current quota window (#2675)
  packages/backend/test/tenant-request-usage-migration.e2e-spec.ts
Due: none

fix(routing): keep the Auto-fix original row on the primary connection
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing-core/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
Due: backend

fix(routing): honor provider key-label pin on explicit-model requests
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/route-credentials.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/route-credentials.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
Due: backend

fix(routing): throttle stale key-label warnings
  packages/backend/src/routing/routing-core/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
Due: backend

fix: honor provider key-label pin on explicit-model requests (#2676)
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/route-credentials.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/route-credentials.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
Due: backend

fix: harden request API surface recording
  packages/backend/src/database/migrations/1801720000000-AddRequestApiMode.spec.ts
  packages/backend/src/database/migrations/1801720000000-AddRequestApiMode.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

feat(routing): record the API surface on each request
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801720000000-AddRequestApiMode.spec.ts
  packages/backend/src/database/migrations/1801720000000-AddRequestApiMode.ts
  packages/backend/src/entities/request.entity.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/test/message-count-consistency.e2e-spec.ts
Due: backend

test: wait for blocked request recording
  packages/backend/test/billing-request-limit.e2e-spec.ts
Due: none

feat: record the API surface on each request (#2678)
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801720000000-AddRequestApiMode.spec.ts
  packages/backend/src/database/migrations/1801720000000-AddRequestApiMode.ts
  packages/backend/src/entities/request.entity.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/test/billing-request-limit.e2e-spec.ts
  packages/backend/test/message-count-consistency.e2e-spec.ts
Due: backend

fix: decide the reasoning dialect from the model catalog
  .changeset/zen-reasoning-dialect.md
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-catalog-di.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-content-cache.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-format.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-model-catalog.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
  packages/backend/src/routing/proxy/reasoning-format.ts
  packages/backend/src/routing/proxy/reasoning-model-catalog.ts
Due: backend

fix: let the catalog answer for OpenRouter and outrank the Kimi fallback
  packages/backend/src/routing/proxy/__tests__/reasoning-content-cache.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-format.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-model-catalog.spec.ts
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
  packages/backend/src/routing/proxy/reasoning-format.ts
  packages/backend/src/routing/proxy/reasoning-model-catalog.ts
Due: backend

test: guard the real ProxyModule wiring for the reasoning catalog
  packages/backend/src/routing/proxy/__tests__/reasoning-catalog-di.spec.ts
Due: backend

fix: gate the cross-provider fallback to endpoints models.dev omits
  packages/backend/src/routing/proxy/__tests__/reasoning-model-catalog.spec.ts
  packages/backend/src/routing/proxy/reasoning-model-catalog.ts
Due: backend

fix: decide the reasoning dialect from the model catalog (#2679)
  .changeset/zen-reasoning-dialect.md
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-catalog-di.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-content-cache.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-format.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-model-catalog.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
  packages/backend/src/routing/proxy/reasoning-format.ts
  packages/backend/src/routing/proxy/reasoning-model-catalog.ts
Due: backend

fix: simplify model parameter requests
  .changeset/quick-modelparams-request.md
  packages/frontend/src/components/ModelParamsAffordance.tsx
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
Due: frontend

fix: route Bedrock models to compatible APIs
  .changeset/bedrock-model-api-surfaces.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

fix: simplify model parameter requests (#2681)
  .changeset/quick-modelparams-request.md
  packages/frontend/src/components/ModelParamsAffordance.tsx
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
Due: frontend

docs: remove beta status badge from README (#2617)
  README.md
Due: none

fix: route Bedrock models to compatible APIs (#2682)
  .changeset/bedrock-model-api-surfaces.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

fix: preserve GPT-5.6 reasoning summaries on inbound Chat Completions (#2619)
  .changeset/chatgpt-reasoning-summary-backfill.md
  packages/backend/src/playground/playground-stream.spec.ts
  packages/backend/src/playground/playground-stream.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.truncation.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

docs: link Auto-fix docs from the self-hosted consent modal
  packages/frontend/src/pages/SettingsAutofixSection.tsx
Due: frontend

refactor: identify self-hosted Autofix by the install id instead of a registered credential
  .changeset/quiet-horses-heal.md
  CLAUDE.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1800400000000-AddInstanceCredential.ts
  packages/backend/src/entities/instance-credential.entity.ts
  packages/backend/src/routing/autofix/__tests__/autofix.module.spec.ts
  packages/backend/src/routing/autofix/__tests__/http-healing-client.spec.ts
  packages/backend/src/routing/autofix/__tests__/phoenix-contract.spec.ts
  packages/backend/src/routing/autofix/autofix.module.ts
  packages/backend/src/routing/autofix/contract/phoenix-openapi.yaml
  packages/backend/src/routing/autofix/http-healing-client.ts
  packages/backend/src/routing/autofix/instance-credential.service.spec.ts
  packages/backend/src/routing/autofix/instance-credential.service.ts
  packages/backend/src/routing/autofix/phoenix.types.ts
  packages/backend/src/telemetry/telemetry.module.ts
  packages/backend/test/helpers.ts
Due: backend

fix: address review findings on the Autofix identity rework
  docker/DOCKER_README.md
  packages/backend/src/routing/autofix/__tests__/autofix-healing-config.spec.ts
  packages/backend/src/routing/autofix/__tests__/http-healing-client.spec.ts
  packages/backend/src/routing/autofix/__tests__/mock-healing-client.spec.ts
  packages/backend/src/routing/autofix/__tests__/noop-healing-client.spec.ts
  packages/backend/src/routing/autofix/autofix-healing-config.ts
  packages/backend/src/routing/autofix/autofix.module.ts
  packages/backend/src/routing/autofix/healing-client.ts
  packages/backend/src/routing/autofix/http-healing-client.ts
  packages/backend/src/routing/autofix/mock-healing-client.ts
  packages/backend/src/routing/autofix/noop-healing-client.ts
  packages/frontend/src/pages/SettingsAutofixSection.tsx
Due: backend, frontend

fix: memoize install id and release error bodies in the healing client
  CLAUDE.md
  packages/backend/src/routing/autofix/autofix.module.ts
  packages/backend/src/routing/autofix/http-healing-client.ts
Due: backend

test: cover invalid healer URL and install-id memoization in the module factory
  packages/backend/src/routing/autofix/__tests__/autofix.module.spec.ts
Due: backend

feat: self-hosted Auto-fix consent-once with enable-for-all backfill
  CLAUDE.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801900000000-AddAutofixConsentToInstallMetadata.ts
  packages/backend/src/entities/install-metadata.entity.ts
  packages/backend/src/routing/autofix/__tests__/autofix.module.spec.ts
  packages/backend/src/routing/autofix/autofix.module.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/routing-core/resolve-agent.service.ts
  packages/backend/src/routing/routing.module.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
  packages/backend/src/telemetry/install-id.service.spec.ts
  packages/frontend/src/pages/SettingsAutofixSection.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/styles/modals.css
  packages/frontend/tests/pages/SettingsAutofixSection.test.tsx
Due: backend, frontend

fix: address cubic findings on consent flow, healer URL, and focus trap
  .changeset/quiet-horses-heal.md
  packages/backend/src/routing/autofix/__tests__/autofix-healing-config.spec.ts
  packages/backend/src/routing/autofix/autofix-healing-config.ts
  packages/backend/src/routing/autofix/autofix.module.ts
  packages/frontend/src/pages/SettingsAutofixSection.tsx
Due: backend, frontend

feat: move fleet Auto-fix enable to the sidebar CTA
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/autofix-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/autofix-analytics.controller.ts
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/SettingsAutofixSection.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/styles/modals.css
  packages/frontend/tests/components/NotificationBell.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/SettingsAutofixSection.test.tsx
Due: backend, frontend

fix: always show Auto-fix sidebar CTA on self-hosted
  packages/frontend/src/components/Sidebar.tsx
Due: frontend

feat: Auto-fix and recording toggles on create harness
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/common/dto/create-agent.dto.ts
  packages/backend/src/otlp/services/api-key.service.spec.ts
  packages/backend/src/otlp/services/api-key.service.ts
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/services/api/agents.ts
  packages/frontend/src/styles/modals.css
  packages/frontend/tests/components/AddAgentModal.test.tsx
Due: backend, frontend

style: compact create-harness toggles to a single inline row
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/src/styles/modals.css
Due: frontend

style: stack create-harness toggles as two compact rows
  packages/frontend/src/styles/modals.css
Due: frontend

style: settings-style toggle rows in create harness, tightened for the modal
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/src/styles/modals.css
Due: frontend

test: cover the sidebar fleet CTA and create-toggle payloads
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/Workspace-validation.test.tsx
Due: none
