Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix(routing): use stored API key when probing models in edit mode
  packages/backend/src/routing/custom-provider.controller.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.controller.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/dto/custom-provider.dto.ts
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/tests/components/CustomProviderForm.test.tsx
Due: backend, frontend

feat: sync manifest subscription model lists (2026-06-19)
  packages/shared/src/subscription/configs.ts
Due: none

fix: address CI/Cubic feedback
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
Due: backend

feat: sync manifest subscription model lists (2026-06-20)
  packages/shared/src/subscription/configs.ts
Due: none

Add Requesty as a first-class OpenAI-compatible router provider
  .changeset/add-requesty-provider.md
  README.md
  docker/DOCKER_README.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/services/providers.test.ts
  packages/shared/src/providers.ts
Due: backend, frontend

refactor: extract shared routerHeaders for openrouter and requesty
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

feat: sync manifest subscription model lists (2026-06-21)
  packages/shared/src/subscription/configs.ts
Due: none

feat: sync manifest subscription model lists (2026-06-22)
  packages/shared/src/subscription/configs.ts
Due: none

chore: refresh CLAUDE.md to match current codebase
  CLAUDE.md
Due: none

feat: hide complexity/task-specific routing from new agents
  .changeset/routing-deprecation-gate.md
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/seed-cohorts.spec.ts
  packages/backend/src/database/seed-cohorts.ts
  packages/frontend/src/components/RoutingDeprecationNotice.tsx
  packages/frontend/src/components/RoutingTabs.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/styles/routing-deprecation.css
  packages/frontend/tests/components/RoutingDeprecationNotice.test.tsx
  packages/frontend/tests/components/RoutingTabs.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
  packages/frontend/tests/pages/RoutingSpecificitySection.test.tsx
Due: backend, frontend

fix: scope routing deprecation gate to the current agent
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

perf: speed up dashboard, messages, and provider lists
  .changeset/dashboard-query-latency.md
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/messages-query.service.cost-filter.spec.ts
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/config/app.config.spec.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/db-tuning.service.spec.ts
  packages/backend/src/database/db-tuning.service.ts
  packages/backend/src/database/migrations/1792900000000-TuneAgentMessagesAutovacuum.ts
  packages/backend/src/database/migrations/1793000000000-AddTenantProviderValueIndex.ts
  packages/backend/src/database/migrations/1793100000000-DropRedundantTenantAgentNameIndex.ts
  packages/backend/src/public-stats/public-stats.service.pricing-edges.spec.ts
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/backend/src/public-stats/public-stats.service.ts
Due: backend

fix: keep first-page message count fresh and drop public-stats estimate
  .changeset/dashboard-query-latency.md
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/public-stats/public-stats.service.pricing-edges.spec.ts
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/backend/src/public-stats/public-stats.service.ts
Due: backend

fix: only log planner-tuning success when ALTER ROLE actually applied
  packages/backend/src/database/db-tuning.service.spec.ts
  packages/backend/src/database/db-tuning.service.ts
Due: backend

perf: make dashboard aggregations index-only via covering index
  .changeset/dashboard-query-latency.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1793200000000-AddDashboardCoveringIndex.ts
Due: backend

perf: speed up dashboard load and model picker
  .changeset/frontend-load-perf.md
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/shared/package.json
Due: frontend

feat: add Atlas Cloud provider
  .changeset/add-atlascloud-provider.md
  README.md
  packages/backend/src/model-discovery/model-capabilities.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/shared/src/providers.ts
Due: backend, frontend

fix: stop deploys deadlocking when replicas migrate at once
  .changeset/serialize-migrations-advisory-lock.md
  packages/backend/package.json
  packages/backend/src/database/migrate.ts
  packages/backend/src/database/run-migrations-with-lock.spec.ts
  packages/backend/src/database/run-migrations-with-lock.ts
Due: backend

fix: run DB migrations before replicas to stop deploy deadlocks
  .changeset/run-migrations-before-replicas.md
  packages/backend/package.json
  packages/backend/src/config/app.config.spec.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/datasource.ts
  railway.toml
Due: backend

fix: prefer an unpooled URL for pre-deploy migrations
  packages/backend/src/database/datasource.ts
Due: backend

fix: build agent_messages indexes CONCURRENTLY to stop deploy deadlocks
  .changeset/concurrent-index-migrations.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1793000000000-AddTenantProviderValueIndex.ts
  packages/backend/src/database/migrations/1793100000000-DropRedundantTenantAgentNameIndex.ts
  packages/backend/src/database/migrations/1793200000000-AddDashboardCoveringIndex.ts
  packages/backend/src/database/run-migrations-with-lock.spec.ts
  packages/backend/src/database/run-migrations-with-lock.ts
  packages/backend/test/agent-duplication-migrations.e2e-spec.ts
  packages/backend/test/custom-provider-fk-data-loss.e2e-spec.ts
  packages/backend/test/custom-provider-fk-migrations.e2e-spec.ts
  packages/backend/test/custom-providers-lift-migrations.e2e-spec.ts
  packages/backend/test/seed-playground-agents-migrations.e2e-spec.ts
  packages/backend/test/tenant-scoping-migrations.e2e-spec.ts
  packages/backend/test/user-provider-backfill-migrations.e2e-spec.ts
Due: backend

feat: unified routing view for clean agents (no tabs)
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

fix: build covering index then swap, so it's never missing
  packages/backend/src/database/migrations/1793200000000-AddDashboardCoveringIndex.ts
Due: backend

feat: unified routing view for clean agents (no tabs) (#2316)
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

feat: sync manifest subscription model lists (2026-06-23)
  packages/shared/src/subscription/configs.ts
Due: none

ci: stop schema-diff failing on migration PRs
  .github/workflows/db-diagram.yml
Due: none

test: cover clean-agent routing view and headless custom tiers
  CLAUDE.md
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
Due: frontend

feat: link the routing deprecation notice to the blog and refresh its copy
  packages/frontend/src/components/RoutingDeprecationNotice.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/styles/routing-deprecation.css
  packages/frontend/tests/components/RoutingDeprecationNotice.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
  packages/frontend/tests/pages/RoutingSpecificitySection.test.tsx
Due: frontend

perf: index cross-tenant error scans to stop DB saturation
  .changeset/cross-tenant-error-index.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1795100000000-AddCrossTenantErrorTimestampIndex.ts
Due: backend

chore: swap routing-deprecation seed cohorts (admin=clean, olduser=legacy)
  CLAUDE.md
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/seed-cohorts.spec.ts
  packages/backend/src/database/seed-cohorts.ts
Due: backend

feat: auto-heal recoverable provider errors and retry
  .changeset/request-healing.md
  package-lock.json
  package.json
  packages/backend/package.json
  packages/backend/src/config/app.config.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1796000000000-AddAgentHealingEnabled.ts
  packages/backend/src/entities/agent-healing-enabled.entity.ts
  packages/backend/src/healing/agent-healing.controller.spec.ts
  packages/backend/src/healing/agent-healing.controller.ts
  packages/backend/src/healing/healing.module.ts
  packages/backend/src/healing/healing.service.spec.ts
  packages/backend/src/healing/healing.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/components/HealingToggle.tsx
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/tests/components/HealingToggle.test.tsx
  packages/frontend/tests/services/routing-healing.test.ts
  packages/healing-engine/__tests__/applicator.spec.ts
  packages/healing-engine/__tests__/operation.spec.ts
  packages/healing-engine/jest.config.js
  packages/healing-engine/package.json
  packages/healing-engine/src/applicator.ts
  packages/healing-engine/src/contract.ts
  packages/healing-engine/src/index.ts
  packages/healing-engine/src/operation.ts
  packages/healing-engine/tsconfig.cjs.json
  packages/healing-engine/tsconfig.esm.json
  packages/healing-engine/tsconfig.json
Due: backend, frontend

feat(openrouter): forward x-session-key as x-session-id for sticky routing
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-hooks.ts
Due: backend

docs: describe proxy recorder unicode fix
  docs/proxy-recorder-unicode-fix.md
Due: none

fix(proxy): sanitize recorder payloads before Postgres writes
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend
