Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

docs(opencode-zen): TODO callouts pointing at the Zen gateway header bug
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

fix(opencode-zen): namespace discovered model IDs to prevent collisions
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

feat: add Nanobot to supported personal AI agents
  .changeset/add-nanobot-platform.md
  packages/frontend/src/components/NanobotSetup.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/services/framework-snippets.ts
  packages/frontend/tests/components/NanobotSetup.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/frontend/tests/services/framework-snippets.test.ts
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
Due: frontend

feat: use real Nanobot logo (cropped from upstream nanobot_logo.png)
  packages/frontend/public/icons/nanobot.png
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/shared/src/agent-type.ts
Due: frontend

feat(messages): redesign recorded-message viewer as a right-side drawer
  packages/frontend/src/components/RecordedDrawerChrome.tsx
  packages/frontend/src/components/RecordedEssentials.tsx
  packages/frontend/src/components/RecordedMessageModal.tsx
  packages/frontend/src/components/RecordedOutline.tsx
  packages/frontend/src/components/RecordedResponseTab.tsx
  packages/frontend/src/components/RecordedTabContent.tsx
  packages/frontend/src/components/RecordedTurn.tsx
  packages/frontend/src/components/recorded-drawer-state.ts
  packages/frontend/src/components/recorded-message-helpers.ts
  packages/frontend/src/services/use-focus-trap.ts
  packages/frontend/src/styles/recording.css
  packages/frontend/tests/components/RecordedMessageModal.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/shared/src/chat-message.ts
  packages/shared/src/index.ts
Due: frontend

test: cover RecordedTurn render branches and tool-args edge cases
  packages/frontend/src/components/RecordedTurn.tsx
  packages/frontend/src/components/recorded-message-helpers.ts
  packages/frontend/tests/components/RecordedMessageModal.test.tsx
Due: frontend

test: cover deleteMessageRecording and sortedHeaderEntries
  packages/frontend/tests/services/api/messages.test.ts
  packages/frontend/tests/services/formatters-extra.test.ts
Due: none

test: lift drawer coverage to ~99% across the new files
  packages/frontend/src/components/RecordedMessageModal.tsx
  packages/frontend/src/components/recorded-drawer-state.ts
  packages/frontend/tests/components/RecordedMessageModal.test.tsx
  packages/frontend/tests/components/RecordedResponseTab.test.tsx
  packages/frontend/tests/services/use-focus-trap.test.tsx
Due: frontend

feat(routing): per-model params affordance across every routing surface
  .changeset/agent-model-params-frontend.md
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/ModelParamsAffordance.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/api/model-params.ts
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/services/api/specificity.ts
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/frontend/tests/services/api/model-params.test.ts
  packages/frontend/tests/services/api/specificity.test.ts
  packages/frontend/tests/services/routing.test.ts
Due: frontend

feat(routing): add Groq provider
  .changeset/groq-provider-attribution.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/public/icons/groq.svg
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/pages/FreeModels.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/providers.ts
Due: backend, frontend

fix(routing): show params button when DeepSeek is a fallback (#1857)
  .changeset/params-fallback-visibility.md
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: frontend

feat(routing): add Groq provider (#1698)
  .changeset/groq-provider-attribution.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/public/icons/groq.svg
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/pages/FreeModels.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/providers.ts
Due: backend, frontend

fix(proxy): preserve Anthropic cache tokens through /v1/messages double-conversion
  .changeset/fix-messages-cache-token-roundtrip.md
  packages/backend/src/routing/proxy/__tests__/anthropic-cache-control-roundtrip.spec.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

fix(proxy): also fix cached-token dedup miscount and OpenAI nested cache fallback
  .changeset/fix-messages-cache-token-roundtrip.md
  packages/backend/src/routing/proxy/__tests__/anthropic-cache-control-roundtrip.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-dedup.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/proxy-message-dedup.ts
Due: backend

test: end-to-end #1871 cache token round-trip with mocked Anthropic upstream
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
Due: none

refactor(shared): collapse three drifting registries into PROVIDER_PARAM_SPECS
  packages/backend/src/routing/model-params.controller.ts
  packages/shared/__tests__/provider-params-spec.spec.ts
  packages/shared/__tests__/thinking-defaults.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/provider-params-spec.ts
  packages/shared/src/thinking-defaults.ts
Due: backend

fix(routing): address cubic review findings on AgentModelParams
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.ts
  packages/backend/src/routing/routing-core/__tests__/agent-model-params.service.spec.ts
  packages/backend/src/routing/routing-core/agent-model-params.service.ts
Due: backend

test(routing): expect modelParams count in agent-duplication e2e copied summary
  packages/backend/test/agent-duplication.e2e-spec.ts
Due: none

feat(wingman): add Anthropic SDK profile targeting /v1/messages
  .changeset/wingman-anthropic-sdk-profile.md
  packages/wingman/public/icons/providers/anthropic.svg
  packages/wingman/src/App.tsx
  packages/wingman/src/components/AssistantMessage.tsx
  packages/wingman/src/profiles.ts
  packages/wingman/src/services/gist.ts
  packages/wingman/src/services/response-shape.ts
Due: none

fix(wingman): use authToken in Anthropic snippets and surface usage total
  packages/wingman/src/profiles.ts
  packages/wingman/src/services/response-shape.ts
Due: none

fix(wingman): don't sum Anthropic cache fields into the token chip
  packages/wingman/src/services/response-shape.ts
Due: none

fix(routing): include modelParams in duplicate-preview copy summary
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.ts
Due: backend

fix(routing): point MiniMax key link to actual key page
  .changeset/minimax-key-url.md
  packages/frontend/src/services/provider-api-key-urls.ts
Due: frontend

fix: track real per-request cost for OpenCode Go subscriptions
  .changeset/opencode-go-cost.md
  packages/backend/src/common/utils/cost-calculator.spec.ts
  packages/backend/src/common/utils/cost-calculator.ts
  packages/backend/src/model-discovery/opencode-go-catalog.service.spec.ts
  packages/backend/src/model-discovery/opencode-go-catalog.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

fix: warm OpenCode Go catalog at boot and accept provider aliases
  packages/backend/src/model-discovery/opencode-go-catalog.service.spec.ts
  packages/backend/src/model-discovery/opencode-go-catalog.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

feat(routing): accept MiniMax Coding Plan sk-cp- tokens
  .changeset/minimax-coding-plan-token.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/services/provider-utils.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/providers.test.ts
Due: backend, frontend

fix: close cold-start race on first OpenCode Go message
  packages/backend/src/model-discovery/opencode-go-catalog.service.spec.ts
  packages/backend/src/model-discovery/opencode-go-catalog.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

fix: coalesce concurrent OpenCode Go catalog fetches
  packages/backend/src/model-discovery/opencode-go-catalog.service.spec.ts
  packages/backend/src/model-discovery/opencode-go-catalog.service.ts
Due: backend

fix: surface OpenCode Go per-request cost in the dashboard
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

feat(telemetry): include cost_usd_total and cost_usd_by_provider
  packages/backend/src/telemetry/dto/telemetry-payload.ts
  packages/backend/src/telemetry/payload-builder.service.spec.ts
  packages/backend/src/telemetry/payload-builder.service.ts
Due: backend

fix(proxy): preserve Anthropic server tools through /v1/messages double-conversion
  .changeset/fix-1886-anthropic-server-tools.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
Due: backend

fix(proxy): strip _anthropicServerTools stash for non-Anthropic upstreams
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
Due: backend

refactor(proxy): forward /v1/messages to Anthropic without OpenAI roundtrip
  .changeset/anthropic-messages-passthrough.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix(proxy): also passthrough the Anthropic response and skip duplicate thinking blocks
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

fix(routing): route GitHub Copilot Codex models to /responses
  .changeset/copilot-codex-routing.md
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

fix(proxy): preserve raw Anthropic SSE framing and account for cache tokens
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

fix(proxy): harden stashed server-tool re-emit against malformed entries
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
Due: backend
