Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix(messages): bridge DeepSeek reasoning_content via Anthropic thinking blocks
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
Due: backend

fix(minimax): use open-early popup pattern to dodge popup blocker
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: frontend

test(minimax): cover unmount-during-pending-start, drop dead defensive paths
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: frontend

feat(ui): add Claude Code as a personal-agent option with one-line setup
  packages/frontend/public/icons/providers/claude-code.svg
  packages/frontend/src/components/ClaudeCodeSetup.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/services/framework-snippets.ts
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/frontend/tests/services/framework-snippets.test.ts
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
Due: frontend

fix(ui): use official Claude Code mark from lobe-icons (color #D97757)
  packages/frontend/public/icons/providers/claude-code.svg
Due: none

refactor(ui): replace gnarly node one-liner with paste-ready JSON for Claude Code persist
  packages/frontend/src/components/ClaudeCodeSetup.tsx
  packages/frontend/src/services/framework-snippets.ts
  packages/frontend/tests/services/framework-snippets.test.ts
Due: frontend

ui: drop the one-shot tab from Claude Code setup, persist is the default
  packages/frontend/src/components/ClaudeCodeSetup.tsx
  packages/frontend/src/services/framework-snippets.ts
  packages/frontend/tests/services/framework-snippets.test.ts
Due: frontend

ui: tighten Claude Code setup copy and visually highlight settings.json path
  packages/frontend/src/components/ClaudeCodeSetup.tsx
Due: frontend

fix: drop [DONE] sentinel for Anthropic SSE + add ClaudeCodeSetup test
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/stream-writer.ts
  packages/frontend/tests/components/ClaudeCodeSetup.test.tsx
Due: backend

fix: preserve user-turn block order when tool_result interleaves with text
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
Due: backend

fix: address remaining cubic findings on the upstream PR
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

fix(routing): propagate fallback auth_type to recorded success row
  .changeset/fix-fallback-auth-type-cost.md
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

test(routing): e2e repro for fallback auth_type/cost attribution (#1173)
  packages/backend/test/proxy-fallback-auth.e2e-spec.ts
Due: none

fix(test): match upstream by hostname so CodeQL stops flagging includes()
  packages/backend/test/proxy-fallback-auth.e2e-spec.ts
Due: none

feat(routing): per-assignment request body defaults
  .changeset/issue-1729-thinking-defaults.md
  package-lock.json
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1785000000000-AddParamDefaultsColumns.spec.ts
  packages/backend/src/database/migrations/1785000000000-AddParamDefaultsColumns.ts
  packages/backend/src/entities/specificity-assignment.entity.ts
  packages/backend/src/entities/tier-assignment.entity.ts
  packages/backend/src/routing/__tests__/specificity.controller.spec.ts
  packages/backend/src/routing/dto/resolve-response.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/__tests__/specificity.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
  packages/backend/src/routing/routing-core/specificity.service.ts
  packages/backend/src/routing/routing-core/tier.service.ts
  packages/backend/src/routing/specificity.controller.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/services/api/specificity.ts
  packages/frontend/src/services/provider-thinking-defaults.ts
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/frontend/tests/services/api/specificity.test.ts
  packages/frontend/tests/services/provider-thinking-defaults.test.ts
  packages/frontend/tests/services/routing.test.ts
  packages/shared/__tests__/request-params.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/request-params.ts
  packages/shared/src/resolve-response.ts
Due: backend, frontend

fix: collect function_call items in Responses SSE adapter
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

fix: handle arguments.done event and dedupe by call_id
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

feat(routing): tier-aware Manifest defaults; trim params dialog
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/provider-thinking-defaults.ts
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/frontend/tests/services/provider-thinking-defaults.test.ts
  packages/shared/__tests__/thinking-defaults.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/thinking-defaults.ts
Due: backend, frontend

fix: also read nested item.arguments on function_call_arguments.done
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

fix(routing): gate param defaults to compatible providers and slots
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/shared/__tests__/thinking-defaults.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/thinking-defaults.ts
Due: backend, frontend

fix(routing): rethrow setParamDefaults insert failures when no row exists
  packages/backend/src/routing/routing-core/__tests__/specificity.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
  packages/backend/src/routing/routing-core/specificity.service.ts
  packages/backend/src/routing/routing-core/tier.service.ts
Due: backend

fix(routing): re-merge param defaults per attempt against the iteration's provider
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: update tests for ModelRoute keyLabel propagation
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider-key.service.spec.ts
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/MessageDetails.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingActions.test.ts
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: backend

feat: add Google AI Pro/Ultra subscription support via Code Assist
  package-lock.json
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/gemini-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/gemini-oauth.controller.ts
  packages/backend/src/routing/oauth/gemini-oauth.service.callback.spec.ts
  packages/backend/src/routing/oauth/gemini-oauth.service.spec.ts
  packages/backend/src/routing/oauth/gemini-oauth.service.ts
  packages/backend/src/routing/oauth/oauth.module.ts
  packages/backend/src/routing/oauth/openai-oauth.types.ts
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-hooks.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/provider-hooks.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/services/api/oauth.ts
  packages/frontend/src/services/oauth-popup.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/ProviderDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/api/oauth.test.ts
  packages/frontend/tests/services/oauth-popup.test.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend, frontend

fix: address CodeQL findings on Wingman
  packages/wingman/src/App.tsx
  packages/wingman/src/profiles.ts
Due: none

test(routing): cover param-defaults prop wiring in section mocks
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
  packages/frontend/tests/pages/RoutingSpecificitySection.test.tsx
Due: none

feat(auth): show "Last used" hint on sign-in and sign-up
  .changeset/last-auth-method-hint.md
  packages/frontend/src/components/SocialButtons.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/services/last-auth-method.ts
  packages/frontend/src/styles/auth.css
  packages/frontend/tests/components/SocialButtons.test.tsx
  packages/frontend/tests/pages/Login.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
  packages/frontend/tests/services/last-auth-method.test.ts
Due: frontend

refactor(auth): drop "Last used" pill from email submit button
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/styles/auth.css
  packages/frontend/tests/pages/Login.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
Due: frontend

fix(routing): persist fallbacks when same provider is offered via two auth types
  .changeset/fix-fallback-same-provider.md
  package-lock.json
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingActions.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingActions.test.ts
Due: frontend

Merge branch 'main' into codex/anthropic-messages-endpoint
  .changeset/minimax-verification-uri-fix.md
  packages/backend/src/common/constants/subscription-clients.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/oauth/minimax-oauth-helpers.spec.ts
  packages/backend/src/routing/oauth/minimax-oauth-helpers.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.spec.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
  packages/backend/test/proxy-fallback-auth.e2e-spec.ts
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/components/DuplicateAgentModal.tsx
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/HeaderTierModal.tsx
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/ModelSelectDropdown.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/ResetPassword.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/tests/components/EmailProviderModal.test.tsx
  packages/frontend/tests/components/HeaderTierModal.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/manifest/CHANGELOG.md
  packages/manifest/package.json
Due: backend, frontend

test: cover claude-code platform-filtered branch
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
Due: frontend

chore: remove unused openclaw-plugins package
  packages/openclaw-plugins/manifest-model-router/skills/manifest/SKILL.md
  packages/openclaw-plugins/manifest/public/assets/Routing-CLFF9eAi.js
  packages/openclaw-plugins/manifest/public/assets/routing-utils-C1mRcftL.js
Due: none

ci: filter wingman out of Railway build
  railway.toml
Due: none

fix(ci): resolve CodeQL alert and lift patch coverage above gate
  package-lock.json
  packages/backend/src/common/utils/crypto.util.ts
  packages/frontend/tests/components/RoutingModals.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingActions.test.ts
  packages/frontend/tests/pages/RoutingPanels.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/frontend/tests/services/routing-utils.test.ts
  packages/shared/__tests__/fallback-encoding.spec.ts
  packages/shared/__tests__/model-route.spec.ts
Due: backend

fix: hide Wingman and Dev badge from non-dev builds
  CONTRIBUTING.md
  packages/frontend/vite.config.ts
Due: none

feat: add Coding Assistant category and move Claude Code into it
  .changeset/coding-assistant-category.md
  packages/frontend/tests/components/AgentTypeGrid.test.tsx
  packages/frontend/tests/components/AgentTypeSelect.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
Due: none

fix(routing): preserve saved fallbacks on resolution error
  .changeset/issue-1790-fallback-third-item.md
  packages/backend/src/routing/header-tiers/__tests__/header-tier.service.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.service.ts
  packages/backend/src/routing/routing-core/__tests__/specificity.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
  packages/backend/src/routing/routing-core/specificity.service.ts
  packages/backend/src/routing/routing-core/tier.service.ts
  packages/frontend/src/pages/RoutingActions.tsx
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
