Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: one spelling everywhere, auto-fix
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/tests/components/MessageDetails.autofix.test.tsx
  packages/frontend/tests/components/MessageTable.onOpenMessage.test.tsx
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/components/RequestDrawer.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
Due: frontend

feat: View more links on the global Overview KPI cards
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
Due: frontend

fix gateway subscription fidelity gaps
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/oauth/openai/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/openai/openai-oauth.service.ts
  packages/backend/src/routing/proxy/__tests__/agent-request-context.spec.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.headers.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-exception.filter.spec.ts
  packages/backend/src/routing/proxy/agent-request-context.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-exception.filter.ts
  packages/backend/src/routing/proxy/proxy-protocol-error.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

test responses errors with real HTTP status
  packages/backend/test/proxy.e2e-spec.ts
Due: none

fix Codex model catalog compatibility
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/test/proxy.e2e-spec.ts
Due: backend

fix: the status pill reads a plain Failed, the cause stays in the drawer
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/components/MessageTableStatus.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
Due: frontend

fix: seed coherent fallback attempt chains
  .gitignore
  packages/backend/src/database/seed-messages.spec.ts
  packages/backend/src/database/seed-messages.ts
Due: backend

fix: keep Claude auto classifier on Anthropic
  .changeset/agent-gateway-fidelity.md
  packages/backend/src/common/middleware/body-parser-limits.spec.ts
  packages/backend/src/common/middleware/body-parser-limits.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/components/ClaudeCodeSetup.tsx
  packages/frontend/src/services/framework-snippets.ts
  packages/frontend/tests/components/ClaudeCodeSetup.test.tsx
  packages/frontend/tests/services/framework-snippets.test.ts
Due: backend, frontend

fix: validate Claude gateway completions
  .changeset/claude-stream-integrity.md
  .github/workflows/docker-smoke.yml
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-token-count.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/anthropic-token-count.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/stream-writer.ts
  packages/backend/test/proxy.e2e-spec.ts
Due: backend

test: cover Claude gateway integrity paths
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-token-count.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
Due: backend

fix: terminate stalled provider streams
  packages/backend/src/routing/proxy/__tests__/provider-client.timeout.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

fix: keep long provider streams alive
  .changeset/claude-stream-integrity.md
  docker/.env.example
  docker/docker-compose.yml
  packages/backend/.env.example
  packages/backend/src/routing/proxy/__tests__/provider-client.timeout.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

feat(shared): add Kimi K3 to ClinePass subscription known models
  .changeset/cline-pass-kimi-k3.md
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

test: Test for Kimi k3 as only model from cline-pass
  packages/shared/__tests__/subscription.spec.ts
Due: none

chore: Update release notes
  .changeset/cline-pass-kimi-k3.md
Due: none

test(shared): backfill ClinePass subscription test coverage
  .changeset/backfill-cline-pass-tests.md
  packages/shared/__tests__/subscription.spec.ts
Due: none

docs: refresh CLAUDE.md to match current codebase
  CLAUDE.md
Due: none

feat: the release announcement sends manually from a JSON mailing list
  .gitignore
  packages/backend/.env.example
  packages/backend/mailing-list-subscribers.example.json
  packages/backend/package.json
  packages/backend/src/notifications/notifications.module.ts
  packages/backend/src/notifications/services/doctor-release-announcement.service.spec.ts
  packages/backend/src/notifications/services/doctor-release-announcement.service.ts
  packages/backend/src/scripts/send-doctor-announcement.spec.ts
  packages/backend/src/scripts/send-doctor-announcement.ts
Due: backend

docs: define request and attempt terminology (#2512)
  AGENTS.md
  CLAUDE.md
  docs/glossary.md
Due: none

fix changelog
  .changeset/cline-pass-kimi-k3.md
Due: none

docs: refresh CLAUDE.md to match current codebase (#2526)
  CLAUDE.md
Due: none

feat(shared): add Kimi K3 to ClinePass subscription known models (#2524)
  .changeset/cline-pass-kimi-k3.md
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

fix: run request backfill outside cloud boot
  packages/backend/.env.example
  packages/backend/package.json
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.ts
  packages/backend/src/database/backfills/request-backfill.cli.spec.ts
  packages/backend/src/database/backfills/request-backfill.cli.ts
  railway.toml
Due: backend

feat: fetch ClinePass models dynamically from recommended-models endpoint
  .changeset/cline-pass-dynamic-models.md
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

fix: include n8n build artifacts
  integrations/n8n-nodes-manifest/.gitignore
  integrations/n8n-nodes-manifest/CHANGELOG.md
  integrations/n8n-nodes-manifest/dist/credentials/ManifestApi.credentials.d.ts
  integrations/n8n-nodes-manifest/dist/credentials/ManifestApi.credentials.js
  integrations/n8n-nodes-manifest/dist/credentials/ManifestApi.credentials.js.map
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.d.ts
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js.map
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.json
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/manifest-logo.dark.svg
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/manifest-logo.svg
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
Due: none

fix: include n8n build artifacts (#2528)
  integrations/n8n-nodes-manifest/.gitignore
  integrations/n8n-nodes-manifest/CHANGELOG.md
  integrations/n8n-nodes-manifest/dist/credentials/ManifestApi.credentials.d.ts
  integrations/n8n-nodes-manifest/dist/credentials/ManifestApi.credentials.js
  integrations/n8n-nodes-manifest/dist/credentials/ManifestApi.credentials.js.map
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.d.ts
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js.map
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.json
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/manifest-logo.dark.svg
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/manifest-logo.svg
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
Due: none

fix: mirror n8n source at repository root
  credentials/ManifestApi.credentials.ts
  integrations/n8n-nodes-manifest/CHANGELOG.md
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
  nodes/Manifest/Manifest.node.json
  nodes/Manifest/Manifest.node.ts
  nodes/Manifest/manifest-logo.dark.svg
  nodes/Manifest/manifest-logo.svg
Due: none

fix: mirror n8n source at repository root (#2529)
  credentials/ManifestApi.credentials.ts
  integrations/n8n-nodes-manifest/CHANGELOG.md
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
  nodes/Manifest/Manifest.node.json
  nodes/Manifest/Manifest.node.ts
  nodes/Manifest/manifest-logo.dark.svg
  nodes/Manifest/manifest-logo.svg
Due: none

feat: add n8n agent category
  packages/frontend/public/icons/n8n.svg
  packages/frontend/tests/components/AgentTypeGrid.test.tsx
  packages/frontend/tests/components/AgentTypeSelect.test.tsx
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
Due: none

fix: respect n8n route response mode
  integrations/n8n-nodes-manifest/CHANGELOG.md
  integrations/n8n-nodes-manifest/README.md
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.d.ts
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js.map
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/nodes/Manifest/Manifest.node.ts
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
  integrations/n8n-nodes-manifest/test/manifest-node.test.js
  nodes/Manifest/Manifest.node.ts
Due: none

feat: add n8n harness setup guidance
  packages/frontend/src/components/N8nSetup.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/styles/agent-type-select.css
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
Due: frontend

fix: respect n8n route response mode (#2530)
  integrations/n8n-nodes-manifest/CHANGELOG.md
  integrations/n8n-nodes-manifest/README.md
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.d.ts
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js.map
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/nodes/Manifest/Manifest.node.ts
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
  integrations/n8n-nodes-manifest/test/manifest-node.test.js
  nodes/Manifest/Manifest.node.ts
Due: none

fix: harden request migration rollout
  packages/backend/.env.example
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/database/backfills/backfill-requests.spec.ts
  packages/backend/src/database/backfills/backfill-requests.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.ts
  packages/backend/src/database/backfills/request-backfill.cli.spec.ts
  packages/backend/src/database/backfills/request-backfill.cli.ts
  packages/backend/src/database/backfills/request-backfill.datasource.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
  packages/frontend/src/components/NotificationBell.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/tests/components/NotificationBell.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  railway.toml
Due: backend, frontend

fix: address rollout review findings
  packages/backend/src/database/backfills/request-backfill.cli.spec.ts
  packages/backend/src/database/backfills/request-backfill.datasource.ts
  packages/backend/src/database/migrations/1801200000000-AddAnnouncementSends.spec.ts
  packages/backend/src/database/migrations/1801200000000-AddAnnouncementSends.ts
  packages/backend/src/scripts/send-doctor-announcement.spec.ts
  packages/backend/src/scripts/send-doctor-announcement.ts
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
Due: backend, frontend

chore: the announcement sender moves to its own repo
  .gitignore
  packages/backend/.env.example
  packages/backend/mailing-list-subscribers.example.json
  packages/backend/package.json
  packages/backend/src/scripts/send-doctor-announcement.spec.ts
  packages/backend/src/scripts/send-doctor-announcement.ts
Due: backend

fix: close remaining rollout edge cases
  packages/backend/.env.example
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.ts
  packages/backend/src/database/backfills/request-backfill.cli.spec.ts
  packages/backend/src/database/backfills/request-backfill.datasource.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801200000000-AddAnnouncementSends.spec.ts
  packages/backend/src/database/migrations/1801200000000-AddAnnouncementSends.ts
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
Due: backend, frontend
