Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: improve routing provider UI and UX (#1101)
  .changeset/routing-ui-improvements.md
  package-lock.json
  packages/backend/src/auth/auth.instance.ts
  packages/frontend/src/components/AuthBadge.tsx
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/services/auth-client.ts
  packages/frontend/src/services/formatters.ts
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/CustomProviderForm.test.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/openclaw-plugin/public/index.html
Due: backend, frontend

fix: parse comma as decimal separator in custom model pricing fields
  .changeset/fix-comma-decimal-prices.md
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/tests/components/CustomProviderForm.test.tsx
Due: frontend

fix: parse comma as decimal separator in custom model pricing fields (#1103)
  .changeset/fix-comma-decimal-prices.md
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/tests/components/CustomProviderForm.test.tsx
Due: frontend

fix: adapt Moonshot and Z.ai logos for dark mode
  .changeset/dark-mode-logos.md
  packages/frontend/public/icons/providers/moonshot.svg
  packages/frontend/src/components/ProviderIcon.tsx
Due: frontend

fix: adapt Moonshot and Z.ai logos for dark mode (#1104)
  .changeset/dark-mode-logos.md
  packages/frontend/public/icons/providers/moonshot.svg
  packages/frontend/src/components/ProviderIcon.tsx
Due: frontend

feat: redesign routing page with column layout and drag-and-drop fallbacks
  .changeset/routing-ui-improvements.md
  package-lock.json
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/styles/layout.css
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: backend, frontend

fix: resolve TypeScript strict null errors in FallbackList drag-and-drop
  packages/frontend/src/components/FallbackList.tsx
Due: frontend

fix: standardize all buttons to btn--sm (32px) for consistent UI
  .changeset/btn-sm-consistency.md
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/ErrorState.tsx
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/components/SetupWizard.tsx
  packages/frontend/src/pages/Help.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/ModelPrices.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
Due: frontend

fix: standardize all buttons to btn--sm (32px) for consistent UI (#1106)
  .changeset/btn-sm-consistency.md
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/ErrorState.tsx
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/components/SetupWizard.tsx
  packages/frontend/src/pages/Help.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/ModelPrices.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
Due: frontend

test: add drag-and-drop coverage tests for FallbackList component
  packages/frontend/tests/components/FallbackList.test.tsx
Due: none

fix: replace unusable status/model filters with provider filter on Messages page
  .changeset/fix-message-filters.md
  packages/backend/src/analytics/controllers/messages.controller.spec.ts
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/common/utils/provider-inference.spec.ts
  packages/backend/src/common/utils/provider-inference.ts
  packages/backend/test/messages.e2e-spec.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/styles/data.css
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: backend, frontend

fix: hide Agent setup tab on Settings page in local mode
  .changeset/hide-settings-tabs-local-mode.md
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: frontend

fix: ensure 100% line coverage for provider icon rendering
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

feat: add per-tier reset button and fix provider auth coexistence
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/pages/Routing.test.tsx
Due: backend, frontend

fix: hide Agent setup tab on Settings page in local mode (#1108)
  .changeset/hide-settings-tabs-local-mode.md
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: frontend

fix: replace unusable status/model filters with provider filter on Messages page (#1107)
  .changeset/fix-message-filters.md
  packages/backend/src/analytics/controllers/messages.controller.spec.ts
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/common/utils/provider-inference.spec.ts
  packages/backend/src/common/utils/provider-inference.ts
  packages/backend/test/messages.e2e-spec.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/styles/data.css
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: backend, frontend

feat: redesign routing page with column layout and drag-and-drop fallbacks (#1105)
  .changeset/routing-ui-improvements.md
  package-lock.json
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/styles/layout.css
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: backend, frontend

fix: remove build obfuscation patterns triggering VirusTotal false positives
  .changeset/fix-virustotal-flagging.md
  packages/openclaw-plugin/__tests__/build.test.ts
  packages/openclaw-plugin/build.ts
  packages/openclaw-plugin/package.json
  packages/openclaw-plugin/src/server.ts
Due: plugin

fix: security hardening across backend services
  .changeset/security-remediation.md
  package-lock.json
  packages/backend/package.json
  packages/backend/src/auth/session.guard.spec.ts
  packages/backend/src/auth/session.guard.ts
  packages/backend/src/common/guards/api-key.guard.ts
  packages/backend/src/common/utils/url-validation.spec.ts
  packages/backend/src/common/utils/url-validation.ts
  packages/backend/src/config/app.config.spec.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1773300000000-AddEmailProviderKeyPrefix.spec.ts
  packages/backend/src/database/migrations/1773300000000-AddEmailProviderKeyPrefix.ts
  packages/backend/src/entities/email-provider-config.entity.ts
  packages/backend/src/main.ts
  packages/backend/src/notifications/dto/set-email-provider.dto.spec.ts
  packages/backend/src/notifications/dto/set-email-provider.dto.ts
  packages/backend/src/notifications/services/email-provider-config.service.spec.ts
  packages/backend/src/notifications/services/email-provider-config.service.ts
  packages/backend/src/notifications/services/email-provider-validation.spec.ts
  packages/backend/src/notifications/services/email-provider-validation.ts
  packages/backend/src/otlp/guards/otlp-auth.guard.spec.ts
  packages/backend/src/otlp/guards/otlp-auth.guard.ts
  packages/backend/src/otlp/services/api-key.service.spec.ts
  packages/backend/src/otlp/services/api-key.service.ts
  packages/backend/src/routing/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/telemetry/dto/create-telemetry.dto.spec.ts
  packages/backend/src/telemetry/dto/create-telemetry.dto.ts
Due: backend

fix: start embedded server immediately in local mode
  .changeset/fix-local-mode-startup.md
  packages/openclaw-plugin/__tests__/local-mode.test.ts
  packages/openclaw-plugin/src/local-mode.ts
Due: plugin

fix: add .catch() to fire-and-forget IIFE to prevent unhandled rejection
  packages/openclaw-plugin/__tests__/local-mode.test.ts
  packages/openclaw-plugin/src/local-mode.ts
Due: plugin

fix: local mode embedded server never starts (#1113)
  .changeset/fix-local-mode-startup.md
  packages/openclaw-plugin/__tests__/local-mode.test.ts
  packages/openclaw-plugin/src/local-mode.ts
Due: plugin

fix: update routing page button styles and fallback card design
  .changeset/update-btn-style.md
  package-lock.json
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

fix: update routing page button styles and fallback card design (#1115)
  .changeset/update-btn-style.md
  package-lock.json
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

fix(plugin): include compression in published deps
  .changeset/clever-plants-hide.md
  package-lock.json
  packages/openclaw-plugin/__tests__/build.test.ts
  packages/openclaw-plugin/package.json
Due: none

Filter non-chat OpenRouter models
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
Due: backend

Expose OpenRouter models locally
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/routing/routing.controller.spec.ts
Due: backend

fix(changeset): add missing frontmatter fences
  .changeset/clever-plants-hide.md
Due: none

fix(backend): avoid OpenRouter canonical collisions
  .changeset/wise-pans-smash.md
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
Due: backend

test(backend): cover OpenRouter sync edge cases
  packages/backend/src/database/pricing-sync.service.spec.ts
Due: backend

Export subscription provider helper
  packages/frontend/src/services/provider-utils.ts
  packages/frontend/src/services/providers.ts
  packages/openclaw-plugin/public/example-messages.svg
  packages/openclaw-plugin/public/example-overview.svg
  packages/openclaw-plugin/public/favicon.ico
  packages/openclaw-plugin/public/fonts/boxicons/boxicons-duotone.min.css
  packages/openclaw-plugin/public/fonts/boxicons/boxicons-duotone.woff2
  packages/openclaw-plugin/public/fonts/bricolage-grotesque-latin.woff2
  packages/openclaw-plugin/public/fonts/dm-sans-latin.woff2
  packages/openclaw-plugin/public/fonts/jetbrains-mono-latin.woff2
  packages/openclaw-plugin/public/icons/providers/alibaba.svg
  packages/openclaw-plugin/public/icons/providers/amazon.svg
  packages/openclaw-plugin/public/icons/providers/anthropic.svg
  packages/openclaw-plugin/public/icons/providers/cohere.svg
  packages/openclaw-plugin/public/icons/providers/deepseek.svg
  packages/openclaw-plugin/public/icons/providers/google.svg
  packages/openclaw-plugin/public/icons/providers/meta.svg
  packages/openclaw-plugin/public/icons/providers/mistral.svg
  packages/openclaw-plugin/public/icons/providers/moonshot.svg
  packages/openclaw-plugin/public/icons/providers/openai.svg
  packages/openclaw-plugin/public/icons/providers/xai.svg
  packages/openclaw-plugin/public/icons/providers/zhipu.svg
  packages/openclaw-plugin/public/index.html
  packages/openclaw-plugin/public/logo-white.svg
  packages/openclaw-plugin/public/logo.svg
  packages/openclaw-plugin/public/logos/mailgun.svg
  packages/openclaw-plugin/public/logos/resend.svg
  packages/openclaw-plugin/public/logos/sendgrid.svg
  packages/openclaw-plugin/public/manifest-logo.png
  packages/openclaw-plugin/public/theme-init.js
  packages/subscription-capabilities/index.d.ts
Due: frontend

Fix subscription provider exports
  packages/frontend/src/services/provider-utils.ts
  packages/frontend/src/services/providers.ts
  packages/subscription-capabilities/index.d.mts
  packages/subscription-capabilities/index.mjs
Due: frontend

Ignore unsupported providers
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/openclaw-plugin/__tests__/subscription.test.ts
  packages/openclaw-plugin/src/subscription.ts
Due: backend, plugin

Add cleanup for old subscriptions
  packages/backend/src/routing/routing.service.ts
Due: backend

Fix openai subscription handling
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/backend/src/routing/subscription-support.ts
  packages/backend/src/routing/tier-auto-assign.service.spec.ts
  packages/backend/src/routing/tier-auto-assign.service.ts
  packages/frontend/src/services/provider-utils.ts
  packages/frontend/src/services/providers.ts
  packages/openclaw-plugin/src/subscription.ts
  packages/subscription-capabilities/index.d.ts
  packages/subscription-capabilities/index.js
Due: backend, frontend, plugin

Export subscription capabilities
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/backend/src/routing/subscription-support.ts
  packages/backend/test/routing-flow.e2e-spec.ts
  packages/frontend/src/services/provider-utils.ts
  packages/frontend/src/services/providers.ts
  packages/openclaw-plugin/package.json
  packages/openclaw-plugin/public/example-messages.svg
  packages/openclaw-plugin/public/example-overview.svg
  packages/openclaw-plugin/public/favicon.ico
  packages/openclaw-plugin/public/fonts/boxicons/boxicons-duotone.min.css
  packages/openclaw-plugin/public/fonts/boxicons/boxicons-duotone.woff2
  packages/openclaw-plugin/public/fonts/bricolage-grotesque-latin.woff2
  packages/openclaw-plugin/public/fonts/dm-sans-latin.woff2
  packages/openclaw-plugin/public/fonts/jetbrains-mono-latin.woff2
  packages/openclaw-plugin/public/icons/providers/alibaba.svg
  packages/openclaw-plugin/public/icons/providers/amazon.svg
  packages/openclaw-plugin/public/icons/providers/anthropic.svg
  packages/openclaw-plugin/public/icons/providers/cohere.svg
  packages/openclaw-plugin/public/icons/providers/deepseek.svg
  packages/openclaw-plugin/public/icons/providers/google.svg
  packages/openclaw-plugin/public/icons/providers/meta.svg
  packages/openclaw-plugin/public/icons/providers/mistral.svg
  packages/openclaw-plugin/public/icons/providers/moonshot.svg
  packages/openclaw-plugin/public/icons/providers/openai.svg
  packages/openclaw-plugin/public/icons/providers/xai.svg
  packages/openclaw-plugin/public/icons/providers/zhipu.svg
  packages/openclaw-plugin/public/index.html
  packages/openclaw-plugin/public/logo-white.svg
  packages/openclaw-plugin/public/logo.svg
  packages/openclaw-plugin/public/logos/mailgun.svg
  packages/openclaw-plugin/public/logos/resend.svg
  packages/openclaw-plugin/public/logos/sendgrid.svg
  packages/openclaw-plugin/public/manifest-logo.png
  packages/openclaw-plugin/public/theme-init.js
  packages/openclaw-plugin/scripts/copy-assets.js
  packages/subscription-capabilities/index.d.mts
  packages/subscription-capabilities/index.mjs
Due: backend, frontend

Add changeset for subscription cleanup fix
  .changeset/good-pens-rescue.md
Due: none

fix: add missing express-rate-limit dependency to plugin package.json
  packages/openclaw-plugin/package.json
Due: none

fix: remove unused deactivateSubscriptionForProvider method
  packages/backend/src/routing/routing.service.ts
Due: backend
