Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix: verify attached Fly bucket
  deploy/fly/TUTORIAL.md
  deploy/fly/deploy.sh
Due: none

test: stub provider discovery in the provider-connect e2e suites
  packages/backend/test/agent-enabled-providers.e2e-spec.ts
  packages/backend/test/helpers.ts
  packages/backend/test/multi-key-providers.e2e-spec.ts
Due: none

fix: support Fly app macaroons
  deploy/fly/deploy.sh
Due: none

chore: drop the repeated Autofix in the sidebar card copy
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
Due: frontend

test: avoid live provider discovery in e2e
  packages/backend/test/helpers.ts
Due: none

fix: remove unavailable Code Assist models
  .changeset/trim-codeassist-models.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

fix: remove unavailable Code Assist models (#2696)
  .changeset/trim-codeassist-models.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

perf: bound dashboard database load
  .changeset/calm-postgres-pools.md
  CLAUDE.md
  docker/.env.example
  docker/DOCKER_README.md
  docker/docker-compose.yml
  packages/backend/.env.example
  packages/backend/src/auth/auth.instance.spec.ts
  packages/backend/src/auth/auth.instance.ts
  packages/backend/src/common/interceptors/user-cache.interceptor.spec.ts
  packages/backend/src/common/interceptors/user-cache.interceptor.ts
  packages/backend/src/config/app.config.spec.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/database/database.module.ts
  packages/frontend/src/services/sse.ts
  packages/frontend/tests/services/sse.test.ts
Due: backend, frontend

feat: persist recordings in deployment templates (#2693)
  .do/deploy.template.yaml
  .github/workflows/docker.yml
  README.md
  app.json
  deploy/apple-containers/TUTORIAL.md
  deploy/apple-containers/start.sh
  deploy/aws/TUTORIAL.md
  deploy/aws/deploy.sh
  deploy/aws/manifest.yaml
  deploy/coolify/TUTORIAL.md
  deploy/coolify/docker-compose.yml
  deploy/digitalocean/TUTORIAL.md
  deploy/easypanel/TUTORIAL.md
  deploy/easypanel/template/README.md
  deploy/easypanel/template/index.ts
  deploy/easypanel/template/meta.yaml
  deploy/fly/TUTORIAL.md
  deploy/fly/deploy.sh
  deploy/fly/fly.toml
  deploy/gcp/TUTORIAL.md
  deploy/gcp/deploystack.json
  deploy/gcp/main.tf
  deploy/gcp/outputs.tf
  deploy/gcp/versions.tf
  deploy/heroku/TUTORIAL.md
  deploy/koyeb/TUTORIAL.md
  docker/.env.example
  docker/DOCKER_README.md
  packages/backend/test/helpers.ts
  render.yaml
Due: none

fix: validate database pool overrides
  packages/backend/src/auth/auth.instance.spec.ts
  packages/backend/src/auth/auth.instance.ts
  packages/backend/src/config/app.config.spec.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/config/env.util.ts
Due: backend

perf: bound dashboard database load (#2697)
  .changeset/calm-postgres-pools.md
  CLAUDE.md
  docker/.env.example
  docker/DOCKER_README.md
  docker/docker-compose.yml
  packages/backend/.env.example
  packages/backend/src/auth/auth.instance.spec.ts
  packages/backend/src/auth/auth.instance.ts
  packages/backend/src/common/interceptors/user-cache.interceptor.spec.ts
  packages/backend/src/common/interceptors/user-cache.interceptor.ts
  packages/backend/src/config/app.config.spec.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/config/env.util.ts
  packages/backend/src/database/database.module.ts
  packages/frontend/src/services/sse.ts
  packages/frontend/tests/services/sse.test.ts
Due: backend, frontend

Add kimi-k3-256k and kimi-for-coding-highspeed to Moonshot models
  .changeset/moonshot-kimi-coding-models.md
  packages/backend/src/database/migrations/1772960000000-PurgeNonCuratedModels.spec.ts
  packages/backend/src/database/migrations/1772960000000-PurgeNonCuratedModels.ts
  packages/backend/src/model-discovery/known-model-modalities.spec.ts
  packages/backend/src/model-discovery/known-model-modalities.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

Use wire-format model ids k3 and k3-256k for Moonshot
  .changeset/moonshot-kimi-coding-models.md
  packages/backend/src/database/migrations/1772960000000-PurgeNonCuratedModels.spec.ts
  packages/backend/src/database/migrations/1772960000000-PurgeNonCuratedModels.ts
  packages/backend/src/model-discovery/known-model-modalities.spec.ts
  packages/backend/src/model-discovery/known-model-modalities.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

Score Kimi k3 as mid-range quality
  packages/backend/src/database/quality-score.util.ts
Due: backend

Address review: k3 provider inference, k3-256k quality, drop vestigial purge edit
  .changeset/moonshot-kimi-coding-models.md
  packages/backend/src/common/utils/provider-inference.spec.ts
  packages/backend/src/database/migrations/1772960000000-PurgeNonCuratedModels.spec.ts
  packages/backend/src/database/migrations/1772960000000-PurgeNonCuratedModels.ts
  packages/backend/src/database/quality-score.util.spec.ts
  packages/backend/src/database/quality-score.util.ts
  packages/shared/__tests__/provider-inference.spec.ts
  packages/shared/src/provider-inference.ts
Due: backend

Allow removing stale fallback entries without live re-resolution
  packages/backend/src/routing/header-tiers/__tests__/header-tier.service.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.service.ts
  packages/backend/src/routing/routing-core/__tests__/specificity.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
  packages/backend/src/routing/routing-core/specificity.service.ts
  packages/backend/src/routing/routing-core/tier.service.ts
Due: backend

fix: route Bedrock GPT-5 responses correctly
  .changeset/bedrock-openai-responses-path.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

fix: match the Bedrock GPT-5 model family
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

fix: route Bedrock GPT-5 responses correctly (#2701)
  .changeset/bedrock-openai-responses-path.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

fix: restore Kimi model parameter specs
  docs/providers/subscription-based-providers.md
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
Due: backend

chore: refresh CLAUDE.md to match current codebase
  CLAUDE.md
Due: none

test: protect gateway API contracts
  .github/workflows/docker-smoke.yml
  contracts/gateway/README.md
  contracts/gateway/tests/routes.test.mjs
Due: none

test: protect gateway API contracts (#2703)
  .github/workflows/docker-smoke.yml
  contracts/gateway/README.md
  contracts/gateway/tests/routes.test.mjs
Due: none

test: prove gateway contract guard
  contracts/gateway/tests/routes.test.mjs
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

test: extend gateway API contracts
  contracts/gateway/tests/routes.test.mjs
Due: none

test: extend gateway API contracts (#2705)
  contracts/gateway/tests/routes.test.mjs
Due: none

fix: return real content for non-streaming Bedrock GPT-5.x responses
  .changeset/bedrock-nonstreaming-responses.md
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

refactor: route Bedrock JSON Responses through providerClient.convertChatGptResponse
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

test: cover missing response content type
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
Due: backend

fix: keep subscription requests streaming upstream
  .changeset/bright-bats-stream.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: return real content for non-streaming Bedrock GPT-5.x responses (#2711)
  .changeset/bedrock-nonstreaming-responses.md
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

fix: keep subscription requests streaming upstream (#2712)
  .changeset/bright-bats-stream.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

refactor(dev): rename DR -> Dev setup across compose, script, configs, and skill
  .agents/skills/manifest-dev/SKILL.md
  docker/docker-compose.dev.yml
  scripts/switch-manifest.sh
Due: none

chore(paseo): add workspace commands for switch-manifest.sh
  paseo.json
Due: none

fix: map max completion tokens for Anthropic routes
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
