Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: match consent column type to install_metadata and harden the migration lock scope
  packages/backend/src/database/migrations/1801900000000-AddAutofixConsentToInstallMetadata.ts
  packages/backend/src/routing/tier.controller.spec.ts
Due: backend

test: cover consent-modal dismissal paths and the enable-all API call
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/SettingsAutofixSection.test.tsx
  packages/frontend/tests/services/api/analytics.test.ts
Due: none

fix: harden fleet enable against soft-deletes, status cache, and sidebar throw
  packages/backend/src/analytics/controllers/autofix-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/autofix-analytics.controller.ts
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/backend/src/common/dto/create-agent.dto.spec.ts
  packages/backend/src/database/migrations/1801900000000-AddAutofixConsentToInstallMetadata.ts
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/tests/pages/SettingsAutofixSection.test.tsx
Due: backend, frontend

fix: show Manifest failures in request timeline
  .changeset/show-manifest-request-steps.md
  docs/glossary.md
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801730000000-AddManifestRequestSteps.spec.ts
  packages/backend/src/database/migrations/1801730000000-AddManifestRequestSteps.ts
  packages/backend/src/entities/request.entity.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/src/styles/request-drawer.css
  packages/frontend/tests/components/RequestDrawer.test.tsx
Due: backend, frontend

fix: avoid repeated model refreshes in picker
  .changeset/cached-routing-model-picker.md
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: frontend

refactor: reuse failed attempts for Manifest errors
  .changeset/show-manifest-request-steps.md
  docs/glossary.md
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801730000000-AddManifestRequestSteps.spec.ts
  packages/backend/src/database/migrations/1801730000000-AddManifestRequestSteps.ts
  packages/backend/src/entities/request.entity.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/src/styles/request-drawer.css
  packages/frontend/tests/components/RequestDrawer.test.tsx
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
Due: backend, frontend

chore: keep request drawer styles unchanged
  packages/frontend/src/styles/request-drawer.css
Due: frontend

test: assert live agent autofix predicate
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
Due: backend

test: expect Manifest blocks in attempt history
  packages/backend/test/billing-request-limit.e2e-spec.ts
Due: none

fix: show Manifest failures in request timeline (#2683)
  .changeset/show-manifest-request-steps.md
  docs/glossary.md
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/test/billing-request-limit.e2e-spec.ts
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
Due: backend

fix: avoid repeated model refreshes in picker (#2684)
  .changeset/cached-routing-model-picker.md
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: frontend

fix: scope autofix fleet enable to legacy agents
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/analytics/controllers/autofix-analytics.controller.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/components/AddAgentModal.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
Due: backend, frontend

fix: confirm autofix on first agent creation
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/tests/components/AddAgentModal.test.tsx
Due: frontend

test: mock workspace Auto-fix consent in Workspace create tests
  packages/frontend/tests/pages/Workspace-validation.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: none

docs: correct Auto-fix fleet-enable API shape in CLAUDE.md
  CLAUDE.md
  packages/backend/src/routing/dto/routing.dto.ts
Due: backend

refactor: make the Auto-fix healer URL a constant, not an env var
  CLAUDE.md
  docker/DOCKER_README.md
  packages/backend/src/routing/autofix/__tests__/autofix-healing-config.spec.ts
  packages/backend/src/routing/autofix/__tests__/autofix-health-probe.spec.ts
  packages/backend/src/routing/autofix/__tests__/autofix.module.spec.ts
  packages/backend/src/routing/autofix/__tests__/noop-healing-client.spec.ts
  packages/backend/src/routing/autofix/autofix-healing-config.ts
  packages/backend/src/routing/autofix/autofix-health-probe.ts
  packages/backend/src/routing/autofix/autofix.module.ts
  packages/backend/src/routing/autofix/healing-client.ts
  packages/backend/src/routing/autofix/mock-healing-client.ts
  packages/backend/src/routing/autofix/noop-healing-client.ts
Due: backend

fix: close the Auto-fix consent races and stale status caches
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/tests/components/AddAgentModal.test.tsx
Due: backend, frontend

fix: invalidate in-flight create on modal reopen; pin the NULL gate
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/tests/components/AddAgentModal.test.tsx
Due: backend, frontend

fix: preserve cooldown attempt ordering
  .changeset/fix-cooldown-attempt-order.md
  docs/glossary.md
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

fix: preserve cooldown attempt ordering (#2685)
  .changeset/fix-cooldown-attempt-order.md
  docs/glossary.md
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

refactor(frontend): make tokens.css the single source of design tokens
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/tokens.css
Due: frontend

chore: design-token diff check + PostToolUse hook for frontend styling
  .claude/settings.json
  scripts/check-design-tokens.mjs
Due: none

fix: preserve structured provider errors
  .changeset/preserve-provider-error-details.md
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

test: preserve provider auth error types
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/test/proxy.e2e-spec.ts
Due: backend

fix: address provider error review feedback
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

fix: cover structured fallback error edges
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

fix: harden provider error sanitization
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

fix: address provider error review findings
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

fix: redact escaped credential quotes
  packages/backend/src/routing/proxy/proxy-error-sanitizer.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.ts
Due: backend

fix: preserve structured provider errors (#2689)
  .changeset/preserve-provider-error-details.md
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/test/proxy.e2e-spec.ts
Due: backend

feat: per-agent Auto-fix enable modal replaces the fleet consent flow
  CLAUDE.md
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/services/api/analytics.test.ts
Due: backend, frontend

feat: Logs vocabulary, params-card create settings, inline Auto-fix consent
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/src/components/RequestMessages.tsx
  packages/frontend/src/pages/SettingsAutofixSection.tsx
  packages/frontend/src/pages/SettingsRecordingSection.tsx
  packages/frontend/src/pages/Welcome.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/params-card.css
  packages/frontend/src/styles/routing.css
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/welcome.css
  packages/frontend/tests/components/AddAgentModal.test.tsx
  packages/frontend/tests/components/RequestMessages.test.tsx
  packages/frontend/tests/pages/SettingsAutofixSection.test.tsx
  packages/frontend/tests/pages/SettingsRecordingSection.test.tsx
Due: frontend

style: sell the sidebar card on reliability and make the modal affirmative
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/tests/components/Sidebar.test.tsx
Due: frontend

style: align the card icon on the title's first line; shorten the modal list label
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/styles/modals.css
Due: frontend

test: poll the attempt count in the billing-limit e2e to close a CI race
  packages/backend/test/billing-request-limit.e2e-spec.ts
Due: none

feat(frontend): complete the token scale — z-index, shadows, radius-pill, small font sizes
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/tokens.css
  scripts/check-design-tokens.mjs
Due: frontend

feat(design-system): generated registry — tokens, blocks, canonical rules
  .husky/pre-commit
  design-system/README.md
  design-system/generate-registry.mjs
  design-system/lib/cascade.mjs
  design-system/lib/emit.mjs
  design-system/lib/parse-css.mjs
  design-system/migration-map.json
  design-system/registry/components.json
  design-system/registry/llms.txt
  package.json
Due: none

feat: persist recordings in deployment templates
  .do/deploy.template.yaml
  .github/workflows/docker.yml
  README.md
  app.json
  deploy/apple-containers/TUTORIAL.md
  deploy/apple-containers/start.sh
  deploy/aws/TUTORIAL.md
  deploy/aws/deploy.sh
  deploy/aws/manifest.yaml
  deploy/coolify/TUTORIAL.md
  deploy/coolify/docker-compose.yml
  deploy/digitalocean/TUTORIAL.md
  deploy/easypanel/TUTORIAL.md
  deploy/easypanel/template/README.md
  deploy/easypanel/template/index.ts
  deploy/easypanel/template/meta.yaml
  deploy/fly/TUTORIAL.md
  deploy/fly/deploy.sh
  deploy/fly/fly.toml
  deploy/gcp/TUTORIAL.md
  deploy/gcp/deploystack.json
  deploy/gcp/main.tf
  deploy/gcp/outputs.tf
  deploy/gcp/versions.tf
  deploy/heroku/TUTORIAL.md
  deploy/koyeb/TUTORIAL.md
  docker/.env.example
  docker/DOCKER_README.md
  render.yaml
Due: none

fix: make Fly storage reruns safe
  README.md
  deploy/fly/TUTORIAL.md
  deploy/fly/deploy.sh
Due: none

fix: use structured Fly config on reruns
  deploy/fly/TUTORIAL.md
  deploy/fly/deploy.sh
Due: none
