Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

feat: add GitHub star button to header
  .changeset/ninety-points-return.md
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/styles/controls.css
Due: frontend

ci: add macOS to server smoke test matrix
  .github/workflows/ci.yml
Due: none

fix: add @mnfst/server as dependency so local mode starts correctly
  .changeset/fix-local-mode-server-dependency.md
  packages/openclaw-plugin/README.md
  packages/openclaw-plugin/__tests__/build.test.ts
  packages/openclaw-plugin/package.json
  packages/openclaw-plugin/src/local-mode.ts
Due: plugin

fix: improve local mode first-visit UX
  .changeset/smooth-local-ux.md
  packages/frontend/src/components/SetupModal.tsx
  packages/frontend/src/components/SetupStepVerify.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/manifest-server/src/index.ts
  packages/openclaw-plugin/src/local-mode.ts
Due: frontend, plugin

fix: add @mnfst/server as dependency so local mode starts correctly (#779)
  .changeset/fix-local-mode-server-dependency.md
  packages/openclaw-plugin/README.md
  packages/openclaw-plugin/__tests__/build.test.ts
  packages/openclaw-plugin/package.json
  packages/openclaw-plugin/src/local-mode.ts
Due: plugin

test: add tests for GitHub star button in Header component
  packages/frontend/tests/components/Header.test.tsx
Due: none

test: add coverage for local mode first-visit UX changes
  packages/frontend/tests/components/SetupModal.test.tsx
  packages/frontend/tests/components/SetupStepVerify.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: none

chore: add @mnfst/server patch changeset
  .changeset/ninety-points-return.md
Due: none

fix: ensure manifest plugin publishes with @mnfst/server dependency
  .changeset/fix-local-mode-server-dependency.md
  .changeset/fix-manifest-publish.md
  packages/manifest-server/public/assets/index-6MZu1sne.css
  packages/manifest-server/public/assets/index-CAxipKm1.js
  packages/manifest-server/public/assets/index-CYaiaG5z.js
  packages/manifest-server/public/assets/index-DGdVxsZ7.js
  packages/manifest-server/public/assets/index-RxMhb3pc.css
  packages/manifest-server/public/index.html
  packages/manifest-server/src/index.ts
Due: none

fix: ensure manifest plugin publishes with @mnfst/server dependency (#783)
  .changeset/fix-manifest-publish.md
  packages/manifest-server/public/assets/index-6MZu1sne.css
  packages/manifest-server/public/assets/index-CAxipKm1.js
  packages/manifest-server/public/assets/index-CYaiaG5z.js
  packages/manifest-server/public/assets/index-DGdVxsZ7.js
  packages/manifest-server/public/assets/index-RxMhb3pc.css
  packages/manifest-server/public/index.html
  packages/manifest-server/src/index.ts
Due: none

feat: add GitHub star button to header (#778)
  .changeset/ninety-points-return.md
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/styles/controls.css
  packages/frontend/tests/components/Header.test.tsx
Due: frontend

feat: restore routing card layout with capability tags and pricing improvements
  packages/backend/src/database/database-seeder.service.ts
  packages/frontend/src/components/InfoTooltip.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/src/styles/tooltip.css
  packages/frontend/tests/pages/Routing.test.tsx
Due: backend, frontend

fix: replace "Dark icons" with "Solid icons" in capabilities tooltip
  packages/frontend/src/pages/ModelPrices.tsx
Due: frontend

fix: notification cron hourly alerts never triggered and failed emails not retried
  .changeset/fix-notification-cron.md
  packages/backend/src/notifications/services/notification-cron.service.spec.ts
  packages/backend/src/notifications/services/notification-cron.service.ts
Due: backend

chore: update package-lock.json
  package-lock.json
Due: none

feat: import all OpenRouter models, add price history and unresolved tracking
  .changeset/model-pricing-improvements.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1771600000000-ModelPricingImprovements.ts
  packages/backend/src/database/pricing-history.service.spec.ts
  packages/backend/src/database/pricing-history.service.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/entities/model-pricing-history.entity.ts
  packages/backend/src/entities/unresolved-model.entity.ts
  packages/backend/src/model-prices/model-prices.controller.spec.ts
  packages/backend/src/model-prices/model-prices.controller.ts
  packages/backend/src/model-prices/model-prices.module.ts
  packages/backend/src/model-prices/model-prices.service.spec.ts
  packages/backend/src/model-prices/model-prices.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/model-prices/unresolved-model-tracker.service.spec.ts
  packages/backend/src/model-prices/unresolved-model-tracker.service.ts
  packages/frontend/src/components/ModelPricesFilterBar.tsx
  packages/frontend/src/pages/ModelPrices.tsx
  packages/frontend/src/styles/model-filter.css
  packages/frontend/src/styles/theme.css
Due: backend, frontend

fix(plugin): resolve security scanner warnings in bundle
  .changeset/fix-plugin-security-audit.md
  packages/openclaw-plugin/.gitignore
  packages/openclaw-plugin/__tests__/build.test.ts
  packages/openclaw-plugin/build.ts
  packages/openclaw-plugin/openclaw.plugin.json
  packages/openclaw-plugin/package.json
  packages/openclaw-plugin/src/product-telemetry.ts
Due: plugin

test: add coverage for hourly/weekly/monthly period branches
  packages/backend/src/notifications/services/notification-cron.service.spec.ts
Due: backend

fix: resolve better-sqlite3 version conflict and improve local mode error messages
  .changeset/fix-local-mode-sqlite.md
  package-lock.json
  packages/backend/package.json
  packages/manifest-server/jest.config.js
  packages/manifest-server/package.json
  packages/manifest-server/src/index.spec.ts
  packages/manifest-server/src/index.ts
  packages/openclaw-plugin/__tests__/local-mode.test.ts
  packages/openclaw-plugin/src/local-mode.ts
Due: plugin

fix(tests): add moduleNameMapper for @mnfst/server in plugin jest config
  packages/openclaw-plugin/__mocks__/@mnfst/server.js
  packages/openclaw-plugin/jest.config.js
Due: none

Remove time from x-axis labels on 7-day dashboard charts
  .changeset/fix-dashboard-axis-labels.md
  packages/frontend/src/services/chart-utils.ts
Due: frontend

Update tests to match new 7-day axis label format
  packages/frontend/tests/services/chart-utils-coverage.test.ts
  packages/frontend/tests/services/chart-utils.test.ts
Due: none

Add telemetry & privacy section to README
  .changeset/nvsmirya.md
  README.md
Due: none

fix: detect broken better-sqlite3 at install and in CI
  .changeset/better-sqlite3-preflight.md
  .github/workflows/ci.yml
  packages/openclaw-plugin/package.json
Due: none

fix: proxy GitHub star count through backend to avoid CSP errors
  .changeset/fix-github-star-csp.md
  packages/backend/src/app.module.ts
  packages/backend/src/github/github.controller.ts
  packages/backend/src/github/github.module.ts
  packages/frontend/src/components/Header.tsx
Due: backend, frontend

fix: resolve @types/node lockfile mismatch breaking npm ci
  package-lock.json
  package.json
Due: none

Update OpenClaw link from .com to .ai
  README.md
Due: none

fix: resolve TS build errors and regenerate lockfile
  package-lock.json
  packages/backend/src/auth/auth.instance.ts
  packages/frontend/src/pages/Routing.tsx
Due: backend, frontend

fix: prevent SSRF in Mailgun provider by validating domain input
  packages/backend/src/notifications/services/email-providers/mailgun.provider.spec.ts
  packages/backend/src/notifications/services/email-providers/mailgun.provider.ts
Due: backend

Update OpenClaw link from .com to .ai (#800)
  README.md
Due: none

fix: improve local mode startup reliability and auth UX
  .changeset/fix-local-mode-sqlite-preflight.md
  packages/frontend/src/components/AuthGuard.tsx
  packages/frontend/tests/components/AuthGuard.test.tsx
  packages/manifest-server/src/index.ts
Due: frontend

fix: improve local mode startup reliability and auth UX (#802)
  .changeset/fix-local-mode-sqlite-preflight.md
  packages/frontend/src/components/AuthGuard.tsx
  packages/frontend/tests/components/AuthGuard.test.tsx
  packages/manifest-server/src/index.ts
Due: frontend

fix: update Header tests to use new backend proxy response format
  packages/frontend/tests/components/Header.test.tsx
Due: none

fix: add postinstall script to rebuild better-sqlite3
  .changeset/better-sqlite3-postinstall.md
  packages/manifest-server/package.json
Due: none

test: add full coverage for local-first default mode
  packages/openclaw-plugin/__tests__/config.test.ts
  packages/openclaw-plugin/__tests__/local-mode.test.ts
  packages/openclaw-plugin/__tests__/register.test.ts
Due: none

feat: local-first defaults for manifest plugin
  .changeset/local-first-defaults.md
  packages/openclaw-plugin/README.md
  packages/openclaw-plugin/__tests__/config.test.ts
  packages/openclaw-plugin/__tests__/local-mode.test.ts
  packages/openclaw-plugin/__tests__/register.test.ts
  packages/openclaw-plugin/openclaw.plugin.json
  packages/openclaw-plugin/src/config.ts
  packages/openclaw-plugin/src/constants.ts
  packages/openclaw-plugin/src/index.ts
  packages/openclaw-plugin/src/local-mode.ts
Due: plugin

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
