Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix: exclude legacy functions and dotted keys from the knob capture
  .changeset/snapshot-specless-knobs.md
  packages/shared/__tests__/request-params-snapshot.spec.ts
  packages/shared/src/request-params-snapshot.ts
Due: none

fix: correct n8n codex metadata
  integrations/n8n-nodes-manifest/CHANGELOG.md
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.json
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/nodes/Manifest/Manifest.node.json
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
  integrations/n8n-nodes-manifest/test/manifest-node.test.js
  nodes/Manifest/Manifest.node.json
Due: none

fix: record spec-less caller-sent knobs in request-params snapshots (#2560)
  .changeset/snapshot-specless-knobs.md
  packages/shared/__tests__/request-params-snapshot.spec.ts
  packages/shared/src/request-params-snapshot.ts
Due: none

fix: correct n8n codex metadata (#2563)
  integrations/n8n-nodes-manifest/CHANGELOG.md
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.json
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/nodes/Manifest/Manifest.node.json
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
  integrations/n8n-nodes-manifest/test/manifest-node.test.js
  nodes/Manifest/Manifest.node.json
Due: none

test(overview): cover By provider/By model grouping on global and per-agent dashboards
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: none

Fix tests
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: none

fix: fallback before streaming empty Codex exhaustion
  .changeset/claude-stream-integrity.md
  packages/backend/src/routing/proxy/__tests__/chatgpt-response-qualifier.spec.ts
  packages/backend/src/routing/proxy/chatgpt-response-qualifier.ts
Due: backend

fix(proxy): retry silent codex requests within gateway budget
  .changeset/claude-stream-integrity.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix(proxy): enforce gateway startup deadline
  packages/backend/src/routing/proxy/__tests__/provider-client.timeout.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

ci: retry release canary on Manifest concurrency
  scripts/gateway-response-canary.js
  scripts/gateway-response-canary.test.js
Due: none

fix(proxy): stream codex plan reasoning progress
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-response-qualifier.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/chatgpt-response-qualifier.ts
Due: backend

fix(proxy): finalize canceled request telemetry
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

fix(proxy): preserve canceled attempt ordering
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

fix(proxy): advance past empty google fallbacks
  .changeset/claude-stream-integrity.md
  packages/backend/src/routing/proxy/__tests__/google-response-qualifier.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/google-response-qualifier.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

test(proxy): cover google stream qualification
  packages/backend/src/routing/proxy/__tests__/google-response-qualifier.spec.ts
Due: backend

fix(proxy): resolve claude default classifier model
  .changeset/claude-stream-integrity.md
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

test(proxy): preserve classifier subscription preference
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix(proxy): close attempts on client disconnect
  .changeset/agent-gateway-fidelity.md
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

fix: harden request recording failures
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.spec.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

test: cover recorded message formats
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/request-recording-capture.spec.ts
  packages/backend/src/routing/proxy/request-recording.service.spec.ts
  packages/frontend/src/components/RequestMessages.tsx
  packages/frontend/tests/components/RequestDrawer.test.tsx
  packages/frontend/tests/components/RequestMessages.test.tsx
  packages/frontend/tests/pages/SettingsRecordingSection.test.tsx
  packages/shared/__tests__/chat-message.spec.ts
  packages/shared/src/chat-message.ts
Due: backend, frontend

fix: stop telemetry send time drifting an hour each day
  .changeset/stable-telemetry-send-hour.md
  CLAUDE.md
  packages/backend/src/telemetry/telemetry.service.spec.ts
  packages/backend/src/telemetry/telemetry.service.ts
Due: backend

fix: finalize failed M302 Auto-fix retries
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: capture provider wire exchanges (#2568)
  .changeset/capture-provider-wire-exchanges.md
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/contract/phoenix-openapi.yaml
  packages/backend/src/routing/autofix/observation-payload.spec.ts
  packages/backend/src/routing/autofix/observation-payload.ts
  packages/backend/src/routing/autofix/phoenix.types.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

feat: heal unavailable-model (M302) requests via Auto-fix (#2569)
  .changeset/heal-unavailable-model.md
  CLAUDE.md
  package-lock.json
  packages/backend/src/routing/autofix/autofix.types.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: route provider timeouts through fallback
  .changeset/calm-stream-timeouts.md
  packages/backend/src/routing/proxy/__tests__/provider-client.timeout.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: route provider timeouts through fallback (#2573)
  .changeset/calm-stream-timeouts.md
  packages/backend/src/routing/proxy/__tests__/provider-client.timeout.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: heal native Google provider failures
  .changeset/heal-native-google-requests.md
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/contract/phoenix-openapi.yaml
  packages/backend/src/routing/autofix/observation-payload.spec.ts
  packages/backend/src/routing/autofix/observation-payload.ts
  packages/backend/src/routing/autofix/observation-reporter.spec.ts
  packages/backend/src/routing/autofix/phoenix.types.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: declare telemetry coverage bounds and index new error statuses
  .changeset/stable-telemetry-send-hour.md
  CLAUDE.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801300000000-AddErrorFamilyTimestampIndex.spec.ts
  packages/backend/src/database/migrations/1801300000000-AddErrorFamilyTimestampIndex.ts
  packages/backend/src/telemetry/dto/telemetry-payload.ts
  packages/backend/src/telemetry/payload-builder.service.spec.ts
  packages/backend/src/telemetry/payload-builder.service.ts
Due: backend

chore: refresh CLAUDE.md to match current codebase
  CLAUDE.md
Due: none

fix: heal native Google provider failures (#2574)
  .changeset/heal-native-google-requests.md
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/contract/phoenix-openapi.yaml
  packages/backend/src/routing/autofix/observation-payload.spec.ts
  packages/backend/src/routing/autofix/observation-payload.ts
  packages/backend/src/routing/autofix/observation-reporter.spec.ts
  packages/backend/src/routing/autofix/phoenix.types.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix(proxy): finalize streaming request outcomes
  .changeset/clean-stream-lifecycle.md
  docs/glossary.md
  packages/backend/.env.example
  packages/backend/src/analytics/services/attempt-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/provider-usage.service.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/analytics/services/request-volume.service.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.streaming-abort.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-protocol.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/sse-parser.ts
  packages/backend/src/routing/proxy/stream-protocol.ts
  packages/backend/src/routing/proxy/stream-writer.ts
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/request-drawer.css
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/RequestDrawer.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
  packages/shared/src/index.ts
Due: backend, frontend

fix(frontend): use dash for pending status code
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/tests/components/RequestDrawer.test.tsx
Due: frontend

fix(proxy): finalize streaming request outcomes (#2578)
  .changeset/clean-stream-lifecycle.md
  docs/glossary.md
  packages/backend/.env.example
  packages/backend/src/analytics/services/attempt-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/provider-usage.service.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/analytics/services/request-volume.service.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.streaming-abort.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-protocol.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/sse-parser.ts
  packages/backend/src/routing/proxy/stream-protocol.ts
  packages/backend/src/routing/proxy/stream-writer.ts
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/request-drawer.css
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/RequestDrawer.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
  packages/shared/src/index.ts
Due: backend, frontend

fix: make the dev Wingman drawer reach the local gateway again
  packages/frontend/src/components/WingmanDevTools.tsx
  packages/frontend/tests/components/WingmanDevTools.test.tsx
  packages/frontend/tests/wingman-dev-proxy.test.ts
  packages/frontend/vite.config.ts
  packages/frontend/wingman-dev-proxy.ts
Due: frontend

docs: mark Private Network Access support as legacy
  package-lock.json
  packages/backend/src/cors-csp-config.ts
  packages/backend/src/main.ts
Due: backend

ci: dependency automation — vitest group, uuid ignore, dependency review, Dependabot auto-merge
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependency-review.yml
Due: none

ci: drop auto-merge workflow — deps PRs stay manually merged
  .github/workflows/dependabot-auto-merge.yml
Due: none

fix: preserve DeepSeek reasoning effort
  .changeset/preserve-deepseek-reasoning-effort.md
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
Due: backend

ci: dependency review + Dependabot config fixes (vitest group, uuid ignore) (#2582)
  .github/dependabot.yml
  .github/workflows/dependency-review.yml
Due: none

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
