Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

test: cover recorded message formats
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/request-recording-capture.spec.ts
  packages/backend/src/routing/proxy/request-recording.service.spec.ts
  packages/frontend/src/components/RequestMessages.tsx
  packages/frontend/tests/components/RequestMessages.test.tsx
  packages/frontend/tests/pages/SettingsRecordingSection.test.tsx
  packages/shared/__tests__/chat-message.spec.ts
  packages/shared/src/chat-message.ts
Due: backend, frontend

fix: improve recording toggle feedback
  packages/frontend/src/pages/SettingsRecordingSection.tsx
  packages/frontend/tests/pages/SettingsRecordingSection.test.tsx
Due: frontend

feat: add durable request recording storage
  .gitignore
  docker/.env.example
  docker/Dockerfile
  docker/docker-compose.yml
  packages/backend/.env.example
  packages/backend/package.json
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/common/common.module.ts
  packages/backend/src/common/services/request-recording-storage.service.spec.ts
  packages/backend/src/common/services/request-recording-storage.service.ts
  packages/backend/src/common/utils/request-recording-codec.spec.ts
  packages/backend/src/common/utils/request-recording-codec.ts
  packages/backend/src/config/app.config.spec.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/database/migrations/1801300000000-AddRequestRecordings.spec.ts
  packages/backend/src/database/migrations/1801300000000-AddRequestRecordings.ts
  packages/backend/src/database/request-recording-retention.service.spec.ts
  packages/backend/src/database/request-recording-retention.service.ts
  packages/backend/src/entities/request-recording.entity.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/request-recording-capture.spec.ts
  packages/backend/src/routing/proxy/request-recording-capture.ts
  packages/backend/src/routing/proxy/request-recording.service.spec.ts
  packages/backend/src/routing/proxy/request-recording.service.ts
  packages/backend/test/helpers.ts
  packages/backend/test/request-recordings.e2e-spec.ts
Due: backend

fix: clarify recording helper copy
  packages/frontend/src/pages/SettingsRecordingSection.tsx
  packages/frontend/tests/pages/SettingsRecordingSection.test.tsx
Due: frontend

test: verify Docker recording persistence
  .github/scripts/mock-openai-provider.py
  .github/workflows/docker-smoke.yml
Due: none

fix: add safe self-host upgrade path
  .changeset/record-request-payloads.md
  .github/workflows/docker-smoke.yml
  docker/.env.example
  docker/docker-compose.yml
Due: none

test: hide Docker smoke session output
  .github/workflows/docker-smoke.yml
Due: none

fix: scope request recordings by tenant
  .changeset/record-request-payloads.md
  packages/backend/src/common/services/request-recording-storage.service.spec.ts
  packages/backend/src/common/services/request-recording-storage.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/request-recording.service.spec.ts
  packages/backend/src/routing/proxy/request-recording.service.ts
  packages/backend/test/request-recordings.e2e-spec.ts
Due: backend

ci: align Docker smoke auth origin
  .github/workflows/docker-smoke.yml
Due: none

ci: fix checks after dependency update
  .github/workflows/docker-smoke.yml
Due: none

feat: restore conversation view with sidebar rail in request drawer
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/components/RequestMessages.tsx
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix: preserve conversation drawer behavior
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/components/RequestMessages.tsx
  packages/frontend/src/styles/request-drawer.css
  packages/frontend/tests/components/RequestMessages.test.tsx
Due: frontend

test: cover protocol routing branches
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: prevent flex-shrink on turn cards so conv-turns can scroll
  packages/frontend/src/styles/request-drawer.css
Due: frontend

feat(drawer): flatten recording tabs and improve message card UX
  package-lock.json
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/components/RequestMessages.tsx
  packages/frontend/src/styles/request-drawer.css
  packages/frontend/tests/components/RequestDrawer.test.tsx
  packages/frontend/tests/components/RequestMessages.test.tsx
Due: frontend

test: seed a recorded provider attempt
  .github/workflows/docker-smoke.yml
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
Due: backend

test: cover all protocol routing branches
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: map Chat Completions reasoning_effort onto Responses reasoning
  .changeset/chatgpt-reasoning-summary-backfill.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

perf: avoid redundant protocol conversions (#2618)
  .changeset/lazy-native-protocol-conversion.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
Due: backend

docs: design configurable Manifest concurrency
  docs/superpowers/specs/2026-07-28-manifest-concurrency-environment-design.md
Due: none

docs: plan Manifest concurrency configuration
  docs/superpowers/plans/2026-07-28-manifest-concurrency-environment.md
Due: none

feat: configure Manifest concurrency limit
  packages/backend/src/routing/proxy/__tests__/proxy-rate-limiter.spec.ts
  packages/backend/src/routing/proxy/proxy-rate-limiter.ts
Due: backend

fix: create backend dependency directory in image
  docker/Dockerfile
Due: none

fix: use v1 request recording keys
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/common/services/request-recording-storage.service.spec.ts
  packages/backend/src/common/services/request-recording-storage.service.ts
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/request-recording-retention.service.spec.ts
  packages/backend/src/routing/proxy/attempt-recording.service.spec.ts
  packages/backend/test/request-recordings.e2e-spec.ts
Due: backend

fix: restore safe installer upgrades
  docker/install.sh
  packages/frontend/tests/components/RequestDrawer.test.tsx
Due: none

fix: notify the account holder on duplicate email signup
  .changeset/existing-account-signup-email.md
  packages/backend/src/auth/auth.instance.spec.ts
  packages/backend/src/auth/auth.instance.ts
  packages/backend/src/notifications/emails/existing-account.tsx
  packages/frontend/src/pages/Register.tsx
Due: backend, frontend

fix: honor model routes on messages endpoint
  .changeset/route-anthropic-message-models.md
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/openai-model-id.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

feat: replace Manifest with Gemini Free
  .changeset/gemini-free-provider.md
  docker/.env.example
  packages/backend/.env.example
  packages/backend/src/common/constants/managed-free-providers.spec.ts
  packages/backend/src/common/constants/managed-free-providers.ts
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/managed-free-provider/managed-free-provider.controller.ts
  packages/backend/src/routing/managed-free-provider/managed-free-provider.service.spec.ts
  packages/backend/src/routing/managed-free-provider/managed-free-provider.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/routing.module.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/api/providers.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/api/providers.test.ts
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/providers.ts
Due: backend, frontend

Revert "feat: add managed Manifest Credits provider (#2610)"
  .changeset/managed-manifest-provider.md
  .changeset/manifest-key-booking-link.md
  packages/backend/src/common/constants/manifest-credits.spec.ts
  packages/backend/src/common/constants/manifest-credits.ts
  packages/backend/src/common/utils/provider-availability.spec.ts
  packages/backend/src/common/utils/provider-availability.ts
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.controller.spec.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.controller.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.service.spec.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.service.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/routing.module.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/frontend/tests/components/ProviderSelectContent-deeplink.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
  packages/frontend/tests/services/api/providers.test.ts
  packages/frontend/tests/services/providers.test.ts
  packages/shared/src/providers.ts
Due: backend, frontend

fix: honor model routes on messages endpoint (#2622)
  .changeset/route-anthropic-message-models.md
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/openai-model-id.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

test: cover managed free provider flow
  packages/backend/src/common/constants/managed-free-providers.spec.ts
  packages/backend/src/routing/managed-free-provider/managed-free-provider.controller.spec.ts
  packages/backend/src/routing/managed-free-provider/managed-free-provider.service.spec.ts
  packages/frontend/src/services/api/providers.ts
  packages/frontend/tests/components/ProviderSelectContent-deeplink.test.tsx
Due: backend, frontend

fix: preserve OpenRouter model modalities
  .changeset/openrouter-model-modalities.md
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

fix: simplify Gemini Free key placeholder
  .changeset/gemini-free-provider.md
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/providers.ts
Due: none

test: cover unsupported OpenRouter modality
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
Due: backend

fix: simplify Gemini Free key placeholder (#2625)
  .changeset/gemini-free-provider.md
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/providers.ts
Due: none

fix: show called tools in request details
  .changeset/show-called-tools.md
  packages/frontend/src/components/RequestMessages.tsx
  packages/frontend/src/styles/request-drawer.css
  packages/frontend/tests/components/RequestDrawer.test.tsx
  packages/frontend/tests/components/RequestMessages.test.tsx
  packages/shared/__tests__/chat-message.spec.ts
  packages/shared/src/chat-message.ts
  packages/shared/src/index.ts
Due: frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
