Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: update EmailProviderSetup test selector for masked input change
  packages/frontend/tests/components/EmailProviderSetup.test.tsx
Due: none

feat: dynamic OpenAI subscription model discovery and proxy fixes
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/model-discovery/model-fallback.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/openai-oauth.service.spec.ts
  packages/backend/src/routing/openai-oauth.service.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/frontend/src/services/oauth-popup.ts
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/services/oauth-popup.test.ts
  packages/openclaw-plugin/subscription-capabilities/index.d.ts
  packages/openclaw-plugin/subscription-capabilities/index.js
  packages/subscription-capabilities/index.d.ts
  packages/subscription-capabilities/index.js
Due: backend, frontend

fix: update plugin subscription tests for OpenAI support
  packages/openclaw-plugin/__tests__/subscription.test.ts
Due: none

fix: update E2E tests for OpenAI subscription support
  packages/backend/test/routing-flow.e2e-spec.ts
Due: none

fix: use backend URL as OAuth redirect_uri in production
  packages/backend/src/routing/openai-oauth.controller.ts
  packages/backend/src/routing/openai-oauth.service.spec.ts
  packages/backend/src/routing/openai-oauth.service.ts
  packages/backend/src/routing/openai-oauth.types.ts
Due: backend

chore: add changeset for OAuth redirect fix
  .changeset/fix-oauth-redirect-prod.md
Due: none

fix: clear pending OAuth state on provider error callback
  packages/backend/src/routing/openai-oauth.controller.ts
  packages/backend/src/routing/openai-oauth.service.ts
Due: backend

fix: revert dynamic redirect_uri, add paste-URL fallback for cloud OAuth
  packages/backend/src/routing/openai-oauth.controller.ts
  packages/backend/src/routing/openai-oauth.service.spec.ts
  packages/backend/src/routing/openai-oauth.service.ts
  packages/backend/src/routing/openai-oauth.types.ts
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: backend, frontend

chore: add changeset
  .changeset/fix-oauth-paste-fallback.md
Due: none

test: add coverage for POST /callback endpoint
  packages/backend/src/routing/openai-oauth.controller.spec.ts
Due: backend

fix: skip ephemeral callback server in cloud mode, show paste URL immediately
  packages/backend/src/routing/openai-oauth.service.ts
  packages/frontend/src/components/OAuthDetailView.tsx
Due: backend, frontend

chore: add changeset
  .changeset/fix-oauth-cloud-ux.md
Due: none

fix: use cloud-only check for callback server, update frontend tests
  packages/backend/src/routing/openai-oauth.service.ts
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: backend

Fix OpenRouter model selection
  packages/frontend/src/components/ModelSelectDropdown.tsx
  packages/frontend/tests/components/ModelSelectDropdown.test.tsx
  packages/frontend/tests/components/RoutingInstructionModal.test.tsx
Due: frontend

Persist override provider
  packages/backend/src/database/migrations/1773600000000-AddOverrideProvider.ts
  packages/backend/src/entities/tier-assignment.entity.spec.ts
  packages/backend/src/entities/tier-assignment.entity.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/resolve.service.spec.ts
  packages/backend/src/routing/resolve.service.ts
  packages/backend/src/routing/routing-invalidation.service.ts
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/backend/src/routing/tier-auto-assign.service.ts
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/services/api.test.ts
Due: backend, frontend

Add changeset for override provider fix
  .changeset/fix-openrouter-provider-resolution.md
  packages/frontend/src/pages/RoutingTierCard.tsx
Due: frontend

chore: update package-lock.json and package.json, remove unused assets
  package-lock.json
  package.json
  packages/openclaw-plugin/public/example-messages.svg
  packages/openclaw-plugin/public/example-overview.svg
  packages/openclaw-plugin/public/favicon.ico
  packages/openclaw-plugin/public/fonts/boxicons/boxicons-duotone.min.css
  packages/openclaw-plugin/public/fonts/boxicons/boxicons-duotone.woff2
  packages/openclaw-plugin/public/fonts/bricolage-grotesque-latin.woff2
  packages/openclaw-plugin/public/fonts/dm-sans-latin.woff2
  packages/openclaw-plugin/public/fonts/jetbrains-mono-latin.woff2
  packages/openclaw-plugin/public/icons/providers/alibaba.svg
  packages/openclaw-plugin/public/icons/providers/amazon.svg
  packages/openclaw-plugin/public/icons/providers/anthropic.svg
  packages/openclaw-plugin/public/icons/providers/cohere.svg
  packages/openclaw-plugin/public/icons/providers/deepseek.svg
  packages/openclaw-plugin/public/icons/providers/google.svg
  packages/openclaw-plugin/public/icons/providers/meta.svg
  packages/openclaw-plugin/public/icons/providers/mistral.svg
  packages/openclaw-plugin/public/icons/providers/moonshot.svg
  packages/openclaw-plugin/public/icons/providers/openai.svg
  packages/openclaw-plugin/public/icons/providers/xai.svg
  packages/openclaw-plugin/public/icons/providers/zhipu.svg
  packages/openclaw-plugin/public/index.html
  packages/openclaw-plugin/public/logo-white.svg
  packages/openclaw-plugin/public/logo.svg
  packages/openclaw-plugin/public/logos/mailgun.svg
  packages/openclaw-plugin/public/logos/resend.svg
  packages/openclaw-plugin/public/logos/sendgrid.svg
  packages/openclaw-plugin/public/theme-init.js
Due: none

Add MiniMax OAuth subscription flow
  packages/backend/src/routing/minimax-oauth.controller.spec.ts
  packages/backend/src/routing/minimax-oauth.controller.ts
  packages/backend/src/routing/minimax-oauth.service.spec.ts
  packages/backend/src/routing/minimax-oauth.service.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/model-discovery/model-fallback.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/openai-oauth.types.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing.module.ts
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/components/ProviderSubscriptionTab.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderSelectModal-commandonly.test.tsx
  packages/frontend/tests/components/ProviderSelectModal-subscription.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/api.test.ts
  packages/frontend/tests/services/providers.test.ts
  packages/openclaw-plugin/__tests__/subscription.test.ts
  packages/openclaw-plugin/src/subscription.ts
  packages/openclaw-plugin/subscription-capabilities/index.js
  packages/subscription-capabilities/index.js
Due: backend, frontend, plugin

Fix MiniMax OAuth timing and region handling
  packages/backend/src/routing/minimax-oauth.controller.spec.ts
  packages/backend/src/routing/minimax-oauth.controller.ts
  packages/backend/src/routing/minimax-oauth.service.spec.ts
  packages/backend/src/routing/minimax-oauth.service.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/api.test.ts
  packages/openclaw-plugin/subscription-capabilities/index.js
  packages/subscription-capabilities/index.js
Due: backend, frontend

Add changeset for MiniMax OAuth flow
  .changeset/fuzzy-roses-pretend.md
Due: none

Fix MiniMax changeset format
  .changeset/fuzzy-roses-pretend.md
Due: none

Address Cubic MiniMax follow-ups
  .changeset/fuzzy-roses-pretend.md
  packages/backend/src/routing/minimax-oauth.controller.spec.ts
  packages/backend/src/routing/minimax-oauth.controller.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/openai-oauth.types.spec.ts
  packages/backend/src/routing/openai-oauth.types.ts
  packages/backend/src/routing/provider-base-url.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/openclaw-plugin/__tests__/subscription.test.ts
  packages/openclaw-plugin/src/subscription.ts
  packages/openclaw-plugin/subscription-capabilities/index.d.ts
  packages/openclaw-plugin/subscription-capabilities/index.js
  packages/subscription-capabilities/index.d.ts
  packages/subscription-capabilities/index.js
Due: backend, frontend, plugin

Finish Cubic MiniMax follow-ups
  packages/backend/src/routing/minimax-oauth.controller.spec.ts
  packages/backend/src/routing/minimax-oauth.controller.ts
  packages/backend/src/routing/minimax-oauth.service.spec.ts
  packages/backend/src/routing/minimax-oauth.service.ts
Due: backend

Fix local-mode SPA refresh fallback
  packages/backend/src/app.module.spec.ts
  packages/backend/src/app.module.ts
Due: backend

Add coverage for MiniMax device-code flows
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/openclaw-plugin/__tests__/subscription-capabilities.test.ts
  packages/openclaw-plugin/__tests__/subscription.test.ts
Due: none

Address Cubic MiniMax review findings
  packages/backend/src/routing/minimax-oauth.service.spec.ts
  packages/backend/src/routing/minimax-oauth.service.ts
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: backend, frontend

Fix remaining MiniMax and subscription review issues
  packages/backend/src/routing/minimax-oauth.service.spec.ts
  packages/backend/src/routing/minimax-oauth.service.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/provider-base-url.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/openclaw-plugin/__tests__/subscription.test.ts
  packages/openclaw-plugin/src/subscription.ts
Due: backend, frontend, plugin

fix(proxy): preserve Codex subscription instructions
  packages/backend/src/routing/proxy/__tests__/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
Due: backend

fix(routing): pass tool metadata into scorer
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

chore: add changeset for tool-aware routing fix
  .changeset/fix-tool-aware-routing.md
Due: none

chore: add changeset for Codex subscription fix
  .changeset/fix-codex-subscription-instructions.md
Due: none

fix: normalize DeepSeek max_tokens
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

chore: add changeset for DeepSeek max_tokens fix
  .changeset/deepseek-max-tokens.md
Due: none

fix: trigger fallbacks on provider transport failures
  .changeset/green-lamps-relax.md
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix(routing): prevent cross-auth api key fallback
  .changeset/tough-planets-shake.md
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
Due: backend

fix(proxy): normalize mistral tool call ids in fallback payloads
  .changeset/few-cobras-wink.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix(changeset): repair manifest release metadata
  .changeset/tough-planets-shake.md
Due: none
