Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

feat: add message status filter
  .changeset/messages-status-filter.md
  packages/backend/src/analytics/controllers/messages.controller.spec.ts
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: backend, frontend

feat: add NousResearch subscription
  .changeset/nous-subscription.md
  packages/backend/src/common/utils/cost-calculator.spec.ts
  packages/backend/src/common/utils/cost-calculator.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/stream-writer.ts
  packages/frontend/public/icons/providers/nousresearch.svg
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/providers.ts
  packages/shared/src/subscription/configs.ts
Due: backend, frontend

feat: add Pioneer provider
  .changeset/pioneer-provider.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/public/icons/pioneer.svg
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/provider-inference.spec.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/provider-inference.ts
  packages/shared/src/providers.ts
Due: backend, frontend

feat: route explicit model IDs
  .changeset/v1-model-routing.md
  packages/backend/src/routing/proxy/__tests__/openai-model-id.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/openai-model-id.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

refactor: use modelparams package catalog
  .changeset/modelparams-package-catalog.md
  docs/model-parameters-schema.md
  package-lock.json
  packages/backend/package.json
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/mps-catalog-snapshot.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
Due: backend

feat: add Codex CLI as a coding-assistant agent platform
  .changeset/codex-cli-agent-platform.md
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
  packages/frontend/public/icons/providers/codex.svg
  packages/frontend/src/components/CodexSetup.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/tests/components/CodexSetup.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
Due: backend, frontend

test: cover modelparams subscription suffix lookup
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
Due: backend

feat: add Mistral Vibe subscription
  .changeset/mistral-vibe-subscription.md
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend, frontend

test: cover Pioneer catalog fallbacks
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
Due: backend

feat: add Auto-fix early access card and waitlist modal
  .changeset/autofix-waitlist.md
  packages/backend/src/app.module.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1796000000000-AddAutofixWaitlist.spec.ts
  packages/backend/src/database/migrations/1796000000000-AddAutofixWaitlist.ts
  packages/backend/src/entities/tenant.entity.ts
  packages/backend/src/waitlist/waitlist.controller.spec.ts
  packages/backend/src/waitlist/waitlist.controller.ts
  packages/backend/src/waitlist/waitlist.module.ts
  packages/backend/test/helpers.ts
  packages/frontend/public/logotype-dark.svg
  packages/frontend/public/logotype-white.svg
  packages/frontend/src/components/AutofixModal.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/api/waitlist.ts
  packages/frontend/src/styles/modals.css
  packages/frontend/tests/components/AutofixModal.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/services/api/waitlist.test.ts
Due: backend, frontend

fix: show direct model overrides in messages
  .changeset/direct-message-label.md
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/telemetry/payload-builder.service.spec.ts
  packages/backend/src/telemetry/payload-builder.service.ts
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/src/styles/data.css
  packages/frontend/tests/components/MessageDetails.test.tsx
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/shared/src/tiers.ts
Due: backend, frontend

chore: use the official OpenAI mark for the Codex icon
  packages/frontend/public/icons/providers/codex.svg
Due: none

feat: update OpenAI SDK shipped modal
  .changeset/openai-sdk-shipped-modal.md
  packages/frontend/src/components/WhatsNewModal.tsx
  packages/frontend/tests/components/WhatsNewModal.test.tsx
Due: frontend

feat: add Auto-fix early access card and waitlist modal (#2357)
  .changeset/autofix-waitlist.md
  packages/backend/src/app.module.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1796000000000-AddAutofixWaitlist.spec.ts
  packages/backend/src/database/migrations/1796000000000-AddAutofixWaitlist.ts
  packages/backend/src/entities/tenant.entity.ts
  packages/backend/src/waitlist/waitlist.controller.spec.ts
  packages/backend/src/waitlist/waitlist.controller.ts
  packages/backend/src/waitlist/waitlist.module.ts
  packages/backend/test/helpers.ts
  packages/frontend/public/logotype-dark.svg
  packages/frontend/public/logotype-white.svg
  packages/frontend/src/components/AutofixModal.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/api/waitlist.ts
  packages/frontend/src/styles/modals.css
  packages/frontend/tests/components/AutofixModal.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/services/api/waitlist.test.ts
Due: backend, frontend

feat: add Antigravity coding agent
  .changeset/antigravity-coding-agent.md
  packages/frontend/public/icons/providers/antigravity.svg
  packages/frontend/src/components/AntigravitySetup.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/tests/components/AgentTypeGrid.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
Due: frontend

fix(codex): wire Manifest as a Codex profile, not the global default
  packages/frontend/src/components/CodexSetup.tsx
  packages/frontend/tests/components/CodexSetup.test.tsx
Due: frontend

feat: support multiple API keys for custom providers
  packages/backend/src/routing/custom-provider/custom-provider.controller.ts
  packages/backend/src/routing/dto/custom-provider.dto.ts
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/services/api/routing.ts
Due: backend, frontend

fix: update tests for custom provider multi-key response shape
  package-lock.json
  packages/backend/src/routing/custom-provider.controller.spec.ts
  packages/frontend/src/services/api/routing.ts
Due: backend, frontend

feat: add same-provider key rotation on failure (tryAlternateKeys)
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

feat: add Overview social banner
  .changeset/news-banner.md
  .changeset/overview-social-banner.md
  packages/frontend/public/news/best-ai-subscription.jpg
  packages/frontend/src/components/NewsBanner.tsx
  packages/frontend/src/components/SocialFollowBanner.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/services/news.ts
  packages/frontend/src/styles/overview.css
  packages/frontend/tests/components/NewsBanner.test.tsx
  packages/frontend/tests/components/SocialFollowBanner.test.tsx
  packages/frontend/tests/services/news.test.ts
Due: frontend

fix: make dashboard message totals agree across views
  .changeset/message-count-consistency.md
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/agent-analytics.service.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/provider-usage.service.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/test/message-count-consistency.e2e-spec.ts
Due: backend

fix: reflect in-flight state on connection Disconnect button
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

feat: serve curated cross-tenant error pages for marketing site
  .changeset/public-error-pages.md
  packages/backend/src/app.module.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1797000000000-AddPublicErrorPages.ts
  packages/backend/src/entities/public-error-page.entity.ts
  packages/backend/src/error-pages/dto/upsert-error-page.dto.ts
  packages/backend/src/error-pages/error-cluster-seeder.service.spec.ts
  packages/backend/src/error-pages/error-cluster-seeder.service.ts
  packages/backend/src/error-pages/error-discovery.service.spec.ts
  packages/backend/src/error-pages/error-discovery.service.ts
  packages/backend/src/error-pages/error-pages.module.ts
  packages/backend/src/error-pages/error-pages.service.spec.ts
  packages/backend/src/error-pages/error-pages.service.ts
  packages/backend/src/error-pages/internal-error-pages.controller.spec.ts
  packages/backend/src/error-pages/internal-error-pages.controller.ts
  packages/backend/src/error-pages/public-error-pages.controller.spec.ts
  packages/backend/src/error-pages/public-error-pages.controller.ts
  packages/backend/test/helpers.ts
Due: backend

fix: polish overview banner and remove WhatsNew modal
  packages/frontend/src/App.tsx
  packages/frontend/src/components/WhatsNewModal.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/overview.css
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/whatsnew.css
  packages/frontend/tests/components/WhatsNewModal.test.tsx
Due: frontend

chore: seed a full demo error catalog for local dev
  packages/backend/src/error-pages/error-page-seed-data.spec.ts
  packages/backend/src/error-pages/error-page-seed-data.ts
  packages/backend/src/error-pages/error-page-seeder.service.spec.ts
  packages/backend/src/error-pages/error-page-seeder.service.ts
  packages/backend/src/error-pages/error-pages.module.ts
Due: backend

fix: recover faster from provider rate-limit cooldowns
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
Due: backend

fix: keep custom-provider errors out of public error pages
  packages/backend/src/error-pages/error-pages.service.spec.ts
  packages/backend/src/error-pages/error-pages.service.ts
Due: backend

fix: polish overview banner and remove WhatsNew modal (#2370)
  packages/frontend/src/App.tsx
  packages/frontend/src/components/WhatsNewModal.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/overview.css
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/whatsnew.css
  packages/frontend/tests/components/WhatsNewModal.test.tsx
Due: frontend

refactor: drop unreachable null-guard in custom-provider check
  packages/backend/src/error-pages/error-pages.service.ts
Due: backend

feat: separate provider errors from Manifest errors in the dashboard
  .changeset/error-origin-taxonomy.md
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/errors.controller.ts
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/error-breakdown.service.spec.ts
  packages/backend/src/analytics/services/error-breakdown.service.ts
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1797000000000-AddErrorClassification.ts
  packages/backend/src/database/seed-messages.spec.ts
  packages/backend/src/database/seed-messages.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/test/errors-breakdown.e2e-spec.ts
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/src/services/api/messages.ts
  packages/frontend/src/services/formatters.ts
  packages/frontend/src/styles/data.css
  packages/frontend/tests/components/MessageDetails.test.tsx
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/services/formatters.test.ts
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
  packages/shared/src/index.ts
Due: backend, frontend

fix: unwrap CodeAssist Playground Gemini streams
  .changeset/gemini-playground-codeassist-stream.md
  packages/backend/src/playground/playground-stream.spec.ts
  packages/backend/src/playground/playground-stream.ts
Due: backend

fix: address PR review feedback
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/database/seed-messages.spec.ts
  packages/backend/src/database/seed-messages.ts
Due: backend

test: cover the errors breakdown controller
  packages/backend/src/analytics/controllers/errors.controller.spec.ts
Due: backend

perf: make the error-classification backfill ride the error index
  packages/backend/src/database/migrations/1798000000000-AddErrorClassification.ts
Due: backend

feat: show subscription usage limits
  packages/backend/src/routing/routing.module.ts
  packages/backend/src/routing/subscription-usage.controller.ts
  packages/backend/src/routing/subscription-usage.service.spec.ts
  packages/backend/src/routing/subscription-usage.service.ts
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/api/providers.ts
Due: backend, frontend

Polish subscription usage meters
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
Due: frontend

Tighten subscription usage meters
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
Due: frontend

Color subscription limits by projected pace
  packages/backend/src/routing/subscription-usage.service.spec.ts
  packages/backend/src/routing/subscription-usage.service.ts
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
Due: backend, frontend

Show subscription limits on connection detail
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
Due: frontend

Polish subscription detail pace text
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
Due: frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
