Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

docs: add Product Hunt badge to README
  README.md
Due: none

fix: address cubic review follow-ups
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: backend

fix: address cubic validation follow-ups
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/src/hooks.ts
Due: frontend, plugin

fix: resolve meta titles not updating during navigation
  .changeset/fix-meta-titles-regression.md
  packages/frontend/src/index.tsx
Due: frontend

fix: align clean branch validation follow-ups
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: backend

feat(frontend): add Product Hunt popup CTA for launch (#1238)
  .changeset/product-hunt-upvote-popup.md
  README.md
  packages/frontend/src/App.tsx
  packages/frontend/src/components/ProductHuntUpvoteModal.tsx
  packages/frontend/src/styles/product-hunt.css
  packages/frontend/src/styles/theme.css
  packages/frontend/src/vite-env.d.ts
  packages/frontend/tests/components/ProductHuntUpvoteModal.test.tsx
Due: frontend

Update README with Product Hunt badge
  README.md
Due: none

Update README with Product Hunt badge (#1242)
  README.md
Due: none

test: close codecov patch gaps
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/__tests__/subscription-capabilities.test.ts
  packages/openclaw-plugin/subscription-capabilities/index.js
  packages/subscription-capabilities/index.js
Due: none

fix(frontend): bundle product hunt popup badge
  .changeset/product-hunt-badge-fix.md
  packages/frontend/src/assets/product-hunt-featured.svg
  packages/frontend/src/components/ProductHuntUpvoteModal.tsx
  packages/frontend/tests/components/ProductHuntUpvoteModal.test.tsx
Due: frontend

Add Kimi Code subscription provider
  .changeset/add-zai-subscription.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/common/constants/providers.ts
  packages/backend/src/common/utils/provider-inference.spec.ts
  packages/backend/src/common/utils/provider-inference.ts
  packages/backend/src/routing/model-discovery/model-fallback.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/frontend/tests/services/routing-utils.test.ts
  packages/openclaw-plugin/__tests__/subscription-capabilities.test.ts
  packages/openclaw-plugin/subscription-capabilities/index.js
  packages/subscription-capabilities/index.js
Due: backend, frontend

fix(backend): allow product hunt badge images in CSP
  .changeset/product-hunt-csp-fix.md
  packages/backend/src/common/constants/csp.constants.ts
  packages/backend/src/main.spec.ts
  packages/backend/src/main.ts
Due: backend

fix(frontend): fix Product Hunt badge image and styling in modal
  .changeset/fix-ph-modal-badge.md
  packages/backend/src/main.ts
  packages/frontend/src/styles/product-hunt.css
Due: backend, frontend

fix: handle qualified Z.ai model ids
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/common/utils/provider-inference.spec.ts
  packages/backend/src/common/utils/provider-inference.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/tests/services/routing-utils.test.ts
Due: backend, frontend

Add NanoGPT subscription provider
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/common/constants/providers.ts
  packages/backend/src/common/utils/provider-inference.spec.ts
  packages/backend/src/common/utils/provider-inference.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/stream-writer.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/tests/services/providers.test.ts
  packages/frontend/tests/services/routing-utils.test.ts
  packages/openclaw-plugin/__tests__/subscription-capabilities.test.ts
  packages/openclaw-plugin/subscription-capabilities/index.js
  packages/subscription-capabilities/index.js
Due: backend, frontend

fix: qualify NanoGPT subscription models
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
  packages/frontend/tests/services/routing-utils.test.ts
  packages/openclaw-plugin/__tests__/subscription-capabilities.test.ts
  packages/openclaw-plugin/subscription-capabilities/index.js
  packages/subscription-capabilities/index.js
Due: backend

fix(frontend): hide GitHub Copilot from API Keys provider tab
  .changeset/sunny-eggs-guess.md
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/providers.test.ts
Due: frontend

fix: use double quotes in changeset for CI compatibility
  .changeset/sunny-eggs-guess.md
Due: none

fix(frontend): show routing instruction modal for all provider types and display connected provider name
  .changeset/fix-routing-modal-ux.md
  package-lock.json
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/tests/components/RoutingInstructionModal.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/openclaw-plugin/public/icons/providers/moonshot.svg
  packages/openclaw-plugin/public/index.html
Due: frontend

test(frontend): add test for instruction modal close clearing provider state
  packages/frontend/tests/pages/Routing.test.tsx
Due: none

fix(frontend): show routing instruction modal for all provider types (#1251)
  .changeset/fix-routing-modal-ux.md
  package-lock.json
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/tests/components/RoutingInstructionModal.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/openclaw-plugin/public/icons/providers/moonshot.svg
  packages/openclaw-plugin/public/index.html
Due: frontend

Remove Product Hunt badge from README
  README.md
Due: none

Remove Product Hunt badge from README (#1252)
  README.md
Due: none

fix(frontend): update provider icons and routing modal layout
  .changeset/design-fixes.md
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/styles/routing-modal.css
Due: frontend

fix(frontend): update provider icons and routing modal layout (#1253)
  .changeset/design-fixes.md
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/styles/routing-modal.css
Due: frontend

fix: repair changeset frontmatter
  .changeset/five-years-wait.md
Due: none

fix: update GitHub Copilot model names to match current API catalog
  .changeset/fix-copilot-models.md
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/services/routing-utils.test.ts
  packages/openclaw-plugin/subscription-capabilities/index.js
  packages/subscription-capabilities/index.js
Due: backend, frontend

feat: add dynamic model discovery for GitHub Copilot
  .changeset/copilot-dynamic-discovery.md
  packages/backend/src/routing/model-discovery/model-discovery.module.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
Due: backend

fix: handle tool calls in Anthropic streaming responses
  .changeset/fix-anthropic-streaming-tool-calls.md
  package-lock.json
Due: none

feat: add provider plugin metadata for ClawHub listing
  .changeset/clawhub-provider-metadata.md
  packages/openclaw-plugin/openclaw.plugin.json
  packages/openclaw-plugin/package.json
Due: none

fix(frontend): resolve 404 pages after creating a new agent
  .changeset/fix-404-agent-creation.md
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/frontend/src/components/AgentGuard.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/services/recent-agents.ts
  packages/frontend/tests/components/AgentGuard.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
  packages/frontend/tests/services/recent-agents.test.ts
Due: backend, frontend

fix: allow clearRecentAgent to run even for recently created agents
  packages/frontend/src/components/AgentGuard.tsx
Due: frontend

feat: support multiple agents in local mode
  .changeset/multi-agent-local.md
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/frontend/src/components/AgentGuard.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/tests/components/AgentGuard.test.tsx
  packages/frontend/tests/components/Header.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: backend, frontend

chore: remove Product Hunt launch modal and badge
  .changeset/remove-product-hunt.md
  README.md
  packages/backend/src/main.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/ProductHuntUpvoteModal.tsx
  packages/frontend/src/styles/product-hunt.css
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/ProductHuntUpvoteModal.test.tsx
Due: backend, frontend

feat(frontend): add routing setup step to agent onboarding wizard
  .changeset/onboarding-routing.md
  packages/backend/src/database/database.module.ts
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/components/SetupModal.tsx
  packages/frontend/src/components/SetupStepProviders.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/styles/overview.css
  packages/frontend/tests/components/ProviderSelectContent-devicelogin.test.tsx
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
  packages/frontend/tests/components/SetupModal.test.tsx
  packages/frontend/tests/components/SetupStepProviders.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/openclaw-plugin/public/index.html
Due: backend, frontend

Remove ClawCon banner from README
  .changeset/khaki-foxes-thank.md
  README.md
Due: none

Update package-lock.json
  package-lock.json
Due: none

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
