Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

docs: make analytics spec canonical
  AGENTS.md
  docs/analytics-dashboard-spec.md
  docs/analytics-glossary.md
  docs/glossary.md
Due: none

docs: strip frontend specs from analytics doc and rename to glossary.md
  docs/analytics-dashboard-spec.md
Due: none

feat: connection multiselect replaces the provider filter on the requests log
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/frontend/src/components/MultiSelect.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: backend, frontend

feat: connection cards deep-link the requests log with correct scoping
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

feat: View more links on stat cards, failed-requests KPI on the agent page
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/styles/analytics-overview.css
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
Due: frontend

docs: auto-fix tutorial article draft with video scripts
  docs/auto-fix-tutorial-article.md
Due: none

feat: recovery marks on the requests filter options
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/styles/data.css
Due: frontend

feat: attempt-status facet on the requests log
  packages/backend/src/analytics/controllers/messages.controller.spec.ts
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: backend, frontend

fix: honest recovery select, permanent All row, responsive filter header
  packages/frontend/src/components/MultiSelect.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

fix: attempt-status filter is a plain select, not a multiselect
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

feat: doctor release announcement email, sent once to the waitlist after deploy
  packages/backend/.env.example
  packages/backend/src/database/migrations/1801100000000-AddAnnouncementSends.ts
  packages/backend/src/notifications/emails/doctor-release.spec.ts
  packages/backend/src/notifications/emails/doctor-release.tsx
  packages/backend/src/notifications/notifications.module.ts
  packages/backend/src/notifications/services/doctor-release-announcement.service.spec.ts
  packages/backend/src/notifications/services/doctor-release-announcement.service.ts
Due: backend

feat: recovery attempts filter becomes a multiselect
  packages/backend/src/analytics/controllers/messages.controller.spec.ts
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: backend, frontend

feat: release email header and CTAs match the design system
  docs/doctor-release-checklist.md
  packages/backend/src/notifications/emails/doctor-release.spec.ts
  packages/backend/src/notifications/emails/doctor-release.tsx
  packages/frontend/public/autofix-icon-email.png
Due: backend

feat: rename applied methods to recovery attempts across the requests log
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

feat: period filter on the requests log, long ranges gated to Pro
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/ProviderUsageLive.test.tsx
Due: frontend

feat: harness table and agent KPI cards deep-link the requests log
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
Due: frontend

feat: failed-attempts column on the Overview provider connections table
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
Due: frontend

docs: doctor release checklist (rollout gate, announcement, rehearsals)
  docs/doctor-release-checklist.md
Due: none

fix: multiselect checkbox centered on its text line, table count links in ink
  packages/frontend/src/components/MultiSelect.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/styles/custom-select.css
  packages/frontend/src/styles/theme.css
Due: frontend

fix: connection filter options read on one line
  packages/frontend/src/components/MultiSelect.tsx
  packages/frontend/src/styles/custom-select.css
Due: frontend

feat: recovery-methods filter name, HTTP status leads the attempts chart
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

fix: avoid announcement migration timestamp collision
  docs/doctor-release-checklist.md
  packages/backend/src/database/migrations/1801200000000-AddAnnouncementSends.spec.ts
  packages/backend/src/database/migrations/1801200000000-AddAnnouncementSends.ts
Due: backend

feat: warn on reset-password page when no email provider is configured (#2519)
  .changeset/reset-password-email-notice.md
  packages/backend/src/notifications/services/email-providers/send-email.spec.ts
  packages/backend/src/notifications/services/email-providers/send-email.ts
  packages/backend/src/setup/setup.controller.spec.ts
  packages/backend/src/setup/setup.controller.ts
  packages/backend/src/setup/setup.service.spec.ts
  packages/backend/src/setup/setup.service.ts
  packages/backend/test/setup.e2e-spec.ts
  packages/frontend/src/pages/ResetPassword.tsx
  packages/frontend/src/services/setup-status.ts
  packages/frontend/src/styles/auth.css
  packages/frontend/tests/pages/ResetPassword.test.tsx
  packages/frontend/tests/services/setup-status.test.ts
Due: backend, frontend

feat: agent KPI cards wear their series colours, failed card moves last
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/styles/analytics-overview.css
Due: frontend

docs: keep request model documentation scoped
  docs/auto-fix-tutorial-article.md
  docs/autofix-self-healing-poc.md
  docs/doctor-release-checklist.md
Due: none

test: cover provider multi-select behavior
  packages/frontend/tests/components/MultiSelect.test.tsx
Due: none

fix: fallback KPI card goes green, yellow value on top
  packages/frontend/src/styles/analytics-overview.css
Due: frontend

fix: table count links become clickable tags, fallback value reads success
  packages/frontend/src/styles/analytics-overview.css
  packages/frontend/src/styles/theme.css
Due: frontend

docs: align fallback card style comment
  packages/frontend/src/styles/analytics-overview.css
Due: frontend

feat: add kimi-k3 to Kimi Coding Plan knownModels (moonshot)
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

feat: layered gradient backgrounds on the three accent KPI cards
  packages/frontend/src/styles/analytics-overview.css
Due: frontend

fix: failed card label in ink, trend pill aligned with the value bottom
  packages/frontend/src/styles/analytics-overview.css
Due: frontend

fix: handle Apple Containers service upgrades
  deploy/apple-containers/TUTORIAL.md
  deploy/apple-containers/start.sh
Due: none

fix: address final analytics review findings
  packages/frontend/src/styles/analytics-overview.css
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/MultiSelect.test.tsx
Due: frontend

feat: add kimi-k3 to Kimi Coding Plan knownModels (moonshot) (#2520)
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

feat: add Apple Containers support (#2518)
  deploy/apple-containers/TUTORIAL.md
  deploy/apple-containers/start.sh
Due: none

chore: sync modelparams to 0.0.15
  .changeset/sync-modelparams-0-0-15.md
  package-lock.json
  packages/backend/package.json
Due: none

chore: sync modelparams to 0.0.15 (#2521)
  .changeset/sync-modelparams-0-0-15.md
  package-lock.json
  packages/backend/package.json
Due: none
