Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

feat: hover tooltip on stacked bars, agent multi-select dropdown, cursor snap
  packages/frontend/src/components/MultiAgentTokenChart.tsx
  packages/frontend/src/components/ProviderChartCard.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/styles/cards.css
  packages/frontend/src/styles/charts.css
Due: frontend

feat: per-agent messages chart, session-persisted filters, metadata redesign, scroll panels
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/frontend/src/components/MultiAgentTokenChart.tsx
  packages/frontend/src/components/ProviderChartCard.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/styles/cards.css
  packages/frontend/src/styles/charts.css
Due: backend, frontend

feat: cost chart tab for BYOK, model usage table, layout restructure
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/frontend/src/components/MultiAgentTokenChart.tsx
  packages/frontend/src/components/ProviderChartCard.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/styles/charts.css
Due: backend, frontend

fix: enforce 24px card spacing across all provider pages
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
Due: frontend

feat: rich Global Overview dashboard + per-agent Overview tab
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/frontend/src/components/GlobalOverviewSkeleton.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/src/pages/AgentOverview.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/styles/overview.css
Due: backend, frontend

fix: price cached input tokens correctly
  .changeset/deepseek-cache-read-cost.md
  packages/backend/src/common/utils/cost-calculator.spec.ts
  packages/backend/src/common/utils/cost-calculator.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

fix: show account labels on custom routing tiers
  packages/backend/src/routing/header-tiers/__tests__/header-tier.service.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.ts
  packages/backend/src/routing/header-tiers/header-tier.service.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/RouteKeyChip.tsx
  packages/frontend/src/components/RoutingModals.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/api/header-tiers.ts
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/RoutingModals.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
  packages/frontend/tests/services/header-tiers-api.test.ts
  packages/frontend/tests/services/routing-utils.test.ts
Due: backend, frontend

ci: auto-sync fork with upstream daily
  .github/workflows/sync-upstream.yml
Due: none

ci: add GHCR publish workflow
  .github/workflows/publish-ghcr.yml
Due: none

fix(ci): correct checkout action SHA
  .github/workflows/publish-ghcr.yml
Due: none

ci: skip Release workflow on forks
  .github/workflows/release.yml
Due: none

ci: skip CI workflow on forks
  .github/workflows/ci.yml
Due: none

ci: publish staging image tag on push to staging branch
  .github/workflows/publish-ghcr.yml
Due: none

fix(ci): correct build-push action SHA
  .github/workflows/publish-ghcr.yml
Due: none

ci: auto-rebase staging onto main after upstream sync
  .github/workflows/sync-upstream.yml
Due: none

feat(frontend): unify routing tier drag-drop across all tabs
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/RoutingPrimaryProviderIcon.tsx
  packages/frontend/src/components/RoutingTierModelSlots.tsx
  packages/frontend/src/components/routing-tier-drag-drop.ts
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/routing-model-utils.ts
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/routing-tier-drag-drop.test.ts
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
  packages/frontend/tests/services/routing-model-utils.test.ts
Due: frontend

fix(frontend): remove underline from anchor-based buttons
  packages/frontend/src/styles/controls.css
Due: frontend

feat(frontend): let users customize agent sidebar navigation
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/components/SidebarPreferencesSection.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/services/sidebar-nav.ts
  packages/frontend/src/services/sidebar-preferences.ts
  packages/frontend/src/styles/agents.css
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/components/SidebarPreferencesSection.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/services/sidebar-preferences.test.ts
Due: frontend

feat(frontend): add dedicated Providers page with URL-backed subviews
  packages/frontend/src/components/CopilotDeviceLogin.tsx
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/LocalServerDetailView.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/components/ProviderSubviewHeader.tsx
  packages/frontend/src/components/RoutingModals.tsx
  packages/frontend/src/components/playground/PlaygroundEmptyState.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/ConnectProvider.tsx
  packages/frontend/src/pages/FreeModels.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Playground.tsx
  packages/frontend/src/pages/Providers.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/services/routing-params.ts
  packages/frontend/src/services/sidebar-nav.ts
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/PlaygroundEmptyState.test.tsx
  packages/frontend/tests/components/RoutingModals.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/ConnectProvider.test.tsx
  packages/frontend/tests/pages/FreeModels.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/Playground.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

ci: remove publish-ghcr.yml (now lives on main, branch-aware)
  .github/workflows/publish-ghcr.yml
Due: none

ci: make publish-ghcr.yml branch-aware (main→latest, staging→staging)
  .github/workflows/publish-ghcr.yml
Due: none

feat: overview polish, OAuth dedup, multi-column tooltip, sidebar accordion
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/user-providers.controller.ts
  packages/frontend/src/components/MultiAgentTokenChart.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/AgentOverview.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
  packages/frontend/src/styles/cards.css
  packages/frontend/src/styles/charts.css
Due: backend, frontend

feat: add Fireworks AI provider
  .changeset/fireworks-ai-provider.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/model-capabilities.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/public/icons/fireworks.svg
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderApiKeyTab.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/providers.ts
Due: backend, frontend

fix: guard Fireworks model pagination
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

feat: add Kimi Coding Plan subscription
  .changeset/kimi-coding-plan.md
  README.md
  docker/DOCKER_README.md
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/provider-hooks.ts
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend, frontend

fix: keep provider-specific models selectable
  .changeset/deepseek-model-picker-dedupe.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
Due: backend

fix: align agent count with first row of platform tags
  packages/frontend/src/pages/GlobalOverview.tsx
Due: frontend

feat: cost everywhere, model display with provider icons, subtitle fix
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/frontend/src/pages/AgentOverview.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/services/api/analytics.ts
Due: backend, frontend

feat: Wave 2 — group by selector, full-width tables, stacked bars everywhere
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/frontend/src/components/AuthBadge.tsx
  packages/frontend/src/components/ProviderChartCard.tsx
  packages/frontend/src/pages/AgentOverview.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/styles/routing.css
  packages/frontend/src/styles/theme.css
Due: backend, frontend

feat: Wave 3 — agent filter on Messages, auth type colors, uniform filters
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/MessageLog.tsx
Due: frontend

docs: show how to call Manifest from the OpenAI SDK
  README.md
Due: none

docs: clarify OpenCode Zen model prefixing
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

fix(copilot): filter models to only those with model_picker_enabled
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/shared/src/subscription/configs.ts
Due: backend

fix(dev): load .env in start:dev via NODE_OPTIONS
  packages/backend/package.json
Due: none

feat: upgrade MiniMax subscription models to M3
  .changeset/minimax-m3-subscription.md
  README.md
  packages/backend/src/common/utils/provider-inference.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-prices/model-name-normalizer.spec.ts
  packages/backend/src/model-prices/model-name-normalizer.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/services/routing-utils.test.ts
  packages/shared/__tests__/provider-inference.spec.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend, frontend

feat: Wave 4 — rename Guardrails to Limits, breadcrumb, platform icon, token labels
  packages/frontend/src/components/TokenChart.tsx
  packages/frontend/src/pages/AgentDetail.tsx
Due: frontend

fix(ci): use merge instead of rebase to keep staging in sync with main
  .github/workflows/sync-upstream.yml
Due: none

fix(frontend): restore routing key picker wiring
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/RoutingModals.tsx
Due: frontend

fix: refresh invalidated OpenAI OAuth tokens
  .changeset/openai-oauth-invalidated-refresh.md
  packages/backend/src/routing/oauth/redirect-pkce-oauth.base.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
