Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

feat: sync manifest subscription model lists (2026-07-13)
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

chore: refresh CLAUDE.md to match current codebase
  CLAUDE.md
Due: none

fix: make cloud onboarding a standalone, navigable wizard
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/Playground.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Welcome.tsx
  packages/frontend/src/styles/playground.css
  packages/frontend/src/styles/welcome.css
Due: frontend

refactor: rename "messages" to "requests" across the entire frontend UI
  package-lock.json
  packages/frontend/src/components/DuplicateAgentModal.tsx
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/OverviewSkeleton.tsx
  packages/frontend/src/components/ProviderChartCard.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
  packages/frontend/tests/components/DuplicateAgentModal.test.tsx
  packages/frontend/tests/components/MessageDetails.autofix.test.tsx
  packages/frontend/tests/components/MessageDetails.test.tsx
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

refactor: remove Requests tab from consumption chart card
  packages/frontend/src/components/OverviewSkeleton.tsx
  packages/frontend/src/components/ProviderChartCard.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

refactor: restyle ReliabilityCard to match ProviderChartCard design
  packages/frontend/src/components/ReliabilityCard.tsx
  packages/frontend/src/components/ReliabilityChart.tsx
  packages/frontend/src/styles/reliability-card.css
Due: frontend

feat(analytics): add auto_fixed count to errors/breakdown
  .changeset/autofix-count-errors-breakdown.md
  packages/backend/src/analytics/services/error-breakdown.service.spec.ts
  packages/backend/src/analytics/services/error-breakdown.service.ts
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/services/api/analytics.test.ts
Due: backend, frontend

feat: add auto-fix KPI cards above reliability chart
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
Due: frontend

fix: KPI trend badges inline next to value, drop pp notation
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/styles/analytics-overview.css
Due: frontend

chore: bump modelparams to 0.0.13
  .changeset/bump-modelparams-0-0-13.md
  package-lock.json
  packages/backend/package.json
Due: none

feat: restore Requests as first tab in consumption chart card
  packages/frontend/src/components/ProviderChartCard.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

feat: unify chart cards into single 4-tab component
  packages/frontend/src/components/UnifiedChartCard.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

refactor: remove global group-by and filter-select from page headers
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

refactor: simplify KPI cards into compact single-line summary
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/styles/analytics-overview.css
Due: frontend

feat: add error class breakdown card
  packages/frontend/src/components/ErrorClassCard.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/styles/analytics-overview.css
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

refactor: side-by-side layout — error classes left, provider cards right
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/styles/analytics-overview.css
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

fix: add 'autofix' dimension to timeseries endpoint
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/frontend/src/components/ReliabilityChart.tsx
Due: backend, frontend

feat: add per-tab series filters (By provider / By harness)
  packages/frontend/src/components/UnifiedChartCard.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
Due: frontend

fix: add top padding to chart subtitle bar for consistent spacing
  packages/frontend/src/styles/theme.css
Due: frontend

refactor: use pill buttons for group-by, standard 3px border-radius
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/styles/theme.css
Due: frontend

fix: always show FilterSelect with min-width to prevent layout jump
  packages/frontend/src/pages/GlobalOverview.tsx
Due: frontend

fix: filter button border-radius to var(--radius), keep white text on hover when active
  packages/frontend/src/styles/theme.css
Due: frontend

feat: fix Failed requests tab + add By request status filter
  packages/backend/src/analytics/controllers/autofix-analytics.controller.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/frontend/src/components/UnifiedChartCard.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: backend, frontend

fix: filter buttons use success color when active/hovered
  packages/frontend/src/styles/theme.css
Due: frontend

fix: filter buttons fixed height 32px, border-radius 8px
  packages/frontend/src/styles/theme.css
Due: frontend

fix: success bars use --success teal, errors stay --destructive red
  packages/frontend/src/components/ReliabilityChart.tsx
Due: frontend

fix: disable toggle in FilterSelect when only 1 item
  packages/frontend/src/components/FilterSelect.tsx
Due: frontend

fix: disabled FilterSelect item shows 50% opacity, no pointer cursor
  packages/frontend/src/styles/filter-select.css
Due: frontend

feat: merge PR #2490 — auto_fixed count in errors/breakdown
  .changeset/autofix-count-errors-breakdown.md
  packages/backend/src/analytics/services/error-breakdown.service.spec.ts
  packages/backend/src/analytics/services/error-breakdown.service.ts
  packages/frontend/src/components/ErrorClassCard.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: backend, frontend

fix: pad ReliabilityChart x-scale by half a bin so edge bars are fully visible
  packages/frontend/src/components/ReliabilityChart.tsx
Due: frontend

fix: filter buttons and active tab border use primary color instead of success
  packages/frontend/src/styles/cards.css
  packages/frontend/src/styles/theme.css
Due: frontend

fix: error class bar chart uses primary color instead of destructive
  packages/frontend/src/styles/analytics-overview.css
Due: frontend

fix: replace false '200' with 'No response' for errors without HTTP status
  packages/backend/src/analytics/services/autofix-stats.service.ts
Due: backend

refactor: KPI cards — success rate + auto-fixed percentage with detail
  packages/frontend/src/components/AutofixKpiCards.tsx
Due: frontend

fix: auto-fixed card uses legend style with colored dots for fixed/not fixed counts
  packages/frontend/src/components/AutofixKpiCards.tsx
Due: frontend

fix: derive errors from total - successes to guarantee coherence
  packages/backend/src/analytics/services/autofix-stats.service.ts
Due: backend

fix: Requests tab total comes from autofix-stats for coherent numbers
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/api/analytics.ts
Due: backend, frontend

refactor: error classes full width, stat cards back in a row
  packages/frontend/src/pages/GlobalOverview.tsx
Due: frontend

fix: stat card labels use font-weight 700 (bold) for consistency
  packages/frontend/src/styles/analytics-overview.css
Due: frontend

fix: show trend badge on Failed requests tab even when count is 0
  packages/frontend/src/components/UnifiedChartCard.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend
