Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

refactor: extract magic context window numbers into named constants
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
Due: backend

test: add unit tests for provider registry SST (100% coverage)
  packages/backend/src/common/constants/providers.spec.ts
Due: backend

fix: attribute supported provider models from OpenRouter pricing data
  CLAUDE.md
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/test/model-prices.e2e-spec.ts
  packages/backend/test/proxy.e2e-spec.ts
Due: backend

refactor: extract provider registry as single source of truth
  CLAUDE.md
  packages/backend/src/common/constants/providers.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/routing/provider-aliases.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

fix: wire PricingSyncService into model discovery for pricing enrichment
  packages/backend/src/routing/model-discovery/model-discovery.module.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
Due: backend

fix: load OpenRouter data before pricing cache on startup
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
Due: backend

fix: resolve provider aliases when looking up OpenRouter pricing prefix
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
Due: backend

fix: handle custom provider models in proxy fallback chain
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: fallback to pricing data when provider /models API is unavailable
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
Due: backend

fix: UI consistency for model names, prices, and provider names
  packages/backend/src/model-prices/model-prices.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/routing-utils.test.ts
Due: backend, frontend

docs: fix inaccurate claim about never using OpenRouter for model lists
  CLAUDE.md
Due: none

fix: deduplicate getAll() — canonical aliases caused duplicate entries
  packages/backend/src/model-prices/model-pricing-cache.service.ts
Due: backend

fix: recalculate tiers after model discovery completes
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
  packages/backend/src/routing/routing.service.ts
Due: backend

fix: keep all OpenRouter models under OpenRouter provider
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/routing/resolve.service.spec.ts
  packages/backend/src/routing/resolve.service.ts
  packages/backend/test/model-prices.e2e-spec.ts
  packages/backend/test/proxy.e2e-spec.ts
  packages/backend/test/routing-flow.e2e-spec.ts
Due: backend

fix: add provider names to manual pricing reference
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/routing/model-discovery/manual-pricing-reference.ts
Due: backend

docs: add Providers & Models architecture section to CLAUDE.md
  CLAUDE.md
Due: none

fix: normalize model name variants when looking up OpenRouter pricing
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
Due: backend

fix: remove model_pricing LEFT JOIN from analytics queries
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
Due: backend

test: add unit tests for model discovery services
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
Due: backend

refactor: remove manual-pricing-reference.ts — all pricing from OpenRouter
  CLAUDE.md
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/routing/model-discovery/manual-pricing-reference.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
Due: backend

fix: merge alibaba and x-ai OpenRouter prefixes into their canonical providers
  packages/backend/src/model-prices/model-pricing-cache.service.ts
Due: backend

fix: await model discovery on provider connect for immediate UI update
  packages/backend/src/routing/routing.controller.ts
Due: backend

test: add coverage for recalculateTiers method
  packages/backend/src/routing/routing.service.spec.ts
Due: backend

test: 100% line coverage for model-pricing-cache and model-discovery services
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
Due: backend

fix: handle streaming tool calls in Anthropic and Google adapters
  .changeset/fix-streaming-tool-calls.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/google-adapter.ts
Due: backend

feat: add expandable message detail logs to Messages page
  .changeset/message-detail-logs.md
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/messages.controller.spec.ts
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/MessageTable.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/styles/data.css
  packages/frontend/tests/components/MessageDetails.test.tsx
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: backend, frontend

feat: show display names and provider icons in model prices table
  .changeset/lean-bright-fc59.md
  packages/frontend/src/components/ModelPricesFilterBar.tsx
  packages/frontend/src/pages/ModelPrices.tsx
  packages/frontend/tests/components/ModelPricesFilterBar.test.tsx
  packages/frontend/tests/pages/ModelPrices.test.tsx
Due: frontend

fix: use double quotes in changeset for CI compatibility
  .changeset/lean-bright-fc59.md
Due: none

fix: prevent stale agent list after deletion
  .changeset/fix-stale-agent-list.md
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/tests/pages/Workspace.test.tsx
  packages/frontend/tests/services/api.test.ts
Due: frontend

fix: improve routing fallback chain resilience and UX
  .changeset/fix-fallback-routing.md
  package-lock.json
  packages/backend/src/routing/proxy/__tests__/fallback-status-codes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/fallback-status-codes.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/services/routing-utils.test.ts
Due: backend, frontend

test: add custom provider fallback path coverage
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
Due: backend

fix: address code quality issues from OpenAI subscription audit
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/routing/openai-oauth.controller.spec.ts
  packages/backend/src/routing/openai-oauth.controller.ts
  packages/backend/src/routing/openai-oauth.service.spec.ts
  packages/backend/src/routing/openai-oauth.service.ts
  packages/backend/src/routing/openai-oauth.types.spec.ts
  packages/backend/src/routing/openai-oauth.types.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing-invalidation.service.ts
  packages/backend/src/routing/routing.module.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/components/ProviderApiKeyTab.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/components/ProviderSubscriptionTab.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingPanels.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/oauth-popup.ts
  packages/frontend/tests/services/oauth-popup.test.ts
Due: backend, frontend

feat: add subscription model discovery with fallback and auth-type dedup
  .changeset/subscription-model-discovery.md
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/model-discovery/model-fallback.ts
  packages/backend/src/routing/model-discovery/model-fetcher.ts
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/backend/src/routing/tier-auto-assign.service.spec.ts
  packages/backend/src/routing/tier-auto-assign.service.ts
  packages/frontend/src/services/api.ts
  packages/subscription-capabilities/index.d.ts
  packages/subscription-capabilities/index.js
Due: backend, frontend

fix: address review feedback
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
Due: backend

docs: mention fallback feature in README "what do you get" section
  .changeset/breezy-cloths-flash.md
  README.md
Due: none

fix: sync openclaw.plugin.json version with package.json
  .changeset/sync-plugin-version.md
  package-lock.json
  package.json
  packages/openclaw-plugin/__tests__/build.test.ts
  packages/openclaw-plugin/openclaw.plugin.json
  scripts/sync-plugin-version.js
Due: none

fix: prevent browser password save prompt on token and API key inputs
  .changeset/fix-token-autosave.md
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/EmailProviderModal.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
