Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix: persist local-mode SQLite by default to prevent key loss on restart
  packages/backend/src/config/app.config.spec.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
Due: backend

fix: unblock plugin install on OpenClaw 2026.3.22+
  .changeset/fix-clawhub-skill-shadow.md
  .github/workflows/release.yml
  README.md
  packages/openclaw-plugins/manifest-model-router/README.md
  packages/openclaw-plugins/manifest/README.md
  packages/openclaw-plugins/manifest/src/index.ts
  skills/manifest/SKILL.md
Due: none

fix: add manifest-model-router changeset
  .changeset/fix-clawhub-skill-shadow.md
Due: none

fix: address review feedback
  README.md
  packages/openclaw-plugins/manifest-model-router/README.md
  packages/openclaw-plugins/manifest/README.md
  skills/manifest/SKILL.md
Due: none

chore: remove obsolete install workaround from READMEs
  .changeset/remove-install-workaround.md
  README.md
  packages/openclaw-plugins/manifest-model-router/README.md
  packages/openclaw-plugins/manifest/README.md
  skills/manifest/SKILL.md
Due: none

fix: update root description and remove inaccurate model registration claim
  package.json
  packages/openclaw-plugins/manifest/README.md
Due: none

fix: emit SSE events after recording proxy messages
  .changeset/fix-sse-realtime-updates.md
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

fix: skip SSE emit when dedup finds no data change
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

docs: add custom providers row to supported providers table
  .changeset/thick-books-start.md
  README.md
Due: none

chore: add changeset for code quality refactor
  .changeset/refactor-code-quality-audit.md
Due: none

chore: remove em dash from plugin display name
  packages/openclaw-plugins/manifest/openclaw.plugin.json
  packages/openclaw-plugins/manifest/src/index.ts
Due: none

fix: align tier reset local state with backend behavior
  packages/frontend/src/pages/RoutingActions.tsx
Due: frontend

fix: record messages even when provider omits usage data
  .changeset/fix-record-messages-without-usage.md
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

feat: add models.dev as primary pricing source for model discovery
  .changeset/models-dev-pricing.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/model-prices/model-prices.module.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
Due: backend

fix: address review feedback
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
Due: backend

fix: future-proof o-series regex to match any o-digit model (o2, o5, etc.)
  packages/backend/src/routing/proxy/provider-client-converters.ts
Due: backend

feat: improve Model Prices page and add models.dev enrichment for Gemini
  .changeset/model-prices-improvements.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-prices/model-prices.module.ts
  packages/frontend/src/pages/ModelPrices.tsx
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/pages/ModelPrices.test.tsx
Due: backend, frontend

feat: improve Model Prices page and add models.dev enrichment for Gemini (#1370)
  .changeset/model-prices-improvements.md
  packages/backend/src/model-discovery/model-fallback.ts
  packages/frontend/src/pages/ModelPrices.tsx
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/pages/ModelPrices.test.tsx
Due: backend, frontend

Revert "feat: improve Model Prices page and add models.dev enrichment for Gem…"
  .changeset/model-prices-improvements.md
  packages/backend/src/model-discovery/model-fallback.ts
  packages/frontend/src/pages/ModelPrices.tsx
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/pages/ModelPrices.test.tsx
Due: backend, frontend

fix: improve alert configuration UX and notification reliability
  .changeset/fix-alert-config-ux.md
  packages/backend/src/notifications/emails/threshold-alert.tsx
  packages/backend/src/notifications/notifications.controller.spec.ts
  packages/backend/src/notifications/notifications.controller.ts
  packages/backend/src/notifications/services/alert-scenarios.spec.ts
  packages/backend/src/notifications/services/limit-check.service.spec.ts
  packages/backend/src/notifications/services/limit-check.service.ts
  packages/backend/src/notifications/services/notification-cron.service.spec.ts
  packages/backend/src/notifications/services/notification-cron.service.ts
  packages/backend/src/notifications/services/notification-email.service.spec.ts
  packages/backend/src/notifications/services/notification-email.service.ts
  packages/backend/src/notifications/services/notification-log.service.spec.ts
  packages/backend/src/notifications/services/notification-log.service.ts
  packages/frontend/public/logo-white.svg
  packages/frontend/src/components/AlertIcon.tsx
  packages/frontend/src/components/LimitHistoryTable.tsx
  packages/frontend/src/components/LimitIcon.tsx
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/components/LimitRuleTable.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/services/api/notifications.ts
  packages/frontend/src/styles/layout.css
  packages/frontend/src/styles/limits.css
  packages/frontend/tests/components/LimitRuleModal.test.tsx
  packages/frontend/tests/pages/Limits-interactions.test.tsx
  packages/frontend/tests/pages/Limits.test.tsx
Due: backend, frontend

test: add LimitHistoryTable component tests for coverage
  packages/frontend/tests/components/LimitHistoryTable.test.tsx
Due: none

fix: improve alert configuration UX and notification reliability (#1373)
  .changeset/fix-alert-config-ux.md
  packages/backend/src/notifications/emails/threshold-alert.tsx
  packages/backend/src/notifications/notifications.controller.spec.ts
  packages/backend/src/notifications/notifications.controller.ts
  packages/backend/src/notifications/services/alert-scenarios.spec.ts
  packages/backend/src/notifications/services/limit-check.service.spec.ts
  packages/backend/src/notifications/services/limit-check.service.ts
  packages/backend/src/notifications/services/notification-cron.service.spec.ts
  packages/backend/src/notifications/services/notification-cron.service.ts
  packages/backend/src/notifications/services/notification-email.service.spec.ts
  packages/backend/src/notifications/services/notification-email.service.ts
  packages/backend/src/notifications/services/notification-log.service.spec.ts
  packages/backend/src/notifications/services/notification-log.service.ts
  packages/frontend/public/logo-white.svg
  packages/frontend/src/components/AlertIcon.tsx
  packages/frontend/src/components/LimitHistoryTable.tsx
  packages/frontend/src/components/LimitIcon.tsx
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/components/LimitRuleTable.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/services/api/notifications.ts
  packages/frontend/src/styles/layout.css
  packages/frontend/src/styles/limits.css
  packages/frontend/tests/components/LimitHistoryTable.test.tsx
  packages/frontend/tests/components/LimitRuleModal.test.tsx
  packages/frontend/tests/pages/Limits-interactions.test.tsx
  packages/frontend/tests/pages/Limits.test.tsx
Due: backend, frontend

fix: deduplicate OpenAI dated model snapshots and add dashboard URL to no-provider message
  .changeset/fix-doubled-models.md
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: prevent Chrome password save prompt on provider key inputs
  .changeset/disable-store-password.md
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: frontend

fix: resolve HTTP 400 errors from Anthropic API via routing proxy
  .changeset/fix-anthropic-400-errors.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

fix: remove dead branch and add coverage for dashboard URL paths
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: address review feedback
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
Due: backend

fix: fallback chain tries alternate auth type for same provider (#1272)
  .changeset/fix-fallback-auth-type.md
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing-core/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
Due: backend

chore: switch dev guidelines from local/SQLite to cloud/PostgreSQL
  .changeset/shaggy-islands-invent.md
  CLAUDE.md
Due: none

fix: validate inferred provider prefix against active providers (#1383)
  .changeset/fix-provider-prefix-routing.md
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
Due: backend

fix: resolve $0.00 cost tracking for Google Gemini models (#1372)
  .changeset/fix-gemini-cost-tracking.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-prices/model-name-normalizer.spec.ts
  packages/backend/src/model-prices/model-name-normalizer.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
Due: backend

feat: add tool-call support to OpenAI subscription Responses adapter
  .changeset/openai-subscription-tool-calls.md
  packages/backend/src/routing/proxy/__tests__/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-helpers-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-helpers-extractors.spec.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-request-tools.spec.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-request.spec.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-response.spec.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-stream.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/chatgpt-helpers.ts
Due: backend

feat: add capability_reasoning and capability_code to custom provider models
  .changeset/capability-flags-custom-providers.md
  packages/backend/src/entities/custom-provider.entity.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/dto/custom-provider.dto.spec.ts
  packages/backend/src/routing/dto/custom-provider.dto.ts
  packages/backend/test/custom-providers.e2e-spec.ts
  packages/frontend/src/services/api/routing.ts
Due: backend, frontend

fix: agent setup tab not rendering when API key fetch fails
  .changeset/fix-agent-setup-tab.md
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/services/api/core.ts
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/services/api.test.ts
Due: frontend

fix: correct onboarding dashboard URL from /routing to /agents
  .changeset/fix-onboarding-url.md
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

test: add ErrorBoundary fallback coverage for Settings page
  packages/frontend/tests/pages/Settings.test.tsx
Due: none

fix: wrap ErrorBoundary test in try/finally for cleanup safety
  packages/frontend/tests/pages/Settings.test.tsx
Due: none

fix: preserve thought_signature in Google Gemini proxy for newer models
  .changeset/fix-gemini-thought-signature.md
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
Due: backend

fix: return friendly chat messages instead of raw HTTP errors on proxy endpoint
  .changeset/better-proxy-error-messages.md
  packages/backend/src/routing/proxy/__tests__/proxy-exception.filter.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-friendly-response.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-rate-limiter.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-exception.filter.ts
  packages/backend/src/routing/proxy/proxy-friendly-response.ts
  packages/backend/src/routing/proxy/proxy-rate-limiter.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/test/proxy.e2e-spec.ts
  packages/backend/test/smoke-test.e2e-spec.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
