Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

Add Codex session affinity so subscription requests get prompt-cache hits
  .changeset/codex-subscription-cache-affinity.md
  packages/backend/src/routing/proxy/__tests__/chatgpt-request.spec.ts
  packages/backend/src/routing/proxy/__tests__/codex-session-affinity.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.headers.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/codex-session-affinity.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy.module.ts
Due: backend

Use random memoized session ids instead of hashing the subscription token
  packages/backend/src/routing/proxy/__tests__/codex-session-affinity.spec.ts
  packages/backend/src/routing/proxy/codex-session-affinity.ts
Due: backend

Harden Codex affinity: bound cache-key length and prioritize affinity headers
  packages/backend/src/routing/proxy/__tests__/codex-session-affinity.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.headers.spec.ts
  packages/backend/src/routing/proxy/codex-session-affinity.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: place gitlawb in alphabetical position in PROVIDER_ORDER
  packages/frontend/src/services/providers.ts
Due: frontend

feat: add TokenRouter as an OpenAI-compatible API-key provider
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/shared/src/provider-inference.ts
  packages/shared/src/providers.ts
Due: backend, frontend

test: cover TokenRouter endpoint, inference, and model discovery
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/shared/__tests__/provider-inference.spec.ts
Due: backend

chore: add changeset for TokenRouter provider addition
  .changeset/tokenrouter-provider.md
Due: none

chore: remove unfinished provider rate-limit tracking
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/rate-limits.controller.spec.ts
  packages/backend/src/analytics/controllers/rate-limits.controller.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1791500000000-AddProviderRateLimits.ts
  packages/backend/src/database/migrations/1791600000000-DropProviderRateLimits.ts
  packages/backend/src/entities/provider-rate-limit.entity.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/rate-limit-tracker.service.spec.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/rate-limit-tracker.service.ts
  packages/backend/test/helpers.ts
  packages/backend/test/provider-analytics.e2e-spec.ts
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/services/api/analytics.test.ts
Due: backend, frontend

fix: provider migration can now roll back without data loss
  .changeset/provider-migration-rollback.md
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.ts
  packages/backend/src/database/migrations/1791200000000-LiftCustomProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791200000000-LiftCustomProvidersToUserLevel.ts
Due: backend

chore: remove unused savings cost tracking
  .changeset/remove-savings-baseline-cost.md
  packages/backend/src/common/utils/baseline-cost.spec.ts
  packages/backend/src/common/utils/baseline-cost.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1782000000000-AddSavingsBaselineModel.spec.ts
  packages/backend/src/database/migrations/1782000000000-AddSavingsBaselineModel.ts
  packages/backend/src/database/migrations/1782100000000-AddBaselineCostColumns.spec.ts
  packages/backend/src/database/migrations/1782100000000-AddBaselineCostColumns.ts
  packages/backend/src/database/migrations/1791700000000-DropSavingsBaselineColumns.spec.ts
  packages/backend/src/database/migrations/1791700000000-DropSavingsBaselineColumns.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/entities/agent.entity.spec.ts
  packages/backend/src/entities/agent.entity.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.streaming-abort.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/vite.config.ts
Due: backend, frontend

chore: remove leftover planning docs and review notes
  ANOMALIES.md
  docs/superpowers/plans/2026-06-10-agent-provider-chart.md
  docs/superpowers/plans/2026-06-10-custom-provider-display.md
  docs/superpowers/plans/2026-06-10-dashboard-fixes.md
  docs/superpowers/specs/2026-06-10-agent-provider-chart-design.md
  docs/superpowers/specs/2026-06-10-custom-provider-display-design.md
  docs/superpowers/specs/2026-06-10-dashboard-fixes-design.md
  feedback.md
Due: none

refactor: rename agent_provider_access to agent_enabled_providers
  .changeset/rename-enabled-providers.md
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.ts
  packages/backend/src/common/constants/playground.constants.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1791800000000-RenameProviderAccessToEnabledProviders.spec.ts
  packages/backend/src/database/migrations/1791800000000-RenameProviderAccessToEnabledProviders.ts
  packages/backend/src/entities/agent-enabled-provider.entity.spec.ts
  packages/backend/src/entities/agent-enabled-provider.entity.ts
  packages/backend/src/model-discovery/model-discovery.module.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/playground/playground-agent.service.spec.ts
  packages/backend/src/playground/playground-agent.service.ts
  packages/backend/src/routing/agent-enabled-providers.controller.spec.ts
  packages/backend/src/routing/agent-enabled-providers.controller.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/routing-core/routing-core.module.ts
  packages/backend/src/routing/routing.module.ts
  packages/backend/test/agent-duplication-migrations.e2e-spec.ts
  packages/backend/test/agent-duplication.e2e-spec.ts
  packages/backend/test/agent-enabled-providers.e2e-spec.ts
  packages/backend/test/custom-providers-lift-migrations.e2e-spec.ts
  packages/backend/test/helpers.ts
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
  packages/backend/test/proxy-fallback-auth.e2e-spec.ts
  packages/backend/test/seed-playground-agents-migrations.e2e-spec.ts
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/tests/pages/AgentProviders.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/services/api/routing-extra.test.ts
Due: backend, frontend

feat: attribute usage to the exact provider connection
  .changeset/attribute-messages-to-connections.md
  packages/backend/src/analytics/controllers/provider-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1791600000000-AddUserProviderIdToAgentMessages.ts
  packages/backend/src/database/seed-messages.spec.ts
  packages/backend/src/database/seed-messages.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing-core/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/backend/test/provider-analytics.e2e-spec.ts
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/services/api/analytics.test.ts
Due: backend, frontend

test: realign next-branch tests with current UI and routing
  packages/backend/test/agent-provider-access.e2e-spec.ts
  packages/backend/test/proxy.e2e-spec.ts
  packages/backend/test/routing-flow.e2e-spec.ts
  packages/backend/test/smoke-test.e2e-spec.ts
  packages/frontend/tests/components/AnthropicOAuthDetailView.test.tsx
  packages/frontend/tests/components/EmailProviderModal.test.tsx
  packages/frontend/tests/components/FilterSelect.test.tsx
  packages/frontend/tests/components/Header.test.tsx
  packages/frontend/tests/components/LocalServerDetailView.test.tsx
  packages/frontend/tests/components/PlaygroundEmptyState.test.tsx
  packages/frontend/tests/components/ProviderSelectContent-copilot-accounts.test.tsx
  packages/frontend/tests/components/ProviderSelectContent-deeplink.test.tsx
  packages/frontend/tests/components/ProviderSelectContent-devicelogin.test.tsx
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
  packages/frontend/tests/components/ProviderSelectModal-commandonly.test.tsx
  packages/frontend/tests/components/ProviderSelectModal-opencode-go.test.tsx
  packages/frontend/tests/components/ProviderSelectModal-subscription.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/components/RoutingModals.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/AgentProviders.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/Playground.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: none

fix: address review feedback
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
Due: backend

fix: allow clearing adaptive thinking mode
  .changeset/clear-adaptive-thinking.md
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
Due: frontend

fix: inject cache_control for Anthropic subscription OAuth requests
  .changeset/anthropic-subscription-prompt-caching.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-cache-control-roundtrip.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: clearer names for migrated provider connections
  .changeset/migrated-connection-naming.md
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.ts
Due: backend

fix: make stream warmup timeout configurable
  .changeset/configurable-stream-warmup.md
  docker/.env.example
  docker/docker-compose.yml
  packages/backend/.env.example
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-warmup.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/stream-warmup.ts
Due: backend

chore: ignore superpowers-generated markdown (docs/superpowers/, docs/plans/)
  .gitignore
Due: none

refactor(oauth): mutualize classic OAuth protocol code in core
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/oauth/core/device-flow.ts
  packages/backend/src/routing/oauth/core/index.ts
  packages/backend/src/routing/oauth/core/redirect-pkce-oauth.base.ts
  packages/backend/src/routing/oauth/gemini/gemini-oauth.controller.ts
  packages/backend/src/routing/oauth/gemini/gemini-oauth.service.ts
  packages/backend/src/routing/oauth/kiro/kiro-oidc.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth-helpers.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth.service.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.ts
Due: backend

fix: label the clear option None instead of unset
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
Due: frontend

fix: deleting a custom provider can't leave orphaned data behind
  .changeset/custom-provider-referential-integrity.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1792100000000-AddCustomProviderFkToUserProviders.spec.ts
  packages/backend/src/database/migrations/1792100000000-AddCustomProviderFkToUserProviders.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.edge-cases.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.transactions.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.transactions.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/test/custom-provider-fk-data-loss.e2e-spec.ts
  packages/backend/test/custom-provider-fk-migrations.e2e-spec.ts
Due: backend

fix: validate stream warmup env digits
  packages/backend/src/routing/proxy/__tests__/stream-warmup.spec.ts
  packages/backend/src/routing/proxy/stream-warmup.ts
Due: backend

fix: address review feedback
  packages/backend/src/auth/session.guard.spec.ts
  packages/backend/src/auth/session.guard.ts
  packages/backend/src/common/services/tenant-cache.service.spec.ts
  packages/backend/src/common/services/tenant-cache.service.ts
  packages/backend/src/database/migrations/1792100000000-TenantProviders.ts
  packages/backend/src/database/migrations/1792200000000-TenantScopedConfigs.ts
Due: backend

fix: harden proxy streaming termination
  .changeset/response-interrupted-streams.md
  packages/backend/src/routing/proxy/__tests__/chatgpt-stream.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.timeout.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: handle response.incomplete and surface stream errors to /v1/messages clients
  .changeset/response-interrupted-streams.md
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-response.spec.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-stream.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
Due: backend

fix: stop messages stream after terminal error
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
Due: backend

feat: add MiniMax Coding Plan subscription config (minimax)
  packages/shared/src/subscription/configs.ts
Due: none

fix: Docker CI — version tags, main branch builds, clean formatting
  .github/workflows/docker-smoke.yml
  .github/workflows/docker.yml
Due: none

fix: address CI/Cubic feedback
  packages/shared/src/subscription/configs.ts
Due: none

feat: add release branch Docker tag for stable channel
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

test: update MiniMax fallback expectation for MiniMax-M3
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
Due: backend

fix: raise MiniMax plan context cap to M3's 1M window
  packages/shared/src/subscription/configs.ts
Due: none

feat: add AWS Bedrock provider
  .changeset/bedrock-provider.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/routing/bedrock-region.spec.ts
  packages/backend/src/routing/bedrock-region.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/provider-inference.spec.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/provider-inference.ts
  packages/shared/src/providers.ts
Due: backend, frontend
