Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

Add findings from controller/service audit: unscoped trigger-check, null tenant telemetry
  SECURITY_AUDIT.md
Due: none

Add telemetry DTO length validation and test email validation findings
  SECURITY_AUDIT.md
Due: none

test: add frontend tests for 100% coverage on OAuth and subscription flows
  packages/frontend/tests/components/ProviderSelectModal-commandonly.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/api.test.ts
  packages/frontend/tests/services/providers.test.ts
Due: none

feat: add Google Gemini subscription support with browser OAuth
  .changeset/google-subscription-support.md
  package-lock.json
  packages/backend/src/routing/gemini-auth/gemini-auth.controller.spec.ts
  packages/backend/src/routing/gemini-auth/gemini-auth.controller.ts
  packages/backend/src/routing/gemini-auth/gemini-auth.module.ts
  packages/backend/src/routing/gemini-auth/gemini-auth.service.spec.ts
  packages/backend/src/routing/gemini-auth/gemini-auth.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing.module.ts
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderSelectModal-subscription.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/providers.test.ts
Due: backend, frontend

fix: align 24h chart timestamps to local time to fix timezone shift
  packages/backend/src/common/utils/sql-dialect.spec.ts
  packages/backend/src/common/utils/sql-dialect.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/datasource.ts
  packages/frontend/src/services/chart-utils.ts
  packages/frontend/tests/services/chart-utils.test.ts
Due: backend, frontend

chore: add changeset for 24h chart timezone fix
  .changeset/fix-24h-chart-timezone.md
Due: none

fix: address code review feedback for timezone and adapter changes
  packages/backend/src/common/utils/sql-dialect.spec.ts
  packages/backend/src/common/utils/sql-dialect.ts
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: backend, frontend

fix: align 24h chart timestamps to local time (#1072)
  .changeset/fix-24h-chart-timezone.md
  packages/backend/src/common/utils/sql-dialect.spec.ts
  packages/backend/src/common/utils/sql-dialect.ts
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
  packages/frontend/src/components/CostChart.tsx
  packages/frontend/src/components/SingleTokenChart.tsx
  packages/frontend/src/components/TokenChart.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/chart-utils.ts
  packages/frontend/src/services/formatters.ts
  packages/frontend/src/styles/cards.css
  packages/frontend/src/styles/charts.css
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/tokens.css
  packages/frontend/tests/components/TokenChart.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/services/chart-utils-coverage.test.ts
  packages/frontend/tests/services/chart-utils.test.ts
  packages/frontend/tests/services/formatters-extra.test.ts
  packages/frontend/tests/services/formatters.test.ts
Due: backend, frontend

fix(proxy): sanitize deepseek reasoning_content across providers
  .changeset/clever-buses-rest.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix(plugin): add text response for /manifest command
  packages/openclaw-plugin/__tests__/command.test.ts
  packages/openclaw-plugin/src/command.ts
Due: plugin

fix(proxy): suppress duplicate success logs
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

feat(plugin): show routing summary in /manifest command
  .changeset/show-manifest-routing-summary.md
  packages/backend/src/routing/resolve.controller.spec.ts
  packages/backend/src/routing/resolve.controller.ts
  packages/openclaw-plugin/__tests__/command.test.ts
  packages/openclaw-plugin/src/command.ts
Due: backend, plugin

fix(proxy): narrow success dedup scope
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

fix(otlp): persist user id on success rows
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
Due: backend

fix(logs): serialize success dedup writes
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

test(plugin): cover manifest routing summary fallbacks
  packages/backend/src/routing/resolve.controller.spec.ts
  packages/openclaw-plugin/__tests__/command.test.ts
Due: backend

test(plugin): cover remaining manifest summary branches
  packages/backend/src/routing/resolve.controller.spec.ts
  packages/openclaw-plugin/__tests__/command.test.ts
Due: backend

docs(readme): add manifest/auto switch examples
  README.md
Due: none

test(proxy): cover invalid traceless fallback candidate
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
Due: backend

Mention local model usage in README
  README.md
Due: none

docs(readme): add manifest activation examples
  README.md
Due: none

feat: update pricing sync logic and enhance model pricing entity structure
  package-lock.json
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/entities/model-pricing.entity.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/openclaw-plugin/public/index.html
  packages/openclaw-plugin/public/manifest-logo.png
Due: backend

fix: distinguish subscription providers in PostHog tracking
  .changeset/fix-subscription-provider-tracking.md
  packages/backend/src/routing/resolve.controller.spec.ts
  packages/backend/src/routing/resolve.controller.ts
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
Due: backend

Update packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/database/pricing-sync.service.ts
Due: backend

feat: enhance model name resolution in pricing cache service
  packages/backend/src/model-prices/model-pricing-cache.service.ts
Due: backend

fix: improve routing provider modal UX
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/styles/routing-providers.css
Due: frontend

fix: prevent subscription providers from re-activating on gateway restart
  .changeset/fix-subscription-reactivation.md
  packages/backend/src/routing/resolve.controller.spec.ts
  packages/backend/src/routing/resolve.controller.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/backend/test/routing-flow.e2e-spec.ts
Due: backend

fix: return 409 instead of 500 for duplicate agent name
  .changeset/real-humans-wink.md
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
Due: backend

fix: link cloud mode telemetry identities via PostHog $identify
  .changeset/fix-cloud-telemetry-funnel.md
  packages/backend/src/analytics/controllers/agent-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/agent-analytics.controller.ts
  packages/backend/src/common/utils/product-telemetry.spec.ts
  packages/backend/src/common/utils/product-telemetry.ts
  packages/backend/src/otlp/otlp.controller.spec.ts
  packages/backend/src/otlp/otlp.controller.ts
  packages/openclaw-plugin/__tests__/command.test.ts
  packages/openclaw-plugin/__tests__/product-telemetry.test.ts
  packages/openclaw-plugin/__tests__/register.test.ts
  packages/openclaw-plugin/__tests__/verify.test.ts
  packages/openclaw-plugin/src/index.ts
  packages/openclaw-plugin/src/product-telemetry.ts
  packages/openclaw-plugin/src/verify.ts
Due: backend, plugin

fix: accept dev-mode loopback auth in cloud mode and improve OTLP error detection
  .changeset/fix-dev-loopback-auth.md
  packages/backend/src/otlp/guards/otlp-auth.guard.spec.ts
  packages/backend/src/otlp/guards/otlp-auth.guard.ts
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/src/hooks.ts
Due: backend, plugin

docs: require cloud+dev mode for plugin in dev setup
  CLAUDE.md
Due: none

fix: add dot-to-dash normalization for model name resolution
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/migrations/1772960000000-PurgeNonCuratedModels.spec.ts
  packages/backend/src/database/migrations/1772960000000-PurgeNonCuratedModels.ts
  packages/backend/src/database/seed-models.ts
  packages/backend/src/model-prices/model-name-normalizer.spec.ts
  packages/backend/src/model-prices/model-name-normalizer.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
Due: backend

fix: deactivate subscription provider when API key is explicitly added
  .changeset/fix-subscription-auto-creation.md
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
Due: backend

fix: use ChatGPT Responses API adapter for Codex models and filter subscription tiers
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/seed-models.ts
  packages/backend/src/routing/openai-oauth.controller.spec.ts
  packages/backend/src/routing/openai-oauth.controller.ts
  packages/backend/src/routing/openai-oauth.service.spec.ts
  packages/backend/src/routing/openai-oauth.service.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/tier-auto-assign.service.spec.ts
  packages/backend/src/routing/tier-auto-assign.service.ts
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/oauth-popup.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderSelectModal-commandonly.test.tsx
  packages/frontend/tests/components/ProviderSelectModal-subscription.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/api.test.ts
  packages/frontend/tests/services/oauth-popup.test.ts
  packages/frontend/tests/services/providers.test.ts
Due: backend, frontend

fix: improve routing provider modal UI
  packages/frontend/src/components/AuthBadge.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/src/styles/routing.css
Due: frontend

fix: improve routing provider UI and UX
  .changeset/routing-ui-improvements.md
  package-lock.json
  packages/backend/src/auth/auth.instance.ts
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/services/formatters.ts
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/CustomProviderForm.test.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/openclaw-plugin/public/index.html
Due: backend, frontend

fix: sync package-lock.json with package.json
  package-lock.json
Due: none

fix: add missing hash prefix and non-null assertion in customProviderColor
  packages/frontend/src/services/formatters.ts
Due: frontend

fix: add explicit type annotation to authClient for better-auth TS compatibility
  packages/frontend/src/services/auth-client.ts
Due: frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
