Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

test: expect usage emails to link upgrade
  packages/backend/src/billing/emails/billing-plan-email.spec.ts
Due: backend

ci: add npm token fallback for n8n publish
  .github/workflows/publish-n8n-node.yml
Due: none

docs: point deployment guides to docs site
  README.md
Due: none

docs: fix easypanel prerequisite
  deploy/easypanel/TUTORIAL.md
Due: none

ci: publish n8n node with public access
  .github/workflows/publish-n8n-node.yml
Due: none

test: harden billing flow specs
  packages/frontend/tests/components/UsageLimitBanner.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
  packages/frontend/tests/pages/Upgrade.test.tsx
Due: none

style: redesign all billing emails to match platform design
  packages/backend/src/billing/emails/billing-plan-email.tsx
Due: backend

fix: record manifest-blocked proxy messages
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/backend/src/database/migrations/1798000000000-AddErrorClassification.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
Due: backend

fix: usage limit email not sent due to stale request count cache
  packages/backend/src/billing/billing-usage-email.service.ts
  packages/backend/src/billing/plan.service.ts
Due: backend

fix: label plan-limit message failures
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/src/services/formatters.ts
  packages/frontend/tests/components/MessageTableStatus.test.tsx
  packages/frontend/tests/services/formatters.test.ts
Due: frontend

fix: update billing email tests
  packages/backend/src/billing/billing-usage-email.service.spec.ts
  packages/backend/src/billing/emails/billing-plan-email.spec.ts
  packages/backend/src/billing/emails/billing-plan-email.tsx
Due: backend

test: cover non-billable plan-limit messages
  packages/backend/test/billing-request-limit.e2e-spec.ts
Due: none

fix: upgrade modal z-index and agent modal ordering
  packages/frontend/src/components/UpgradeSuccessModal.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
Due: frontend

fix: update upgrade success modal test
  packages/frontend/src/components/UpgradeSuccessModal.tsx
  packages/frontend/tests/components/UpgradeSuccessModal.test.tsx
Due: frontend

chore: add email preview script for local development
  packages/backend/src/billing/emails/preview.tsx
Due: backend

feat: let hosted Wingman reach a production gateway
  CLAUDE.md
  packages/backend/.env.example
  packages/backend/src/cors-csp-config.spec.ts
  packages/backend/src/cors-csp-config.ts
  packages/backend/src/main.ts
  packages/backend/test/cors.e2e-spec.ts
Due: backend

fix: address review feedback
  CLAUDE.md
  packages/backend/src/cors-csp-config.spec.ts
  packages/backend/src/cors-csp-config.ts
  packages/backend/src/main.ts
  packages/backend/test/cors.e2e-spec.ts
Due: backend

docs: add PR verification checklist for billing and pricing
  PR-2427-CHECKLIST.md
Due: none

ci: trigger website changelog rebuild on release
  .github/workflows/release.yml
Due: none

chore: log why Auto-fix skips a request
  packages/backend/src/routing/autofix/autofix.service.ts
Due: backend

chore: add tenant id to Auto-fix healing and disabled log lines
  packages/backend/src/routing/autofix/autofix.service.ts
Due: backend

ci: make website rebuild step best-effort
  .github/workflows/release.yml
Due: none

chore: remove PR checklist from repo (contains PII, ephemeral artifact)
  PR-2427-CHECKLIST.md
Due: none

feat: upgrade button on plan limit messages and accordion
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/styles/data.css
Due: frontend

fix: Auto-fix now triggers for default agents
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/test/autofix-null-flag.e2e-spec.ts
Due: backend

fix: upgrade CTA uses reason=requests and 402 discriminator
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/message-table-cells.tsx
Due: frontend

fix: harden billing upgrade flow
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/frontend/src/components/UsageLimitBanner.tsx
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Upgrade.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/styles/analytics-overview.css
  packages/frontend/tests/components/UsageLimitBanner.test.tsx
  packages/frontend/tests/pages/Account.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
  packages/frontend/tests/pages/Upgrade.test.tsx
Due: backend, frontend

fix: plan limit label in overview and upgrade page notice styling
  packages/backend/src/analytics/services/query-helpers.ts
  packages/frontend/src/pages/Upgrade.tsx
  packages/frontend/src/styles/agents.css
Due: backend, frontend

fix: add error_http_status to MessageDetailResponse type
  packages/frontend/src/services/api/messages.ts
Due: frontend

fix: type message detail error status
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/tests/components/MessageDetails.test.tsx
Due: frontend

fix: don't mark plan chosen before Stripe checkout completes
  packages/frontend/src/pages/Register.tsx
Due: frontend

fix: restore markPlanChosen on Pro checkout to prevent post-payment loop
  packages/frontend/src/pages/Register.tsx
Due: frontend

test: achieve 100% coverage on all billing and proxy files
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/auth/auth.instance.spec.ts
  packages/backend/src/billing/billing-email-sender.spec.ts
  packages/backend/src/billing/billing-usage-email.service.spec.ts
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/subscription-webhook-emails.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-exception.filter.spec.ts
Due: backend

fix: refresh MiniMax subscription endpoints
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth-helpers.spec.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth-helpers.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth.service.coverage.spec.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth.service.spec.ts
  packages/backend/src/routing/provider-base-url.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

fix: reset request quota rollout window
  packages/backend/.env.example
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
Due: backend

chore: add request quota reset changeset
  .changeset/request-quota-rollout-reset.md
Due: none

fix: skip plan picker for existing users with usage data
  packages/frontend/src/components/AuthGuard.tsx
Due: frontend

fix: skip plan picker for all existing users, not just those with usage
  packages/frontend/src/components/AuthGuard.tsx
Due: frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
