Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

test: add ResponseModeModal test coverage
  packages/frontend/tests/components/ResponseModeModal.test.tsx
Due: none

Replace routing pricing panel with toast
  .changeset/routing-pricing-toast.md
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

fix: route OpenCode Go by catalog format
  .changeset/opencode-go-reasoning-routing.md
  packages/backend/src/model-discovery/model-capabilities.ts
  packages/backend/src/model-discovery/opencode-go-catalog.service.spec.ts
  packages/backend/src/model-discovery/opencode-go-catalog.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/routing-core/__tests__/response-mode-guard.spec.ts
Due: backend

Fix OpenAI fallback tool-call history sanitization
  .changeset/opencode-go-reasoning-routing.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
Due: backend

test: cover uncovered patch lines for codecov
  packages/frontend/tests/components/HeaderTierModal.test.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
  packages/frontend/tests/pages/RoutingPanels.test.tsx
Due: none

test: include remaining HeaderTierModal test updates
  packages/frontend/tests/components/HeaderTierModal.test.tsx
Due: none

fix: add test for ResponseModeModal onResponseModeChange in Routing page
  packages/frontend/tests/pages/Routing.test.tsx
Due: none

Improve model picker with capability icons, filters, and response mode modal (#2046)
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/HeaderTierModal.tsx
  packages/frontend/src/components/ModelCapabilityBadges.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/components/ResponseModeModal.tsx
  packages/frontend/src/components/RoutingTabs.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingPanels.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/src/styles/routing-tabs.css
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/HeaderTierModal.test.tsx
  packages/frontend/tests/components/ModelCapabilityBadges.test.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/ResponseModeModal.test.tsx
  packages/frontend/tests/components/RoutingTabs.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
  packages/frontend/tests/pages/RoutingPanels.test.tsx
Due: frontend

fix: parse SSE comments correctly
  .changeset/sse-comment-parser.md
  package-lock.json
  packages/backend/package.json
  packages/backend/src/playground/playground-stream.spec.ts
  packages/backend/src/playground/playground-stream.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-stream.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/sse-parser.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

fix: provider pages deep-link directly to detail view, replace back arrow with close button
  packages/frontend/src/components/CopilotDeviceLogin.tsx
  packages/frontend/src/components/LocalServerDetailView.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
  packages/frontend/src/services/routing-params.ts
Due: frontend

Request streamed usage by endpoint capability
  .changeset/stream-usage-endpoint-capability.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

fix: record Anthropic stream delta usage
  .changeset/anthropic-stream-delta-usage.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
Due: backend

feat: provider pages polish — table layouts, skeleton loader, local disconnect, BYOK per-connection rows
  packages/backend/src/routing/user-providers.controller.ts
  packages/frontend/src/components/GlobalOverviewSkeleton.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
Due: backend, frontend

feat: subscription usage chart with token/message timeseries and agent filter
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/frontend/src/components/ProviderChartCard.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
  packages/frontend/src/services/api/analytics.ts
Due: backend, frontend

fix(charts): pad bar chart x-scale by half a bin so the last bar fits (#1792)
  .changeset/bar-chart-last-bar-pad.md
  package-lock.json
  packages/frontend/src/components/SavingsChart.tsx
  packages/frontend/src/services/chart-utils.ts
  packages/frontend/tests/services/chart-utils.test.ts
Due: frontend

feat: usage charts on all provider pages, sparklines, action menu, connection detail page
  packages/backend/src/routing/user-providers.controller.ts
  packages/frontend/src/components/ActionMenu.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
  packages/frontend/src/styles/provider-list.css
Due: backend, frontend

feat: connection detail page with chart, agents table, recent messages + visible View details button
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
  packages/frontend/src/services/api/analytics.ts
Due: backend, frontend

fix: use btn--outline for View details and Manage buttons in provider pages
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
Due: frontend

feat: agent detail with 4 tabs (Routing, Providers, Guardrails, Settings)
  packages/backend/src/routing/agent-provider-access.controller.ts
  packages/backend/src/routing/routing.module.ts
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/styles/theme.css
Due: backend, frontend

feat: UI polish — agent tabs, guardrails rename, routing controls, modal keyboard, sparkline fixes
  packages/backend/src/routing/agent-provider-access.controller.ts
  packages/frontend/src/components/LimitModals.tsx
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/components/LimitRuleTable.tsx
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/components/ResponseModeModal.tsx
  packages/frontend/src/components/Sparkline.tsx
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
  packages/frontend/src/styles/cards.css
  packages/frontend/src/styles/routing.css
  packages/frontend/src/styles/theme.css
Due: backend, frontend

fix: provider access — proper HTTP errors, model filtering by agent access
  packages/backend/src/routing/agent-provider-access.controller.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/routing.module.ts
  packages/frontend/src/pages/AgentProviders.tsx
Due: backend, frontend

feat: provider disable cleans up routing, impact preview modal, model picker filters by access
  packages/backend/src/routing/agent-provider-access.controller.ts
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
Due: backend, frontend

fix: TypeScript errors in AgentProviders, ConnectionDetail, Local
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/Local.tsx
Due: frontend

fix: update backend test specs for new service signatures (userId, provider params)
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/header-tiers/__tests__/header-tier.service.spec.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/specificity.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier-auto-assign.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
Due: backend

fix: update all backend test mocks for userId parameter changes
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/savings.controller.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/routing/__tests__/specificity.controller.spec.ts
  packages/backend/src/routing/copilot.controller.spec.ts
  packages/backend/src/routing/custom-provider.controller.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/gemini-oauth.controller.spec.ts
  packages/backend/src/routing/header-tiers/__tests__/header-tier.service.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.spec.ts
  packages/backend/src/routing/kiro-oauth.controller.spec.ts
  packages/backend/src/routing/minimax-oauth.controller.spec.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/gemini-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.spec.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.spec.ts
  packages/backend/src/routing/oauth/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.spec.ts
  packages/backend/src/routing/openai-oauth.controller.spec.ts
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/routing-cache.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/routing-invalidation.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
  packages/backend/src/routing/routing-core/routing-cache.service.spec.ts
Due: backend

fix: update E2E, frontend tests for restructured UI and renamed guardrails
  packages/backend/test/proxy.e2e-spec.ts
  packages/frontend/tests/components/App.test.tsx
  packages/frontend/tests/components/CopilotDeviceLogin.test.tsx
  packages/frontend/tests/components/LimitModals.test.tsx
  packages/frontend/tests/components/LimitRuleModal.test.tsx
  packages/frontend/tests/components/LimitRuleTable.test.tsx
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/ProviderDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectContent-deeplink.test.tsx
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/Limits-interactions.test.tsx
  packages/frontend/tests/pages/Limits.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: none

fix: add userId to recalculate calls in routing-flow E2E test
  packages/backend/test/routing-flow.e2e-spec.ts
Due: none

fix: second recalculate call in routing-flow E2E also needs userId
  packages/backend/test/routing-flow.e2e-spec.ts
Due: none

fix: E2E tests use user_id for providers, getModelsForAgent includes custom providers via agentId
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/header-tiers/header-tier.service.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/routing-core/tier-auto-assign.service.ts
  packages/backend/src/routing/routing-core/tier.service.ts
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
  packages/backend/test/proxy-fallback-auth.e2e-spec.ts
  packages/backend/test/proxy.e2e-spec.ts
  packages/backend/test/routing-flow.e2e-spec.ts
Due: backend

fix: limit OAuth callback URL tutorial video to OpenAI
  .changeset/limit-oauth-callback-tutorial-video-to-openai.md
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/tests/components/OAuthDetailView.test.tsx
Due: frontend

feat: separate model selector modalities
  .changeset/model-selector-modalities.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/model-capabilities.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/model-fetcher.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/model.controller.ts
  packages/frontend/src/components/ModelCapabilityBadges.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/tests/components/ModelCapabilityBadges.test.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/shared/src/index.ts
  packages/shared/src/provider-params-spec.ts
Due: backend, frontend

feat: provider tables redesign — active/inactive status, last used, clickable rows, responsive, manage modal
  packages/backend/src/routing/user-providers.controller.ts
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
Due: backend, frontend

feat: provider detail manage modal, multi-agent chart, BYOK/Local alignment, active/inactive filter
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/frontend/src/components/MultiAgentTokenChart.tsx
  packages/frontend/src/components/ProviderChartCard.tsx
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
  packages/frontend/src/services/api/analytics.ts
Due: backend, frontend

fix: limit OAuth callback URL tutorial video to OpenAI (#2063)
  .changeset/limit-oauth-callback-tutorial-video-to-openai.md
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/tests/components/OAuthDetailView.test.tsx
Due: frontend

fix(proxy): emit full Responses API lifecycle when bridging Chat Completions streams
  .changeset/fix-responses-stream-lifecycle.md
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

fix(proxy): keep created_at stable across Responses stream snapshots
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

feat: agent tags as chart filter, stacked data grid detail, reactive totals fix, simplified routing skeleton
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/frontend/src/components/MultiAgentTokenChart.tsx
  packages/frontend/src/components/ProviderChartCard.tsx
  packages/frontend/src/pages/RoutingPanels.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
Due: backend, frontend

feat: stacked bar chart, agent filter tags with totals footer, panel title spacing fix
  packages/frontend/src/components/MultiAgentTokenChart.tsx
  packages/frontend/src/components/ProviderChartCard.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
Due: frontend

fix(proxy): stamp completed_at at finalize, not stream start
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend
