Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

test: add coverage for isCloudMetadataIp and catch handler
  packages/backend/src/common/utils/url-validation.spec.ts
  packages/openclaw-plugins/manifest-provider/__tests__/register.test.ts
Due: backend

fix: resolve lint errors in CI
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/openclaw-plugins/manifest-provider/src/config.ts
Due: backend

fix: OWASP security hardening across backend and plugins
  .changeset/owasp-security-fixes.md
  packages/backend/src/auth/local-auth.guard.spec.ts
  packages/backend/src/common/guards/api-key.guard.spec.ts
  packages/backend/src/common/guards/api-key.guard.ts
  packages/backend/src/common/utils/hash.util.spec.ts
  packages/backend/src/common/utils/hash.util.ts
  packages/backend/src/common/utils/local-ip.spec.ts
  packages/backend/src/common/utils/local-ip.ts
  packages/backend/src/common/utils/url-validation.ts
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/main.ts
  packages/backend/src/notifications/dto/set-email-provider.dto.ts
  packages/backend/src/notifications/notifications.controller.spec.ts
  packages/backend/src/notifications/notifications.controller.ts
  packages/backend/src/notifications/services/notification-cron.service.ts
  packages/backend/src/notifications/services/notification-rules.service.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
  packages/backend/src/otlp/services/api-key.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-rate-limiter.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.ts
  packages/backend/src/routing/proxy/proxy-rate-limiter.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/openclaw-plugins/manifest-provider/__tests__/config.test.ts
  packages/openclaw-plugins/manifest-provider/src/config.ts
  packages/openclaw-plugins/manifest-provider/src/index.ts
  packages/openclaw-plugins/manifest-provider/src/tools.ts
  packages/openclaw-plugins/manifest/src/local-mode.ts
  packages/openclaw-plugins/manifest/src/server.ts
Due: backend

fix: address review feedback
  packages/backend/src/common/utils/hash.util.spec.ts
  packages/backend/src/common/utils/hash.util.ts
  packages/backend/src/common/utils/url-validation.spec.ts
  packages/backend/src/common/utils/url-validation.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1773900000000-AddKeyPrefixIndex.spec.ts
  packages/backend/src/database/migrations/1773900000000-AddKeyPrefixIndex.ts
Due: backend

fix: ClaHub → ClawHub typo in release workflow
  .github/workflows/release.yml
Due: none

fix: improve local plugin startup reliability and diagnostics
  .changeset/fix-local-plugin-startup.md
  packages/openclaw-plugins/manifest/__tests__/local-mode.test.ts
  packages/openclaw-plugins/manifest/src/local-mode.ts
Due: none

fix: pass folder path to clawhub skill publish
  .changeset/fuzzy-llamas-march.md
  .github/workflows/release.yml
Due: none

fix: remove legacy mode concept from manifest-provider and fix config paths
  .changeset/sharp-apples-enter.md
  packages/openclaw-plugins/manifest-provider/__tests__/command.test.ts
  packages/openclaw-plugins/manifest-provider/__tests__/config.test.ts
  packages/openclaw-plugins/manifest-provider/__tests__/register.test.ts
  packages/openclaw-plugins/manifest-provider/__tests__/tools.test.ts
  packages/openclaw-plugins/manifest-provider/__tests__/verify.test.ts
  packages/openclaw-plugins/manifest-provider/src/command.ts
  packages/openclaw-plugins/manifest-provider/src/compat.ts
  packages/openclaw-plugins/manifest-provider/src/config.ts
  packages/openclaw-plugins/manifest-provider/src/index.ts
Due: none

fix: resolve ClawHub security scan metadata mismatch
  .changeset/fix-clawhub-scan.md
  packages/openclaw-plugins/manifest-provider/README.md
  skills/manifest/SKILL.md
Due: none

fix: set embedded server to production mode and skip seed data
  .changeset/sharp-apples-enter.md
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/openclaw-plugins/manifest/__tests__/register.test.ts
  packages/openclaw-plugins/manifest/src/index.ts
  packages/openclaw-plugins/manifest/src/server.ts
Due: backend

fix: clarify opt-in routing and standard plugin behavior in SKILL.md
  skills/manifest/SKILL.md
Due: none

chore: add empty changeset
  .changeset/chubby-experts-shout.md
Due: none

Reduce Simplify setup instructions
  README.md
Due: none

fix: set embedded server to production mode and skip seed data
  .changeset/pretty-eyes-clean.md
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/openclaw-plugins/manifest/__tests__/register.test.ts
  packages/openclaw-plugins/manifest/src/index.ts
  packages/openclaw-plugins/manifest/src/server.ts
Due: backend

fix: set manifest/auto as default model when no primary is configured
  packages/openclaw-plugins/manifest/__tests__/local-mode.test.ts
  packages/openclaw-plugins/manifest/src/local-mode.ts
Due: none

fix: rewrite SKILL.md to match actual plugin behavior
  .changeset/floppy-flowers-dig.md
  skills/manifest/SKILL.md
Due: none

fix: address review feedback on SKILL.md accuracy
  skills/manifest/SKILL.md
Due: none

fix: plugin only starts server, no config injection or auto-setup
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/openclaw-plugins/manifest/__tests__/local-mode.test.ts
  packages/openclaw-plugins/manifest/src/local-mode.ts
Due: backend

fix: plugin only starts server, no config injection or auto-setup
  .changeset/public-bears-sin.md
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/openclaw-plugins/manifest/__tests__/local-mode.test.ts
  packages/openclaw-plugins/manifest/src/local-mode.ts
  packages/openclaw-plugins/manifest/src/server.ts
Due: backend

Fix broken documentation URL in manifest-provider README
  .changeset/silent-flies-raise.md
  packages/openclaw-plugins/manifest-provider/README.md
Due: none

fix: update broken docs URL in manifest-model-router README
  packages/openclaw-plugins/manifest-model-router/README.md
Due: none

fix: remove contradictory privacy claim from SKILL.md
  skills/manifest/SKILL.md
Due: none

fix: add manifest changeset for README/CHANGELOG updates
  .changeset/rename-provider-to-model-router.md
Due: none

fix: remove contradictory privacy claim from SKILL.md
  .changeset/solid-apes-press.md
Due: none

fix: clarify network call scope in SKILL.md
  skills/manifest/SKILL.md
Due: none

fix: restore CI job name to match branch protection rule
  .github/workflows/ci.yml
Due: none

fix: replace process.env with ConfigService in OpenAI OAuth service
  .changeset/remove-warning-local-install.md
  packages/backend/src/routing/oauth/openai-oauth.service.ts
  packages/backend/src/routing/openai-oauth.service.spec.ts
Due: backend

chore: rename CI job to Plugin (manifest-model-router)
  .github/workflows/ci.yml
Due: none

fix: unify setup wizard for local and cloud mode
  .changeset/common-breads-grab.md
  packages/frontend/src/components/SetupModal.tsx
  packages/frontend/src/components/SetupStepLocalReady.tsx
  packages/frontend/tests/components/SetupModal.test.tsx
  packages/frontend/tests/components/SetupStepLocalReady.test.tsx
Due: frontend

fix: prevent unhandled rejection leak in SetupModal test
  packages/frontend/tests/components/SetupModal.test.tsx
Due: none

chore: move dev skills to .claude/skills/ for auto-discovery
  .changeset/happy-carrots-study.md
  .claude/skills/ensure-manifest-docs-consistency/SKILL.md
  .claude/skills/manifest-status/SKILL.md
  .claude/skills/manifest-status/scripts/manifest_status.sh
  .claude/skills/setup-manifest-plugin/SKILL.md
  .claude/skills/setup-manifest-plugin/scripts/setup_manifest.sh
  .claude/skills/uninstall-manifest-plugin/SKILL.md
  .claude/skills/uninstall-manifest-plugin/scripts/uninstall_manifest.sh
  .gitignore
  CONTRIBUTING.md
Due: none

fix: address review feedback
  .claude/skills/ensure-manifest-docs-consistency/SKILL.md
  .claude/skills/uninstall-manifest-plugin/scripts/uninstall_manifest.sh
Due: none

fix: replace process.env with ConfigService in backend services
  .changeset/remove-process-env-refs.md
  CLAUDE.md
  packages/backend/.env.example
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/health/health.controller.spec.ts
  packages/backend/src/health/health.controller.ts
  packages/backend/src/health/version-check.service.spec.ts
  packages/backend/src/health/version-check.service.ts
  packages/backend/src/model-prices/model-name-normalizer.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/notifications/services/email-provider-config.service.spec.ts
  packages/backend/src/notifications/services/email-provider-config.service.ts
  packages/backend/src/notifications/services/email-providers/send-email.ts
  packages/backend/src/notifications/services/notification-email.service.spec.ts
  packages/backend/src/notifications/services/notification-email.service.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.ts
Due: backend

fix: read config per-request in AgentKeyAuthGuard and fix E2E test
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
  packages/backend/test/proxy.e2e-spec.ts
Due: backend

fix: address review feedback
  packages/backend/src/routing/proxy/proxy-error-sanitizer.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.ts
Due: backend

fix: widen key_hash column to fit salted hash format
  .changeset/widen-key-hash.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1774000000000-WidenKeyHashColumn.spec.ts
  packages/backend/src/database/migrations/1774000000000-WidenKeyHashColumn.ts
  packages/backend/src/entities/agent-api-key.entity.ts
  packages/backend/src/entities/api-key.entity.ts
Due: backend

fix: address review feedback
  packages/backend/src/database/migrations/1774000000000-WidenKeyHashColumn.spec.ts
  packages/backend/src/database/migrations/1774000000000-WidenKeyHashColumn.ts
Due: backend

fix: add local-mode fallback for mnfst_ key auth in AgentKeyAuthGuard
  .changeset/fix-local-auth-fallback.md
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
Due: backend
