Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

feat(benchmark): overhaul benchmark UI with sidebar history, ChatGPT-style prompt, and provider management
  packages/backend/src/benchmark/benchmark-history.service.ts
  packages/backend/src/benchmark/benchmark.controller.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1786000000000-AddBenchmarkRunStarred.ts
  packages/backend/src/entities/benchmark-run.entity.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/benchmark/BenchmarkColumn.tsx
  packages/frontend/src/components/benchmark/BenchmarkEmptyState.tsx
  packages/frontend/src/components/benchmark/BenchmarkHistoryDrawer.tsx
  packages/frontend/src/components/benchmark/BenchmarkPrompt.tsx
  packages/frontend/src/components/benchmark/BenchmarkSummaryTable.tsx
  packages/frontend/src/pages/Benchmark.tsx
  packages/frontend/src/services/api/benchmark.ts
  packages/frontend/src/services/benchmark-store.ts
  packages/frontend/src/services/right-sidebar.tsx
  packages/frontend/src/styles/benchmark.css
  packages/shared/src/benchmark.ts
Due: backend, frontend

fix(frontend): use Boxicons undo icon for fallback empty state
  packages/frontend/src/components/FallbackList.tsx
Due: frontend

fix(benchmark): address review findings — accessibility, layout, read-only, and stale state
  packages/frontend/src/components/benchmark/BenchmarkColumn.tsx
  packages/frontend/src/components/benchmark/BenchmarkSummaryTable.tsx
  packages/frontend/src/pages/Benchmark.tsx
  packages/frontend/src/styles/benchmark.css
Due: frontend

fix(frontend): use curved U-turn icon for routing fallback empty state (#1913)
  packages/frontend/src/components/FallbackList.tsx
Due: frontend

fix(benchmark): atomic star toggle + dark-mode-safe header colors
  packages/backend/src/benchmark/benchmark-history.service.ts
  packages/frontend/src/styles/benchmark.css
Due: backend, frontend

fix(benchmark): use card-foreground for response headers dark mode readability
  packages/frontend/src/styles/benchmark.css
Due: frontend

fix: improve mobile dashboard layout
  .changeset/mobile-dashboard-phone.md
  packages/frontend/src/App.tsx
  packages/frontend/src/components/AgentTypeSelect.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/SetupModal.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/styles/agent-type-select.css
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/wizard.css
  packages/frontend/tests/components/App.test.tsx
Due: frontend

fix(routing): support multiple OAuth subscription keys per provider (#1870)
  .changeset/fix-oauth-multi-key.md
  packages/backend/src/routing/minimax-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.spec.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.ts
  packages/backend/src/routing/oauth/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/openai-oauth.service.ts
  packages/backend/src/routing/openai-oauth.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/components/AnthropicOAuthDetailView.tsx
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/tests/components/AnthropicOAuthDetailView.test.tsx
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: backend, frontend

test: add coverage for nextOAuthLabel in provider service
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
Due: backend

fix: guard add-key effect against concurrent busy state (identified by cubic)
  packages/frontend/src/components/AnthropicOAuthDetailView.tsx
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/components/OAuthDetailView.tsx
Due: frontend

test: add multi-key coverage for OAuth detail views
  packages/frontend/tests/components/AnthropicOAuthDetailView.test.tsx
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
  packages/frontend/tests/components/OAuthDetailView.test.tsx
Due: none

test: cover remaining OAuth detail view code paths
  packages/frontend/tests/components/AnthropicOAuthDetailView.test.tsx
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
  packages/frontend/tests/components/OAuthDetailView.test.tsx
Due: none

fix(routing): revoke labeled OpenAI OAuth keys
  packages/backend/src/routing/oauth/openai-oauth.controller.ts
  packages/backend/src/routing/openai-oauth.controller.spec.ts
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/services/api/oauth.ts
  packages/frontend/tests/components/OAuthDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/api/oauth.test.ts
Due: backend, frontend

refactor(routing): use OAuth cleanup endpoints for subscription disconnects
  .changeset/refactor-oauth-local-disconnect.md
  packages/backend/src/routing/minimax-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.ts
  packages/backend/src/routing/oauth/minimax-oauth.controller.ts
  packages/frontend/src/components/AnthropicOAuthDetailView.tsx
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/services/api/oauth.ts
  packages/frontend/tests/components/AnthropicOAuthDetailView.test.tsx
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/api/oauth.test.ts
Due: backend, frontend

fix: strip adaptive thinking for Haiku
  .changeset/strip-haiku-adaptive-thinking.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
Due: backend

fix(routing): validate OAuth revoke labels
  packages/backend/src/routing/minimax-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.ts
  packages/backend/src/routing/oauth/minimax-oauth.controller.ts
  packages/backend/src/routing/oauth/openai-oauth.controller.ts
  packages/backend/src/routing/oauth/query-params.ts
  packages/backend/src/routing/openai-oauth.controller.spec.ts
Due: backend

test(frontend): cover mobile dashboard navigation
  packages/frontend/tests/components/Header.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
Due: none

fix(frontend): use classList for complexity toggle and success track styles
  packages/frontend/src/pages/RoutingComplexitySection.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
Due: frontend

fix(responses): align synthetic function-call SSE shape with OpenAI Responses API
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

fix(responses): stamp sequence_number, name, and item.status on synthetic SSE
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

fix(proxy): drop reasoning_content during an open tool_use
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
Due: backend

feat(openrouter): improve generation log attribution (user, User-Agent, categories)
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/request-headers.ts
Due: backend

refactor(proxy): move hosted-tool strip from toChatTools to sanitizeOpenAiBody
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

fix(db): keep agent model params migration additive
  packages/backend/src/database/migrations/1787000000000-AddAgentModelParams.spec.ts
  packages/backend/src/database/migrations/1787000000000-AddAgentModelParams.ts
Due: backend

fix(proxy): use normalized model id for primary param snapshot lookup
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix(duplication): include modelParams count in duplicate-preview summary
  packages/frontend/src/components/DuplicateAgentModal.tsx
  packages/frontend/src/services/api/agents.ts
  packages/frontend/tests/components/DuplicateAgentModal.test.tsx
  packages/frontend/tests/services/api/agents.test.ts
Due: frontend

feat(routing): per-model params affordance across every routing surface
  .changeset/agent-model-params-frontend.md
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/ModelParamsAffordance.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/api/model-params.ts
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/services/api/specificity.ts
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/frontend/tests/services/api/model-params.test.ts
  packages/frontend/tests/services/api/specificity.test.ts
  packages/frontend/tests/services/routing.test.ts
Due: frontend

test(routing): cover model-params props plumbing across surfaces
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
  packages/frontend/tests/pages/RoutingSpecificitySection.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: none

refactor(routing): drive ModelParamsDialog from PROVIDER_PARAM_SPECS
  packages/frontend/src/components/ModelParamsAffordance.tsx
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
  packages/shared/__tests__/provider-params-spec.spec.ts
  packages/shared/src/provider-params-spec.ts
Due: frontend

fix(shared): guard provider param spec lookup
  packages/shared/__tests__/provider-params-spec.spec.ts
  packages/shared/src/provider-params-spec.ts
Due: none

chore: remove unused duplication spec imports
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
Due: backend

fix: stop starred runs showing twice in the sidebar
  packages/backend/src/playground/playground.service.ts
  packages/frontend/src/components/playground/PlaygroundHistoryDrawer.tsx
Due: backend, frontend

fix: persist failed benchmark runs and harden rendered links
  packages/backend/src/benchmark/benchmark-payload.spec.ts
  packages/backend/src/benchmark/benchmark-payload.ts
  packages/backend/src/benchmark/benchmark.service.spec.ts
  packages/backend/src/benchmark/benchmark.service.ts
  packages/backend/src/benchmark/dto/run-benchmark.dto.spec.ts
  packages/backend/src/benchmark/dto/run-benchmark.dto.ts
  packages/frontend/src/components/benchmark/MarkdownContent.tsx
  packages/frontend/tests/components/MarkdownContent.test.tsx
Due: backend, frontend

fix: address Playground review feedback
  packages/backend/src/playground/playground-history.service.spec.ts
  packages/backend/src/playground/playground-history.service.ts
  packages/backend/src/playground/playground-payload.spec.ts
  packages/backend/src/playground/playground-payload.ts
  packages/backend/src/playground/playground-stream.ts
  packages/backend/src/playground/playground.service.ts
  packages/frontend/src/components/playground/PlaygroundPrompt.tsx
  packages/frontend/src/pages/Playground.tsx
  packages/frontend/src/services/playground-store.ts
Due: backend, frontend

fix(anthropic): persist oauth pending state
  .changeset/fix-anthropic-oauth-pending-state.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1789100000000-AddOAuthPendingFlows.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/backend/src/routing/oauth/core/index.ts
  packages/backend/src/routing/oauth/core/oauth-pending-flow.store.spec.ts
  packages/backend/src/routing/oauth/core/oauth-pending-flow.store.ts
  packages/backend/src/routing/oauth/oauth.module.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/components/AnthropicOAuthDetailView.tsx
  packages/frontend/src/services/api/oauth.ts
  packages/frontend/tests/components/AnthropicOAuthDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: backend, frontend

fix: hide misleading empty tier label in Playground
  .changeset/playground-hide-empty-tier.md
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: frontend

fix: make custom providers work in the Playground
  .changeset/playground-custom-providers.md
  packages/backend/src/playground/playground.module.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
Due: backend

fix(anthropic): align oauth state with pkce verifier
  .changeset/fix-anthropic-oauth-state-verifier.md
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
Due: backend

fix(anthropic): send oauth token user agent
  .changeset/fix-anthropic-oauth-token-request.md
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
