Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix(ui): wire ProviderDetailView close button to onClose (dismiss modal)
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/tests/components/ProviderDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectContent-deeplink.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: frontend

fix(routing): make userId required in getTiers and always run provider cleanup
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
  packages/backend/src/routing/routing-core/tier.service.ts
Due: backend

fix(routing): revert custom providers to fully agent-scoped cache and list
  packages/backend/src/routing/custom-provider.controller.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.controller.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.edge-cases.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/routing-cache.service.spec.ts
  packages/backend/src/routing/routing-core/routing-cache.service.spec.ts
  packages/backend/src/routing/routing-core/routing-cache.service.ts
Due: backend

fix(playground): correct error message from 'for this agent' to 'for this user'
  packages/backend/src/playground/playground.service.ts
Due: backend

refactor(routing): extract serializeProviderConnection to shared provider-response.ts
  packages/backend/src/routing/global-providers.controller.spec.ts
  packages/backend/src/routing/global-providers.controller.ts
  packages/backend/src/routing/provider-response.spec.ts
  packages/backend/src/routing/provider-response.ts
  packages/backend/src/routing/provider.controller.ts
Due: backend

fix(routing): user-scope custom-provider reads consumed by user-scoped discovery (recording + model names)
  packages/backend/src/routing/custom-provider/custom-provider.service.edge-cases.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

chore: drop internal planning docs from PR (kept in branch history)
  docs/superpowers/plans/2026-06-05-global-provider-connections.md
  docs/superpowers/specs/2026-06-05-global-provider-connections-design.md
Due: none

fix: add opencode-zen, xiaomi, and nvidia to streaming-capable providers
  packages/backend/src/model-discovery/model-capabilities.ts
Due: backend

feat: sync manifest subscription model lists (2026-06-07)
  packages/shared/src/subscription/configs.ts
Due: none

chore: add changeset for cost-by-model sort
  .changeset/cost-by-model-sort.md
Due: none

test(cost-by-model): full sort coverage (default, click, 3-state, a11y, hydration, invalid params)
  packages/frontend/src/components/CostByModelTable.spec.tsx
Due: frontend

test(cost-by-model): mock @solidjs/router for existing tests
  packages/frontend/tests/components/CostByModelTable.test.tsx
Due: none

feat(cost-by-model): add sortable column headers (tokens/%/cost) with URL persistence
  packages/frontend/src/components/CostByModelTable.spec.tsx
  packages/frontend/src/components/CostByModelTable.tsx
Due: frontend

feat(retention): add controller and DTO with validation
  packages/backend/src/retention/dto/set-retention.dto.spec.ts
  packages/backend/src/retention/dto/set-retention.dto.ts
  packages/backend/src/retention/retention.controller.spec.ts
  packages/backend/src/retention/retention.controller.ts
Due: backend

feat(retention): add RetentionService for get/set/purge
  packages/backend/src/retention/retention.service.spec.ts
  packages/backend/src/retention/retention.service.ts
Due: backend

feat(retention): register RetentionModule and migration
  packages/backend/src/app.module.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/retention/retention.module.ts
  packages/backend/src/telemetry/install-id.service.spec.ts
Due: backend

feat(retention): add message_retention_days column migration
  packages/backend/src/database/migrations/1790500000000-AddMessageRetention.spec.ts
  packages/backend/src/database/migrations/1790500000000-AddMessageRetention.ts
  packages/backend/src/entities/install-metadata.entity.ts
Due: backend

feat(retention): add retention dropdown to Settings page
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: frontend

feat(retention): add hourly RetentionCronService
  packages/backend/src/retention/retention-cron.service.spec.ts
  packages/backend/src/retention/retention-cron.service.ts
Due: backend

feat(retention): add frontend API client
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/api/retention.ts
Due: frontend

chore: add changeset for message retention
  .changeset/message-retention.md
Due: none

fix(cost-by-model): add keyboard a11y, back/forward nav, comparator guards, null value handling
  packages/frontend/src/components/CostByModelTable.spec.tsx
  packages/frontend/src/components/CostByModelTable.tsx
Due: frontend

fix(retention): address PR #2144 review feedback
  packages/backend/src/retention/dto/set-retention.dto.spec.ts
  packages/backend/src/retention/dto/set-retention.dto.ts
  packages/backend/src/retention/retention-cron.service.ts
  packages/backend/src/retention/retention.service.spec.ts
  packages/backend/src/retention/retention.service.ts
  packages/frontend/src/pages/Settings.tsx
Due: backend, frontend

feat(backend): make HTTP body parser limit configurable via BODY_PARSER_LIMIT
  .changeset/configurable-body-parser-limit.md
  docker/DOCKER_README.md
  packages/backend/.env.example
  packages/backend/src/main.ts
Due: backend

docs: clarify BODY_PARSER_LIMIT applies globally (except auth routes)
  docker/DOCKER_README.md
  packages/backend/.env.example
Due: none

chore: refresh CLAUDE.md to match current codebase
  CLAUDE.md
Due: none

feat: add global dashboard with Overview, Messages, and Agents navigation
  .changeset/global-dashboard-overview.md
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/MessageTable.tsx
  packages/frontend/src/components/RootRedirect.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/tests/components/App.test.tsx
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/components/RootRedirect.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
  packages/frontend/tests/pages/GlobalOverview.test.tsx
Due: frontend

fix: strip exclusive bounds from Gemini tool schemas
  .changeset/google-exclusive-schema-bounds.md
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
Due: backend

fix: rename /agents URLs to /harnesses, update back button label
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/src/components/DuplicateAgentModal.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/MessageTable.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/src/pages/AgentOverview.tsx
  packages/frontend/src/pages/ConnectProvider.tsx
  packages/frontend/src/pages/FreeModels.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/services/routing.ts
  packages/frontend/src/styles/theme.css
Due: frontend

fix: filter unsupported ChatGPT subscription models
  .changeset/chatgpt-subscription-supported-models.md
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/shared/src/subscription/configs.ts
Due: backend

feat(messages): add agent filter dropdown to global Messages view
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

test: update OpenAI subscription match expectation
  packages/shared/__tests__/subscription.spec.ts
Due: none

fix(messages): render Agent column in global mode and stop swallowing agent-fetch errors
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

fix(messages): global title and empty-state CTA (no agent context)
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

refactor(frontend): extract shared range + self-hosted logic into useOverviewRange/useOverviewColumns
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/use-overview-range.ts
  packages/frontend/tests/services/use-overview-range.test.ts
Due: frontend

fix(frontend): only treat valid stored ranges as user selections in Overview
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

fix: make OpenClaw icon background transparent
  packages/frontend/public/icons/openclaw.png
Due: none

fix: stop reverse-proxied requests from bypassing auth
  .changeset/harden-loopback-auth-behind-proxy.md
  packages/backend/src/auth/session.guard.spec.ts
  packages/backend/src/auth/session.guard.ts
  packages/backend/src/common/utils/local-ip.spec.ts
  packages/backend/src/common/utils/local-ip.ts
  packages/backend/src/main.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
  packages/backend/test/helpers.ts
Due: backend

fix: detect proxy hop by header presence and full x-forwarded-* family
  packages/backend/src/common/utils/local-ip.spec.ts
  packages/backend/src/common/utils/local-ip.ts
Due: backend

fix: try tier fallbacks before auto route
  .changeset/tier-fallback-before-auto.md
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
