Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: update e2e test description to match new behavior
  packages/backend/test/smoke-test.e2e-spec.ts
Due: none

feat: universal model compatibility filter and thought signature cache
  .changeset/model-compatibility-filter.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/thought-signature-cache.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/thought-signature-cache.ts
  packages/backend/src/routing/routing-core/tier-auto-assign.service.ts
Due: backend

fix: pass thought signature lookup to fallback and streaming paths
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: improve signup UX for existing emails and missing email provider
  .changeset/fix-signup-existing-email.md
  packages/backend/src/auth/auth.instance.spec.ts
  packages/backend/src/auth/auth.instance.ts
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/styles/auth.css
  packages/frontend/tests/pages/Register.test.tsx
Due: backend, frontend

fix: use token instead of session to detect auto-signin after signup
  packages/frontend/src/pages/Register.tsx
  packages/frontend/tests/pages/Register.test.tsx
Due: frontend

fix: improve signup UX for existing emails (#1400)
  .changeset/fix-signup-existing-email.md
  packages/backend/src/auth/auth.instance.spec.ts
  packages/backend/src/auth/auth.instance.ts
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/styles/auth.css
  packages/frontend/tests/pages/Register.test.tsx
Due: backend, frontend

fix: expand non-chat model filter for Mistral, xAI, Gemini, and OpenAI
  .changeset/expand-non-chat-filter.md
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

fix: correct Ollama model grouping in routing model picker
  .changeset/fix-ollama-model-grouping.md
  packages/backend/src/common/utils/provider-inference.spec.ts
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/services/routing-utils.test.ts
  packages/shared/__tests__/provider-inference.spec.ts
  packages/shared/src/provider-inference.ts
Due: backend, frontend

fix: reload page after agent rename to reflect new slug everywhere
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: frontend

fix: improve Settings page API key display and rename UX
  .changeset/improve-settings-ux.md
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
Due: frontend

fix: probe Anthropic subscription model access and separate auth type model lists
  .changeset/anthropic-subscription-probe.md
  packages/backend/src/model-discovery/anthropic-subscription-probe.spec.ts
  packages/backend/src/model-discovery/anthropic-subscription-probe.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/frontend/src/components/ModelPickerModal.tsx
Due: backend, frontend

fix: handle multi-digit version prefixes in Anthropic family regex
  packages/backend/src/model-discovery/anthropic-subscription-probe.spec.ts
  packages/backend/src/model-discovery/anthropic-subscription-probe.ts
Due: backend

feat: add Docker image build and publish to Docker Hub
  .changeset/twelve-kiwis-do.md
  .dockerignore
  .github/workflows/docker.yml
  DOCKER_README.md
  Dockerfile
  docker-compose.yml
Due: none

fix: add missing paths to Docker workflow trigger
  .github/workflows/docker.yml
Due: none

fix: filter OpenAI responses-only models from chat completions discovery
  .changeset/filter-openai-responses-only.md
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

fix: improve Settings page API key display and rename UX (#1408)
  .changeset/improve-settings-ux.md
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: frontend

fix: prefix Manifest-originated error messages with [Manifest]
  .changeset/manifest-error-prefix.md
  packages/backend/src/routing/proxy/__tests__/proxy-exception.filter.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-exception.filter.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: treat upstream HTTP 424 as retriable to trigger fallback chain (#1407)
  .changeset/fix-fallback-424.md
  packages/backend/src/routing/proxy/__tests__/fallback-status-codes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/fallback-status-codes.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: add BETTER_AUTH_URL to docker-compose and expand Docker docs
  DOCKER_README.md
  README.md
  docker-compose.yml
Due: none

fix: add app attribution headers to OpenRouter requests
  .changeset/openrouter-app-headers.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

fix: address review feedback
  packages/backend/src/database/migrations/1774896789000-WidenApiKeyColumn.spec.ts
  packages/backend/src/database/migrations/1774896789000-WidenApiKeyColumn.ts
  packages/frontend/src/pages/Settings.tsx
Due: backend, frontend

feat: add peacock emoji to Manifest branding prefix
  .changeset/message-branding.md
  packages/backend/src/routing/proxy/__tests__/proxy-exception.filter.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-exception.filter.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/openclaw-plugins/manifest/src/index.ts
Due: backend

fix: use double quotes in changeset for CI compatibility
  .changeset/message-branding.md
Due: none

fix: filter non-working models from provider discovery
  .changeset/filter-broken-models.md
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

feat: add public API endpoints for live usage stats and model catalog
  .changeset/public-stats-endpoints.md
  packages/backend/src/app.module.ts
  packages/backend/src/common/constants/cache.constants.spec.ts
  packages/backend/src/common/constants/cache.constants.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/public-stats/public-stats.controller.spec.ts
  packages/backend/src/public-stats/public-stats.controller.ts
  packages/backend/src/public-stats/public-stats.module.ts
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/backend/src/public-stats/public-stats.service.ts
  packages/backend/test/helpers.ts
  packages/backend/test/public-stats.e2e-spec.ts
Due: backend

fix: use double quotes in changeset for CI compatibility
  .changeset/public-stats-endpoints.md
Due: none

fix: force Nixpacks builder on Railway
  railway.toml
Due: none

fix: force Nixpacks builder on Railway
  .changeset/easy-brooms-peel.md
  railway.toml
Due: none

refactor: replace context_window with tokens_7d, add free models endpoint
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/public-stats/public-stats.controller.spec.ts
  packages/backend/src/public-stats/public-stats.controller.ts
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/backend/src/public-stats/public-stats.service.ts
  packages/backend/test/public-stats.e2e-spec.ts
Due: backend

fix: move Dockerfile to docker/ to prevent Railway auto-detection
  .changeset/many-parents-build.md
  .github/workflows/docker.yml
  docker/Dockerfile
  railway.toml
Due: none

fix: handle non-streaming responses from ChatGPT subscription proxy
  .changeset/fix-chatgpt-non-streaming.md
  packages/backend/src/routing/proxy/__tests__/chatgpt-response.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

fix: update proxy controller test for ChatGPT SSE collection
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
Due: backend

fix: use Map for tool call index alignment in SSE collector
  packages/backend/src/routing/proxy/__tests__/chatgpt-response.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
Due: backend

chore: move docker-compose and DOCKER_README to docker/
  .changeset/flat-worms-press.md
  .github/workflows/docker.yml
  README.md
  docker/DOCKER_README.md
  docker/docker-compose.yml
Due: none

fix: block Z.AI glm-5.1 from model discovery
  .changeset/block-zai-glm51.md
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

refactor: improve public endpoints — better URLs, filtering, and limits
  packages/backend/src/public-stats/public-stats.controller.spec.ts
  packages/backend/src/public-stats/public-stats.controller.ts
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/backend/src/public-stats/public-stats.service.ts
  packages/backend/test/public-stats.e2e-spec.ts
Due: backend

chore: add changeset for public stats improvements
  .changeset/public-stats-improvements.md
Due: none

fix: address review feedback
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/backend/src/public-stats/public-stats.service.ts
  packages/backend/test/public-stats.e2e-spec.ts
Due: backend

fix: short prompts with technical keywords bypass scorer and route to simple tier
  .changeset/fix-short-prompt-scoring.md
  packages/backend/src/scoring/__tests__/score-request.spec.ts
  packages/backend/src/scoring/index.ts
Due: backend
