Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

docs: add changeset for private_docs specificity category
  .changeset/private-docs-specificity.md
Due: none

feat: add financial/retirement document keywords + false-positive regression tests
  packages/backend/src/scoring/__tests__/specificity-coverage.spec.ts
  packages/backend/src/scoring/__tests__/specificity-false-positive.spec.ts
  packages/backend/src/scoring/keywords/private-docs.ts
  packages/backend/src/scoring/specificity-weights.ts
Due: backend

docs: update changeset with financial keyword details
  .changeset/private-docs-specificity.md
Due: none

Update packages/backend/src/scoring/specificity-weights.ts
  packages/backend/src/scoring/specificity-weights.ts
Due: backend

fix: expose private_docs in routing UI stage definitions
  .changeset/private-docs-specificity.md
  packages/backend/src/scoring/__tests__/specificity-ui-stages.spec.ts
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/services/specificity-stages.test.ts
Due: backend, frontend

fix: demote collisioning bare private_docs keywords below activation threshold
  .changeset/private-docs-specificity.md
  packages/backend/src/scoring/__tests__/specificity-false-positive.spec.ts
  packages/backend/src/scoring/__tests__/specificity-weights.spec.ts
  packages/backend/src/scoring/specificity-weights.ts
Due: backend

fix: sync private_docs keyword list with anchor weights
  packages/backend/src/scoring/keywords/private-docs.ts
  packages/backend/src/scoring/specificity-weights.ts
Due: backend

docs: changeset notes for the three cubic review fixes
  .changeset/private-docs-specificity.md
Due: none

fix: always emit parameters on chat-completions tool defs for Anthropic server tools
  .changeset/anthropic-server-tool-parameters.md
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
Due: backend

test(routing/proxy): isolate completed function-call finish reason
  packages/backend/src/routing/proxy/chatgpt-adapter.streaming.spec.ts
Due: backend

fix(routing/proxy): emit finish_reason: tool_calls when tool call precedes empty completion
  packages/backend/src/routing/proxy/chatgpt-adapter.streaming.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
Due: backend

chore(routing): drop internal vendor annotations from comments
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/components/HeaderTierModal.tsx
  packages/frontend/src/services/api/header-tiers.ts
Due: backend, frontend

feat(routing): per-provider stream warmup timeout via Edit provider modal
  docker/DOCKER_README.md
  packages/backend/src/routing/custom-provider/custom-provider.controller.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/dto/custom-provider.dto.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/services/api/routing.ts
Due: backend, frontend

feat(routing): per-tier stream warmup timeout override (backend + GUI)
  packages/backend/src/entities/header-tier.entity.ts
  packages/backend/src/entities/tenant-provider.entity.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.ts
  packages/backend/src/routing/header-tiers/header-tier.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/stream-warmup.ts
  packages/frontend/src/components/HeaderTierModal.tsx
  packages/frontend/src/services/api/header-tiers.ts
Due: backend, frontend

feat(routing): migration + changeset for stream warmup timeout
  .changeset/stream-warmup-timeout.md
  packages/backend/src/database/migrations/1802100000000-AddStreamWarmupMs.ts
  packages/backend/src/routing/header-tiers/header-tier.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/HeaderTierModal.tsx
Due: backend, frontend

fix(deps): align AJV workspace versions
  package-lock.json
  package.json
Due: none

test: update Moonshot parameter expectations
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
Due: backend

fix: apply Auto-fix toggles across replicas
  .changeset/fix-autofix-toggle-consistency.md
  CLAUDE.md
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/backend/src/routing/autofix/__tests__/autofix-healing-config.spec.ts
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
Due: backend

fix: apply recording toggles across replicas
  .changeset/fix-recording-toggle-consistency.md
  packages/backend/src/common/common.module.ts
  packages/backend/src/common/services/agent-recording-cache.service.ts
  packages/backend/src/common/services/agent-recording-config.service.spec.ts
  packages/backend/src/common/services/agent-recording-config.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
Due: backend

fix: coalesce concurrent Auto-fix config reads
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/observation-reporter.ts
Due: backend

fix: avoid stale in-flight Autofix reads
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
Due: backend

fix: recheck cached agent keys across replicas
  .changeset/fix-agent-key-revocation-consistency.md
  CLAUDE.md
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
Due: backend

fix: enforce hard limits across replicas
  .changeset/fix-hard-limit-consistency.md
  packages/backend/src/notifications/notifications.controller.email-validation.spec.ts
  packages/backend/src/notifications/notifications.controller.spec.ts
  packages/backend/src/notifications/notifications.controller.ts
  packages/backend/src/notifications/services/alert-scenarios.spec.ts
  packages/backend/src/notifications/services/limit-check.service.edge-cases.spec.ts
  packages/backend/src/notifications/services/limit-check.service.spec.ts
  packages/backend/src/notifications/services/limit-check.service.ts
Due: backend

fix: apply Auto-fix toggles across replicas (#2775)
  .changeset/fix-autofix-toggle-consistency.md
  CLAUDE.md
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/backend/src/routing/autofix/__tests__/autofix-healing-config.spec.ts
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/observation-reporter.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
Due: backend

fix: fail closed on key recheck errors
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
Due: backend

fix: deduplicate limit consumption reads
  packages/backend/src/notifications/services/limit-check.service.spec.ts
  packages/backend/src/notifications/services/limit-check.service.ts
Due: backend

fix: apply recording toggles across replicas (#2776)
  .changeset/fix-recording-toggle-consistency.md
  packages/backend/src/common/common.module.ts
  packages/backend/src/common/services/agent-recording-cache.service.ts
  packages/backend/src/common/services/agent-recording-config.service.spec.ts
  packages/backend/src/common/services/agent-recording-config.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
Due: backend

fix: enforce hard limits across replicas (#2778)
  .changeset/fix-hard-limit-consistency.md
  packages/backend/src/notifications/notifications.controller.email-validation.spec.ts
  packages/backend/src/notifications/notifications.controller.spec.ts
  packages/backend/src/notifications/notifications.controller.ts
  packages/backend/src/notifications/services/alert-scenarios.spec.ts
  packages/backend/src/notifications/services/limit-check.service.edge-cases.spec.ts
  packages/backend/src/notifications/services/limit-check.service.spec.ts
  packages/backend/src/notifications/services/limit-check.service.ts
Due: backend

fix: recheck cached agent keys across replicas (#2777)
  .changeset/fix-agent-key-revocation-consistency.md
  CLAUDE.md
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
Due: backend

fix(frontend): second review round on the teams redesign
  packages/frontend/src/components/AddUserModal.tsx
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/src/pages/Agents.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/UserDetail.tsx
  packages/frontend/src/pages/UserOverview.tsx
  packages/frontend/src/pages/UserSettings.tsx
  packages/frontend/src/services/api/teams-compat.ts
  packages/frontend/src/services/api/teams-derive.ts
  packages/frontend/src/services/api/teams-mock.ts
  packages/frontend/src/services/api/teams.ts
  packages/frontend/tests/pages/AgentDetail.test.tsx
  packages/frontend/tests/pages/AgentProviders.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/UserSettings.test.tsx
  packages/frontend/tests/services/api/teams-compat.test.ts
  packages/frontend/tests/services/api/teams-mock.test.ts
  packages/frontend/tests/services/api/teams.test.ts
Due: frontend

fix(frontend): third review round on the teams redesign
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/services/api/teams-compat.ts
  packages/frontend/src/services/api/teams-derive.ts
  packages/frontend/src/services/api/teams-mock.ts
  packages/frontend/tests/pages/AgentDetail.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/services/api/teams-compat.test.ts
  packages/frontend/tests/services/api/teams-mock.test.ts
Due: frontend

fix(frontend): simplify the Add user modal
  packages/frontend/src/components/AddUserModal.tsx
  packages/frontend/tests/components/AddUserModal.test.tsx
Due: frontend

fix(frontend): tidy the New agent modal layout
  packages/frontend/src/components/AddAgentModal.tsx
Due: frontend

refactor(proxy): leave conditional fixes to autofix
  .changeset/calm-otters-heal.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-catalog-di.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: open Anthropic OAuth popup before request
  .changeset/anthropic-popup-timing.md
  packages/frontend/src/components/AnthropicOAuthDetailView.tsx
  packages/frontend/tests/components/AnthropicOAuthDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: frontend

fix: ignore closed Anthropic OAuth popup
  packages/frontend/src/components/AnthropicOAuthDetailView.tsx
  packages/frontend/tests/components/AnthropicOAuthDetailView.test.tsx
Due: frontend

fix: open Anthropic OAuth popup before request (#2783)
  .changeset/anthropic-popup-timing.md
  packages/frontend/src/components/AnthropicOAuthDetailView.tsx
  packages/frontend/tests/components/AnthropicOAuthDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: frontend
