Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

feat: record messages for new harnesses
  .changeset/default-new-agent-recording.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801500000000-EnableRecordingForNewAgents.spec.ts
  packages/backend/src/database/migrations/1801500000000-EnableRecordingForNewAgents.ts
  packages/backend/src/entities/agent.entity.ts
  packages/frontend/tests/pages/SettingsRecordingSection.test.tsx
Due: backend

fix: preserve OpenRouter model modalities (#2624)
  .changeset/openrouter-model-modalities.md
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

fix: show called tools in request details (#2626)
  .changeset/show-called-tools.md
  packages/frontend/src/components/RequestMessages.tsx
  packages/frontend/src/styles/request-drawer.css
  packages/frontend/tests/components/RequestDrawer.test.tsx
  packages/frontend/tests/components/RequestMessages.test.tsx
  packages/shared/__tests__/chat-message.spec.ts
  packages/shared/src/chat-message.ts
  packages/shared/src/index.ts
Due: frontend

test: wait for request finalization in e2e
  packages/backend/test/message-log-completeness.e2e-spec.ts
Due: none

fix: use reachable Gemini Free gateway
  .changeset/gemini-free-provider.md
  docker/.env.example
  packages/backend/.env.example
  packages/backend/src/common/constants/managed-free-providers.spec.ts
  packages/backend/src/common/constants/managed-free-providers.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/managed-free-provider/managed-free-provider.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
Due: backend

fix: keep routing mounted during model refresh
  .changeset/calm-routes-stay.md
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

feat: record messages for new harnesses (#2627)
  .changeset/default-new-agent-recording.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801500000000-EnableRecordingForNewAgents.spec.ts
  packages/backend/src/database/migrations/1801500000000-EnableRecordingForNewAgents.ts
  packages/backend/src/entities/agent.entity.ts
  packages/backend/test/message-log-completeness.e2e-spec.ts
  packages/frontend/tests/pages/SettingsRecordingSection.test.tsx
Due: backend

fix: use reachable Gemini Free gateway (#2628)
  .changeset/gemini-free-provider.md
  docker/.env.example
  packages/backend/.env.example
  packages/backend/src/common/constants/managed-free-providers.spec.ts
  packages/backend/src/common/constants/managed-free-providers.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/managed-free-provider/managed-free-provider.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
Due: backend

fix: keep routing mounted during model refresh (#2629)
  .changeset/calm-routes-stay.md
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

fix: prevent horizontal overflow in request drawer
  .changeset/1d967d1d.md
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix: keep routing picker open during model refresh
  .changeset/steady-model-picker.md
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: frontend

fix: refresh provider models live
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/tests/components/ProviderDetailView.test.tsx
Due: frontend

fix: refresh provider models live (#2631)
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/tests/components/ProviderDetailView.test.tsx
Due: frontend

fix: keep routing picker open during model refresh (#2632)
  .changeset/steady-model-picker.md
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: frontend

fix: scope proxy session caches
  .changeset/scope-proxy-session-caches.md
  packages/backend/src/routing/proxy/__tests__/proxy-session-scope.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-session-scope.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: bound routing momentum cache
  .changeset/bound-session-momentum-cache.md
  packages/backend/src/routing/proxy/__tests__/session-momentum.service.spec.ts
  packages/backend/src/routing/proxy/session-momentum.service.ts
Due: backend

fix: isolate subscription model catalogs
  .changeset/curated-subscription-model-catalogs.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/subscription/configs.ts
  packages/shared/src/subscription/helpers.ts
  packages/shared/src/subscription/index.ts
  packages/shared/src/subscription/types.ts
Due: backend

fix: bound reasoning cache writes
  .changeset/bound-reasoning-cache-writes.md
  packages/backend/src/routing/proxy/__tests__/reasoning-content-cache.spec.ts
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
Due: backend

fix: isolate subscription model catalogs (#2633)
  .changeset/curated-subscription-model-catalogs.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/subscription/configs.ts
  packages/shared/src/subscription/helpers.ts
  packages/shared/src/subscription/index.ts
  packages/shared/src/subscription/types.ts
Due: backend

fix: scope proxy session caches (#2634)
  .changeset/scope-proxy-session-caches.md
  packages/backend/src/routing/proxy/__tests__/proxy-session-scope.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-session-scope.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: forward uncatalogued models to providers
  .changeset/explicit-model-provider-passthrough.md
  CLAUDE.md
  packages/backend/src/routing/autofix/autofix.types.ts
  packages/backend/src/routing/proxy/__tests__/openai-model-id.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/openai-model-id.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: forward uncatalogued models to providers (#2639)
  .changeset/explicit-model-provider-passthrough.md
  CLAUDE.md
  packages/backend/src/routing/autofix/autofix.types.ts
  packages/backend/src/routing/proxy/__tests__/openai-model-id.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/openai-model-id.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: scope provider cache affinity
  .changeset/scoped-provider-cache-affinity.md
  packages/backend/src/routing/proxy/__tests__/provider-client.headers.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-session-scope.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-hooks.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-session-scope.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: isolate headerless Codex affinity
  .changeset/isolate-codex-affinity.md
  packages/backend/src/routing/proxy/__tests__/codex-session-affinity.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.headers.spec.ts
  packages/backend/src/routing/proxy/codex-session-affinity.ts
Due: backend

fix: record provider cache writes
  .changeset/normalize-cache-write-usage.md
  packages/backend/src/analytics/controllers/agent-analytics.controller.spec.ts
  packages/backend/src/analytics/services/agent-analytics.service.spec.ts
  packages/backend/src/analytics/services/agent-analytics.service.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-cache-control-roundtrip.spec.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-stream.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

fix: polish cloud onboarding provider tabs and routing step
  packages/frontend/src/pages/Welcome.tsx
  packages/frontend/src/pages/welcome-helpers.ts
  packages/frontend/src/styles/welcome.css
Due: frontend

fix: non-null assert on provider tab keyboard navigation
  packages/frontend/src/pages/Welcome.tsx
Due: frontend

test: cover cache write usage fallbacks
  packages/backend/src/routing/proxy/__tests__/anthropic-cache-control-roundtrip.spec.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-stream.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
Due: backend

perf: reduce dashboard refresh load
  .changeset/calm-dashboards-rest.md
  packages/backend/src/analytics/controllers/provider-usage.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-usage.controller.ts
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/api/cache.ts
  packages/frontend/src/services/sse.ts
  packages/frontend/tests/components/App.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
  packages/frontend/tests/pages/ProviderUsageLive.test.tsx
  packages/frontend/tests/pages/Workspace-validation.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
  packages/frontend/tests/services/api/cache.test.ts
  packages/frontend/tests/services/sse.test.ts
Due: backend, frontend

perf: reduce dashboard refresh load (#2644)
  .changeset/calm-dashboards-rest.md
  packages/backend/src/analytics/controllers/provider-usage.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-usage.controller.ts
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/api/cache.ts
  packages/frontend/src/services/sse.ts
  packages/frontend/tests/components/App.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
  packages/frontend/tests/pages/ProviderUsageLive.test.tsx
  packages/frontend/tests/pages/Workspace-validation.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
  packages/frontend/tests/services/api/cache.test.ts
  packages/frontend/tests/services/sse.test.ts
Due: backend, frontend

fix: scope provider cache affinity (#2640)
  .changeset/scoped-provider-cache-affinity.md
  packages/backend/src/routing/proxy/__tests__/provider-client.headers.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-session-scope.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-hooks.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-session-scope.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: isolate headerless Codex affinity (#2641)
  .changeset/isolate-codex-affinity.md
  packages/backend/src/routing/proxy/__tests__/codex-session-affinity.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.headers.spec.ts
  packages/backend/src/routing/proxy/codex-session-affinity.ts
Due: backend

fix: record provider cache writes (#2642)
  .changeset/normalize-cache-write-usage.md
  packages/backend/src/analytics/controllers/agent-analytics.controller.spec.ts
  packages/backend/src/analytics/services/agent-analytics.service.spec.ts
  packages/backend/src/analytics/services/agent-analytics.service.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-cache-control-roundtrip.spec.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-stream.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
  packages/backend/src/routing/proxy/stream-writer.ts
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
Due: backend

perf: enable Anthropic automatic caching
  .changeset/anthropic-automatic-caching.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: preserve Anthropic explicit cache TTL
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
Due: backend

perf: enable Anthropic automatic caching (#2643)
  .changeset/anthropic-automatic-caching.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: show Gemini streaming responses
  .changeset/show-gemini-stream-output.md
  packages/shared/__tests__/chat-message.spec.ts
  packages/shared/src/chat-message.ts
Due: none

fix: show Gemini streaming responses (#2645)
  .changeset/show-gemini-stream-output.md
  packages/shared/__tests__/chat-message.spec.ts
  packages/shared/src/chat-message.ts
Due: none

feat: route by trained classifier behind SMART_CLASSIFIER_ENABLED
  packages/backend/nest-cli.json
  packages/backend/src/routing/resolve/__tests__/resolve.service.edge.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/routing-core.module.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
  packages/backend/src/scoring/classifier/__tests__/classifier.service.spec.ts
  packages/backend/src/scoring/classifier/__tests__/inference.spec.ts
  packages/backend/src/scoring/classifier/__tests__/serialize.spec.ts
  packages/backend/src/scoring/classifier/classifier.service.ts
  packages/backend/src/scoring/classifier/inference.ts
  packages/backend/src/scoring/classifier/model.v3.json.gz
  packages/backend/src/scoring/classifier/serialize.ts
  packages/backend/src/scoring/types.ts
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/tests/pages/Routing.test.tsx
Due: backend, frontend

fix: address n8n package review feedback
  integrations/n8n-nodes-manifest/CHANGELOG.md
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/LmChatManifest.node.json
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js.map
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/nodes/LmChatManifest/LmChatManifest.node.json
  integrations/n8n-nodes-manifest/nodes/Manifest/Manifest.node.ts
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
  integrations/n8n-nodes-manifest/test/manifest-node.test.js
  nodes/LmChatManifest/LmChatManifest.node.json
  nodes/Manifest/Manifest.node.ts
Due: none
