Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

test: cover getRoutingProviderApiKeyUrl and getEmailProviderApiKeyUrl
  packages/frontend/tests/services/providers.test.ts
Due: none

feat(frontend): add API key source links in routing provider modal
  .changeset/wise-oranges-double.md
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/styles/notifications.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/EmailProviderModal.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/providers.test.ts
Due: frontend

Describe backend changes
  packages/backend/src/common/common.module.ts
  packages/backend/src/common/services/manifest-runtime.service.ts
  packages/backend/src/config/app.config.spec.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/notifications/services/limit-check.service.spec.ts
  packages/backend/src/notifications/services/limit-check.service.ts
  packages/backend/src/notifications/services/notification-cron.service.spec.ts
  packages/backend/src/notifications/services/notification-cron.service.ts
  packages/backend/src/otlp/otlp.controller.spec.ts
  packages/backend/src/otlp/otlp.controller.ts
Due: backend

Add compression to plugin dependencies
  package-lock.json
Due: none

Fix OpenClaw scanner warning in plugin bundle
  packages/openclaw-plugin/__tests__/build.test.ts
  packages/openclaw-plugin/build.ts
  packages/openclaw-plugin/package.json
  packages/openclaw-plugin/src/json-file.ts
  packages/openclaw-plugin/src/local-mode.ts
  packages/openclaw-plugin/src/subscription.ts
Due: plugin

Fix CI regressions for plugin warning patch
  .changeset/wet-bulldogs-smoke.md
  packages/backend/src/notifications/services/limit-check-local.service.spec.ts
Due: backend

Add coverage for ManifestRuntimeService
  packages/backend/src/common/services/manifest-runtime.service.spec.ts
Due: backend

Validate top-level JSON objects in plugin config helper
  packages/openclaw-plugin/__tests__/json-file.test.ts
  packages/openclaw-plugin/src/json-file.ts
Due: plugin

Warn on malformed plugin JSON files
  packages/openclaw-plugin/__tests__/json-file.test.ts
  packages/openclaw-plugin/__tests__/local-mode.test.ts
  packages/openclaw-plugin/__tests__/subscription.test.ts
  packages/openclaw-plugin/src/json-file.ts
Due: plugin

fix: resolve CI failures from rebase conflict resolution
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/openclaw-plugin/__tests__/local-mode.test.ts
Due: backend

feat: add smoke test suite (9 sequential E2E tests)
  .changeset/smoke-tests.md
  packages/backend/test/helpers.ts
  packages/backend/test/smoke-test.e2e-spec.ts
Due: none

fix: return 424 when fallback chain is exhausted to stop infinite retries
  .changeset/fix-fallback-exhausted.md
  packages/backend/src/routing/proxy/__tests__/fallback-status-codes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/fallback-status-codes.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: resolve 404 on page reload for SPA routes in local mode
  .changeset/fix-spa-fallback-local-mode.md
  packages/backend/src/app.module.ts
  packages/backend/src/common/filters/spa-fallback.filter.spec.ts
  packages/backend/src/common/filters/spa-fallback.filter.ts
  packages/backend/src/common/utils/frontend-path.spec.ts
  packages/backend/src/common/utils/frontend-path.ts
Due: backend

Update CLAUDE.md to align with current codebase
  CLAUDE.md
Due: none

fix: resolve model display names on backend for consistent display across pages
  .changeset/consistent-model-display.md
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
Due: backend, frontend

refactor: extract shared MessageTable component from Overview and MessageLog
  packages/frontend/src/components/MessageTable.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/components/MessageTable.test.tsx
Due: frontend

fix(routing): prevent proxy crash on fallback exhaustion by stripping transfer headers
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: preserve custom providers and x-ai models during pricing sync
  .changeset/fix-pricing-sync-custom-providers.md
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
Due: backend

fix: handle custom provider models in proxy fallback chain
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: add provider names to manual pricing reference
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/routing/model-discovery/manual-pricing-reference.ts
Due: backend

test: add unit tests for model discovery services
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
Due: backend

fix: remove model_pricing LEFT JOIN from analytics queries
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
Due: backend

fix: keep all OpenRouter models under OpenRouter provider
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/routing/resolve.service.spec.ts
  packages/backend/src/routing/resolve.service.ts
  packages/backend/test/model-prices.e2e-spec.ts
  packages/backend/test/proxy.e2e-spec.ts
  packages/backend/test/routing-flow.e2e-spec.ts
Due: backend

fix: attribute supported provider models from OpenRouter pricing data
  CLAUDE.md
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/test/model-prices.e2e-spec.ts
  packages/backend/test/proxy.e2e-spec.ts
Due: backend

fix: record every provider error so rate-limited calls show as errors
  .changeset/fix-rate-limit-error-messages.md
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

fix: merge alibaba and x-ai OpenRouter prefixes into their canonical providers
  packages/backend/src/model-prices/model-pricing-cache.service.ts
Due: backend

refactor: extract provider registry as single source of truth
  CLAUDE.md
  packages/backend/src/common/constants/providers.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/routing/provider-aliases.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

fix(ci): scope changeset check to only changesets added in the PR
  .changeset/five-times-hug.md
  .github/workflows/ci.yml
Due: none

fix: wire PricingSyncService into model discovery for pricing enrichment
  packages/backend/src/routing/model-discovery/model-discovery.module.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
Due: backend

fix: deduplicate getAll() — canonical aliases caused duplicate entries
  packages/backend/src/model-prices/model-pricing-cache.service.ts
Due: backend

fix: recalculate tiers after model discovery completes
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
  packages/backend/src/routing/routing.service.ts
Due: backend

fix: load OpenRouter data before pricing cache on startup
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
Due: backend

fix: correct codecov coverage upload directories
  .changeset/violet-crews-camp.md
  .github/workflows/ci.yml
  packages/backend/test/jest-e2e.json
Due: none

fix: await model discovery on provider connect for immediate UI update
  packages/backend/src/routing/routing.controller.ts
Due: backend

fix: resolve provider aliases when looking up OpenRouter pricing prefix
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
Due: backend

fix: allow LAN access in local mode
  .changeset/allow-lan-local-mode.md
  packages/backend/src/auth/local-auth.guard.spec.ts
  packages/backend/src/auth/local-auth.guard.ts
  packages/backend/src/common/utils/local-ip.spec.ts
  packages/backend/src/common/utils/local-ip.ts
  packages/backend/src/main.ts
  packages/backend/src/otlp/guards/otlp-auth.guard.spec.ts
  packages/backend/src/otlp/guards/otlp-auth.guard.ts
Due: backend

fix(ci): skip changeset check on version packages PRs
  .changeset/wicked-clowns-build.md
  .github/workflows/ci.yml
Due: none

fix: use public IP as default in otlp-auth.guard tests
  packages/backend/src/otlp/guards/otlp-auth.guard.spec.ts
Due: backend

fix: UI consistency for model names, prices, and provider names
  packages/backend/src/model-prices/model-prices.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/routing-utils.test.ts
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
