Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: preserve DeepSeek reasoning effort (#2583)
  .changeset/preserve-deepseek-reasoning-effort.md
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
Due: backend

feat: add Claude Opus 5 subscription support
  .changeset/bright-lions-spark.md
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

test: cover Claude Opus 5 subscription fallback
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
Due: backend

test: vitest 4 compat — constructible EventSource stub + glob-test timeout headroom
  packages/frontend/tests/components/ErrorClassCard.preserved.test.tsx
  packages/frontend/tests/services/sse.test.ts
Due: none

feat(n8n): add Manifest Chat Model sub-node on @n8n/ai-node-sdk
  credentials/ManifestApi.credentials.ts
  integrations/n8n-nodes-manifest/CHANGELOG.md
  integrations/n8n-nodes-manifest/README.md
  integrations/n8n-nodes-manifest/credentials/ManifestApi.credentials.ts
  integrations/n8n-nodes-manifest/dist/credentials/ManifestApi.credentials.d.ts
  integrations/n8n-nodes-manifest/dist/credentials/ManifestApi.credentials.js
  integrations/n8n-nodes-manifest/dist/credentials/ManifestApi.credentials.js.map
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/LmChatManifest.node.d.ts
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/LmChatManifest.node.js
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/LmChatManifest.node.js.map
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/LmChatManifest.node.json
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/manifest-logo.dark.svg
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/manifest-logo.svg
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js.map
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/nodes/LmChatManifest/LmChatManifest.node.json
  integrations/n8n-nodes-manifest/nodes/LmChatManifest/LmChatManifest.node.ts
  integrations/n8n-nodes-manifest/nodes/LmChatManifest/manifest-logo.dark.svg
  integrations/n8n-nodes-manifest/nodes/LmChatManifest/manifest-logo.svg
  integrations/n8n-nodes-manifest/nodes/Manifest/Manifest.node.ts
  integrations/n8n-nodes-manifest/package.json
  nodes/LmChatManifest/LmChatManifest.node.json
  nodes/LmChatManifest/LmChatManifest.node.ts
  nodes/LmChatManifest/manifest-logo.dark.svg
  nodes/LmChatManifest/manifest-logo.svg
  nodes/Manifest/Manifest.node.ts
Due: none

feat: add Claude Opus 5 subscription support (#2585)
  .changeset/bright-lions-spark.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

ci(n8n): publish on version bump merged to main, tag from CI
  .github/workflows/publish-n8n-node.yml
  integrations/n8n-nodes-manifest/README.md
Due: none

chore(n8n): sync package-lock with 0.2.0 and @n8n/ai-node-sdk dev dependency
  integrations/n8n-nodes-manifest/package-lock.json
Due: none

fix: bump seroval to 1.5.6 (critical deserialization advisory)
  .changeset/seroval-critical-bump.md
  package-lock.json
Due: none

fix: sync org.opencontainers.image.base.digest label with bumped distroless digest
  docker/Dockerfile
Due: none

fix: bump seroval to 1.5.6 (critical deserialization advisory) (#2586)
  .changeset/seroval-critical-bump.md
  package-lock.json
Due: none

fix: sync org.opencontainers.image.base.digest label with bumped distroless digest (#2587)
  docker/Dockerfile
Due: none

chore: regenerate package-lock with npm 11 — Dependabot's updater omitted entries npm 11 requires (express-rate-limit, modelparams, vite-plugin-solid, ip-address, vitefu)
  package-lock.json
Due: none

fix: resolve Dependabot lockfile regressions
  package-lock.json
  packages/backend/package.json
  packages/frontend/tests/components/RoutingModals.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
Due: none

fix: support hoisted production dependencies
  docker/Dockerfile
Due: none

chore(n8n): refresh generated node metadata
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/LmChatManifest.node.json
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.json
Due: none

feat: add n8n Manifest Chat Model (#2589)
  .github/workflows/publish-n8n-node.yml
  credentials/ManifestApi.credentials.ts
  integrations/n8n-nodes-manifest/CHANGELOG.md
  integrations/n8n-nodes-manifest/README.md
  integrations/n8n-nodes-manifest/credentials/ManifestApi.credentials.ts
  integrations/n8n-nodes-manifest/dist/credentials/ManifestApi.credentials.d.ts
  integrations/n8n-nodes-manifest/dist/credentials/ManifestApi.credentials.js
  integrations/n8n-nodes-manifest/dist/credentials/ManifestApi.credentials.js.map
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/LmChatManifest.node.d.ts
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/LmChatManifest.node.js
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/LmChatManifest.node.js.map
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/LmChatManifest.node.json
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/manifest-logo.dark.svg
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/manifest-logo.svg
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js.map
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/nodes/LmChatManifest/LmChatManifest.node.json
  integrations/n8n-nodes-manifest/nodes/LmChatManifest/LmChatManifest.node.ts
  integrations/n8n-nodes-manifest/nodes/LmChatManifest/manifest-logo.dark.svg
  integrations/n8n-nodes-manifest/nodes/LmChatManifest/manifest-logo.svg
  integrations/n8n-nodes-manifest/nodes/Manifest/Manifest.node.ts
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
  nodes/LmChatManifest/LmChatManifest.node.json
  nodes/LmChatManifest/LmChatManifest.node.ts
  nodes/LmChatManifest/manifest-logo.dark.svg
  nodes/LmChatManifest/manifest-logo.svg
  nodes/Manifest/Manifest.node.ts
Due: none

fix: clear Dependabot security alerts
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
  package-lock.json
  package.json
Due: none

fix: clear Dependabot security alerts (#2590)
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
  package-lock.json
  package.json
Due: none

fix: let a failed self-host install be retried
  .changeset/resume-self-host-install.md
  docker/.env.example
  docker/DOCKER_README.md
  docker/docker-compose.yml
  docker/install.sh
  packages/backend/src/routing/oauth/core/redirect-pkce-oauth.base.spec.ts
  packages/backend/src/routing/oauth/core/redirect-pkce-oauth.base.ts
  packages/backend/src/telemetry/telemetry.config.spec.ts
  packages/backend/src/telemetry/telemetry.config.ts
Due: backend

docs: add Manifest upgrade section to Apple Containers tutorial (#2549)
  deploy/apple-containers/TUTORIAL.md
Due: none

fix: stop dropping successful requests from the Messages log
  .changeset/drop-success-message-dedup.md
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-dedup.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.streaming-abort.spec.ts
  packages/backend/src/routing/proxy/proxy-message-dedup.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/test/message-log-completeness.e2e-spec.ts
Due: backend

fix: walk fallbacks when primary credentials fail to resolve
  .changeset/m100-credential-fallback.md
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: stop dropping successful requests from the Messages log (#2599)
  .changeset/drop-success-message-dedup.md
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-dedup.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.streaming-abort.spec.ts
  packages/backend/src/routing/proxy/proxy-message-dedup.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/test/message-log-completeness.e2e-spec.ts
Due: backend

fix: do not send self-hosted telemetry from cloud mode
  .changeset/disable-cloud-telemetry.md
  packages/backend/src/telemetry/telemetry.config.spec.ts
  packages/backend/src/telemetry/telemetry.config.ts
Due: backend

fix: deactivate subscription on permanent OAuth refresh failure
  .changeset/oauth-mark-dead-credential.md
  packages/backend/src/routing/oauth/core/index.ts
  packages/backend/src/routing/oauth/core/oauth-refresh-errors.spec.ts
  packages/backend/src/routing/oauth/core/oauth-refresh-errors.ts
  packages/backend/src/routing/oauth/core/redirect-pkce-oauth.base.ts
  packages/backend/src/routing/oauth/openai/openai-oauth.service.coverage.spec.ts
  packages/backend/src/routing/oauth/openai/openai-oauth.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

fix: treat dead credentials as attempts and share resolve path
  .changeset/m100-credential-fallback.md
  packages/backend/src/common/errors/__tests__/error-codes.spec.ts
  packages/backend/src/common/errors/error-codes.ts
  packages/backend/src/common/errors/manifest-error.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/route-credentials.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/route-credentials.ts
  packages/frontend/src/services/formatters.ts
  packages/frontend/tests/services/formatters.test.ts
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
Due: backend, frontend

Add user-research invite modal and banner offering $10 Gemini credit
  .changeset/user-discovery-invite.md
  packages/frontend/public/images/discovery-banner.jpg
  packages/frontend/public/logos/gemini.svg
  packages/frontend/src/components/UserDiscoveryBanner.tsx
  packages/frontend/src/components/UserDiscoveryModal.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/overview.css
  packages/frontend/tests/components/SocialFollowBanner.test.tsx
  packages/frontend/tests/components/UserDiscoveryBanner.test.tsx
  packages/frontend/tests/components/UserDiscoveryModal.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
Due: frontend

fix: lock subscription credential row during OAuth refresh
  .changeset/oauth-refresh-row-lock.md
  packages/backend/src/routing/oauth/__tests__/mock-subscription-lock.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.security.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/backend/src/routing/oauth/core/index.ts
  packages/backend/src/routing/oauth/core/oauth-refresh-coordinator.spec.ts
  packages/backend/src/routing/oauth/core/oauth-refresh-coordinator.ts
  packages/backend/src/routing/oauth/core/redirect-pkce-oauth.base.ts
  packages/backend/src/routing/oauth/gemini/gemini-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro/kiro-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro/kiro-oauth.service.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth.service.coverage.spec.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth.service.spec.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth.service.ts
  packages/backend/src/routing/oauth/openai/openai-oauth.service.coverage.spec.ts
  packages/backend/src/routing/oauth/openai/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

fix: stamp error_code on credential hop failures
  packages/backend/src/common/errors/__tests__/error-codes.spec.ts
  packages/backend/src/common/errors/error-codes.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

fix: show current model names when connecting a provider
  .changeset/current-provider-catalogs.md
  README.md
  packages/frontend/src/services/providers.ts
Due: frontend

feat: inject usage.cost on OpenAI and Anthropic proxy responses
  packages/backend/src/routing/proxy/__tests__/response-cost.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/response-cost.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

fix: classify credential-hop failures as config, not provider errors
  packages/backend/src/common/errors/__tests__/error-codes.spec.ts
  packages/backend/src/common/errors/error-codes.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

fix: don't start a provider attempt that no chain will complete
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: make the subscription OAuth refresh lock safe to retry and bounded
  packages/backend/src/routing/routing-core/__tests__/provider.service.subscription-lock.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

fix: walk fallbacks when primary credentials fail to resolve (#2600)
  .changeset/m100-credential-fallback.md
  .changeset/oauth-refresh-row-lock.md
  packages/backend/src/common/errors/__tests__/error-codes.spec.ts
  packages/backend/src/common/errors/error-codes.ts
  packages/backend/src/common/errors/manifest-error.ts
  packages/backend/src/routing/oauth/__tests__/mock-subscription-lock.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.security.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/backend/src/routing/oauth/core/index.ts
  packages/backend/src/routing/oauth/core/oauth-refresh-coordinator.spec.ts
  packages/backend/src/routing/oauth/core/oauth-refresh-coordinator.ts
  packages/backend/src/routing/oauth/core/redirect-pkce-oauth.base.ts
  packages/backend/src/routing/oauth/gemini/gemini-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro/kiro-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro/kiro-oauth.service.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth.service.coverage.spec.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth.service.spec.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth.service.ts
  packages/backend/src/routing/oauth/openai/openai-oauth.service.coverage.spec.ts
  packages/backend/src/routing/oauth/openai/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/route-credentials.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/route-credentials.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.subscription-lock.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/services/formatters.ts
  packages/frontend/tests/services/formatters.test.ts
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
Due: backend, frontend

fix: preserve SSE framing when injecting response cost
  packages/backend/src/routing/proxy/__tests__/response-cost.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/response-cost.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

test: cover the subscription OAuth lock against real Postgres
  .changeset/oauth-lock-e2e.md
  packages/backend/test/oauth-subscription-lock.e2e-spec.ts
Due: none

feat: add self-hosted Autofix instance identity
  .changeset/quiet-horses-heal.md
  docker/DOCKER_README.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1800400000000-AddInstanceCredential.ts
  packages/backend/src/entities/instance-credential.entity.ts
  packages/backend/src/routing/autofix/__tests__/autofix-health-probe.spec.ts
  packages/backend/src/routing/autofix/__tests__/autofix.module.spec.ts
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/__tests__/http-healing-client.spec.ts
  packages/backend/src/routing/autofix/__tests__/phoenix-contract.spec.ts
  packages/backend/src/routing/autofix/autofix-healing-config.ts
  packages/backend/src/routing/autofix/autofix-health-probe.ts
  packages/backend/src/routing/autofix/autofix.module.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/contract/phoenix-openapi.yaml
  packages/backend/src/routing/autofix/healing-client.ts
  packages/backend/src/routing/autofix/http-healing-client.ts
  packages/backend/src/routing/autofix/instance-credential.service.spec.ts
  packages/backend/src/routing/autofix/instance-credential.service.ts
  packages/backend/src/routing/autofix/mock-healing-client.ts
  packages/backend/src/routing/autofix/noop-healing-client.ts
  packages/backend/src/routing/autofix/observation-reporter.spec.ts
  packages/backend/src/routing/autofix/observation-reporter.ts
  packages/backend/src/routing/autofix/phoenix.types.ts
  packages/backend/test/helpers.ts
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
  packages/shared/src/index.ts
Due: backend

fix: use backend dependencies in schema diagram
  .github/workflows/db-diagram.yml
Due: none
