Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: keep stale pinned routes unavailable
  packages/backend/src/routing/routing-core/__tests__/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
Due: backend

fix: preserve route metadata on streamed errors
  .changeset/route-error-metadata.md
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

feat: phone home waitlist claims from self-hosted to cloud
  .changeset/waitlist-phone-home.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1799000000000-AddAutofixWaitlistSignups.spec.ts
  packages/backend/src/database/migrations/1799000000000-AddAutofixWaitlistSignups.ts
  packages/backend/src/entities/autofix-waitlist-signup.entity.ts
  packages/backend/src/waitlist/dto/waitlist-signup.dto.spec.ts
  packages/backend/src/waitlist/dto/waitlist-signup.dto.ts
  packages/backend/src/waitlist/waitlist-phone-home.service.spec.ts
  packages/backend/src/waitlist/waitlist-phone-home.service.ts
  packages/backend/src/waitlist/waitlist.controller.spec.ts
  packages/backend/src/waitlist/waitlist.controller.ts
  packages/backend/src/waitlist/waitlist.module.ts
  packages/backend/test/helpers.ts
Due: backend

rename phone-home to waitlist-sync
  .changeset/waitlist-phone-home.md
  package-lock.json
  packages/backend/src/waitlist/waitlist-sync.service.spec.ts
  packages/backend/src/waitlist/waitlist-sync.service.ts
  packages/backend/src/waitlist/waitlist.controller.spec.ts
  packages/backend/src/waitlist/waitlist.controller.ts
  packages/backend/src/waitlist/waitlist.module.ts
Due: backend

Phone home waitlist claims from self-hosted instances (#2418)
  .changeset/waitlist-phone-home.md
  package-lock.json
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1799000000000-AddAutofixWaitlistSignups.spec.ts
  packages/backend/src/database/migrations/1799000000000-AddAutofixWaitlistSignups.ts
  packages/backend/src/entities/autofix-waitlist-signup.entity.ts
  packages/backend/src/waitlist/dto/waitlist-signup.dto.spec.ts
  packages/backend/src/waitlist/dto/waitlist-signup.dto.ts
  packages/backend/src/waitlist/waitlist-sync.service.spec.ts
  packages/backend/src/waitlist/waitlist-sync.service.ts
  packages/backend/src/waitlist/waitlist.controller.spec.ts
  packages/backend/src/waitlist/waitlist.controller.ts
  packages/backend/src/waitlist/waitlist.module.ts
  packages/backend/test/helpers.ts
Due: backend

chore: refresh CLAUDE.md to match current codebase
  CLAUDE.md
Due: none

fix: read email from session user instead of tenant
  packages/backend/src/waitlist/waitlist.controller.spec.ts
  packages/backend/src/waitlist/waitlist.controller.ts
Due: backend

fix: read waitlist email from session, rename table to waitlist_claims
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1800000000000-RenameWaitlistClaimsTable.spec.ts
  packages/backend/src/database/migrations/1800000000000-RenameWaitlistClaimsTable.ts
  packages/backend/src/entities/waitlist-claim.entity.ts
  packages/backend/src/waitlist/waitlist.controller.spec.ts
  packages/backend/src/waitlist/waitlist.controller.ts
  packages/backend/src/waitlist/waitlist.module.ts
  packages/backend/test/helpers.ts
Due: backend

fix: address ClinePass provider review issues
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

test: cover ClinePass frontend registration
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/providers.test.ts
Due: none

review fixes: rename constraints in migration, rename DTO to WaitlistClaimDto
  packages/backend/src/database/migrations/1800000000000-RenameWaitlistClaimsTable.spec.ts
  packages/backend/src/database/migrations/1800000000000-RenameWaitlistClaimsTable.ts
  packages/backend/src/waitlist/dto/waitlist-claim.dto.spec.ts
  packages/backend/src/waitlist/dto/waitlist-claim.dto.ts
  packages/backend/src/waitlist/waitlist.controller.ts
Due: backend

Fix waitlist sync reading empty tenant email (#2420)
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1800000000000-RenameWaitlistClaimsTable.spec.ts
  packages/backend/src/database/migrations/1800000000000-RenameWaitlistClaimsTable.ts
  packages/backend/src/entities/waitlist-claim.entity.ts
  packages/backend/src/waitlist/dto/waitlist-claim.dto.spec.ts
  packages/backend/src/waitlist/dto/waitlist-claim.dto.ts
  packages/backend/src/waitlist/waitlist.controller.spec.ts
  packages/backend/src/waitlist/waitlist.controller.ts
  packages/backend/src/waitlist/waitlist.module.ts
  packages/backend/test/helpers.ts
Due: backend

chore: add missing changeset for waitlist sync fix
  .changeset/waitlist-sync-fix.md
Due: none

chore: add missing changeset for waitlist sync fix (#2422)
  .changeset/waitlist-sync-fix.md
Due: none

fix: preserve structured output routing
  .changeset/structured-output-responses.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/google-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

fix: remove free agent limit
  .changeset/stripe-billing.md
  packages/backend/.env.example
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/billing/billing.config.ts
  packages/backend/src/billing/billing.module.ts
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/backend/src/database/migrations/1798100000000-AddTenantLimitOverrides.ts
  packages/backend/src/entities/tenant.entity.spec.ts
  packages/backend/src/entities/tenant.entity.ts
  packages/backend/test/billing-agent-limit.e2e-spec.ts
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/src/components/DuplicateAgentModal.tsx
  packages/frontend/src/components/UpgradePanel.tsx
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/tests/components/AddAgentModal.test.tsx
  packages/frontend/tests/components/DuplicateAgentModal.test.tsx
  packages/frontend/tests/components/UpgradePanel.test.tsx
  packages/frontend/tests/pages/Account.test.tsx
  packages/frontend/tests/pages/Workspace-validation.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
  packages/frontend/tests/services/api/billing.test.ts
  packages/shared/__tests__/plan-limits.spec.ts
  packages/shared/src/plan-limits.ts
Due: backend, frontend

feat: add post-auth upgrade page
  .changeset/pro-upgrade-page.md
  packages/frontend/src/components/AuthGuard.tsx
  packages/frontend/src/components/GuestGuard.tsx
  packages/frontend/src/components/SocialButtons.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Upgrade.tsx
  packages/frontend/src/services/api/billing.ts
  packages/frontend/src/services/auth-redirects.ts
  packages/frontend/tests/components/AuthGuard.test.tsx
  packages/frontend/tests/components/GuestGuard.test.tsx
  packages/frontend/tests/components/SocialButtons.test.tsx
  packages/frontend/tests/pages/Login.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
  packages/frontend/tests/pages/Upgrade.test.tsx
  packages/frontend/tests/services/api/billing.test.ts
  packages/frontend/tests/services/auth-redirects.test.ts
Due: frontend

feat: one-click dev sign-in on the dashboard
  CLAUDE.md
  packages/frontend/src/pages/Login.tsx
Due: frontend

test: cover the dev sign-in button
  packages/frontend/tests/pages/Login.test.tsx
Due: none

style: revert incidental reformat of the login spec
  packages/frontend/tests/pages/Login.test.tsx
Due: none

test: cover the dev sign-in error path
  packages/frontend/tests/pages/Login.test.tsx
Due: none

feat: default Auto-fix on for cloud, off for self-hosted
  CLAUDE.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1799000300000-MakeAutofixEnabledNullable.spec.ts
  packages/backend/src/database/migrations/1799000300000-MakeAutofixEnabledNullable.ts
  packages/backend/src/entities/agent.entity.ts
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingAutofixSection.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/SettingsAutofixSection.tsx
  packages/frontend/src/styles/agents.css
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/pages/SettingsAutofixSection.test.tsx
Due: backend, frontend

feat: refine upgrade plan cards
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/pages/Upgrade.tsx
  packages/frontend/src/styles/agents.css
  packages/frontend/tests/pages/Account.test.tsx
  packages/frontend/tests/pages/Upgrade.test.tsx
Due: frontend

fix: route request-limit upgrades to upgrade page
  .changeset/request-limit-upgrade-url.md
  packages/backend/src/routing/proxy/__tests__/proxy-exception.filter.spec.ts
  packages/backend/src/routing/proxy/proxy-exception.filter.ts
Due: backend

fix: keep the Auto-fix toggle from writing the wrong agent or a blind value
  packages/frontend/src/pages/SettingsAutofixSection.tsx
  packages/frontend/tests/pages/SettingsAutofixSection.test.tsx
Due: frontend

fix: type account billing status fetch
  packages/frontend/src/pages/Account.tsx
Due: frontend

test: cover auth redirect mocks
  packages/frontend/tests/components/AuthGuard-failure.test.tsx
  packages/frontend/tests/pages/Login-validation.test.tsx
Due: none

fix: address billing email review issues
  .changeset/subscription-plan-emails.md
  packages/backend/src/billing/billing-email-log.service.spec.ts
  packages/backend/src/billing/billing-email-log.service.ts
  packages/backend/src/billing/billing-email-sender.ts
  packages/backend/src/billing/billing-email.service.ts
  packages/backend/src/billing/billing-usage-email.service.spec.ts
  packages/backend/src/billing/billing-usage-email.service.ts
  packages/backend/src/billing/emails/billing-plan-email.spec.ts
  packages/backend/src/billing/emails/billing-plan-email.tsx
  packages/backend/src/billing/subscription-webhook-emails.spec.ts
  packages/backend/src/billing/subscription-webhook-emails.ts
  packages/backend/src/database/migrations/1798200000000-AddBillingEmailLogs.spec.ts
Due: backend

feat: send subscription plan emails
  .changeset/subscription-plan-emails.md
  packages/backend/src/auth/auth.instance.spec.ts
  packages/backend/src/auth/auth.instance.ts
  packages/backend/src/billing/billing-email-log.service.spec.ts
  packages/backend/src/billing/billing-email-log.service.ts
  packages/backend/src/billing/billing-email-sender.ts
  packages/backend/src/billing/billing-email.service.ts
  packages/backend/src/billing/billing-usage-email.service.spec.ts
  packages/backend/src/billing/billing-usage-email.service.ts
  packages/backend/src/billing/billing.module.ts
  packages/backend/src/billing/emails/billing-plan-email.spec.ts
  packages/backend/src/billing/emails/billing-plan-email.tsx
  packages/backend/src/billing/subscription-webhook-emails.spec.ts
  packages/backend/src/billing/subscription-webhook-emails.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1798200000000-AddBillingEmailLogs.spec.ts
  packages/backend/src/database/migrations/1798200000000-AddBillingEmailLogs.ts
Due: backend

feat: add usage email preferences
  .changeset/subscription-plan-emails.md
  packages/backend/src/billing/billing-email-preferences.ts
  packages/backend/src/billing/billing-usage-email.service.spec.ts
  packages/backend/src/billing/billing-usage-email.service.ts
  packages/backend/src/billing/billing.controller.spec.ts
  packages/backend/src/billing/billing.controller.ts
  packages/backend/src/billing/dto/update-billing-email-preferences.dto.ts
  packages/backend/src/billing/emails/billing-plan-email.spec.ts
  packages/backend/src/billing/emails/billing-plan-email.tsx
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1798300000000-AddBillingEmailPreferences.spec.ts
  packages/backend/src/database/migrations/1798300000000-AddBillingEmailPreferences.ts
  packages/backend/src/entities/tenant.entity.spec.ts
  packages/backend/src/entities/tenant.entity.ts
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/services/api/billing.ts
  packages/frontend/src/styles/agents.css
  packages/frontend/tests/pages/Account.test.tsx
  packages/frontend/tests/services/api/billing.test.ts
  packages/shared/src/index.ts
  packages/shared/src/plan-limits.ts
Due: backend, frontend

feat: gate Auto-fix behind a 3-phase early-access rollout
  CLAUDE.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1799000400000-AddAutofixAccessGrant.spec.ts
  packages/backend/src/database/migrations/1799000400000-AddAutofixAccessGrant.ts
  packages/backend/src/entities/tenant.entity.ts
  packages/backend/src/routing/autofix/__tests__/autofix.module.spec.ts
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.module.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
  packages/backend/src/waitlist/waitlist.controller.spec.ts
  packages/backend/src/waitlist/waitlist.controller.ts
  packages/backend/src/waitlist/waitlist.module.ts
  packages/frontend/src/pages/SettingsAutofixSection.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/pages/SettingsAutofixSection.test.tsx
  packages/frontend/tests/services/api/routing-extra.test.ts
Due: backend, frontend

chore: gitignore local dev artifacts (.playwright-mcp, .serve-ports)
  .gitignore
Due: none

feat: redesign upgrade page and add plan selection to signup flow
  packages/backend/src/billing/plan.service.ts
  packages/frontend/src/components/AuthGuard.tsx
  packages/frontend/src/components/GuestGuard.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/PlanPicker.tsx
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Upgrade.tsx
  packages/frontend/src/services/plan-selection.ts
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/auth.css
  packages/shared/src/plan-limits.ts
Due: backend, frontend

feat: replace social follow banner with paid plans announcement
  packages/frontend/src/components/SocialFollowBanner.tsx
  packages/frontend/src/styles/overview.css
  packages/frontend/tests/components/SocialFollowBanner.test.tsx
Due: frontend

feat: replace social follow banner with paid plans announcement (#2429)
  packages/frontend/src/components/SocialFollowBanner.tsx
  packages/frontend/src/styles/overview.css
  packages/frontend/tests/components/SocialFollowBanner.test.tsx
Due: frontend

feat: sidebar upgrade button for free plan and block plan picker after selection
  packages/frontend/src/components/GuestGuard.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/styles/modals.css
Due: frontend

feat: upgrade success modal, PRO badge in dropdown, and z-index fix
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/UpgradeSuccessModal.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Upgrade.tsx
  packages/frontend/src/styles/controls.css
  packages/frontend/src/styles/modals.css
Due: frontend

fix: plan picker not showing after signup due to GuestGuard race condition
  packages/frontend/src/pages/Register.tsx
Due: frontend

fix: address Auto-fix review feedback
  docs/autofix-self-healing-poc.md
  packages/backend/src/database/migrations/1799000100000-AddAutofixMessageFields.spec.ts
  packages/backend/src/database/migrations/1799000100000-AddAutofixMessageFields.ts
  packages/backend/src/routing/autofix/__tests__/autofix-health-probe.spec.ts
  packages/backend/src/routing/autofix/__tests__/autofix.module.spec.ts
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/__tests__/mock-healing-client.spec.ts
  packages/backend/src/routing/autofix/__tests__/provider-error-normalizer.spec.ts
  packages/backend/src/routing/autofix/autofix-health-probe.ts
  packages/backend/src/routing/autofix/autofix.module.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/http-healing-client.ts
  packages/backend/src/routing/autofix/mock-healing-client.ts
  packages/backend/src/routing/autofix/phoenix.types.ts
  packages/backend/src/routing/autofix/provider-error-normalizer.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/SettingsAutofixSection.tsx
  packages/frontend/tests/pages/SettingsAutofixSection.test.tsx
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
Due: backend, frontend

feat: redesign Messages table — add Trigger column, simplify Status, remove feedback
  packages/backend/src/analytics/services/query-helpers.ts
  packages/frontend/src/components/MessageTable.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/styles/data.css
Due: backend, frontend
