Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: persist refreshed OAuth tokens to selected account
  .changeset/oauth-refresh-key-label.md
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/backend/src/routing/oauth/gemini-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.spec.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.ts
  packages/backend/src/routing/oauth/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/redirect-pkce-oauth.base.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.ts
  packages/backend/src/routing/openai-oauth.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

feat: add Command Code subscription provider
  .changeset/commandcode-subscription-provider.md
  packages/backend/src/model-discovery/model-capabilities.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/public/icons/commandcode.svg
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/provider-inference.spec.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/provider-inference.ts
  packages/shared/src/providers.ts
  packages/shared/src/subscription/configs.ts
Due: backend, frontend

fix: simplify Command Code API key link
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
  packages/frontend/tests/services/providers.test.ts
Due: frontend

fix: note Command Code plan requirement
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/services/providers.ts
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
  packages/frontend/tests/services/providers.test.ts
Due: frontend

fix: move Command Code plan note to header
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
Due: frontend

refactor: dedupe backend helpers and fix per-agent cost totals
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/agent-analytics.service.spec.ts
  packages/backend/src/analytics/services/agent-analytics.service.ts
  packages/backend/src/common/dto/range-query.dto.ts
  packages/backend/src/common/dto/savings-query.dto.ts
  packages/backend/src/common/utils/period.util.ts
  packages/backend/src/common/utils/postgres-sql.spec.ts
  packages/backend/src/common/utils/postgres-sql.ts
  packages/backend/src/common/utils/range.util.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/model-fetcher.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/notifications/services/email-provider-validation.ts
  packages/backend/src/notifications/services/email-providers/mailgun.provider.ts
  packages/backend/src/notifications/services/notification-log.service.ts
  packages/backend/src/notifications/services/notification-rules.service.ts
  packages/backend/src/otlp/otlp-deprecated.controller.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/scoring/__tests__/extract-tool-name.spec.ts
  packages/backend/src/scoring/specificity-detector.ts
  packages/backend/src/scoring/specificity-signals.ts
  packages/backend/src/scoring/types.ts
Due: backend

Add BytePlus Coding Plan provider
  .changeset/byteplus-coding-plan.md
  README.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/model-discovery/model-capabilities.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/provider-hooks.ts
  packages/frontend/public/icons/byteplus.svg
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/providers.ts
  packages/shared/src/subscription/configs.ts
Due: backend, frontend

feat: add Qwen Token Plan subscription
  .changeset/qwen-token-plan-subscription.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/provider-hooks.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/provider-utils.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend, frontend

feat: add Z.ai subscription endpoint selector
  .changeset/zai-subscription-endpoint.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/zai-region.spec.ts
  packages/backend/src/routing/zai-region.ts
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/frontend/tests/services/providers.test.ts
Due: backend, frontend

fix: address review feedback
  packages/backend/src/database/migrations/1790200000000-AddDedupCompositeIndex.spec.ts
  packages/backend/src/database/migrations/1790200000000-AddDedupCompositeIndex.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/proxy/http-dispatcher.spec.ts
  packages/backend/src/routing/proxy/http-dispatcher.ts
  packages/backend/src/routing/routing-core/routing-cache.service.spec.ts
  packages/backend/src/routing/routing-core/routing-cache.service.ts
Due: backend

fix: keep dedup index immutable and 5-column
  packages/backend/src/database/migrations/1790200000000-AddDedupCompositeIndex.spec.ts
  packages/backend/src/database/migrations/1790200000000-AddDedupCompositeIndex.ts
  packages/backend/src/entities/agent-message.entity.ts
Due: backend

fix: update provider and agent logos
  packages/frontend/public/icons/langchain.svg
  packages/frontend/public/icons/openclaw.png
  packages/frontend/public/icons/openclaw.svg
  packages/frontend/public/icons/providers/alibaba.svg
  packages/frontend/src/components/ProviderIcon.tsx
Due: frontend

fix: update provider and agent logos (#2100)
  packages/frontend/public/icons/langchain.svg
  packages/frontend/public/icons/openclaw.png
  packages/frontend/public/icons/openclaw.svg
  packages/frontend/public/icons/providers/alibaba.svg
  packages/frontend/src/components/ProviderIcon.tsx
Due: frontend

chore: defer keep-alive connection pool to its own PR
  .changeset/proxy-dashboard-perf.md
  package-lock.json
  packages/backend/package.json
  packages/backend/src/main.ts
  packages/backend/src/routing/proxy/http-dispatcher.spec.ts
  packages/backend/src/routing/proxy/http-dispatcher.ts
Due: backend

perf: reuse upstream connections with a keep-alive pool
  .changeset/keep-alive-pool.md
  package-lock.json
  packages/backend/package.json
  packages/backend/src/main.ts
  packages/backend/src/routing/proxy/http-dispatcher.spec.ts
  packages/backend/src/routing/proxy/http-dispatcher.ts
Due: backend

feat: simplified provider pages, sidebar agents link, breadcrumbs, bug fixes
  packages/backend/src/routing/agent-provider-access.controller.ts
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/src/pages/AgentOverview.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
  packages/frontend/src/services/connection-breadcrumb-store.ts
  packages/frontend/src/services/routing-params.ts
Due: backend, frontend

feat: cost chart grouping, full-width tables, quick links, tab reorder, fixes
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/routing/agent-provider-access.controller.ts
  packages/frontend/src/components/ProviderChartCard.tsx
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
  packages/frontend/src/services/api/analytics.ts
Due: backend, frontend

feat: redesigned stat cards with provider lists, add buttons, and quick links
  packages/frontend/src/pages/GlobalOverview.tsx
Due: frontend

feat: sidebar reorder, Playground global page with agent selector
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/Playground.tsx
  packages/frontend/src/services/playground-store.ts
Due: frontend

feat: onboarding flow — contextual banners + agent setup modal
  packages/frontend/src/pages/AgentOverview.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
Due: frontend

fix: provider-lift migration dedup, tier backfill, and access IDOR
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.ts
  packages/backend/src/routing/agent-provider-access.controller.spec.ts
  packages/backend/src/routing/agent-provider-access.controller.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
  packages/backend/src/routing/routing-core/tier.service.ts
Due: backend

fix: relabel colliding providers instead of deleting (no key loss)
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.ts
Due: backend

feat: custom provider name/logo resolution, letter avatars, stale data fix
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Playground.tsx
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/styles/custom-select.css
Due: frontend

fix: preserve non-message Responses input items
  .changeset/responses-non-message-input.md
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

docs: fix stale unique-index comment (user_id not agent_id)
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

refactor: remove per-agent provider access feature
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/entities/agent-provider-access.entity.ts
  packages/backend/src/entities/user-provider.entity.ts
  packages/backend/src/routing/agent-provider-access.controller.spec.ts
  packages/backend/src/routing/agent-provider-access.controller.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/routing.module.ts
  packages/backend/test/helpers.ts
Due: backend

refactor: provider-lift migration drops agent_id, no access table
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.ts
Due: backend

fix: repoint routing empty-state to global providers page (dead link)
  packages/frontend/src/pages/Routing.tsx
Due: frontend

fix: persist custom provider before recalc; precise provider-removal cleanup; update stale tests
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/test/smoke-test.e2e-spec.ts
  packages/frontend/tests/services/api-extra.test.ts
Due: backend

fix: provider removal cleans all user agents; case-insensitive custom name check
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

feat: custom providers are user-scoped (global)
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.ts
  packages/backend/src/entities/custom-provider.entity.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/custom-provider.controller.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.controller.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/routing-cache.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/routing-core/routing-cache.service.spec.ts
  packages/backend/src/routing/routing-core/routing-cache.service.ts
  packages/backend/test/agent-duplication.e2e-spec.ts
  packages/backend/test/custom-providers.e2e-spec.ts
Due: backend

feat: migration lifts custom_providers to user level
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1791200000000-LiftCustomProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791200000000-LiftCustomProvidersToUserLevel.ts
Due: backend

refactor: remove per-agent providers page from UI
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/src/pages/AgentProviders.tsx
Due: frontend

feat: custom providers use user-scoped endpoints in UI
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/LocalServerDetailView.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Playground.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/tests/services/api/routing-extra.test.ts
Due: frontend

fix: drop agentName from getCustomProviders callers (custom providers are global)
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
Due: frontend

test: update custom-provider component tests for user-scoped API
  packages/frontend/tests/components/CustomProviderForm.test.tsx
  packages/frontend/tests/components/LocalServerDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: none
