Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

test: cover response cost edge cases
  packages/backend/src/routing/proxy/__tests__/response-cost.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/response-cost.ts
  packages/backend/src/routing/proxy/stream-writer.ts
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
Due: backend

perf: use exact monthly request counter
  .changeset/exact-request-usage-counter.md
  packages/backend/src/billing/billing-usage-email.service.spec.ts
  packages/backend/src/billing/billing-usage-email.service.ts
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/backend/src/billing/request-quota-window.spec.ts
  packages/backend/src/billing/request-quota-window.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.spec.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.ts
  packages/backend/src/database/migrations/1801300000000-AddTenantRequestUsage.spec.ts
  packages/backend/src/database/migrations/1801300000000-AddTenantRequestUsage.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/entities/request.entity.ts
  packages/backend/src/entities/tenant-request-usage.entity.spec.ts
  packages/backend/src/entities/tenant-request-usage.entity.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/test/billing-request-limit.e2e-spec.ts
  packages/backend/test/helpers.ts
  packages/backend/test/tenant-request-usage-migration.e2e-spec.ts
Due: backend

ci: link backend deps in schema diff
  .github/workflows/db-diagram.yml
Due: none

test: assert discounted cache read cost
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
Due: none

fix: polish cloud onboarding wizard UX
  packages/frontend/src/pages/Welcome.tsx
  packages/frontend/src/pages/welcome-helpers.ts
  packages/frontend/src/services/onboarding.ts
  packages/frontend/src/styles/playground.css
  packages/frontend/src/styles/welcome.css
  packages/frontend/tests/pages/Welcome.test.ts
Due: frontend

fix: improve onboarding wizard UX polish
  packages/frontend/src/pages/Welcome.tsx
  packages/frontend/src/styles/welcome.css
Due: frontend

fix: scope harness Overview to that harness's own routing
  .changeset/wise-moons-repeat.md
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/test/overview.e2e-spec.ts
Due: backend

feat: add managed Manifest provider via LiteLLM virtual keys
  packages/backend/src/common/constants/litellm.spec.ts
  packages/backend/src/common/constants/litellm.ts
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.controller.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.service.spec.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.service.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/routing.module.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/api/providers.ts
  packages/frontend/src/services/providers.ts
  packages/shared/src/providers.ts
Due: backend, frontend

fix: scope harness Overview to that harness's own routing (#2609)
  .changeset/wise-moons-repeat.md
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/test/overview.e2e-spec.ts
Due: backend

test: cover the subscription OAuth lock against real Postgres (#2606)
  .changeset/oauth-lock-e2e.md
  packages/backend/test/oauth-subscription-lock.e2e-spec.ts
Due: none

fix: restore Linux rollup native binaries in lockfile
  package-lock.json
Due: none

fix: add Manifest provider API key URL for frontend registry check
  packages/frontend/src/services/provider-api-key-urls.ts
Due: frontend

feat: confirm hosted Autofix on self-hosted
  packages/frontend/src/pages/SettingsAutofixSection.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/tests/pages/SettingsAutofixSection.test.tsx
Due: frontend

chore: remove merge formatting noise
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/stream-protocol.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/pages/MessageLog.tsx
Due: backend, frontend

feat: add Hugging Face provider (#2505)
  .changeset/tidy-pandas-route.md
  README.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/model-discovery/model-capabilities.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/providers.ts
Due: backend, frontend

fix: avoid request counter backfill during deploy
  .changeset/exact-request-usage-counter.md
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/backend/src/billing/request-quota-window.ts
  packages/backend/src/database/migrations/1801300000000-AddTenantRequestUsage.spec.ts
  packages/backend/src/database/migrations/1801300000000-AddTenantRequestUsage.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/entities/tenant-request-usage.entity.spec.ts
  packages/backend/src/entities/tenant-request-usage.entity.ts
  packages/backend/test/billing-request-limit.e2e-spec.ts
  packages/backend/test/tenant-request-usage-migration.e2e-spec.ts
Due: backend

feat: refresh provider models when picker opens
  .changeset/refresh-routing-models-daily.md
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: frontend

fix: raise provider connection limit
  .changeset/fifty-provider-connections.md
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/test/multi-key-providers.e2e-spec.ts
  packages/frontend/src/components/CopilotDeviceLogin.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/tests/components/ProviderDetailView.test.tsx
  packages/shared/src/index.ts
  packages/shared/src/provider-limits.ts
Due: backend, frontend

fix: fail fast on request counter locks
  .changeset/exact-request-usage-counter.md
  packages/backend/src/database/migrations/1801300000000-AddTenantRequestUsage.spec.ts
  packages/backend/src/database/migrations/1801300000000-AddTenantRequestUsage.ts
  packages/backend/test/tenant-request-usage-migration.e2e-spec.ts
Due: backend

fix: raise provider connection limit (#2611)
  .changeset/fifty-provider-connections.md
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/test/multi-key-providers.e2e-spec.ts
  packages/frontend/src/components/CopilotDeviceLogin.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/tests/components/ProviderDetailView.test.tsx
  packages/shared/src/index.ts
  packages/shared/src/provider-limits.ts
Due: backend, frontend

feat: refresh provider models when picker opens (#2612)
  .changeset/refresh-routing-models-daily.md
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: frontend

refactor: derive request quota window in trigger
  packages/backend/src/billing/request-quota-window.spec.ts
  packages/backend/src/billing/request-quota-window.ts
  packages/backend/src/database/migrations/1801300000000-AddTenantRequestUsage.spec.ts
  packages/backend/src/database/migrations/1801300000000-AddTenantRequestUsage.ts
  packages/backend/src/entities/request.entity.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

fix: harden Manifest provider provisioning
  .changeset/managed-manifest-provider.md
  packages/backend/src/common/constants/litellm.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.controller.spec.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.service.spec.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.service.ts
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/services/api/providers.ts
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/frontend/tests/services/api/providers.test.ts
Due: backend, frontend

fix: keep quota counter cloud-only
  .changeset/exact-request-usage-counter.md
  packages/backend/src/database/migrations/1801300000000-AddTenantRequestUsage.spec.ts
  packages/backend/src/database/migrations/1801300000000-AddTenantRequestUsage.ts
  packages/backend/src/entities/request.entity.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/test/tenant-request-usage-migration.e2e-spec.ts
Due: backend

test: cover Manifest provider API branches
  packages/frontend/tests/services/api/providers.test.ts
Due: none

perf: use exact monthly request counter (#2608)
  .changeset/exact-request-usage-counter.md
  .github/workflows/db-diagram.yml
  packages/backend/src/billing/billing-usage-email.service.spec.ts
  packages/backend/src/billing/billing-usage-email.service.ts
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/backend/src/billing/request-quota-window.spec.ts
  packages/backend/src/billing/request-quota-window.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.spec.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.ts
  packages/backend/src/database/migrations/1801300000000-AddTenantRequestUsage.spec.ts
  packages/backend/src/database/migrations/1801300000000-AddTenantRequestUsage.ts
  packages/backend/src/entities/tenant-request-usage.entity.spec.ts
  packages/backend/src/entities/tenant-request-usage.entity.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/test/billing-request-limit.e2e-spec.ts
  packages/backend/test/helpers.ts
  packages/backend/test/tenant-request-usage-migration.e2e-spec.ts
Due: backend

style: widen Autofix consent modal
  packages/frontend/src/pages/SettingsAutofixSection.tsx
Due: frontend

fix: scope Manifest Credits to Cloud
  .changeset/managed-manifest-provider.md
  packages/backend/src/common/constants/litellm.spec.ts
  packages/backend/src/common/constants/litellm.ts
  packages/backend/src/common/constants/manifest-credits.spec.ts
  packages/backend/src/common/constants/manifest-credits.ts
  packages/backend/src/common/utils/provider-availability.spec.ts
  packages/backend/src/common/utils/provider-availability.ts
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.controller.spec.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.controller.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.service.spec.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.service.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/api/providers.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderSelectContent-deeplink.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
  packages/frontend/tests/services/api/providers.test.ts
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/providers.ts
Due: backend, frontend

fix: require credits auto-provision allowlist
  .changeset/managed-manifest-provider.md
  packages/backend/src/common/constants/manifest-credits.spec.ts
  packages/backend/src/common/constants/manifest-credits.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.service.spec.ts
Due: backend

feat: add managed Manifest Credits provider (#2610)
  .changeset/managed-manifest-provider.md
  packages/backend/src/common/constants/manifest-credits.spec.ts
  packages/backend/src/common/constants/manifest-credits.ts
  packages/backend/src/common/utils/provider-availability.spec.ts
  packages/backend/src/common/utils/provider-availability.ts
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.controller.spec.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.controller.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.service.spec.ts
  packages/backend/src/routing/manifest-provider/manifest-provider.service.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/routing.module.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/api/providers.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/frontend/tests/components/ProviderSelectContent-deeplink.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
  packages/frontend/tests/services/api/providers.test.ts
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/providers.ts
Due: backend, frontend

fix: update Register tests for /welcome redirect
  packages/frontend/tests/pages/Register.test.tsx
Due: none

fix: link Manifest keys to booking page
  .changeset/manifest-key-booking-link.md
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/tests/services/providers.test.ts
Due: frontend

docs: remove beta status badge from README
  README.md
Due: none

fix: link Manifest keys to booking page (#2616)
  .changeset/manifest-key-booking-link.md
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/tests/services/providers.test.ts
Due: frontend

perf: avoid redundant protocol conversions
  .changeset/lazy-native-protocol-conversion.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
Due: backend

test: cover native Responses input shapes
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
Due: backend

refactor: compare input and output protocols
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

refactor: compare provider wire formats
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: preserve reasoning summaries for renamed Responses delta events
  .changeset/chatgpt-reasoning-summary-backfill.md
  packages/backend/src/playground/playground-stream.spec.ts
  packages/backend/src/playground/playground-stream.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.truncation.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

fix: harden request recording failures
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.spec.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
