Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix: allow custom provider streaming
  .changeset/bright-custom-streams.md
  packages/backend/src/model-discovery/model-capabilities.spec.ts
  packages/backend/src/model-discovery/model-capabilities.ts
  packages/backend/src/routing/header-tiers/__tests__/header-tier.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/response-mode-guard.spec.ts
  packages/backend/src/routing/routing-core/__tests__/specificity.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
Due: backend

fix: preserve tool-result images across routes (#2796)
  .changeset/calm-codex-image-context.md
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
Due: backend

fix: reconcile subscription windows after enrichment
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
Due: backend

test: use valid non-streaming routes
  packages/backend/src/routing/header-tiers/__tests__/header-tier.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/response-mode-guard.spec.ts
  packages/backend/src/routing/routing-core/__tests__/specificity.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
Due: backend

fix: allow custom provider streaming (#2798)
  .changeset/bright-custom-streams.md
  packages/backend/src/model-discovery/model-capabilities.spec.ts
  packages/backend/src/model-discovery/model-capabilities.ts
  packages/backend/src/routing/header-tiers/__tests__/header-tier.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/response-mode-guard.spec.ts
  packages/backend/src/routing/routing-core/__tests__/specificity.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
Due: backend

fix: rescore reconciled subscription models
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
Due: backend

fix: reject unsupported Anthropic tools
  .changeset/quiet-cats-drop-tools.md
  packages/backend/src/common/errors/error-codes.ts
  packages/backend/src/common/errors/manifest-error.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-types.ts
Due: backend

fix: keep subscription context windows current (#2797)
  .changeset/calm-context-cache.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/model-fetcher.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

feat: add self-hosted user discovery onboarding step (frontend)
  design-system/registry/components.json
  design-system/registry/llms.txt
  package-lock.json
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/Discovery.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Setup.tsx
  packages/frontend/src/services/discovery.ts
  packages/frontend/src/styles/discovery.css
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/pages/Discovery.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
  packages/frontend/tests/pages/Setup.test.tsx
  packages/frontend/tests/services/discovery.test.ts
Due: frontend

chore: add changeset for the self-hosted discovery step
  .changeset/curly-pears-invite.md
Due: none

feat: two-column layout for the discovery step
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/Discovery.tsx
  packages/frontend/src/styles/discovery.css
Due: frontend

copy: shorten the project-type question
  packages/frontend/src/pages/Discovery.tsx
  packages/frontend/tests/pages/Discovery.test.tsx
Due: frontend

fix: keep browser Back inside the pending discovery step
  packages/frontend/src/components/AuthGuard.tsx
  packages/frontend/src/components/GuestGuard.tsx
  packages/frontend/src/pages/Discovery.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Setup.tsx
  packages/frontend/src/services/discovery.ts
  packages/frontend/src/styles/discovery.css
  packages/frontend/tests/components/AuthGuard.test.tsx
  packages/frontend/tests/components/GuestGuard.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
  packages/frontend/tests/pages/Setup.test.tsx
  packages/frontend/tests/services/discovery.test.ts
Due: frontend

copy: unbold the no-marketing sentence
  packages/frontend/src/pages/Discovery.tsx
Due: frontend

fix: mark discovery pending from the form itself
  packages/frontend/src/pages/Discovery.tsx
  packages/frontend/tests/pages/Discovery.test.tsx
Due: frontend

fix: let the discovery selects escape the card
  packages/frontend/src/pages/Discovery.tsx
Due: frontend

fix: pin Better Auth to 1.6.25
  .changeset/quiet-auth-rollback.md
  .github/dependabot.yml
  package-lock.json
  packages/backend/package.json
  packages/frontend/package.json
Due: none

fix: isolate Better Auth security updates
  .github/dependabot.yml
Due: none

fix: pin Better Auth to 1.6.25 (#2801)
  .changeset/quiet-auth-rollback.md
  .github/dependabot.yml
  package-lock.json
  packages/backend/package.json
  packages/frontend/package.json
Due: none

fix: address review findings on discovery persistence
  packages/frontend/src/pages/Discovery.tsx
  packages/frontend/src/services/discovery.ts
  packages/frontend/tests/components/GuestGuard.test.tsx
  packages/frontend/tests/pages/Discovery.test.tsx
  packages/frontend/tests/services/discovery.test.ts
Due: frontend

fix: confirm non-self-hosted before dropping the pending marker
  packages/frontend/src/pages/Discovery.tsx
  packages/frontend/src/services/discovery.ts
  packages/frontend/tests/pages/Discovery.test.tsx
  packages/frontend/tests/services/discovery.test.ts
Due: frontend

feat: sync discovery signups to Peacock
  CLAUDE.md
  packages/backend/src/app.module.ts
  packages/backend/src/discovery/discovery-sync.service.spec.ts
  packages/backend/src/discovery/discovery-sync.service.ts
  packages/backend/src/discovery/discovery.controller.spec.ts
  packages/backend/src/discovery/discovery.controller.ts
  packages/backend/src/discovery/discovery.module.ts
  packages/backend/src/discovery/dto/complete-discovery.dto.spec.ts
  packages/backend/src/discovery/dto/complete-discovery.dto.ts
  packages/frontend/src/services/discovery.ts
Due: backend, frontend

fix: fall through to the form when deployment mode is unconfirmed
  packages/frontend/src/pages/Discovery.tsx
  packages/frontend/src/services/discovery.ts
  packages/frontend/tests/pages/Discovery.test.tsx
  packages/frontend/tests/services/discovery.test.ts
Due: frontend

test: make DTO rejection assertion order-independent
  packages/backend/src/discovery/dto/complete-discovery.dto.spec.ts
Due: backend

fix: harden discovery onboarding and registry
  .husky/pre-commit
  CLAUDE.md
  design-system/generate-registry.mjs
  design-system/lib/cascade.mjs
  design-system/lib/emit.mjs
  design-system/lib/parse-css.mjs
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/backend/src/discovery/discovery-sync.service.spec.ts
  packages/backend/src/discovery/discovery-sync.service.ts
  packages/frontend/src/components/SocialButtons.tsx
  packages/frontend/src/pages/Discovery.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Setup.tsx
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/SocialButtons.test.tsx
  packages/frontend/tests/pages/Discovery.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
  packages/frontend/tests/pages/Setup.test.tsx
  scripts/check-design-tokens.mjs
  scripts/design-registry.test.js
Due: backend, frontend

fix: complete registry cascade handling
  .husky/pre-commit
  CLAUDE.md
  design-system/lib/cascade.mjs
  design-system/lib/parse-css.mjs
  scripts/design-registry.test.js
Due: none

fix: preserve layered CSS cascade semantics
  design-system/lib/cascade.mjs
  design-system/lib/parse-css.mjs
  scripts/design-registry.test.js
Due: none

fix: parse CSS layer keywords case-insensitively
  design-system/lib/parse-css.mjs
  scripts/design-registry.test.js
Due: none

docs: announce the new direction in the README
  .github/assets/new-direction-banner.png
  README.md
Due: none

docs: announce the new direction in the Docker Hub README
  docker/DOCKER_README.md
Due: none

docs: point the Docker README banner to the paid-plans post
  docker/DOCKER_README.md
Due: none

fix: use a Markdown blockquote for the Docker Hub announcement
  docker/DOCKER_README.md
Due: none

feat: pivot announcement card and waiting-list modal
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/backend/src/cors-csp-config.spec.ts
  packages/backend/src/cors-csp-config.ts
  packages/backend/src/main.ts
  packages/backend/src/waitlist/dto/pivot-claim.dto.spec.ts
  packages/backend/src/waitlist/dto/pivot-claim.dto.ts
  packages/backend/src/waitlist/waitlist.controller.spec.ts
  packages/backend/src/waitlist/waitlist.controller.ts
  packages/backend/src/waitlist/waitlist.module.ts
  packages/backend/test/waitlist.e2e-spec.ts
  packages/frontend/src/components/PivotAnnouncement.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/services/waitlist.ts
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/pivot.css
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/PivotAnnouncement.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/services/waitlist.test.ts
Due: backend, frontend

chore: verifier cleanups and changeset
  .changeset/pivot-waitlist-card.md
  packages/frontend/src/components/PivotAnnouncement.tsx
  packages/frontend/src/styles/modals.css
Due: frontend

feat: blob-canvas header on the pivot card, review fixes
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/backend/src/cors-csp-config.ts
  packages/backend/src/main.ts
  packages/backend/src/waitlist/waitlist.controller.spec.ts
  packages/backend/src/waitlist/waitlist.controller.ts
  packages/backend/test/waitlist.e2e-spec.ts
  packages/frontend/src/components/PivotAnnouncement.tsx
  packages/frontend/src/services/blob-canvas.ts
  packages/frontend/src/styles/pivot.css
  packages/frontend/tests/components/PivotAnnouncement.test.tsx
  packages/frontend/tests/services/blob-canvas.test.ts
Due: backend, frontend

style: logo and roomier description in the waiting-list modal
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/frontend/src/components/PivotAnnouncement.tsx
  packages/frontend/src/styles/pivot.css
  packages/frontend/tests/components/PivotAnnouncement.test.tsx
Due: frontend

fix: render the blob canvas at device pixel ratio
  packages/frontend/src/services/blob-canvas.ts
  packages/frontend/tests/services/blob-canvas.test.ts
Due: frontend

style: tighter title line-height in the waiting-list modal
  packages/frontend/src/styles/pivot.css
Due: frontend

style: fine dark shadow under the white card title
  packages/frontend/src/components/PivotAnnouncement.tsx
  packages/frontend/src/services/blob-canvas.ts
Due: frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
