Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

refactor(frontend): extract shared FilterSelect from triplicated chart filter markup
  packages/frontend/src/components/FilterSelect.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/styles/analytics-overview.css
  packages/frontend/src/styles/filter-select.css
  packages/frontend/tests/components/FilterSelect.test.tsx
Due: frontend

fix(charts): move agent-chart-tooltip styles into a component-owned stylesheet
  packages/frontend/src/components/MultiAgentTokenChart.tsx
  packages/frontend/src/styles/agent-chart-tooltip.css
  packages/frontend/src/styles/analytics-overview.css
Due: frontend

fix(seed): set provider on seeded agent messages so provider-grouped charts show demo data
  packages/backend/src/database/seed-messages.ts
Due: backend

fix: bar charts on agent overview, simplified skeletons, openclaw SVG, routing layout fixes
  packages/frontend/public/icons/openclaw.png
  packages/frontend/src/components/ChartCard.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/pages/RoutingPanels.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/styles/routing.css
  packages/shared/src/agent-type.ts
Due: frontend

test(seed): pin provider inference on seeded messages
  packages/backend/src/database/seed-messages.spec.ts
Due: backend

refactor(frontend): delete dead legacy chart components
  packages/frontend/src/components/ChartCard.tsx
  packages/frontend/src/components/CostChart.tsx
  packages/frontend/src/components/SingleTokenChart.tsx
  packages/frontend/src/components/TokenChart.tsx
  packages/frontend/src/services/chart-utils.ts
  packages/frontend/tests/components/ChartCard.test.tsx
  packages/frontend/tests/components/TokenChart.test.tsx
  packages/frontend/tests/services/chart-utils-coverage.test.ts
  packages/frontend/tests/services/chart-utils.test.ts
Due: frontend

test: drop vi.mock stubs for the deleted legacy chart components
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: none

refactor(providers): drop Estimated savings from Subscriptions and Local pages
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: frontend

refactor(providers): hide model counts on Subscriptions and BYOK pages
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
Due: frontend

refactor(providers): drop model counts on the Local page too
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
Due: frontend

fix: naming, copy, icons, tables, modal cleanup, em-dash removal
  packages/frontend/src/components/AnthropicOAuthDetailView.tsx
  packages/frontend/src/components/ClaudeCodeSetup.tsx
  packages/frontend/src/components/CopilotDeviceLogin.tsx
  packages/frontend/src/components/DuplicateAgentModal.tsx
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/LocalServerDetailView.tsx
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/MessageDetailsSections.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/NoConnectionsPrompt.tsx
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/components/ProviderApiKeyTab.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/components/WingmanDevTools.tsx
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/providers.ts
Due: frontend

refactor(frontend): delete four more unreferenced components
  packages/frontend/src/components/ApiKeyDisplay.tsx
  packages/frontend/src/components/EmailProviderSection.tsx
  packages/frontend/src/components/SetupStepProviders.tsx
  packages/frontend/src/pages/RoutingComplexitySection.tsx
  packages/frontend/tests/components/ApiKeyDisplay.test.tsx
  packages/frontend/tests/components/EmailProviderSection.test.tsx
  packages/frontend/tests/components/SetupStepProviders.test.tsx
  packages/frontend/tests/pages/RoutingComplexitySection.test.tsx
Due: frontend

refactor(frontend): share the scroll-panel fade handler
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/services/scroll-fade.ts
  packages/frontend/tests/services/scroll-fade.test.ts
Due: frontend

fix: breadcrumbs, auth badge positioning, Manifest branding, tables, filters, tooltips
  packages/frontend/public/icons/manifest.svg
  packages/frontend/src/components/AuthBadge.tsx
  packages/frontend/src/components/CostByModelTable.tsx
  packages/frontend/src/components/FilterSelect.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/components/Select.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/connection-breadcrumb-store.ts
  packages/frontend/src/services/model-display.ts
  packages/frontend/src/styles/routing.css
  packages/frontend/src/styles/theme.css
Due: frontend

fix: include auto_assigned_route in baseline cost model collection
  packages/backend/src/common/utils/baseline-cost.ts
Due: backend

fix: inject dummy thoughtSignature for Gemini 3.x when history lacks one
  .changeset/silver-chairs-grab.md
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
Due: backend

fix: rename /providers/byok URL to /providers/usage-based
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/NoConnectionsPrompt.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/Local.tsx
Due: frontend

fix: hide Local card in cloud mode, center cards when only two shown
  packages/frontend/src/components/NoConnectionsPrompt.tsx
  packages/frontend/src/styles/routing.css
Due: frontend

fix: replace langchain.png with langchain.svg
  packages/frontend/public/icons/langchain.png
  packages/frontend/src/services/framework-snippets.ts
  packages/shared/src/agent-type.ts
Due: frontend

ci: show column name before type in schema diagram
  .github/scripts/db-diagram/__fixtures__/expected-comment.md
  .github/scripts/db-diagram/render-diagram.cjs
Due: none

fix: replace hermes.png with hermes.svg (currentColor for dark mode)
  packages/frontend/public/icons/hermes.png
  packages/frontend/public/icons/hermes.svg
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/shared/src/agent-type.ts
Due: frontend

fix: hermes SVG with fixed fill color and proper 24px dimensions
  packages/frontend/public/icons/hermes.svg
Due: none

fix: remove dark mode invert on sidebar agent icons (keeps original logo colors)
  packages/frontend/src/styles/theme.css
Due: frontend

fix: treat empty-string echoed thought_signature as absent to allow cache fallback
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
Due: backend

fix: strip context_management from Anthropic proxy requests
  .changeset/modern-wombats-accept.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
Due: backend

fix: strip thinking blocks when routing Anthropic Messages to a different model
  .changeset/modern-wombats-accept.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: resolve TypeScript errors (missing resolveCustomName, customProviderName prop, autoAssign references)
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
Due: backend, frontend

fix: align tests with production code changes on next branch
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/RoutingPanels.test.tsx
  packages/frontend/tests/services/framework-snippets.test.ts
Due: backend

feat: add gitlawb Opengateway as an OpenAI-compatible provider
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/shared/src/provider-inference.ts
  packages/shared/src/providers.ts
Due: backend, frontend

test: cover gitlawb endpoint resolution and model prefix inference
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/shared/__tests__/provider-inference.spec.ts
Due: backend

chore: add changeset for gitlawb provider addition
  .changeset/gitlawb-provider.md
Due: none

feat: sync manifest subscription model lists (2026-06-12)
  packages/shared/src/subscription/configs.ts
Due: none

revert: show column type before name in schema diagram
  .github/scripts/db-diagram/__fixtures__/expected-comment.md
  .github/scripts/db-diagram/render-diagram.cjs
Due: none
