Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

feat: 4 KPI cards — success rate, auto-fixed, error trend, top error
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
Due: frontend

feat: add Requests/Failed/Auto-fixed columns to provider connections table
  packages/backend/src/analytics/controllers/autofix-analytics.controller.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: backend, frontend

feat: simplify KPI cards, remove stat cards, reorder sidebar, add harness reliability columns
  packages/backend/src/analytics/controllers/autofix-analytics.controller.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: backend, frontend

feat: add autofix reliability features to Provider Detail page
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

refactor: reorder provider columns (Status before reliability), rename KPI labels
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

feat: add reliability stat cards to provider list pages
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
Due: frontend

feat: reorder provider list columns + add Requests/Success rate per connection
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
Due: frontend

fix: rename error classes card title to 'Error classes by frequency'
  packages/frontend/src/components/ErrorClassCard.tsx
Due: frontend

feat: notification bell for agents with autofix disabled
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/NotificationBell.tsx
  packages/frontend/src/pages/SettingsAutofixSection.tsx
  packages/frontend/src/styles/notifications-bell.css
  packages/frontend/tests/components/Header.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/pages/SettingsAutofixSection.test.tsx
Due: frontend

fix: notification bell uses workspace status for live reload when autofix toggled
  packages/frontend/src/components/NotificationBell.tsx
Due: frontend

fix: autofix settings highlight uses background blink instead of outline
  packages/frontend/src/pages/SettingsAutofixSection.tsx
  packages/frontend/src/styles/agents.css
Due: frontend

fix: notification text is single 14px line, no title/desc split
  packages/frontend/src/components/NotificationBell.tsx
Due: frontend

fix: clear read state when agent enables autofix, so notification resets
  packages/frontend/src/components/NotificationBell.tsx
Due: frontend

fix: notification bell polls every 15s to catch autofix toggle changes
  packages/frontend/src/components/NotificationBell.tsx
Due: frontend

fix: forward xAI reasoning effort
  .changeset/tidy-groks-reason.md
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
Due: backend

fix: skip disconnected automatic routes
  .changeset/auto-route-unconfigured-provider.md
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.edge.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/__tests__/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/backend/test/proxy.e2e-spec.ts
Due: backend

fix: restore logo eyes in dark mode
  .github/assets/logo-white.svg
Due: none

feat: add opt-in Sentry error monitoring
  .changeset/sentry-error-monitoring.md
  CLAUDE.md
  package-lock.json
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/instrument.ts
  packages/backend/src/main.ts
  packages/backend/src/sentry/__tests__/debug-sentry.controller.spec.ts
  packages/backend/src/sentry/__tests__/sentry-options.spec.ts
  packages/backend/src/sentry/debug-sentry.controller.ts
  packages/backend/src/sentry/sentry-options.ts
Due: backend

fix: send auth type to Auto-fix
  .changeset/calm-birds-scope.md
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/__tests__/http-healing-client.spec.ts
  packages/backend/src/routing/autofix/__tests__/mock-healing-client.spec.ts
  packages/backend/src/routing/autofix/__tests__/noop-healing-client.spec.ts
  packages/backend/src/routing/autofix/__tests__/phoenix-contract.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/contract/phoenix-openapi.yaml
  packages/backend/src/routing/autofix/observation-payload.spec.ts
  packages/backend/src/routing/autofix/observation-payload.ts
  packages/backend/src/routing/autofix/observation-reporter.spec.ts
  packages/backend/src/routing/autofix/phoenix.types.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

feat: replace request accordion with slide-in drawer
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/MessageTable.tsx
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/styles/request-drawer.css
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

refactor: drawer has no overlay, click row to switch, click elsewhere to close
  packages/frontend/src/components/MessageTable.tsx
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix: drawer data (access .message wrapper), design system tabs, conditional tabs
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix: drawer tabs full width, no border-radius, proper padding
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix: headers and params tabs show flat table directly, no collapsible accordion
  packages/frontend/src/components/RequestDrawer.tsx
Due: frontend

refactor: drawer uses original card design (vertical), no shadow, renamed tabs
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix: selected row uses hover color, provider icon in drawer header, hide empty panels
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix: add 8px vertical padding around arrows in drawer timeline
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix: meta-table borders match parent card color (red/blue/yellow)
  packages/frontend/src/styles/data.css
Due: frontend

fix: hide Timeline tab when no events, auto-switch to Details
  packages/frontend/src/components/RequestDrawer.tsx
Due: frontend

feat: request/attempts drawer with sidebar layout
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix: sidebar background matches card (light) instead of secondary (dark)
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix: add border-bottom to Attempts sidebar title
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix: attempt items use border-bottom instead of shadow, active uses accent bg
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix: attempt items inline (#01 model), border-left status, wider drawer
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix: remove sidebar padding-top
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix: sidebar title background white (card) not muted
  packages/frontend/src/styles/request-drawer.css
Due: frontend

test: align e2e fixtures with request model
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/error-breakdown.service.ts
  packages/backend/src/analytics/services/message-feedback.service.spec.ts
  packages/backend/src/analytics/services/message-feedback.service.ts
  packages/backend/test/agent-recreate.e2e-spec.ts
  packages/backend/test/billing-request-limit.e2e-spec.ts
  packages/backend/test/costs.e2e-spec.ts
  packages/backend/test/custom-provider-fk-data-loss.e2e-spec.ts
  packages/backend/test/custom-provider-fk-migrations.e2e-spec.ts
  packages/backend/test/custom-providers-lift-migrations.e2e-spec.ts
  packages/backend/test/errors-breakdown.e2e-spec.ts
  packages/backend/test/helpers.ts
  packages/backend/test/message-count-consistency.e2e-spec.ts
  packages/backend/test/message-error-code-migrations.e2e-spec.ts
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
  packages/backend/test/messages-manifest-errors.e2e-spec.ts
  packages/backend/test/messages.e2e-spec.ts
  packages/backend/test/messages.isolation.e2e-spec.ts
  packages/backend/test/overview.e2e-spec.ts
  packages/backend/test/playground-flow.e2e-spec.ts
  packages/backend/test/provider-analytics.e2e-spec.ts
  packages/backend/test/proxy-fallback-auth.e2e-spec.ts
  packages/backend/test/public-stats.e2e-spec.ts
  packages/backend/test/roundtrip.e2e-spec.ts
  packages/backend/test/seed-playground-agents-migrations.e2e-spec.ts
  packages/backend/test/smoke-test.e2e-spec.ts
  packages/backend/test/tenant-isolation.e2e-spec.ts
  packages/backend/test/tenant-scoping-migrations.e2e-spec.ts
  packages/backend/test/tokens.e2e-spec.ts
  packages/backend/test/user-provider-backfill-migrations.e2e-spec.ts
Due: backend

refactor: attempt sidebar items — icon + model, no borders, rounded hover
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix: address request model review findings
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/agent-lifecycle.service.spec.ts
  packages/backend/src/analytics/services/agent-lifecycle.service.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/message-feedback.service.spec.ts
  packages/backend/src/analytics/services/message-feedback.service.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/backend/src/common/errors/manifest-error.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/database/backfills/backfill-requests.spec.ts
  packages/backend/src/database/backfills/backfill-requests.ts
  packages/backend/src/database/backfills/message-provider-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/message-provider-backfill.boot.service.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.spec.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-dedup.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/test/custom-provider-fk-migrations.e2e-spec.ts
  packages/backend/test/seed-playground-agents-migrations.e2e-spec.ts
  packages/backend/test/tenant-scoping-migrations.e2e-spec.ts
  packages/frontend/src/components/MessageDetails.tsx
Due: backend, frontend
