Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix(rate-limits): sweep expired cache entries before capping; soften test assertion
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/rate-limit-tracker.service.spec.ts
  packages/backend/src/routing/proxy/rate-limit-tracker.service.ts
Due: backend

fix(setup): scroll the harness-framework tab row instead of overflowing the modal
  packages/frontend/src/styles/wizard.css
Due: frontend

fix: surface OpenAI Responses stream failures
  .changeset/openai-deep-research-responses.md
  packages/backend/src/common/constants/openai-models.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-request.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

fix(setup): persist setup-pending flag so the harness setup modal survives refresh
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/services/recent-agents.ts
  packages/frontend/tests/components/AddAgentModal.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/Workspace-validation.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
  packages/frontend/tests/services/recent-agents.test.ts
Due: frontend

fix: resolve provider aliases before checking subscription support
  .changeset/gemini-subscription-alias-support.md
  packages/backend/src/common/utils/subscription-support.spec.ts
  packages/backend/src/common/utils/subscription-support.ts
Due: backend

feat: attribute Anthropic OAuth usage to subscription quota
  .changeset/anthropic-subscription-billing-header.md
  packages/backend/src/common/constants/subscription-clients.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
Due: backend

fix: resolve subscription provider aliases
  .changeset/gemini-subscription-alias-support.md
  packages/backend/src/common/utils/subscription-support.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/helpers.ts
Due: backend

refactor(cache): share trackBy preconditions + assert both cache variants on duplicate
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/common/interceptors/agent-list-cache.interceptor.ts
  packages/backend/src/common/interceptors/user-cache.interceptor.ts
Due: backend

fix: drop Anthropic claude-*-fast models from subscription catalog
  .changeset/anthropic-fast-model-catalog.md
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/subscription/configs.ts
  packages/shared/src/subscription/helpers.ts
  packages/shared/src/subscription/index.ts
  packages/shared/src/subscription/types.ts
Due: backend

feat: add claude-fable-5 to Anthropic subscription catalog
  .changeset/anthropic-fast-model-catalog.md
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

test: update Anthropic subscription model-discovery expectations for claude-fable-5
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
Due: backend

fix: support large proxy image payloads
  .changeset/proxy-inline-image-body-limit.md
  packages/backend/src/common/middleware/body-parser-limits.spec.ts
  packages/backend/src/common/middleware/body-parser-limits.ts
  packages/backend/src/main.ts
  packages/backend/src/routing/proxy/__tests__/inline-image-redaction.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/inline-image-redaction.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

feat: enrich provider pages
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
Due: frontend

feat(google-adapter): add support for image_url vision data mapping
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
Due: backend

fix(messages): View more opens global log pre-filtered to the harness
  packages/frontend/src/pages/AgentMessagesRedirect.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/tests/pages/AgentMessagesRedirect.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

fix(auth): lazy-load better-auth/node to avoid ESM-only require errors in CommonJS
  packages/backend/src/auth/session.guard.ts
Due: backend

feat(backend): increase payload limit to 10MB and add detailed 413 error handler
  packages/backend/src/main.ts
Due: backend

feat(proxy): enforce strict tool-pairing and remap developer role to system for unsupported providers
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
Due: backend

fix(proxy): skip non-function tools for chat-completions-only providers
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

fix(messages): restore harness icons in global log
  packages/frontend/src/components/MessageTable.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

chore: apply styling formatting and update lockfile
  package-lock.json
Due: none

fix(routing): don't let auto-assigned routes block provider disable
  packages/backend/src/routing/agent-provider-access.controller.spec.ts
  packages/backend/src/routing/agent-provider-access.controller.ts
Due: backend

fix(providers): block disabling a provider whose models are routed
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/tests/pages/AgentProviders.test.tsx
Due: frontend

fix: refine provider row affordances
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
Due: frontend

fix(proxy): sanitize custom tool types in OpenAI converter instead of stripping them globally
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

fix(proxy): add compatibility fallback for AbortSignal.any on Node 18 and 19
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: map image parts for Google routes
  .changeset/google-image-parts.md
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
Due: backend

chore: add changeset for Google vision and Node.js compatibility fixes
  .changeset/google-vision-and-node-compat.md
Due: none

fix: remove duplicate agent detail child headings
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/tests/pages/Limits.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: frontend

fix(auth): lazy-load better-auth/node to avoid ESM require errors in CJS
  .changeset/cjs-better-auth-lazy-load.md
  packages/backend/src/auth/session.guard.ts
Due: backend

fix: remove workspace from agent header breadcrumb
  packages/frontend/src/components/Header.tsx
  packages/frontend/tests/components/Header.test.tsx
Due: frontend

fix: route header docs link by current page
  packages/frontend/src/components/Header.tsx
  packages/frontend/tests/components/Header.test.tsx
Due: frontend

fix: count legacy agent-name rows for limits
  packages/backend/src/notifications/services/notification-rules.service.consumption.spec.ts
  packages/backend/src/notifications/services/notification-rules.service.ts
Due: backend

test: make limits SQL assertion failure explicit
  packages/backend/src/notifications/services/notification-rules.service.consumption.spec.ts
Due: backend

fix: address aggregate stack review findings
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: backend, frontend

test: assert provider removal cache invalidation
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
Due: backend

fix: target the visible provider key on edit and rename
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
Due: backend, frontend
