Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix(anthropic): guard oauth diagnostics
  .changeset/fix-anthropic-oauth-diagnostics.md
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
Due: backend

fix(anthropic): fall back to state as verifier
  .changeset/fix-anthropic-oauth-verifier-fallback.md
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
Due: backend

test(openrouter): cover endUserId wiring for patch coverage
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/request-headers.spec.ts
Due: backend

fix(routing): scope model params by tier
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1789300000000-ScopeAgentModelParams.spec.ts
  packages/backend/src/database/migrations/1789300000000-ScopeAgentModelParams.ts
  packages/backend/src/entities/agent-model-params.entity.ts
  packages/backend/src/routing/__tests__/model-params.controller.spec.ts
  packages/backend/src/routing/dto/__tests__/model-params.dto.spec.ts
  packages/backend/src/routing/dto/model-params.dto.ts
  packages/backend/src/routing/model-params.controller.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing-core/__tests__/agent-model-params.service.spec.ts
  packages/backend/src/routing/routing-core/agent-model-params.service.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/ModelParamsAffordance.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/api/model-params.ts
  packages/frontend/src/services/api/routing.ts
  packages/frontend/tests/components/FallbackList.routes.test.tsx
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
  packages/frontend/tests/pages/RoutingSpecificitySection.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/frontend/tests/services/api/model-params.test.ts
  packages/shared/__tests__/model-params-scope.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/model-params-scope.ts
  packages/shared/src/request-params-snapshot.ts
Due: backend, frontend

feat(frontend): show raw model param keys
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
Due: frontend

feat(routing): load provider param specs from db
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1789400000000-AddProviderParamSpecs.spec.ts
  packages/backend/src/database/migrations/1789400000000-AddProviderParamSpecs.ts
  packages/backend/src/entities/provider-param-spec.entity.ts
  packages/backend/src/routing/__tests__/model-params.controller.spec.ts
  packages/backend/src/routing/model-params.controller.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
  packages/backend/src/routing/routing-core/routing-core.module.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/ModelParamsAffordance.tsx
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/api/model-params.ts
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/frontend/tests/services/api/model-params.test.ts
  packages/shared/__tests__/provider-params-spec.spec.ts
  packages/shared/__tests__/request-params-snapshot.spec.ts
  packages/shared/__tests__/request-params.spec.ts
  packages/shared/__tests__/thinking-defaults.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/provider-params-spec.ts
  packages/shared/src/request-params-snapshot.ts
  packages/shared/src/thinking-defaults.ts
Due: backend, frontend

test(routing): cover provider param CI paths
  packages/backend/test/helpers.ts
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
Due: none

fix(frontend): read legacy provider param values
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
Due: frontend

fix(frontend): match param number input color scheme
  packages/frontend/src/styles/routing.css
Due: frontend

feat(routing): expand provider param specs
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1789500000000-AddProviderParamSpecGroups.spec.ts
  packages/backend/src/database/migrations/1789500000000-AddProviderParamSpecGroups.ts
  packages/backend/src/database/migrations/1789600000000-AddProviderParamDependencies.spec.ts
  packages/backend/src/database/migrations/1789600000000-AddProviderParamDependencies.ts
  packages/backend/src/database/migrations/1789700000000-AddOpenAiProviderParamSpecs.spec.ts
  packages/backend/src/database/migrations/1789700000000-AddOpenAiProviderParamSpecs.ts
  packages/backend/src/entities/provider-param-spec.entity.ts
  packages/backend/src/routing/__tests__/model-params.controller.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/components/Select.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
  packages/shared/__tests__/provider-params-spec.spec.ts
  packages/shared/__tests__/request-params-snapshot.spec.ts
  packages/shared/__tests__/request-params.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/provider-params-spec.ts
  packages/shared/src/request-params-snapshot.ts
  packages/shared/src/request-params.ts
Due: backend, frontend

fix(frontend): narrow grouped param values
  packages/frontend/src/components/ModelParamsDialog.tsx
Due: frontend

fix(provider-params): address review findings
  packages/backend/src/database/migrations/1789700000000-AddOpenAiProviderParamSpecs.spec.ts
  packages/backend/src/database/migrations/1789700000000-AddOpenAiProviderParamSpecs.ts
  packages/frontend/src/components/Select.tsx
  packages/frontend/tests/components/Select.test.tsx
  packages/shared/__tests__/provider-params-spec.spec.ts
  packages/shared/src/provider-params-spec.ts
Due: backend, frontend

fix: harden model param path handling
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
  packages/backend/test/helpers.ts
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
  packages/shared/__tests__/provider-params-spec.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/provider-params-spec.ts
Due: backend

fix: guard model param property writes
  packages/shared/src/provider-params-spec.ts
Due: none

fix: address model param review issues
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.ts
  packages/backend/src/database/migrations/1789200000000-ScopeAgentModelParams.spec.ts
  packages/backend/src/database/migrations/1789200000000-ScopeAgentModelParams.ts
  packages/backend/src/entities/agent-model-params.entity.ts
  packages/backend/src/routing/__tests__/model-params.controller.spec.ts
  packages/backend/src/routing/dto/__tests__/model-params.dto.spec.ts
  packages/backend/src/routing/dto/model-params.dto.ts
  packages/backend/src/routing/model-params.controller.ts
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
  packages/shared/__tests__/provider-params-spec.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/provider-params-spec.ts
Due: backend, frontend

feat: add subscription model param schemas
  packages/backend/src/database/migrations/1789300000000-AddProviderParamCapabilities.spec.ts
  packages/backend/src/database/migrations/1789300000000-AddProviderParamCapabilities.ts
Due: backend

fix: surface Anthropic OAuth rate limits
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/frontend/src/components/AnthropicOAuthDetailView.tsx
Due: backend, frontend

ci: show DB schema diagram on migration PRs
  .github/scripts/db-diagram/__fixtures__/base.json
  .github/scripts/db-diagram/__fixtures__/expected-comment.md
  .github/scripts/db-diagram/__fixtures__/head.json
  .github/scripts/db-diagram/extract-schema.cjs
  .github/scripts/db-diagram/render-diagram.cjs
  .github/scripts/db-diagram/smoke-test.cjs
  .github/workflows/ci.yml
  .github/workflows/db-diagram.yml
Due: none

fix: force subscription upstream streaming
  packages/backend/src/database/migrations/1789300000000-AddProviderParamCapabilities.spec.ts
  packages/backend/src/database/migrations/1789300000000-AddProviderParamCapabilities.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/shared/src/subscription/configs.ts
Due: backend

fix: address review feedback
  .github/scripts/db-diagram/__fixtures__/base.json
  .github/scripts/db-diagram/__fixtures__/expected-comment.md
  .github/scripts/db-diagram/extract-schema.cjs
  .github/scripts/db-diagram/render-diagram.cjs
  .github/workflows/db-diagram.yml
Due: none

fix: avoid duplicate subscription stream terminator
  packages/backend/src/routing/proxy/__tests__/chatgpt-stream.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
Due: backend

test: update subscription param expectations
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/frontend/tests/components/AnthropicOAuthDetailView.test.tsx
Due: backend

test: trigger db-diagram bot for visual preview
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1789200000000-TestDbDiagramBot.ts
Due: backend

fix: clear migrations dir before swapping to base ref
  .github/workflows/db-diagram.yml
Due: none

feat: show only changed tables in db-diagram comment
  .github/scripts/db-diagram/__fixtures__/expected-comment.md
  .github/scripts/db-diagram/render-diagram.cjs
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1789200000000-TestDbDiagramBot.ts
  packages/backend/src/database/migrations/1789300000000-DbDiagramDemoColumn.ts
Due: backend

refactor: source model params from MPS catalog
  docs/model-parameters-schema.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1787000000000-AddAgentModelParams.ts
  packages/backend/src/database/migrations/1789300000000-AddProviderParamCapabilities.spec.ts
  packages/backend/src/entities/provider-param-spec.entity.ts
  packages/backend/src/routing/dto/model-params.dto.ts
  packages/backend/src/routing/model-params.controller.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
  packages/backend/src/routing/routing-core/routing-core.module.ts
  packages/backend/test/helpers.ts
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
  packages/frontend/tests/services/api/model-params.test.ts
  packages/shared/__tests__/model-parameters-schema.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/model-parameters-schema.ts
  packages/shared/src/provider-params-spec.ts
  packages/shared/src/request-params-snapshot.ts
Due: backend, frontend

chore: drop db-diagram demo migration
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1789300000000-DbDiagramDemoColumn.ts
Due: backend

refactor: model MPS entries by route
  docs/model-parameters-schema.md
  packages/backend/src/routing/__tests__/model-params.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/shared/__tests__/model-parameters-schema.spec.ts
  packages/shared/__tests__/provider-params-spec.spec.ts
  packages/shared/__tests__/request-params-snapshot.spec.ts
  packages/shared/__tests__/request-params.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/model-parameters-schema.ts
  packages/shared/src/provider-params-spec.ts
Due: backend

test: cover MPS param helper branches
  packages/shared/__tests__/provider-params-spec.spec.ts
Due: none

ui(settings): replace recording toggle with privacy mode in danger zone
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/styles/controls.css
  packages/frontend/src/styles/limits.css
Due: frontend

ui(messages): clickable rows, eye icon, status column reorder, fix toFixed crash
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1786300000000-DefaultRecordMessagesTrue.ts
  packages/backend/src/entities/agent.entity.ts
  packages/frontend/src/components/MessageTable.tsx
  packages/frontend/src/components/RecordedDrawerChrome.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/src/services/formatters.ts
  packages/frontend/src/styles/data.css
Due: backend, frontend

chore: split anthropic oauth fix from mps
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/frontend/src/components/AnthropicOAuthDetailView.tsx
  packages/frontend/tests/components/AnthropicOAuthDetailView.test.tsx
Due: backend, frontend

fix: surface anthropic oauth rate limits
  .changeset/fresh-lamps-smile.md
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/frontend/src/components/AnthropicOAuthDetailView.tsx
  packages/frontend/tests/components/AnthropicOAuthDetailView.test.tsx
Due: backend, frontend

chore: remove stream changes from mps
  packages/backend/src/routing/proxy/__tests__/chatgpt-stream.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
  packages/shared/__tests__/provider-params-spec.spec.ts
Due: backend

feat: load model params from mps api
  .changeset/late-ads-argue.md
  docs/model-parameters-schema.md
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/shared/src/model-parameters-schema.ts
  packages/shared/src/provider-params-spec.ts
  packages/shared/src/request-params-snapshot.ts
Due: backend, frontend

refactor: rely on remote MPS catalog
  docs/model-parameters-schema.md
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
  packages/shared/__tests__/model-parameters-schema.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/model-parameters-schema.ts
Due: backend

ui(message-log): redesign recorded message drawer
  packages/frontend/src/components/RecordedDrawerChrome.tsx
  packages/frontend/src/components/RecordedMessageModal.tsx
  packages/frontend/src/components/RecordedOutline.tsx
  packages/frontend/src/components/RecordedTabContent.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/recording.css
Due: frontend

ui(message-log): polish drawer cards, tools, sidebar, mobile, scroll lock
  packages/frontend/src/components/RecordedDrawerChrome.tsx
  packages/frontend/src/components/RecordedMessageModal.tsx
  packages/frontend/src/components/RecordedOutline.tsx
  packages/frontend/src/components/RecordedResponseTab.tsx
  packages/frontend/src/components/RecordedTabContent.tsx
  packages/frontend/src/components/RecordedTurn.tsx
  packages/frontend/src/styles/recording.css
Due: frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
