Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: use absolute GitHub URLs for logo in README to fix npm 404
  .changeset/fix-logo-404.md
  README.md
Due: none

Update test assertions to match new dashboard text
  packages/frontend/tests/components/SetupModal.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/Limits.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/ModelPrices.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: none

Update package-lock.json
  package-lock.json
Due: none

Add free model support, error tooltips, and fix duplicate proxy messages
  .changeset/add-free-models.md
  .changeset/error-tooltip-badge.md
  package-lock.json
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/database/quality-score.util.ts
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/formatters.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/services/formatters.test.ts
  packages/frontend/tests/services/routing-utils.test.ts
Due: backend, frontend

Add MiniMax provider and restrict Ollama to local mode
  .changeset/add-minimax-provider.md
  README.md
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/model-prices/model-name-normalizer.spec.ts
  packages/backend/src/model-prices/model-name-normalizer.ts
  packages/backend/src/routing/provider-aliases.spec.ts
  packages/backend/src/routing/provider-aliases.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/services/providers.ts
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/frontend/tests/services/routing-utils.test.ts
  packages/openclaw-plugin/public/assets/index-B48-ZVoA.css
  packages/openclaw-plugin/public/assets/index-BTqprAF8.js
  packages/openclaw-plugin/public/assets/index-BYUuK0uQ.js
  packages/openclaw-plugin/public/assets/index-CfCl18fm.js
  packages/openclaw-plugin/public/assets/index-D_KLSAIy.css
  packages/openclaw-plugin/public/index.html
Due: backend, frontend

Add Z.ai (Zhipu AI) provider with GLM model family
  .changeset/add-minimax-provider.md
  README.md
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/model-prices/model-name-normalizer.spec.ts
  packages/backend/src/model-prices/model-name-normalizer.ts
  packages/backend/src/routing/provider-aliases.spec.ts
  packages/backend/src/routing/provider-aliases.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/providers.ts
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/tests/services/providers.test.ts
  packages/frontend/tests/services/routing-utils.test.ts
Due: backend, frontend

Add Codecov JavaScript Bundle Analysis for frontend bundle size tracking
  .changeset/bundle-analysis.md
  .github/workflows/ci.yml
  codecov.yml
  package-lock.json
  packages/frontend/package.json
  packages/frontend/vite.config.ts
Due: none

Remove outdated better-sqlite3 references
  .changeset/remove-sqlite-refs.md
  .gitignore
  CLAUDE.md
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/auth/auth.instance.spec.ts
  packages/backend/src/common/utils/sql-dialect.spec.ts
  packages/backend/src/common/utils/sql-dialect.ts
  packages/backend/src/config/app.config.spec.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/notifications/services/limit-check-local.service.spec.ts
  packages/backend/src/notifications/services/notification-cron.service.spec.ts
  packages/backend/src/notifications/services/notification-rules.service.spec.ts
  packages/backend/test/costs.e2e-spec.ts
  packages/frontend/tests/pages/Limits.test.tsx
Due: backend

Add dual Y-axis to token chart and seed demo agent messages
  .changeset/chart-double-scale.md
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/database/seed-messages.spec.ts
  packages/backend/src/database/seed-messages.ts
  packages/frontend/src/components/TokenChart.tsx
  packages/frontend/tests/components/TokenChart.test.tsx
Due: backend, frontend

Reduce npm bundle size by filtering source maps and unused assets
  .changeset/reduce-bundle-size.md
  packages/openclaw-plugin/__tests__/build.test.ts
  packages/openclaw-plugin/scripts/copy-assets.js
  packages/openclaw-plugin/tsconfig.server.json
Due: none

Remove unused latin-ext font subsets from npm bundle
  packages/frontend/public/fonts/bricolage-grotesque-latin-ext.woff2
  packages/frontend/public/fonts/dm-sans-latin-ext.woff2
  packages/frontend/src/styles/fonts.css
  packages/openclaw-plugin/__tests__/build.test.ts
Due: frontend

chore: production readiness audit — security fixes, code quality, CI improvements
  .changeset/production-readiness-audit.md
  .github/workflows/ci.yml
  .husky/pre-commit
  CLAUDE.md
  eslint.config.mjs
  package-lock.json
  package.json
  packages/backend/.env.example
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/auth/auth.instance.spec.ts
  packages/backend/src/auth/auth.instance.ts
  packages/backend/src/common/guards/api-key.guard.spec.ts
  packages/backend/src/common/guards/api-key.guard.ts
  packages/backend/src/common/utils/crypto.util.spec.ts
  packages/backend/src/common/utils/crypto.util.ts
  packages/backend/src/common/utils/hash.util.spec.ts
  packages/backend/src/common/utils/hash.util.ts
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/otlp/guards/otlp-auth.guard.ts
  packages/backend/src/otlp/services/api-key.service.spec.ts
  packages/backend/src/otlp/services/api-key.service.ts
  packages/backend/test/helpers.ts
  packages/openclaw-plugin/openclaw.plugin.json
  packages/openclaw-plugin/src/server.ts
  turbo.json
Due: backend, plugin

Add prompt caching support for Anthropic, Google, and OpenRouter
  .changeset/prompt-caching-support.md
  package-lock.json
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/cache-injection.ts
  packages/backend/src/routing/proxy/google-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/services/formatters.ts
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/services/formatters.test.ts
  packages/openclaw-plugin/src/constants.ts
  packages/openclaw-plugin/src/hooks.ts
Due: backend, frontend, plugin

test: achieve full patch coverage for production readiness audit
  packages/backend/src/auth/auth.instance.spec.ts
  packages/backend/src/common/guards/api-key.guard.spec.ts
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/otlp/guards/otlp-auth.guard.spec.ts
Due: backend

Fix missing period in README
  README.md
Due: none

Update README.md
  README.md
Due: none

Fix PostHog funnel distinct_id mismatch in cloud mode
  .changeset/fix-posthog-funnel-distinct-id.md
  package-lock.json
  packages/backend/src/otlp/otlp.controller.spec.ts
  packages/backend/src/otlp/otlp.controller.ts
  packages/openclaw-plugin/__tests__/product-telemetry.test.ts
  packages/openclaw-plugin/__tests__/register.test.ts
  packages/openclaw-plugin/src/index.ts
  packages/openclaw-plugin/src/product-telemetry.ts
Due: backend, plugin

Rewrite bundled manifest skill with complete setup and usage guide
  .changeset/update-bundled-skill.md
  skills/manifest/SKILL.md
Due: none

feat: per-agent routing configuration
  .changeset/per-agent-routing.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/database/migrations/1772500000000-PerAgentRouting.ts
  packages/backend/src/entities/tier-assignment.entity.ts
  packages/backend/src/entities/user-provider.entity.ts
  packages/backend/src/routing/dto/routing.dto.spec.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve.controller.spec.ts
  packages/backend/src/routing/resolve.controller.ts
  packages/backend/src/routing/resolve.service.spec.ts
  packages/backend/src/routing/resolve.service.ts
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
  packages/backend/src/routing/routing.module.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/backend/src/routing/tier-auto-assign.service.spec.ts
  packages/backend/src/routing/tier-auto-assign.service.ts
  packages/backend/test/limits.e2e-spec.ts
  packages/backend/test/proxy.e2e-spec.ts
  packages/backend/test/routing-flow.e2e-spec.ts
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/services/api.test.ts
Due: backend, frontend

Fix security scan warnings in bundled manifest skill
  .changeset/fix-skill-security-scan.md
  skills/manifest/SKILL.md
Due: none

fix: drop old unique indexes before migration fan-out
  .changeset/fix-migration-index-order.md
  packages/backend/src/database/migrations/1772500000000-PerAgentRouting.ts
Due: backend

chore: update npm keywords and description for discoverability
  .changeset/npmjs-tags-update.md
  packages/openclaw-plugin/package.json
Due: none

ci: add explicit CodeQL workflow for fork PR support
  .changeset/loud-pillows-melt.md
  .github/workflows/codeql.yml
Due: none

add whereToGet URL below API key input fields for each providers
  .changeset/wise-oranges-double.md
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/styles/notifications.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/EmailProviderModal.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: frontend

add whereToGet API key URL for providers
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/tests/components/EmailProviderModal.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: frontend

fix: clean stale models.json entries on mode switch to prevent 401
  packages/openclaw-plugin/src/local-mode.ts
Due: plugin

fix: reconcile local API key on every boot to prevent 401
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
Due: backend

fix: show plugin version in local mode, hide in cloud mode
  .changeset/fix-version-indicator.md
  packages/backend/src/health/health.controller.spec.ts
  packages/backend/src/health/health.controller.ts
  packages/backend/test/health.e2e-spec.ts
  packages/frontend/src/components/VersionIndicator.tsx
  packages/frontend/tests/components/VersionIndicator.test.tsx
Due: backend, frontend

fix: eliminate duplicate ghost messages in dashboard
  .changeset/fix-duplicate-ghost-messages.md
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/database/seed-messages.spec.ts
  packages/backend/src/database/seed-messages.ts
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

feat: improve threshold alert email and remove Cloud header badge
  .changeset/improve-alert-email.md
  Manifest-logo.png
  packages/backend/src/notifications/emails/threshold-alert.tsx
  packages/backend/src/notifications/services/limit-check.service.ts
  packages/backend/src/notifications/services/notification-cron.service.ts
  packages/backend/src/notifications/services/notification-email.service.spec.ts
  packages/frontend/public/manifest-logo.png
  packages/frontend/src/components/Header.tsx
Due: backend, frontend

fix: update login subtitle to OpenClaw costs messaging
  packages/frontend/src/pages/Login.tsx
Due: frontend

feat: add pagination to Messages and Model Prices pages
  .changeset/loud-pillows-melt.md
  packages/frontend/src/components/ModelPricesFilterBar.tsx
  packages/frontend/src/components/Pagination.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/ModelPrices.tsx
  packages/frontend/src/services/cursor-pagination.ts
  packages/frontend/src/services/pagination.ts
  packages/frontend/src/styles/data.css
  packages/frontend/tests/components/Pagination.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/ModelPrices.test.tsx
  packages/frontend/tests/services/cursor-pagination.test.ts
  packages/frontend/tests/services/pagination.test.ts
Due: frontend

fix: update Header test to match Cloud badge removal
  packages/frontend/tests/components/Header.test.tsx
Due: none

feat: filter model prices to supported providers only
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
Due: backend

chore: add changeset for model price filtering
  .changeset/filter-model-prices.md
Due: none

fix: sanitize proxy body for non-OpenAI providers and improve rate limiting
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-rate-limiter.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-rate-limiter.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/test/otlp-roundtrip.e2e-spec.ts
Due: backend

fix: restore seed data feature (was incorrectly removed)
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/database/seed-messages.spec.ts
  packages/backend/src/database/seed-messages.ts
Due: backend

feat: unify email templates and differentiate soft/hard threshold alerts
  .changeset/unify-emails-soft-hard.md
  packages/backend/src/common/utils/period.util.spec.ts
  packages/backend/src/common/utils/period.util.ts
  packages/backend/src/notifications/emails/reset-password.tsx
  packages/backend/src/notifications/emails/test-email.tsx
  packages/backend/src/notifications/emails/threshold-alert.tsx
  packages/backend/src/notifications/emails/verify-email.tsx
  packages/backend/src/notifications/services/limit-check.service.spec.ts
  packages/backend/src/notifications/services/limit-check.service.ts
  packages/backend/src/notifications/services/notification-cron.service.spec.ts
  packages/backend/src/notifications/services/notification-cron.service.ts
  packages/backend/src/notifications/services/notification-email.service.spec.ts
  packages/backend/src/notifications/services/notification-email.service.ts
Due: backend

fix: humanize user-facing website text
  .changeset/humanize-website-text.md
  README.md
  packages/frontend/index.html
  packages/frontend/src/components/EmailProviderSetup.tsx
  packages/frontend/src/components/SetupModal.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/Help.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/tests/components/EmailProviderSetup.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/Limits.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend
