Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

feat: send failing requests to Phoenix so it can see the body
  .changeset/tidy-moons-report.md
  CLAUDE.md
  packages/backend/src/routing/autofix/autofix.module.ts
  packages/backend/src/routing/autofix/healing-client.ts
  packages/backend/src/routing/autofix/http-healing-client.ts
  packages/backend/src/routing/autofix/mock-healing-client.ts
  packages/backend/src/routing/autofix/noop-healing-client.ts
  packages/backend/src/routing/autofix/observation-payload.spec.ts
  packages/backend/src/routing/autofix/observation-payload.ts
  packages/backend/src/routing/autofix/observation-reporter.spec.ts
  packages/backend/src/routing/autofix/observation-reporter.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.streaming-abort.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

test: cover the reporter's drop, retry and fail-closed paths
  packages/backend/src/routing/autofix/observation-payload.spec.ts
  packages/backend/src/routing/autofix/observation-reporter.spec.ts
Due: backend

fix: address review feedback
  packages/backend/src/routing/autofix/http-healing-client.ts
  packages/backend/src/routing/autofix/observation-payload.spec.ts
  packages/backend/src/routing/autofix/observation-payload.ts
  packages/backend/src/routing/autofix/observation-reporter.spec.ts
  packages/backend/src/routing/autofix/observation-reporter.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

fix: address review feedback
  packages/backend/src/routing/autofix/observation-payload.spec.ts
  packages/backend/src/routing/autofix/observation-payload.ts
Due: backend

fix: simplify AuthGuard — always mark plan chosen regardless of plan
  packages/frontend/src/components/AuthGuard.tsx
Due: frontend

fix: split limit error taxonomy
  .changeset/error-limit-taxonomy.md
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1798000000000-AddErrorClassification.ts
  packages/backend/src/database/migrations/1800100000000-ReclassifyPlanRequestLimitMessages.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/test/billing-request-limit.e2e-spec.ts
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/src/services/api/messages.ts
  packages/frontend/src/services/formatters.ts
  packages/frontend/src/services/message-error-taxonomy.ts
  packages/frontend/tests/components/MessageDetails.test.tsx
  packages/frontend/tests/components/MessageTableStatus.test.tsx
  packages/frontend/tests/services/formatters.test.ts
  packages/frontend/tests/services/message-error-taxonomy.test.ts
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
Due: backend, frontend

fix: show plan picker with adapted title for existing and OAuth users
  packages/frontend/src/components/AuthGuard.tsx
  packages/frontend/src/pages/Register.tsx
Due: frontend

test: cover observe() on all three healing clients
  packages/backend/src/routing/autofix/__tests__/http-healing-client.spec.ts
  packages/backend/src/routing/autofix/__tests__/mock-healing-client.spec.ts
  packages/backend/src/routing/autofix/__tests__/noop-healing-client.spec.ts
Due: backend

test: update AuthGuard test for context=login query param
  packages/frontend/tests/components/AuthGuard.test.tsx
Due: none

feat: only report failing requests for agents using Auto-fix
  .changeset/tidy-moons-report.md
  CLAUDE.md
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/observation-payload.spec.ts
  packages/backend/src/routing/autofix/observation-payload.ts
  packages/backend/src/routing/autofix/observation-reporter.spec.ts
  packages/backend/src/routing/autofix/observation-reporter.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

test: cover context=login plan picker title variants
  packages/frontend/tests/pages/Register.test.tsx
Due: none

fix: address review feedback
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/observation-reporter.spec.ts
  packages/backend/src/routing/autofix/observation-reporter.ts
Due: backend

fix: show plan picker for all users without a plan (existing + OAuth) (#2457)
  packages/frontend/src/components/AuthGuard.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/tests/components/AuthGuard.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
Due: frontend

chore: update OG image with new branding
  packages/frontend/public/og-image.png
Due: none

chore: update OG image with new branding (#2459)
  packages/frontend/public/og-image.png
Due: none

feat: add messages trigger filter
  .changeset/trigger-filter.md
  packages/backend/src/analytics/controllers/messages.controller.spec.ts
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/services/api/messages.test.ts
Due: backend, frontend

fix: address review feedback
  CLAUDE.md
  packages/backend/src/database/migrations/1800200000000-AddMessageErrorCode.ts
  packages/backend/src/routing/proxy/__tests__/proxy-exception.filter.spec.ts
  packages/backend/src/routing/proxy/proxy-exception.filter.ts
  packages/backend/test/message-error-code-migrations.e2e-spec.ts
  packages/shared/src/error-taxonomy.ts
Due: backend

fix: keep the provider's error details on Auto-fix rows
  .changeset/olive-hoops-tickle.md
  CLAUDE.md
  packages/backend/src/routing/autofix/__tests__/provider-error-normalizer.spec.ts
  packages/backend/src/routing/autofix/provider-error-normalizer.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

fix: address review feedback
  packages/backend/src/routing/autofix/__tests__/provider-error-normalizer.spec.ts
  packages/backend/src/routing/autofix/provider-error-normalizer.ts
Due: backend

fix: attribute public stats by recorded provider
  .changeset/public-stats-provider-source.md
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/backend/src/public-stats/public-stats.service.ts
  packages/backend/test/public-stats.e2e-spec.ts
Due: backend

fix: stop the model registry load from stalling boot
  .changeset/olive-pears-shave.md
  packages/backend/src/model-discovery/provider-model-registry.service.spec.ts
  packages/backend/src/model-discovery/provider-model-registry.service.ts
Due: backend

fix: address review feedback
  packages/backend/src/model-discovery/provider-model-registry.service.spec.ts
  packages/backend/src/model-discovery/provider-model-registry.service.ts
Due: backend

Revert "Merge pull request #2463 from guillaumegay13/fix/public-stats-openai-subscription"
  .changeset/public-stats-provider-source.md
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/backend/src/public-stats/public-stats.service.ts
  packages/backend/test/public-stats.e2e-spec.ts
Due: backend

perf: drop two unused indexes on agent_messages
  .changeset/lucky-hoops-drift.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1800300000000-DropUnusedAgentMessageIndexes.spec.ts
  packages/backend/src/database/migrations/1800300000000-DropUnusedAgentMessageIndexes.ts
  packages/backend/src/entities/agent-message.entity.ts
Due: backend

fix: address review feedback
  packages/backend/src/database/migrations/1800300000000-DropUnusedAgentMessageIndexes.spec.ts
  packages/backend/src/database/migrations/1800300000000-DropUnusedAgentMessageIndexes.ts
Due: backend

fix: stop rejecting requests that name a model
  .changeset/fix-explicit-model-routing.md
  CLAUDE.md
  packages/backend/src/routing/proxy/__tests__/openai-model-id.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/openai-model-id.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve/resolve.service.ts
Due: backend

fix: clarify unavailable explicit model errors
  .changeset/explicit-model-unavailable-message.md
  packages/backend/src/common/errors/__tests__/manifest-error.spec.ts
  packages/backend/src/common/errors/error-codes.ts
  packages/backend/src/common/errors/manifest-error.ts
  packages/backend/src/routing/proxy/__tests__/openai-model-id.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/openai-model-id.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
Due: backend

fix: model picker empty state spacing and connect-provider navigation
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/RoutingModals.tsx
  packages/frontend/src/styles/routing-modal.css
Due: frontend

fix: auto-focus prompt textarea on new playground run
  packages/frontend/src/components/playground/PlaygroundPrompt.tsx
  packages/frontend/src/pages/Playground.tsx
Due: frontend

fix: unify sidebar harnesses header hover with inline add button
  packages/frontend/src/styles/theme.css
Due: frontend

fix: upgrade modal text and z-index above header
  packages/frontend/src/components/UpgradeSuccessModal.tsx
  packages/frontend/src/styles/theme.css
Due: frontend

refactor: remove dead onOpenProviderModal prop from RoutingModals
  packages/frontend/src/components/RoutingModals.tsx
  packages/frontend/src/pages/Routing.tsx
Due: frontend

feat(subscription): sync anthropic catalog to July 2026
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

test(subscription): update Anthropic catalog expectations for July 2026 additions
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/shared/__tests__/subscription.spec.ts
Due: backend

test(subscription): update -fast exclusion test to include -20250514
  packages/shared/__tests__/subscription.spec.ts
Due: none

feat: add GPT-5.6 (sol/terra/luna) to ChatGPT Plus/Pro/Team knownModels (openai)
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

feat: add Meta provider (Meta Model API) so muse-spark-1.1 is routable
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/providers.ts
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
