Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix(playground): address Codex round-3 findings
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.ts
  packages/backend/src/common/services/tenant-cache.service.spec.ts
  packages/backend/src/common/services/tenant-cache.service.ts
  packages/backend/src/database/migrations/1791400000000-SeedPlaygroundAgents.spec.ts
  packages/backend/src/database/migrations/1791400000000-SeedPlaygroundAgents.ts
  packages/backend/src/playground/playground-agent.service.spec.ts
  packages/backend/src/playground/playground-agent.service.ts
  packages/backend/src/routing/custom-provider.controller.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.controller.ts
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/test/seed-playground-agents-migrations.e2e-spec.ts
Due: backend

fix(playground): address cubic findings
  packages/backend/src/playground/playground-agent.service.spec.ts
  packages/backend/src/playground/playground-agent.service.ts
  packages/backend/src/routing/provider.controller.ts
Due: backend

feat(playground): add the Playground nav entry under a TOOLS section
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
Due: frontend

fix(playground): register /playground as a global route
  packages/frontend/src/index.tsx
Due: frontend

fix(playground): surface reserved agent in Messages agent filter
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/services/api/agents.ts
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/services/api/agents.test.ts
Due: backend, frontend

fix(playground): clear both /agents cache variants on mutation
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
Due: backend

fix: stop OpenAI subscription modal from flickering during OAuth flow
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/components/RoutingModals.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/tests/components/OAuthDetailView.test.tsx
Due: frontend

test: cover onProviderPoll callback in Routing page tests
  packages/frontend/tests/pages/Routing.test.tsx
Due: none

feat(onboarding): extract AddAgentModal with provider-aware first-run flow
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/tests/components/AddAgentModal.test.tsx
  packages/frontend/tests/pages/Workspace-validation.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

feat(onboarding): add reusable ActionMenu dropdown component
  packages/frontend/src/components/ActionMenu.tsx
  packages/frontend/src/styles/action-menu.css
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/ActionMenu.test.tsx
Due: frontend

refactor(onboarding): wire reusable ActionMenu into Workspace agent cards
  packages/frontend/src/components/ActionMenu.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/styles/action-menu.css
  packages/frontend/src/styles/agents.css
  packages/frontend/tests/components/ActionMenu.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

fix(playground): canonical agent-list cache key, bounded invalidation
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/common/constants/cache.constants.ts
  packages/backend/src/common/interceptors/agent-list-cache.interceptor.spec.ts
  packages/backend/src/common/interceptors/agent-list-cache.interceptor.ts
Due: backend

Fix OpenAI subscription modal flickering during OAuth flow (#2166)
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/components/RoutingModals.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/tests/components/OAuthDetailView.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

feat(analytics): add provider_rate_limits entity + migration
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1791500000000-AddProviderRateLimits.ts
  packages/backend/src/entities/provider-rate-limit.entity.ts
  packages/backend/test/helpers.ts
Due: backend

feat(proxy): capture provider rate-limit headers on each response
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/rate-limit-tracker.service.spec.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/rate-limit-tracker.service.ts
Due: backend

feat(analytics): provider-analytics + rate-limits endpoints
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/controllers/rate-limits.controller.spec.ts
  packages/backend/src/analytics/controllers/rate-limits.controller.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/test/provider-analytics.e2e-spec.ts
Due: backend

feat(frontend): provider-analytics API client + connection breadcrumb store
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/services/connection-breadcrumb-store.ts
  packages/frontend/tests/services/api/analytics.test.ts
  packages/frontend/tests/services/connection-breadcrumb-store.test.ts
Due: frontend

fix(onboarding): reactive deep-link + open-gated menu listeners
  packages/frontend/src/components/ActionMenu.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/tests/components/ActionMenu.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

test(playground): assert both cache variants cleared on createAgent
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
Due: backend

fix(analytics): scope provider analytics + rate limits by full connection identity
  packages/backend/src/analytics/controllers/provider-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/database/migrations/1791500000000-AddProviderRateLimits.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/rate-limit-tracker.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/rate-limit-tracker.service.ts
  packages/backend/test/provider-analytics.e2e-spec.ts
Due: backend

fix(onboarding): cancel post-success nav on dismiss + honest ActionMenu a11y
  packages/frontend/src/components/ActionMenu.tsx
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/tests/components/ActionMenu.test.tsx
  packages/frontend/tests/components/AddAgentModal.test.tsx
Due: frontend

fix(analytics): join agents by id in timeseries to stop double-counting + filter system agent from per-provider/per-model
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/test/provider-analytics.e2e-spec.ts
Due: backend

fix(analytics): id-based join in connection-detail agent breakdown
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/test/provider-analytics.e2e-spec.ts
Due: backend

refactor(frontend): rename /agents routes to /harnesses with legacy redirects
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/AgentLimitsRedirect.tsx
  packages/frontend/src/pages/AgentMessagesRedirect.tsx
  packages/frontend/src/services/routing.ts
Due: frontend

refactor(frontend): rename user-facing "Agent" copy to "Harness"
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/src/components/AgentTypeSelect.tsx
  packages/frontend/src/components/DuplicateAgentModal.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/components/SetupModal.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/src/pages/ConnectProvider.tsx
  packages/frontend/src/pages/FreeModels.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
Due: frontend

test(frontend): update route + copy assertions for Harness rebrand
  packages/frontend/tests/components/AddAgentModal.test.tsx
  packages/frontend/tests/components/AgentTypeSelect.test.tsx
  packages/frontend/tests/components/DuplicateAgentModal.test.tsx
  packages/frontend/tests/components/Header.test.tsx
  packages/frontend/tests/components/MessageDetails.test.tsx
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/components/RecordedMessageModal.test.tsx
  packages/frontend/tests/components/SetupModal.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
  packages/frontend/tests/pages/AgentDetail.test.tsx
  packages/frontend/tests/pages/AgentOverview.test.tsx
  packages/frontend/tests/pages/AgentRedirects.test.tsx
  packages/frontend/tests/pages/ConnectProvider.test.tsx
  packages/frontend/tests/pages/FreeModels.test.tsx
  packages/frontend/tests/pages/GlobalOverview.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/pages/Workspace-validation.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
  packages/frontend/tests/services/analytics-api.test.ts
  packages/frontend/tests/services/routing-useagent.test.tsx
  packages/frontend/tests/services/routing.test.ts
Due: none

feat(frontend): list harnesses in the sidebar switcher
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/AddAgentModal.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
Due: frontend

fix(analytics): exclude system agents by id OR name via NOT EXISTS semi-join
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/test/provider-analytics.e2e-spec.ts
Due: backend

fix(harness): encode sidebar harness hrefs + preserve query/hash on bare /agents redirect
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/index.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
Due: frontend

feat(frontend): add multi-harness analytics chart components
  packages/frontend/src/components/GlobalOverviewSkeleton.tsx
  packages/frontend/src/components/MultiAgentTokenChart.tsx
  packages/frontend/src/components/ProviderChartCard.tsx
  packages/frontend/src/styles/analytics-overview.css
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
Due: frontend

feat(frontend): full analytics Global Overview
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/tests/pages/GlobalOverview.test.tsx
Due: frontend

feat(frontend): connection detail drill-down page + route
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

fix(harness): a11y + dedup cleanups on sidebar HARNESSES section
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/Sidebar.test.tsx
Due: frontend

fix(analytics-ui): scope connection charts by label, isolate overview series, handle missing connections
  packages/backend/src/analytics/controllers/provider-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/test/provider-analytics.e2e-spec.ts
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/components/ProviderSelectContent-deeplink.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: backend, frontend

fix(analytics-backend): cubic findings on rate-limit capture, cache cap, agent-scoping, connection-detail shape
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/rate-limit-tracker.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/rate-limit-tracker.service.ts
  packages/backend/test/provider-analytics.e2e-spec.ts
Due: backend

fix(analytics-ui): chart-component cubic findings (lazy uPlot, a11y tabs, per-index colors, sub-cent cost, dead props)
  packages/frontend/src/components/MultiAgentTokenChart.tsx
  packages/frontend/src/components/ProviderChartCard.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
Due: frontend

fix(analytics-ui): ConnectionDetail persisted range + genuine empty harness selection
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

feat(analytics): label-scoped queries + cubic backend fixes
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/rate-limit-tracker.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/rate-limit-tracker.service.ts
  packages/backend/test/provider-analytics.e2e-spec.ts
Due: backend

fix(analytics): scope live-agent lookup by resolved tenant, not at.tenant_id
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
