Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

Add kimi-k3-256k and kimi-for-coding-highspeed to Moonshot models (#2700)
  .changeset/moonshot-kimi-coding-models.md
  docs/providers/subscription-based-providers.md
  packages/backend/src/common/utils/provider-inference.spec.ts
  packages/backend/src/database/quality-score.util.spec.ts
  packages/backend/src/database/quality-score.util.ts
  packages/backend/src/model-discovery/known-model-modalities.spec.ts
  packages/backend/src/model-discovery/known-model-modalities.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/header-tiers/__tests__/header-tier.service.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.service.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/specificity.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
  packages/backend/src/routing/routing-core/specificity.service.ts
  packages/backend/src/routing/routing-core/tier.service.ts
  packages/shared/__tests__/provider-inference.spec.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/provider-inference.ts
  packages/shared/src/subscription/configs.ts
Due: backend

feat(providers): add Meta Model API
  .changeset/add-meta-model-api.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/providers.ts
Due: backend, frontend

feat(providers): add Meta Model API (#2702)
  .changeset/add-meta-model-api.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/providers.ts
Due: backend, frontend

feat(work-order): add agent-ready issue skill and template
  .agents/skills/work-order/SKILL.md
  .github/ISSUE_TEMPLATE/work-order.md
  .gitignore
  AGENTS.md
Due: none

refactor(work-order): issues and labels live on upstream, not fork
  .agents/skills/work-order/SKILL.md
Due: none

chore(paseo): add services start/restart script and rename preset commands
  paseo.json
  scripts/services.sh
Due: none

'fix'
  .changeset/empty-response-fallbacks.md
  docs/providers/subscription-based-providers.md
  packages/backend/.env.example
  packages/backend/src/routing/proxy/__tests__/empty-response-qualifier.spec.ts
  packages/backend/src/routing/proxy/empty-response-qualifier.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/test/empty-response-fallback.e2e-spec.ts
Due: backend

fix: Generalize empty response detection across all providers (PR #2709)
  docs/providers/subscription-based-providers.md
  packages/backend/src/routing/proxy/__tests__/empty-response-qualifier.spec.ts
  packages/backend/src/routing/proxy/empty-response-qualifier.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/test/empty-response-fallback.e2e-spec.ts
Due: backend

fix: show Meta provider logo
  .changeset/meta-provider-logo.md
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/tests/components/ProviderIcon.test.tsx
Due: frontend

fix: show Meta provider logo (#2717)
  .changeset/meta-provider-logo.md
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/tests/components/ProviderIcon.test.tsx
Due: frontend

feat(dev): DR stack, switch script, sync-config
  .agents/skills/manifest-dev/SKILL.md
  docker/disaster-recovery.sh
  docker/docker-compose.dev.yml
  docker/sync-config.sh
  scripts/switch-manifest.sh
Due: none

chore(paseo): work-order skill, workspace commands, services script, ops housekeeping
  .agents/skills/work-order/SKILL.md
  .github/ISSUE_TEMPLATE/work-order.md
  .gitignore
  AGENTS.md
  paseo.json
  scripts/services.sh
Due: none

fix(autofix): restore heal payload braces dropped in rebase merge
  packages/backend/src/routing/autofix/autofix.service.ts
Due: backend

fix(rebase): reconcile merged code with local and upstream tests
  packages/backend/src/routing/autofix/__tests__/autofix.module.spec.ts
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/frontend/tests/components/MessageTable.test.tsx
Due: backend

feat(routing): drag reorder for fallback chains and primary chips (UI)
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: frontend

feat(ui): make the dashboard fully usable on mobile
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/analytics-overview.css
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/limits.css
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/notifications.css
  packages/frontend/src/styles/playground.css
  packages/frontend/src/styles/request-drawer.css
  packages/frontend/src/styles/routing-deprecation.css
  packages/frontend/src/styles/routing-header-tiers.css
  packages/frontend/src/styles/routing-key-order.css
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/src/styles/routing-specificity.css
  packages/frontend/src/styles/routing-tabs.css
  packages/frontend/src/styles/routing.css
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/welcome.css
Due: frontend

chore(routing): drop branch-only quota-freeze selector from mobile css
  packages/frontend/src/styles/routing.css
Due: frontend

feat(routing): touch drag for the fallback chain + mobile label wrapping
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/src/styles/routing.css
Due: frontend

feat(routing): tap-and-hold touch drag with a ghost card + top-slot drop feedback
  packages/frontend/src/components/DragGhost.tsx
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/styles/routing.css
Due: frontend

feat(routing): swipe-to-engage touch drag with scroll/tap disambiguation
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/styles/routing.css
Due: frontend

feat(routing): mobile drop-target highlight on the primary chip
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
Due: frontend

feat(dev): per-worktree disposable stacks with isolation by default
  .agents/skills/manifest-dev/SKILL.md
  .gitignore
  paseo.json
  scripts/switch-manifest.sh
  scripts/worktree-stack.sh
Due: none

chore(paseo): expose rebuild + worktree-logs scripts in workspace config
  paseo.json
Due: none

feat(dev): seed predictable admin login (admin@manifest.local / admin1234) on test stacks
  .agents/skills/manifest-dev/SKILL.md
  scripts/switch-manifest.sh
  scripts/worktree-stack.sh
Due: none

chore(paseo): expose only human-tester scripts in the UI
  paseo.json
Due: none

feat(routing): Command Code whoami auth validation + 200k default context
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/command-code/command-code-auth.service.spec.ts
  packages/backend/src/routing/command-code/command-code-auth.service.ts
  packages/backend/src/routing/command-code/command-code.module.ts
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/routing.module.ts
Due: backend

feat(routing): Command Code CLI-dialect chat translation service
  packages/backend/src/routing/proxy/__tests__/command-code-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/command-code-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy-types.ts
Due: backend

docs: fix grammar in README
  README.md
Due: none

fix(routing): intercept Command Code streamed errors and format tool-result output
  packages/backend/src/routing/proxy/__tests__/command-code-adapter.spec.ts
  packages/backend/src/routing/proxy/command-code-adapter.ts
Due: backend

feat(paseo): add restart-prod and restart-dev scripts to paseo UI
  paseo.json
  scripts/switch-manifest.sh
Due: none

chore: remove the $25 Gemini credit user-discovery offer
  .changeset/remove-user-discovery-offer.md
  packages/frontend/public/images/discovery-banner.jpg
  packages/frontend/src/components/UserDiscoveryBanner.tsx
  packages/frontend/src/components/UserDiscoveryModal.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/overview.css
  packages/frontend/tests/components/UserDiscoveryBanner.test.tsx
  packages/frontend/tests/components/UserDiscoveryModal.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
Due: frontend

fix(proxy): generalize empty-response detection across all wire formats
  packages/backend/src/routing/proxy/__tests__/empty-response-qualifier.spec.ts
  packages/backend/src/routing/proxy/empty-response-qualifier.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix(proxy): qualify Responses API wire formats and fix stream replay
  packages/backend/src/routing/proxy/__tests__/empty-response-qualifier.spec.ts
  packages/backend/src/routing/proxy/empty-response-qualifier.ts
Due: backend

feat(routing): rotation key option in keys picker
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.key-rotation.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.edge.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/KeyPickerModal.tsx
  packages/frontend/src/components/RouteKeyChip.tsx
  packages/frontend/src/components/RoutingModals.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/services/api/key-rules.ts
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/KeyPickerModal.test.tsx
  packages/frontend/tests/components/RouteKeyChip.test.tsx
  packages/frontend/tests/components/RoutingModals.test.tsx
  packages/frontend/tests/services/api/key-rules.test.ts
  packages/frontend/tests/services/routing-utils.test.ts
  packages/shared/src/index.ts
  packages/shared/src/model-route.ts
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
