Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

feat: add meta tags and link auth logo to manifest.build (#866)
  .changeset/bright-dogs-glow.md
  packages/frontend/index.html
  packages/frontend/public/og-image.png
  packages/frontend/src/layouts/AuthLayout.tsx
  packages/frontend/tests/components/AuthLayout.test.tsx
Due: frontend

fix: use absolute URLs for OG image meta tags
  .changeset/fix-og-meta-urls.md
  packages/frontend/index.html
Due: none

fix: unify analytics funnel distinct IDs across local and cloud modes
  .changeset/fix-analytics-funnel.md
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/otlp/otlp.controller.spec.ts
  packages/backend/src/otlp/otlp.controller.ts
  packages/frontend/src/pages/Workspace.tsx
  packages/openclaw-plugin/__tests__/register.test.ts
  packages/openclaw-plugin/src/index.ts
Due: backend, frontend, plugin

refactor: unify proxy and switch Google to OpenAI-compatible endpoint
  .changeset/unify-proxy-google-openai.md
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/stream-writer.ts
  packages/backend/src/routing/routing.module.ts
  packages/backend/test/proxy.e2e-spec.ts
Due: backend

test: improve patch coverage for Limits feature
  packages/frontend/tests/pages/Limits-interactions.test.tsx
  packages/frontend/tests/pages/Limits.test.tsx
Due: none

Add badge for related repositories in README
  README.md
Due: none

chore: remove unused variables and imports
  packages/backend/src/analytics/services/agent-analytics.service.spec.ts
  packages/backend/src/auth/auth.instance.ts
  packages/backend/src/auth/local-auth.guard.spec.ts
  packages/backend/src/notifications/services/notification-rules.service.spec.ts
Due: backend

fix: harmonize PostHog telemetry distinct_id and enrich event properties
  .changeset/posthog-registration-tracking.md
  package-lock.json
  packages/backend/src/auth/auth.instance.spec.ts
  packages/backend/src/auth/auth.instance.ts
  packages/backend/src/common/utils/product-telemetry.spec.ts
  packages/backend/src/common/utils/product-telemetry.ts
  packages/backend/src/otlp/otlp.controller.spec.ts
  packages/backend/src/otlp/otlp.controller.ts
  packages/frontend/src/App.tsx
  packages/frontend/tests/components/App.test.tsx
  packages/openclaw-plugin/src/product-telemetry.ts
Due: backend, frontend, plugin

feat: store OpenRouter copies in pricing sync with full vendor-prefixed IDs
  .changeset/openrouter-pricing-sync.md
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/database/quality-score.util.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-utils.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/src/styles/modals.css
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/frontend/tests/services/routing-utils.test.ts
Due: backend, frontend

changeset: harden blind proxy
  .changeset/harden-blind-proxy.md
Due: none

test: improve patch coverage for OpenRouter PR
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/frontend/tests/services/providers.test.ts
Due: backend

fix: include negative pricing guard in pricing sync service
  packages/backend/src/database/pricing-sync.service.ts
Due: backend

feat: add emoji GitHub Releases on npm publish
  .changeset/public-experts-run.md
  .github/workflows/release.yml
Due: none

feat: add heartbeat routing detection and routing_reason to OTLP pipeline
  .changeset/heartbeat-routing-reason.md
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1772300000000-AddRoutingReason.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/formatters.ts
  packages/frontend/tests/services/formatters.test.ts
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/__tests__/routing.test.ts
  packages/openclaw-plugin/public/assets/index-BTqprAF8.js
  packages/openclaw-plugin/public/assets/index-BuxwDLw2.css
  packages/openclaw-plugin/public/assets/index-D4tIIWoy.js
  packages/openclaw-plugin/public/assets/index-D_KLSAIy.css
  packages/openclaw-plugin/public/index.html
  packages/openclaw-plugin/public/og-image.png
  packages/openclaw-plugin/src/constants.ts
  packages/openclaw-plugin/src/hooks.ts
  packages/openclaw-plugin/src/routing.ts
Due: backend, frontend, plugin

fix: push git tags before creating GitHub releases
  .changeset/twenty-loops-clean.md
  .github/workflows/release.yml
Due: none

feat: allow spaces in agent names with display_name + slug
  .changeset/agent-display-name.md
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/common/dto/create-agent.dto.spec.ts
  packages/backend/src/common/dto/create-agent.dto.ts
  packages/backend/src/common/dto/rename-agent.dto.spec.ts
  packages/backend/src/common/dto/rename-agent.dto.ts
  packages/backend/src/common/utils/slugify.spec.ts
  packages/backend/src/common/utils/slugify.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1772400000000-AddAgentDisplayName.ts
  packages/backend/src/entities/agent.entity.ts
  packages/backend/src/otlp/services/api-key.service.spec.ts
  packages/backend/src/otlp/services/api-key.service.ts
  packages/backend/test/helpers.ts
  packages/frontend/src/components/AgentGuard.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: backend, frontend

feat: show cloud email info card and move provider setup to local mode
  packages/frontend/src/components/CloudEmailInfo.tsx
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/styles/notifications.css
  packages/frontend/tests/components/CloudEmailInfo.test.tsx
  packages/frontend/tests/components/LimitRuleModal.test.tsx
  packages/frontend/tests/pages/Limits-interactions.test.tsx
  packages/frontend/tests/pages/Limits.test.tsx
Due: frontend

chore: add changeset
  .changeset/cloud-email-info.md
Due: none

test: improve patch coverage for cloud email info and updated text
  packages/frontend/tests/pages/Limits.test.tsx
Due: none

fix: use success color for cloud badge and set Codecov default branch
  .changeset/cloud-badge-color.md
  codecov.yml
  packages/frontend/src/styles/controls.css
Due: frontend

fix: prevent OpenRouter sync from misattributing non-native models to providers
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
Due: backend

chore: add changeset
  .changeset/fix-openrouter-model-attribution.md
Due: none

fix: add diagnostic logging to blind proxy resolve chain
  .changeset/diagnostic-logging.md
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve.service.ts
  packages/backend/src/routing/routing.service.ts
Due: backend

test: add coverage for context_window on existing model path
  packages/backend/src/database/pricing-sync.service.spec.ts
Due: backend

chore: add changeset for manifest
  .changeset/fix-unused-variables.md
Due: none

chore: rebrand log prefix to [Manifest] and improve test coverage
  .changeset/improve-test-coverage.md
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/auth/auth.instance.spec.ts
  packages/backend/src/entities/email-provider-config.entity.spec.ts
  packages/backend/src/github/github.controller.spec.ts
  packages/backend/src/main.ts
  packages/backend/src/notifications/dto/set-email-provider.dto.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/frontend/tests/services/analytics.test.ts
  packages/frontend/tests/services/chart-utils.test.ts
  packages/frontend/tests/services/display-name.test.ts
Due: backend

fix: sync provider config in cloud mode on gateway restart
  .changeset/sync-provider-config.md
  package-lock.json
  packages/openclaw-plugin/__tests__/local-mode.test.ts
  packages/openclaw-plugin/__tests__/register.test.ts
  packages/openclaw-plugin/src/index.ts
  packages/openclaw-plugin/src/local-mode.ts
Due: plugin

feat: update page meta titles to use "Page - Manifest" format
  .changeset/dynamic-meta-titles.md
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/pages/Help.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/ModelPrices.tsx
  packages/frontend/src/pages/NotFound.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/ResetPassword.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
Due: frontend

Move Settings to last in sidebar, rename Integration to Agent setup
  .changeset/sidebar-reorder-rename.md
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: frontend

Update package-lock.json
  package-lock.json
Due: none

Show date alongside time in message tables
  .changeset/add-message-dates.md
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/formatters.ts
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/services/formatters.test.ts
Due: frontend

Update package-lock.json after npm install
  package-lock.json
Due: none

Add comprehensive OWASP Top 10 security test suite (102 tests)
  .changeset/two-papers-shine.md
  packages/backend/test/owasp-security.e2e-spec.ts
Due: none

chore: sync package-lock.json version
  package-lock.json
Due: none

feat: implement minimal GitHub issue and pull request templates
  .changeset/nice-melons-fly.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Due: none

fix: resolve actual model name in cloud mode telemetry
  .changeset/resolve-cloud-model.md
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/src/hooks.ts
Due: plugin

Fix absurd trend percentages and chart rendering for zero/near-zero values
  .changeset/fix-chart-zero-values.md
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/frontend/src/components/CostChart.tsx
  packages/frontend/src/components/SingleTokenChart.tsx
  packages/frontend/src/components/TokenChart.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: backend, frontend

Fix tier badge alignment in message tables
  .changeset/fix-tier-label-alignment.md
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/styles/data.css
Due: frontend
