Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

ci: build manifest-shared before the cli job (gen + drift specs need it)
  .github/workflows/ci.yml
Due: none

feat: add disaster recovery stack with Tailscale on port 2100
  docker/disaster-recovery.sh
  docker/docker-compose.dr.yml
Due: none

feat(cli): routing surface on kept concepts — default route one-liner and custom header tiers, drop deprecated complexity tiers
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/index.spec.ts
  packages/cli/src/index.ts
Due: none

fix: remove Tailscale sidecar, auto-detect host Tailscale
  docker/disaster-recovery.sh
  docker/docker-compose.dr.yml
Due: none

feat(cli): agent configure as the human front door for routing and toggles
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/configure.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/index.ts
Due: none

fix: DR postgres on localhost:5433, manifest resolves DB via localhost
  docker/docker-compose.dr.yml
Due: none

feat(cli): device-flow subscription connect for Kiro and MiniMax
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/oauth-connect.spec.ts
  packages/cli/src/commands/oauth-connect.ts
Due: none

feat: add sync-config.sh to copy WIP config to DR
  docker/sync-config.sh
Due: none

fix(backend): share AgentKeyAuthGuard caches across instances so rotation revokes instantly
  packages/backend/src/otlp/guards/agent-key-auth.guard.edge.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
Due: backend

feat(cli): routing status composite readback and agent create --if-absent
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/index.ts
Due: none

feat(cli): requests get with faithful API pagination
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/requests.ts
  packages/cli/src/index.ts
Due: none

refactor(cli): trim request rows to decision fields, --full for raw
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/requests.ts
  packages/cli/src/index.ts
Due: none

feat(cli): mnfst call routed completions; fix keystore staleness on rotate --key-file; sim-driven polish
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/call.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/models.ts
  packages/cli/src/commands/requests.ts
  packages/cli/src/index.ts
  packages/cli/src/keystore.ts
Due: none

feat(cli): agent env emits dotenv/shell wiring lines
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/index.ts
Due: none

feat(cli): replace call with routing test, a loud end-to-end route verifier
  packages/cli/src/commands/call.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/index.ts
Due: none

feat(cli): routing test speaks the agent platform surface (wingman-style impersonation)
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/index.ts
Due: none

feat(shared,cli): platform API-surface map in manifest-shared, CLI platform catalog generated from it
  packages/cli/scripts/generate-provider-catalog.cjs
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/provider-catalog.gen.ts
  packages/shared/__tests__/agent-type-surfaces.spec.ts
  packages/shared/src/agent-type.ts
  packages/shared/src/index.ts
Due: none

feat(shared,cli): platform setup snippets in manifest-shared, served by agent create and agent setup
  packages/cli/scripts/generate-provider-catalog.cjs
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/index.ts
  packages/cli/src/provider-catalog.gen.ts
  packages/frontend/src/services/framework-snippets.ts
  packages/shared/__tests__/setup-snippets.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/setup-snippets.ts
Due: frontend

fix(routing): heal DeepSeek v4 Flash schema errors, gate key rotation on non-key failures
  healer/heal.mjs
  healer/tests/heal-contract.test.mjs
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/phoenix.types.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-content-cache.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
Due: backend

feat(cli): per-agent provider enable/disable and custom provider registration
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/custom-provider.ts
  packages/cli/src/commands/provider.ts
  packages/cli/src/index.ts
Due: none

refactor(cli): move enable/disable under agent provider (namespace = scope)
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/provider.ts
  packages/cli/src/index.ts
Due: none

feat(routing): resolve auto-{name} models to header tier routes
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve/resolve.service.ts
Due: backend

feat(cli): anonymous per-command usage telemetry, opt-out via MANIFEST_TELEMETRY_DISABLED
  packages/cli/src/index.spec.ts
  packages/cli/src/index.ts
  packages/cli/src/telemetry.spec.ts
  packages/cli/src/telemetry.ts
  packages/cli/test/helpers.ts
Due: none

docs: mnfst-cli skill — agent-facing operating guide, sim-tested
  .claude/skills/mnfst-cli/SKILL.md
Due: none

fix(test): anchor tenant request usage e2e to the current quota window
  packages/backend/test/tenant-request-usage-migration.e2e-spec.ts
Due: none

fix(cli): final-review wave — routing, catalog drift, key placeholder, oauth cadence
  .github/workflows/ci.yml
  .gitignore
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
  packages/cli/README.md
  packages/cli/scripts/generate-provider-catalog.cjs
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/custom-provider.ts
  packages/cli/src/commands/oauth-connect.spec.ts
  packages/cli/src/commands/oauth-connect.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/index.spec.ts
  packages/cli/src/index.ts
  packages/cli/src/provider-catalog.gen.ts
  packages/cli/src/provider-catalog.spec.ts
  packages/cli/src/telemetry.spec.ts
  packages/cli/src/telemetry.ts
Due: backend

chore: declare cli prettier dep, correct stale messages-surface doc claim
  CLAUDE.md
  packages/cli/package.json
Due: none

fix(proxy): proactively sanitize tool parameter schemas to type object
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
Due: backend

fix(cli): replace polynomial edge-hyphen trim regex with positional trim
  packages/cli/src/slug.ts
Due: none

docs(skill): fold cold-start sim findings into mnfst-cli skill
  .claude/skills/mnfst-cli/SKILL.md
Due: none

fix(proxy): allow key rotation when autofix is unfixable or exhausted
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

feat(cli): add doctor, provider refresh, model prices, and model validation parity
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/configure.ts
  packages/cli/src/commands/doctor.ts
  packages/cli/src/commands/model-check.ts
  packages/cli/src/commands/model-prices.ts
  packages/cli/src/commands/provider.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/index.ts
Due: none

docs(skill): point the mnfst-cli gotchas at doctor, provider refresh, and model prices
  .claude/skills/mnfst-cli/SKILL.md
Due: none

fix(routing): honor provider key-label pin on explicit-model requests
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/route-credentials.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/route-credentials.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
Due: backend

feat(cli): ship the agent skill with the CLI and detect the agent running it
  .github/workflows/ci.yml
  packages/cli/package.json
  packages/cli/scripts/generate-skill-content.cjs
  packages/cli/src/agent-runtime.ts
  packages/cli/src/commands/auth.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/doctor.ts
  packages/cli/src/commands/skill.ts
  packages/cli/src/index.ts
  packages/cli/src/skill-content.gen.ts
  packages/cli/src/skill-content.spec.ts
  packages/cli/src/telemetry.spec.ts
  packages/cli/src/telemetry.ts
Due: none

fix(cli): collapse IEEE float noise in model prices output
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/model-prices.ts
Due: none

fix(routing): keep the Auto-fix original row on the primary connection
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing-core/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
Due: backend

chore: gitignore ops artifacts (backup scripts, db_backup)
  .gitignore
Due: none

feat(routing): record the API surface on each request
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801720000000-AddRequestApiMode.spec.ts
  packages/backend/src/database/migrations/1801720000000-AddRequestApiMode.ts
  packages/backend/src/entities/request.entity.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/test/message-count-consistency.e2e-spec.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
