Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

test(routing): make primary badge query robust
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: none

test: fix E2E and unit tests for complexity routing changes
  packages/backend/src/database/migrations/1781000000000-ReAddComplexityRoutingFlag.spec.ts
  packages/backend/src/routing/resolve/resolve.default.spec.ts
  packages/backend/src/routing/routing-core/resolve-agent.service.spec.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/test/helpers.ts
  packages/backend/test/smoke-test.e2e-spec.ts
Due: backend

test: add Azure custom provider logo tests
  packages/frontend/tests/components/ProviderIcon.test.tsx
Due: none

feat: add vision capability filter for model routing
  package-lock.json
  package.json
  packages/backend/package.json
  packages/backend/src/model-discovery/anthropic-subscription-probe.spec.ts
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/model-fetcher.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/model-discovery/vision-capability.spec.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/resolve/resolve.default.spec.ts
  packages/backend/src/routing/resolve/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/backend/src/routing/tier-auto-assign.service.spec.ts
  packages/backend/src/scoring/__tests__/score-request.spec.ts
  packages/backend/src/scoring/__tests__/text-extractor.spec.ts
  packages/backend/src/scoring/config.ts
  packages/backend/src/scoring/index.ts
  packages/backend/src/scoring/text-extractor.ts
Due: backend

test: cover complexity toggle, API functions, and HeaderTierCard reset error
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/services/routing.test.ts
Due: none

fix: prevent white screen on stale Vite chunks
  packages/backend/src/common/filters/spa-fallback.filter.spec.ts
  packages/backend/src/common/filters/spa-fallback.filter.ts
  packages/frontend/src/index.tsx
Due: backend, frontend

fix: replace house icon with tepee and update local badge color
  packages/frontend/src/components/AuthBadge.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/ProviderLocalTab.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/styles/routing.css
Due: frontend

fix: widen authType to include 'local' in specificity override handler
  packages/frontend/src/pages/Routing.tsx
Due: frontend

fix(providers): use llama.cpp SVG logo and fix hint punctuation
  package-lock.json
  packages/frontend/src/components/ProviderIcon.tsx
  packages/shared/src/providers.ts
Due: frontend

fix(tests): align llama.cpp tests with SVG icon and localOnly flag
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
Due: none

fix(providers): infer llamacpp provider from model prefix
  packages/shared/__tests__/provider-inference.spec.ts
  packages/shared/src/provider-inference.ts
Due: none

fix(providers): improve llama.cpp tile setup command and docs link
  packages/frontend/src/components/LocalServerDetailView.tsx
  packages/shared/src/providers.ts
Due: frontend

fix(tests): update LocalServerDetailView tests for new setup command
  packages/frontend/tests/components/LocalServerDetailView.test.tsx
Due: none

fix(routing): prevent tier cards from expanding with long model names
  packages/frontend/src/styles/routing.css
Due: frontend

fix(routing): show empty state when no active providers are connected
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/styles/routing.css
Due: frontend

fix(ui): remove outdated credits button, align modals and back button with design system
  packages/frontend/src/components/LocalServerDetailView.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/styles/routing-providers.css
Due: frontend

fix(test): update RoutingInstructionModal test mocks for new imports
  packages/frontend/tests/components/RoutingInstructionModal.test.tsx
Due: none

fix(test): update tests for routing empty state, removed credits, and back button
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: none

fix: propagate mid-stream errors instead of swallowing them
  packages/backend/src/routing/proxy/__tests__/stream-warmup.spec.ts
  packages/backend/src/routing/proxy/stream-warmup.ts
Due: backend

fix: fall back to next provider when streaming response stalls mid-stream
  packages/backend/src/routing/proxy/__tests__/stream-warmup.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/stream-warmup.ts
Due: backend

feat(i18n): add PT-BR multilingual keyword locale support
  packages/backend/src/scoring/keywords/locales/index.ts
  packages/backend/src/scoring/keywords/locales/pt-BR/calendar-management.ts
  packages/backend/src/scoring/keywords/locales/pt-BR/complexity.ts
  packages/backend/src/scoring/keywords/locales/pt-BR/data-analysis.ts
  packages/backend/src/scoring/keywords/locales/pt-BR/email-management.ts
  packages/backend/src/scoring/keywords/locales/pt-BR/image-generation.ts
  packages/backend/src/scoring/keywords/locales/pt-BR/social-media.ts
  packages/backend/src/scoring/keywords/locales/pt-BR/trading.ts
  packages/backend/src/scoring/keywords/locales/pt-BR/video-generation.ts
  packages/backend/src/scoring/keywords/locales/pt-BR/web-browsing.ts
Due: backend

feat(analytics): add saved cost metric to Overview dashboard
  .changeset/add-saved-money.md
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/savings.controller.spec.ts
  packages/backend/src/analytics/controllers/savings.controller.ts
  packages/backend/src/analytics/services/savings-query.service.spec.ts
  packages/backend/src/analytics/services/savings-query.service.ts
  packages/backend/src/common/dto/savings-query.dto.spec.ts
  packages/backend/src/common/dto/savings-query.dto.ts
  packages/backend/src/common/dto/update-baseline.dto.spec.ts
  packages/backend/src/common/dto/update-baseline.dto.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1782000000000-AddSavingsBaselineModel.spec.ts
  packages/backend/src/database/migrations/1782000000000-AddSavingsBaselineModel.ts
  packages/backend/src/entities/agent.entity.ts
  packages/frontend/src/components/ChartCard.tsx
  packages/frontend/src/components/SavingsCard.tsx
  packages/frontend/src/components/SavingsExplainer.tsx
  packages/frontend/src/components/Select.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/styles/cards.css
  packages/frontend/src/styles/savings.css
  packages/frontend/tests/components/SavingsCard.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: backend, frontend

fix(test): use vi.waitFor instead of setTimeout in SavingsCard error test
  packages/frontend/tests/components/SavingsCard.test.tsx
Due: none

fix(test): isolate savings API mock to avoid polluting other test suites
  packages/frontend/src/components/SavingsCard.tsx
  packages/frontend/tests/components/SavingsCard.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

fix(i18n): address P1 and P2 review issues from cubic-dev-ai
  packages/backend/src/scoring/keywords/locales/index.ts
  packages/backend/src/scoring/keywords/locales/pt-BR/complexity.ts
  packages/backend/src/scoring/keywords/locales/pt-BR/web-browsing.ts
Due: backend

fix(test): add savings API mock to Overview-limits test
  packages/frontend/tests/pages/Overview-limits.test.tsx
Due: none

fix(test): add global savings API mock to prevent unhandled fetch errors in CI
  packages/frontend/tests/setup-savings-mock.ts
  packages/frontend/vite.config.ts
Due: none

fix(test): catch fetch errors in SavingsCard resources to prevent unhandled rejections in CI
  packages/frontend/src/components/SavingsCard.tsx
  packages/frontend/tests/setup-savings-mock.ts
  packages/frontend/vite.config.ts
Due: frontend

test(frontend): improve SavingsCard and SavingsExplainer test coverage
  packages/frontend/tests/components/SavingsCard.test.tsx
  packages/frontend/tests/components/SavingsExplainer.test.tsx
Due: none

feat(analytics): compute baseline cost per request at ingest time
  packages/backend/src/analytics/services/savings-query.service.spec.ts
  packages/backend/src/analytics/services/savings-query.service.ts
  packages/backend/src/common/utils/baseline-cost.spec.ts
  packages/backend/src/common/utils/baseline-cost.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1782100000000-AddBaselineCostColumns.spec.ts
  packages/backend/src/database/migrations/1782100000000-AddBaselineCostColumns.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/frontend/src/components/SavingsCard.tsx
  packages/frontend/src/components/SavingsExplainer.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/components/SavingsCard.test.tsx
Due: backend, frontend

feat(analytics): per-request savings clamp, pricing enrichment, and explainer update
  packages/backend/src/analytics/controllers/savings.controller.spec.ts
  packages/backend/src/analytics/controllers/savings.controller.ts
  packages/backend/src/analytics/services/savings-query.service.ts
  packages/backend/src/common/dto/savings-query.dto.ts
  packages/backend/src/common/dto/update-baseline.dto.spec.ts
  packages/backend/src/common/dto/update-baseline.dto.ts
  packages/backend/src/common/utils/baseline-cost.spec.ts
  packages/backend/src/common/utils/baseline-cost.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/frontend/src/components/SavingsCard.tsx
  packages/frontend/src/components/SavingsExplainer.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/styles/savings.css
  packages/frontend/tests/components/SavingsCard.test.tsx
  packages/frontend/tests/components/SavingsExplainer.test.tsx
Due: backend, frontend

test(frontend): improve coverage for analytics API, ChartCard savings, and Overview
  packages/frontend/tests/components/ChartCard.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/services/analytics-api.test.ts
Due: none

fix(ui): routing page polish and local provider fixes
  .changeset/ui-fixes-batch-2.md
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/frontend/src/components/CostByModelTable.tsx
  packages/frontend/src/components/DuplicateAgentModal.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/ProviderLocalTab.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/services/providers.ts
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/controls.css
  packages/frontend/tests/components/CostByModelTable.test.tsx
  packages/frontend/tests/components/DuplicateAgentModal.test.tsx
  packages/frontend/tests/components/Header.test.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/ProviderLocalTab.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
Due: backend, frontend

fix(test): update ProviderSelectContent tests to click toggle switch for disconnect
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
Due: none

fix(ui): move gear icon inside breadcrumb-current for better alignment
  packages/frontend/src/components/Header.tsx
Due: frontend

fix(duplication): remap custom provider refs and copy api_kind when duplicating agents
  .changeset/fix-agent-duplication-providers.md
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.ts
  packages/backend/test/agent-duplication.e2e-spec.ts
Due: backend

fix: add connectedProviders to RoutingActionsInput interface
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingActions.tsx
Due: frontend

test: cover multi-key paths to lift codecov patch above gate
  packages/backend/src/routing/routing-core/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/KeyPickerModal.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/shared/__tests__/fallback-encoding.spec.ts
Due: backend

test: cover RoutingActions, RoutingModals, ProviderKeyForm, routing API helpers
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/frontend/tests/components/RoutingModals.test.tsx
  packages/frontend/tests/pages/RoutingActions.test.ts
  packages/frontend/tests/services/routing.test.ts
Due: none
