Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: trigger Docker publish via workflow_dispatch from release
  .changeset/petite-facts-prove.md
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

fix: keep OpenRouter models in public stats, only exclude custom and unknown
  .changeset/keep-openrouter.md
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/backend/src/public-stats/public-stats.service.ts
Due: backend

fix: treat null-priced models as unknown cost in tier auto-assignment
  .changeset/fix-null-pricing-tier-assignment.md
  packages/backend/src/routing/routing-core/tier-auto-assign.service.ts
  packages/backend/src/routing/tier-auto-assign.service.spec.ts
Due: backend

chore: remove Docker Hub description sync step
  .changeset/bright-lizards-write.md
  .github/workflows/docker.yml
Due: none

fix: harden pricing enrichment and OpenRouter parser
  .changeset/fix-pricing-enrichment-robustness.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

fix: resolve missing model prices for 22 models across 4 providers
  .changeset/fix-missing-model-prices.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/known-model-prices.spec.ts
  packages/backend/src/model-discovery/known-model-prices.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

chore: update Docker Hub README and add OCI labels
  .changeset/strict-swans-bet.md
  docker/DOCKER_README.md
  docker/Dockerfile
Due: none

fix: OWASP security hardening across backend
  .changeset/security-hardening-owasp.md
  packages/backend/src/common/utils/hash.util.ts
  packages/backend/src/common/utils/url-validation.spec.ts
  packages/backend/src/common/utils/url-validation.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/notifications/dto/set-notification-email.dto.spec.ts
  packages/backend/src/notifications/dto/set-notification-email.dto.ts
  packages/backend/src/notifications/notifications.controller.ts
  packages/backend/src/routing/oauth/openai-oauth.controller.ts
  packages/backend/src/routing/oauth/openai-oauth.types.ts
  packages/backend/src/routing/openai-oauth.controller.spec.ts
  packages/backend/src/routing/openai-oauth.types.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.ts
Due: backend

fix: address review feedback
  packages/backend/src/common/utils/hash.util.spec.ts
  packages/backend/src/common/utils/hash.util.ts
  packages/backend/src/common/utils/url-validation.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.ts
Due: backend

chore: optimize Docker image size (412MB -> 374MB)
  .changeset/shaggy-phones-jump.md
  .github/workflows/docker.yml
  docker/Dockerfile
Due: none

fix: add GH_TOKEN to Docker dispatch step in release workflow
  .changeset/olive-ravens-begin.md
  .github/workflows/release.yml
Due: none

fix: create writable volume directory for local mode SQLite
  docker/Dockerfile
Due: none

fix: create writable volume directory for local mode SQLite
  .changeset/hot-pots-ring.md
  docker/Dockerfile
Due: none

chore: add Docker pulls badge to README
  .changeset/yummy-meteors-camp.md
  README.md
Due: none

feat: allow configuring CSP frame-ancestors via FRAME_ANCESTORS env var
  .changeset/frame-ancestors.md
  packages/backend/src/main.ts
Due: backend

perf: optimize page performance with memoization, batch inserts, and indexes
  .changeset/optimize-page-performance.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1775000000000-AddDetailViewIndexes.spec.ts
  packages/backend/src/database/migrations/1775000000000-AddDetailViewIndexes.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/frontend/src/components/CostByModelTable.tsx
  packages/frontend/src/pages/Overview.tsx
Due: backend, frontend

fix: improve web accessibility (WCAG AA) across frontend
  .changeset/web-accessibility-audit.md
  packages/frontend/src/components/CloudEmailInfo.tsx
  packages/frontend/src/components/CopyButton.tsx
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/LimitModals.tsx
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/components/LimitRuleTable.tsx
  packages/frontend/src/components/ProviderBanner.tsx
  packages/frontend/src/components/SetupModal.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/components/SetupStepLocalConfigure.tsx
  packages/frontend/src/components/SetupWizard.tsx
  packages/frontend/src/components/Sparkline.tsx
  packages/frontend/src/components/ToastContainer.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/pages/Help.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/NotFound.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/ResetPassword.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingPanels.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
Due: frontend

fix: add aria-label to cost filter inputs in MessageLog
  packages/frontend/src/pages/MessageLog.tsx
Due: frontend

fix: additional a11y improvements from ARIA/keyboard audit
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/MessageTable.tsx
  packages/frontend/src/components/SetupWizard.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/pages/Settings.tsx
Due: frontend

fix: subscription probe no longer filters accessible models (#1448)
  ANALYSIS.md
  CHANGELOG-subscription-fix.md
  packages/backend/src/model-discovery/anthropic-subscription-probe.spec.ts
  packages/backend/src/model-discovery/anthropic-subscription-probe.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
Due: backend

fix: remove platform-specific rollup dependency breaking Linux CI
  package-lock.json
  package.json
Due: none

feat: sort models alphabetically in model picker modal
  .changeset/sort-models-alphabetically.md
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: frontend

test: add tests for components with accessibility changes
  packages/frontend/tests/components/LimitModals.test.tsx
  packages/frontend/tests/components/LimitRuleTable.test.tsx
  packages/frontend/tests/components/Sparkline.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
  packages/frontend/tests/pages/RoutingPanels.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: none

fix: raise manifest/auto maxTokens from 16384 to 128000
  .changeset/raise-max-tokens.md
  packages/openclaw-plugins/manifest-model-router/__tests__/auth.test.ts
  packages/openclaw-plugins/manifest-model-router/src/auth.ts
Due: none

fix: bump contextWindow from 200k to 2M to match routing pool max
  .changeset/raise-max-tokens.md
  packages/openclaw-plugins/manifest-model-router/__tests__/auth.test.ts
  packages/openclaw-plugins/manifest-model-router/src/auth.ts
Due: none

fix: bump manifest/auto contextWindow from 200k to 2M
  .changeset/raise-max-tokens.md
  packages/openclaw-plugins/manifest-model-router/__tests__/auth.test.ts
  packages/openclaw-plugins/manifest-model-router/src/auth.ts
Due: none

fix: unlock sonnet/opus for Anthropic subscription OAuth tokens
  .changeset/fix-anthropic-subscription-models.md
  packages/backend/src/model-discovery/anthropic-subscription-probe.spec.ts
  packages/backend/src/model-discovery/anthropic-subscription-probe.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

docs: simplify Docker section in README
  .changeset/clever-ideas-trade.md
  README.md
Due: none

perf: use cached provider lookups and parallelize fallback calls
  .changeset/optimize-page-performance.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/routing-core/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/frontend/src/pages/MessageLog.tsx
Due: backend, frontend

chore: remove reverted migration files
  packages/backend/src/database/migrations/1775000000000-AddDetailViewIndexes.spec.ts
  packages/backend/src/database/migrations/1775000000000-AddDetailViewIndexes.ts
Due: backend

test: add ESC key tests for new keyboard handlers
  packages/frontend/tests/components/CustomProviderForm.test.tsx
  packages/frontend/tests/components/SetupWizard.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: none

fix: resolve Docker image CVE vulnerabilities
  .changeset/fix-docker-vulnerabilities.md
  docker/Dockerfile
  package-lock.json
  package.json
Due: none

fix: use double quotes in changeset to match CI grep pattern
  .changeset/optimize-page-performance.md
Due: none

feat: improve routing UX with auto-show instructions and autofocus
  .changeset/routing-ux-improvements.md
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

feat: improve routing UX with auto-show instructions and autofocus (#1465)
  .changeset/routing-ux-improvements.md
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend
