Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix: remove response cache from messages endpoint to prevent stale E2E results
  packages/backend/src/analytics/controllers/messages.controller.spec.ts
  packages/backend/src/analytics/controllers/messages.controller.ts
Due: backend

test: fix codecov/patch coverage for caching PR
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/routing/resolve-agent.service.spec.ts
  packages/backend/src/routing/resolve-agent.util.ts
  packages/backend/src/routing/routing-cache.service.spec.ts
  packages/backend/src/routing/routing.service.spec.ts
Due: backend

fix: address code review feedback on caching implementation
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/common/interceptors/agent-cache.interceptor.spec.ts
  packages/backend/src/common/interceptors/agent-cache.interceptor.ts
  packages/backend/src/common/interceptors/user-cache.interceptor.spec.ts
  packages/backend/src/common/interceptors/user-cache.interceptor.ts
  packages/backend/src/common/services/tenant-cache.service.spec.ts
  packages/backend/src/common/services/tenant-cache.service.ts
  packages/backend/src/routing/resolve-agent.service.spec.ts
  packages/backend/src/routing/resolve-agent.service.ts
  packages/backend/src/routing/routing-cache.service.spec.ts
  packages/backend/src/routing/routing-cache.service.ts
Due: backend

fix(backend): prevent SQL placeholder corruption in quoted strings
  .changeset/fix-sql-placeholder-quoted-strings.md
  packages/backend/src/common/utils/sql-dialect.spec.ts
  packages/backend/src/common/utils/sql-dialect.ts
Due: backend

add whereToGet URL below API key input fields for each providers
  .changeset/wise-oranges-double.md
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/styles/notifications.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/EmailProviderModal.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: frontend

add whereToGet API key URL for providers
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/tests/components/EmailProviderModal.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: frontend

test(frontend): require provider API key links
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/services/email-providers.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/tests/services/email-providers.test.ts
  packages/frontend/tests/services/providers.test.ts
Due: frontend

fix(frontend): satisfy provider URL typing
  packages/frontend/src/services/provider-api-key-urls.ts
Due: frontend

feat: add database indexes for dashboard and OTLP ingestion performance
  .changeset/add-dashboard-indexes.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1772905146384-AddDashboardIndexes.spec.ts
  packages/backend/src/database/migrations/1772905146384-AddDashboardIndexes.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/entities/notification-rule.entity.ts
Due: backend

fix: exclude spec files from TypeORM CLI migration glob
  packages/backend/src/database/datasource.ts
Due: backend

fix: web quality audit — performance, accessibility, SEO, and best practices
  .changeset/web-quality-audit.md
  package-lock.json
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/main.ts
  packages/frontend/index.html
  packages/frontend/src/App.tsx
  packages/frontend/src/components/InfoTooltip.tsx
  packages/frontend/src/components/Pagination.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/styles/layout.css
  packages/frontend/src/styles/tooltip.css
  packages/frontend/tests/components/App.test.tsx
  packages/frontend/tests/components/InfoTooltip.test.tsx
  packages/frontend/tests/components/Pagination.test.tsx
Due: backend, frontend

docs: add development skills and update CONTRIBUTING.md
  .changeset/long-geese-end.md
  CONTRIBUTING.md
  skills/manifest-status/SKILL.md
  skills/manifest-status/scripts/manifest_status.sh
  skills/setup-manifest-plugin/SKILL.md
  skills/setup-manifest-plugin/scripts/setup_manifest.sh
  skills/uninstall-manifest-plugin/SKILL.md
  skills/uninstall-manifest-plugin/scripts/uninstall_manifest.sh
Due: none

fix: recalculate tier assignments on local-mode startup
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
Due: backend

chore: add changeset for local provider restart fix
  .changeset/fix-local-provider-restart.md
Due: none

feat: add fallback model routing with automatic retry on provider failures
  .changeset/fallback-routing.md
  package-lock.json
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1772905260464-AddFallbacks.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/entities/tier-assignment.entity.ts
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/routing/dto/routing.dto.spec.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/proxy/__tests__/fallback-status-codes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/fallback-status-codes.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/formatters.ts
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/overview.css
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/services/formatters.test.ts
Due: backend, frontend

fix: address CI feedback — retriable-only fallbacks, agent_id scoping, coverage
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/routing/proxy/__tests__/fallback-status-codes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/fallback-status-codes.ts
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/services/api.test.ts
Due: backend, frontend

test: achieve 100% line coverage on all PR-changed files
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/frontend/tests/pages/Routing.test.tsx
Due: backend

feat: store and display human-readable model names everywhere
  .changeset/display-names-everywhere.md
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1772920000000-AddModelDisplayName.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/entities/model-pricing.entity.ts
  packages/backend/src/model-prices/model-prices.service.spec.ts
  packages/backend/src/model-prices/model-prices.service.ts
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
  packages/backend/src/routing/tier-auto-assign.service.spec.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/model-display.ts
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/services/model-display.test.ts
Due: backend, frontend

fix: disable auto-migrations in production and drop 14 redundant indexes
  .changeset/drop-redundant-indexes.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1772940000000-DropRedundantIndexes.spec.ts
  packages/backend/src/database/migrations/1772940000000-DropRedundantIndexes.ts
  packages/backend/src/entities/agent-log.entity.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/entities/cost-snapshot.entity.ts
  packages/backend/src/entities/llm-call.entity.ts
  packages/backend/src/entities/token-usage-snapshot.entity.ts
  packages/backend/src/entities/tool-execution.entity.ts
Due: backend

fix: eliminate OR pattern in tenant filter to enable index scans
  .changeset/fix-tenant-filter-or.md
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/telemetry/telemetry.service.spec.ts
  packages/backend/src/telemetry/telemetry.service.ts
  packages/backend/test/costs.e2e-spec.ts
Due: backend

fix: prefer MIGRATION_DATABASE_URL for CLI migrations
  packages/backend/src/database/datasource.ts
Due: backend

fix: improve fallback UX — unify buttons, add loading states
  .changeset/fix-fallback-ux.md
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

fix: increase Railway healthcheck timeout to 120s
  .changeset/better-papayas-tie.md
  railway.toml
Due: none

fix: quality score computation for OpenRouter models + patch coverage
  packages/backend/src/database/quality-score.util.spec.ts
  packages/backend/src/database/quality-score.util.ts
  packages/backend/src/model-prices/model-name-normalizer.spec.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/tier-auto-assign.service.spec.ts
  packages/backend/src/routing/tier-auto-assign.service.ts
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: backend, frontend

fix: reduce TypeORM pool size from 20 to 5 per replica
  .changeset/better-papayas-tie.md
  packages/backend/src/database/database.module.ts
Due: backend

fix: reduce TypeORM pool size from 20 to 5 per replica
  .changeset/famous-colts-sleep.md
  packages/backend/src/database/database.module.ts
Due: backend

fix: fall back to static labels when display_name is empty
  packages/backend/src/model-prices/model-prices.service.spec.ts
  packages/backend/src/model-prices/model-prices.service.ts
  packages/backend/src/routing/routing.controller.ts
  packages/frontend/src/components/ModelPickerModal.tsx
Due: backend, frontend

chore: add changeset for display name fallback fix
  .changeset/fix-display-name-fallback.md
Due: none

perf: optimize 3 slow API endpoints (agents, tiers, overview)
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/backend/src/routing/tier-auto-assign.service.spec.ts
  packages/backend/src/routing/tier-auto-assign.service.ts
Due: backend

chore: add changeset for slow endpoint optimizations
  .changeset/optimize-slow-endpoints.md
Due: none

test: cover getAgentList leftJoin fallback when tenantId is null
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
Due: backend

fix: create canonical models in local mode and improve routing UX
  .changeset/fix-local-models-and-routing-ux.md
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/pages/Routing.tsx
Due: backend, frontend

perf: progressive rendering for Routing page skeleton
  .changeset/progressive-routing-skeleton.md
  packages/frontend/src/pages/Routing.tsx
Due: frontend

chore: drop 4 unused indexes on write-only OTLP tables
  .changeset/drop-unused-indexes.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1772960000000-DropUnusedIndexes.spec.ts
  packages/backend/src/database/migrations/1772960000000-DropUnusedIndexes.ts
  packages/backend/src/entities/agent-log.entity.ts
  packages/backend/src/entities/cost-snapshot.entity.ts
  packages/backend/src/entities/token-usage-snapshot.entity.ts
  packages/backend/src/entities/tool-execution.entity.ts
Due: backend

fix: add migration to backfill tenant_id on agent_messages
  .changeset/backfill-tenant-id-migration.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1772948502780-BackfillTenantId.spec.ts
  packages/backend/src/database/migrations/1772948502780-BackfillTenantId.ts
Due: backend

fix: restrict routing model picker to curated models only
  .changeset/fix-routing-model-picker.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1772960000000-PurgeNonCuratedModels.spec.ts
  packages/backend/src/database/migrations/1772960000000-PurgeNonCuratedModels.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
Due: backend

chore: align codecov ignore patterns with jest coverage exclusions
  codecov.yml
Due: none

test: cover non-Error branch in OpenRouter copy catch block
  codecov.yml
  packages/backend/src/database/pricing-sync.service.spec.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
