Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

Add Grok subscription usage limits
  packages/backend/src/routing/subscription-usage.service.spec.ts
  packages/backend/src/routing/subscription-usage.service.ts
Due: backend

fix: harden request validation, OAuth, CSP; patch dep CVEs
  package-lock.json
  package.json
  packages/backend/src/common/middleware/rate-limit-log.spec.ts
  packages/backend/src/common/middleware/rate-limit-log.ts
  packages/backend/src/cors-csp-config.spec.ts
  packages/backend/src/cors-csp-config.ts
  packages/backend/src/main.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.edge.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
  packages/backend/src/routing/oauth/core/redirect-pkce-oauth.base.callback.spec.ts
  packages/backend/src/routing/oauth/core/redirect-pkce-oauth.base.spec.ts
  packages/backend/src/routing/oauth/core/redirect-pkce-oauth.base.ts
  packages/backend/test/helpers.ts
  packages/backend/test/setup.e2e-spec.ts
  packages/frontend/package.json
Due: backend

fix: align CSP e2e test with production frame-ancestors parsing
  packages/backend/test/csp.e2e-spec.ts
Due: none

fix: harden Auto-fix reliability and healing edge cases
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing.module.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/tests/components/MessageDetails.autofix.test.tsx
Due: backend, frontend

feat: link auto-fixed messages to their Phoenix heal ids
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1799000200000-AddAutofixPhoenixIds.spec.ts
  packages/backend/src/database/migrations/1799000200000-AddAutofixPhoenixIds.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/tests/components/MessageDetails.autofix.test.tsx
Due: backend, frontend

feat: publish custom provider usage in public stats
  .changeset/custom-provider-public-stats.md
  packages/backend/src/public-stats/public-stats.service.pricing-edges.spec.ts
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/backend/src/public-stats/public-stats.service.ts
  packages/backend/test/public-stats.e2e-spec.ts
Due: backend

fix: address review feedback
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/backend/src/public-stats/public-stats.service.ts
Due: backend

fix: retry auto-fix to the budget, reporting each failed heal
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
Due: backend

feat: add shared plan limits for billing
  packages/shared/__tests__/plan-limits.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/plan-limits.ts
Due: none

feat: wire @better-auth/stripe plugin behind billing config
  package-lock.json
  packages/backend/package.json
  packages/backend/src/auth/auth.instance.spec.ts
  packages/backend/src/auth/auth.instance.ts
  packages/backend/src/billing/billing.config.spec.ts
  packages/backend/src/billing/billing.config.ts
  packages/frontend/package.json
Due: backend

feat: add tenants.limit_overrides column
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1798100000000-AddTenantLimitOverrides.spec.ts
  packages/backend/src/database/migrations/1798100000000-AddTenantLimitOverrides.ts
  packages/backend/src/entities/tenant.entity.spec.ts
  packages/backend/src/entities/tenant.entity.ts
Due: backend

feat: add PlanService with plan lookup and limit resolution
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
Due: backend

feat: add billing status endpoint
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/app.module.ts
  packages/backend/src/billing/billing.controller.spec.ts
  packages/backend/src/billing/billing.controller.ts
  packages/backend/src/billing/billing.module.ts
Due: backend

feat: gate agent creation by plan limit
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/test/billing-agent-limit.e2e-spec.ts
Due: backend

refactor: Auto-fix tries once, drop the retry-count setting
  packages/backend/src/database/migrations/1799000000000-AddAutofixAgentFlags.spec.ts
  packages/backend/src/database/migrations/1799000000000-AddAutofixAgentFlags.ts
  packages/backend/src/entities/agent.entity.ts
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/autofix.types.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
  packages/frontend/src/pages/RoutingAutofixSection.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingAutofixSection.test.tsx
  packages/frontend/tests/services/api/routing-extra.test.ts
Due: backend, frontend

docs: document Auto-fix and Phoenix healing in CLAUDE.md
  CLAUDE.md
Due: none

fix: drop unsigned Anthropic thinking blocks
  .changeset/anthropic-thinking-signature.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
Due: backend

fix: drop empty unsigned thinking turns
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
Due: backend

test: cover sanitized thinking replay branches
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
Due: backend

fix: log an unhealed Auto-fix failure once, not twice
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

fix: make Auto-fix safe when the healer is absent or down
  CLAUDE.md
  packages/backend/src/routing/autofix/__tests__/autofix.module.spec.ts
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/__tests__/noop-healing-client.spec.ts
  packages/backend/src/routing/autofix/autofix.module.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/noop-healing-client.ts
Due: backend

feat: add billing API client and stripe auth-client plugin
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/services/api/billing.ts
  packages/frontend/src/services/auth-client.ts
  packages/frontend/tests/services/api/billing.test.ts
  packages/frontend/tests/services/auth-client.test.ts
Due: frontend

feat: add billing section to account page
  packages/frontend/src/pages/Account.tsx
  packages/frontend/tests/pages/Account.test.tsx
Due: frontend

fix: surface billing action failures with an error toast
  packages/frontend/src/pages/Account.tsx
  packages/frontend/tests/pages/Account.test.tsx
Due: frontend

feat: show upgrade paywall in agent creation modals
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/src/components/DuplicateAgentModal.tsx
  packages/frontend/src/components/UpgradePanel.tsx
  packages/frontend/tests/components/AddAgentModal.test.tsx
  packages/frontend/tests/components/DuplicateAgentModal.test.tsx
  packages/frontend/tests/components/UpgradePanel.test.tsx
Due: frontend

docs: document stripe billing env vars
  .changeset/stripe-billing.md
  packages/backend/.env.example
Due: none

fix(autofix): align the Phoenix healing client with the live contract
  CLAUDE.md
  docs/autofix-self-healing-poc.md
  packages/backend/src/routing/autofix/__tests__/autofix.module.spec.ts
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/__tests__/http-healing-client.spec.ts
  packages/backend/src/routing/autofix/__tests__/mock-healing-client.spec.ts
  packages/backend/src/routing/autofix/__tests__/noop-healing-client.spec.ts
  packages/backend/src/routing/autofix/autofix.module.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/healing-client.ts
  packages/backend/src/routing/autofix/http-healing-client.ts
  packages/backend/src/routing/autofix/phoenix.types.ts
Due: backend

fix(autofix): match Phoenix's renamed status names in the healing contract
  CLAUDE.md
  docs/autofix-self-healing-poc.md
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/__tests__/http-healing-client.spec.ts
  packages/backend/src/routing/autofix/__tests__/mock-healing-client.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/mock-healing-client.ts
  packages/backend/src/routing/autofix/phoenix.types.ts
Due: backend

chore(autofix): add Phoenix contract guardrails and a boot-time health probe
  .github/workflows/phoenix-contract-drift.yml
  CLAUDE.md
  package-lock.json
  packages/backend/package.json
  packages/backend/scripts/refresh-phoenix-contract.mjs
  packages/backend/src/routing/autofix/__tests__/autofix-health-probe.spec.ts
  packages/backend/src/routing/autofix/__tests__/phoenix-contract.spec.ts
  packages/backend/src/routing/autofix/autofix-health-probe.ts
  packages/backend/src/routing/autofix/autofix.module.ts
  packages/backend/src/routing/autofix/contract/phoenix-openapi.yaml
  packages/backend/src/routing/autofix/phoenix.types.ts
Due: backend

ci: stop no-op changesets from breaking Docker releases
  .changeset/direct-message-label.md
  .changeset/openai-sdk-shipped-modal.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CLAUDE.md
  package.json
  scripts/check-changesets.js
  scripts/check-changesets.test.js
Due: none

docs: lead with multi-provider routing, not cost savings
  .changeset/provider-connectivity-copy.md
  README.md
  docker/DOCKER_README.md
  docker/Dockerfile
  packages/frontend/index.html
Due: none

fix: enable Anthropic subscription caching
  .changeset/anthropic-subscription-cache.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

feat: show cache usage breakdown
  .changeset/cache-usage-breakdown.md
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/analytics/services/agent-analytics.service.spec.ts
  packages/backend/src/analytics/services/agent-analytics.service.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/frontend/src/components/ProviderChartCard.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/styles/cards.css
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: backend, frontend

fix: target manifest changeset
  .changeset/anthropic-subscription-cache.md
Due: none

fix: target manifest changeset
  .changeset/cache-usage-breakdown.md
Due: none

refactor: reuse cache breakdown helper
  packages/backend/src/analytics/services/aggregation.service.ts
Due: backend

test: cover cache usage fallbacks
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/services/agent-analytics.service.spec.ts
Due: backend

test: cover Anthropic cache-control guard
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
Due: backend

fix: mark Gemini subscriptions cacheable
  .changeset/gemini-subscription-cache-metadata.md
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
