Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix(proxy): avoid mistral tool call id collisions
  .changeset/few-cobras-wink.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: use manifest changeset key expected by CI
  .changeset/green-lamps-relax.md
Due: none

feat: improve Add Provider modal UX
  .changeset/bumpy-toes-try.md
  packages/frontend/src/components/ProviderApiKeyTab.tsx
  packages/frontend/src/components/ProviderSubscriptionTab.tsx
  packages/frontend/src/styles/routing-providers.css
Due: frontend

fix: improve experimental disclaimer card layout and styling
  packages/frontend/src/components/ProviderSubscriptionTab.tsx
  packages/frontend/src/styles/routing-providers.css
Due: frontend

Improve Add Provider modal UX (#1189)
  .changeset/bumpy-toes-try.md
  packages/frontend/src/components/ProviderApiKeyTab.tsx
  packages/frontend/src/components/ProviderSubscriptionTab.tsx
  packages/frontend/src/styles/routing-providers.css
Due: frontend

feat: Add custom path suffix support for Custom Providers
  packages/backend/src/entities/custom-provider.entity.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: restore backwards compatibility for custom provider default path
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

feat: add path_suffix field to frontend form
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/services/api.ts
Due: frontend

feat: add path_suffix to DTO and fix asset copying
  package-lock.json
  packages/backend/src/routing/dto/custom-provider.dto.ts
  packages/openclaw-plugin/manifest-5.28.0.tgz
  packages/openclaw-plugin/public/icons/providers/moonshot.svg
  packages/openclaw-plugin/public/index.html
Due: backend

feat: add path_suffix to controller response
  packages/backend/src/routing/custom-provider.controller.ts
  packages/openclaw-plugin/manifest-5.28.0.tgz
Due: backend

feat: add configurable request timeout and fix SPA routing
  packages/backend/src/app.module.ts
  packages/backend/src/app/app.controller.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1773600000000-AddAgentRequestTimeout.ts
  packages/backend/src/entities/agent.entity.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: improve SPA fallback routing
  packages/backend/src/app/app.controller.ts
Due: backend

fix: use middleware for SPA fallback routing
  packages/backend/src/app.module.ts
  packages/backend/src/app/app.controller.ts
  packages/backend/src/app/spa-fallback.middleware.ts
Due: backend

fix: use resolveFrontendDir for SPA middleware
  packages/backend/src/app/spa-fallback.middleware.ts
Due: backend

feat: add request timeout configuration UI in Settings
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/common/dto/rename-agent.dto.ts
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/services/api.ts
Due: backend, frontend

fix: remove SPA fallback middleware causing 404
  packages/backend/src/app.module.ts
  packages/backend/src/app/app.controller.ts
  packages/backend/src/app/spa-fallback.middleware.ts
  packages/openclaw-plugin/manifest-5.28.0.tgz
  packages/openclaw-plugin/public/index.html
Due: backend

fix: remove AppController to let ServeStaticModule serve root path
  packages/backend/src/app.module.ts
  packages/backend/src/app/app.controller.ts
  packages/openclaw-plugin/manifest-5.28.0.tgz
Due: backend

proxy: add OpenAI subscription Responses tool-call support
  .changeset/six-snakes-clean.md
  packages/backend/src/routing/proxy/__tests__/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
Due: backend

fix: normalize anthropic short model ids
  packages/backend/src/common/utils/anthropic-model-id.ts
  packages/backend/src/model-prices/model-name-normalizer.spec.ts
  packages/backend/src/model-prices/model-name-normalizer.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-fallback.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

chore: add changeset for anthropic pricing fix
  .changeset/short-anthropic-pricing.md
Due: none

fix: repair changeset frontmatter
  .changeset/short-anthropic-pricing.md
Due: none

Add clawcon image
  README.md
Due: none

Add clawcon image (#1198)
  README.md
Due: none

Update README with Trendshift badge
  README.md
Due: none

fix: harden qwen provider routing
  packages/backend/src/database/migrations/1773600000000-AddProviderRegion.ts
  packages/backend/src/entities/user-provider.entity.spec.ts
  packages/backend/src/entities/user-provider.entity.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/qwen-region.spec.ts
  packages/backend/src/routing/qwen-region.ts
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/api.test.ts
Due: backend, frontend

fix: validate routing models against discovery
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
Due: backend

test: stabilize backend e2e pricing bootstrap
  .changeset/five-years-wait.md
  packages/backend/test/helpers.ts
Due: none

fix(routing): preserve active provider native models
  .changeset/soft-tips-agree.md
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
Due: backend

Update README with Trendshift badge (#1201)
  README.md
Due: none

Fix subscription disclaimer card dark mode contrast and rename to Notice
  .changeset/fix-disclaimer-dark-mode.md
  packages/frontend/src/components/ProviderSubscriptionTab.tsx
  packages/frontend/src/styles/routing-providers.css
Due: frontend

Fix subscription disclaimer card dark mode contrast and rename to Notice (#1207)
  .changeset/fix-disclaimer-dark-mode.md
  packages/frontend/src/components/ProviderSubscriptionTab.tsx
  packages/frontend/src/styles/routing-providers.css
Due: frontend

fix: address review feedback on documentation accuracy
  CLAUDE.md
  README.md
  skills/manifest/SKILL.md
Due: none

Fix SKILL.md scanner contradictions
  .changeset/fix-skill-scanner.md
  skills/manifest/SKILL.md
Due: none

Rewrite SKILL.md TL;DR to eliminate privacy contradiction
  .changeset/fix-tldr-contradiction.md
  skills/manifest/SKILL.md
Due: none

Slim down SKILL.md to essential setup and usage info
  .changeset/slim-skill-md.md
  skills/manifest/SKILL.md
Due: none

Update SKILL.md description, features, and provider categories
  skills/manifest/SKILL.md
Due: none

Revert SKILL.md to full version, update description and fix metadata
  skills/manifest/SKILL.md
Due: none

docs: add Discord-reported issues for triage
  .github/discord-issues/agent-zero-integration.md
  .github/discord-issues/nanogpt-subscription-provider.md
  .github/discord-issues/proxy-haiku-override.md
  .github/discord-issues/scorer-memory-plugin-inflation.md
Due: none

fix: filter phantom OpenRouter models using provider-native API registry
  .changeset/provider-model-registry.md
  packages/backend/src/model-prices/model-prices.module.ts
  packages/backend/src/model-prices/model-prices.service.spec.ts
  packages/backend/src/model-prices/model-prices.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/model-discovery/model-fallback.spec.ts
  packages/backend/src/routing/model-discovery/model-fallback.ts
  packages/backend/src/routing/model-discovery/provider-model-registry.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-registry.service.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
