Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

feat(cli): drive subscription OAuth flows from provider connect
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/oauth-connect.spec.ts
  packages/cli/src/commands/oauth-connect.ts
  packages/cli/src/commands/provider.ts
Due: none

ci: build manifest-shared before the cli job (gen + drift specs need it)
  .github/workflows/ci.yml
Due: none

feat(cli): models command for routing configuration
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/models.ts
  packages/cli/src/commands/provider.ts
  packages/cli/src/index.ts
Due: none

feat(cli): require explicit --auth-type for multi-auth providers, infer from credential source
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/provider.ts
Due: none

docs(skill): fold cold-start sim findings into mnfst-cli skill
  .claude/skills/mnfst-cli/SKILL.md
Due: none

fix(cli): collapse IEEE float noise in model prices output
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/model-prices.ts
Due: none

feat(shared,cli): platform API-surface map in manifest-shared, CLI platform catalog generated from it
  packages/cli/scripts/generate-provider-catalog.cjs
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/provider-catalog.gen.ts
  packages/shared/__tests__/agent-type-surfaces.spec.ts
  packages/shared/src/agent-type.ts
  packages/shared/src/index.ts
Due: none

docs: mnfst-cli skill — agent-facing operating guide, sim-tested
  .claude/skills/mnfst-cli/SKILL.md
Due: none

feat(cli): anonymous per-command usage telemetry, opt-out via MANIFEST_TELEMETRY_DISABLED
  packages/cli/src/index.spec.ts
  packages/cli/src/index.ts
  packages/cli/src/telemetry.spec.ts
  packages/cli/src/telemetry.ts
  packages/cli/test/helpers.ts
Due: none

refactor(cli): move enable/disable under agent provider (namespace = scope)
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/provider.ts
  packages/cli/src/index.ts
Due: none

feat(cli): routing test speaks the agent platform surface (wingman-style impersonation)
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/index.ts
Due: none

feat(cli): cover n8n and Codex — Responses surface and setup snippets
  package-lock.json
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/cli/scripts/generate-provider-catalog.cjs
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/index.ts
  packages/cli/src/provider-catalog.gen.ts
  packages/frontend/src/components/CodexSetup.tsx
  packages/shared/__tests__/agent-type-surfaces.spec.ts
  packages/shared/__tests__/setup-snippets.spec.ts
  packages/shared/src/agent-type.ts
  packages/shared/src/index.ts
  packages/shared/src/setup-snippets.ts
Due: backend, frontend

chore: declare cli prettier dep, correct stale messages-surface doc claim
  CLAUDE.md
  packages/cli/package.json
Due: none

feat(cli): add doctor, provider refresh, model prices, and model validation parity
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/configure.ts
  packages/cli/src/commands/doctor.ts
  packages/cli/src/commands/model-check.ts
  packages/cli/src/commands/model-prices.ts
  packages/cli/src/commands/provider.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/index.ts
Due: none

fix(cli): replace polynomial edge-hyphen trim regex with positional trim
  packages/cli/src/slug.ts
Due: none

feat(cli): replace call with routing test, a loud end-to-end route verifier
  packages/cli/src/commands/call.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/index.ts
Due: none

feat(cli): ship the agent skill with the CLI and detect the agent running it
  .github/workflows/ci.yml
  packages/cli/package.json
  packages/cli/scripts/generate-skill-content.cjs
  packages/cli/src/agent-runtime.ts
  packages/cli/src/commands/auth.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/doctor.ts
  packages/cli/src/commands/skill.ts
  packages/cli/src/index.ts
  packages/cli/src/skill-content.gen.ts
  packages/cli/src/skill-content.spec.ts
  packages/cli/src/telemetry.spec.ts
  packages/cli/src/telemetry.ts
Due: none

feat(cli): per-agent provider enable/disable and custom provider registration
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/custom-provider.ts
  packages/cli/src/commands/provider.ts
  packages/cli/src/index.ts
Due: none

fix(cli): final-review wave — routing, catalog drift, key placeholder, oauth cadence
  .github/workflows/ci.yml
  .gitignore
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
  packages/cli/README.md
  packages/cli/scripts/generate-provider-catalog.cjs
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/custom-provider.ts
  packages/cli/src/commands/oauth-connect.spec.ts
  packages/cli/src/commands/oauth-connect.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/index.spec.ts
  packages/cli/src/index.ts
  packages/cli/src/provider-catalog.gen.ts
  packages/cli/src/provider-catalog.spec.ts
  packages/cli/src/telemetry.spec.ts
  packages/cli/src/telemetry.ts
Due: backend

feat(shared,cli): platform setup snippets in manifest-shared, served by agent create and agent setup
  packages/cli/scripts/generate-provider-catalog.cjs
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/index.ts
  packages/cli/src/provider-catalog.gen.ts
  packages/frontend/src/services/framework-snippets.ts
  packages/shared/__tests__/setup-snippets.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/setup-snippets.ts
Due: frontend

feat(cli): agent env emits dotenv/shell wiring lines
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/index.ts
Due: none

docs(skill): point the mnfst-cli gotchas at doctor, provider refresh, and model prices
  .claude/skills/mnfst-cli/SKILL.md
Due: none

feat(auth): PKCE for CLI browser login and an absolute token lifetime
  packages/backend/.env.example
  packages/backend/src/auth/cli-auth.controller.spec.ts
  packages/backend/src/auth/cli-auth.controller.ts
  packages/backend/src/auth/cli-auth.service.spec.ts
  packages/backend/src/auth/cli-auth.service.ts
  packages/backend/src/common/guards/api-key.guard.spec.ts
  packages/backend/src/common/guards/api-key.guard.ts
  packages/backend/src/config/app.config.spec.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801730000000-AddCliAuthCodeChallenge.spec.ts
  packages/backend/src/database/migrations/1801730000000-AddCliAuthCodeChallenge.ts
  packages/backend/src/database/migrations/1801740000000-AddApiKeyAbsoluteExpiresAt.spec.ts
  packages/backend/src/database/migrations/1801740000000-AddApiKeyAbsoluteExpiresAt.ts
  packages/backend/src/entities/api-key.entity.ts
  packages/backend/src/entities/cli-auth-code.entity.ts
  packages/backend/test/cli-auth.e2e-spec.ts
  packages/cli/src/oauth-login.spec.ts
  packages/cli/src/oauth-login.ts
  packages/frontend/src/pages/CliAuth.tsx
  packages/frontend/tests/pages/CliAuth.test.tsx
Due: backend, frontend

fix(cli): complete package-lock for the mnfst-cli workspace
  package-lock.json
Due: none

revert: drop harness overview paint decoupling, keep backend dedup
  .changeset/harness-overview-perf.md
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

fix: address review findings on the CLI, auth, and secret handling
  packages/backend/src/auth/cli-auth.controller.ts
  packages/backend/src/common/guards/api-key.guard.spec.ts
  packages/backend/src/common/guards/api-key.guard.ts
  packages/backend/src/database/migrations/1801710000000-CreateCliAuthCodes.spec.ts
  packages/backend/src/database/migrations/1801710000000-CreateCliAuthCodes.ts
  packages/backend/src/entities/cli-auth-code.entity.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/cli/README.md
  packages/cli/src/client.ts
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/auth.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/configure.ts
  packages/cli/src/commands/doctor.ts
  packages/cli/src/commands/requests.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/context.ts
  packages/cli/src/keystore.ts
  packages/cli/src/oauth-login.ts
  packages/cli/src/secrets.spec.ts
  packages/cli/src/secrets.ts
  packages/frontend/src/pages/CliAuth.tsx
  packages/frontend/tests/pages/CliAuth.test.tsx
Due: backend, frontend

refactor: drop orphaned disposition totals method, tighten scan tests
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/request-volume.service.spec.ts
  packages/backend/src/analytics/services/request-volume.service.ts
Due: backend

test: assert single scan in the no-agent disposition case
  packages/backend/src/analytics/services/request-volume.service.spec.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
