Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
    patch:
      default:
        target: auto
flags:
  backend:
    paths:
      - packages/backend/src/
    carryforward: true
  frontend:
    paths:
      - packages/frontend/src/
    carryforward: true
  plugin:
    paths:
      - packages/openclaw-plugin/src/
    carryforward: true
comment:
  layout: "reach,diff,flags"

fix: harden local mode security (guard, secrets, permissions, WAL)
  packages/backend/src/auth/auth.instance.ts
  packages/backend/src/auth/local-auth.guard.spec.ts
  packages/backend/src/auth/local-auth.guard.ts
  packages/backend/src/common/constants/local-mode.constants.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/main.ts
  packages/manifest-server/src/index.ts
  packages/openclaw-plugin/src/local-mode.ts
Due: backend, plugin

chore: add changeset for local mode, document release workflow
  .changeset/local-mode-and-server-rename.md
  CLAUDE.md
  CONTRIBUTING.md
Due: none

fix: restore CORS any-port regex and entity NOW() defaults
  packages/backend/src/entities/agent-api-key.entity.ts
  packages/backend/src/entities/agent.entity.ts
  packages/backend/src/entities/api-key.entity.ts
  packages/backend/src/entities/notification-log.entity.ts
  packages/backend/src/entities/notification-rule.entity.ts
  packages/backend/src/entities/tenant.entity.ts
  packages/backend/src/main.ts
Due: backend

feat: show info banner for email notifications in local mode
  packages/frontend/src/pages/Notifications.tsx
Due: frontend

fix: rename server package to @mnfst/server
  .changeset/README.md
  .changeset/config.json
  .changeset/local-mode-and-server-rename.md
  CLAUDE.md
  CONTRIBUTING.md
  package-lock.json
  packages/manifest-server/package.json
  packages/openclaw-plugin/build.ts
  packages/openclaw-plugin/src/local-mode.ts
Due: plugin

feat: improve routing UI — unified card design, scoped model list, auto tag
  packages/backend/src/auth/auth.instance.ts
  packages/backend/src/routing/routing.controller.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/styles/routing.css
Due: backend, frontend

feat: display friendly model names and add fuzzy label matching
  packages/frontend/src/services/providers.ts
Due: frontend

feat: show all provider models in routing model picker
  packages/frontend/src/pages/Routing.tsx
Due: frontend

fix: resolve provider icon and label for Kimi/Moonshot models
  packages/frontend/src/pages/Routing.tsx
Due: frontend

fix: add provider alias map for DB-to-frontend name mismatches
  packages/frontend/src/pages/Routing.tsx
Due: frontend

fix: provider alias mapping for pricing and always show provider icon
  packages/backend/src/routing/provider-aliases.ts
  packages/backend/src/routing/routing.controller.ts
  packages/backend/src/routing/tier-auto-assign.service.ts
  packages/frontend/src/pages/Routing.tsx
Due: backend, frontend

fix: use theme-aware background for provider logo in settings modal
  packages/frontend/src/pages/Settings.tsx
Due: frontend

fix: use dialect-aware timestamp defaults for SQLite compatibility
  packages/backend/src/common/utils/sql-dialect.spec.ts
  packages/backend/src/common/utils/sql-dialect.ts
  packages/backend/src/entities/agent-api-key.entity.ts
  packages/backend/src/entities/agent.entity.ts
  packages/backend/src/entities/api-key.entity.ts
  packages/backend/src/entities/notification-log.entity.ts
  packages/backend/src/entities/notification-rule.entity.ts
  packages/backend/src/entities/tenant.entity.ts
  packages/backend/src/notifications/services/notification-rules.service.spec.ts
  packages/backend/src/notifications/services/notification-rules.service.ts
Due: backend

fix: rework tier auto-assignment scoring to differentiate tiers
  packages/backend/src/routing/tier-auto-assign.service.spec.ts
  packages/backend/src/routing/tier-auto-assign.service.ts
Due: backend

feat: add quality_score to model pricing and rewrite tier auto-assignment
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1771800000000-AddQualityScore.ts
  packages/backend/src/entities/model-pricing.entity.ts
  packages/backend/src/routing/routing.controller.ts
  packages/backend/src/routing/tier-auto-assign.service.spec.ts
  packages/backend/src/routing/tier-auto-assign.service.ts
Due: backend

test: add unit tests for backend and frontend (components, pages, services)
  package-lock.json
  packages/backend/package.json
  packages/backend/src/common/dto/range-query.dto.spec.ts
  packages/backend/src/entities/notification-log.entity.spec.ts
  packages/backend/src/entities/notification-rule.entity.spec.ts
  packages/backend/src/entities/tenant.entity.spec.ts
  packages/backend/src/model-prices/model-prices.controller.spec.ts
  packages/backend/src/model-prices/model-prices.service.spec.ts
  packages/backend/src/notifications/dto/notification-rule.dto.spec.ts
  packages/backend/src/notifications/services/mailgun.spec.ts
  packages/backend/src/notifications/services/notification-email.service.spec.ts
  packages/backend/src/telemetry/dto/create-telemetry.dto.spec.ts
  packages/frontend/package.json
  packages/frontend/tests/components/AuthGuard.test.tsx
  packages/frontend/tests/components/AuthLayout.test.tsx
  packages/frontend/tests/components/ErrorState.test.tsx
  packages/frontend/tests/components/GuestGuard.test.tsx
  packages/frontend/tests/components/Header.test.tsx
  packages/frontend/tests/components/Help.test.tsx
  packages/frontend/tests/components/InfoTooltip.test.tsx
  packages/frontend/tests/components/NotFound.test.tsx
  packages/frontend/tests/components/Select.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/components/SocialButtons.test.tsx
  packages/frontend/tests/components/ToastContainer.test.tsx
  packages/frontend/tests/pages/Account.test.tsx
  packages/frontend/tests/pages/Login.test.tsx
  packages/frontend/tests/pages/ModelPrices.test.tsx
  packages/frontend/tests/pages/Notifications.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
  packages/frontend/tests/services/chart-utils.test.ts
  packages/frontend/tests/services/formatters.test.ts
  packages/frontend/tests/services/routing.test.ts
  packages/frontend/tests/services/sse.test.ts
  packages/frontend/tests/services/theme.test.ts
  packages/frontend/tests/services/toast-store.test.ts
  packages/frontend/vite.config.ts
Due: backend

test: add unit tests for local mode backend and frontend services
  packages/backend/package.json
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/auth/session.guard.spec.ts
  packages/backend/src/common/constants/api-key.constants.spec.ts
  packages/backend/src/common/constants/cache.constants.spec.ts
  packages/backend/src/common/constants/local-mode.constants.spec.ts
  packages/backend/src/common/decorators/public.decorator.spec.ts
  packages/backend/src/common/dto/create-agent.dto.spec.ts
  packages/backend/src/common/dto/range-query.dto.spec.ts
  packages/backend/src/common/utils/hash.util.spec.ts
  packages/backend/src/common/utils/range.util.spec.ts
  packages/backend/src/config/app.config.spec.ts
  packages/backend/src/health/health.controller.spec.ts
  packages/backend/src/model-prices/model-prices.controller.spec.ts
  packages/backend/src/model-prices/model-prices.service.spec.ts
  packages/backend/src/notifications/services/mailgun.spec.ts
  packages/backend/src/telemetry/dto/create-telemetry.dto.spec.ts
  packages/frontend/tests/services/local-mode.test.ts
  packages/frontend/tests/services/theme.test.ts
  packages/frontend/tests/services/toast-store.test.ts
  packages/frontend/vite.config.ts
Due: backend

chore: add empty changeset for test-only changes
  .changeset/plain-chicken-lead.md
Due: none

fix: use npm trusted publishing (OIDC) for release workflow
  .github/workflows/release.yml
Due: none

chore: add empty changeset for CI-only change
  .changeset/silver-ears-watch.md
Due: none

chore: add empty changeset for test-only changes
  .changeset/shiny-crews-play.md
Due: none

fix: add SeedQualityScores migration for existing databases and widen routing card header
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1771800100000-SeedQualityScores.ts
  packages/frontend/src/styles/routing.css
Due: backend, frontend

fix: exclude spec files from TypeORM entity glob in datasource
  packages/backend/src/database/datasource.ts
Due: backend

fix: silently handle 401 responses during logout instead of logging errors
  packages/frontend/src/services/api.ts
Due: frontend

chore: allow up to 1% coverage drop in Codecov project check
  codecov.yml
Due: none

fix: remove carryforward from Codecov flags for accurate combined coverage
  codecov.yml
Due: none

fix: restore registry-url for npm OIDC trusted publishing
  .changeset/plain-chicken-lead.md
  .changeset/shiny-crews-play.md
  .changeset/silver-ears-watch.md
  .github/workflows/release.yml
Due: none

fix: remove skills folder from manifest plugin package
  .changeset/remove-skills-folder.md
  packages/openclaw-plugin/package.json
  packages/openclaw-plugin/skills/manifest-analytics/SKILL.md
Due: none

feat: validate API key format per provider and remove toast border-left
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/services/providers.ts
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/toast.css
Due: frontend

chore: add changeset to publish @mnfst/server
  .changeset/publish-server-package.md
Due: none

fix: remove registry-url to allow npm OIDC auth
  .github/workflows/release.yml
Due: none

fix: use NPM_TOKEN for release workflow authentication
  .github/workflows/release.yml
Due: none

fix: replace dynamic SQL with QueryBuilder and add DTO validation on routing params
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/notifications/services/notification-rules.service.spec.ts
  packages/backend/src/notifications/services/notification-rules.service.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/routing.controller.ts
Due: backend

fix: add @IsIn() validation on messages query params (range, status, service_type)
  packages/backend/src/analytics/dto/messages-query.dto.ts
Due: backend

fix: add repository url to @mnfst/server for provenance validation
  .changeset/fix-server-repository.md
  packages/manifest-server/package.json
Due: none

feat: add pre-commit hook for secret detection
  .githooks/pre-commit
  package.json
Due: none

fix: use POSIX-compliant hyphen placement in pre-commit hook patterns
  .githooks/pre-commit
Due: none

fix: use grep -E with quantifiers in pre-commit hook for macOS compat
  .githooks/pre-commit
Due: none

fix: fix grep BRE pattern causing error on macOS in pre-commit hook
  .githooks/pre-commit
Due: none

chore: update package-lock.json from npm install
  package-lock.json
Due: none
