Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

feat: enable message recording for all existing agents
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1789300000000-EnableRecordMessagesForAll.spec.ts
  packages/backend/src/database/migrations/1789300000000-EnableRecordMessagesForAll.ts
Due: backend

feat: enable message recording for all existing agents (#1984)
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1789300000000-EnableRecordMessagesForAll.spec.ts
  packages/backend/src/database/migrations/1789300000000-EnableRecordMessagesForAll.ts
Due: backend

feat: add quick "add key" button on connected providers
  packages/frontend/src/components/ProviderApiKeyTab.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/components/ProviderSubscriptionTab.tsx
  packages/frontend/src/styles/routing-providers.css
Due: frontend

fix: stop recording Railway proxy noise on every message
  .changeset/filter-railway-noise-headers.md
  packages/backend/src/routing/proxy/request-headers.spec.ts
  packages/backend/src/routing/proxy/request-headers.ts
Due: backend

docs: explain why client IP headers are dropped
  packages/backend/src/routing/proxy/request-headers.ts
Due: backend

test(proxy): cover fallback on upstream 401
  packages/backend/test/proxy-fallback-auth.e2e-spec.ts
Due: none

fix(recording): render Responses input in message log
  .changeset/tender-keys-smile.md
  packages/frontend/src/components/RecordedMessageModal.tsx
  packages/frontend/tests/components/RecordedMessageModal.test.tsx
  packages/shared/__tests__/chat-message.spec.ts
  packages/shared/src/chat-message.ts
Due: frontend

feat: add info tooltips to model params groups and standardize tooltip font size
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/styles/charts.css
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/recording.css
  packages/frontend/src/styles/routing.css
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/tooltip.css
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: frontend

fix: playground UX improvements, tooltip overflow fix, font consistency
  packages/frontend/src/components/InfoTooltip.tsx
  packages/frontend/src/components/playground/PlaygroundPrompt.tsx
  packages/frontend/src/pages/Playground.tsx
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/feedback.css
  packages/frontend/src/styles/playground.css
  packages/frontend/src/styles/routing.css
  packages/frontend/src/styles/tokens.css
  packages/frontend/src/styles/tooltip.css
  packages/frontend/tests/components/InfoTooltip.test.tsx
Due: frontend

feat: add info tooltips to model params groups and standardize tooltip font size (#1993)
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/styles/charts.css
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/recording.css
  packages/frontend/src/styles/routing.css
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/tooltip.css
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: frontend

test: add coverage for PlaygroundPrompt, ProviderKeyForm add-key button
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/frontend/tests/components/playground/PlaygroundPrompt.test.tsx
Due: frontend

Fix routing UX: skeleton loaders, responsive grid, modal button gaps (#1979)
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/InfoTooltip.tsx
  packages/frontend/src/components/ProviderApiKeyTab.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/components/ProviderSubscriptionTab.tsx
  packages/frontend/src/components/playground/PlaygroundPrompt.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Playground.tsx
  packages/frontend/src/pages/RoutingPanels.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/feedback.css
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/notifications.css
  packages/frontend/src/styles/playground.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/src/styles/routing.css
  packages/frontend/src/styles/skeleton.css
  packages/frontend/src/styles/tokens.css
  packages/frontend/src/styles/tooltip.css
  packages/frontend/tests/components/InfoTooltip.test.tsx
  packages/frontend/tests/components/ProviderDetailView.test.tsx
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/frontend/tests/components/playground/PlaygroundPrompt.test.tsx
  packages/frontend/tests/pages/RoutingPanels.test.tsx
Due: frontend

fix(proxy): record Anthropic passthrough streams
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

Revert "Merge pull request #1976 from guillaumegay13/codex/model-param-descriptions"
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
Due: frontend

fix(proxy): preserve reasoning content across turns
  .changeset/reasoning-content-reinject.md
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-content-cache.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
Due: backend

fix: show recorded assistant response turns
  .changeset/message-log-assistant-response.md
  packages/frontend/src/components/RecordedMessageModal.tsx
  packages/frontend/src/components/recorded-drawer-state.ts
  packages/frontend/src/components/recorded-message-helpers.ts
  packages/frontend/tests/components/RecordedMessageModal.test.tsx
  packages/shared/__tests__/chat-message.spec.ts
  packages/shared/src/chat-message.ts
  packages/shared/src/index.ts
Due: frontend

fix(routing): collapse provider model groups
  .changeset/sharp-models-fold.md
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: frontend

Remove recorded-only messages filter
  .changeset/remove-recorded-only-filter.md
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/styles/recording.css
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

refactor(routing): share model picker icon button styles
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/styles/routing-modal.css
Due: frontend

fix setup model selector
  .changeset/calm-models-wave.md
  packages/frontend/src/components/SetupStepProviders.tsx
  packages/frontend/tests/components/SetupStepProviders.test.tsx
Due: frontend

fix(routing): add model filter spacing
  packages/frontend/src/styles/routing-modal.css
Due: frontend

fix(routing): tighten collapsed model groups
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: frontend

fix(routing): clip model picker corners
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/styles/routing-modal.css
Due: frontend

fix: remove dead modelHasParams prop from routing components
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
  packages/frontend/tests/pages/RoutingSpecificitySection.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: frontend

Add model parameter request flow (#1974)
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/ModelParamsAffordance.tsx
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
  packages/frontend/tests/pages/RoutingSpecificitySection.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: frontend

refactor(oauth): extract RedirectPkceOauthBaseService
  .changeset/puny-stars-laugh.md
  packages/backend/src/routing/oauth/openai-oauth.service.ts
  packages/backend/src/routing/oauth/redirect-pkce-oauth.base.ts
Due: backend

fix(oauth): unwrap token when refresh_token is absent
  packages/backend/src/routing/oauth/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/redirect-pkce-oauth.base.ts
Due: backend

Refresh Model parameters dialog with Apple-style layout
  .changeset/model-params-dialog-refresh.md
  package-lock.json
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
Due: frontend

fix: snap model parameter text input to slider step
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
Due: frontend

fix: use modelparams.dev parameter descriptions
  .changeset/model-param-descriptions-source.md
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
Due: frontend

fix(proxy): persist reasoning_content cache
  .changeset/shared-reasoning-content-cache.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1790100000000-AddReasoningContentCache.ts
  packages/backend/src/entities/reasoning-content-cache-entry.entity.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-content-cache.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
Due: backend

fix(proxy): guard DeepSeek image inputs
  .changeset/deepseek-image-input-guard.md
  packages/backend/src/common/errors/error-codes.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

chore: rename Alibaba provider display name to Alibaba Cloud
  README.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/shared/src/providers.ts
Due: backend

Use edit icon on routing cards and add fallback edit
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/RoutingModals.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingComplexitySection.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
Due: frontend

chore: rename Alibaba provider display name to Alibaba Cloud (#2011)
  README.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/shared/src/providers.ts
Due: backend

fix(proxy): support xAI Responses API routing
  .changeset/xai-responses-routing.md
  packages/backend/src/common/constants/xai-models.ts
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

feat: add OpenAI OAuth re-auth action
  .changeset/oauth-reauth-existing-account.md
  packages/backend/src/routing/oauth/openai-oauth.controller.ts
  packages/backend/src/routing/oauth/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/openai-oauth.service.ts
  packages/backend/src/routing/oauth/openai-oauth.types.ts
  packages/backend/src/routing/openai-oauth.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/services/api/oauth.ts
  packages/frontend/tests/components/OAuthDetailView.test.tsx
  packages/frontend/tests/services/api/oauth.test.ts
Due: backend, frontend

fix: include custom tiers in message filters
  .changeset/messages-tier-filter-custom.md
  packages/backend/src/analytics/controllers/messages.controller.spec.ts
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/api/messages.ts
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: backend, frontend

fix(routing): restore response mode control
  packages/backend/src/routing/dto/routing.dto.spec.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.ts
  packages/backend/src/routing/specificity.controller.ts
  packages/backend/src/routing/tier.controller.ts
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/OutputControls.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/services/api/header-tiers.ts
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/services/api/specificity.ts
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
  packages/frontend/tests/pages/RoutingSpecificitySection.test.tsx
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
