Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: use generic minimax key prefix validation
  .changeset/minimax-key-prefix-validation.md
  packages/frontend/src/services/providers.ts
Due: frontend

test(frontend): update minimax key prefix expectation to sk-
  packages/frontend/tests/services/providers.test.ts
Due: none

test: add coverage for tooltip hover interaction
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: none

feat: add Free Models page with provider deep-linking and logo recognition
  .changeset/add-free-models-page.md
  packages/frontend/public/icons/caret-down.svg
  packages/frontend/public/icons/cohere.svg
  packages/frontend/public/icons/free.svg
  packages/frontend/public/logo-white.svg
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/ProviderApiKeyTab.tsx
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/components/RoutingModals.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/ConnectProvider.tsx
  packages/frontend/src/pages/FreeModels.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingPanels.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/routing-params.ts
  packages/frontend/src/styles/controls.css
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/CopilotDeviceLogin.test.tsx
  packages/frontend/tests/components/CustomProviderForm.test.tsx
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/ModelPricesFilterBar.test.tsx
  packages/frontend/tests/components/ProviderSelectContent-devicelogin.test.tsx
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
  packages/frontend/tests/components/ProviderSelectModal-commandonly.test.tsx
  packages/frontend/tests/components/ProviderSelectModal-subscription.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
  packages/frontend/tests/pages/ModelPrices.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/frontend/tests/services/routing-params.test.ts
Due: frontend

fix: resolve TypeScript errors in ConnectProvider and routing-params
  packages/frontend/src/pages/ConnectProvider.tsx
  packages/frontend/src/services/routing-params.ts
Due: frontend

test: add coverage for new Free Models, ConnectProvider, and ProviderIcon features
  packages/frontend/src/pages/FreeModels.tsx
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/pages/ConnectProvider.test.tsx
  packages/frontend/tests/pages/FreeModels.test.tsx
  packages/frontend/tests/pages/Routing-prefill.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: frontend

feat: add 30d/previous-7d token data and provider-tokens public endpoint
  .changeset/public-stats-enhancements.md
  packages/backend/src/public-stats/public-stats.controller.spec.ts
  packages/backend/src/public-stats/public-stats.controller.ts
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/backend/src/public-stats/public-stats.service.ts
Due: backend

fix: preserve provider query param in /connect-provider redirect
  .changeset/fix-connect-provider-redirect.md
  packages/frontend/src/pages/ConnectProvider.tsx
  packages/frontend/tests/pages/ConnectProvider.test.tsx
Due: frontend

fix: use space-separated timestamps to match SQLite storage format
  .changeset/fix-timestamp-timezone.md
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/common/utils/sql-dialect.spec.ts
  packages/backend/src/common/utils/sql-dialect.ts
  packages/backend/src/database/seed-messages.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

fix: fill daily gaps, use UTC epochs, and add error handling to provider tokens
  packages/frontend/src/components/ProviderTokensChart.tsx
  packages/frontend/src/pages/ProviderTokens.tsx
  packages/frontend/tests/components/ProviderTokensChart.test.tsx
  packages/frontend/tests/pages/ProviderTokens.test.tsx
Due: frontend

fix(manifest-model-router): use AUTO_MODEL in provider registration and config injection
  packages/openclaw-plugins/manifest-model-router/src/auth.ts
  packages/openclaw-plugins/manifest-model-router/src/index.ts
  packages/openclaw-plugins/manifest-model-router/src/provider-inject.ts
Due: none

refactor: address code review findings for specificity routing
  packages/backend/src/routing/dto/specificity.dto.ts
  packages/backend/src/scoring/config.ts
  packages/backend/src/scoring/keywords.ts
  packages/backend/src/scoring/scan-messages.ts
  packages/shared/src/index.ts
  packages/shared/src/specificity.ts
Due: backend

test: add migration specs for specificity tables (100% patch coverage)
  packages/backend/src/database/migrations/1775200000000-AddSpecificityAssignments.spec.ts
  packages/backend/src/database/migrations/1775300000000-AddSpecificityCategory.spec.ts
Due: backend

test: add missing tests for 100% patch coverage on specificity changes
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/resolve.service.spec.ts
  packages/backend/src/routing/routing-cache.service.spec.ts
Due: backend

docs: update CLAUDE.md with specificity routing architecture and guidelines
  CLAUDE.md
Due: none

feat: redesign setup modal with toolkit tabs, agent frameworks, and syntax highlighting
  .changeset/setup-modal-redesign.md
  package-lock.json
  packages/frontend/package.json
  packages/frontend/public/icons/hermes.png
  packages/frontend/public/icons/langchain.svg
  packages/frontend/public/icons/openclaw.png
  packages/frontend/public/icons/openclaw.svg
  packages/frontend/public/icons/python.svg
  packages/frontend/public/icons/typescript.svg
  packages/frontend/public/icons/vercel.svg
  packages/frontend/src/components/CodeBlock.tsx
  packages/frontend/src/components/CopyButton.tsx
  packages/frontend/src/components/FrameworkSnippets.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/services/framework-snippets.ts
  packages/frontend/src/services/syntax-highlight.ts
  packages/frontend/src/styles/syntax-highlight.css
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/wizard.css
  packages/frontend/tests/components/CodeBlock.test.tsx
  packages/frontend/tests/components/CopyButton.test.tsx
  packages/frontend/tests/components/FrameworkSnippets.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/frontend/tests/services/framework-snippets.test.ts
  packages/frontend/tests/services/syntax-highlight.test.ts
Due: frontend

fix: disable API key copy button when key is masked in FrameworkSnippets
  packages/frontend/src/components/FrameworkSnippets.tsx
  packages/frontend/tests/components/FrameworkSnippets.test.tsx
Due: frontend

feat: add Python language toggle for Vercel AI SDK tab
  packages/frontend/src/components/FrameworkSnippets.tsx
  packages/frontend/src/services/framework-snippets.ts
  packages/frontend/tests/components/FrameworkSnippets.test.tsx
  packages/frontend/tests/services/framework-snippets.test.ts
Due: frontend

fix: address review feedback — clear stale platform, fix save validation
  packages/frontend/src/components/AgentGuard.tsx
  packages/frontend/src/pages/Settings.tsx
Due: frontend

test: add authMethod assertion to LocalAuthGuard test
  packages/backend/src/auth/local-auth.guard.spec.ts
Due: backend

fix: restore toggle button click handler alongside row click
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
Due: frontend

feat: redesign setup modal UX — tab-style type selection, platform-specific instructions, Settings change modal
  .changeset/setup-modal-redesign.md
  packages/frontend/public/icons/other-agent.svg
  packages/frontend/public/icons/other.svg
  packages/frontend/src/components/AgentTypePicker.tsx
  packages/frontend/src/components/FrameworkSnippets.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/HermesSetup.tsx
  packages/frontend/src/components/OpenClawSetup.tsx
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/styles/agent-type-picker.css
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/controls.css
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/syntax-highlight.css
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/wizard.css
  packages/frontend/tests/components/AgentTypePicker.test.tsx
  packages/frontend/tests/components/FrameworkSnippets.test.tsx
  packages/frontend/tests/components/HermesSetup.test.tsx
  packages/frontend/tests/components/OpenClawSetup.test.tsx
  packages/frontend/tests/components/RoutingInstructionModal.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

feat: redesign setup modal UX — tab-style type selection, platform-specific instructions, Settings change modal (#1522)
  .changeset/setup-modal-redesign.md
  packages/frontend/public/icons/other-agent.svg
  packages/frontend/public/icons/other.svg
  packages/frontend/src/components/AgentTypePicker.tsx
  packages/frontend/src/components/FrameworkSnippets.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/HermesSetup.tsx
  packages/frontend/src/components/OpenClawSetup.tsx
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/styles/agent-type-picker.css
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/controls.css
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/syntax-highlight.css
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/wizard.css
  packages/frontend/tests/components/AgentTypePicker.test.tsx
  packages/frontend/tests/components/FrameworkSnippets.test.tsx
  packages/frontend/tests/components/HermesSetup.test.tsx
  packages/frontend/tests/components/OpenClawSetup.test.tsx
  packages/frontend/tests/components/RoutingInstructionModal.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

fix: handle undefined platform fallback in category change handlers
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
Due: frontend

fix: remove regex HTML stripping flagged by CodeQL
  packages/frontend/tests/services/syntax-highlight.test.ts
Due: none
