Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

harden: user-scope custom provider lookups; clear custom-provider cache on auth change
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/components/Header.tsx
  packages/frontend/tests/services/routing.test.ts
Due: backend, frontend

docs: document subscription providers
  docs/providers/subscription-based-providers.md
Due: none

fix: post-merge compile + proxy dedup (test signatures, duplicate userId)
  packages/backend/src/model-discovery/model-discovery.service.boundary.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.edge-cases.spec.ts
  packages/backend/src/routing/header-tiers/__tests__/header-tier.service.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.spec.ts
  packages/backend/src/routing/oauth/openai-oauth.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve/__tests__/resolve.controller.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.edge.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
Due: backend

docs: clarify subscription routing eligibility
  docs/providers/subscription-based-providers.md
Due: none

feat: use providerless modelparams lookup
  .changeset/providerless-modelparams-lookup.md
  docs/model-parameters-schema.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
  packages/frontend/tests/services/api/model-params.test.ts
Due: backend

fix: use refreshed OAuth blobs for routing retries
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/oauth-credentials.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: unwrap Playground subscription OAuth tokens
  packages/backend/src/playground/playground.module.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
Due: backend

fix: preserve fallback OAuth key labels
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
Due: backend

feat: retry dead connections and trip a breaker on failing providers
  .changeset/keep-alive-pool.md
  packages/backend/src/routing/proxy/__tests__/provider-circuit-breaker.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-transport.spec.ts
  packages/backend/src/routing/proxy/provider-circuit-breaker.service.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-transport.ts
  packages/backend/src/routing/proxy/proxy.module.ts
Due: backend

fix: prevent OAuth subscription tokens from being invalidated on refresh (#2012)
  .changeset/oauth-refresh-coordinator.md
  packages/backend/src/routing/minimax-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.security.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/backend/src/routing/oauth/core/index.ts
  packages/backend/src/routing/oauth/core/oauth-refresh-coordinator.spec.ts
  packages/backend/src/routing/oauth/core/oauth-refresh-coordinator.ts
  packages/backend/src/routing/oauth/gemini-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.spec.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.ts
  packages/backend/src/routing/oauth/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/redirect-pkce-oauth.base.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.ts
  packages/backend/src/routing/openai-oauth.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

fix: address review feedback
  packages/backend/src/routing/proxy/__tests__/provider-circuit-breaker.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-transport.spec.ts
  packages/backend/src/routing/proxy/provider-circuit-breaker.service.ts
  packages/backend/src/routing/proxy/proxy-transport.ts
Due: backend

fix: restore agent providers tab
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/tests/pages/AgentDetail.test.tsx
  packages/frontend/tests/pages/AgentProviders.test.tsx
  packages/frontend/tests/services/api/routing-extra.test.ts
Due: frontend

fix: preserve per-agent provider access
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.ts
  packages/backend/src/entities/agent-provider-access.entity.ts
  packages/backend/src/model-discovery/model-discovery.module.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/agent-provider-access.controller.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/backend/src/routing/routing-core/routing-core.module.ts
  packages/backend/src/routing/routing-core/specificity.service.ts
  packages/backend/src/routing/routing.module.ts
Due: backend

fix: match subscription label case-insensitively in getFreshSubscriptionCredential
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

fix: finish provider access merge
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/frontend/tests/components/Header.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/components/TokenChart.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Playground.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingPanels.test.tsx
  packages/frontend/tests/pages/Workspace-validation.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: backend

fix: align oauth refresh with global providers
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/backend/src/routing/oauth/core/oauth-refresh-coordinator.spec.ts
  packages/backend/src/routing/oauth/core/oauth-refresh-coordinator.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.ts
  packages/backend/src/routing/oauth/redirect-pkce-oauth.base.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

test: update playground truncation spec for OAuth-aware constructor
  packages/backend/src/playground/playground.service.truncation.spec.ts
Due: backend

fix: update provider access e2e fixtures
  packages/backend/test/custom-providers.e2e-spec.ts
  packages/backend/test/custom-providers.url-validation.e2e-spec.ts
  packages/backend/test/helpers.ts
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
  packages/backend/test/multi-key-providers.e2e-spec.ts
  packages/backend/test/proxy-fallback-auth.e2e-spec.ts
  packages/backend/test/smoke-test.e2e-spec.ts
Due: none

fix: clear stale account pins on custom (header) tiers when disconnecting a provider key
  .changeset/header-tier-disconnect-cleanup.md
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/routing-core/routing-core.module.ts
Due: backend

test: cover provider overview surfaces
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/tests/components/GlobalProviderSurfaces.test.tsx
  packages/frontend/tests/pages/AgentProviders.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/services/api/analytics.test.ts
  packages/frontend/tests/services/connection-breadcrumb-store.test.ts
Due: frontend

fix: preserve migrated provider connections
  packages/backend/src/routing/user-providers.controller.spec.ts
  packages/backend/src/routing/user-providers.controller.ts
Due: backend

feat: add Xiaomi MiMo provider
  .changeset/xiaomi-mimo-provider.md
  README.md
  docs/providers/subscription-based-providers.md
  packages/backend/src/common/utils/provider-inference.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/provider-hooks.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/xiaomi-region.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/provider-utils.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/provider-inference.spec.ts
  packages/shared/__tests__/provider-params-spec.spec.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/provider-inference.ts
  packages/shared/src/providers.ts
  packages/shared/src/subscription/configs.ts
Due: backend, frontend

fix: name migrated provider connections by agent
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.ts
Due: backend

fix: harden migrated provider label collisions
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.ts
Due: backend

fix: apply MiniMax subscription region base URL in Playground (cubic P2)
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
Due: backend

chore: add changeset for Playground MiniMax region fix
  .changeset/playground-minimax-region.md
Due: none

fix: strip minimax/ prefix when forwarding through region endpoint (cubic P1)
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
Due: backend

fix: load provider modal styles on provider pages
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
Due: frontend

refactor: share proxy endpoint/model resolution with the Playground
  .changeset/shared-forward-endpoint-resolver.md
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
Due: backend

Route Copilot models by endpoint metadata
  .changeset/copilot-supported-endpoints.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fetcher.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/model-discovery/provider-model-registry.service.spec.ts
  packages/backend/src/model-discovery/provider-model-registry.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: normalize copilot reasoning streams
  .changeset/reasoning-stream-normalization.md
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
  packages/backend/src/routing/proxy/reasoning-format.ts
Due: backend

fix: guard reasoning stream paths
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/reasoning-format.ts
Due: backend

fix: avoid dynamic reasoning client writes
  packages/backend/src/routing/proxy/reasoning-format.ts
Due: backend

fix: persist Xiaomi Token Plan region
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/subscription-region.ts
Due: backend

fix: address Xiaomi provider review findings
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.ts
Due: backend

feat: messages page overhaul, harness rename, onboarding flow, empty states
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/src/components/AgentTypeSelect.tsx
  packages/frontend/src/components/DuplicateAgentModal.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/components/Select.tsx
  packages/frontend/src/components/SetupModal.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/src/pages/ConnectProvider.tsx
  packages/frontend/src/pages/FreeModels.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Playground.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
  packages/frontend/src/styles/cards.css
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

fix message detail log scoping
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.ts
Due: backend

fix oauth callback state ownership
  packages/backend/src/routing/gemini-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/gemini-oauth.controller.ts
  packages/backend/src/routing/oauth/openai-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/openai-oauth.controller.ts
  packages/backend/src/routing/oauth/redirect-pkce-oauth.base.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.controller.ts
  packages/backend/src/routing/openai-oauth.controller.spec.ts
  packages/backend/src/routing/openai-oauth.service.spec.ts
Due: backend

fix gcm authentication tag validation
  packages/backend/src/common/utils/crypto.util.spec.ts
  packages/backend/src/common/utils/crypto.util.ts
Due: backend

fix: overview provider display, BYOK custom button, input focus bug
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/providers/Byok.tsx
Due: frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
