Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

feat: sync manifest subscription model lists (2026-06-13)
  packages/shared/src/subscription/configs.ts
Due: none

feat: sync manifest subscription model lists (2026-06-14)
  packages/shared/src/subscription/configs.ts
Due: none

fix: stop provider keys leaking into Playground history
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.truncation.spec.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/agent-enabled-providers.controller.spec.ts
  packages/backend/src/routing/agent-enabled-providers.controller.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/frontend/src/components/playground/MarkdownContent.tsx
  packages/frontend/tests/components/MarkdownContent.test.tsx
Due: backend, frontend

fix: fail closed on custom-provider lookup when userId is absent
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
Due: backend

fix: address review feedback
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
Due: backend

fix: scope message logs to tenant and harden dashboard reliability
  .changeset/tenant-scope-dashboard-hardening.md
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/common/dto/duplicate-agent.dto.spec.ts
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/routing-core/__tests__/specificity.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/specificity.service.ts
  packages/backend/src/routing/routing-core/tier.service.ts
  packages/frontend/src/components/AgentGuard.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: backend, frontend

test: assert cache invalidation in tier override conflict-retry
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
Due: backend

feat: sync manifest subscription model lists (2026-06-15)
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

chore: refresh CLAUDE.md to match current codebase
  CLAUDE.md
Due: none

test: report e2e coverage to Codecov and close coverage gaps
  packages/backend/src/common/constants/subscription-clients.spec.ts
  packages/backend/src/common/constants/subscription-clients.ts
  packages/backend/src/common/utils/crypto.util.cache.spec.ts
  packages/backend/src/common/utils/crypto.util.spec.ts
  packages/backend/src/free-models/free-models-sync.service.spec.ts
  packages/backend/src/model-discovery/model-capabilities.spec.ts
  packages/backend/src/model-prices/model-name-normalizer.spec.ts
  packages/backend/src/notifications/dto/set-email-provider.dto.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/routing/agent-enabled-providers.controller.spec.ts
  packages/backend/src/routing/dto/routing.dto.spec.ts
  packages/backend/src/routing/dto/specificity.dto.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.ts
  packages/backend/src/routing/oauth/codeassist-client.service.spec.ts
  packages/backend/src/routing/oauth/kiro-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/minimax-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.spec.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.spec.ts
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.coverage.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.region.spec.ts
  packages/backend/src/routing/routing-core/__tests__/route-helpers.spec.ts
  packages/backend/src/routing/routing-core/__tests__/specificity.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
  packages/backend/src/routing/specificity.controller.spec.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/scoring/__tests__/score-request-advanced.spec.ts
  packages/backend/test/jest-e2e.json
  packages/shared/__tests__/model-params-scope.spec.ts
Due: backend

fix: address review feedback
  packages/backend/src/routing/dto/routing.dto.spec.ts
  packages/backend/src/routing/dto/specificity.dto.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.spec.ts
Due: backend

fix: stop "Tenant not found" on first provider connect
  .changeset/first-run-tenant-resolution.md
  packages/backend/src/common/services/tenant-cache.service.spec.ts
  packages/backend/src/common/services/tenant-cache.service.ts
  packages/backend/src/common/utils/db-retry.spec.ts
  packages/backend/src/common/utils/db-retry.ts
  packages/backend/src/common/utils/ttl-fifo-cache.spec.ts
  packages/backend/src/common/utils/ttl-fifo-cache.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/main.ts
Due: backend

fix: address review feedback
  packages/backend/src/common/utils/db-retry.spec.ts
  packages/backend/src/common/utils/db-retry.ts
Due: backend

fix: support recent Claude Code Anthropic requests
  .changeset/claude-code-subscription-compat.md
  packages/backend/src/common/constants/subscription-clients.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.headers.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: support Kiro IAM Identity Center login
  .changeset/kiro-identity-center.md
  packages/backend/src/routing/kiro-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/kiro-oauth.controller.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.ts
  packages/backend/src/routing/oauth/kiro-oidc.ts
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/services/api/oauth.ts
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
  packages/frontend/tests/services/api/oauth.test.ts
  packages/frontend/tests/services/providers.test.ts
Due: backend, frontend

test: update device-code OAuth expectations
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: none

test: cover Kiro identity center validation
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
Due: none

fix: address Kiro OAuth review feedback
  packages/backend/src/routing/kiro-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/kiro-oauth.controller.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro-oidc.ts
Due: backend

fix: simplify Kiro identity center options
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
Due: frontend

fix: make Kiro region choices explicit
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
Due: frontend

fix: use Manifest select for Kiro region
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
Due: frontend

feat: add AWS Bedrock provider
  .changeset/bedrock-provider.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/routing/bedrock-region.spec.ts
  packages/backend/src/routing/bedrock-region.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/provider-inference.spec.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/provider-inference.ts
  packages/shared/src/providers.ts
Due: backend, frontend

fix: simplify Kiro region entry
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
Due: frontend

fix: scrub provider credentials from the primary-failure error log
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

ci: report merged backend unit+e2e coverage to Codecov
  .github/workflows/ci.yml
  packages/backend/test/jest-e2e.json
Due: none

test: cover the provider connection pages and connection breadcrumb
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/tests/components/Header.test.tsx
  packages/frontend/tests/components/NoConnectionsPrompt.test.tsx
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Playground.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
  packages/frontend/tests/services/connection-breadcrumb-store.test.ts
Due: frontend

fix: restore full Kiro region dropdown
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/components/Select.tsx
  packages/frontend/src/styles/custom-select.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
  packages/frontend/tests/components/Select.test.tsx
Due: frontend

fix: link Kiro region select errors
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/components/Select.tsx
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
  packages/frontend/tests/components/Select.test.tsx
Due: frontend

fix: complete Bedrock provider metadata
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/__tests__/bedrock-fixtures.ts
  packages/backend/src/routing/bedrock-region.spec.ts
  packages/backend/src/routing/bedrock-region.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/frontend/src/pages/Playground.tsx
  packages/frontend/src/services/provider-utils.ts
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/provider-inference.spec.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/provider-inference.ts
  packages/shared/src/providers.ts
Due: backend, frontend

ci: pre-merge backend unit+e2e coverage into one Codecov report
  .github/workflows/ci.yml
  packages/backend/scripts/merge-lcov.js
Due: none

ci: upload unit-only backend coverage to Codecov
  .github/workflows/ci.yml
  packages/backend/scripts/merge-lcov.js
Due: none

chore: format model picker test
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: none

fix: label Kimi Coding Plan as K2.7 Code
  .changeset/kimi-k27-code-label.md
  README.md
  docs/providers/subscription-based-providers.md
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/subscription/configs.ts
  packages/shared/src/subscription/helpers.ts
  packages/shared/src/subscription/index.ts
  packages/shared/src/subscription/types.ts
Due: backend

test: cover Kimi display-name fallback
  packages/shared/__tests__/subscription.spec.ts
Due: none

fix: clarify Xiaomi Basic API key setup
  .changeset/xiaomi-basic-api-key.md
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/providers.ts
Due: frontend

perf: run agent-message attribution backfill out of the boot transaction
  .changeset/tenant-refactor-deploy-safety.md
  packages/backend/package.json
  packages/backend/src/database/backfills/backfill-message-providers.cli.spec.ts
  packages/backend/src/database/backfills/backfill-message-providers.cli.ts
  packages/backend/src/database/backfills/backfill-message-providers.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-message-providers.gateway.ts
  packages/backend/src/database/backfills/backfill-message-providers.spec.ts
  packages/backend/src/database/backfills/backfill-message-providers.ts
  packages/backend/src/database/migrations/1792000000000-AddUserProviderIdToAgentMessages.spec.ts
  packages/backend/src/database/migrations/1792000000000-AddUserProviderIdToAgentMessages.ts
Due: backend

fix: skip deleted agents in provider lift so the upgrade can't abort
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.ts
Due: backend

feat: auto-run the agent-message backfill once after deploy
  packages/backend/src/app.module.ts
  packages/backend/src/database/backfills/backfill.module.ts
  packages/backend/src/database/backfills/message-provider-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/message-provider-backfill.boot.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1792800000000-AddBackfillStateTable.spec.ts
  packages/backend/src/database/migrations/1792800000000-AddBackfillStateTable.ts
  packages/backend/src/entities/backfill-state.entity.ts
  packages/backend/test/helpers.ts
Due: backend

feat: sync manifest subscription model lists (2026-06-16)
  packages/shared/src/subscription/configs.ts
Due: none
