Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

feat(providers): LM Studio edit mode, empty-models state, and tutorial videos
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/custom-provider/probe-error.ts
  packages/frontend/public/icons/lmstudio-load-models.mp4
  packages/frontend/public/icons/lmstudio-start-server.mp4
  packages/frontend/src/components/LocalServerDetailView.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/LocalServerDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
  packages/shared/src/providers.ts
Due: backend, frontend

fix(security): recognize Docker ULA IPv6 addresses as private
  packages/backend/src/common/utils/url-validation.spec.ts
  packages/backend/src/common/utils/url-validation.ts
Due: backend

test: use generic ULA address in IPv6 private range test
  packages/backend/src/common/utils/url-validation.spec.ts
Due: backend

fix(providers): redesign Docker failure state for LM Studio
  packages/frontend/src/components/LocalServerDetailView.tsx
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/tests/components/LocalServerDetailView.test.tsx
Due: frontend

feat: redesign custom tiers UI, add manage modal, unify design system
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1777100000000-AddHeaderTierEnabled.ts
  packages/backend/src/entities/header-tier.entity.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.ts
  packages/backend/src/routing/header-tiers/header-tier.service.ts
  packages/backend/src/routing/resolve/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/frontend/src/components/CopilotDeviceLogin.tsx
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/HeaderTierModal.tsx
  packages/frontend/src/components/HeaderTierSnippetModal.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/services/api/header-tiers.ts
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/routing-header-tiers.css
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/wizard.css
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/ProviderSelectContent-deeplink.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
  packages/frontend/tests/pages/RoutingSpecificitySection.test.tsx
  packages/shared/src/tier-colors.ts
Due: backend, frontend

fix: restore multi-account test coverage
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/routing/openai-oauth.service.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/resolve/resolve.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.spec.ts
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/frontend/tests/services/api.test.ts
  packages/frontend/tests/services/display-name.test.ts
  packages/frontend/tests/setup.ts
  packages/frontend/vite.config.ts
  packages/shared/src/providers.ts
Due: backend

feat(providers): support Anthropic-compatible custom providers
  .changeset/anthropic-compatible-custom-providers.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1777100000000-AddCustomProviderApiKind.spec.ts
  packages/backend/src/database/migrations/1777100000000-AddCustomProviderApiKind.ts
  packages/backend/src/entities/custom-provider.entity.ts
  packages/backend/src/routing/custom-provider.controller.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.controller.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/dto/custom-provider.dto.spec.ts
  packages/backend/src/routing/dto/custom-provider.dto.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/test/custom-providers.e2e-spec.ts
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/CustomProviderForm.test.tsx
Due: backend, frontend

test(benchmark): cover controller, api client, page, and helpers
  packages/backend/src/benchmark/benchmark.controller.spec.ts
  packages/frontend/src/pages/Benchmark.tsx
  packages/frontend/src/services/benchmark-helpers.ts
  packages/frontend/tests/pages/Benchmark.test.tsx
  packages/frontend/tests/services/api-benchmark.test.ts
  packages/frontend/tests/services/benchmark-helpers.test.ts
Due: backend, frontend

test(benchmark): cover remaining components, service branches, and store retry/pickDefaults paths
  packages/backend/src/benchmark/benchmark.service.spec.ts
  packages/frontend/tests/components/BenchmarkColumn.test.tsx
  packages/frontend/tests/components/BenchmarkEmptyState.test.tsx
  packages/frontend/tests/components/BenchmarkModelPicker.test.tsx
  packages/frontend/tests/components/BenchmarkPrompt.test.tsx
  packages/frontend/tests/services/benchmark-store.test.ts
Due: backend

feat(benchmark): replay a recorded query across alternate models
  packages/backend/src/benchmark/benchmark.service.spec.ts
  packages/backend/src/benchmark/benchmark.service.ts
  packages/backend/src/benchmark/dto/run-benchmark.dto.ts
  packages/frontend/src/components/benchmark/BenchmarkColumn.tsx
  packages/frontend/src/components/benchmark/BenchmarkPrompt.tsx
  packages/frontend/src/components/benchmark/BenchmarkSummaryTable.tsx
  packages/frontend/src/components/benchmark/ReplayPickerDrawer.tsx
  packages/frontend/src/components/benchmark/icons.tsx
  packages/frontend/src/pages/Benchmark.tsx
  packages/frontend/src/services/api/benchmark.ts
  packages/frontend/src/services/benchmark-helpers.ts
  packages/frontend/src/services/benchmark-store.ts
  packages/frontend/src/services/recording-extract.ts
  packages/frontend/src/styles/benchmark.css
  packages/frontend/tests/services/benchmark-store.test.ts
  packages/frontend/tests/services/recording-extract.test.ts
Due: backend, frontend

test(benchmark): cover replay drawer, original column, replay banner, signed deltas
  packages/frontend/tests/components/BenchmarkColumn.test.tsx
  packages/frontend/tests/components/BenchmarkPrompt.test.tsx
  packages/frontend/tests/components/BenchmarkSummaryTable.test.tsx
  packages/frontend/tests/components/ReplayPickerDrawer.test.tsx
Due: none

test(benchmark): cover recording pick flow + disabled replay button state
  packages/frontend/tests/pages/Benchmark.test.tsx
Due: none

test(benchmark): exercise history-load error toast, handlePickModel, and recording-without-body path
  packages/frontend/tests/pages/Benchmark.test.tsx
Due: none

test(benchmark): exercise column callbacks and headers popover toggle
  packages/frontend/tests/pages/Benchmark.test.tsx
Due: none

test(benchmark): fire header popover onChange + onClose for coverage
  packages/frontend/tests/pages/Benchmark.test.tsx
Due: none

fix: rename capability tiers to specificity tiers, add test coverage
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/tests/components/ProviderDetailView.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
  packages/frontend/tests/pages/RoutingSpecificitySection.test.tsx
  packages/frontend/tests/services/api-extra.test.ts
Due: frontend

fix: improve test coverage for ProviderDetailView, providers, routing API
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderDetailView.test.tsx
  packages/frontend/tests/services/api-extra.test.ts
  packages/frontend/tests/services/providers.test.ts
Due: frontend

fix: achieve 100% coverage for header tier files
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/tests/components/HeaderTierModal.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
  packages/frontend/tests/services/header-tiers-api.test.ts
Due: frontend

feat(routing): tabbed routing page with pipeline help modal
  packages/frontend/src/components/RoutingPipelineCard.tsx
  packages/frontend/src/components/RoutingTabs.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingComplexitySection.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingPanels.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/styles/layout.css
  packages/frontend/src/styles/routing-header-tiers.css
  packages/frontend/src/styles/routing-specificity.css
  packages/frontend/src/styles/routing-tabs.css
  packages/frontend/src/styles/routing.css
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/RoutingPipelineCard.test.tsx
  packages/frontend/tests/components/RoutingTabs.test.tsx
  packages/frontend/tests/pages/Routing-complexity-integration.test.tsx
  packages/frontend/tests/pages/Routing-deeplink.test.tsx
  packages/frontend/tests/pages/Routing-prefill.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingComplexitySection.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
Due: frontend

test(frontend): cover RoutingTabs help modal and Default tab interactions
  packages/frontend/tests/components/RoutingTabs.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: none

feat(benchmark): promote 'benchmark' to a first-class message tier
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/benchmark/benchmark.service.spec.ts
  packages/backend/src/benchmark/benchmark.service.ts
  packages/backend/test/benchmark-flow.e2e-spec.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/src/styles/data.css
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/shared/src/index.ts
  packages/shared/src/tiers.ts
Due: backend, frontend

fix(benchmark): prefer native-branded picks over aggregator proxy catalogs
  packages/frontend/src/services/benchmark-store.ts
  packages/frontend/tests/services/benchmark-store.test.ts
Due: frontend

fix(routing): mirror subscription models into API keys list for shared vendor
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
Due: backend

fix(routing): show "Default tier" in model picker subtitle
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: frontend

test: cover handleLocalToggle and drop dead onOpenLocalServer branch
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/ProviderApiKeyTab.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/tests/components/ProviderApiKeyTab.test.tsx
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
Due: frontend

feat(providers): add llama.cpp tile and canonicalize tile messages
  .changeset/add-llamacpp-tile.md
  docker/DOCKER_README.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1777200000000-CanonicalizeTileProviderMessages.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/dto/custom-provider.dto.spec.ts
  packages/backend/src/routing/dto/custom-provider.dto.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/frontend/src/components/LocalServerDetailView.tsx
  packages/frontend/src/components/ProviderApiKeyTab.tsx
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/LocalServerDetailView.test.tsx
  packages/frontend/tests/components/ProviderApiKeyTab.test.tsx
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/providers.ts
Due: backend, frontend

fix: address review feedback
  packages/backend/src/database/migrations/1777200000000-BackfillLocalAuthType.spec.ts
  packages/backend/src/database/migrations/1777200000000-BackfillLocalAuthType.ts
  packages/backend/src/database/migrations/1777300000000-BackfillLocalCustomProviders.spec.ts
  packages/backend/src/database/migrations/1777300000000-BackfillLocalCustomProviders.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/routing-core/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/backend/src/routing/routing-core/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/styles/routing.css
Due: backend, frontend

fix: wrap retagAuthType dedupe+save in a transaction
  packages/backend/src/routing/routing-core/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

Add Responses API proxy endpoint
  .changeset/gentle-responses-arrive.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
  packages/backend/src/routing/proxy/stream-writer.ts
  packages/backend/test/proxy.e2e-spec.ts
Due: backend

fix(db): idempotent agent-column migrations + reconciler
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1777110000000-AddAgentRecordMessages.ts
  packages/backend/src/database/migrations/1777500000000-ReconcileAgentColumns.ts
Due: backend

fix(routing): support api key fallback for subscription models
  .changeset/gpt-54-mini-api-key-fallback.md
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/RoutingModals.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/RoutingModals.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: backend, frontend

fix(routing): pass resolved header fallback auth
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
Due: frontend

fix(routing): address cubic fallback auth feedback
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/RoutingModals.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/RoutingModals.test.tsx
Due: backend, frontend

feat(routing): merge complexity into default tab with toggle
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1781000000000-ReAddComplexityRoutingFlag.ts
  packages/backend/src/entities/agent.entity.ts
  packages/backend/src/routing/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.default.spec.ts
  packages/backend/src/routing/resolve/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/resolve-agent.service.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
  packages/frontend/public/icons/azure.svg
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/components/RoutingPipelineCard.tsx
  packages/frontend/src/components/RoutingTabs.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingComplexitySection.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/styles/routing-header-tiers.css
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/RoutingPipelineCard.test.tsx
  packages/frontend/tests/components/RoutingTabs.test.tsx
  packages/frontend/tests/pages/Routing-deeplink.test.tsx
  packages/frontend/tests/pages/Routing-prefill.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingComplexitySection.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
