Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

chore: add Coolify compose for Manifest
  docker-compose.yml
Due: none

fix: strip client-supplied MPS params unsupported by the resolved model
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
Due: backend

fix: stop rolling deploys from dropping requests
  .changeset/zero-downtime-deploy-drain.md
  packages/backend/src/config/app.config.spec.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/health/health.controller.spec.ts
  packages/backend/src/health/health.controller.ts
  packages/backend/src/health/health.module.ts
  packages/backend/src/health/shutdown.service.spec.ts
  packages/backend/src/health/shutdown.service.ts
  railway.toml
Due: backend

fix: stop bad API keys from hammering the database
  .changeset/agent-key-storm-and-sse-throttle.md
  package.json
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
  packages/backend/src/sse/sse.controller.spec.ts
  packages/backend/src/sse/sse.controller.ts
  scripts/railway-http-logs.js
  scripts/railway-http-logs.test.js
Due: backend

fix: stop slow memory climb from unbounded response cache
  .changeset/bound-response-cache.md
  package-lock.json
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/common/cache/dashboard-cache.factory.spec.ts
  packages/backend/src/common/cache/dashboard-cache.factory.ts
  packages/backend/src/common/constants/cache.constants.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-content-cache.spec.ts
  packages/backend/src/routing/proxy/__tests__/thinking-block-cache.spec.ts
  packages/backend/src/routing/proxy/__tests__/thought-signature-cache.spec.ts
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
  packages/backend/src/routing/proxy/thinking-block-cache.ts
  packages/backend/src/routing/proxy/thought-signature-cache.ts
Due: backend

fix: refresh OpenCode Go models from models.dev
  .changeset/opencode-go-cache-refresh.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/model-discovery.service.boundary.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/opencode-go-catalog.service.spec.ts
  packages/backend/src/model-discovery/opencode-go-catalog.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/model.controller.ts
  packages/shared/src/subscription/configs.ts
Due: backend

fix: refresh OpenCode Zen models from models.dev
  .changeset/opencode-go-cache-refresh.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
Due: backend

fix: preserve params for uncataloged models
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
Due: backend

fix(openrouter): skip fallback session id header
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-hooks.ts
Due: backend

Preserve ChatGPT subscription tool arguments
  .github/workflows/fork-docker.yml
  packages/backend/src/routing/proxy/__tests__/chatgpt-response.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.streaming.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

Add model alias routing
  .github/workflows/fork-docker.yml
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1795200000000-AddExposedModelRoutes.ts
  packages/backend/src/entities/exposed-model-route.entity.ts
  packages/backend/src/routing/model-aliases/model-alias.controller.ts
  packages/backend/src/routing/model-aliases/model-alias.dto.ts
  packages/backend/src/routing/model-aliases/model-alias.module.ts
  packages/backend/src/routing/model-aliases/model-alias.service.spec.ts
  packages/backend/src/routing/model-aliases/model-alias.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.streaming-abort.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing.module.ts
  packages/backend/src/scoring/types.ts
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/ModelAliasesPanel.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/ModelAliasesPanel.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  specs/2285/PRODUCT.md
  specs/2285/TECH.md
Due: backend, frontend

Fix subscription buffering compatibility
  packages/backend/src/routing/proxy/__tests__/provider-client.headers.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

Fix Responses-backed chat transport handling
  packages/backend/src/routing/proxy/__tests__/provider-client.headers.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  specs/2285/TECH.md
Due: backend

Fix model alias CI coverage
  packages/backend/test/helpers.ts
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
  packages/frontend/src/services/api/routing.ts
Due: frontend

Add reasoning-aware aliases and client setup exports
  packages/backend/src/routing/model-aliases/model-alias.service.spec.ts
  packages/backend/src/routing/model-aliases/model-alias.service.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-stream.spec.ts
  packages/backend/src/routing/proxy/__tests__/openai-stream-normalizer.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/openai-stream-normalizer.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/components/FrameworkSnippets.tsx
  packages/frontend/src/components/ModelAliasesPanel.tsx
  packages/frontend/src/components/OpenCodeSetup.tsx
  packages/frontend/src/components/PiSetup.tsx
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/components/RoutingModals.tsx
  packages/frontend/src/components/SetupModal.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/components/WarpSetup.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/services/exposed-models.ts
  packages/frontend/tests/components/FrameworkSnippets.test.tsx
  packages/frontend/tests/components/ModelAliasesPanel.test.tsx
  packages/frontend/tests/components/OpenCodeSetup.test.tsx
  packages/frontend/tests/components/PiSetup.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/frontend/tests/components/WarpSetup.test.tsx
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
  specs/2285/PRODUCT.md
  specs/2285/TECH.md
Due: backend, frontend

feat: make proxy message cap configurable
  .changeset/max-messages-env.md
  docker/.env.example
  docker/docker-compose.yml
  packages/backend/.env.example
  packages/backend/src/routing/proxy/__tests__/message-limit.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/message-limit.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: allow deleting inactive subscriptions
  .changeset/delete-inactive-subscriptions.md
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: backend, frontend

fix: scope Anthropic thinking replay
  .changeset/sour-actors-decide.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/thinking-block-cache.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/thinking-block-cache.ts
Due: backend

fix: return provider context errors to agents
  .changeset/provider-context-errors.md
  packages/backend/src/routing/proxy/__tests__/fallback-status-codes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/fallback-status-codes.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

test: update proxy e2e error contract
  packages/backend/test/proxy.e2e-spec.ts
Due: none

fix(proxy): preserve DeepSeek reasoning tool turns
  .changeset/deepseek-reasoning-fallback.md
  packages/backend/src/entities/reasoning-content-cache-entry.entity.ts
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-content-cache.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
Due: backend

fix: allow fallback on context overflow
  .changeset/provider-context-errors.md
  packages/backend/src/routing/proxy/__tests__/fallback-status-codes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/fallback-status-codes.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: tighten context error classification
  packages/backend/src/routing/proxy/proxy-error-sanitizer.spec.ts
  packages/backend/src/routing/proxy/proxy-error-sanitizer.ts
Due: backend

fix: clarify OpenCode Go quota labels
  .changeset/opencode-go-quota-label.md
  packages/frontend/src/services/formatters.ts
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/frontend/tests/services/formatters.test.ts
Due: frontend

fix: support Qwen workspace endpoints
  .changeset/alibaba-frankfurt-endpoint.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.ts
  packages/backend/src/routing/qwen-region.spec.ts
  packages/backend/src/routing/qwen-region.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.region.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/providers.test.ts
Due: backend, frontend

test: cover Qwen workspace endpoint cases
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/qwen-region.spec.ts
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
Due: backend

fix: refresh OpenCode Go from live catalog
  .changeset/opencode-go-quota-label.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/shared/src/subscription/configs.ts
Due: backend

test: cover OpenCode Go live catalog fallback
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
Due: backend

feat: add News banner to the global Overview
  .changeset/news-banner.md
  packages/frontend/public/news/best-ai-subscription.jpg
  packages/frontend/src/components/NewsBanner.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/services/news.ts
  packages/frontend/src/styles/overview.css
  packages/frontend/tests/components/NewsBanner.test.tsx
  packages/frontend/tests/services/news.test.ts
Due: frontend

Add 90d and 365d analytics range options
  packages/backend/src/common/utils/range.util.ts
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: backend, frontend

chore: refresh CLAUDE.md to match current codebase
  CLAUDE.md
Due: none

fix: confirm inactive connection deletion by name
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: backend, frontend

fix: show selected harness custom tiers
  .changeset/messages-custom-tier-filter.md
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

fix: refresh dashboards after provider deletion
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/provider.controller.ts
Due: backend

test: cover extended analytics ranges
  packages/backend/src/common/dto/range-query.dto.spec.ts
  packages/backend/src/common/utils/range.util.spec.ts
Due: backend

feat: add Cerebras provider
  .changeset/cerebras-provider.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/providers.ts
Due: backend, frontend

fix: tighten extended analytics ranges
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/chart-utils.ts
  packages/frontend/tests/services/chart-utils.test.ts
Due: frontend

test: update custom provider icon fixtures
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: none

Expose agent models from v1 models
  .changeset/real-v1-models-list.md
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.streaming-abort.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/test/proxy.e2e-spec.ts
Due: backend
