Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

chore: add changeset for scanner warning fix
  .changeset/fix-scanner-warnings.md
Due: none

fix: remove fs imports and process.env from scanner-flagged backend files
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/common/constants/local-mode.constants.ts
  packages/backend/src/common/utils/product-telemetry.spec.ts
  packages/backend/src/common/utils/product-telemetry.ts
  packages/backend/src/health/version-check.service.spec.ts
  packages/backend/src/health/version-check.service.ts
Due: backend

fix: update deleteAgent test to use ConfigService mock
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
Due: backend

fix: SPA deep-page reload returns 404 in local/production mode
  .changeset/fix-spa-deep-reload.md
  packages/backend/src/common/filters/spa-fallback.filter.spec.ts
  packages/backend/src/common/filters/spa-fallback.filter.ts
  packages/backend/src/main.ts
Due: backend

fix: resolve ClaWHub suspicious flag on manifest skill
  .changeset/fix-skill-metadata.md
  skills/manifest/SKILL.md
Due: none

test: add coverage for readLocalApiKey and local-mode getAgentKey branch
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/common/constants/local-mode.constants.spec.ts
Due: backend

fix: resolve ClaWHub suspicious flag on manifest skill (#839)
  .changeset/fix-skill-metadata.md
  skills/manifest/SKILL.md
Due: none

feat: UI improvements for routing, provider modal, and account preferences
  package-lock.json
  packages/backend/src/common/utils/crypto.util.ts
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
  packages/backend/src/routing/routing.service.ts
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/pages/Notifications.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/display-name.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/notifications.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/src/styles/routing.css
  packages/frontend/src/styles/wizard.css
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: backend, frontend

fix: resolve AgentGuard 404 in local mode and add agent rename API
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/common/dto/rename-agent.dto.spec.ts
  packages/backend/src/common/dto/rename-agent.dto.ts
  packages/frontend/src/components/AgentGuard.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/tests/components/AgentGuard.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/services/api.test.ts
Due: backend, frontend

chore: add changeset for AgentGuard local mode fix and rename API
  .changeset/fix-agent-guard-local-mode.md
Due: none

fix: UI polish for modals — field spacing, button alignment, provider card border
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/NotificationRuleModal.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/notifications.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
Due: frontend

fix: update tests to match current UI (toggle switches, confirm dialog, 8 providers)
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/services/providers.test.ts
Due: none

test: add coverage for crypto.util, routing.service.getKeyPrefix, and aggregation.renameAgent
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/common/utils/crypto.util.spec.ts
  packages/backend/src/routing/routing.service.spec.ts
Due: backend

Remove SQLite mention from README privacy section
  .changeset/remove-sqlite-readme.md
  README.md
Due: none

fix: invert trend indicator colors on Overview dashboard
  .changeset/fix-trend-indicator-colors.md
  packages/frontend/src/pages/Overview.tsx
Due: frontend

fix: use neutral color for Messages trend indicator
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/styles/cards.css
  packages/frontend/src/styles/theme.css
Due: frontend

Update data privacy description in README
  README.md
Due: none

fix: increase keyword-trie perf test threshold for CI stability
  packages/backend/src/routing/scorer/__tests__/keyword-trie.spec.ts
Due: backend

chore: add changeset for keyword-trie test fix
  .changeset/fix-keyword-trie-test.md
Due: none

fix: split product-telemetry to resolve env-harvesting scanner warning
  .changeset/fix-env-harvesting-warning.md
  packages/backend/src/common/utils/posthog-sender.spec.ts
  packages/backend/src/common/utils/posthog-sender.ts
  packages/backend/src/common/utils/product-telemetry.spec.ts
  packages/backend/src/common/utils/product-telemetry.ts
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/health/health.controller.ts
  packages/backend/src/main.ts
  packages/backend/src/otlp/services/api-key.service.spec.ts
  packages/backend/src/otlp/services/api-key.service.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/services/analytics.ts
  packages/frontend/src/services/local-mode.ts
  packages/frontend/tests/services/local-mode.test.ts
Due: backend, frontend

feat: add PostHog analytics for routing adoption tracking
  .changeset/routing-analytics.md
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
Due: backend

docs: add dev mode documentation and orange Dev badge in header
  CLAUDE.md
  CONTRIBUTING.md
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/styles/controls.css
Due: frontend

chore: add changeset for cleanup
  .changeset/cleanup-dead-code.md
Due: none

fix: resolve CI failures and rename SQLite to sql.js
  .github/workflows/ci.yml
  CONTRIBUTING.md
  packages/backend/src/otlp/guards/otlp-auth.guard.spec.ts
  packages/backend/src/otlp/guards/otlp-auth.guard.ts
  packages/backend/test/helpers.ts
  packages/backend/test/otlp.e2e-spec.ts
  packages/backend/test/proxy.e2e-spec.ts
  packages/manifest-server/README.md
  packages/manifest-server/package.json
  packages/openclaw-plugin/README.md
  packages/openclaw-plugin/__tests__/config.test.ts
  packages/openclaw-plugin/openclaw.plugin.json
  packages/openclaw-plugin/public/assets/index-Bt4R8p73.css
  packages/openclaw-plugin/public/assets/index-DlVBxpLS.css
  packages/openclaw-plugin/public/assets/index-LkLTWQhb.js
  packages/openclaw-plugin/public/assets/index-hH5CPkHU.js
  packages/openclaw-plugin/public/index.html
  packages/openclaw-plugin/src/openclaw.plugin.json
Due: backend, plugin

docs: add Codecov coverage rules to CLAUDE.md
  CLAUDE.md
Due: none

test: add plugin dev mode coverage for routing, config, telemetry, and tools
  packages/openclaw-plugin/__tests__/config.test.ts
  packages/openclaw-plugin/__tests__/register.test.ts
  packages/openclaw-plugin/__tests__/routing.test.ts
  packages/openclaw-plugin/__tests__/telemetry.test.ts
  packages/openclaw-plugin/__tests__/tools.test.ts
  packages/openclaw-plugin/__tests__/verify.test.ts
Due: none

Add real-time Provider Health tracking service to dashboard overview
  package-lock.json
  packages/backend/package.json
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/health/health.module.ts
  packages/backend/src/health/provider-health.service.ts
Due: backend

fix: synchronize package-lock.json to resolve dependency mismatch in CI
  package-lock.json
Due: none

chore: remove dead plugin settings (captureContent, serviceName, metricsIntervalMs)
  packages/openclaw-plugin/README.md
  packages/openclaw-plugin/__tests__/config.test.ts
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/__tests__/local-mode.test.ts
  packages/openclaw-plugin/__tests__/register.test.ts
  packages/openclaw-plugin/__tests__/routing.test.ts
  packages/openclaw-plugin/__tests__/telemetry.test.ts
  packages/openclaw-plugin/__tests__/tools.test.ts
  packages/openclaw-plugin/__tests__/verify.test.ts
  packages/openclaw-plugin/openclaw.plugin.json
  packages/openclaw-plugin/src/config.ts
  packages/openclaw-plugin/src/local-mode.ts
  packages/openclaw-plugin/src/openclaw.plugin.json
  packages/openclaw-plugin/src/telemetry.ts
Due: plugin

changeset: patch for dead settings removal
  .changeset/remove-dead-settings.md
Due: none

test: cover local/dev metrics interval branches in telemetry
  packages/openclaw-plugin/__tests__/telemetry.test.ts
Due: none

Add Codecov coverage badge to README
  .changeset/better-chairs-open.md
  README.md
Due: none

Update package-lock.json after npm install
  package-lock.json
Due: none

docs: add plugin configuration table to root README
  README.md
Due: none

changeset: empty (docs only)
  .changeset/real-aliens-wave.md
Due: none

docs: add plugin settings table to root README and CONTRIBUTING
  .changeset/real-aliens-wave.md
  CONTRIBUTING.md
  README.md
Due: none

feat: add meta tags and link auth logo to manifest.build
  .changeset/bright-dogs-glow.md
  packages/frontend/index.html
  packages/frontend/public/og-image.png
  packages/frontend/src/layouts/AuthLayout.tsx
  packages/frontend/tests/components/AuthLayout.test.tsx
Due: frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
