Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix: preserve fallback drop slot during drag
  .changeset/calm-fallback-drag.md
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/tests/components/FallbackList.test.tsx
Due: frontend

fix: preserve fallback drop slot during drag (#2785)
  .changeset/calm-fallback-drag.md
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/tests/components/FallbackList.test.tsx
Due: frontend

fix: align GPT-5.6 Sol subscription context limit
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

fix: tighten concurrency configuration
  CLAUDE.md
  docker/.env.example
  docker/docker-compose.yml
  docs/superpowers/plans/2026-07-28-manifest-concurrency-environment.md
  docs/superpowers/specs/2026-07-28-manifest-concurrency-environment-design.md
  packages/backend/.env.example
  packages/backend/src/routing/proxy/__tests__/proxy-rate-limiter.spec.ts
  packages/backend/src/routing/proxy/proxy-rate-limiter.ts
Due: backend

docs: clarify local image override
  docs/superpowers/plans/2026-07-28-manifest-concurrency-environment.md
Due: none

docs: separate Compose verification paths
  docs/superpowers/plans/2026-07-28-manifest-concurrency-environment.md
Due: none

chore: refresh CLAUDE.md to match current codebase
  CLAUDE.md
Due: none

feat: add grok-4.6 to Grok subscription models
  .changeset/xai-subscription-grok-4.6.md
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

feat: add grok-4.6 to Grok subscription models (#2787)
  .changeset/xai-subscription-grok-4.6.md
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

fix: match Grok subscription catalog to Grok Build
  .changeset/xai-subscription-grok-build-models.md
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

fix: match Grok subscription catalog to Grok Build (#2788)
  .changeset/xai-subscription-grok-build-models.md
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

fix: apply subscription context overrides
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
Due: backend

fix(proxy): translate Anthropic user metadata
  .changeset/calm-otters-heal.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: preserve subscription context overrides
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.ts
Due: backend

test(proxy): cover preserved provider fields
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
Due: backend

fix: recompute normalized model scores
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
Due: backend

fix(proxy): translate Anthropic user metadata
  .changeset/quiet-pandas-route.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

chore: split subscription context changes
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

fix(proxy): cover OpenAI Responses metadata
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

test(proxy): cover missing Anthropic metadata
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
Due: backend

fix: translate subscription autofix model IDs
  .changeset/native-subscription-autofix.md
  packages/backend/src/routing/autofix/__tests__/http-healing-client.spec.ts
  packages/backend/src/routing/autofix/http-healing-client.ts
  packages/backend/src/routing/proxy/__tests__/openai-model-id.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/openai-model-id.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: preserve subscription context limits
  .changeset/subscription-context-windows.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.ts
Due: backend

fix: translate Anthropic user metadata (#2789)
  .changeset/quiet-pandas-route.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

chore: focus concurrency configuration
  .changeset/configurable-concurrency-limit.md
  docs/superpowers/plans/2026-07-28-manifest-concurrency-environment.md
  docs/superpowers/specs/2026-07-28-manifest-concurrency-environment-design.md
Due: none

fix: preserve auto replay routing
  packages/backend/src/routing/proxy/__tests__/openai-model-id.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/openai-model-id.ts
Due: backend

refactor(frontend): consolidate platform-icon dark-mode inversion
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/platform-icons.css
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: frontend

fix(frontend): restore hermes dark-mode inversion across all consumers
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/styles/agent-type-select.css
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/controls.css
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/wizard.css
Due: frontend

fix: stop serializing tool_result images as base64 text; return context errors as 400
  .changeset/calm-codex-image-context.md
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
Due: backend

refactor(frontend): consolidate setup-modal inversion into platform-icons.css
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/components/SetupModal.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/wizard.css
Due: frontend

feat: configure proxy concurrency limit
  .changeset/configurable-concurrency-limit.md
  CLAUDE.md
  docker/.env.example
  docker/docker-compose.yml
  packages/backend/.env.example
  packages/backend/src/routing/proxy/__tests__/proxy-rate-limiter.spec.ts
  packages/backend/src/routing/proxy/proxy-rate-limiter.ts
Due: backend

fix: translate subscription Autofix model IDs (#2791)
  .changeset/native-subscription-autofix.md
  packages/backend/src/routing/autofix/__tests__/http-healing-client.spec.ts
  packages/backend/src/routing/autofix/http-healing-client.ts
  packages/backend/src/routing/proxy/__tests__/openai-model-id.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/openai-model-id.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

feat: configure proxy concurrency limit (#2794)
  .changeset/configurable-concurrency-limit.md
  CLAUDE.md
  docker/.env.example
  docker/docker-compose.yml
  packages/backend/.env.example
  packages/backend/src/routing/proxy/__tests__/proxy-rate-limiter.spec.ts
  packages/backend/src/routing/proxy/proxy-rate-limiter.ts
Due: backend

fix: keep parallel tool results contiguous when extracting images
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
Due: backend

fix: reconcile stale subscription context windows in cached models
  .changeset/calm-codex-context.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/model-fetcher.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

fix: require unambiguous provenance before touching untagged cached rows
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

fix(routing/proxy): emit finish_reason: tool_calls when tool call pre… (#2773)
  packages/backend/src/routing/proxy/chatgpt-adapter.streaming.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
Due: backend

fix: preserve tool-result images
  .changeset/calm-codex-image-context.md
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
Due: backend

fix: keep parallel tool results contiguous
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
Due: backend

fix: buffer tool images across user messages
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
Due: backend

fix: keep subscription context windows current
  .changeset/calm-context-cache.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/backend/src/model-discovery/model-fetcher.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
