Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

feat: redesign message accordion — error+autofix side-by-side, toggle panels, dark mode fix
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/MessageDetailsSections.tsx
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/theme.css
Due: frontend

feat: add managed deploy buttons
  README.md
  deploy/aws/TUTORIAL.md
  deploy/aws/deploy.sh
  deploy/aws/manifest.yaml
  deploy/gcp/TUTORIAL.md
  deploy/gcp/deploystack.json
  deploy/gcp/main.tf
  deploy/gcp/outputs.tf
  deploy/gcp/variables.tf
  deploy/gcp/versions.tf
  render.yaml
Due: none

fix: address deployment template review
  deploy/aws/TUTORIAL.md
  deploy/aws/deploy.sh
  deploy/aws/manifest.yaml
  deploy/gcp/TUTORIAL.md
  deploy/gcp/deploystack.json
  deploy/gcp/main.tf
  deploy/gcp/variables.tf
Due: none

fix: align deployment badges
  README.md
Due: none

feat: error+trigger+action grid layout (7 cases), overview cleanup, fixes
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/use-overview-range.ts
  packages/frontend/src/styles/data.css
Due: frontend

feat: colored cards, consistent borders, fallback icon warm tones
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/styles/data.css
Due: frontend

feat: report the Manifest tenant id to Phoenix on heal requests
  .changeset/heal-tenant-attribution.md
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/__tests__/http-healing-client.spec.ts
  packages/backend/src/routing/autofix/__tests__/mock-healing-client.spec.ts
  packages/backend/src/routing/autofix/__tests__/noop-healing-client.spec.ts
  packages/backend/src/routing/autofix/__tests__/phoenix-contract.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/contract/phoenix-openapi.yaml
  packages/backend/src/routing/autofix/phoenix.types.ts
Due: backend

fix: finish the Messages-table redesign so the build and tests pass
  packages/backend/src/analytics/services/query-helpers.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/use-overview-range.ts
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/services/use-overview-range.test.ts
Due: backend, frontend

test: update table/detail tests for the merged MessageDetails redesign
  packages/frontend/tests/components/MessageDetails.autofix.test.tsx
  packages/frontend/tests/components/MessageDetails.test.tsx
  packages/frontend/tests/components/MessageTable.onOpenMessage.test.tsx
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: none

feat: model picker smart tabs, global overview MessageTable, tooltip cleanup
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/styles/data.css
Due: frontend

fix: repair build + tests after model-picker/global-overview changes
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

test: stop ModelParamsAffordance flaking under CI load
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
Due: none

test: give the sse suite headroom against load-based timeouts
  packages/frontend/tests/services/sse.test.ts
Due: none

fix(proxy): rewrite max_tokens for custom OpenAI-compatible gpt-5 endpoints
  .changeset/fix-custom-endpoint-max-completion-tokens.md
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
Due: backend

docs: update provider catalog in README
  README.md
Due: none

docs: clarify README model examples
  README.md
Due: none

feat: add DigitalOcean deploy template
  .do/deploy.template.yaml
  README.md
  deploy/digitalocean/TUTORIAL.md
Due: none

feat: add Heroku deploy template
  Dockerfile.heroku
  README.md
  app.json
  deploy/heroku/TUTORIAL.md
  heroku.yml
Due: none

feat: usage progress bar in sidebar for free plan users
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/theme.css
Due: frontend

feat: usage limit warning message in sidebar at 80%+
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/styles/modals.css
Due: frontend

docs: add Koyeb deploy button
  README.md
  deploy/koyeb/TUTORIAL.md
Due: none

feat(autofix): explain why a request was auto-fixed
  .changeset/autofix-explanation.md
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/autofix.types.ts
  packages/backend/src/routing/autofix/contract/phoenix-openapi.yaml
  packages/backend/src/routing/autofix/phoenix.types.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/tests/components/MessageDetails.autofix.test.tsx
Due: backend, frontend

docs: refine deploy options section
  README.md
  deploy/koyeb/TUTORIAL.md
Due: none

docs: refine deploy options section
  README.md
  deploy/heroku/TUTORIAL.md
Due: none

docs: refine deploy options section
  README.md
  deploy/digitalocean/TUTORIAL.md
Due: none

Address billing limits review feedback
  .changeset/stripe-billing.md
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/frontend/src/components/PlanPicker.tsx
  packages/frontend/src/components/Select.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Upgrade.tsx
  packages/frontend/src/services/billing-display.ts
  packages/frontend/src/styles/custom-select.css
  packages/frontend/tests/pages/Account.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/Upgrade.test.tsx
  packages/frontend/tests/services/api/billing.test.ts
  packages/frontend/tests/services/billing-display.test.ts
  packages/shared/__tests__/plan-limits.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/plan-limits.ts
Due: backend, frontend

docs: add deployment guides and templates
  Dockerfile.heroku
  README.md
  app.json
  deploy/coolify/TUTORIAL.md
  deploy/coolify/docker-compose.yml
  deploy/heroku/TUTORIAL.md
  deploy/koyeb/TUTORIAL.md
  heroku.yml
Due: none

feat: global usage limit banner and Select option disabled/badge support
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Select.tsx
  packages/frontend/src/components/UsageLimitBanner.tsx
  packages/frontend/src/styles/analytics-overview.css
  packages/frontend/src/styles/modals.css
Due: frontend

docs: add fly and easypanel deploy guides
  README.md
  deploy/easypanel/TUTORIAL.md
  deploy/easypanel/template/README.md
  deploy/easypanel/template/index.ts
  deploy/easypanel/template/meta.yaml
  deploy/fly/TUTORIAL.md
  deploy/fly/deploy.sh
  deploy/fly/fly.toml
Due: none

feat: PRO badge on range filters, dismissable usage banner, dark mode destructive fix
  packages/frontend/src/components/UsageLimitBanner.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/styles/custom-select.css
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/theme.css
Due: frontend

feat: add n8n community node
  .github/workflows/publish-n8n-node.yml
  integrations/n8n-nodes-manifest/.gitignore
  integrations/n8n-nodes-manifest/.prettierrc.js
  integrations/n8n-nodes-manifest/CHANGELOG.md
  integrations/n8n-nodes-manifest/LICENSE.md
  integrations/n8n-nodes-manifest/README.md
  integrations/n8n-nodes-manifest/credentials/ManifestApi.credentials.ts
  integrations/n8n-nodes-manifest/eslint.config.mjs
  integrations/n8n-nodes-manifest/nodes/Manifest/Manifest.node.json
  integrations/n8n-nodes-manifest/nodes/Manifest/Manifest.node.ts
  integrations/n8n-nodes-manifest/nodes/Manifest/manifest-logo.dark.svg
  integrations/n8n-nodes-manifest/nodes/Manifest/manifest-logo.svg
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
  integrations/n8n-nodes-manifest/tsconfig.json
Due: none

docs: tighten fly and easypanel deploy templates
  deploy/easypanel/TUTORIAL.md
  deploy/easypanel/template/assets/screenshot1.png
  deploy/easypanel/template/index.ts
  deploy/easypanel/template/meta.yaml
  deploy/fly/TUTORIAL.md
  deploy/fly/deploy.sh
  deploy/fly/fly.toml
Due: none

feat: new logos, per-user plan flag, logout and back button fixes
  packages/frontend/src/components/AuthGuard.tsx
  packages/frontend/src/components/GuestGuard.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/UsageLimitBanner.tsx
  packages/frontend/src/layouts/AuthLayout.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Upgrade.tsx
  packages/frontend/src/services/plan-selection.ts
  packages/frontend/src/styles/auth.css
  packages/frontend/src/styles/controls.css
Due: frontend

fix: address n8n node review feedback
  .github/workflows/publish-n8n-node.yml
  integrations/n8n-nodes-manifest/nodes/Manifest/Manifest.node.ts
Due: none

docs: update easypanel template screenshot
  deploy/easypanel/template/assets/screenshot1.png
Due: none

chore: trim n8n package diff
  .github/workflows/publish-n8n-node.yml
  integrations/n8n-nodes-manifest/package-lock.json
Due: none

test: update frontend billing flow assertions
  packages/frontend/tests/components/AuthGuard.test.tsx
  packages/frontend/tests/components/Header.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
Due: none

Revert "chore: trim n8n package diff"
  .github/workflows/publish-n8n-node.yml
  integrations/n8n-nodes-manifest/package-lock.json
Due: none

style: redesign billing usage emails and fix review plan link
  packages/backend/src/billing/emails/billing-plan-email.tsx
Due: backend

test: cover billing frontend upgrade paths
  packages/frontend/tests/components/AuthGuard.test.tsx
  packages/frontend/tests/components/GuestGuard.test.tsx
  packages/frontend/tests/components/PlanPicker.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/components/UpgradeSuccessModal.test.tsx
  packages/frontend/tests/components/UsageLimitBanner.test.tsx
  packages/frontend/tests/pages/Account.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
  packages/frontend/tests/pages/Upgrade.test.tsx
  packages/frontend/tests/services/billing-display.test.ts
  packages/frontend/tests/services/plan-selection.test.ts
Due: none

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
