Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

security: OWASP Top 10 audit report (2026-05-01)
  OWASP_AUDIT_2026-05-01.md
Due: none

chore(benchmark): land follow-up audit fixes — agent-name regex, FK cascades, jsonb headers, coverage
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/benchmark/dto/history.dto.ts
  packages/backend/src/benchmark/dto/run-benchmark.dto.spec.ts
  packages/backend/src/common/constants/agent-name.ts
  packages/backend/src/common/utils/numeric-transformer.spec.ts
  packages/backend/src/database/migrations/1777300000000-AddBenchmarkHistory.ts
  packages/backend/src/entities/benchmark-column.entity.ts
  packages/backend/src/entities/benchmark-entities.spec.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/proxy/proxy-message-dedup.ts
Due: backend

feat(benchmark): promote 'benchmark' to a first-class message tier
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/benchmark/benchmark.service.spec.ts
  packages/backend/src/benchmark/benchmark.service.ts
  packages/backend/test/benchmark-flow.e2e-spec.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/src/styles/data.css
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/shared/src/index.ts
  packages/shared/src/tiers.ts
Due: backend, frontend

fix(benchmark): prefer native-branded picks over aggregator proxy catalogs
  packages/frontend/src/services/benchmark-store.ts
  packages/frontend/tests/services/benchmark-store.test.ts
Due: frontend

fix(benchmark): apply code-quality review findings
  packages/backend/src/benchmark/benchmark-history.service.ts
  packages/backend/src/benchmark/benchmark-payload.ts
  packages/backend/src/benchmark/benchmark-response-headers.ts
  packages/backend/src/benchmark/benchmark.controller.ts
  packages/backend/src/benchmark/benchmark.service.ts
  packages/backend/src/benchmark/dto/run-benchmark.dto.ts
  packages/backend/src/benchmark/request-header-sanitizer.ts
  packages/frontend/src/components/benchmark/BenchmarkHistoryDrawer.tsx
  packages/frontend/src/components/benchmark/BenchmarkPrompt.tsx
  packages/frontend/src/components/benchmark/RequestHeadersPopover.tsx
  packages/frontend/src/pages/Benchmark.tsx
  packages/frontend/src/services/api/benchmark.ts
  packages/frontend/src/services/benchmark-store.ts
  packages/frontend/src/services/use-focus-trap.ts
Due: backend, frontend

test(benchmark): full coverage for extracted feature
  packages/backend/src/benchmark/benchmark-history.service.spec.ts
  packages/backend/src/benchmark/benchmark-payload.spec.ts
  packages/backend/src/benchmark/benchmark.controller.spec.ts
  packages/backend/src/benchmark/benchmark.service.spec.ts
  packages/backend/src/benchmark/dto/run-benchmark.dto.spec.ts
  packages/backend/src/benchmark/dto/run-benchmark.dto.ts
  packages/backend/src/benchmark/request-header-sanitizer.spec.ts
  packages/frontend/tests/components/BenchmarkHistoryDrawer.test.tsx
  packages/frontend/tests/components/BenchmarkPrompt.test.tsx
  packages/frontend/tests/components/RequestHeadersPopover.test.tsx
  packages/frontend/tests/pages/Benchmark.test.tsx
  packages/frontend/tests/services/api/benchmark.test.ts
  packages/frontend/tests/services/benchmark-store.test.ts
  packages/frontend/tests/services/use-focus-trap.test.ts
Due: backend

test(benchmark-e2e): pass agentName on getRun route after ownership-check change
  packages/backend/test/benchmark-flow.e2e-spec.ts
Due: none

test(benchmark-e2e): parse URL hostname instead of substring-matching
  packages/backend/test/benchmark-flow.e2e-spec.ts
Due: none

fix(routing): attribute models by connection's provider, not model-id prefix
  .changeset/route-provider-attribution.md
  packages/backend/src/model-discovery/known-model-prices.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: backend, frontend

fix(routing): preserve models.dev capabilities when known-prices wins
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
Due: backend

docs(benchmark): add QUESTIONS.md — North Star of the benchmark
  benchmark/QUESTIONS.md
Due: none

docs(benchmark): rename QUESTIONS.md header to Scope Guard
  benchmark/QUESTIONS.md
Due: none

docs: Q5 compares models not providers
  benchmark/QUESTIONS.md
Due: none

docs(benchmark): update all docs to reflect 55 models, 40K rows state
  benchmark/FINDINGS.md
  benchmark/LIMITATIONS.md
  benchmark/METHODOLOGY.md
  benchmark/RELATED_WORK.md
  benchmark/SESSION_NOTES.md
Due: none

fix(charts): pad bar chart x-scale by half a bin so the last bar fits
  .changeset/bar-chart-last-bar-pad.md
  package-lock.json
  packages/frontend/src/components/SavingsChart.tsx
  packages/frontend/src/services/chart-utils.ts
  packages/frontend/tests/services/chart-utils.test.ts
Due: frontend

fix: improve dark mode readability for provider hints, links, and icons
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/styles/routing-providers.css
Due: frontend

fix: bump Codex client_version so OpenAI subscription discovers gpt-5.5
  .changeset/codex-client-version-gpt-5-5.md
  packages/backend/src/common/constants/subscription-clients.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

feat(openai): mint real api.openai.com key from ChatGPT subscription via RFC 8693 token exchange
  .gitignore
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/oauth/openai-oauth.controller.ts
  packages/backend/src/routing/oauth/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/openai-oauth.service.ts
  packages/backend/src/routing/openai-oauth.controller.spec.ts
  packages/backend/src/routing/openai-oauth.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/provider-hooks.ts
Due: backend

fix: surface resend flow on post-signup verification screen
  .changeset/check-email-hint.md
  package-lock.json
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/styles/auth.css
  packages/frontend/tests/pages/Register.test.tsx
Due: frontend

fix: autofocus first input and Enter/Escape keyboard shortcuts on all modals
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/DuplicateAgentModal.tsx
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/HeaderTierModal.tsx
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/ModelSelectDropdown.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/ResetPassword.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
Due: frontend

fix: prevent Enter-to-submit from overriding button and combobox Enter
  packages/frontend/src/components/DuplicateAgentModal.tsx
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/HeaderTierModal.tsx
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
Due: frontend

test: add coverage for modal keyboard shortcuts
  packages/frontend/tests/components/EmailProviderModal.test.tsx
  packages/frontend/tests/components/HeaderTierModal.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: none

fix(openai-subscription): strip Codex-unsupported params before forwarding
  .changeset/wacky-moles-yell.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

Fix: autofocus and keyboard shortcuts on all modals and forms (#1805)
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/DuplicateAgentModal.tsx
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/HeaderTierModal.tsx
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/ModelSelectDropdown.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/ResetPassword.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/tests/components/EmailProviderModal.test.tsx
  packages/frontend/tests/components/HeaderTierModal.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: frontend

feat: add Anthropic Messages-compatible proxy at POST /v1/messages
  .changeset/anthropic-messages-endpoint.md
  CLAUDE.md
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

fix: open MiniMax authorize page on the right host
  .changeset/minimax-verification-uri-fix.md
  packages/backend/src/routing/oauth/minimax-oauth-helpers.spec.ts
  packages/backend/src/routing/oauth/minimax-oauth-helpers.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.spec.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.ts
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: backend, frontend

fix: feed translated chatBody into chatgpt branch and forward Anthropic-native fields
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix(minimax): toast on popup-blocked / poll error and reset to connect view
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: frontend

feat(ui): expose Anthropic SDK in the agent picker and toolkit snippets
  packages/frontend/src/components/FrameworkSnippets.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/services/framework-snippets.ts
  packages/frontend/tests/components/FrameworkSnippets.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/frontend/tests/services/framework-snippets.test.ts
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
Due: frontend

fix(ui): invert Anthropic logo in dark mode like the other dark-fill SVGs
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/wizard.css
Due: frontend

fix(ui): invert Anthropic logo in dark mode in agent picker dropdown and header breadcrumb
  packages/frontend/src/styles/agent-type-select.css
  packages/frontend/src/styles/controls.css
Due: frontend

fix(routing): apply same provider-attribution rule to ModelPickerModal
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: frontend

fix(ui): strip trailing /v1 from Anthropic SDK snippet base_url
  packages/frontend/src/services/framework-snippets.ts
  packages/frontend/tests/services/framework-snippets.test.ts
Due: frontend

fix(minimax): use anchor-tag Open button instead of window.open
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
