Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix: count requests in agent usage
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/test/message-count-consistency.e2e-spec.ts
Due: backend

fix: close request model review gaps
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.spec.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/message-feedback.service.spec.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/specificity-feedback.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.spec.ts
  packages/backend/src/database/backfills/message-provider-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-dedup.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
  packages/frontend/tests/components/MessageDetails.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
Due: backend

fix: address follow-up review findings
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/database/backfills/message-provider-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/message-provider-backfill.boot.service.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.spec.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
  packages/frontend/tests/components/MessageDetails.test.tsx
Due: backend

test: clarify combined attempt assertion
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
Due: backend

feat: request-centric dashboard redesign
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/components/ErrorClassCard.tsx
  packages/frontend/src/components/ProviderChartCard.tsx
  packages/frontend/src/components/ReliabilityCard.tsx
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/components/UnifiedChartCard.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/styles/request-drawer.css
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: backend, frontend

feat: add "By recovery" group-by on the Requests chart tab
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/frontend/src/components/ReliabilityChart.tsx
  packages/frontend/src/components/UnifiedChartCard.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
Due: backend, frontend

Revert "feat: add "By recovery" group-by on the Requests chart tab"
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/frontend/src/components/ReliabilityChart.tsx
  packages/frontend/src/components/UnifiedChartCard.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
Due: backend, frontend

feat: disposition chart shows recovery breakdown (4 series)
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/frontend/src/components/ReliabilityChart.tsx
Due: backend, frontend

refactor: replace Trigger column with Attempts in request list
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

fix: align attempts count and icons vertically in request table
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

fix: disposition legend order — success, autofix, fallback, error
  packages/backend/src/analytics/services/autofix-stats.service.ts
Due: backend

feat: add Hugging Face provider
  .changeset/tidy-pandas-route.md
  README.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/model-discovery/model-capabilities.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/providers.ts
Due: backend, frontend

test: cover malformed Hugging Face catalog data
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
Due: backend

fix: keep message schema compatible during deploy
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.spec.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.ts
Due: backend

chore: drop message compatibility view
  .changeset/drop-agent-messages-compat-view.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801100000000-DropAgentMessagesCompatibilityView.spec.ts
  packages/backend/src/database/migrations/1801100000000-DropAgentMessagesCompatibilityView.ts
Due: backend

feat: split Attempts into two columns — Attempts + Self-heal
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

feat: request-first dashboards — self-healed story, coherent seed, drawer fixes
  packages/backend/src/analytics/services/autofix-stats.service.spec.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/seed-messages.determinism.spec.ts
  packages/backend/src/database/seed-messages.spec.ts
  packages/backend/src/database/seed-messages.ts
  packages/backend/src/database/seed-request-chains.spec.ts
  packages/backend/src/database/seed-request-chains.ts
  packages/frontend/src/components/AutofixKpiCards.tsx
  packages/frontend/src/components/CostByModelTable.tsx
  packages/frontend/src/components/RequestDrawer.tsx
  packages/frontend/src/components/UnifiedChartCard.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/styles/analytics-overview.css
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/request-drawer.css
  packages/frontend/tests/components/ErrorClassCard.preserved.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
Due: backend, frontend

fix: record actual autofix retries
  .changeset/honest-ravens-retry.md
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/autofix.types.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

fix: preserve primary provider attribution
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

fix: record actual autofix retries (#2510)
  .changeset/honest-ravens-retry.md
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/autofix.types.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

test: align e2e fixtures with request model
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/error-breakdown.service.ts
  packages/backend/src/analytics/services/message-feedback.service.spec.ts
  packages/backend/src/analytics/services/message-feedback.service.ts
  packages/backend/test/agent-recreate.e2e-spec.ts
  packages/backend/test/billing-request-limit.e2e-spec.ts
  packages/backend/test/costs.e2e-spec.ts
  packages/backend/test/custom-provider-fk-data-loss.e2e-spec.ts
  packages/backend/test/custom-provider-fk-migrations.e2e-spec.ts
  packages/backend/test/custom-providers-lift-migrations.e2e-spec.ts
  packages/backend/test/errors-breakdown.e2e-spec.ts
  packages/backend/test/helpers.ts
  packages/backend/test/message-count-consistency.e2e-spec.ts
  packages/backend/test/message-error-code-migrations.e2e-spec.ts
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
  packages/backend/test/messages-manifest-errors.e2e-spec.ts
  packages/backend/test/messages.e2e-spec.ts
  packages/backend/test/messages.isolation.e2e-spec.ts
  packages/backend/test/overview.e2e-spec.ts
  packages/backend/test/playground-flow.e2e-spec.ts
  packages/backend/test/provider-analytics.e2e-spec.ts
  packages/backend/test/proxy-fallback-auth.e2e-spec.ts
  packages/backend/test/public-stats.e2e-spec.ts
  packages/backend/test/roundtrip.e2e-spec.ts
  packages/backend/test/seed-playground-agents-migrations.e2e-spec.ts
  packages/backend/test/smoke-test.e2e-spec.ts
  packages/backend/test/tenant-isolation.e2e-spec.ts
  packages/backend/test/tenant-scoping-migrations.e2e-spec.ts
  packages/backend/test/tokens.e2e-spec.ts
  packages/backend/test/user-provider-backfill-migrations.e2e-spec.ts
Due: backend

fix: address request model review findings
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/agent-lifecycle.service.spec.ts
  packages/backend/src/analytics/services/agent-lifecycle.service.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/message-feedback.service.spec.ts
  packages/backend/src/analytics/services/message-feedback.service.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/backend/src/common/errors/manifest-error.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/database/backfills/backfill-requests.spec.ts
  packages/backend/src/database/backfills/backfill-requests.ts
  packages/backend/src/database/backfills/message-provider-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/message-provider-backfill.boot.service.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.spec.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-dedup.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/test/custom-provider-fk-migrations.e2e-spec.ts
  packages/backend/test/seed-playground-agents-migrations.e2e-spec.ts
  packages/backend/test/tenant-scoping-migrations.e2e-spec.ts
  packages/frontend/src/components/MessageDetails.tsx
Due: backend, frontend

fix: reconstruct legacy fallback requests
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/database/backfills/backfill-requests.spec.ts
  packages/backend/src/database/backfills/backfill-requests.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/test/request-backfill-fallbacks.e2e-spec.ts
Due: backend

fix: harden request backfill tail sweeps
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/database/backfills/backfill-requests.spec.ts
  packages/backend/src/database/backfills/backfill-requests.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.ts
  packages/backend/test/request-backfill-fallbacks.e2e-spec.ts
Due: backend

fix: bound request fallback backfill
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/database/backfills/backfill-requests.spec.ts
  packages/backend/src/database/backfills/backfill-requests.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.spec.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.ts
  packages/backend/test/request-backfill-fallbacks.e2e-spec.ts
Due: backend

feat: record Auto-fix request outcomes
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.spec.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/entities/request.entity.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/test/request-backfill-fallbacks.e2e-spec.ts
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/tests/components/MessageDetails.autofix.test.tsx
  packages/shared/__tests__/autofix-status.spec.ts
  packages/shared/src/autofix-status.ts
  packages/shared/src/index.ts
Due: backend, frontend

feat: add gated Security section to Account page
  packages/frontend/src/pages/Account.tsx
  packages/frontend/tests/pages/Account.test.tsx
Due: frontend

feat: implement change-password validation and submit
  packages/frontend/src/pages/Account.tsx
  packages/frontend/tests/pages/Account.test.tsx
Due: frontend

feat: normalize request/attempt status to pending|success|failed
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/error-breakdown.service.ts
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/database/seed-messages.spec.ts
  packages/backend/src/database/seed-messages.ts
  packages/backend/src/error-pages/error-discovery.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-dedup.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-dedup.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/test/billing-request-limit.e2e-spec.ts
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
  packages/backend/test/proxy-fallback-auth.e2e-spec.ts
  packages/backend/test/request-backfill-fallbacks.e2e-spec.ts
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/tests/components/MessageDetails.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
  packages/shared/src/index.ts
Due: backend, frontend

fix: reset busy state and show error when change-password rejects
  packages/frontend/src/pages/Account.tsx
  packages/frontend/tests/pages/Account.test.tsx
Due: frontend

style: match Security section to settings-card layout
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/styles/agents.css
Due: frontend

feat: add explicit provider attempt ordering
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/database/migrations/1801100000000-AddProviderAttemptOrdering.spec.ts
  packages/backend/src/database/migrations/1801100000000-AddProviderAttemptOrdering.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/error-pages/error-cluster-seeder.service.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

feat: track provider attempt lifecycle
  packages/backend/src/error-pages/error-cluster-seeder.service.spec.ts
  packages/backend/src/playground/playground.service.truncation.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
Due: backend

fix: complete canonical status handling
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/error-pages/error-discovery.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/shared/src/error-taxonomy.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
