Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix(routing): drop duplicate fallback error toast
  packages/frontend/src/pages/RoutingActions.tsx
Due: frontend

fix(telemetry): differentiate Other-by-category in agents_by_platform
  packages/backend/src/telemetry/payload-builder.service.spec.ts
  packages/backend/src/telemetry/payload-builder.service.ts
Due: backend

feat(routing): per-message model parameter telemetry
  .changeset/per-message-model-params.md
  CONTRIBUTING.md
  package.json
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1786000000000-AddRequestParamsColumn.spec.ts
  packages/backend/src/database/migrations/1786000000000-AddRequestParamsColumn.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/src/styles/data.css
  packages/frontend/tests/components/MessageDetails.test.tsx
  packages/shared/__tests__/request-params-snapshot.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/request-params-snapshot.ts
  packages/shared/src/request-params.ts
  packages/wingman/src/components/AssistantMessage.tsx
Due: backend, frontend

refactor(frontend): split MessageDetails section components
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/MessageDetailsSections.tsx
Due: frontend

test: cover formatTimeAgo + refreshProvider error path
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/frontend/tests/services/formatters.test.ts
Due: backend

feat: per-provider model refresh with truthful feedback
  .changeset/per-provider-refresh-models.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/provider.controller.ts
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/RoutingModals.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/services/formatters.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/ProviderDetailView.test.tsx
  packages/frontend/tests/services/api-extra.test.ts
Due: backend, frontend

fix: forward fallback routes from specificity wrapper
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/tests/pages/RoutingSpecificitySection.test.tsx
Due: frontend

feat: add Anthropic Claude Pro/Max OAuth subscription flow
  .changeset/anthropic-oauth.md
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.config.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/backend/src/routing/oauth/core/callback-page.spec.ts
  packages/backend/src/routing/oauth/core/callback-page.ts
  packages/backend/src/routing/oauth/core/index.ts
  packages/backend/src/routing/oauth/core/oauth-blob.spec.ts
  packages/backend/src/routing/oauth/core/oauth-blob.ts
  packages/backend/src/routing/oauth/core/pending-store.spec.ts
  packages/backend/src/routing/oauth/core/pending-store.ts
  packages/backend/src/routing/oauth/core/pkce.spec.ts
  packages/backend/src/routing/oauth/core/pkce.ts
  packages/backend/src/routing/oauth/oauth.module.ts
  packages/backend/src/routing/oauth/openai-oauth.service.ts
  packages/backend/src/routing/oauth/openai-oauth.types.ts
  packages/backend/src/routing/openai-oauth.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/components/AnthropicOAuthDetailView.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/services/api/oauth.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/AnthropicOAuthDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/api/oauth.test.ts
  packages/frontend/tests/services/providers.test.ts
Due: backend, frontend

fix: forward fallback routes from header-tier picker
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
Due: frontend

fix: surface success and error toasts on header-tier add fallback
  packages/frontend/src/components/HeaderTierCard.tsx
Due: frontend

fix: apply optimistic fallback updates on header tiers
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
Due: frontend

fix(routing): restore Model Parameters dialog dropped during stacked-PR merge
  .changeset/restore-model-params-dialog.md
  packages/backend/src/routing/__tests__/specificity.controller.spec.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/routing-core/__tests__/specificity.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
  packages/backend/src/routing/routing-core/specificity.service.ts
  packages/backend/src/routing/routing-core/tier.service.ts
  packages/backend/src/routing/specificity.controller.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/backend/src/routing/tier.controller.ts
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/services/api/specificity.ts
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
  packages/frontend/tests/services/api/specificity.test.ts
  packages/frontend/tests/services/routing.test.ts
Due: backend, frontend

fix: drop parallel persist call from specificity onFallbackUpdate
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

test(routing): cover sliders icon, dialog wiring, and Section param-defaults props
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
  packages/frontend/tests/pages/RoutingSpecificitySection.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: none

fix: type onFallbackUpdate prop for routes argument
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
Due: frontend

test: cover the optimistic mutate paths added by route-aware persist
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
Due: none

chore: clean up doc drift, dev-only deps, and dead module
  .github/dependabot.yml
  CLAUDE.md
  package-lock.json
  packages/backend/package.json
  packages/frontend/src/services/display-name.ts
  packages/frontend/tests/services/display-name.test.ts
Due: frontend

fix: include record_messages in findAgentInfo response
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/services/agent-lifecycle.service.spec.ts
  packages/backend/src/analytics/services/agent-lifecycle.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/recording-capture.ts
Due: backend

feat(routing): add param_defaults to header tiers
  .changeset/header-tier-param-defaults.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1787000000000-AddHeaderTierParamDefaults.spec.ts
  packages/backend/src/database/migrations/1787000000000-AddHeaderTierParamDefaults.ts
  packages/backend/src/entities/header-tier.entity.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/header-tiers/__tests__/header-tier.service.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.ts
  packages/backend/src/routing/header-tiers/header-tier.service.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
Due: backend

fix: preserve isResponses across stream warm-up
  .changeset/cyan-knives-own.md
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix(routing): show params button when DeepSeek is a fallback
  .changeset/params-fallback-visibility.md
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: frontend

fix(routing): place params button next to the route that consumes it
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: frontend

test(routing): cover fallback-iteration in paramSurfaceProvider
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: none

fix(routing): use resolved provId for params-button visibility on fallback rows
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/tests/components/FallbackList.test.tsx
Due: frontend

docs(benchmark): final update all docs — benchmark COMPLETE
  benchmark/FINDINGS.md
  benchmark/LIMITATIONS.md
  benchmark/METHODOLOGY.md
  benchmark/QUESTIONS.md
  benchmark/RELATED_WORK.md
  benchmark/SESSION_NOTES.md
Due: none

docs(benchmark): audit fixes — consistent numbers, provider clarification, dataset coverage
  benchmark/FINDINGS.md
  benchmark/METHODOLOGY.md
  benchmark/QUESTIONS.md
  benchmark/RELATED_WORK.md
Due: none

docs(benchmark): add suspect models investigation report
  benchmark/SUSPECT_MODELS_INVESTIGATION.md
Due: none

fix(routing): strip non-standard `ref` keyword from Gemini tool params
  .changeset/fix-issue-1858-strip-ref-keyword.md
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
Due: backend

fix(model-discovery): keep canonical gemini-*-flash-lite-preview aliases
  .changeset/fix-issue-1814-flash-lite-preview.md
  packages/backend/src/model-discovery/filter-non-chat-models.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

docs(benchmark): data quality check — 950 additional zeros found
  benchmark/DATA_QUALITY_CHECK.md
Due: none

feat: add OpenCode Zen as an API-key provider
  .changeset/opencode-zen-provider.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/provider-inference.spec.ts
  packages/shared/src/provider-inference.ts
  packages/shared/src/providers.ts
Due: backend, frontend

fix(opencode-zen): route every model through unified /v1/chat/completions
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

feat(opencode-zen): route Gemini through dedicated generateContent endpoint
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
