Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

feat(frontend): add the Google Vertex AI provider icon
  packages/frontend/public/icons/vertex.svg
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/tests/components/ProviderIcon.test.tsx
Due: frontend

fix(test): wait for the async message writer before counting rows
  packages/backend/test/message-log-completeness.e2e-spec.ts
Due: none

fix(test): wait for the async message writer before counting rows (#2741)
  packages/backend/test/message-log-completeness.e2e-spec.ts
Due: none

Fix PR comments: fallback mutations, quota parsing, model-route roundtrips
  packages/backend/src/routing/subscription-quota.service.spec.ts
  packages/backend/src/routing/subscription-quota.service.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/shared/__tests__/model-route.spec.ts
  packages/shared/src/model-route.ts
Due: backend, frontend

fix: serialize fallback drops and expand quota coverage
  packages/backend/src/routing/subscription-quota.service.spec.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/tests/components/FallbackList.test.tsx
Due: backend, frontend

Fix pagination layout in grid view
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
Due: frontend

feat: sync manifest subscription model lists (2026-08-20)
  packages/shared/src/subscription/configs.ts
Due: none

feat: sync manifest subscription model lists (2026-08-20) (#2742)
  packages/shared/src/subscription/configs.ts
Due: none

feat(frontend): add the Google Vertex AI provider icon (#2740)
  packages/frontend/public/icons/vertex.svg
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/tests/components/ProviderIcon.test.tsx
Due: frontend

fix: fall back after empty chat completions
  .changeset/fallback-empty-chat-completions.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: address empty fallback review findings
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: fall back after empty chat completions (#2743)
  .changeset/fallback-empty-chat-completions.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

feat(admin): scoped AI-admin API surface (mnfst_admin_ai_*) — M1
  .changeset/agent-admin-api.md
  packages/backend/src/admin/admin.module.ts
  packages/backend/src/admin/controllers/admin.controller.ts
  packages/backend/src/admin/guards/admin-ai.guard.spec.ts
  packages/backend/src/admin/guards/admin-ai.guard.ts
  packages/backend/src/admin/services/admin-key.service.ts
  packages/backend/src/app.module.ts
  packages/backend/src/common/constants/admin-key.constants.ts
  packages/backend/src/common/guards/api-key.guard.ts
  packages/backend/src/database/migrations/1802000000000-AddApiKeyScope.ts
  packages/backend/src/entities/api-key.entity.ts
Due: backend

feat(admin): agent CRUD, provider-key attach + match-verify, observability (M2-M4)
  .changeset/agent-admin-api.md
  packages/backend/src/admin/admin.module.ts
  packages/backend/src/admin/controllers/admin-agent.controller.ts
  packages/backend/src/admin/controllers/admin-observability.controller.ts
  packages/backend/src/admin/controllers/admin-provider.controller.ts
  packages/backend/src/database/migrations/1802000001000-AddTenantProviderKeyHash.ts
  packages/backend/src/entities/tenant-provider.entity.ts
  packages/backend/src/routing/routing-core/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

fix(admin): wire admin module correctly + register migrations
  packages/backend/src/admin/admin.module.ts
  packages/backend/src/admin/controllers/admin-provider.controller.ts
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/database/data-source-definitions.ts
Due: backend

fix(admin): decorate CreateAdminKeyDto.name so POST /admin/keys accepts it
  packages/backend/src/admin/controllers/admin.controller.ts
Due: backend

fix: route OpenCode Go Responses-only models to /v1/responses
  .changeset/opencode-go-responses-routing.md
  packages/backend/src/model-discovery/opencode-go-catalog.service.spec.ts
  packages/backend/src/model-discovery/opencode-go-catalog.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

docs: fix grammar in README (#2719)
  README.md
Due: none

fix: route OpenCode Go Responses-only models to /v1/responses (#2748)
  .changeset/opencode-go-responses-routing.md
  packages/backend/src/model-discovery/opencode-go-catalog.service.spec.ts
  packages/backend/src/model-discovery/opencode-go-catalog.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

fix(limits): guard the email section on deployment mode and decouple the remove flow
  .changeset/limits-email-provider-polish.md
  packages/frontend/src/components/EmailProviderSection.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/tests/components/EmailProviderSection.test.tsx
  packages/frontend/tests/pages/Limits-interactions.test.tsx
  packages/frontend/tests/pages/Limits.test.tsx
Due: frontend

test(limits): await the cloud email card now that the section waits for the mode
  packages/frontend/tests/pages/Limits.test.tsx
Due: none

fix(limits): read the email provider through an error-safe accessor
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/tests/pages/Limits.test.tsx
Due: frontend

test(limits): wait for the failed fetch to settle before asserting
  packages/frontend/tests/pages/Limits.test.tsx
Due: none

perf(db): slim agent_messages dedup index to tenant+agent+model
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1802000000000-SlimTenantAgentModelIndex.spec.ts
  packages/backend/src/database/migrations/1802000000000-SlimTenantAgentModelIndex.ts
  packages/backend/src/entities/agent-message.entity.ts
Due: backend

feat(providers): cap the connections list and add a Show all button
  .changeset/connections-collapse.md
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: frontend

fix(providers): hold the cap on mobile and clear the stale bottom fade
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: frontend

feat(providers): cap the connections list at six and a half rows
  .changeset/connections-collapse.md
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: frontend

test(providers): correct the threshold named in the section comment
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: none

fix(admin): address cubic review findings on PR #2747
  packages/backend/src/admin/controllers/admin-agent.controller.ts
  packages/backend/src/admin/controllers/admin-observability.controller.ts
  packages/backend/src/admin/controllers/admin-provider.controller.ts
  packages/backend/src/admin/controllers/admin.controller.ts
  packages/backend/src/admin/decorators/admin-bootstrap.decorator.ts
  packages/backend/src/admin/guards/admin-ai.guard.spec.ts
  packages/backend/src/admin/guards/admin-ai.guard.ts
  packages/backend/src/admin/services/admin-key.service.ts
  packages/backend/src/common/guards/api-key.guard.ts
  packages/backend/src/database/migrations/1802000000000-AddApiKeyScope.ts
  packages/backend/src/database/migrations/1802000001000-AddTenantProviderKeyHash.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

feat: restore the $25 Gemini credit user-discovery offer
  .changeset/remove-user-discovery-offer.md
  .changeset/restore-user-discovery-offer.md
  packages/frontend/public/images/discovery-banner.jpg
  packages/frontend/src/components/UserDiscoveryBanner.tsx
  packages/frontend/src/components/UserDiscoveryModal.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/overview.css
  packages/frontend/tests/components/UserDiscoveryBanner.test.tsx
  packages/frontend/tests/components/UserDiscoveryModal.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
Due: frontend

fix: book the user-discovery offer on the 30 minute slot
  packages/frontend/src/components/UserDiscoveryBanner.tsx
Due: frontend

fix(db): drop invalid index shell before concurrent rebuild
  packages/backend/src/database/migrations/1802000000000-SlimTenantAgentModelIndex.spec.ts
  packages/backend/src/database/migrations/1802000000000-SlimTenantAgentModelIndex.ts
Due: backend

test: fix request-recording e2e for proxy usage.cost injection
  packages/backend/test/request-recordings.e2e-spec.ts
Due: none

test(db): exercise invalid-shell drop path in slim index migration
  packages/backend/src/database/migrations/1802000000000-SlimTenantAgentModelIndex.spec.ts
Due: backend

test: make messages cache-token cost assertions deterministic
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
Due: none

fix: pass raw model name to computeQualityScore and sync changeset config
  .changeset/config.json
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
Due: backend

Add changeset for subscription probe fix
  .changeset/subscription-probe-fix.md
Due: none

fix: keep model params syncing with the new modelparams.dev format
  .changeset/modelparams-nested-envelope.md
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
Due: backend

perf(db): slim agent_messages dedup index to tenant+agent+model (#2750)
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1802000000000-SlimTenantAgentModelIndex.spec.ts
  packages/backend/src/database/migrations/1802000000000-SlimTenantAgentModelIndex.ts
  packages/backend/src/entities/agent-message.entity.ts
Due: backend

fix: preserve quota skip state when promoting fallbacks
  packages/frontend/src/pages/RoutingActions.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/api/header-tiers.ts
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/services/api/specificity.ts
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/frontend/tests/services/api/routing-routes.test.ts
Due: frontend
