Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

test: cover provider tile and local-server detail view gaps
  packages/frontend/src/components/LocalServerDetailView.tsx
  packages/frontend/src/components/ProviderApiKeyTab.tsx
  packages/frontend/tests/components/LocalServerDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
Due: frontend

chore(frontend): use official LM Studio and llama.cpp logos
  packages/frontend/public/icons/llamacpp.png
  packages/frontend/public/icons/lmstudio.png
Due: none

feat(proxy): advertise honest context window for manifest/auto
  .changeset/advertise-honest-context-window.md
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/analytics/services/agent-lifecycle.service.spec.ts
  packages/backend/src/analytics/services/agent-lifecycle.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/common/dto/rename-agent.dto.spec.ts
  packages/backend/src/common/dto/rename-agent.dto.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1777100000000-AddAgentContextFloorOverride.spec.ts
  packages/backend/src/database/migrations/1777100000000-AddAgentContextFloorOverride.ts
  packages/backend/src/entities/agent.entity.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/context-advertisement.service.spec.ts
  packages/backend/src/routing/proxy/context-advertisement.service.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/test/context-advertisement.e2e-spec.ts
  packages/frontend/src/components/OpenClawSetup.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/services/api/agents.ts
  packages/frontend/src/services/api/routing.ts
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/services/api.test.ts
Due: backend, frontend

fix: address review feedback
  packages/backend/src/routing/proxy/context-advertisement.service.spec.ts
  packages/backend/src/routing/proxy/context-advertisement.service.ts
Due: backend

feat(routing): custom header-triggered tiers — backend
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1776710000000-AddHeaderTiers.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/entities/header-tier.entity.ts
  packages/backend/src/routing/dto/resolve-response.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.ts
  packages/backend/src/routing/header-tiers/header-tier.service.ts
  packages/backend/src/routing/header-tiers/header-tiers.module.ts
  packages/backend/src/routing/header-tiers/seen-headers.controller.ts
  packages/backend/src/routing/header-tiers/seen-headers.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.module.ts
  packages/backend/src/routing/resolve/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/routing-cache.service.ts
  packages/backend/src/routing/routing.module.ts
  packages/backend/src/scoring/types.ts
  packages/shared/src/index.ts
  packages/shared/src/tier-colors.ts
Due: backend

test(routing): specs for header-tier service, seen headers, resolve hook
  packages/backend/src/routing/header-tiers/header-tier.service.spec.ts
  packages/backend/src/routing/header-tiers/seen-headers.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.spec.ts
Due: backend

feat(routing): frontend API client for header tiers
  packages/frontend/src/services/api/header-tiers.ts
Due: frontend

feat(routing): custom header-tier UI — section, create modal, card, badge
  packages/frontend/src/components/CreateHeaderTierModal.tsx
  packages/frontend/src/components/HeaderComboBox.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/routing-header-tiers.css
Due: frontend

chore: changeset for header routing tiers
  .changeset/header-routing-tiers.md
Due: none

test(routing): frontend coverage for header tier UI
  packages/frontend/tests/components/CreateHeaderTierModal.test.tsx
  packages/frontend/tests/components/HeaderComboBox.test.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
Due: none

fix(routing): bound reorder loop by DB row count
  packages/backend/src/routing/header-tiers/header-tier.service.ts
Due: backend

fix(test): register HeaderTier in e2e TypeORM entities
  packages/backend/test/helpers.ts
Due: none

test(routing): cover non-array reorder payload
  packages/backend/src/routing/header-tiers/header-tier.service.spec.ts
Due: backend

test(routing): header-tier + seen-headers controller specs
  packages/backend/src/routing/header-tiers/header-tier.controller.spec.ts
  packages/backend/src/routing/header-tiers/seen-headers.controller.spec.ts
Due: backend

test(routing): close the last header-tier branch coverage gaps
  packages/backend/src/routing/header-tiers/header-tier.service.spec.ts
Due: backend

test(api): cover frontend header-tiers API client fully
  packages/frontend/tests/services/header-tiers-api.test.ts
Due: none

fix: address Cubic review feedback
  packages/backend/src/entities/header-tier.entity.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.ts
  packages/backend/src/routing/header-tiers/header-tier.service.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.service.ts
  packages/backend/src/routing/header-tiers/seen-headers.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/resolve/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
Due: backend, frontend

test: extend HeaderTierCard coverage
  packages/frontend/tests/components/HeaderTierCard.test.tsx
Due: none

fix(ui): close kebab menu on pointerdown outside the container
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
Due: frontend

feat(providers): add NanoGPT built-in provider
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/services/providers.test.ts
  packages/shared/src/providers.ts
Due: backend, frontend

fix(shared): infer NanoGPT-prefixed models correctly
  packages/shared/src/provider-inference.ts
Due: none

feat(frontend): add NanoGPT provider logo
  packages/frontend/public/icons/providers/nano-gpt.svg
  packages/frontend/src/components/ProviderIcon.tsx
Due: frontend

test(providers): cover NanoGPT parity cases
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/common/utils/provider-inference.spec.ts
  packages/frontend/tests/components/ProviderIcon.test.tsx
Due: backend

feat(providers): add NanoGPT subscription mode
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/provider-hooks.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend, frontend

feat(providers): keep LM Studio as the sole local-server tile; prune vLLM / llama.cpp
  .changeset/local-llm-tiles.md
  docker/DOCKER_README.md
  docker/docker-compose.yml
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/custom-provider/probe-error.spec.ts
  packages/backend/src/routing/custom-provider/probe-error.ts
  packages/backend/src/routing/dto/custom-provider.dto.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/setup/setup.controller.spec.ts
  packages/backend/src/setup/setup.controller.ts
  packages/backend/src/setup/setup.service.ts
  packages/backend/test/custom-providers.e2e-spec.ts
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/LocalServerDetailView.tsx
  packages/frontend/src/components/ProviderApiKeyTab.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/src/services/setup-status.ts
  packages/frontend/tests/components/CustomProviderForm.test.tsx
  packages/frontend/tests/components/LocalServerDetailView.test.tsx
  packages/frontend/tests/components/ProviderApiKeyTab.test.tsx
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/components/ProviderSelectContent.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/frontend/tests/services/setup-status.test.ts
  packages/shared/src/index.ts
  packages/shared/src/providers.ts
Due: backend, frontend

feat(routing): add SDK snippet wizard for header tiers + fix routing_reason on fallback paths
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/frontend/src/components/CreateHeaderTierModal.tsx
  packages/frontend/src/components/FrameworkSnippets.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/HeaderTierModal.tsx
  packages/frontend/src/components/HeaderTierSnippetModal.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/framework-snippets.ts
  packages/frontend/src/styles/routing-header-tiers.css
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/CreateHeaderTierModal.test.tsx
  packages/frontend/tests/components/FrameworkSnippets.test.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/HeaderTierModal.test.tsx
  packages/frontend/tests/components/HeaderTierSnippetModal.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/frontend/tests/services/framework-snippets.test.ts
Due: backend, frontend

fix(backend): update header-tier.entity import after sql-dialect rename on main
  packages/backend/src/entities/header-tier.entity.ts
Due: backend

fix: address Cubic review feedback
  packages/backend/src/routing/header-tiers/header-tier.controller.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/HeaderTierModal.tsx
  packages/frontend/src/services/framework-snippets.ts
  packages/frontend/tests/components/HeaderTierModal.test.tsx
  packages/frontend/tests/services/framework-snippets.test.ts
Due: backend, frontend

style(frontend): add tier-badge--default for default-routed messages
  packages/frontend/src/styles/data.css
Due: frontend

test(frontend): raise patch coverage on new Routing sections
  packages/frontend/tests/pages/Routing-complexity-integration.test.tsx
  packages/frontend/tests/pages/RoutingComplexitySection.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
Due: none

fix(tier-service): rethrow insert failures that aren't a concurrent-race
  packages/backend/src/routing/routing-core/tier.service.spec.ts
  packages/backend/src/routing/routing-core/tier.service.ts
Due: backend

fix: tighten multi-account provider review fixes
  MULTI_ACCOUNT_PROVIDER_PLAN.md
  packages/backend/src/database/migrations/1777100000000-MultiAccountProvider.spec.ts
  packages/backend/src/database/migrations/1777100000000-MultiAccountProvider.ts
  packages/backend/src/routing/dto/routing.dto.spec.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/oauth/openai-oauth.controller.ts
  packages/backend/src/routing/oauth/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/openai-oauth.service.ts
  packages/backend/src/routing/openai-oauth.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/backend/src/routing/routing-core/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/routing-core/tier.service.spec.ts
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingActions.tsx
Due: backend, frontend

docs: remove multi-account provider plan
  MULTI_ACCOUNT_PROVIDER_PLAN.md
Due: none

feat(proxy): context-aware routing — skip tier models that can't fit
  .changeset/context-aware-routing.md
  CLAUDE.md
  package-lock.json
  packages/backend/package.json
  packages/backend/src/routing/dto/resolve-response.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/token-estimate.spec.ts
  packages/backend/src/routing/proxy/token-estimate.ts
  packages/backend/src/routing/resolve/context-fit.spec.ts
  packages/backend/src/routing/resolve/context-fit.ts
  packages/backend/src/routing/resolve/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/test/context-aware-routing.e2e-spec.ts
Due: backend

fix: harden multi-account migration rollback
  packages/backend/src/database/migrations/1777100000000-MultiAccountProvider.spec.ts
  packages/backend/src/database/migrations/1777100000000-MultiAccountProvider.ts
Due: backend

fix: address review feedback
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/token-estimate.spec.ts
  packages/backend/src/routing/proxy/token-estimate.ts
  packages/backend/src/routing/resolve/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
Due: backend

fix: address remaining cubic review feedback
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/__tests__/specificity.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/components/ProviderDetailView.tsx
Due: backend, frontend

fix: address review feedback
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
