Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

ui(message-log): streaming response text in DM Sans, no dash, no italic
  packages/frontend/src/components/RecordedResponseTab.tsx
Due: frontend

ui: header z-index above drawer, dark mode role colors and highlight fix
  packages/frontend/src/styles/controls.css
  packages/frontend/src/styles/recording.css
Due: frontend

fix: header dropdown z-index above drawer
  packages/frontend/src/styles/controls.css
  packages/frontend/src/styles/recording.css
Due: frontend

test: update tests for new message log UI and settings danger zone
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/components/RecordedMessageModal.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: none

fix: metadata collapse fully hides to 0px when toggled
  packages/frontend/src/components/RecordedDrawerChrome.tsx
  packages/frontend/src/components/RecordedMessageModal.tsx
Due: frontend

fix: migration preserves existing preferences, row click ignores buttons, focus trap pauses for delete modal
  packages/backend/src/database/migrations/1786300000000-DefaultRecordMessagesTrue.ts
  packages/frontend/src/components/MessageTable.tsx
  packages/frontend/src/components/RecordedMessageModal.tsx
  packages/frontend/src/styles/recording.css
Due: backend, frontend

feat: refresh MPS cache from signed webhook
  .changeset/quiet-pens-shake.md
  docs/model-parameters-schema.md
  packages/backend/src/config/app.config.spec.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/main.ts
  packages/backend/src/routing/__tests__/model-parameters-webhook.controller.spec.ts
  packages/backend/src/routing/model-parameters-webhook.controller.ts
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
  packages/backend/src/routing/routing.module.ts
Due: backend

ui: resizable sidebar in recorded message drawer
  packages/frontend/src/components/RecordedTabContent.tsx
  packages/frontend/src/styles/recording.css
Due: frontend

Redesign message log viewer and settings recording controls (#1959)
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1786300000000-DefaultRecordMessagesTrue.ts
  packages/backend/src/entities/agent.entity.ts
  packages/frontend/src/components/MessageTable.tsx
  packages/frontend/src/components/RecordedDrawerChrome.tsx
  packages/frontend/src/components/RecordedMessageModal.tsx
  packages/frontend/src/components/RecordedOutline.tsx
  packages/frontend/src/components/RecordedResponseTab.tsx
  packages/frontend/src/components/RecordedTabContent.tsx
  packages/frontend/src/components/RecordedTurn.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/services/formatters.ts
  packages/frontend/src/styles/controls.css
  packages/frontend/src/styles/data.css
  packages/frontend/src/styles/limits.css
  packages/frontend/src/styles/recording.css
  packages/frontend/tests/components/MessageTable.test.tsx
  packages/frontend/tests/components/RecordedMessageModal.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: backend, frontend

fix: preserve provider labels when duplicating agents
  .changeset/fix-duplicate-agent-provider-labels.md
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.ts
  packages/backend/test/agent-duplication.e2e-spec.ts
Due: backend

fix: support multiple subscription accounts
  .changeset/tidy-subscription-accounts.md
  packages/backend/src/routing/copilot.controller.spec.ts
  packages/backend/src/routing/copilot.controller.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/frontend/src/components/AnthropicOAuthDetailView.tsx
  packages/frontend/src/components/CopilotDeviceLogin.tsx
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/services/provider-key-labels.ts
  packages/frontend/tests/components/AnthropicOAuthDetailView.test.tsx
  packages/frontend/tests/components/CopilotDeviceLogin.test.tsx
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
  packages/frontend/tests/components/OAuthDetailView.test.tsx
Due: backend, frontend

fix: clear disconnected auth routes
  .changeset/auth-scoped-disconnect.md
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

fix: stop slow startup syncs from stalling deploy boot
  .changeset/railway-nonblocking-startup-syncs.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/free-models/free-models-sync.service.spec.ts
  packages/backend/src/free-models/free-models-sync.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
Due: backend

fix: keep subscription add flows visible
  .changeset/soft-oauth-add-flows.md
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/frontend/src/components/AnthropicOAuthDetailView.tsx
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/services/provider-key-labels.ts
  packages/frontend/tests/components/AnthropicOAuthDetailView.test.tsx
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
  packages/frontend/tests/components/OAuthDetailView.test.tsx
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
Due: backend, frontend

fix: cascade-delete agent_model_params when an agent is hard-deleted
  .changeset/cascade-agent-model-params.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1789300000000-AddAgentModelParamsAgentFk.spec.ts
  packages/backend/src/database/migrations/1789300000000-AddAgentModelParamsAgentFk.ts
  packages/backend/src/entities/agent-model-params.entity.ts
Due: backend

fix: support multiple Copilot accounts
  .changeset/calm-copilot-accounts.md
  packages/backend/src/routing/copilot.controller.spec.ts
  packages/backend/src/routing/copilot.controller.ts
  packages/frontend/src/components/CopilotDeviceLogin.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/tests/components/CopilotDeviceLogin.test.tsx
  packages/frontend/tests/components/ProviderSelectContent-copilot-accounts.test.tsx
Due: backend, frontend

test: cover Anthropic OAuth exchange fallback
  packages/frontend/tests/components/AnthropicOAuthDetailView.test.tsx
Due: none

fix: model params dialog drag, cursor, and slider UX
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
Due: frontend

fix: align focus-trap tests with main's refactored signature
  packages/frontend/tests/services/use-focus-trap.test.tsx
Due: none

fix: model params dialog drag, cursor, and slider UX (#1971)
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
Due: frontend

fix: stop dev CORS from blocking Wingman's SDK headers
  packages/backend/src/main.ts
Due: backend

perf: fetch model param specs per-model instead of the full catalog
  .changeset/per-model-param-specs.md
  packages/backend/src/routing/__tests__/model-params.controller.spec.ts
  packages/backend/src/routing/dto/model-params.dto.ts
  packages/backend/src/routing/model-params.controller.ts
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/ModelParamsAffordance.tsx
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/api/model-params.ts
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/frontend/tests/services/api/model-params.test.ts
Due: backend, frontend

chore: point MPS catalog source at modelparams.dev
  docs/model-parameters-schema.md
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
Due: backend

fix: adopt the MPS catalog ETag only after the body parses
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
Due: backend

refactor: drop the unused full-catalog model-param-specs endpoint
  packages/backend/src/routing/__tests__/model-params.controller.spec.ts
  packages/backend/src/routing/model-params.controller.ts
Due: backend

feat: show the params affordance only for models that have specs
  packages/backend/src/routing/__tests__/model-params.controller.spec.ts
  packages/backend/src/routing/model-params.controller.ts
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/ModelParamsAffordance.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingSpecificitySection.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/api/model-params.ts
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/frontend/tests/services/api/model-params.test.ts
Due: backend, frontend

fix(proxy): preserve Google generation config
  .changeset/google-native-generation-config.md
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
Due: backend

test: cover recording components to close Codecov coverage gaps
  package-lock.json
  packages/frontend/src/components/RecordedTabContent.tsx
  packages/frontend/tests/components/RecordedDrawerChrome.test.tsx
  packages/frontend/tests/components/RecordedEssentials.test.tsx
  packages/frontend/tests/components/RecordedMessageModal.test.tsx
  packages/frontend/tests/components/RecordedTabContent.test.tsx
  packages/frontend/tests/components/message-table-cells.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: frontend

feat: add model parameter request flow
  packages/frontend/src/components/ModelParamsAffordance.tsx
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/ModelParamsAffordance.test.tsx
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: frontend

test: cover the modelHasParams prop threading
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
  packages/frontend/tests/pages/RoutingSpecificitySection.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
Due: none

feat(routing): show model parameter descriptions
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
Due: frontend

fix(routing): make manifest model params authoritative
  .changeset/manifest-params-authority.md
  docs/model-parameters-schema.md
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/frontend/src/components/ModelParamsDialog.tsx
  packages/frontend/tests/components/ModelParamsDialog.test.tsx
  packages/shared/__tests__/request-params-snapshot.spec.ts
  packages/shared/__tests__/request-params.spec.ts
  packages/shared/src/request-params-snapshot.ts
  packages/shared/src/request-params.ts
Due: backend, frontend

fix: highlight changed columns in PR schema diagrams
  .github/scripts/db-diagram/__fixtures__/base.json
  .github/scripts/db-diagram/__fixtures__/expected-comment.md
  .github/scripts/db-diagram/__fixtures__/head.json
  .github/scripts/db-diagram/render-diagram.cjs
  .github/scripts/db-diagram/smoke-test.cjs
Due: none

Revert "fix: cascade-delete agent_model_params when an agent is hard-deleted"
  .changeset/cascade-agent-model-params.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1789300000000-AddAgentModelParamsAgentFk.spec.ts
  packages/backend/src/database/migrations/1789300000000-AddAgentModelParamsAgentFk.ts
  packages/backend/src/entities/agent-model-params.entity.ts
Due: backend

feat: keep model params working offline via a bundled catalog snapshot
  .prettierignore
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/mps-catalog-snapshot.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
Due: backend

fix: improve routing UX with skeleton loaders, responsive grid, and modal gaps
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/RoutingPanels.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/styles/modals.css
  packages/frontend/src/styles/notifications.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/src/styles/routing.css
  packages/frontend/src/styles/skeleton.css
  packages/frontend/tests/components/ProviderDetailView.test.tsx
  packages/frontend/tests/pages/RoutingPanels.test.tsx
Due: frontend

fix: show refresh button for connected providers without models_fetched_at
  packages/frontend/src/components/ProviderDetailView.tsx
Due: frontend

ui: constrain non-conversation tabs to container-lg and close drawer on sidebar nav
  packages/frontend/src/components/RecordedTabContent.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/styles/recording.css
Due: frontend

perf: speed up dashboard charts and cap public stats queries
  .changeset/perf-low-hanging-fruit.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1787000000000-AddAgentApiKeyPrefixActiveIndex.spec.ts
  packages/backend/src/database/migrations/1787000000000-AddAgentApiKeyPrefixActiveIndex.ts
  packages/backend/src/public-stats/public-stats.service.ts
  packages/frontend/src/components/CostChart.tsx
  packages/frontend/src/components/SavingsChart.tsx
  packages/frontend/src/components/SingleTokenChart.tsx
  packages/frontend/src/components/TokenChart.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/services/chart-utils.ts
  packages/frontend/tests/services/chart-utils.test.ts
Due: backend, frontend
