Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: fire agent_created telemetry event in local mode
  .changeset/local-mode-agent-telemetry.md
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/otlp/services/api-key.service.spec.ts
Due: backend

fix: separate env reads from network code in telemetry
  .changeset/fix-telemetry-env-separation.md
  packages/openclaw-plugin/src/product-telemetry.ts
  packages/openclaw-plugin/src/telemetry-config.ts
Due: plugin

fix: remove private workspace packages from plugin devDependencies
  .changeset/fix-plugin-npm-install.md
  package-lock.json
  packages/openclaw-plugin/package.json
Due: none

fix: resolve duplicate key and tab-navigation test failures
  packages/backend/test/costs.e2e-spec.ts
  packages/backend/test/model-prices.e2e-spec.ts
  packages/backend/test/routing.e2e-spec.ts
  packages/frontend/tests/pages/Settings.test.tsx
Due: none

fix: clean up plugin install output, surface dashboard URL
  packages/openclaw-plugin/src/hooks.ts
  packages/openclaw-plugin/src/local-mode.ts
  packages/openclaw-plugin/src/telemetry.ts
  packages/openclaw-plugin/src/tools.ts
Due: plugin

fix: update plugin tests to expect debug-level log calls
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/__tests__/telemetry.test.ts
  packages/openclaw-plugin/__tests__/tools.test.ts
Due: none

feat: add per-user email provider configuration for notifications
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1771700000000-EmailProviderConfigs.ts
  packages/backend/src/entities/email-provider-config.entity.ts
  packages/backend/src/notifications/dto/set-email-provider.dto.ts
  packages/backend/src/notifications/notifications.controller.ts
  packages/backend/src/notifications/notifications.module.ts
  packages/backend/src/notifications/services/email-provider-config.service.ts
  packages/backend/src/notifications/services/notification-cron.service.ts
  packages/backend/src/notifications/services/notification-email.service.ts
  packages/frontend/public/logos/mailgun.svg
  packages/frontend/public/logos/resend.svg
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/EmailProviderSetup.tsx
  packages/frontend/src/components/ProviderBanner.tsx
  packages/frontend/src/pages/Notifications.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/styles/notifications.css
Due: backend, frontend

chore: add changeset for email provider feature
  .changeset/email-provider-config.md
Due: none

fix: update tests for email provider config dependency
  .changeset/email-provider-config.md
  packages/backend/src/notifications/notifications.controller.spec.ts
  packages/backend/src/notifications/services/notification-cron.service.spec.ts
  packages/frontend/tests/pages/Notifications.test.tsx
Due: backend

feat: per-user email provider configuration for notifications (#819)
  .changeset/email-provider-config.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1771700000000-EmailProviderConfigs.ts
  packages/backend/src/entities/email-provider-config.entity.ts
  packages/backend/src/notifications/dto/set-email-provider.dto.ts
  packages/backend/src/notifications/notifications.controller.spec.ts
  packages/backend/src/notifications/notifications.controller.ts
  packages/backend/src/notifications/notifications.module.ts
  packages/backend/src/notifications/services/email-provider-config.service.ts
  packages/backend/src/notifications/services/notification-cron.service.spec.ts
  packages/backend/src/notifications/services/notification-cron.service.ts
  packages/backend/src/notifications/services/notification-email.service.ts
  packages/frontend/public/logos/mailgun.svg
  packages/frontend/public/logos/resend.svg
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/EmailProviderSetup.tsx
  packages/frontend/src/components/ProviderBanner.tsx
  packages/frontend/src/pages/Notifications.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/styles/notifications.css
  packages/frontend/tests/pages/Notifications.test.tsx
Due: backend, frontend

Revert "feat: per-user email provider configuration for notifications (#819)"
  .changeset/email-provider-config.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1771700000000-EmailProviderConfigs.ts
  packages/backend/src/entities/email-provider-config.entity.ts
  packages/backend/src/notifications/dto/set-email-provider.dto.ts
  packages/backend/src/notifications/notifications.controller.spec.ts
  packages/backend/src/notifications/notifications.controller.ts
  packages/backend/src/notifications/notifications.module.ts
  packages/backend/src/notifications/services/email-provider-config.service.ts
  packages/backend/src/notifications/services/notification-cron.service.spec.ts
  packages/backend/src/notifications/services/notification-cron.service.ts
  packages/backend/src/notifications/services/notification-email.service.ts
  packages/frontend/public/logos/mailgun.svg
  packages/frontend/public/logos/resend.svg
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/EmailProviderSetup.tsx
  packages/frontend/src/components/ProviderBanner.tsx
  packages/frontend/src/pages/Notifications.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/styles/notifications.css
  packages/frontend/tests/pages/Notifications.test.tsx
Due: backend, frontend

chore: reduce manifest npm package size by ~60%
  .changeset/reduce-package-size.md
  packages/frontend/index.html
  packages/frontend/public/example-messages-dark.svg
  packages/frontend/public/example-messages.svg
  packages/frontend/public/example-overview-dark.svg
  packages/frontend/public/example-overview.svg
  packages/frontend/public/fonts/boxicons/boxicons-duotone.min.css
  packages/frontend/public/fonts/boxicons/boxicons-duotone.ttf
  packages/frontend/public/fonts/boxicons/boxicons-duotone.woff
  packages/frontend/public/fonts/boxicons/boxicons-duotone.woff2
  packages/frontend/public/logo-white.svg
  packages/frontend/public/logo.png
  packages/frontend/public/logo.svg
  packages/frontend/public/og-image.png
  packages/frontend/src/components/NotificationEmailSection.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/styles/data.css
  packages/openclaw-plugin/public/assets/EmailProviderConfig-BWTWQMLx.js
  packages/openclaw-plugin/public/assets/EmailProviderConfig-myeg-mr1.js
  packages/openclaw-plugin/public/assets/NotificationEmailSection-CgdATWK2.js
  packages/openclaw-plugin/public/assets/NotificationEmailSection-D4q7OFkR.js
  packages/openclaw-plugin/public/assets/index-CyTg3_v5.js
  packages/openclaw-plugin/public/assets/index-D6VMzqMs.js
  packages/openclaw-plugin/public/assets/index-Dn0JJjxw.css
  packages/openclaw-plugin/public/assets/index-LhnDr_YD.css
  packages/openclaw-plugin/public/example-messages-dark.svg
  packages/openclaw-plugin/public/example-messages.svg
  packages/openclaw-plugin/public/example-overview-dark.svg
  packages/openclaw-plugin/public/example-overview.svg
  packages/openclaw-plugin/public/fonts/boxicons/boxicons-duotone.min.css
  packages/openclaw-plugin/public/fonts/boxicons/boxicons-duotone.ttf
  packages/openclaw-plugin/public/fonts/boxicons/boxicons-duotone.woff
  packages/openclaw-plugin/public/fonts/boxicons/boxicons-duotone.woff2
  packages/openclaw-plugin/public/index.html
  packages/openclaw-plugin/public/logo-white.svg
  packages/openclaw-plugin/public/logo.png
  packages/openclaw-plugin/public/logo.svg
  packages/openclaw-plugin/public/og-image.png
Due: frontend

chore: add changeset for revert
  .changeset/revert-email-provider.md
Due: none

fix: use correct package name in changeset
  .changeset/revert-email-provider.md
Due: none

revert: per-user email provider configuration for notifications (#819) (#821)
  .changeset/email-provider-config.md
  .changeset/revert-email-provider.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1771700000000-EmailProviderConfigs.ts
  packages/backend/src/entities/email-provider-config.entity.ts
  packages/backend/src/notifications/dto/set-email-provider.dto.ts
  packages/backend/src/notifications/notifications.controller.spec.ts
  packages/backend/src/notifications/notifications.controller.ts
  packages/backend/src/notifications/notifications.module.ts
  packages/backend/src/notifications/services/email-provider-config.service.ts
  packages/backend/src/notifications/services/notification-cron.service.spec.ts
  packages/backend/src/notifications/services/notification-cron.service.ts
  packages/backend/src/notifications/services/notification-email.service.ts
  packages/frontend/public/logos/mailgun.svg
  packages/frontend/public/logos/resend.svg
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/EmailProviderSetup.tsx
  packages/frontend/src/components/ProviderBanner.tsx
  packages/frontend/src/pages/Notifications.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/styles/notifications.css
  packages/frontend/tests/pages/Notifications.test.tsx
Due: backend, frontend

feat: redesign Model Prices filter with autocomplete search and provider logos
  package-lock.json
  package.json
  packages/frontend/public/icons/providers/alibaba.svg
  packages/frontend/public/icons/providers/amazon.svg
  packages/frontend/public/icons/providers/anthropic.svg
  packages/frontend/public/icons/providers/cohere.svg
  packages/frontend/public/icons/providers/deepseek.svg
  packages/frontend/public/icons/providers/google.svg
  packages/frontend/public/icons/providers/meta.svg
  packages/frontend/public/icons/providers/mistral.svg
  packages/frontend/public/icons/providers/moonshot.svg
  packages/frontend/public/icons/providers/openai.svg
  packages/frontend/public/icons/providers/xai.svg
  packages/frontend/public/icons/providers/zhipu.svg
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/ModelPricesFilterBar.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/ModelPrices.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/styles/model-filter.css
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

chore: add changeset for model prices filter redesign
  .changeset/model-prices-filter-redesign.md
Due: none

test: add 17 tests for ModelPrices autocomplete filter
  packages/frontend/tests/pages/ModelPrices.test.tsx
Due: none

fix: make pricing sync resilient and trigger on startup
  .changeset/fix-pricing-sync-resilience.md
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/pricing-sync.service.ts
Due: backend

fix: remove platform-specific @rollup/rollup-darwin-arm64 from root dependencies
  package-lock.json
  package.json
Due: none

fix: resolve TS strict errors and add manifest to changeset
  .changeset/model-prices-filter-redesign.md
  packages/frontend/src/components/ModelPricesFilterBar.tsx
  packages/frontend/src/styles/model-filter.css
Due: frontend

feat: redesign Model Prices filter with autocomplete search and provider logos (#823)
  .changeset/model-prices-filter-redesign.md
  package-lock.json
  package.json
  packages/frontend/public/icons/providers/alibaba.svg
  packages/frontend/public/icons/providers/amazon.svg
  packages/frontend/public/icons/providers/anthropic.svg
  packages/frontend/public/icons/providers/cohere.svg
  packages/frontend/public/icons/providers/deepseek.svg
  packages/frontend/public/icons/providers/google.svg
  packages/frontend/public/icons/providers/meta.svg
  packages/frontend/public/icons/providers/mistral.svg
  packages/frontend/public/icons/providers/moonshot.svg
  packages/frontend/public/icons/providers/openai.svg
  packages/frontend/public/icons/providers/xai.svg
  packages/frontend/public/icons/providers/zhipu.svg
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/ModelPricesFilterBar.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/ModelPrices.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/styles/model-filter.css
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/ModelPrices.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

feat: add test-before-save validation for email provider configuration
  .changeset/email-provider-config.md
  package-lock.json
  package.json
  packages/backend/src/notifications/dto/set-email-provider.dto.ts
  packages/backend/src/notifications/notifications.controller.spec.ts
  packages/backend/src/notifications/notifications.controller.ts
  packages/backend/src/notifications/services/email-provider-config.service.ts
  packages/backend/src/notifications/services/email-provider-validation.spec.ts
  packages/backend/src/notifications/services/email-provider-validation.ts
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/styles/notifications.css
  packages/frontend/tests/pages/Notifications.test.tsx
Due: backend, frontend

feat: add version indicator with update notification
  .changeset/version-indicator-update-notification.md
  packages/backend/src/health/health.controller.spec.ts
  packages/backend/src/health/health.controller.ts
  packages/backend/src/health/health.module.ts
  packages/backend/src/health/version-check.service.spec.ts
  packages/backend/src/health/version-check.service.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/VersionIndicator.tsx
  packages/frontend/src/services/local-mode.ts
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/version-indicator.css
  packages/frontend/tests/components/App.test.tsx
  packages/frontend/tests/components/VersionIndicator.test.tsx
  packages/openclaw-plugin/src/server.ts
Due: backend, frontend, plugin

refactor: improve code quality, extract components, expand test coverage
  .changeset/merge-server-sqljs.md
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/session-momentum.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/backend/src/routing/scorer/__tests__/score-request-advanced.spec.ts
  packages/backend/src/routing/scorer/index.ts
  packages/backend/src/routing/scorer/keyword-trie.ts
  packages/backend/src/routing/scorer/overrides.ts
  packages/backend/src/routing/scorer/types.ts
  packages/backend/src/routing/tier-auto-assign.service.ts
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/components/RoutingInstructionModal.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/manifest-server/public/assets/EmailProviderConfig-BzD3P1U7.js
  packages/manifest-server/public/assets/EmailProviderConfig-DFc3fXIX.js
  packages/manifest-server/public/assets/NotificationEmailSection-BKZq4RgM.js
  packages/manifest-server/public/assets/NotificationEmailSection-DwNSWw1i.js
  packages/manifest-server/public/assets/index-BLzdmOkQ.js
  packages/manifest-server/public/assets/index-CLd2-kkJ.css
  packages/manifest-server/public/assets/index-CPgb8Thm.js
  packages/manifest-server/public/assets/index-gfp63omk.css
  packages/manifest-server/public/index.html
  packages/openclaw-plugin/public/assets/EmailProviderConfig-BzD3P1U7.js
  packages/openclaw-plugin/public/assets/EmailProviderConfig-DFc3fXIX.js
  packages/openclaw-plugin/public/assets/NotificationEmailSection-BKZq4RgM.js
  packages/openclaw-plugin/public/assets/NotificationEmailSection-DwNSWw1i.js
  packages/openclaw-plugin/public/assets/index-BLzdmOkQ.js
  packages/openclaw-plugin/public/assets/index-CLd2-kkJ.css
  packages/openclaw-plugin/public/assets/index-CPgb8Thm.js
  packages/openclaw-plugin/public/assets/index-gfp63omk.css
  packages/openclaw-plugin/public/index.html
Due: backend, frontend

fix: resolve 3 CodeQL high-severity findings in scorer
  packages/backend/src/routing/scorer/dimensions/contextual-dimensions.ts
  packages/backend/src/routing/scorer/dimensions/structural-dimensions.ts
  packages/backend/src/routing/scorer/keyword-trie.ts
Due: backend

docs: overhaul README for conversion and add tech stack to CONTRIBUTING
  .changeset/bright-donkeys-brake.md
  CONTRIBUTING.md
  README.md
Due: none

feat: improve local mode UX — skip workspace, hide cloud-only settings
  .changeset/improve-local-behavior.md
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: backend, frontend

feat: improve local mode UX — skip workspace, hide cloud-only settings (#832)
  .changeset/improve-local-behavior.md
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/pages/Settings.tsx
Due: backend, frontend

feat: mask saved API key in email provider edit modal
  .changeset/sendgrid-email-consolidation.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1771800000000-AddNotificationEmailAndOptionalDomain.ts
  packages/backend/src/entities/email-provider-config.entity.ts
  packages/backend/src/notifications/dto/set-email-provider.dto.ts
  packages/backend/src/notifications/notifications.controller.spec.ts
  packages/backend/src/notifications/notifications.controller.ts
  packages/backend/src/notifications/services/email-provider-config.service.ts
  packages/backend/src/notifications/services/email-provider-validation.spec.ts
  packages/backend/src/notifications/services/email-provider-validation.ts
  packages/backend/src/notifications/services/notification-cron.service.ts
  packages/backend/src/notifications/services/notification-email.service.ts
  packages/frontend/public/logos/sendgrid.svg
  packages/frontend/src/components/EmailProviderConfig.tsx
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/EmailProviderSetup.tsx
  packages/frontend/src/components/NotificationEmailSection.tsx
  packages/frontend/src/components/ProviderBanner.tsx
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/pages/Notifications.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/notifications.css
  packages/frontend/tests/components/EmailProviderConfig.test.tsx
  packages/frontend/tests/components/NotificationEmailSection.test.tsx
Due: backend, frontend

fix: restore package-lock.json from main to fix CI platform error
  package-lock.json
Due: none

fix: remove accidental darwin-arm64 rollup dependency breaking CI
  package-lock.json
  package.json
Due: none

test: add tests for EmailProviderModal, ProviderBanner, EmailProviderSetup
  packages/frontend/tests/components/EmailProviderModal.test.tsx
  packages/frontend/tests/components/EmailProviderSetup.test.tsx
  packages/frontend/tests/components/ProviderBanner.test.tsx
Due: none

test: add backend coverage for email provider config service and controller
  packages/backend/src/notifications/notifications.controller.spec.ts
  packages/backend/src/notifications/services/email-provider-config.service.spec.ts
  packages/backend/src/notifications/services/notification-email.service.spec.ts
Due: backend

test: add coverage for deleteAgent local mode guard and Header local mode UI
  .changeset/improve-test-coverage.md
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/frontend/tests/components/Header.test.tsx
Due: backend

fix: fix codecov backend upload path and add missing frontend test coverage
  .github/workflows/ci.yml
  packages/frontend/tests/pages/Notifications.test.tsx
  packages/frontend/tests/services/api.test.ts
Due: none

test: fix MANIFEST_MODE env var leak in agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
Due: backend

feat: email provider improvements — SendGrid, masked API key, consolidated UI (#834)
  .changeset/email-provider-config.md
  .changeset/sendgrid-email-consolidation.md
  .github/workflows/ci.yml
  package-lock.json
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1771700000000-EmailProviderConfigs.ts
  packages/backend/src/database/migrations/1771800000000-AddNotificationEmailAndOptionalDomain.ts
  packages/backend/src/entities/email-provider-config.entity.ts
  packages/backend/src/notifications/dto/set-email-provider.dto.ts
  packages/backend/src/notifications/notifications.controller.spec.ts
  packages/backend/src/notifications/notifications.controller.ts
  packages/backend/src/notifications/notifications.module.ts
  packages/backend/src/notifications/services/email-provider-config.service.spec.ts
  packages/backend/src/notifications/services/email-provider-config.service.ts
  packages/backend/src/notifications/services/email-provider-validation.spec.ts
  packages/backend/src/notifications/services/email-provider-validation.ts
  packages/backend/src/notifications/services/notification-cron.service.spec.ts
  packages/backend/src/notifications/services/notification-cron.service.ts
  packages/backend/src/notifications/services/notification-email.service.spec.ts
  packages/backend/src/notifications/services/notification-email.service.ts
  packages/frontend/public/logos/mailgun.svg
  packages/frontend/public/logos/resend.svg
  packages/frontend/public/logos/sendgrid.svg
  packages/frontend/src/components/EmailProviderConfig.tsx
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/EmailProviderSetup.tsx
  packages/frontend/src/components/NotificationEmailSection.tsx
  packages/frontend/src/components/ProviderBanner.tsx
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/pages/Notifications.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/notifications.css
  packages/frontend/tests/components/EmailProviderConfig.test.tsx
  packages/frontend/tests/components/EmailProviderModal.test.tsx
  packages/frontend/tests/components/EmailProviderSetup.test.tsx
  packages/frontend/tests/components/NotificationEmailSection.test.tsx
  packages/frontend/tests/components/ProviderBanner.test.tsx
  packages/frontend/tests/pages/Notifications.test.tsx
  packages/frontend/tests/services/api.test.ts
Due: backend, frontend

test: improve coverage for local mode (PR #832 follow-up) (#835)
  .changeset/improve-test-coverage.md
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/frontend/tests/components/Header.test.tsx
Due: backend
