Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: update openclaw logo, remove sidebar divider
  packages/frontend/public/icons/openclaw.svg
  packages/frontend/src/components/Sidebar.tsx
Due: frontend

fix: use openclaw.svg instead of openclaw.png everywhere
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/shared/src/agent-type.ts
Due: frontend

feat: add global provider connections
  .changeset/global-provider-connections.md
  packages/backend/src/database/migrations/1790500000000-AddGlobalProviderScope.spec.ts
  packages/backend/src/database/migrations/1790500000000-AddGlobalProviderScope.ts
  packages/backend/src/entities/user-provider.entity.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/global-providers.controller.spec.ts
  packages/backend/src/routing/global-providers.controller.ts
  packages/backend/src/routing/provider-region-validation.spec.ts
  packages/backend/src/routing/provider-region-validation.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/routing.module.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/GlobalProviders.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/styles/global-providers.css
  packages/frontend/tests/components/App.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/GlobalProviders.test.tsx
  packages/frontend/tests/services/api/routing-extra.test.ts
Due: backend, frontend

fix: address global provider review findings
  packages/backend/src/routing/dto/routing.dto.spec.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/global-providers.controller.spec.ts
  packages/backend/src/routing/global-providers.controller.ts
  packages/backend/src/routing/provider-region-validation.spec.ts
  packages/backend/src/routing/provider-region-validation.ts
  packages/backend/src/routing/provider-response.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/pages/GlobalProviders.tsx
  packages/frontend/tests/pages/GlobalProviders.test.tsx
Due: backend, frontend

feat: add global provider playground
  .changeset/global-provider-playground.md
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/common/dto/create-agent.dto.spec.ts
  packages/backend/src/common/dto/create-agent.dto.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/playground/dto/run-playground.dto.spec.ts
  packages/backend/src/playground/dto/run-playground.dto.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/routing-core/__tests__/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/Playground.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/services/api/agents.ts
  packages/frontend/src/services/api/playground.ts
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/services/playground-store.ts
  packages/frontend/src/styles/agents.css
  packages/frontend/tests/components/App.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/Playground.test.tsx
  packages/frontend/tests/pages/Workspace-validation.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
  packages/frontend/tests/services/api/agents.test.ts
  packages/frontend/tests/services/api/routing-extra.test.ts
  packages/frontend/tests/services/playground-store.test.ts
Due: backend, frontend

feat: report provider usage by API key vs subscription
  .changeset/provider-tokens-auth-type-breakdown.md
  packages/backend/src/public-stats/public-stats.controller.spec.ts
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/backend/src/public-stats/public-stats.service.ts
Due: backend

fix: move tenant providers nav to workspace
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/layouts/TenantWorkspaceLayout.tsx
  packages/frontend/src/styles/agents.css
  packages/frontend/tests/components/App.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/layouts/TenantWorkspaceLayout.test.tsx
Due: frontend

fix: split tenant provider pages
  packages/frontend/src/index.tsx
  packages/frontend/src/layouts/TenantWorkspaceLayout.tsx
  packages/frontend/src/pages/GlobalProviders.tsx
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/GlobalProviderCategory.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/global-providers.css
  packages/frontend/tests/components/App.test.tsx
  packages/frontend/tests/layouts/TenantWorkspaceLayout.test.tsx
  packages/frontend/tests/pages/GlobalProviders.test.tsx
Due: frontend

feat: copy global providers when creating agents
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/common/dto/create-agent.dto.spec.ts
  packages/backend/src/common/dto/create-agent.dto.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/services/api/agents.ts
  packages/frontend/src/styles/agent-type-select.css
  packages/frontend/tests/pages/Workspace-validation.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
  packages/frontend/tests/services/api/agents.test.ts
Due: backend, frontend

fix global provider setup action
  packages/frontend/src/pages/providers/GlobalProviderCategory.tsx
  packages/frontend/src/styles/global-providers.css
  packages/frontend/tests/pages/GlobalProviders.test.tsx
Due: frontend

match global provider setup modal flow
  packages/frontend/src/components/ProviderApiKeyTab.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/pages/providers/GlobalProviderCategory.tsx
  packages/frontend/src/services/routing-params.ts
  packages/frontend/src/styles/global-providers.css
  packages/frontend/tests/pages/GlobalProviders.test.tsx
Due: frontend

fix global provider modal styles
  packages/frontend/src/styles/global-providers.css
Due: frontend

restore OpenAI in global subscriptions
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/pages/providers/GlobalProviderCategory.tsx
  packages/frontend/tests/pages/GlobalProviders.test.tsx
Due: frontend

fix global provider agent_id migration
  packages/backend/src/database/migrations/1790500000001-EnsureGlobalProviderAgentNullable.spec.ts
  packages/backend/src/database/migrations/1790500000001-EnsureGlobalProviderAgentNullable.ts
Due: backend

fix global provider connection scope
  packages/backend/src/database/migrations/1790500000002-AllowGlobalOAuthPendingFlows.ts
  packages/backend/src/routing/global-providers.controller.spec.ts
  packages/backend/src/routing/global-providers.controller.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/backend/src/routing/oauth/core/oauth-pending-flow.store.spec.ts
  packages/backend/src/routing/oauth/core/oauth-pending-flow.store.ts
  packages/backend/src/routing/oauth/gemini-oauth.controller.ts
  packages/backend/src/routing/oauth/kiro-oauth.controller.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.ts
  packages/backend/src/routing/oauth/minimax-oauth.controller.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.ts
  packages/backend/src/routing/oauth/oauth-scope.ts
  packages/backend/src/routing/oauth/openai-oauth.controller.ts
  packages/backend/src/routing/oauth/redirect-pkce-oauth.base.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.controller.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/components/AnthropicOAuthDetailView.tsx
  packages/frontend/src/components/CopilotDeviceLogin.tsx
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/services/api/oauth.ts
  packages/frontend/src/services/api/routing.ts
Due: backend, frontend

docs: global provider connections design (PR 1 of Seb #2061 decomposition)
  docs/superpowers/specs/2026-06-05-global-provider-connections-design.md
Due: none

docs: refine global providers spec from code map (no scope flag, no agent_id null, slim list endpoint, 100% coverage)
  docs/superpowers/specs/2026-06-05-global-provider-connections-design.md
Due: none

docs: implementation plan for global provider connections (port of Seb #2061 slice)
  docs/superpowers/plans/2026-06-05-global-provider-connections.md
Due: none

feat(providers): make user_providers.agent_id nullable for global connections
  packages/backend/src/entities/user-provider.entity.spec.ts
  packages/backend/src/entities/user-provider.entity.ts
Due: backend

feat(providers): add LiftAgentProvidersToGlobal migration (relabel + user-scoped unique index)
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1791000000000-LiftAgentProvidersToGlobal.spec.ts
  packages/backend/src/database/migrations/1791000000000-LiftAgentProvidersToGlobal.ts
Due: backend

feat(routing): split routing cache into agent- and user-scoped with invalidateUser
  packages/backend/src/routing/routing-cache.service.spec.ts
  packages/backend/src/routing/routing-core/routing-cache.service.spec.ts
  packages/backend/src/routing/routing-core/routing-cache.service.ts
Due: backend

feat(routing): user-scope provider services + fan-out (B2-B8)
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/oauth/core/oauth-refresh-coordinator.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/routing-core/routing-invalidation.service.ts
  packages/backend/src/routing/routing-core/tier-auto-assign.service.ts
  packages/backend/src/routing/routing-core/tier.service.ts
Due: backend

feat(routing): user-scope controllers + OAuth call sites (B9, C)
  packages/backend/src/routing/copilot.controller.ts
  packages/backend/src/routing/custom-provider/custom-provider.controller.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/backend/src/routing/oauth/gemini-oauth.controller.ts
  packages/backend/src/routing/oauth/kiro-oauth.controller.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.ts
  packages/backend/src/routing/oauth/minimax-oauth.controller.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.ts
  packages/backend/src/routing/oauth/openai-oauth.controller.ts
  packages/backend/src/routing/oauth/redirect-pkce-oauth.base.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.controller.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/resolve/resolve.controller.ts
  packages/backend/src/routing/tier.controller.ts
Due: backend

test(routing): user-scope oauth + controller specs
  packages/backend/src/routing/copilot.controller.spec.ts
  packages/backend/src/routing/custom-provider.controller.spec.ts
  packages/backend/src/routing/gemini-oauth.controller.spec.ts
  packages/backend/src/routing/kiro-oauth.controller.spec.ts
  packages/backend/src/routing/minimax-oauth.controller.spec.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/core/oauth-refresh-coordinator.spec.ts
  packages/backend/src/routing/oauth/gemini-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.spec.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.spec.ts
  packages/backend/src/routing/oauth/openai-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.spec.ts
  packages/backend/src/routing/openai-oauth.controller.spec.ts
  packages/backend/src/routing/provider.controller.spec.ts
Due: backend

test(routing): user-scope provider/tier/resolve/proxy service specs
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.controller.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.edge.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/routing-invalidation.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
Due: backend

feat(discovery): user-scope model discovery + specs
  packages/backend/src/model-discovery/model-discovery.service.boundary.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
Due: backend

test(routing): thread userId through custom-provider service specs
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
Due: backend

test(routing): tier auto-assign recalculate takes userId
  packages/backend/src/routing/routing-core/__tests__/tier-auto-assign.service.spec.ts
Due: backend

test(discovery): cover user-scoped custom-provider merge branches
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
Due: backend

feat(providers): add slim GET /api/v1/providers list endpoint
  packages/backend/src/routing/global-providers.controller.spec.ts
  packages/backend/src/routing/global-providers.controller.ts
  packages/backend/src/routing/routing.module.ts
Due: backend

feat(frontend): add initialTab + deeplink fields to provider connect components
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/services/routing-params.ts
  packages/frontend/tests/components/ProviderDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectContent-deeplink.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: frontend

feat(frontend): add Subscriptions/BYOK/Local global provider pages
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
  packages/frontend/tests/pages/providers/Byok-addtrue.test.tsx
  packages/frontend/tests/pages/providers/Byok.test.tsx
  packages/frontend/tests/pages/providers/Local-addtrue.test.tsx
  packages/frontend/tests/pages/providers/Local.test.tsx
  packages/frontend/tests/pages/providers/Subscriptions.test.tsx
Due: frontend

feat(frontend): add global provider routes + sidebar section
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/index.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
Due: frontend

test(providers): e2e global connection visible across agents
  packages/backend/test/global-providers.e2e-spec.ts
Due: none

chore: changeset for global provider connections
  .changeset/global-provider-connections.md
Due: none

feat: sync manifest subscription model lists (2026-06-06)
  packages/shared/src/subscription/configs.ts
Due: none

fix(routing): complete userId caller threading missed by the re-key
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/__tests__/specificity.controller.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.controller.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.edge-cases.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/header-tiers/__tests__/header-tier.service.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.ts
  packages/backend/src/routing/header-tiers/header-tier.service.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/routing-core/__tests__/specificity.service.spec.ts
  packages/backend/src/routing/routing-core/specificity.service.ts
  packages/backend/src/routing/specificity.controller.ts
  packages/backend/test/proxy.e2e-spec.ts
  packages/backend/test/routing-flow.e2e-spec.ts
Due: backend

fix(test): hard-delete user_providers in multi-key e2e beforeEach
  packages/backend/test/multi-key-providers.e2e-spec.ts
Due: none

fix(test): scope provider/tier e2e seed rows by user_id not tenant/agent
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
  packages/backend/test/proxy-fallback-auth.e2e-spec.ts
  packages/backend/test/routing-flow.e2e-spec.ts
Due: none

fix(routing): replace per-agent recalculateTiers with recalculateTiersForUser in refresh handlers
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/model.controller.ts
Due: backend
