Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix(frontend): make settings forms and request drawer usable on mobile
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/controls.css
  packages/frontend/src/styles/request-drawer.css
Due: frontend

fix(frontend): make the harness actions menu usable on phones
  packages/frontend/src/styles/theme.css
Due: frontend

fix(frontend): stack routing tier cards and fit the workspace key row on phones
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/routing.css
Due: frontend

fix(frontend): stop the routing footer reset button and tier swatches overflowing on phones
  packages/frontend/src/styles/routing-header-tiers.css
  packages/frontend/src/styles/routing.css
Due: frontend

fix(frontend): wrap overview chart filter row so the harness filter fits on phones
  packages/frontend/src/styles/theme.css
Due: frontend

fix(frontend): stack the overview chart title, group buttons, and filter select on phones
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/frontend/src/styles/theme.css
Due: frontend

feat: let outreach find the users Autofix repaired
  .changeset/crm-autofix-healed-feed.md
  CLAUDE.md
  packages/backend/.env.example
  packages/backend/src/app.module.ts
  packages/backend/src/common/utils/crypto.util.spec.ts
  packages/backend/src/common/utils/crypto.util.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/crm-metrics/crm-metrics.filters.spec.ts
  packages/backend/src/crm-metrics/crm-metrics.filters.ts
  packages/backend/src/crm-metrics/crm-metrics.module.ts
  packages/backend/src/crm-metrics/crm-metrics.service.spec.ts
  packages/backend/src/crm-metrics/crm-metrics.service.ts
  packages/backend/src/crm-metrics/crm-metrics.types.ts
  packages/backend/src/crm-metrics/dto/crm-metrics-query.dto.spec.ts
  packages/backend/src/crm-metrics/dto/crm-metrics-query.dto.ts
  packages/backend/src/crm-metrics/internal-crm-metrics.controller.spec.ts
  packages/backend/src/crm-metrics/internal-crm-metrics.controller.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1802200000000-AddRequestsAutofixHealedIndex.spec.ts
  packages/backend/src/database/migrations/1802200000000-AddRequestsAutofixHealedIndex.ts
  packages/backend/test/crm-metrics.e2e-spec.ts
  packages/backend/test/helpers.ts
Due: backend

fix(frontend): keep form controls at 16px on phones to stop iOS focus zoom
  packages/frontend/src/styles/theme.css
Due: frontend

fix: address review feedback
  packages/backend/src/crm-metrics/crm-metrics.service.spec.ts
  packages/backend/src/database/migrations/1802200000000-AddRequestsAutofixHealedIndex.spec.ts
  packages/backend/src/database/migrations/1802200000000-AddRequestsAutofixHealedIndex.ts
  packages/backend/test/crm-metrics.e2e-spec.ts
Due: backend

feat: keep the CRM feed off self-hosted installs entirely
  CLAUDE.md
  packages/backend/.env.example
  packages/backend/src/app.module.ts
  packages/backend/src/database/migrations/1802200000000-AddRequestsAutofixHealedIndex.spec.ts
  packages/backend/src/database/migrations/1802200000000-AddRequestsAutofixHealedIndex.ts
  packages/backend/test/crm-metrics.e2e-spec.ts
Due: backend

fix(frontend): address cubic review on mobile CSS pass
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/frontend/src/styles/controls.css
  packages/frontend/src/styles/request-drawer.css
  packages/frontend/src/styles/routing-header-tiers.css
  packages/frontend/src/styles/routing.css
Due: frontend

fix: close the bare-metal gap in the self-hosted gate
  packages/backend/src/crm-metrics/internal-crm-metrics.controller.spec.ts
  packages/backend/src/crm-metrics/internal-crm-metrics.controller.ts
  packages/backend/src/database/migrations/1802200000000-AddRequestsAutofixHealedIndex.spec.ts
  packages/backend/src/database/migrations/1802200000000-AddRequestsAutofixHealedIndex.ts
  packages/backend/test/crm-metrics.e2e-spec.ts
Due: backend

fix(frontend): make the dashboard usable on phones (CSS-only) (#2840)
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/request-drawer.css
  packages/frontend/src/styles/routing-header-tiers.css
  packages/frontend/src/styles/routing.css
  packages/frontend/src/styles/theme.css
Due: frontend

fix: complete Codex tool-call round trips
  .changeset/codex-cli-agent-platform.md
  packages/backend/src/routing/proxy/__tests__/responses-stream-tools.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-tools.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
  packages/backend/src/routing/proxy/responses-tools.ts
  packages/backend/test/codex-responses.e2e-spec.ts
  packages/backend/test/helpers.ts
  packages/frontend/src/components/CodexSetup.tsx
  packages/frontend/tests/components/CodexSetup.test.tsx
Due: backend, frontend

fix: drop unsupported Responses tool choices
  packages/backend/src/routing/proxy/__tests__/responses-tools.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

test: keep fixture errors out of HTTP responses
  packages/backend/test/codex-responses.e2e-spec.ts
Due: none

fix: validate streamed tool names before opening calls
  packages/backend/src/routing/proxy/__tests__/responses-stream-tools.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-tools.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
  packages/backend/src/routing/proxy/responses-tools.ts
  packages/backend/test/codex-responses.e2e-spec.ts
Due: backend

feat: add Codex as a coding-assistant agent platform (#2837)
  .changeset/codex-cli-agent-platform.md
  packages/backend/src/common/dto/create-agent.dto.spec.ts
  packages/backend/src/routing/autofix/contract/phoenix-openapi.yaml
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-stream-tools.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-tools.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
  packages/backend/src/routing/proxy/responses-tools.ts
  packages/backend/test/codex-responses.e2e-spec.ts
  packages/backend/test/helpers.ts
  packages/frontend/public/icons/providers/codex.svg
  packages/frontend/src/components/CodexSetup.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/tests/components/AgentTypeGrid.test.tsx
  packages/frontend/tests/components/AgentTypeSelect.test.tsx
  packages/frontend/tests/components/CodexSetup.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
Due: backend, frontend

docs: refresh CLAUDE.md to match current codebase
  CLAUDE.md
Due: none

fix(routing): show loading state while a fallback reorder saves
  .changeset/heavy-donkeys-repeat.md
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/tests/components/FallbackList.test.tsx
Due: frontend

feat: sync manifest subscription model lists (2026-09-08)
  packages/shared/src/subscription/configs.ts
Due: none

feat: sync manifest subscription model lists (2026-09-08) (#2848)
  packages/shared/src/subscription/configs.ts
Due: none

fix: stop the CRM metrics feed timing out on long windows
  .changeset/crm-metrics-drop-provider-join.md
  CLAUDE.md
  packages/backend/src/crm-metrics/crm-metrics.service.spec.ts
  packages/backend/src/crm-metrics/crm-metrics.service.ts
  packages/backend/src/crm-metrics/crm-metrics.types.ts
  packages/backend/test/crm-metrics.e2e-spec.ts
Due: backend

feat: identify n8n node traffic in Manifest usage
  .changeset/n8n-node-caller-attribution.md
  CLAUDE.md
  credentials/ManifestApi.credentials.ts
  integrations/n8n-nodes-manifest/CHANGELOG.md
  integrations/n8n-nodes-manifest/README.md
  integrations/n8n-nodes-manifest/credentials/ManifestApi.credentials.ts
  integrations/n8n-nodes-manifest/dist/credentials/ManifestApi.credentials.js
  integrations/n8n-nodes-manifest/dist/credentials/ManifestApi.credentials.js.map
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/LmChatManifest.node.js
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/LmChatManifest.node.js.map
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js.map
  integrations/n8n-nodes-manifest/dist/nodes/shared/attribution.d.ts
  integrations/n8n-nodes-manifest/dist/nodes/shared/attribution.js
  integrations/n8n-nodes-manifest/dist/nodes/shared/attribution.js.map
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/nodes/LmChatManifest/LmChatManifest.node.ts
  integrations/n8n-nodes-manifest/nodes/Manifest/Manifest.node.ts
  integrations/n8n-nodes-manifest/nodes/shared/attribution.ts
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
  integrations/n8n-nodes-manifest/test/manifest-node.test.js
  nodes/LmChatManifest/LmChatManifest.node.ts
  nodes/Manifest/Manifest.node.ts
  nodes/shared/attribution.ts
  packages/backend/src/routing/proxy/caller-classifier.spec.ts
  packages/backend/src/routing/proxy/caller-classifier.ts
Due: backend

test: assert n8n attribution headers on every operation
  integrations/n8n-nodes-manifest/test/manifest-node.test.js
Due: none

feat: identify n8n node traffic in Manifest usage (#2852)
  .changeset/n8n-node-caller-attribution.md
  CLAUDE.md
  credentials/ManifestApi.credentials.ts
  integrations/n8n-nodes-manifest/CHANGELOG.md
  integrations/n8n-nodes-manifest/README.md
  integrations/n8n-nodes-manifest/credentials/ManifestApi.credentials.ts
  integrations/n8n-nodes-manifest/dist/credentials/ManifestApi.credentials.js
  integrations/n8n-nodes-manifest/dist/credentials/ManifestApi.credentials.js.map
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/LmChatManifest.node.js
  integrations/n8n-nodes-manifest/dist/nodes/LmChatManifest/LmChatManifest.node.js.map
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/Manifest.node.js.map
  integrations/n8n-nodes-manifest/dist/nodes/shared/attribution.d.ts
  integrations/n8n-nodes-manifest/dist/nodes/shared/attribution.js
  integrations/n8n-nodes-manifest/dist/nodes/shared/attribution.js.map
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/nodes/LmChatManifest/LmChatManifest.node.ts
  integrations/n8n-nodes-manifest/nodes/Manifest/Manifest.node.ts
  integrations/n8n-nodes-manifest/nodes/shared/attribution.ts
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
  integrations/n8n-nodes-manifest/test/manifest-node.test.js
  nodes/LmChatManifest/LmChatManifest.node.ts
  nodes/Manifest/Manifest.node.ts
  nodes/shared/attribution.ts
  packages/backend/src/routing/proxy/caller-classifier.spec.ts
  packages/backend/src/routing/proxy/caller-classifier.ts
Due: backend

fix(pricing): bill DeepSeek V4.1 Flash at published peak rates
  .changeset/deepseek-v41-flash-pricing.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
Due: backend

fix: keep streaming success after caller close
  .changeset/streaming-cancel-after-complete.md
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-protocol.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/stream-protocol.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

fix: do not treat Google chunks as a terminal outcome
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-protocol.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/stream-protocol.ts
Due: backend

fix: give repeated Responses call ids unique values
  .changeset/responses-duplicate-call-ids.md
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

fix: keep streaming success after caller close (#2857)
  .changeset/streaming-cancel-after-complete.md
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-protocol.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/stream-protocol.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

fix: replay reasoning_content on non-tool turns in tool conversations
  packages/backend/src/routing/proxy/__tests__/reasoning-content-cache.spec.ts
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
Due: backend

fix: read the reasoning replay cache with the scoped session key
  .changeset/deepseek-reasoning-replay-fix.md
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix(frontend): update pivot article link
  packages/frontend/src/components/PivotAnnouncement.tsx
  packages/frontend/tests/components/PivotAnnouncement.test.tsx
Due: frontend

docs(docker): update pivot article link
  docker/DOCKER_README.md
Due: none

docs: note the tool-conversation exception in the reasoning cache docstring
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
Due: backend

docs: tighten the reasoning replay comments
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
Due: backend

fix(pricing): bill DeepSeek V4.1 Flash at published peak rates (#2856)
  .changeset/deepseek-v41-flash-pricing.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
Due: backend

fix: give repeated Responses call ids unique values (#2858)
  .changeset/responses-duplicate-call-ids.md
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

fix: normalize repeated Responses call ids from chat
  .changeset/responses-duplicate-call-ids-chat.md
  packages/backend/src/routing/proxy/__tests__/chatgpt-request-tools.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
  packages/backend/src/routing/proxy/responses-call-ids.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
