Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: use GitHub App token in release workflow for CI triggers
  .changeset/curvy-banks-take.md
  .github/workflows/release.yml
Due: none

fix: remove Anthropic-specific cache_control from Gemini system instruction
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
Due: backend

chore: add changeset for gemini cache_control fix
  .changeset/fix-gemini-cache-control.md
Due: none

test: cover tool_call_id fallback branch in google adapter
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
Due: backend

fix: display agent names with original capitalization and hide dev version
  packages/frontend/src/components/AgentGuard.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/VersionIndicator.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/services/agent-display-name.ts
  packages/frontend/tests/components/AgentGuard.test.tsx
  packages/frontend/tests/components/Header.test.tsx
  packages/frontend/tests/components/VersionIndicator.test.tsx
  packages/frontend/tests/services/agent-display-name.test.ts
Due: frontend

test: add coverage for custom provider and nullable pricing code paths
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/frontend/tests/components/CustomProviderForm.test.tsx
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/ModelPrices.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: backend

fix: add missing getLocalAuthSecret import in auth.instance.ts
  packages/backend/src/auth/auth.instance.ts
Due: backend

chore: gitignore Vite build artifacts in openclaw-plugin
  packages/openclaw-plugin/.gitignore
  packages/openclaw-plugin/.npmignore
Due: none

fix: update SKILL.md metadata and privacy docs for ClawHub trust scanner
  .changeset/fix-skill-trust-rating.md
  skills/manifest/SKILL.md
Due: none

fix: remove broken models and add Moonshot provider endpoint
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/database/quality-score.util.ts
  packages/backend/src/model-prices/model-name-normalizer.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

chore: add changeset for broken model cleanup
  .changeset/filter-broken-models.md
Due: none

chore: update manifest skill description
  .changeset/improve-skill-description.md
  skills/manifest/SKILL.md
Due: none

chore: update skill description and fix metadata format
  skills/manifest/SKILL.md
Due: none

chore: replace manual console logging with NestJS Logger
  .changeset/chatty-wombats-kneel.md
  packages/backend/src/common/utils/sql-dialect.ts
  packages/backend/src/notifications/services/email-providers/mailgun.provider.ts
  packages/backend/src/notifications/services/email-providers/resend.provider.ts
  packages/backend/src/notifications/services/email-providers/send-email.ts
  packages/backend/src/notifications/services/email-providers/sendgrid.provider.ts
Due: backend

chore: add changeset for logging refactor
  .changeset/chatty-wombats-kneel.md
  .changeset/replace-logging-fix.md
Due: none

fix: add manifest changeset and fix require() lint error
  .changeset/loud-pillows-melt.md
  packages/backend/src/database/local-bootstrap.service.spec.ts
Due: backend

fix: use DeepSeek API model names as canonical names
  .changeset/deepseek-model-names.md
  README.md
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/database/migrations/1771800000000-AddQualityScore.ts
  packages/backend/src/database/migrations/1771800100000-SeedQualityScores.ts
  packages/backend/src/database/quality-score.util.spec.ts
  packages/backend/src/model-prices/model-name-normalizer.spec.ts
  packages/backend/src/model-prices/model-name-normalizer.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/routing/tier-auto-assign.service.spec.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/services/routing-utils.test.ts
Due: backend, frontend

fix: local mode proactively detects existing server before starting embedded one
  .changeset/proactive-server-check.md
  packages/openclaw-plugin/__tests__/local-mode.test.ts
  packages/openclaw-plugin/src/local-mode.ts
Due: plugin

fix: override multer to v2.1.1 to address GHSA-5528-5vmv-3xc2
  .changeset/fix-multer-vulnerability.md
  package-lock.json
  package.json
Due: none

fix: clean stale models.json entries on mode switch to prevent 401
  packages/openclaw-plugin/src/local-mode.ts
Due: plugin

fix: reconcile local API key on every boot to prevent 401
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
Due: backend

fix: add manifest changeset and fix require() lint error
  packages/backend/src/database/local-bootstrap.service.spec.ts
Due: backend

fix: add missing loading states to CRUD operations
  .changeset/add-loading-states.md
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/tests/components/LimitRuleModal.test.tsx
  packages/frontend/tests/pages/Limits-interactions.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

chore: add replacement changeset for manifest patch
  .changeset/fix-local-api-key-reconciliation.md
Due: none

fix: upgrade @nestjs/platform-express to patch multer DoS vulnerability (CVE-2026-3520)
  .changeset/fruity-beans-end.md
  package-lock.json
Due: none

perf: add database indexes, batch operations, and store key prefix
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1772843035514-AddPerformanceIndexes.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/entities/cost-snapshot.entity.ts
  packages/backend/src/entities/security-event.entity.ts
  packages/backend/src/entities/user-provider.entity.spec.ts
  packages/backend/src/entities/user-provider.entity.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/routing/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider.service.ts
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
Due: backend

chore: update changeset to include backend perf changes
  .changeset/add-loading-states.md
Due: none

chore: add manifest patch changeset for multer vulnerability fix
  .changeset/fix-multer-vulnerability.md
  .changeset/fruity-beans-end.md
Due: none

test: add coverage for stale models.json cleanup in injectProviderConfig
  packages/openclaw-plugin/__tests__/local-mode.test.ts
Due: none

fix: address code review feedback
  packages/backend/src/database/migrations/1772843035514-AddPerformanceIndexes.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/tests/pages/Limits-interactions.test.tsx
Due: backend, frontend

fix: filter ghost duplicate messages in OTLP trace ingestion
  .changeset/filter-ghost-duplicates.md
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/test/otlp-roundtrip.e2e-spec.ts
Due: backend

perf: batch insert optimizations for OTLP and telemetry ingestion
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/otlp/services/log-ingest.service.spec.ts
  packages/backend/src/otlp/services/log-ingest.service.ts
  packages/backend/src/otlp/services/metric-ingest.service.spec.ts
  packages/backend/src/otlp/services/metric-ingest.service.ts
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/telemetry/telemetry.service.spec.ts
  packages/backend/src/telemetry/telemetry.service.ts
Due: backend

chore: update changeset to include batch insert optimizations
  .changeset/add-loading-states.md
Due: none

fix: improve ghost dedup coverage and scope DB fallback by session_key
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
Due: backend

fix: address memory leaks causing OOM crashes under load
  packages/backend/src/main.ts
  packages/backend/src/notifications/services/limit-check.service.spec.ts
  packages/backend/src/notifications/services/limit-check.service.ts
  packages/backend/src/otlp/guards/otlp-auth.guard.spec.ts
  packages/backend/src/otlp/guards/otlp-auth.guard.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

chore: add changeset for OOM fix
  .changeset/fix-oom-memory-leaks.md
Due: none

perf: add multi-layer caching for analytics and routing
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/agent-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/agent-analytics.controller.ts
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/analytics/controllers/costs.controller.spec.ts
  packages/backend/src/analytics/controllers/messages.controller.spec.ts
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/tokens.controller.spec.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/common/common.module.ts
  packages/backend/src/common/constants/cache.constants.spec.ts
  packages/backend/src/common/constants/cache.constants.ts
  packages/backend/src/common/interceptors/agent-cache.interceptor.spec.ts
  packages/backend/src/common/interceptors/agent-cache.interceptor.ts
  packages/backend/src/common/interceptors/user-cache.interceptor.spec.ts
  packages/backend/src/common/services/cache-invalidation.service.spec.ts
  packages/backend/src/common/services/cache-invalidation.service.ts
  packages/backend/src/common/services/tenant-cache.service.spec.ts
  packages/backend/src/common/services/tenant-cache.service.ts
  packages/backend/src/routing/custom-provider.controller.spec.ts
  packages/backend/src/routing/custom-provider.controller.ts
  packages/backend/src/routing/resolve-agent.service.spec.ts
  packages/backend/src/routing/resolve-agent.service.ts
  packages/backend/src/routing/routing-cache.service.spec.ts
  packages/backend/src/routing/routing-cache.service.ts
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
  packages/backend/src/routing/routing.module.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/backend/src/security/security.controller.spec.ts
Due: backend

chore: add changeset for caching improvements
  .changeset/add-multi-layer-caching.md
Due: none
