Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix: keep the blob canvas painted through resizes
  packages/frontend/src/services/blob-canvas.ts
  packages/frontend/tests/services/blob-canvas.test.ts
Due: frontend

perf: only rebuild the blob canvas on a real dpr change
  packages/frontend/src/services/blob-canvas.ts
  packages/frontend/tests/services/blob-canvas.test.ts
Due: frontend

fix: keep the sidebar bottom stack visible with many harnesses
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/frontend/src/styles/controls.css
  packages/frontend/src/styles/theme.css
Due: frontend

fix: drop the short-viewport fallback that hid the list cap
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/frontend/src/styles/controls.css
  packages/frontend/src/styles/theme.css
Due: frontend

docs: explain the deliberate nested scroll on short viewports
  packages/frontend/src/styles/controls.css
Due: frontend

fix: record the real claim origin on the pivot waiting list
  packages/backend/src/waitlist/dto/pivot-claim.dto.spec.ts
  packages/backend/src/waitlist/dto/pivot-claim.dto.ts
  packages/backend/src/waitlist/waitlist.controller.spec.ts
  packages/backend/src/waitlist/waitlist.controller.ts
  packages/backend/test/waitlist.e2e-spec.ts
  packages/frontend/src/services/waitlist.ts
  packages/frontend/tests/services/waitlist.test.ts
Due: backend, frontend

chore: changeset for the waitlist source fix
  .changeset/waitlist-claim-source.md
Due: none

fix: guard website waitlist rows and infer claim origin
  packages/backend/src/waitlist/dto/pivot-claim.dto.ts
  packages/backend/src/waitlist/waitlist.controller.spec.ts
  packages/backend/src/waitlist/waitlist.controller.ts
  packages/backend/test/waitlist.e2e-spec.ts
  packages/frontend/src/services/waitlist.ts
  packages/frontend/tests/services/waitlist.test.ts
Due: backend, frontend

fix: reject an explicit null claim source
  packages/backend/src/waitlist/dto/pivot-claim.dto.spec.ts
  packages/backend/src/waitlist/dto/pivot-claim.dto.ts
Due: backend

feat: Harnesses becomes a nav link with a grid/table workspace
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

fix: address review findings on the view toggle
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

fix: harden the harness table view after review
  design-system/registry/components.json
  design-system/registry/llms.txt
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/services/formatters.ts
  packages/frontend/src/styles/agents.css
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
  packages/frontend/tests/services/formatters.test.ts
Due: frontend

test: keep the formatCost mock faithful to production
  packages/frontend/tests/pages/Workspace.test.tsx
Due: none

test: carry the sub-cent branch into the formatCost mock
  packages/frontend/tests/pages/Workspace.test.tsx
Due: none

fix: keep routing model picker fast with large catalogs
  .changeset/routing-picker-perf.md
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/VirtualList.tsx
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/VirtualList.test.tsx
Due: frontend

fix: address cubic findings on the routing model picker
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/VirtualList.tsx
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/VirtualList.test.tsx
Due: frontend

fix: tighten cubic follow-ups on the routing picker
  packages/frontend/src/components/VirtualList.tsx
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/VirtualList.test.tsx
Due: frontend

fix: keep model picker column headers above scrolled rows
  packages/frontend/src/styles/routing-modal.css
Due: frontend

fix: keep routing model picker fast with large catalogs (#2813)
  .changeset/routing-picker-perf.md
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/VirtualList.tsx
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/VirtualList.test.tsx
Due: frontend

fix: scrub provider secrets from upstream error logs
  .changeset/scrub-logged-provider-errors.md
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

fix: remove self-hosted loopback auto-login
  .changeset/remove-loopback-synthetic-user.md
  CLAUDE.md
  packages/backend/src/auth/session.guard.spec.ts
  packages/backend/src/auth/session.guard.ts
Due: backend

fix: redact inline images in recordings and observations
  .changeset/redact-images-in-recordings.md
  packages/backend/src/routing/autofix/observation-payload.spec.ts
  packages/backend/src/routing/autofix/observation-payload.ts
  packages/backend/src/routing/proxy/attempt-recording-capture.spec.ts
  packages/backend/src/routing/proxy/attempt-recording-capture.ts
  packages/backend/test/request-recordings.e2e-spec.ts
Due: backend

feat: encrypt request recordings at rest
  .changeset/encrypt-recordings-at-rest.md
  docker/DOCKER_README.md
  packages/backend/.env.example
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/common/services/request-recording-storage.service.spec.ts
  packages/backend/src/common/services/request-recording-storage.service.ts
  packages/backend/src/common/utils/crypto.util.spec.ts
  packages/backend/src/common/utils/crypto.util.ts
  packages/backend/src/common/utils/request-recording-codec.spec.ts
  packages/backend/src/common/utils/request-recording-codec.ts
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/routing/proxy/attempt-recording.service.spec.ts
Due: backend

feat: support encryption key rotation with boot-time re-encryption
  .changeset/encryption-key-rotation.md
  CLAUDE.md
  packages/backend/.env.example
  packages/backend/src/common/utils/crypto.util.spec.ts
  packages/backend/src/common/utils/crypto.util.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/secret-reencryption.service.spec.ts
  packages/backend/src/database/secret-reencryption.service.ts
  packages/backend/src/model-discovery/model-discovery.service.boundary.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/notifications/services/email-provider-config.service.spec.ts
  packages/backend/src/notifications/services/email-provider-config.service.ts
  packages/backend/src/otlp/services/api-key.service.ts
  packages/backend/src/routing/routing-core/__tests__/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

test: smoke-check the encrypted recording envelope on the volume
  .github/workflows/docker-smoke.yml
Due: none

test: mock the decryption secret list in agent key specs
  packages/backend/src/otlp/services/api-key.service.edge-cases.spec.ts
  packages/backend/src/otlp/services/api-key.service.spec.ts
Due: backend

fix: redact provider-native base64 image blocks too
  packages/backend/src/routing/proxy/__tests__/inline-image-redaction.spec.ts
  packages/backend/src/routing/proxy/inline-image-redaction.ts
Due: backend

test: assert the encrypted recording envelope in the e2e
  packages/backend/test/request-recordings.e2e-spec.ts
Due: none

test: make the straddle case prove scrub-before-slice
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
Due: backend

fix: keep walking sibling fields of native image blocks
  packages/backend/src/routing/proxy/__tests__/inline-image-redaction.spec.ts
  packages/backend/src/routing/proxy/inline-image-redaction.ts
Due: backend

perf: derive the recording envelope key once per secret
  docker/DOCKER_README.md
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/common/utils/crypto.util.spec.ts
  packages/backend/src/common/utils/crypto.util.ts
Due: backend

fix: only re-encrypt while a previous key is configured
  CLAUDE.md
  packages/backend/.env.example
  packages/backend/src/database/secret-reencryption.service.spec.ts
  packages/backend/src/database/secret-reencryption.service.ts
Due: backend

docs: narrow the encryption key scope in the Docker README
  docker/DOCKER_README.md
Due: none

fix: catch the detached re-encryption pass and document recording impact
  CLAUDE.md
  packages/backend/.env.example
  packages/backend/src/database/secret-reencryption.service.spec.ts
  packages/backend/src/database/secret-reencryption.service.ts
Due: backend

test: restore the encryption key env after recording specs
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/routing/proxy/attempt-recording.service.spec.ts
Due: backend

fix: scrub provider secrets from upstream error logs (#2814)
  .changeset/scrub-logged-provider-errors.md
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

fix: redact inline images in recordings and observations (#2816)
  .changeset/redact-images-in-recordings.md
  packages/backend/src/routing/autofix/observation-payload.spec.ts
  packages/backend/src/routing/autofix/observation-payload.ts
  packages/backend/src/routing/proxy/__tests__/inline-image-redaction.spec.ts
  packages/backend/src/routing/proxy/attempt-recording-capture.spec.ts
  packages/backend/src/routing/proxy/attempt-recording-capture.ts
  packages/backend/src/routing/proxy/inline-image-redaction.ts
  packages/backend/test/request-recordings.e2e-spec.ts
Due: backend

feat: encrypt request recordings at rest (#2817)
  .changeset/encrypt-recordings-at-rest.md
  .github/workflows/docker-smoke.yml
  docker/DOCKER_README.md
  packages/backend/.env.example
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/common/services/request-recording-storage.service.spec.ts
  packages/backend/src/common/services/request-recording-storage.service.ts
  packages/backend/src/common/utils/crypto.util.spec.ts
  packages/backend/src/common/utils/crypto.util.ts
  packages/backend/src/common/utils/request-recording-codec.spec.ts
  packages/backend/src/common/utils/request-recording-codec.ts
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/routing/proxy/attempt-recording.service.spec.ts
  packages/backend/test/request-recordings.e2e-spec.ts
Due: backend

feat: support encryption key rotation with boot-time re-encryption (#2818)
  .changeset/encryption-key-rotation.md
  CLAUDE.md
  packages/backend/.env.example
  packages/backend/src/common/utils/crypto.util.spec.ts
  packages/backend/src/common/utils/crypto.util.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/secret-reencryption.service.spec.ts
  packages/backend/src/database/secret-reencryption.service.ts
  packages/backend/src/model-discovery/model-discovery.service.boundary.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/notifications/services/email-provider-config.service.spec.ts
  packages/backend/src/notifications/services/email-provider-config.service.ts
  packages/backend/src/otlp/services/api-key.service.edge-cases.spec.ts
  packages/backend/src/otlp/services/api-key.service.spec.ts
  packages/backend/src/otlp/services/api-key.service.ts
  packages/backend/src/routing/routing-core/__tests__/provider-key.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

fix: remove self-hosted loopback auto-login (#2815)
  .changeset/remove-loopback-synthetic-user.md
  CLAUDE.md
  packages/backend/src/auth/session.guard.spec.ts
  packages/backend/src/auth/session.guard.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
