Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

test(shared): cover routing mode helpers
  packages/shared/__tests__/delivery-output-mode.spec.ts
  packages/shared/__tests__/provider-params-spec.spec.ts
Due: none

test(frontend): cover response mode routing
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/OutputControls.test.tsx
  packages/frontend/tests/components/RoutingModals.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
  packages/frontend/tests/pages/RoutingSpecificitySection.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/frontend/tests/services/api/routing-extra.test.ts
  packages/frontend/tests/services/api/specificity.test.ts
  packages/frontend/tests/services/header-tiers-api.test.ts
Due: none

fix: show OpenAI OAuth paste field for added accounts
  .changeset/openai-oauth-add-key-paste.md
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/tests/components/OAuthDetailView.test.tsx
Due: frontend

fix(proxy): persist reasoning_content cache
  .changeset/shared-reasoning-content-cache.md
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1790100000000-AddReasoningContentCache.ts
  packages/backend/src/entities/reasoning-content-cache-entry.entity.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-content-cache.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
Due: backend

fix: resolve MPS provider aliases
  .changeset/mps-provider-aliases.md
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
  packages/shared/__tests__/provider-params-spec.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/provider-params-spec.ts
Due: backend

Normalize OpenCode Go MPS model IDs
  .changeset/opencode-go-mps-model-normalization.md
  packages/shared/__tests__/provider-params-spec.spec.ts
  packages/shared/src/provider-params-spec.ts
Due: none

Fix Claude Code Manifest auto model setup
  .changeset/claude-code-auto-model.md
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/frontend/src/components/ClaudeCodeSetup.tsx
  packages/frontend/src/services/framework-snippets.ts
  packages/frontend/tests/components/ClaudeCodeSetup.test.tsx
Due: backend, frontend

Update Claude Code settings snippet test
  packages/frontend/tests/services/framework-snippets.test.ts
Due: none

fix: normalize streaming proxy responses
  packages/backend/src/routing/proxy/proxy-friendly-response.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

Update Gemini CodeAssist model fallback list
  .changeset/slick-carrots-swim.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-fallback.spec.ts
  packages/backend/src/model-discovery/model-fallback.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

fix: preserve playground stream status
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

Address CodeAssist Cubic review issues
  packages/backend/src/routing/oauth/codeassist-client.service.spec.ts
  packages/backend/src/routing/oauth/codeassist-client.service.ts
  packages/backend/src/routing/oauth/codeassist-envelope.spec.ts
  packages/backend/src/routing/oauth/codeassist-envelope.ts
  packages/backend/src/routing/oauth/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/redirect-pkce-oauth.base.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
Due: backend

fix: raise custom provider model cap
  .changeset/custom-provider-model-cap.md
  packages/backend/src/routing/dto/custom-provider.dto.spec.ts
  packages/backend/src/routing/dto/custom-provider.dto.ts
Due: backend

Use CodeAssist payload unwrap in proxy
  packages/backend/src/routing/oauth/codeassist-envelope.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

Tighten CodeAssist LRO completion check
  packages/backend/src/routing/oauth/codeassist-client.service.spec.ts
  packages/backend/src/routing/oauth/codeassist-client.service.ts
Due: backend

feat: auto-fill custom provider prices from models.dev
  .changeset/modelsdev-custom-provider-prices.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/routing/custom-provider.controller.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.controller.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/dto/custom-provider.dto.ts
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/tests/components/CustomProviderForm.test.tsx
  packages/frontend/tests/services/api-extra.test.ts
  packages/frontend/tests/services/api/routing-extra.test.ts
Due: backend, frontend

Add Kilo Gateway API-key provider
  .changeset/kilo-gateway-api-key.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/free-models/free-models-provider-metadata.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/public/icons/kilocode.jpg
  packages/frontend/public/icons/kilocode.svg
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/providers.ts
Due: backend, frontend

Fix Kilo provider color
  packages/backend/src/common/constants/providers.spec.ts
  packages/shared/src/providers.ts
Due: backend

feat: mark estimated custom provider prices
  .changeset/modelsdev-custom-provider-prices.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/entities/custom-provider.entity.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/dto/custom-provider.dto.ts
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/CustomProviderForm.test.tsx
Due: backend, frontend

fix: clarify estimated custom provider prices
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/InfoTooltip.tsx
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/CustomProviderForm.test.tsx
  packages/frontend/tests/components/InfoTooltip.test.tsx
Due: frontend

docs: clarify estimated price fallback
  .changeset/modelsdev-custom-provider-prices.md
Due: none

Add Kiro subscription provider
  .changeset/kiro-subscription-provider.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/common/utils/provider-inference.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/kiro-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/kiro-cli-token.spec.ts
  packages/backend/src/routing/oauth/kiro-cli-token.ts
  packages/backend/src/routing/oauth/kiro-oauth.controller.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.ts
  packages/backend/src/routing/oauth/oauth.module.ts
  packages/backend/src/routing/proxy/__tests__/kiro-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/kiro-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/components/CliOAuthDetailView.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/api/oauth.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderDetailView.test.tsx
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/api/oauth.test.ts
  packages/frontend/tests/services/providers.test.ts
  packages/shared/src/provider-inference.ts
  packages/shared/src/providers.ts
  packages/shared/src/subscription/configs.ts
  packages/shared/src/subscription/types.ts
Due: backend, frontend

test: pass both opencodeGoCatalog and recordingService to ProxyMessageRecorder
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
Due: backend

fix: resolve gateway model params via the underlying provider
  .changeset/gateway-model-params.md
  packages/shared/__tests__/provider-inference.spec.ts
  packages/shared/__tests__/provider-params-spec.spec.ts
  packages/shared/src/provider-inference.ts
  packages/shared/src/provider-params-spec.ts
Due: none

fix: resolve gateway model capabilities via the underlying provider
  .changeset/gateway-model-capabilities.md
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/model.controller.ts
  packages/shared/__tests__/provider-inference.spec.ts
  packages/shared/src/index.ts
  packages/shared/src/provider-inference.ts
  packages/shared/src/provider-params-spec.ts
Due: backend

feat: connect Kiro subscriptions via AWS SSO OIDC device flow
  .changeset/kiro-device-flow.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/kiro-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/kiro-cli-token.spec.ts
  packages/backend/src/routing/oauth/kiro-cli-token.ts
  packages/backend/src/routing/oauth/kiro-oauth.controller.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.ts
  packages/backend/src/routing/oauth/kiro-oidc.spec.ts
  packages/backend/src/routing/oauth/kiro-oidc.ts
  packages/frontend/src/components/CliOAuthDetailView.tsx
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/services/api/oauth.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
  packages/frontend/tests/components/ProviderDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/api/oauth.test.ts
  packages/frontend/tests/services/providers.test.ts
  packages/shared/src/subscription/configs.ts
  packages/shared/src/subscription/types.ts
Due: backend, frontend

feat: show OpenCode Go per-request cost in the model picker
  .changeset/opencode-go-per-request-pricing-label.md
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/model.controller.ts
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/services/formatters.ts
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/pages/RoutingTierCard.test.tsx
  packages/frontend/tests/services/formatters.test.ts
Due: backend, frontend

fix: back off Kiro device-flow polling on slow_down (RFC 8628 §3.5)
  packages/backend/src/routing/oauth/kiro-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.ts
Due: backend

feat: add NVIDIA NIM provider
  .changeset/nvidia-nim-provider.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/pages/FreeModels.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/pages/FreeModels.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/providers.spec.ts
  packages/shared/src/providers.ts
Due: backend, frontend

feat: add Grok subscription OAuth provider
  .changeset/grok-subscription-provider.md
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/oauth/core/callback-page.ts
  packages/backend/src/routing/oauth/oauth.module.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.controller.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/services/api/oauth.ts
  packages/frontend/src/services/oauth-popup.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/OAuthDetailView.test.tsx
  packages/frontend/tests/components/ProviderSelectModal-commandonly.test.tsx
  packages/frontend/tests/components/ProviderSelectModal-opencode-go.test.tsx
  packages/frontend/tests/components/ProviderSelectModal-subscription.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/api/oauth.test.ts
  packages/frontend/tests/services/oauth-popup.test.ts
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend, frontend

fix: support xAI manual OAuth code paste
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/tests/components/OAuthDetailView.test.tsx
Due: frontend

fix: preserve NVIDIA NIM model prefixes
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: block SSRF to internal hosts via custom provider URLs
  .changeset/ssrf-mapped-ipv6-and-oauth-log-scrub.md
  packages/backend/src/common/utils/secret-scrub.spec.ts
  packages/backend/src/common/utils/secret-scrub.ts
  packages/backend/src/common/utils/url-validation.spec.ts
  packages/backend/src/common/utils/url-validation.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.ts
  packages/backend/src/routing/proxy/copilot-token.service.ts
Due: backend

perf: cut dashboard's initial bundle for faster load
  .changeset/frontend-initial-load-perf.md
  packages/frontend/src/App.tsx
  packages/frontend/src/components/ChartCard.tsx
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/components/playground/MarkdownContent.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/oauth-popup.ts
  packages/frontend/src/services/sse.ts
  packages/frontend/src/services/syntax-highlight.ts
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/ChartCard.test.tsx
  packages/frontend/tests/components/CopilotDeviceLogin.test.tsx
  packages/frontend/tests/components/MarkdownContent.test.tsx
  packages/frontend/tests/components/OAuthDetailView.test.tsx
  packages/frontend/tests/components/PlaygroundColumn.test.tsx
  packages/frontend/tests/pages/Login.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
  packages/frontend/tests/services/oauth-popup.test.ts
  packages/frontend/tests/services/sse.test.ts
  packages/frontend/tests/services/syntax-highlight.test.ts
Due: frontend

fix: keep response styling during markdown load; dispose prior OAuth monitor
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/components/playground/MarkdownContent.tsx
Due: frontend

feat: improve routing UI with capability icons, filters, and response mode modal
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/components/HeaderTierModal.tsx
  packages/frontend/src/components/ModelCapabilityBadges.tsx
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/OAuthDetailView.tsx
  packages/frontend/src/components/ResponseModeModal.tsx
  packages/frontend/src/components/RoutingTabs.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingPanels.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/src/styles/routing-tabs.css
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/HeaderTierModal.test.tsx
  packages/frontend/tests/components/ModelCapabilityBadges.test.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/RoutingTabs.test.tsx
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
Due: frontend
