Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: resolve SPA deep-route refresh 404 in local/embedded mode
  .changeset/fix-spa-deep-route-refresh.md
  packages/backend/src/app.module.ts
  packages/backend/src/common/filters/spa-fallback.filter.spec.ts
  packages/backend/src/common/filters/spa-fallback.filter.ts
  packages/openclaw-plugin/scripts/copy-assets.js
  turbo.json
Due: backend

fix: address review feedback
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/routing/model-discovery/model-fallback.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-registry.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-registry.service.ts
Due: backend

fix: remove quotes from changeset frontmatter
  .changeset/fix-spa-deep-route-refresh.md
Due: none

fix: remove quotes from changeset frontmatter to unblock releases
  .changeset/fix-openrouter-provider-resolution.md
  .changeset/fix-spa-deep-route-refresh.md
  .changeset/green-lamps-relax.md
  .changeset/short-anthropic-pricing.md
Due: none

fix: skip prompt caching for Anthropic subscription auth
  .changeset/fix-anthropic-subscription-caching.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: quote manifest in changeset frontmatter
  .changeset/fix-anthropic-subscription-caching.md
Due: none

fix: show costs for dual-auth providers instead of zeroing them out
  .changeset/fix-dual-auth-cost-display.md
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
Due: backend

fix: switch Moonshot/Kimi API endpoint from .cn to .ai TLD
  .changeset/kimi-ai-tld.md
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

fix: restore proxy success recording for E2E smoke test
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

fix: address review feedback
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/CopilotDeviceLogin.test.tsx
  packages/frontend/tests/services/api.test.ts
Due: frontend

fix: update copilot disconnect test to match detail view navigation
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: none

feat: add Z.ai as subscription provider for coding plan usage
  .changeset/add-zai-subscription.md
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/services/providers.test.ts
  packages/openclaw-plugin/__tests__/subscription-capabilities.test.ts
  packages/openclaw-plugin/src/subscription.ts
  packages/openclaw-plugin/subscription-capabilities/index.js
  packages/subscription-capabilities/index.js
Due: frontend, plugin

fix(frontend): distinguish API key vs setup-token in subscription UI
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/src/components/ProviderSubscriptionTab.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
Due: frontend

fix(backend): resolve provider display names to IDs in OTLP inferAuthType
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/common/constants/providers.ts
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
Due: backend

feat: add OpenCode Zen (API key) and OpenCode Go (subscription) providers
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/common/constants/providers.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/openclaw-plugin/__tests__/subscription-capabilities.test.ts
  packages/openclaw-plugin/src/subscription.ts
  packages/openclaw-plugin/subscription-capabilities/index.js
  packages/subscription-capabilities/index.js
Due: backend, frontend, plugin

fix(backend): route Z.ai subscription through coding plan endpoint
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

fix: make OpenCode Go subscription-only and remove non-existent models endpoint
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/services/providers.test.ts
Due: backend, frontend

feat: add Ollama Cloud as subscription provider
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/common/constants/providers.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/openclaw-plugin/__tests__/subscription-capabilities.test.ts
  packages/openclaw-plugin/src/subscription.ts
  packages/openclaw-plugin/subscription-capabilities/index.js
  packages/subscription-capabilities/index.js
Due: backend, frontend, plugin

fix(backend): use subscription fallback when fetcher returns empty for subscription providers
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
Due: backend

fix(backend): log model discovery errors in routing controller
  packages/backend/src/routing/routing.controller.ts
Due: backend

fix(frontend): keep subscription models under discovered provider
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/tests/components/ModelPickerModal.test.tsx
Due: frontend

fix(backend): discover opencode go models
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
Due: backend

fix(routing): preserve overlapping subscription models
  packages/backend/src/common/utils/provider-inference.spec.ts
  packages/backend/src/common/utils/provider-inference.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/services/routing-utils.test.ts
Due: backend, frontend

fix(frontend): keep routing tier provider labels stable
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

fix(routing): narrow opencode go catalog
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/model-discovery/model-fallback.ts
  packages/openclaw-plugin/__tests__/subscription-capabilities.test.ts
  packages/openclaw-plugin/subscription-capabilities/index.d.ts
  packages/openclaw-plugin/subscription-capabilities/index.js
  packages/subscription-capabilities/index.d.ts
  packages/subscription-capabilities/index.js
Due: backend

fix(analytics): preserve ollama cloud model identity
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/src/hooks.ts
  packages/openclaw-plugin/subscription-capabilities/index.js
  packages/subscription-capabilities/index.js
Due: backend, plugin

fix(analytics): capture tokens from llm_output hook
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/src/hooks.ts
Due: plugin

fix(backend): preserve subscription auth in analytics
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

fix(plugin): wait for real llm usage totals
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/src/hooks.ts
Due: plugin

fix: inject stream_options for OpenAI-compatible providers to capture token usage
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix(cleanup): scope ollama usage handling
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/src/hooks.ts
Due: backend, plugin

fix(backend): keep deepseek stream usage metrics
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: address cubic review follow-ups
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/routing/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: backend

ci: skip release workflow on forks
  .github/workflows/release.yml
Due: none

feat(frontend): add product hunt upvote popup
  .changeset/product-hunt-upvote-popup.md
  packages/frontend/src/App.tsx
  packages/frontend/src/components/ProductHuntUpvoteModal.tsx
  packages/frontend/src/styles/product-hunt.css
  packages/frontend/src/styles/theme.css
  packages/frontend/src/vite-env.d.ts
  packages/frontend/tests/components/ProductHuntUpvoteModal.test.tsx
Due: frontend

fix: address cubic validation follow-ups
  packages/frontend/src/components/ProviderKeyForm.tsx
  packages/frontend/tests/components/ProviderKeyForm.test.tsx
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/src/hooks.ts
Due: frontend, plugin

chore: update product hunt popup copy and local override behavior
  packages/frontend/src/components/ProductHuntUpvoteModal.tsx
  packages/frontend/src/styles/product-hunt.css
  packages/frontend/tests/components/ProductHuntUpvoteModal.test.tsx
Due: frontend

chore(frontend): refine product hunt popup copy
  packages/frontend/src/components/ProductHuntUpvoteModal.tsx
Due: frontend

test(frontend): improve popup coverage and fix changeset metadata
  .changeset/product-hunt-upvote-popup.md
  packages/frontend/tests/components/ProductHuntUpvoteModal.test.tsx
Due: none
