Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

perf: speed up Overview and Messages pages
  .changeset/speed-up-overview-messages.md
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: backend, frontend

fix: capture real token usage from proxy responses
  .changeset/fix-proxy-token-capture.md
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/stream-writer.ts
  packages/backend/test/otlp-roundtrip.e2e-spec.ts
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/src/hooks.ts
Due: backend, plugin

test: cover remaining branch paths for patch coverage
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/openclaw-plugin/__tests__/hooks.test.ts
Due: backend

fix: Anthropic adapter handling of tool calls in streaming responses
  package-lock.json
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
Due: backend

feat: add animated skeleton loaders to Overview page
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/styles/skeleton.css
  packages/frontend/src/styles/theme.css
Due: frontend

fix: resolve multiple analytics chart display issues (#996)
  packages/frontend/src/components/CostChart.tsx
  packages/frontend/src/components/SingleTokenChart.tsx
  packages/frontend/src/components/TokenChart.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/chart-utils.ts
  packages/frontend/src/styles/cards.css
  packages/frontend/tests/components/TokenChart.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/services/chart-utils-coverage.test.ts
  packages/frontend/tests/services/chart-utils.test.ts
Due: frontend

feat: replace all loading text with spinners and improve page loaders
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/ResetPassword.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/styles/skeleton.css
  packages/frontend/tests/components/CustomProviderForm.test.tsx
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/LimitRuleModal.test.tsx
  packages/frontend/tests/pages/Limits-interactions.test.tsx
  packages/frontend/tests/pages/Limits.test.tsx
  packages/frontend/tests/pages/Login.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
  packages/frontend/tests/pages/ResetPassword.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

feat: improve skeleton loaders, add disconnect spinners, and fix danger button spinner color
  .changeset/add-skeleton-loaders.md
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/ModelPrices.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/styles/skeleton.css
Due: frontend

fix: use double quotes in changeset for CI compatibility
  .changeset/add-skeleton-loaders.md
Due: none

fix: address review feedback on optimistic reverts, test scoping, and a11y
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/styles/skeleton.css
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

fix: add missing getModelPrices mock to Routing test
  packages/frontend/tests/pages/Routing.test.tsx
Due: none

feat: add animated skeleton loaders and spinner buttons (#1050)
  .changeset/add-skeleton-loaders.md
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/EmailProviderModal.tsx
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/LimitRuleModal.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/ModelPrices.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/ResetPassword.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/src/styles/skeleton.css
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/CustomProviderForm.test.tsx
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/LimitRuleModal.test.tsx
  packages/frontend/tests/pages/Limits-interactions.test.tsx
  packages/frontend/tests/pages/Limits.test.tsx
  packages/frontend/tests/pages/Login.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
  packages/frontend/tests/pages/ResetPassword.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

perf: optimize messages page latency
  .changeset/messages-latency.md
  packages/backend/.env.example
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/config/app.config.spec.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1773202787708-AddModelsAgentIndex.spec.ts
  packages/backend/src/database/migrations/1773202787708-AddModelsAgentIndex.ts
  packages/backend/src/routing/custom-provider.controller.spec.ts
  packages/backend/src/routing/custom-provider.controller.ts
Due: backend

perf: reduce overview endpoint latency by merging queries
  .changeset/overview-latency.md
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
Due: backend

perf: reduce agents endpoint latency with parallel queries and daily sparkline
  .changeset/agents-latency.md
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
Due: backend

fix: decouple per-range chart behavior and fill daily gaps for even spacing
  packages/frontend/src/components/CostChart.tsx
  packages/frontend/src/components/SingleTokenChart.tsx
  packages/frontend/src/components/TokenChart.tsx
  packages/frontend/src/services/chart-utils.ts
  packages/frontend/tests/components/TokenChart.test.tsx
  packages/frontend/tests/services/chart-utils-coverage.test.ts
  packages/frontend/tests/services/chart-utils.test.ts
Due: frontend

Reduce custom-providers endpoint latency with caching and parallelization
  .changeset/custom-providers-cache.md
  packages/backend/src/routing/custom-provider.controller.spec.ts
  packages/backend/src/routing/custom-provider.controller.ts
  packages/backend/src/routing/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider.service.ts
  packages/backend/src/routing/routing-cache.service.spec.ts
  packages/backend/src/routing/routing-cache.service.ts
Due: backend

feat: add implementation plan for OpenAI subscription routing
  PLAN-openai-subscriptions.md
Due: none

perf(frontend): add code splitting, vendor chunks, and asset optimizations
  .changeset/frontend-performance-optimizations.md
  packages/frontend/src/components/CostChart.tsx
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/components/SingleTokenChart.tsx
  packages/frontend/src/components/TokenChart.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/services/model-display.ts
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/Header.test.tsx
  packages/frontend/tests/services/model-display.test.ts
  packages/frontend/vite.config.ts
Due: frontend

Optimize slow backend endpoints for sub-500ms response times
  .changeset/goofy-baboons-lose.md
  packages/backend/src/analytics/controllers/costs.controller.spec.ts
  packages/backend/src/analytics/controllers/costs.controller.ts
  packages/backend/src/analytics/controllers/tokens.controller.spec.ts
  packages/backend/src/analytics/controllers/tokens.controller.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/notifications/services/notification-cron.service.spec.ts
  packages/backend/src/notifications/services/notification-cron.service.ts
  packages/backend/src/notifications/services/notification-rules.service.ts
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/backend/src/security/security.service.ts
Due: backend

Add lockfile update and implementation plan
  package-lock.json
  plan.md
Due: none

docs: expand OpenAI subscription plan with implementation-level details
  PLAN-openai-subscriptions.md
Due: none

perf: optimize slow backend endpoints for sub-500ms response times
  .changeset/goofy-baboons-lose.md
  packages/backend/src/analytics/controllers/costs.controller.spec.ts
  packages/backend/src/analytics/controllers/costs.controller.ts
  packages/backend/src/analytics/controllers/tokens.controller.spec.ts
  packages/backend/src/analytics/controllers/tokens.controller.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/notifications/services/notification-cron.service.spec.ts
  packages/backend/src/notifications/services/notification-cron.service.ts
  packages/backend/src/notifications/services/notification-rules.service.spec.ts
  packages/backend/src/notifications/services/notification-rules.service.ts
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/src/routing/routing.service.ts
  packages/backend/src/security/security.service.ts
Due: backend

fix: remove 'Last hour' range option from overview chart
  packages/frontend/src/pages/Overview.tsx
Due: frontend

test: cover consumption fetch error path in notification cron
  packages/backend/src/notifications/services/notification-cron.service.spec.ts
Due: backend

fix: pricing-sync test failing in local mode CI (MANIFEST_MODE env)
  packages/backend/src/database/pricing-sync.service.spec.ts
Due: backend

refactor: replace 3-mode system with 2-axis (mode × devMode)
  .changeset/refactor-devmode-2axis.md
  CLAUDE.md
  CONTRIBUTING.md
  packages/backend/src/health/health.controller.spec.ts
  packages/backend/src/health/health.controller.ts
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/services/local-mode.ts
  packages/frontend/src/styles/controls.css
  packages/frontend/tests/components/Header.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/services/local-mode.test.ts
  packages/openclaw-plugin/README.md
  packages/openclaw-plugin/__tests__/command.test.ts
  packages/openclaw-plugin/__tests__/config.test.ts
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/__tests__/local-mode.test.ts
  packages/openclaw-plugin/__tests__/register.test.ts
  packages/openclaw-plugin/__tests__/routing.test.ts
  packages/openclaw-plugin/__tests__/telemetry.test.ts
  packages/openclaw-plugin/__tests__/tools.test.ts
  packages/openclaw-plugin/__tests__/verify.test.ts
  packages/openclaw-plugin/openclaw.plugin.json
  packages/openclaw-plugin/src/command.ts
  packages/openclaw-plugin/src/config.ts
  packages/openclaw-plugin/src/constants.ts
  packages/openclaw-plugin/src/index.ts
  packages/openclaw-plugin/src/telemetry.ts
Due: backend, frontend, plugin

test: cover uncovered lines in subscription routing and billing changes
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/otlp/services/trace-ingest.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/resolve.service.spec.ts
  packages/frontend/tests/components/ModelPickerModal.test.tsx
  packages/frontend/tests/components/ProviderSelectModal-subscription.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/services/api.test.ts
  packages/frontend/tests/services/providers.test.ts
Due: backend

fix: use local timezone for chart display and fix trend badge colors
  packages/backend/src/common/utils/sql-dialect.spec.ts
  packages/backend/src/common/utils/sql-dialect.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/datasource.ts
  packages/backend/src/routing/proxy/__tests__/google-adapter.spec.ts
  packages/backend/src/routing/proxy/google-adapter.ts
  packages/frontend/src/components/CostChart.tsx
  packages/frontend/src/components/SingleTokenChart.tsx
  packages/frontend/src/components/TokenChart.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/chart-utils.ts
  packages/frontend/src/services/formatters.ts
  packages/frontend/src/styles/charts.css
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/src/styles/theme.css
  packages/frontend/src/styles/tokens.css
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/services/chart-utils.test.ts
  packages/frontend/tests/services/formatters-extra.test.ts
  packages/frontend/tests/services/formatters.test.ts
Due: backend, frontend

feat: consistent auth badges on provider icons across all pages
  .changeset/auth-badge-consistency.md
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/frontend/src/components/AuthBadge.tsx
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: backend, frontend

fix: convert hour buckets to UTC in SQL for timezone-correct 24h chart
  packages/backend/src/common/utils/sql-dialect.spec.ts
  packages/backend/src/common/utils/sql-dialect.ts
Due: backend

fix: heartbeat detection checks only the last user message
  .changeset/fix-heartbeat-detection.md
  package-lock.json
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/openclaw-plugin/__tests__/hooks.test.ts
  packages/openclaw-plugin/public/index.html
  packages/openclaw-plugin/src/hooks.ts
Due: backend, plugin

Fix number formatting in threshold alert emails
  .changeset/fix-threshold-numbers.md
  packages/backend/src/notifications/emails/threshold-alert.tsx
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

Update package-lock.json
  package-lock.json
Due: none

feat: add GitHub Copilot subscription provider with device login
  .changeset/copilot-subscription-provider.md
  package-lock.json
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/database/seed-models.ts
  packages/backend/src/routing/__tests__/copilot-device-auth.service.spec.ts
  packages/backend/src/routing/copilot-device-auth.service.ts
  packages/backend/src/routing/dto/routing.dto.spec.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/provider-aliases.spec.ts
  packages/backend/src/routing/provider-aliases.ts
  packages/backend/src/routing/proxy/__tests__/copilot-token.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/copilot-token.service.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve.controller.spec.ts
  packages/backend/src/routing/resolve.controller.ts
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
  packages/backend/src/routing/routing.module.ts
  packages/frontend/src/components/CopilotDeviceLogin.tsx
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/src/services/routing-utils.ts
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/frontend/tests/services/routing-utils.test.ts
  packages/openclaw-plugin/__tests__/subscription.test.ts
  packages/openclaw-plugin/public/index.html
  packages/openclaw-plugin/src/subscription.ts
Due: backend, frontend, plugin

feat: add OpenAI subscription routing via OAuth PKCE flow
  .changeset/openai-subscription-support.md
  packages/backend/src/database/seed-messages.spec.ts
  packages/backend/src/database/seed-messages.ts
  packages/backend/src/routing/openai-oauth.controller.spec.ts
  packages/backend/src/routing/openai-oauth.controller.ts
  packages/backend/src/routing/openai-oauth.service.spec.ts
  packages/backend/src/routing/openai-oauth.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing.module.ts
  packages/frontend/src/components/ProviderSelectModal.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/provider-utils.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderSelectModal-subscription.test.tsx
  packages/frontend/tests/components/ProviderSelectModal.test.tsx
  packages/frontend/tests/services/providers.test.ts
Due: backend, frontend

fix: address code review and UX issues
  packages/backend/src/routing/proxy/__tests__/copilot-token.service.spec.ts
  packages/backend/src/routing/proxy/copilot-token.service.ts
  packages/frontend/src/components/CopilotDeviceLogin.tsx
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/CopilotDeviceLogin.test.tsx
Due: backend, frontend

test: achieve 100% line coverage for Copilot integration
  packages/frontend/tests/components/CopilotDeviceLogin.test.tsx
  packages/frontend/tests/services/api.test.ts
Due: none

Add comprehensive OWASP Top 10:2021 security audit report
  SECURITY_AUDIT.md
Due: none
