Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

test: cover Auto-fix GA analytics surfaces
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: none

chore: remove legacy Auto-fix rollout state
  .changeset/retire-autofix-rollout-state.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801600000000-DropLegacyAutofixRolloutColumns.spec.ts
  packages/backend/src/database/migrations/1801600000000-DropLegacyAutofixRolloutColumns.ts
Due: backend

chore: remove legacy Auto-fix rollout state (#2670)
  .changeset/retire-autofix-rollout-state.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801600000000-DropLegacyAutofixRolloutColumns.spec.ts
  packages/backend/src/database/migrations/1801600000000-DropLegacyAutofixRolloutColumns.ts
Due: backend

feat(routing): add per-model key rotation rules and vendor healer service
  docker/.env.example
  docker/DOCKER_README.md
  docker/docker-compose.yml
  healer/Dockerfile
  healer/heal.mjs
  healer/package-lock.json
  healer/package.json
  healer/tests/heal-contract.test.mjs
  packages/backend/.env.example
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801700000000-AddAgentKeyRotationRules.ts
  packages/backend/src/entities/agent-key-rotation-rule.entity.ts
  packages/backend/src/routing/dto/routing.dto.ts
  packages/backend/src/routing/key-rules.controller.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.key-rotation.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.routes.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/key-rotation.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/routing-core/__tests__/key-rotation-rule.service.spec.ts
  packages/backend/src/routing/routing-core/key-rotation-rule.service.ts
  packages/backend/src/routing/routing-core/routing-cache.service.ts
  packages/backend/src/routing/routing-core/routing-core.module.ts
  packages/backend/src/routing/routing.module.ts
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/RoutingKeyOrderSection.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/api/key-rules.ts
  packages/frontend/src/styles/routing-key-order.css
  packages/shared/src/index.ts
  packages/shared/src/key-rotation-rule.ts
Due: backend, frontend

feat: add mnfst management CLI and /api/v1/me identity endpoint
  .changeset/config.json
  .changeset/mnfst-cli-initial.md
  .github/workflows/ci.yml
  eslint.config.mjs
  package-lock.json
  package.json
  packages/backend/src/auth/auth.module.ts
  packages/backend/src/auth/me.controller.spec.ts
  packages/backend/src/auth/me.controller.ts
  packages/cli/README.md
  packages/cli/bin/mnfst.js
  packages/cli/jest.config.js
  packages/cli/package.json
  packages/cli/src/args.spec.ts
  packages/cli/src/args.ts
  packages/cli/src/client.spec.ts
  packages/cli/src/client.ts
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/analytics.ts
  packages/cli/src/commands/auth.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/provider.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/config.spec.ts
  packages/cli/src/config.ts
  packages/cli/src/context.ts
  packages/cli/src/errors.ts
  packages/cli/src/index.spec.ts
  packages/cli/src/index.ts
  packages/cli/src/secrets.spec.ts
  packages/cli/src/secrets.ts
  packages/cli/src/version.ts
  packages/cli/test/helpers.ts
  packages/cli/tsconfig.build.json
  packages/cli/tsconfig.json
Due: backend

feat(backend): expiring API keys with 30-day sliding window
  packages/backend/src/auth/me.controller.spec.ts
  packages/backend/src/auth/me.controller.ts
  packages/backend/src/common/guards/api-key.guard.spec.ts
  packages/backend/src/common/guards/api-key.guard.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801700000000-AddApiKeyExpiresAt.spec.ts
  packages/backend/src/database/migrations/1801700000000-AddApiKeyExpiresAt.ts
  packages/backend/src/entities/api-key.entity.ts
Due: backend

fix(backend): use naive timestamp for api_keys.expires_at and validate CLI TTL
  packages/backend/src/common/guards/api-key.guard.spec.ts
  packages/backend/src/common/guards/api-key.guard.ts
  packages/backend/src/config/app.config.spec.ts
  packages/backend/src/config/app.config.ts
  packages/backend/src/database/migrations/1801700000000-AddApiKeyExpiresAt.spec.ts
  packages/backend/src/database/migrations/1801700000000-AddApiKeyExpiresAt.ts
Due: backend

feat(backend): cli_auth_codes table for one-time CLI login codes
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801710000000-CreateCliAuthCodes.spec.ts
  packages/backend/src/database/migrations/1801710000000-CreateCliAuthCodes.ts
  packages/backend/src/entities/cli-auth-code.entity.ts
  packages/backend/test/helpers.ts
Due: backend

feat(backend): CLI auth code service (authorize, exchange, revoke)
  packages/backend/src/auth/cli-auth.service.spec.ts
  packages/backend/src/auth/cli-auth.service.ts
Due: backend

fix(backend): one clock for api_keys.expires_at, ISO on the CLI wire
  packages/backend/src/auth/cli-auth.service.spec.ts
  packages/backend/src/auth/cli-auth.service.ts
  packages/backend/src/common/guards/api-key.guard.spec.ts
  packages/backend/src/common/guards/api-key.guard.ts
Due: backend

feat(backend): CLI authorize/token endpoints for browser login
  packages/backend/src/auth/auth.module.ts
  packages/backend/src/auth/cli-auth.controller.spec.ts
  packages/backend/src/auth/cli-auth.controller.ts
  packages/backend/test/cli-auth.e2e-spec.ts
  packages/backend/test/helpers.ts
Due: backend

fix(backend): age CLI codes on the Node clock in e2e, tighten PAT assertions
  packages/backend/src/auth/cli-auth.controller.ts
  packages/backend/test/cli-auth.e2e-spec.ts
Due: backend

feat(frontend): /cli/auth one-click Authorize page for CLI login
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/CliAuth.tsx
  packages/frontend/tests/pages/CliAuth.test.tsx
Due: frontend

fix(frontend): state the real CLI grant scope and allow retry after a failed authorize
  packages/frontend/src/pages/CliAuth.tsx
  packages/frontend/tests/pages/CliAuth.test.tsx
Due: frontend

feat(cli): browser OAuth login with loopback code exchange
  packages/cli/README.md
  packages/cli/src/commands/auth.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/context.ts
  packages/cli/src/index.ts
  packages/cli/src/oauth-login.spec.ts
  packages/cli/src/oauth-login.ts
  packages/cli/test/helpers.ts
Due: none

test(cli): stub child_process in the browser-opener fallback case
  packages/cli/src/oauth-login.spec.ts
Due: none

fix(cli): survive async opener failure, escape cmd URLs, store browser token before validation
  packages/cli/src/commands/auth.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/context.ts
  packages/cli/src/index.ts
  packages/cli/src/oauth-login.spec.ts
  packages/cli/src/oauth-login.ts
Due: none

docs(backend): document CLI_TOKEN_TTL_DAYS
  CLAUDE.md
  packages/backend/.env.example
Due: none

feat: add OrcaRouter as a built-in provider connection
  .changeset/orcarouter-provider.md
  README.md
  packages/backend/src/common/constants/providers.spec.ts
  packages/backend/src/common/utils/provider-inference.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/shared/__tests__/provider-inference.spec.ts
  packages/shared/src/provider-inference.ts
  packages/shared/src/providers.ts
Due: backend, frontend

feat(cli): strip dashboard-only sparkline data from agent list output
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/commands.spec.ts
Due: none

feat(cli): require --category on agent create and add agent categories command
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/index.ts
Due: none

feat(cli): require --platform on agent create (drives setup), add agent platforms command
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/index.ts
Due: none

feat(cli): managed agent keystore, agent key path/show, and run with key injection
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/run.spec.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/context.ts
  packages/cli/src/index.ts
  packages/cli/src/keystore.spec.ts
  packages/cli/src/keystore.ts
Due: none

feat(cli): accept display names everywhere by mirroring backend slugification
  packages/cli/src/commands/agent.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/provider.ts
  packages/cli/src/commands/routing.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/slug.spec.ts
  packages/cli/src/slug.ts
Due: none

feat(cli): trim provider list to operational fields
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/provider.ts
Due: none

feat(cli): provider catalog generated from manifest-shared, alias-aware connect
  packages/cli/package.json
  packages/cli/scripts/generate-provider-catalog.cjs
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/provider.ts
  packages/cli/src/index.ts
  packages/cli/src/provider-catalog.gen.ts
  packages/cli/src/provider-catalog.spec.ts
Due: none

refactor(cli): slim provider catalog output to id, name, auth types
  packages/cli/scripts/generate-provider-catalog.cjs
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/provider.ts
  packages/cli/src/index.ts
  packages/cli/src/provider-catalog.gen.ts
Due: none

feat(cli): positional provider connect with auto-agent and hidden credential prompt
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/provider.ts
  packages/cli/src/context.ts
  packages/cli/src/index.ts
  packages/cli/src/secrets.ts
  packages/cli/test/helpers.ts
Due: none

feat(cli): interactive auth-type choice on provider connect, honest subscription handling
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/provider.ts
  packages/cli/src/context.ts
  packages/cli/src/index.ts
  packages/cli/test/helpers.ts
Due: none

fix(cli): credential flags suppress interactive prompts (pty-safe for agents)
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/provider.ts
Due: none

feat(cli): drive subscription OAuth flows from provider connect
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/oauth-connect.spec.ts
  packages/cli/src/commands/oauth-connect.ts
  packages/cli/src/commands/provider.ts
Due: none

feat(cli): require explicit --auth-type for multi-auth providers, infer from credential source
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/provider.ts
Due: none

feat(cli): per-agent provider list via --agent, drop analytics commands for v1
  packages/cli/src/commands/analytics.ts
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/provider.ts
  packages/cli/src/index.ts
Due: none

refactor(cli): drop redundant total_models from provider list
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/provider.ts
Due: none

feat(cli): models command for routing configuration
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/models.ts
  packages/cli/src/commands/provider.ts
  packages/cli/src/index.ts
Due: none

fix(cli): models requires an explicit agent (the answer depends on it)
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/models.ts
  packages/cli/src/index.ts
Due: none

feat(cli): models --cost and --capabilities flags mirroring /v1/models
  packages/cli/src/commands/commands.spec.ts
  packages/cli/src/commands/models.ts
  packages/cli/src/index.ts
Due: none
