Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix: add agent_category to Agent interface in AgentGuard
  packages/frontend/src/components/AgentGuard.tsx
Due: frontend

fix: default agent type to OpenClaw and fix self-hosted install docs
  README.md
  packages/frontend/src/pages/Workspace.tsx
Due: frontend

some fixes
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

fix(proxy): capture streaming token usage for passthrough providers
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/stream-writer.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/stream-writer.ts
Due: backend

docs: improve Docker Hub README clarity and consistency
  docker/DOCKER_README.md
Due: none

feat: add MiniMax-M2.7 and MiniMax-M2.7-highspeed model support
  packages/backend/src/database/migrations/1772960000000-PurgeNonCuratedModels.spec.ts
  packages/backend/src/database/migrations/1772960000000-PurgeNonCuratedModels.ts
  packages/backend/src/model-prices/model-name-normalizer.spec.ts
  packages/backend/src/model-prices/model-name-normalizer.ts
  packages/frontend/src/services/providers.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend, frontend

fix: update Hermes setup to use model section instead of custom_providers
  .changeset/fix-hermes-setup.md
  packages/frontend/src/components/HermesSetup.tsx
  packages/frontend/tests/components/HermesSetup.test.tsx
Due: frontend

test: add coverage for yaml config copy button
  packages/frontend/tests/components/HermesSetup.test.tsx
Due: none

chore: add changeset for Docker local mode improvements
  .changeset/docker-local-mode.md
Due: none

fix(auth): prevent GuestGuard from unmounting children during session refetch
  .changeset/fix-email-signup-verification.md
  packages/frontend/src/components/GuestGuard.tsx
  packages/frontend/tests/components/GuestGuard.test.tsx
Due: frontend

fix(docker): auto-detect local mode via /.dockerenv instead of requiring env var
  .changeset/docker-auto-detect-local-mode.md
  docker/docker-compose.yml
  packages/backend/src/auth/session.guard.ts
  packages/backend/src/common/utils/detect-local-mode.spec.ts
  packages/backend/src/common/utils/detect-local-mode.ts
  packages/backend/src/setup/setup.service.ts
Due: backend

Fix Google API key validation to accept new key formats
  packages/frontend/src/services/providers.ts
Due: frontend

fix: remove forced width on email logo to prevent stretching
  packages/backend/src/notifications/emails/reset-password.tsx
  packages/backend/src/notifications/emails/test-email.tsx
  packages/backend/src/notifications/emails/threshold-alert.tsx
  packages/backend/src/notifications/emails/verify-email.tsx
Due: backend

fix: honor specific-tier fallbacks in proxy path
  packages/backend/src/routing/dto/resolve-response.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve.service.spec.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/tier.service.ts
Due: backend

fix(proxy): inject stream_options.include_usage for Ollama endpoints
  .changeset/fix-ollama-token-count.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

feat: add message feedback (thumbs up/down) with modal for dislike details
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/messages.controller.spec.ts
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/dto/message-feedback.dto.spec.ts
  packages/backend/src/analytics/dto/message-feedback.dto.ts
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/analytics/services/message-feedback.service.spec.ts
  packages/backend/src/analytics/services/message-feedback.service.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1775600000000-AddMessageFeedback.spec.ts
  packages/backend/src/database/migrations/1775600000000-AddMessageFeedback.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/test/messages.e2e-spec.ts
  packages/frontend/src/components/FeedbackModal.tsx
  packages/frontend/src/components/MessageTable.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/components/message-table-types.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/src/styles/feedback.css
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/MessageTable.test.tsx
Due: backend, frontend

style: use filled thumb icons, teal active color, tighter feedback cell padding
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/src/styles/feedback.css
Due: frontend

chore: add changeset for message feedback feature
  .changeset/message-feedback.md
Due: none

test: add FeedbackModal and FeedbackCell test coverage
  packages/frontend/tests/components/FeedbackModal.test.tsx
  packages/frontend/tests/components/MessageTable.test.tsx
Due: none

test: add feedback coverage for MessageLog, Overview, FeedbackModal, and FeedbackCell
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: none

feat: hide feedback column in local mode
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

test: add coverage for feedback error rollback and API functions
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/services/api.test.ts
Due: none

fix(routing): filter internal Azure routing models from GitHub Copilot provider
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
Due: backend

chore: add changeset
  .changeset/filter-copilot-routers.md
Due: none

fix: polish OpenCode Go provider detail view
  packages/frontend/src/components/ProviderDetailView.tsx
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/services/providers.ts
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/services/providers.test.ts
Due: frontend

ci: restore GitHub releases on version bump
  .github/workflows/release.yml
Due: none

fix(routing): prevent long model names from overflowing tier cards
  packages/frontend/src/styles/routing.css
Due: frontend

fix: update subscription fallback test for M2.7 models
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
Due: backend

Update comparison table for Manifest and OpenRouter
  README.md
Due: none

Update audience description for Manifest vs OpenRouter
  README.md
Due: none

feat: add Free Models page with provider logos and public API endpoint
  .changeset/loose-ducks-happen.md
  .gitignore
  packages/backend/src/app.module.ts
  packages/backend/src/common/constants/cache.constants.ts
  packages/backend/src/free-models/free-models-provider-metadata.ts
  packages/backend/src/free-models/free-models-sync.service.spec.ts
  packages/backend/src/free-models/free-models-sync.service.ts
  packages/backend/src/free-models/free-models.controller.spec.ts
  packages/backend/src/free-models/free-models.controller.ts
  packages/backend/src/free-models/free-models.module.ts
  packages/backend/src/free-models/free-models.service.spec.ts
  packages/backend/src/free-models/free-models.service.ts
  packages/backend/src/public-stats/public-stats.controller.spec.ts
  packages/backend/src/public-stats/public-stats.controller.ts
  packages/backend/src/public-stats/public-stats.module.ts
  packages/frontend/public/icons/cerebras-dark-mode.svg
  packages/frontend/public/icons/cerebras.svg
  packages/frontend/public/icons/github-dark-mode.svg
  packages/frontend/public/icons/github.svg
  packages/frontend/public/icons/groq.svg
  packages/frontend/public/icons/huggingface.svg
  packages/frontend/public/icons/ollama-dark-mode.svg
  packages/frontend/public/icons/ollama.svg
  packages/frontend/public/icons/openrouter.svg
  packages/frontend/public/icons/siliconflow.svg
  packages/frontend/public/icons/workersai.svg
  packages/frontend/public/icons/zai-dark-mode.svg
  packages/frontend/public/icons/zai.svg
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/src/pages/FreeModels.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/api/free-models.ts
  packages/frontend/src/styles/data.css
  packages/frontend/tests/pages/FreeModels.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: backend, frontend

test: improve FreeModels coverage to 100% lines
  packages/frontend/tests/pages/FreeModels.test.tsx
Due: none

fix(proxy): preserve full model id for custom provider endpoints
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

chore: clarify local dev script names
  CONTRIBUTING.md
  package.json
  packages/backend/package.json
Due: none

fix: make dev backend script cross-platform
  package-lock.json
  package.json
Due: none

Fix local HTTP Safari loads by disabling HTTPS upgrade headers
  packages/backend/src/main.ts
Due: backend

Reapply "feat(providers): promote vLLM / LM Studio / llama.cpp to first-class tiles"
  packages/backend/src/setup/setup.controller.spec.ts
  packages/backend/src/setup/setup.controller.ts
  packages/backend/src/setup/setup.service.spec.ts
  packages/backend/src/setup/setup.service.ts
  packages/backend/test/setup.e2e-spec.ts
  packages/frontend/src/components/CustomProviderForm.tsx
  packages/frontend/src/components/ProviderApiKeyTab.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/services/providers.ts
  packages/frontend/src/services/setup-status.ts
  packages/frontend/tests/components/CustomProviderForm.test.tsx
  packages/frontend/tests/components/ProviderApiKeyTab.test.tsx
  packages/frontend/tests/services/providers.test.ts
  packages/frontend/tests/services/setup-status.test.ts
Due: backend, frontend

feat(providers): add official logos + hide local-only tiles in cloud mode
  .changeset/local-llm-tiles.md
  packages/frontend/public/icons/llamacpp.png
  packages/frontend/public/icons/lmstudio.png
  packages/frontend/public/icons/vllm.png
  packages/frontend/src/components/ProviderApiKeyTab.tsx
  packages/frontend/src/components/ProviderIcon.tsx
  packages/frontend/tests/components/ProviderApiKeyTab.test.tsx
Due: frontend

feat(providers): grey out local-only tiles in cloud mode instead of hiding
  packages/frontend/src/components/ProviderApiKeyTab.tsx
  packages/frontend/tests/components/ProviderApiKeyTab.test.tsx
Due: frontend

feat(providers): provider-specific UX for vLLM / LM Studio / llama.cpp
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/custom-provider/probe-error.spec.ts
  packages/backend/src/routing/custom-provider/probe-error.ts
  packages/backend/src/setup/setup.controller.spec.ts
  packages/backend/src/setup/setup.controller.ts
  packages/backend/src/setup/setup.service.ts
  packages/frontend/src/components/LocalServerDetailView.tsx
  packages/frontend/src/components/ProviderApiKeyTab.tsx
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/services/setup-status.ts
  packages/frontend/tests/components/LocalServerDetailView.test.tsx
  packages/frontend/tests/components/ProviderApiKeyTab.test.tsx
  packages/frontend/tests/services/setup-status.test.ts
  packages/shared/src/index.ts
  packages/shared/src/providers.ts
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
