Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix(ui): remove agent-name H1 from agent detail header
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/tests/pages/AgentDetail.test.tsx
Due: frontend

fix(ui): drop duplicate agent H1 in Overview
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

fix: rename guardrails tab to limits
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/AgentDetail.tsx
Due: frontend

feat(agent): add horizontal-tabbed shell for agent detail view
  .changeset/agent-tabbed-shell.md
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/src/pages/AgentLimitsRedirect.tsx
  packages/frontend/src/pages/AgentMessagesRedirect.tsx
  packages/frontend/src/pages/AgentOverview.tsx
  packages/frontend/tests/pages/AgentDetail.test.tsx
  packages/frontend/tests/pages/AgentOverview.test.tsx
  packages/frontend/tests/pages/AgentRedirects.test.tsx
Due: frontend

feat(nav): unify sidebar to global-only, remove agent sub-nav
  .changeset/agent-tabbed-shell.md
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/tests/components/App.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
Due: frontend

fix(nav): remove default link underline on agent detail tabs
  packages/frontend/src/styles/cards.css
Due: frontend

fix(ui): restore agent detail header (platform icon + name H1)
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/tests/pages/AgentDetail.test.tsx
Due: frontend

fix(agent-detail): show resolved display name instead of URL slug
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/tests/pages/AgentDetail.test.tsx
Due: frontend

fix(global-providers): wire per-agent access filter into routing + grant-on-connect + disable/disconnect/oauth/migration fixes
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.ts
  packages/backend/src/model-discovery/model-discovery.module.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/agent-provider-access.controller.spec.ts
  packages/backend/src/routing/agent-provider-access.controller.ts
  packages/backend/src/routing/header-tiers/__tests__/header-tier.service.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.ts
  packages/backend/src/routing/header-tiers/header-tier.service.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/backend/src/routing/oauth/core/oauth-refresh-coordinator.spec.ts
  packages/backend/src/routing/oauth/core/oauth-refresh-coordinator.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.ts
  packages/backend/src/routing/oauth/redirect-pkce-oauth.base.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/__tests__/routing-invalidation.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/specificity.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier-auto-assign.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/routing-core/routing-invalidation.service.ts
  packages/backend/src/routing/routing-core/specificity.service.ts
  packages/backend/src/routing/routing-core/tier-auto-assign.service.ts
  packages/backend/src/routing/routing-core/tier.service.ts
  packages/backend/src/routing/specificity.controller.ts
  packages/backend/src/routing/tier.controller.ts
Due: backend

feat(global-providers): add user-providers and agent-provider-access endpoints
  packages/backend/src/routing/agent-provider-access.controller.ts
  packages/backend/src/routing/user-providers.controller.ts
Due: backend

feat(global-providers): thread userId through all callers of core services
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/copilot.controller.ts
  packages/backend/src/routing/custom-provider/custom-provider.controller.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/backend/src/routing/oauth/gemini-oauth.controller.ts
  packages/backend/src/routing/oauth/kiro-oauth.controller.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.ts
  packages/backend/src/routing/oauth/minimax-oauth.controller.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.ts
  packages/backend/src/routing/oauth/openai-oauth.controller.ts
  packages/backend/src/routing/oauth/redirect-pkce-oauth.base.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/resolve/resolve.controller.ts
  packages/backend/src/routing/routing.module.ts
Due: backend

fix(global-providers): thread userId through xai-oauth controller
  packages/backend/src/routing/oauth/xai/xai-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.controller.ts
  packages/backend/test/agent-provider-access.e2e-spec.ts
Due: backend

test(global-providers): update all specs to match user-scoped method signatures
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.boundary.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/routing/agent-provider-access.controller.spec.ts
  packages/backend/src/routing/copilot.controller.spec.ts
  packages/backend/src/routing/custom-provider.controller.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/gemini-oauth.controller.spec.ts
  packages/backend/src/routing/kiro-oauth.controller.spec.ts
  packages/backend/src/routing/minimax-oauth.controller.spec.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/gemini-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.spec.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.spec.ts
  packages/backend/src/routing/oauth/openai-oauth.controller.spec.ts
  packages/backend/src/routing/oauth/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.spec.ts
  packages/backend/src/routing/openai-oauth.controller.spec.ts
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.controller.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.edge.spec.ts
  packages/backend/src/routing/resolve/__tests__/resolve.service.spec.ts
  packages/backend/src/routing/routing-cache.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
  packages/backend/src/routing/routing-core/routing-cache.service.spec.ts
  packages/backend/src/routing/user-providers.controller.spec.ts
Due: backend

test(global-providers): grant provider access in e2e setup
  packages/backend/src/routing/__tests__/specificity.controller.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.controller.spec.ts
  packages/backend/test/proxy.e2e-spec.ts
  packages/backend/test/routing-flow.e2e-spec.ts
Due: backend

feat(global-providers): add AgentProviderAccess junction entity and LiftProvidersToUserLevel migration
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.ts
  packages/backend/src/entities/agent-provider-access.entity.ts
Due: backend

feat(global-providers): rewrite core services to user-scoped provider model
  packages/backend/src/database/database.module.ts
  packages/backend/src/entities/user-provider.entity.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/resolve/resolve.service.ts
  packages/backend/src/routing/routing-core/provider-key.service.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/src/routing/routing-core/routing-cache.service.ts
  packages/backend/src/routing/routing-core/routing-core.module.ts
  packages/backend/src/routing/routing-core/tier-auto-assign.service.ts
  packages/backend/src/routing/routing-core/tier.service.ts
  packages/backend/test/helpers.ts
Due: backend

test(e2e): fix test-setup gaps introduced by PR3 global-provider lift
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
  packages/backend/test/multi-key-providers.e2e-spec.ts
  packages/backend/test/proxy-fallback-auth.e2e-spec.ts
Due: none

fix(routing-cache): clear custom-providers cache on invalidateAgent
  packages/backend/src/routing/routing-core/routing-cache.service.ts
Due: backend

feat(global-providers): provider pages + agent Providers tab; drop agent H1
  .changeset/global-providers-frontend.md
  packages/frontend/src/components/Sidebar.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/AgentDetail.tsx
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/providers/Byok.tsx
  packages/frontend/src/pages/providers/Local.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/pages/providers/Subscriptions.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/api/providers.ts
  packages/frontend/src/services/api/routing.ts
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/AgentDetail.test.tsx
  packages/frontend/tests/pages/AgentProviders.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/services/api/providers.test.ts
  packages/frontend/tests/services/api/routing-extra.test.ts
Due: frontend

fix(ui): drop redundant section H1 from agent tab pages
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/tests/pages/Limits.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
Due: frontend

fix(ui): open a provider's connect form directly from its row
  packages/frontend/src/components/ProviderSelectContent.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/routing-params.ts
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: frontend

feat(global-providers): symmetric provider↔agent auto-connect (new agent gets all providers; new provider enabled on all agents)
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/backend/test/agent-provider-access.e2e-spec.ts
  packages/backend/test/agent-recreate.e2e-spec.ts
Due: backend

fix(global-providers): add ON DELETE CASCADE FKs to agent_provider_access junction
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791000000000-LiftProvidersToUserLevel.ts
Due: backend

fix(global-providers): disable impact preview now reports auto-assigned routes
  packages/backend/src/routing/agent-provider-access.controller.spec.ts
  packages/backend/src/routing/agent-provider-access.controller.ts
  packages/backend/test/agent-provider-access.e2e-spec.ts
Due: backend

fix(ui): land new agents on Routing tab; rename agent Limits tab
  packages/frontend/src/pages/Workspace.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

fix(global-providers): recalc all agents after model discovery on new-provider connect (sibling auto-routes were stale)
  packages/backend/src/routing/copilot.controller.spec.ts
  packages/backend/src/routing/copilot.controller.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.spec.ts
  packages/backend/src/routing/oauth/kiro-oauth.service.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.spec.ts
  packages/backend/src/routing/oauth/minimax-oauth.service.ts
  packages/backend/src/routing/oauth/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/redirect-pkce-oauth.base.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/xai/xai-oauth.service.ts
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/test/agent-provider-access.e2e-spec.ts
Due: backend

test(ui): cover the Routing setup modal
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

test(ui): update Workspace-validation nav assertions for the Routing redirect
  packages/frontend/tests/pages/Workspace-validation.test.tsx
Due: none

fix: forward image inputs to Anthropic
  .changeset/anthropic-image-input.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
Due: backend

fix(agent-duplication): copy provider grants instead of cloning credential rows
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.ts
  packages/backend/test/agent-duplication-migrations.e2e-spec.ts
  packages/backend/test/agent-duplication.e2e-spec.ts
Due: backend

fix: remap duplicated custom provider routes
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.ts
  packages/backend/src/entities/agent-provider-access.entity.spec.ts
  packages/backend/src/entities/agent-provider-access.entity.ts
Due: backend

ci: post DB schema diagram on PRs from forks
  .changeset/db-diagram-fork-comments.md
  .github/workflows/db-diagram-comment.yml
  .github/workflows/db-diagram.yml
Due: none

feat(providers): lift custom providers to user-global
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1791200000000-LiftCustomProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791200000000-LiftCustomProvidersToUserLevel.ts
  packages/backend/src/entities/custom-provider.entity.ts
  packages/backend/src/model-discovery/model-discovery.service.boundary.spec.ts
  packages/backend/src/routing/custom-provider.controller.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.controller.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.edge-cases.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/test/agent-duplication.e2e-spec.ts
  packages/backend/test/custom-providers-lift-migrations.e2e-spec.ts
  packages/frontend/src/components/DuplicateAgentModal.tsx
  packages/frontend/src/services/api/agents.ts
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/services/sse.ts
  packages/frontend/tests/components/DuplicateAgentModal.test.tsx
Due: backend, frontend

fix: support Claude Code subscription routing
  .changeset/claude-code-subscription-routing.md
  packages/backend/src/common/constants/subscription-clients.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.config.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.spec.ts
  packages/backend/src/routing/oauth/anthropic/anthropic-oauth.service.ts
  packages/backend/src/routing/oauth/core/oauth-pending-flow.store.spec.ts
  packages/backend/src/routing/oauth/core/oauth-pending-flow.store.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.headers.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
Due: backend

fix: address Claude subscription review findings
  packages/backend/src/common/constants/subscription-clients.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.headers.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
Due: backend

fix(custom-providers): address cubic review findings
  packages/backend/src/database/migrations/1791200000000-LiftCustomProvidersToUserLevel.spec.ts
  packages/backend/src/database/migrations/1791200000000-LiftCustomProvidersToUserLevel.ts
  packages/backend/src/entities/custom-provider.entity.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
Due: backend

test: make cooldown eviction regression deterministic
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
Due: backend

feat(playground): global Playground backed by a reserved per-tenant agent
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/analytics/services/agent-lifecycle.service.spec.ts
  packages/backend/src/analytics/services/agent-lifecycle.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/common/constants/playground.constants.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1791400000000-SeedPlaygroundAgents.ts
  packages/backend/src/entities/agent.entity.ts
  packages/backend/src/playground/playground-agent.service.spec.ts
  packages/backend/src/playground/playground-agent.service.ts
  packages/backend/src/playground/playground.controller.spec.ts
  packages/backend/src/playground/playground.controller.ts
  packages/backend/src/playground/playground.module.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.truncation.spec.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/telemetry/payload-builder.service.spec.ts
  packages/backend/src/telemetry/payload-builder.service.ts
  packages/backend/test/playground-flow.e2e-spec.ts
  packages/backend/test/seed-playground-agents-migrations.e2e-spec.ts
  packages/frontend/src/pages/Playground.tsx
  packages/frontend/src/services/api/playground.ts
  packages/frontend/tests/pages/Playground.test.tsx
  packages/frontend/tests/services/api/playground.test.ts
Due: backend, frontend

fix(playground): address Codex review findings on the reserved agent
  packages/backend/src/analytics/controllers/agents.controller.spec.ts
  packages/backend/src/analytics/controllers/agents.controller.ts
  packages/backend/src/playground/playground-agent.service.spec.ts
  packages/backend/src/playground/playground-agent.service.ts
  packages/backend/src/routing/custom-provider/custom-provider.controller.ts
  packages/backend/src/routing/model.controller.ts
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/routing-core/resolve-agent.service.spec.ts
  packages/backend/src/routing/routing-core/resolve-agent.service.ts
  packages/backend/src/routing/tier.controller.spec.ts
  packages/frontend/src/pages/Playground.tsx
Due: backend, frontend

fix(playground): address Codex round-2 findings
  packages/backend/src/playground/playground-agent.service.spec.ts
  packages/backend/src/playground/playground-agent.service.ts
  packages/backend/src/routing/agent-provider-access.controller.spec.ts
  packages/backend/src/routing/agent-provider-access.controller.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
