Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

test: align request attempt e2e fixtures
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/test/playground-flow.e2e-spec.ts
  packages/backend/test/request-backfill-fallbacks.e2e-spec.ts
Due: backend

test: cover request attempt lifecycle
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.spec.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

fix: precompute legacy autofix group ordering
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
Due: backend

fix: address cubic review on cohort gate
  packages/frontend/src/components/AutofixCohortGate.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/services/api/autofix.ts
  packages/frontend/tests/components/AutofixCohortGate.test.tsx
Due: frontend

docs: clarify Auto-fix cohort endpoint
  packages/backend/src/routing/autofix/autofix-cohort.controller.ts
Due: backend

refactor: reduce cohort gate to eligibility infra (single dashboard for all)
  packages/backend/src/routing/autofix/autofix-cohort.controller.ts
  packages/frontend/src/components/AutofixCohortGate.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/services/api/autofix.ts
  packages/frontend/tests/components/AutofixCohortGate.test.tsx
Due: backend, frontend

feat: cohort-gate the Auto-fix beta UI behind backend eligibility
  packages/backend/src/routing/autofix/__tests__/autofix-cohort.controller.spec.ts
  packages/backend/src/routing/autofix/autofix-cohort.controller.ts
  packages/backend/src/routing/autofix/autofix.module.ts
  packages/frontend/src/components/AutofixCohortGate.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/api/autofix.ts
  packages/frontend/tests/components/AutofixCohortGate.test.tsx
  packages/frontend/tests/services/api/autofix.test.ts
Due: backend, frontend

feat: expose provider attempt aggregates
  .changeset/gentle-attempt-aggregates.md
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/attempt-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/attempt-analytics.controller.ts
  packages/backend/src/analytics/services/attempt-stats.service.spec.ts
  packages/backend/src/analytics/services/attempt-stats.service.ts
  packages/backend/test/attempt-analytics.e2e-spec.ts
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/services/api/analytics.test.ts
Due: backend, frontend

docs: clarify last attempt ordering
  docs/glossary.md
Due: none

docs: strip frontend specs from analytics doc and rename to glossary.md
  AGENTS.md
  CLAUDE.md
  docs/glossary.md
Due: none

docs: make analytics spec canonical
  AGENTS.md
  CLAUDE.md
  docs/analytics-dashboard-spec.md
  docs/analytics-glossary.md
Due: none

docs: define request and attempt terminology
  AGENTS.md
  CLAUDE.md
  docs/analytics-glossary.md
Due: none

fix: harden Apple Containers startup
  scripts/start-apple-containers.sh
Due: none

fix: address Apple startup review feedback
  scripts/start-apple-containers.sh
Due: none

fix: parse Compose inline env comments
  scripts/start-apple-containers.sh
Due: none

docs: add Apple Containers deployment guide
  deploy/apple-containers/TUTORIAL.md
  deploy/apple-containers/start.sh
Due: none

feat: add change-password to Account page (self-hosted + cloud) (#2514)
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/styles/agents.css
  packages/frontend/tests/pages/Account.test.tsx
Due: frontend

feat: warn on reset-password page when no email provider is configured
  .changeset/reset-password-email-notice.md
  packages/backend/src/notifications/services/email-providers/send-email.spec.ts
  packages/backend/src/notifications/services/email-providers/send-email.ts
  packages/backend/src/setup/setup.controller.spec.ts
  packages/backend/src/setup/setup.controller.ts
  packages/backend/src/setup/setup.service.spec.ts
  packages/backend/src/setup/setup.service.ts
  packages/backend/test/setup.e2e-spec.ts
  packages/frontend/src/pages/ResetPassword.tsx
  packages/frontend/src/services/setup-status.ts
  packages/frontend/src/styles/auth.css
  packages/frontend/tests/pages/ResetPassword.test.tsx
  packages/frontend/tests/services/setup-status.test.ts
Due: backend, frontend

fix: address request model review findings
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/services/agent-lifecycle.service.spec.ts
  packages/backend/src/analytics/services/agent-lifecycle.service.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/message-feedback.service.spec.ts
  packages/backend/src/analytics/services/message-feedback.service.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/billing/plan.service.spec.ts
  packages/backend/src/billing/plan.service.ts
  packages/backend/src/common/errors/manifest-error.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/database/backfills/backfill-requests.spec.ts
  packages/backend/src/database/backfills/backfill-requests.ts
  packages/backend/src/database/backfills/message-provider-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/message-provider-backfill.boot.service.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.spec.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-dedup.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/test/custom-provider-fk-migrations.e2e-spec.ts
  packages/backend/test/seed-playground-agents-migrations.e2e-spec.ts
  packages/backend/test/tenant-scoping-migrations.e2e-spec.ts
  packages/frontend/src/components/MessageDetails.tsx
Due: backend, frontend

fix: close request model review gaps
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/provider-analytics.controller.spec.ts
  packages/backend/src/analytics/services/aggregation.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/message-feedback.service.spec.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/specificity-feedback.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.spec.ts
  packages/backend/src/database/backfills/message-provider-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-dedup.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
  packages/frontend/tests/components/MessageDetails.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
Due: backend

feat: record Auto-fix request outcomes
  packages/backend/src/analytics/services/message-details.service.spec.ts
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.spec.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/entities/request.entity.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/test/request-backfill-fallbacks.e2e-spec.ts
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/services/api/messages.ts
  packages/frontend/tests/components/MessageDetails.autofix.test.tsx
  packages/shared/__tests__/autofix-status.spec.ts
  packages/shared/src/autofix-status.ts
  packages/shared/src/index.ts
Due: backend, frontend

test: align e2e fixtures with request model
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/error-breakdown.service.ts
  packages/backend/src/analytics/services/message-feedback.service.spec.ts
  packages/backend/src/analytics/services/message-feedback.service.ts
  packages/backend/test/agent-recreate.e2e-spec.ts
  packages/backend/test/billing-request-limit.e2e-spec.ts
  packages/backend/test/costs.e2e-spec.ts
  packages/backend/test/custom-provider-fk-data-loss.e2e-spec.ts
  packages/backend/test/custom-provider-fk-migrations.e2e-spec.ts
  packages/backend/test/custom-providers-lift-migrations.e2e-spec.ts
  packages/backend/test/errors-breakdown.e2e-spec.ts
  packages/backend/test/helpers.ts
  packages/backend/test/message-count-consistency.e2e-spec.ts
  packages/backend/test/message-error-code-migrations.e2e-spec.ts
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
  packages/backend/test/messages-manifest-errors.e2e-spec.ts
  packages/backend/test/messages.e2e-spec.ts
  packages/backend/test/messages.isolation.e2e-spec.ts
  packages/backend/test/overview.e2e-spec.ts
  packages/backend/test/playground-flow.e2e-spec.ts
  packages/backend/test/provider-analytics.e2e-spec.ts
  packages/backend/test/proxy-fallback-auth.e2e-spec.ts
  packages/backend/test/public-stats.e2e-spec.ts
  packages/backend/test/roundtrip.e2e-spec.ts
  packages/backend/test/seed-playground-agents-migrations.e2e-spec.ts
  packages/backend/test/smoke-test.e2e-spec.ts
  packages/backend/test/tenant-isolation.e2e-spec.ts
  packages/backend/test/tenant-scoping-migrations.e2e-spec.ts
  packages/backend/test/tokens.e2e-spec.ts
  packages/backend/test/user-provider-backfill-migrations.e2e-spec.ts
Due: backend

feat: track provider attempt lifecycle
  packages/backend/src/error-pages/error-cluster-seeder.service.spec.ts
  packages/backend/src/playground/playground.service.truncation.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.failures.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
Due: backend

feat: add explicit provider attempt ordering
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/database/migrations/1801100000000-AddProviderAttemptOrdering.spec.ts
  packages/backend/src/database/migrations/1801100000000-AddProviderAttemptOrdering.ts
  packages/backend/src/entities/agent-message.entity.ts
  packages/backend/src/error-pages/error-cluster-seeder.service.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
Due: backend

fix: harden request backfill tail sweeps
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/database/backfills/backfill-requests.spec.ts
  packages/backend/src/database/backfills/backfill-requests.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.ts
  packages/backend/test/request-backfill-fallbacks.e2e-spec.ts
Due: backend

fix: bound request fallback backfill
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/database/backfills/backfill-requests.spec.ts
  packages/backend/src/database/backfills/backfill-requests.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.spec.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.ts
  packages/backend/test/request-backfill-fallbacks.e2e-spec.ts
Due: backend

fix: count requests in agent usage
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/test/message-count-consistency.e2e-spec.ts
Due: backend

feat: normalize request/attempt status to pending|success|failed
  packages/backend/src/analytics/controllers/provider-analytics.controller.ts
  packages/backend/src/analytics/dto/messages-query.dto.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/error-breakdown.service.ts
  packages/backend/src/analytics/services/message-details.service.ts
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/analytics/services/query-helpers.spec.ts
  packages/backend/src/analytics/services/query-helpers.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/database/seed-messages.spec.ts
  packages/backend/src/database/seed-messages.ts
  packages/backend/src/error-pages/error-discovery.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-dedup.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-request-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/proxy-message-dedup.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/test/billing-request-limit.e2e-spec.ts
  packages/backend/test/messages-cache-tokens.e2e-spec.ts
  packages/backend/test/proxy-fallback-auth.e2e-spec.ts
  packages/backend/test/request-backfill-fallbacks.e2e-spec.ts
  packages/frontend/src/components/MessageDetails.tsx
  packages/frontend/src/components/message-table-cells.tsx
  packages/frontend/tests/components/MessageDetails.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/shared/__tests__/error-taxonomy.spec.ts
  packages/shared/src/error-taxonomy.ts
  packages/shared/src/index.ts
Due: backend, frontend

fix: reconstruct legacy fallback requests
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/database/backfills/backfill-requests.spec.ts
  packages/backend/src/database/backfills/backfill-requests.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/test/request-backfill-fallbacks.e2e-spec.ts
Due: backend

fix: keep message schema compatible during deploy
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.spec.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.ts
Due: backend

fix: complete canonical status handling
  packages/backend/src/analytics/dto/messages-query.dto.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.spec.ts
  packages/backend/src/database/backfills/backfill-requests.gateway.ts
  packages/backend/src/error-pages/error-discovery.service.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/shared/src/error-taxonomy.ts
Due: backend

test: clarify combined attempt assertion
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
Due: backend

fix: address follow-up review findings
  packages/backend/src/analytics/services/messages-query.requests.spec.ts
  packages/backend/src/analytics/services/messages-query.service.ts
  packages/backend/src/database/backfills/message-provider-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/message-provider-backfill.boot.service.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.spec.ts
  packages/backend/src/database/backfills/request-backfill.boot.service.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.spec.ts
  packages/backend/src/database/migrations/1801000000000-AddRequestsAndProviderAttempts.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/playground/playground.service.ts
  packages/frontend/tests/components/MessageDetails.test.tsx
Due: backend

feat: header cohort badge says Dr version available/unavailable
  packages/frontend/src/components/DevAutofixToggle.tsx
  packages/frontend/tests/components/DevAutofixToggle.test.tsx
Due: frontend

fix: disposition chart order — Success, healed via Auto-fix, via Fallback, Error
  packages/frontend/src/components/ReliabilityChart.tsx
  packages/frontend/tests/components/AnalyticsChartSurfaces.test.tsx
Due: frontend
