Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix: configure Codex output timeout
  .changeset/fuzzy-codex-fallbacks.md
  CLAUDE.md
  deploy/apple-containers/start.sh
  docker/.env.example
  docker/docker-compose.yml
  packages/backend/.env.example
  packages/backend/src/routing/proxy/__tests__/chatgpt-response-qualifier.spec.ts
  packages/backend/src/routing/proxy/chatgpt-response-qualifier.ts
Due: backend

fix: enforce Codex output deadline
  packages/backend/src/routing/proxy/__tests__/chatgpt-response-qualifier.spec.ts
  packages/backend/src/routing/proxy/chatgpt-response-qualifier.ts
Due: backend

docs: add Manifest upgrade section to Apple Containers tutorial
  deploy/apple-containers/TUTORIAL.md
Due: none

fix: use monotonic Codex deadline
  packages/backend/src/routing/proxy/chatgpt-response-qualifier.ts
Due: backend

fix: refresh all connected provider keys
  .changeset/refresh-openai-api-models.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
Due: backend

docs: move pre-upgrade backup before the upgrade commands
  deploy/apple-containers/TUTORIAL.md
Due: none

fix: refresh all connected provider keys (#2550)
  .changeset/refresh-openai-api-models.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
Due: backend

fix: fallback on empty Codex responses (#2546)
  .changeset/fuzzy-codex-fallbacks.md
  CLAUDE.md
  deploy/apple-containers/start.sh
  docker/.env.example
  docker/docker-compose.yml
  packages/backend/.env.example
  packages/backend/src/routing/proxy/__tests__/chatgpt-response-qualifier.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.headers.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/chatgpt-response-qualifier.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix(autofix): heal provider-facing request bodies
  .changeset/autofix-wire-body.md
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/observation-payload.spec.ts
  packages/backend/src/routing/autofix/observation-payload.ts
  packages/backend/src/routing/autofix/phoenix.types.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: use idle timeout for provider streams
  packages/backend/src/routing/proxy/__tests__/provider-client.timeout.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: preserve provider timeout env fallback
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: normalize Anthropic adaptive thinking
  .changeset/normalize-anthropic-thinking.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
Due: backend

fix: normalize Anthropic adaptive thinking (#2552)
  .changeset/normalize-anthropic-thinking.md
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
Due: backend

perf: extend dashboard covering index and add skills index
  .changeset/extend-dashboard-covering-index.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801200000000-ExtendDashboardCoveringIndex.spec.ts
  packages/backend/src/database/migrations/1801200000000-ExtendDashboardCoveringIndex.ts
Due: backend

test(autofix): cover wire retry transport failures
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
Due: backend

fix: treat an INVALID canonical index as not converged
  packages/backend/src/database/migrations/1801200000000-ExtendDashboardCoveringIndex.spec.ts
  packages/backend/src/database/migrations/1801200000000-ExtendDashboardCoveringIndex.ts
Due: backend

perf: extend dashboard covering index and add skills index (#2553)
  .changeset/extend-dashboard-covering-index.md
  packages/backend/src/database/data-source-definitions.ts
  packages/backend/src/database/migrations/1801200000000-ExtendDashboardCoveringIndex.spec.ts
  packages/backend/src/database/migrations/1801200000000-ExtendDashboardCoveringIndex.ts
Due: backend

fix(autofix): heal provider-facing request bodies (#2551)
  .changeset/autofix-wire-body.md
  packages/backend/src/routing/autofix/__tests__/autofix.service.spec.ts
  packages/backend/src/routing/autofix/autofix.service.ts
  packages/backend/src/routing/autofix/observation-payload.spec.ts
  packages/backend/src/routing/autofix/observation-payload.ts
  packages/backend/src/routing/autofix/phoenix.types.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

chore: add localization changeset
  .changeset/localize-manifest-interface.md
Due: none

feat(n8n): ship Russian node translations
  integrations/n8n-nodes-manifest/credentials/translations/ru/manifestApi.json
  integrations/n8n-nodes-manifest/dist/credentials/translations/ru/manifestApi.json
  integrations/n8n-nodes-manifest/dist/nodes/Manifest/translations/ru/manifest.json
  integrations/n8n-nodes-manifest/dist/package.json
  integrations/n8n-nodes-manifest/nodes/Manifest/translations/ru/manifest.json
  integrations/n8n-nodes-manifest/package-lock.json
  integrations/n8n-nodes-manifest/package.json
  integrations/n8n-nodes-manifest/scripts/copy-translations.mjs
  integrations/n8n-nodes-manifest/test/manifest-node.test.js
Due: none

fix(frontend): avoid guest locale preference writes
  packages/frontend/src/components/LanguageSelector.tsx
  packages/frontend/src/layouts/AuthLayout.tsx
  packages/frontend/tests/components/LanguageSelector.test.tsx
Due: frontend

fix(overview): show loading skeleton on period change
  package-lock.json
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

fix(overview): show loading skeleton on period change (#2554)
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

fix: style the drawer's no-provider-attempts empty state
  packages/frontend/src/styles/request-drawer.css
Due: frontend

feat(providers): add Eden AI (EU, OpenAI-compatible gateway)
  .changeset/add-edenai-provider.md
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/services/providers.ts
  packages/shared/src/providers.ts
Due: backend, frontend

fix: show loading state when request filters change
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

fix(proxy): unwrap cline-pass { data, success } envelope on non-streaming chat completions
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
Due: backend

fix: update OpenRouter logo to current brand mark
  .changeset/openrouter-logo-a94a9e4a.md
  packages/frontend/public/icons/openrouter.svg
  packages/frontend/src/components/ProviderIcon.tsx
Due: frontend

fix: show loading state when request filters change (#2556)
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
Due: frontend

fix: record spec-less caller-sent knobs in request-params snapshots
  .changeset/snapshot-specless-knobs.md
  packages/shared/__tests__/request-params-snapshot.spec.ts
  packages/shared/src/request-params-snapshot.ts
Due: none

feat(overview): add By provider/By model groupings to overview charts
  packages/backend/src/analytics/controllers/overview.controller.spec.ts
  packages/backend/src/analytics/controllers/overview.controller.ts
  packages/backend/src/analytics/services/request-volume.service.spec.ts
  packages/backend/src/analytics/services/request-volume.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.spec.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/services/api/analytics.test.ts
Due: backend, frontend

fix: prevent provider connection name overlap
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/tests/pages/AgentProviders.test.tsx
Due: frontend

fix: derive the snapshot from the raw body, catalog overlay only
  packages/shared/__tests__/request-params-snapshot.spec.ts
  packages/shared/src/request-params-snapshot.ts
Due: none

fix: prevent provider connection name overlap (#2561)
  packages/frontend/src/pages/AgentProviders.tsx
  packages/frontend/tests/pages/AgentProviders.test.tsx
Due: frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
