Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

Remove dashes in the readme
  README.md
Due: none

Remove dashes in the readme (#1300)
  README.md
Due: none

fix: prevent double panel on filtered-empty with providers, clean up test mocks
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/tests/pages/Overview.test.tsx
Due: frontend

fix: remove environment variable setup option from agent setup UI
  .changeset/remove-env-setup-tab.md
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/components/SetupStepConfigure.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/frontend/tests/components/SetupStepConfigure.test.tsx
Due: frontend

feat: update logo to beta version (#1291)
  .changeset/beta-logo-update.md
  packages/frontend/public/logo-white.svg
  packages/frontend/public/logo.svg
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/styles/auth.css
  packages/frontend/src/styles/controls.css
  packages/openclaw-plugins/manifest/public/logo-white.svg
  packages/openclaw-plugins/manifest/public/logo.svg
Due: frontend

fix: remove environment variable setup option from agent setup UI (#1305)
  .changeset/remove-env-setup-tab.md
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/components/SetupStepConfigure.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/frontend/tests/components/SetupStepConfigure.test.tsx
Due: frontend

Update README.md (#1290)
  README.md
Due: none

fix: return synthetic 200 response when no providers configured for proxy verification
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: remove non-existent copilot/claude-opus-4.6-fast model
  packages/frontend/src/services/providers.ts
  packages/shared/src/subscription/configs.ts
Due: frontend

feat: add Endpoint ID field to interactive wizard setup instructions
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
Due: frontend

fix: remove excess margin above routing CTA in settings page
  packages/frontend/src/pages/Settings.tsx
Due: frontend

chore: add changeset for setup fixes
  .changeset/fix-setup-onboard.md
Due: none

fix: openclaw onboard setup improvements (#1309)
  .changeset/fix-setup-onboard.md
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/pages/Settings.tsx
  packages/frontend/src/services/providers.ts
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/shared/src/subscription/configs.ts
Due: backend, frontend

chore: reorder imports for consistency
  packages/frontend/src/components/RoutingInstructionModal.tsx
Due: frontend

test: add enable mode copy button test to cover enableCmd()
  packages/frontend/tests/components/RoutingInstructionModal.test.tsx
Due: none

fix: improve routing setup instructions with full provider config (#1312)
  .changeset/routing-setup-instructions.md
  packages/frontend/src/components/RoutingInstructionModal.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/styles/wizard.css
  packages/frontend/tests/components/RoutingInstructionModal.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/openclaw-plugins/manifest/public/assets/Account-B3q0LMnG.js
  packages/openclaw-plugins/manifest/public/assets/Limits-Bil33Z-7.js
  packages/openclaw-plugins/manifest/public/assets/Login-CNv-pefV.js
  packages/openclaw-plugins/manifest/public/assets/MessageLog-8PTn9MwJ.js
  packages/openclaw-plugins/manifest/public/assets/ModelPrices-D00hLkDZ.js
  packages/openclaw-plugins/manifest/public/assets/Overview-N4rSTniH.js
  packages/openclaw-plugins/manifest/public/assets/Register-DYJOqgqG.js
  packages/openclaw-plugins/manifest/public/assets/ResetPassword-BILAehaS.js
  packages/openclaw-plugins/manifest/public/assets/Routing-wJk1eclD.js
  packages/openclaw-plugins/manifest/public/assets/Settings-DxsQ6ern.js
  packages/openclaw-plugins/manifest/public/assets/SocialButtons-DeQYDJnp.js
  packages/openclaw-plugins/manifest/public/assets/index-B3vX4eJx.css
  packages/openclaw-plugins/manifest/public/assets/index-D6OW2yDC.css
  packages/openclaw-plugins/manifest/public/assets/index-uEjx0guW.js
  packages/openclaw-plugins/manifest/public/assets/model-display-D4ho9byB.js
  packages/openclaw-plugins/manifest/public/assets/overview-CfjTYi57.js
Due: frontend

chore: clean up README and simplify quick start
  .changeset/ready-seas-notice.md
  README.md
Due: none

fix: privacy row reflects both cloud and local modes
  README.md
Due: none

fix: add bundleDependencies for manifest-shared and improve README quick start
  .changeset/ready-seas-notice.md
  README.md
  package-lock.json
  packages/openclaw-plugins/manifest/package.json
Due: none

fix: remove subscription discovery from manifest-provider plugin
  .changeset/bright-webs-appear.md
  packages/openclaw-plugins/manifest-provider/__tests__/build.test.ts
  packages/openclaw-plugins/manifest-provider/__tests__/register.test.ts
  packages/openclaw-plugins/manifest-provider/__tests__/subscription.test.ts
  packages/openclaw-plugins/manifest-provider/openclaw.plugin.json
  packages/openclaw-plugins/manifest-provider/package.json
  packages/openclaw-plugins/manifest-provider/src/constants.ts
  packages/openclaw-plugins/manifest-provider/src/index.ts
  packages/openclaw-plugins/manifest-provider/src/subscription.ts
Due: none

fix: remove manifest-shared from plugin dependencies
  .changeset/fancy-loops-guess.md
  package-lock.json
  packages/openclaw-plugins/manifest/package.json
Due: none

fix: data quality fixes from PostHog audit
  .changeset/data-quality-fixes.md
  package-lock.json
  packages/backend/src/common/utils/cost-calculator.spec.ts
  packages/backend/src/common/utils/cost-calculator.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1773800000000-FixNegativeCosts.spec.ts
  packages/backend/src/database/migrations/1773800000000-FixNegativeCosts.ts
  packages/backend/src/otlp/otlp-deprecated.controller.spec.ts
  packages/backend/src/otlp/otlp-deprecated.controller.ts
  packages/backend/src/otlp/otlp.module.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: revert zero-token guard on recordFallbackSuccess
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

fix: use correct table name agent_messages in migration
  packages/backend/src/database/migrations/1773800000000-FixNegativeCosts.spec.ts
  packages/backend/src/database/migrations/1773800000000-FixNegativeCosts.ts
Due: backend

chore: simplify README cloud setup to point to app.manifest.build
  .changeset/eighty-cooks-greet.md
  README.md
Due: none

fix: guard sanitizeNullContent against malformed array entries
  packages/backend/src/routing/proxy/proxy.service.ts
Due: backend

fix: remove manifest-shared dependency and rewrite README for local-first
  .changeset/fix-manifest-shared-install.md
  README.md
Due: none

fix: lazy-load better-auth to prevent crash in local mode
  packages/backend/src/auth/auth.instance.ts
  packages/backend/src/auth/session.guard.ts
Due: backend

feat: auto-publish to ClaHub on release
  .github/workflows/release.yml
Due: none

chore: add empty changeset for CI-only change
  .changeset/shaggy-pets-call.md
Due: none

fix: guard ClaHub login as non-fatal in release workflow
  .github/workflows/release.yml
Due: none

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
