Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

fix(deps): restore backend node_modules entries in lockfile
  package-lock.json
Due: none

fix: clarify Wingman API key handling in contributing docs
  CONTRIBUTING.md
Due: none

docs: note Wingman drawer is part of every dev session
  CLAUDE.md
Due: none

feat: add per-agent breakdown to public stats API
  .changeset/agent-tokens-public-endpoint.md
  package-lock.json
  packages/backend/src/public-stats/public-stats.controller.spec.ts
  packages/backend/src/public-stats/public-stats.controller.ts
  packages/backend/src/public-stats/public-stats.module.ts
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/backend/src/public-stats/public-stats.service.ts
  packages/backend/test/public-stats.e2e-spec.ts
Due: backend

fix(proxy): preserve DeepSeek reasoning_content for all aggregator routes
  .changeset/fix-deepseek-reasoning-content-aggregators.md
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
Due: backend

fix: let hosted Wingman preflights reach the dev backend
  packages/backend/src/cors-csp-config.spec.ts
  packages/backend/src/cors-csp-config.ts
  packages/backend/src/main.ts
  packages/backend/test/cors.e2e-spec.ts
  packages/frontend/vite.config.ts
Due: backend

fix(routing): return 409 instead of 500 on concurrent custom-provider create
  .changeset/custom-provider-409-on-concurrent-create.md
  packages/backend/src/routing/custom-provider/custom-provider.service.spec.ts
  packages/backend/src/routing/custom-provider/custom-provider.service.ts
Due: backend

fix: coerce unknown Anthropic tool types
  .changeset/quiet-advisors-share.md
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
Due: backend

fix: preserve OpenCode Go reasoning content
  .changeset/thin-cars-think.md
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
Due: backend

fix: preserve Anthropic MCP toolsets
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
Due: backend

fix: match Anthropic MCP toolset exactly
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
Due: backend

fix: normalize Anthropic tool schemas for OpenAI
  .changeset/quiet-advisors-share.md
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
Due: backend

fix: update Nanobot setup config
  packages/frontend/src/components/NanobotSetup.tsx
  packages/frontend/src/services/framework-snippets.ts
  packages/frontend/tests/services/framework-snippets.test.ts
Due: frontend

fix: simplify Nanobot setup snippet
  packages/frontend/src/services/framework-snippets.ts
  packages/frontend/tests/services/framework-snippets.test.ts
Due: frontend

fix: clarify Nanobot setup order
  packages/frontend/src/components/NanobotSetup.tsx
  packages/frontend/src/services/framework-snippets.ts
  packages/frontend/tests/services/framework-snippets.test.ts
Due: frontend

test: update Nanobot setup expectations
  packages/frontend/tests/components/NanobotSetup.test.tsx
Due: none

fix(proxy): emit DeepSeek reasoning_content as Anthropic thinking blocks in stream
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
Due: backend

fix: preserve reasoning_content across multi-turn tool-use for DeepSeek
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-content-cache.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.module.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/reasoning-content-cache.ts
Due: backend

rename personal AI agents label
  .changeset/rename-ai-agents-label.md
  CLAUDE.md
  CONTRIBUTING.md
  docker/DOCKER_README.md
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/public-stats/public-stats.controller.spec.ts
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/test/public-stats.e2e-spec.ts
  packages/frontend/index.html
  packages/frontend/tests/components/AgentTypeGrid.test.tsx
  packages/frontend/tests/components/AgentTypeSelect.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/shared/src/agent-type.ts
  packages/wingman/src/profiles.ts
Due: backend

feat: add Craft agent setup
  packages/frontend/public/icons/craft.svg
  packages/frontend/src/components/CraftAgentSetup.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/services/framework-snippets.ts
  packages/frontend/tests/components/AgentTypeGrid.test.tsx
  packages/frontend/tests/components/CraftAgentSetup.test.tsx
  packages/frontend/tests/services/framework-snippets.test.ts
  packages/shared/src/agent-type.ts
Due: frontend

fix(proxy): normalize image_url for responses
  .changeset/clean-images-respond.md
  packages/backend/src/routing/proxy/__tests__/chatgpt-helpers-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/chatgpt-request.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-helpers.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

fix(frontend): use curved U-turn icon for routing fallback empty state
  packages/frontend/src/components/FallbackList.tsx
Due: frontend

feat: add Craft agent setup
  packages/frontend/public/icons/craft.png
  packages/frontend/src/components/CraftAgentSetup.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/tests/components/AgentTypeGrid.test.tsx
  packages/frontend/tests/components/CraftAgentSetup.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
Due: frontend

test(proxy): update image_url conversion expectation
  packages/backend/src/routing/proxy/chatgpt-helpers.spec.ts
Due: backend

fix(frontend): sync complexity routing toggle class and success track styles
  packages/frontend/src/pages/RoutingComplexitySection.tsx
  packages/frontend/src/pages/RoutingDefaultTierSection.tsx
  packages/frontend/src/styles/routing.css
Due: frontend

fix(routing): recalc tiers and
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
Due: backend

feat: add OpenCode setup
  .changeset/add-opencode-coding-assistant.md
  packages/frontend/public/icons/providers/opencode.svg
  packages/frontend/src/components/OpenCodeSetup.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/styles/agent-type-select.css
  packages/frontend/src/styles/agents.css
  packages/frontend/src/styles/modals.css
  packages/frontend/tests/components/AgentTypeGrid.test.tsx
  packages/frontend/tests/components/AgentTypeSelect.test.tsx
  packages/frontend/tests/components/OpenCodeSetup.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
Due: frontend

Fix provider metadata when duplicating agents
  packages/backend/src/analytics/services/agent-duplication.service.spec.ts
  packages/backend/src/analytics/services/agent-duplication.service.ts
Due: backend

feat: add Codex CLI agent platform with full Responses-API SSE lifecycle
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
  packages/backend/src/otlp/interfaces/ingestion-context.interface.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
  packages/frontend/public/icons/providers/codex.svg
  packages/shared/__tests__/agent-type.spec.ts
  packages/shared/src/agent-type.ts
Due: backend

fix(responses): translate developer→system + drop hosted tools
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

chore(icons): use lobehub official Codex mark
  packages/frontend/public/icons/providers/codex.svg
Due: none

chore(icons): switch to lobehub Codex color (blue gradient)
  packages/frontend/public/icons/providers/codex.svg
Due: none

fix(setup): render Codex CLI panel in the agent connect modal
  packages/frontend/src/components/CodexSetup.tsx
  packages/frontend/src/components/SetupStepAddProvider.tsx
  packages/frontend/src/services/framework-snippets.ts
Due: frontend

fix(responses): emit function_call SSE lifecycle from chat→responses transformer
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

Add changeset for duplicate provider label fix
  .changeset/fix-duplicate-provider-label.md
Due: none

fix(proxy): reopen Anthropic thinking block on interleaved reasoning_content
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
Due: backend

fix: clear 5 high-severity Dependabot alerts
  .changeset/patch-dependabot-alerts.md
  package-lock.json
  packages/backend/package.json
  packages/frontend/package.json
Due: none

test(setup): cover Codex CLI agent tab and CodexSetup component
  packages/frontend/tests/components/CodexSetup.test.tsx
  packages/frontend/tests/components/SetupStepAddProvider.test.tsx
  packages/frontend/tests/services/framework-snippets.test.ts
Due: none

feat(routing): accept MiniMax Coding Plan sk-cp- tokens (#1884)
  .changeset/minimax-coding-plan-token.md
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/backend/src/routing/provider.controller.spec.ts
  packages/backend/src/routing/provider.controller.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/routing-core/__tests__/provider.service.spec.ts
  packages/backend/src/routing/routing-core/provider.service.ts
  packages/frontend/src/components/DeviceCodeDetailView.tsx
  packages/frontend/src/services/api/routing.ts
  packages/frontend/src/services/provider-utils.ts
  packages/frontend/src/services/providers.ts
  packages/frontend/src/styles/routing-providers.css
  packages/frontend/tests/components/DeviceCodeDetailView.test.tsx
  packages/frontend/tests/services/providers.test.ts
Due: backend, frontend

fix(proxy): defer reasoning_content during an open tool_use
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
Due: backend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
