Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

feat: add claude-sonnet-5 to Claude Max / Pro subscription knownModels (anthropic)
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: none

fix: address CI/Cubic feedback
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
Due: backend

Remove unrelated merge formatting churn
  packages/backend/src/billing/subscription-webhook-emails.spec.ts
  packages/backend/src/public-stats/public-stats.service.spec.ts
  packages/frontend/src/components/AuthGuard.tsx
  packages/frontend/src/components/GuestGuard.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/layouts/AuthLayout.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/styles/auth.css
Due: backend, frontend

Use exact hosts in subscription usage tests
  packages/backend/src/routing/subscription-usage.service.spec.ts
Due: backend

Cover subscription usage frontend flows
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
  packages/frontend/tests/services/api/providers.test.ts
  packages/frontend/tests/services/subscription-usage-display.test.ts
Due: none

Cover subscription usage backend branches
  packages/backend/src/routing/subscription-usage.controller.spec.ts
  packages/backend/src/routing/subscription-usage.service.spec.ts
Due: backend

feat(subscription): add claude-sonnet-5 to the Claude plan catalog
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/shared/__tests__/subscription.spec.ts
  packages/shared/src/subscription/configs.ts
Due: backend

test: sort curated-list assertion — enrich order is env-dependent
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
Due: backend

Cover subscription quota display states
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/src/services/subscription-usage-display.ts
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
  packages/frontend/tests/services/subscription-usage-display.test.ts
Due: frontend

test: update openai knownModels count assertions for GPT-5.6 family
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
Due: backend

fix: preserve Claude and Codex gateway fidelity
  .changeset/agent-gateway-fidelity.md
  packages/backend/src/common/constants/subscription-clients.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
  packages/backend/src/routing/oauth/core/oauth-blob.spec.ts
  packages/backend/src/routing/oauth/core/oauth-blob.ts
  packages/backend/src/routing/oauth/core/redirect-pkce-oauth.base.ts
  packages/backend/src/routing/oauth/openai/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/openai/openai-oauth.service.ts
  packages/backend/src/routing/oauth/openai/openai-token-metadata.spec.ts
  packages/backend/src/routing/oauth/openai/openai-token-metadata.ts
  packages/backend/src/routing/proxy/__tests__/agent-request-context.spec.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.headers.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-exception.filter.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-response-handler.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/agent-request-context.ts
  packages/backend/src/routing/proxy/anthropic-adapter.ts
  packages/backend/src/routing/proxy/anthropic-messages-adapter.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.ts
  packages/backend/src/routing/proxy/oauth-credentials.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/proxy/proxy-exception.filter.ts
  packages/backend/src/routing/proxy/proxy-fallback.service.ts
  packages/backend/src/routing/proxy/proxy-protocol-error.ts
  packages/backend/src/routing/proxy/proxy-response-handler.ts
  packages/backend/src/routing/proxy/proxy-types.ts
  packages/backend/src/routing/proxy/proxy.controller.ts
  packages/backend/src/routing/proxy/proxy.service.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

test: align Responses authentication error contract
  packages/backend/test/proxy.e2e-spec.ts
Due: none

test: cover gateway protocol boundaries
  packages/backend/src/routing/oauth/openai/openai-oauth.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.headers.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-exception.filter.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
Due: backend

fix: key agent token cache digests
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
Due: backend

fix: document keyed cache index
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
Due: backend

test: cover agent gateway edge cases
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/routing/oauth/openai/openai-oauth.service.spec.ts
  packages/backend/src/routing/oauth/openai/openai-token-metadata.spec.ts
  packages/backend/src/routing/proxy/__tests__/agent-request-context.spec.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/anthropic-messages-adapter.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client.headers.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-exception.filter.spec.ts
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/chatgpt-adapter.spec.ts
Due: backend

fix: use HKDF for agent cache indexes
  packages/backend/src/otlp/guards/agent-key-auth.guard.spec.ts
  packages/backend/src/otlp/guards/agent-key-auth.guard.ts
Due: backend

Wrap connection detail controls on mobile
  packages/frontend/src/pages/providers/ConnectionDetail.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: frontend

Combine subscription provider rows
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
  packages/frontend/tests/pages/ProviderPages.test.tsx
Due: frontend

Assert unavailable subscription summary
  packages/backend/src/routing/subscription-usage.service.spec.ts
Due: backend

feat: sync manifest subscription model lists (2026-07-12)
  packages/shared/src/subscription/configs.ts
Due: none

fix: refresh MiniMax subscription endpoints
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth-helpers.spec.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth-helpers.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth.service.coverage.spec.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth.service.spec.ts
  packages/backend/src/routing/provider-base-url.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-fallback.service.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
Due: backend

fix: preserve MiniMax endpoint compatibility
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.spec.ts
  packages/backend/src/playground/playground.service.spec.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth-helpers.spec.ts
  packages/backend/src/routing/oauth/minimax/minimax-oauth.service.spec.ts
  packages/backend/src/routing/provider-base-url.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.spec.ts
Due: backend

fix(proxy): drop legacy token limit for custom gpt-5
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
Due: backend

refactor(proxy): source token fields from modelparams
  packages/backend/src/routing/proxy/__tests__/provider-client-converters.spec.ts
  packages/backend/src/routing/proxy/__tests__/provider-client-model-params.spec.ts
  packages/backend/src/routing/proxy/provider-client-converters.ts
  packages/backend/src/routing/proxy/provider-client.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
Due: backend

fix: handle Anthropic thinking on OpenRouter
  .changeset/fix-openrouter-anthropic-thinking.md
  packages/backend/src/routing/proxy/__tests__/provider-client.spec.ts
  packages/backend/src/routing/proxy/provider-client.ts
Due: backend

fix: refresh harness sidebar after creation
  .changeset/instant-harness-sidebar.md
  packages/frontend/src/components/AddAgentModal.tsx
  packages/frontend/src/services/sse.ts
  packages/frontend/tests/components/AddAgentModal.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/Workspace-validation.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
Due: frontend

test: fix broken tests and add coverage for new code
  packages/frontend/tests/components/RoutingModals.test.tsx
  packages/frontend/tests/components/UpgradeSuccessModal.test.tsx
  packages/frontend/tests/components/playground/PlaygroundPrompt.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Playground.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: none

test: add navigate assertion tests for RoutingModals onConnectProviders
  packages/frontend/tests/components/RoutingModals.test.tsx
Due: none

fix: UI polish — modal z-index, sidebar hover, playground focus, model picker nav (#2470)
  packages/frontend/src/components/ModelPickerModal.tsx
  packages/frontend/src/components/RoutingModals.tsx
  packages/frontend/src/components/UpgradeSuccessModal.tsx
  packages/frontend/src/components/playground/PlaygroundPrompt.tsx
  packages/frontend/src/pages/Playground.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/styles/routing-modal.css
  packages/frontend/src/styles/theme.css
  packages/frontend/tests/components/RoutingModals.test.tsx
  packages/frontend/tests/components/UpgradeSuccessModal.test.tsx
  packages/frontend/tests/components/playground/PlaygroundPrompt.test.tsx
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Playground.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

fix: avoid Safari modal backdrop blur
  .changeset/safari-modal-backdrop.md
  packages/frontend/src/styles/modals.css
Due: frontend

fix: invert Hermes icon in dark mode so it renders white
  packages/frontend/src/styles/theme.css
Due: frontend

feat: polish cloud onboarding flow
  packages/frontend/src/pages/Welcome.tsx
  packages/frontend/src/styles/welcome.css
  packages/frontend/tests/pages/Welcome.test.ts
Due: frontend

fix: add missing onboarding.ts, motion dep, tsc fixes
  packages/frontend/package.json
  packages/frontend/src/pages/Welcome.tsx
  packages/frontend/src/services/onboarding.ts
Due: frontend

fix: commit lockfile for motion dependency
  package-lock.json
Due: none

fix: adapt Welcome.tsx to main's API signatures
  packages/frontend/src/pages/Welcome.tsx
Due: frontend

fix: RoutingModals arrow return types for strict void
  packages/frontend/src/pages/Welcome.tsx
Due: frontend

fix: preserve onboarding provider modal hook
  packages/frontend/src/components/RoutingModals.tsx
Due: frontend

fix: make cloud onboarding reachable
  packages/frontend/src/index.tsx
  packages/frontend/src/pages/Playground.tsx
  packages/frontend/src/pages/Welcome.tsx
  packages/frontend/src/pages/welcome-helpers.ts
  packages/frontend/src/services/api/messages.ts
  packages/frontend/src/services/onboarding.ts
  packages/frontend/tests/components/RoutingModals.test.tsx
  packages/frontend/tests/pages/Playground.test.tsx
  packages/frontend/tests/pages/Welcome.test.ts
  packages/frontend/tests/services/api/messages.test.ts
Due: frontend

feat: add reliability card to Global and Agent Overview dashboards
  dashboard-redesign-brief.md
  packages/backend/src/analytics/analytics.module.ts
  packages/backend/src/analytics/controllers/autofix-analytics.controller.ts
  packages/backend/src/analytics/services/autofix-stats.service.ts
  packages/frontend/src/components/ReliabilityCard.tsx
  packages/frontend/src/components/ReliabilityChart.tsx
  packages/frontend/src/pages/GlobalOverview.tsx
  packages/frontend/src/pages/Overview.tsx
  packages/frontend/src/services/api/analytics.ts
  packages/frontend/src/styles/reliability-card.css
  packages/frontend/tests/pages/GlobalOverviewFilter.test.tsx
  packages/frontend/tests/pages/Overview-limits.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/ProviderOverviewPages.test.tsx
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
