Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

docs: refresh CLAUDE.md to match current codebase
  CLAUDE.md
Due: none

feat(proxy): make the gateway rate caps configurable via env
  docker/.env.example
  packages/backend/src/routing/proxy/__tests__/proxy-rate-limiter.spec.ts
  packages/backend/src/routing/proxy/proxy-rate-limiter.ts
Due: backend

feat: bill DeepSeek V4 at real peak/off-peak rates via time-of-day pricing tiers
  .changeset/deepseek-peak-pricing.md
  packages/backend/src/common/utils/cost-calculator.spec.ts
  packages/backend/src/common/utils/cost-calculator.ts
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/model-prices/model-pricing-cache.time-tiers.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

fix(limits): restore the email provider form for self-hosted installs
  packages/frontend/src/components/EmailProviderSection.tsx
  packages/frontend/src/pages/Limits.tsx
  packages/frontend/tests/components/EmailProviderSection.test.tsx
  packages/frontend/tests/pages/Limits.test.tsx
Due: frontend

fix: address cubic review — preserve OR pricing, bill from attempt start, reject zero-length windows, clear seeded cache-write
  packages/backend/src/common/utils/cost-calculator.spec.ts
  packages/backend/src/common/utils/cost-calculator.ts
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/model-prices/model-pricing-cache.time-tiers.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

test(limits): teach the interactions suite the email-provider mocks
  packages/frontend/tests/pages/Limits-interactions.test.tsx
Due: none

test(limits): cover every line the email-provider restoration added
  packages/frontend/tests/components/EmailProviderSection.test.tsx
  packages/frontend/tests/pages/Limits.test.tsx
Due: none

feat: refresh modelparams catalog from the modelparams.dev API
  .changeset/mps-catalog-api-refresh.md
  package-lock.json
  packages/backend/package.json
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
Due: backend

fix: enforce the catalog size ceiling before buffering the response body
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
Due: backend

docs(docker): fix the LAN instructions and auto-sync the Hub description
  .github/workflows/dockerhub-description.yml
  docker/DOCKER_README.md
Due: none

refactor: drop the response size cap
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
Due: backend

fix: reject an oversized declared Content-Length before buffering
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
Due: backend

feat: refresh modelparams catalog from the modelparams.dev API (#2729)
  .changeset/mps-catalog-api-refresh.md
  package-lock.json
  packages/backend/package.json
  packages/backend/src/routing/routing-core/__tests__/provider-param-spec.service.spec.ts
  packages/backend/src/routing/routing-core/provider-param-spec.service.ts
Due: backend

fix: drop non-message Responses input items in chat-completions conversion
  .changeset/responses-drop-non-message-items.md
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

feat: bill DeepSeek V4 at real peak/off-peak rates via time-of-day pricing tiers (#2726)
  .changeset/deepseek-peak-pricing.md
  packages/backend/src/common/utils/cost-calculator.spec.ts
  packages/backend/src/common/utils/cost-calculator.ts
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
  packages/backend/src/model-prices/model-pricing-cache.time-tiers.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy-message-recorder.spec.ts
  packages/backend/src/routing/proxy/proxy-message-recorder.ts
Due: backend

fix: drop Responses message items that carry no content
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

fix: drop non-message Responses input items in chat-completions conversion (#2732)
  .changeset/responses-drop-non-message-items.md
  packages/backend/src/routing/proxy/__tests__/responses-adapter.spec.ts
  packages/backend/src/routing/proxy/responses-adapter.ts
Due: backend

fix(proxy): count non-function Responses tool items as deliverable
  packages/backend/src/routing/proxy/__tests__/empty-response-qualifier.spec.ts
  packages/backend/src/routing/proxy/empty-response-qualifier.ts
Due: backend

fix(proxy): include image_generation_call as deliverable output item
  packages/backend/src/routing/proxy/__tests__/empty-response-qualifier.spec.ts
  packages/backend/src/routing/proxy/empty-response-qualifier.ts
Due: backend

fix: enrich Ollama Cloud models from models.dev
  .changeset/ollama-cloud-capabilities.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
Due: backend

fix: enrich Ollama Cloud models from models.dev (#2733)
  .changeset/ollama-cloud-capabilities.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
Due: backend

fix: read capabilities for providers models.dev does not map
  .changeset/unmapped-provider-capabilities.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/model-discovery.service.boundary.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
Due: backend

refactor: split capability authority out of PROVIDER_ID_MAP
  .changeset/unmapped-provider-capabilities.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/model-discovery.service.boundary.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
Due: backend

fix: resolve serving-time capabilities through the capability catalog
  packages/backend/src/model-discovery/model-capabilities.spec.ts
  packages/backend/src/model-discovery/model-capabilities.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.streaming-abort.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-catalog-di.spec.ts
Due: backend

style: reformat spec mocks over prettier print width
  packages/backend/src/model-discovery/model-capabilities.spec.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.streaming-abort.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-catalog-di.spec.ts
Due: backend

fix: read capabilities for providers models.dev does not map (#2734)
  .changeset/unmapped-provider-capabilities.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/model-capabilities.spec.ts
  packages/backend/src/model-discovery/model-capabilities.ts
  packages/backend/src/model-discovery/model-discovery.service.boundary.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.streaming-abort.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-catalog-di.spec.ts
Due: backend

Add pagination to usage-based providers list
  packages/frontend/src/pages/providers/ProviderConnectionsPage.tsx
Due: frontend

feat: add Google Vertex AI as a provider
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/shared/src/providers.ts
Due: backend, frontend

feat: address Vertex by project and location, not just express mode
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/vertex-deployment.spec.ts
  packages/backend/src/routing/vertex-deployment.ts
Due: backend

fix: sort Vertex into the provider list by display name
  packages/frontend/src/services/providers.ts
Due: frontend

test: cover both Vertex addressing modes in the resolver
  packages/backend/src/routing/proxy/forward-endpoint-resolver.spec.ts
Due: backend

fix: declare tool support for OpenRouter models
  .changeset/openrouter-tool-capabilities.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/model-capabilities.spec.ts
Due: backend

test: pin the capability lookup path and name OpenRouter in the comment
  packages/backend/src/model-discovery/model-capabilities.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
Due: backend

fix: declare tool support for OpenRouter models (#2738)
  .changeset/openrouter-tool-capabilities.md
  .changeset/unmapped-provider-capabilities.md
  packages/backend/src/database/models-dev-sync.service.spec.ts
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/model-capabilities.spec.ts
  packages/backend/src/model-discovery/model-capabilities.ts
  packages/backend/src/model-discovery/model-discovery.service.boundary.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.spec.ts
  packages/backend/src/model-discovery/model-discovery.service.ts
  packages/backend/src/routing/model.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.spec.ts
  packages/backend/src/routing/proxy/__tests__/proxy.controller.streaming-abort.spec.ts
  packages/backend/src/routing/proxy/__tests__/reasoning-catalog-di.spec.ts
Due: backend

test(frontend): cover quota-skip wiring in routing pages and cards
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/RoutingActions.test.ts
  packages/frontend/tests/pages/RoutingDefaultTierSection.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
  packages/frontend/tests/pages/RoutingSpecificitySection.test.tsx
Due: none

fix: harden quota-skip edge cases from review
  packages/backend/src/routing/header-tiers/__tests__/header-tier.service.spec.ts
  packages/backend/src/routing/header-tiers/header-tier.service.ts
  packages/backend/src/routing/routing-core/__tests__/specificity.service.spec.ts
  packages/backend/src/routing/routing-core/__tests__/tier.service.spec.ts
  packages/backend/src/routing/routing-core/specificity.service.ts
  packages/backend/src/routing/routing-core/tier.service.ts
  packages/backend/src/routing/subscription-quota.service.spec.ts
  packages/backend/src/routing/subscription-quota.service.ts
  packages/frontend/src/components/FallbackList.tsx
  packages/frontend/src/components/HeaderTierCard.tsx
  packages/frontend/src/pages/RoutingHeaderTiersSection.tsx
  packages/frontend/src/pages/RoutingTierCard.tsx
  packages/frontend/tests/components/FallbackList.test.tsx
  packages/frontend/tests/components/HeaderTierCard.test.tsx
  packages/frontend/tests/pages/RoutingHeaderTiersSection.test.tsx
  packages/shared/__tests__/model-route.spec.ts
  packages/shared/src/model-route.ts
Due: backend, frontend

fix: address cubic findings on the Vertex endpoint
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/vertex-deployment.spec.ts
  packages/backend/src/routing/vertex-deployment.ts
Due: backend

feat: add Google Vertex AI as a provider (#2736)
  packages/backend/src/database/models-dev-sync.service.ts
  packages/backend/src/model-discovery/provider-model-fetcher.service.ts
  packages/backend/src/routing/proxy/__tests__/provider-endpoints.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.spec.ts
  packages/backend/src/routing/proxy/forward-endpoint-resolver.ts
  packages/backend/src/routing/proxy/provider-endpoints.ts
  packages/backend/src/routing/vertex-deployment.spec.ts
  packages/backend/src/routing/vertex-deployment.ts
  packages/frontend/src/services/provider-api-key-urls.ts
  packages/frontend/src/services/providers.ts
  packages/shared/src/providers.ts
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend/src/
  frontend: any of: packages/frontend/src/
  plugin: any of: packages/openclaw-plugin/src/
