Repository mnfst/manifest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, plugin

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
flags:
  backend:
    paths:
      - packages/backend/src/
  frontend:
    paths:
      - packages/frontend/src/
  plugin:
    paths:
      - packages/openclaw-plugin/src/
comment:
  layout: "reach,diff,flags"

fix: restrict model pricing to curated 30-model list
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
Due: backend

Improve project metadata for discoverability across repo and npm packages
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  README.md
  package.json
  packages/manifest-server/LICENSE
  packages/manifest-server/README.md
  packages/manifest-server/package.json
  packages/openclaw-plugin/package.json
Due: none

Remove issue templates and FUNDING.yml
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Fix trailing comma in openclaw-plugin package.json and add empty changeset
  .changeset/fiery-hounds-wonder.md
  packages/openclaw-plugin/package.json
Due: none

Update package-lock.json after dependency resolution
  package-lock.json
Due: none

feat: add comprehensive frontend tests to reach 90%+ coverage
  packages/frontend/tests/components/AgentGuard.test.tsx
  packages/frontend/tests/components/App.test.tsx
  packages/frontend/tests/components/AuthGuard.test.tsx
  packages/frontend/tests/components/Header.test.tsx
  packages/frontend/tests/components/NotificationRuleModal.test.tsx
  packages/frontend/tests/components/SetupModal.test.tsx
  packages/frontend/tests/components/SetupStepConfigure.test.tsx
  packages/frontend/tests/components/SetupStepInstall.test.tsx
  packages/frontend/tests/components/SetupStepLocalConfigure.test.tsx
  packages/frontend/tests/components/SetupStepVerify.test.tsx
  packages/frontend/tests/components/SetupWizard.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/Account.test.tsx
  packages/frontend/tests/pages/Login.test.tsx
  packages/frontend/tests/pages/MessageLog.test.tsx
  packages/frontend/tests/pages/ModelPrices.test.tsx
  packages/frontend/tests/pages/Notifications.test.tsx
  packages/frontend/tests/pages/Overview.test.tsx
  packages/frontend/tests/pages/Register.test.tsx
  packages/frontend/tests/pages/ResetPassword.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/pages/Workspace.test.tsx
  packages/frontend/tests/services/chart-utils-coverage.test.ts
  packages/frontend/tests/services/routing-useagent.test.tsx
Due: none

chore: update package-lock.json
  package-lock.json
Due: none

fix: build routing model picker from pricing API instead of hardcoded list
  packages/frontend/src/pages/Routing.tsx
Due: frontend

chore: add empty changeset for test-only changes
  .changeset/legal-lines-open.md
Due: none

test: add comprehensive test coverage for routing, pricing, validation, and E2E
  package-lock.json
  packages/backend/src/auth/session.guard.spec.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/entities/tier-assignment.entity.spec.ts
  packages/backend/src/entities/user-provider.entity.spec.ts
  packages/backend/src/model-prices/model-prices.controller.spec.ts
  packages/backend/src/model-prices/model-prices.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/notifications/services/notification-email.service.spec.ts
  packages/backend/src/routing/provider-aliases.spec.ts
  packages/backend/src/routing/provider-aliases.ts
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.service.spec.ts
  packages/backend/test/agents.e2e-spec.ts
  packages/backend/test/costs.e2e-spec.ts
  packages/backend/test/model-prices.e2e-spec.ts
  packages/backend/test/validation.e2e-spec.ts
  packages/frontend/vite.config.ts
Due: backend

fix: update Settings test mock to include getProviders and tab changes
  packages/frontend/tests/pages/Settings.test.tsx
Due: none

fix: make entities and E2E tests compatible with SQLite (better-sqlite3)
  packages/backend/src/entities/tier-assignment.entity.ts
  packages/backend/src/entities/user-provider.entity.ts
  packages/backend/test/costs.e2e-spec.ts
  packages/backend/test/model-prices.e2e-spec.ts
  packages/backend/test/routing.e2e-spec.ts
Due: backend

chore: add empty changeset for CI
  .changeset/short-adults-float.md
Due: none

test: add 79 frontend tests for routing, providers, and settings coverage
  packages/frontend/tests/components/ProviderIcon.test.tsx
  packages/frontend/tests/components/Sidebar.test.tsx
  packages/frontend/tests/pages/Routing.test.tsx
  packages/frontend/tests/pages/Settings.test.tsx
  packages/frontend/tests/services/api.test.ts
  packages/frontend/tests/services/providers.test.ts
Due: none

docs: move images to .github/assets and update README
  .github/assets/home-gh.png
  .github/assets/logo-dark.svg
  .github/assets/logo-white.svg
  README.md
  home-gh.png
Due: none

docs: add dark/light theme screenshots and update tagline
  .github/assets/home-gh-dark.png
  .github/assets/home-gh-light.png
  README.md
Due: none

docs: update README with dark/light theme support (#766)
  .github/assets/home-gh-dark.png
  .github/assets/home-gh-light.png
  .github/assets/home-gh.png
  .github/assets/logo-dark.svg
  .github/assets/logo-white.svg
  README.md
  home-gh.png
Due: none

Replace empty changeset with patch bump for npm metadata publish
  .changeset/fiery-hounds-wonder.md
Due: none

feat: fix local-install bugs and add regression tests
  .github/workflows/ci.yml
  package-lock.json
  packages/backend/src/analytics/services/agent-analytics.service.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/backend/src/analytics/services/timeseries-queries.service.ts
  packages/backend/src/app.module.ts
  packages/backend/src/database/local-bootstrap.service.spec.ts
  packages/backend/src/database/local-bootstrap.service.ts
  packages/backend/src/otlp/services/otlp-helpers.spec.ts
  packages/backend/src/otlp/services/otlp-helpers.ts
  packages/backend/src/telemetry/telemetry.service.spec.ts
  packages/backend/src/telemetry/telemetry.service.ts
  packages/backend/test/helpers.ts
  packages/backend/test/otlp-roundtrip.e2e-spec.ts
  packages/backend/test/overview.e2e-spec.ts
  packages/backend/test/roundtrip.e2e-spec.ts
  packages/backend/test/tokens.e2e-spec.ts
  packages/frontend/src/components/Header.tsx
  packages/manifest-server/package.json
  packages/manifest-server/public/assets/index-CYaiaG5z.js
  packages/manifest-server/public/assets/index-CjKuGIRd.js
  packages/manifest-server/public/index.html
  packages/manifest-server/scripts/copy-assets.js
  packages/manifest-server/src/index.ts
Due: backend, frontend

chore: add empty changeset for internal-only changes
  .changeset/warm-planets-think.md
Due: none

docs: add changeset requirement to CLAUDE.md
  CLAUDE.md
Due: none

chore: add changeset for @mnfst/server patch release
  .changeset/warm-planets-think.md
Due: none

chore: add empty changeset
  .changeset/solid-frogs-grow.md
Due: none

fix: show all messages by default and change overview to 7d range
  packages/backend/src/analytics/controllers/messages.controller.spec.ts
  packages/backend/src/analytics/controllers/messages.controller.ts
  packages/backend/src/analytics/services/aggregation.service.ts
  packages/frontend/src/pages/MessageLog.tsx
  packages/frontend/src/pages/Overview.tsx
Due: backend, frontend

fix: enforce @mnfst/server changeset for backend/frontend changes
  .changeset/fix-messages-default-range.md
  .changeset/solid-frogs-grow.md
  .github/workflows/ci.yml
  CLAUDE.md
Due: none

fix: check changeset files directly instead of parsing status output
  .github/workflows/ci.yml
Due: none

chore: add 5% threshold to codecov patch coverage check
  codecov.yml
Due: none

feat: add anonymous product telemetry via PostHog
  .changeset/bright-waves-find.md
  packages/backend/src/common/utils/product-telemetry.spec.ts
  packages/backend/src/common/utils/product-telemetry.ts
  packages/backend/src/otlp/otlp.controller.spec.ts
  packages/backend/src/otlp/otlp.controller.ts
  packages/backend/src/otlp/services/api-key.service.spec.ts
  packages/backend/src/otlp/services/api-key.service.ts
  packages/manifest-server/src/index.ts
  packages/openclaw-plugin/src/index.ts
  packages/openclaw-plugin/src/product-telemetry.ts
Due: backend, plugin

chore: add proper changeset for telemetry
  .changeset/add-product-telemetry.md
  .changeset/bright-waves-find.md
Due: none

feat: add vision, tool calling and structured output capabilities to model catalog
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/migrations/1771900000000-AddExtraCapabilities.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/entities/model-pricing.entity.ts
  packages/backend/src/model-prices/model-prices.service.spec.ts
  packages/backend/src/model-prices/model-prices.service.ts
  packages/backend/src/routing/tier-auto-assign.service.spec.ts
  packages/frontend/src/pages/ModelPrices.tsx
  packages/frontend/src/styles/tooltip.css
Due: backend, frontend

feat: expand model pricing with normalizer and new providers
  packages/backend/src/database/database-seeder.service.spec.ts
  packages/backend/src/database/database-seeder.service.ts
  packages/backend/src/database/pricing-sync.service.spec.ts
  packages/backend/src/database/pricing-sync.service.ts
  packages/backend/src/model-prices/model-name-normalizer.spec.ts
  packages/backend/src/model-prices/model-name-normalizer.ts
  packages/backend/src/model-prices/model-pricing-cache.service.spec.ts
  packages/backend/src/model-prices/model-pricing-cache.service.ts
Due: backend

chore: add empty changeset
  .changeset/fifty-moments-hide.md
Due: none

chore: add @mnfst/server patch changeset
  .changeset/fifty-moments-hide.md
Due: none

feat: improve routing UI with capabilities, pricing readability and current model indicator
  packages/backend/src/routing/routing.controller.spec.ts
  packages/backend/src/routing/routing.controller.ts
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/styles/routing.css
  packages/frontend/tests/pages/Routing.test.tsx
Due: backend, frontend

ci: add server smoke test for @mnfst/server tarball installs
  .github/workflows/ci.yml
  packages/manifest-server/smoke-test.cjs
Due: none

chore: add empty changeset for CI-only changes
  .changeset/curvy-rings-fetch.md
Due: none

refactor: simplify routing cards into 4-column layout with tier tooltip
  packages/frontend/src/components/InfoTooltip.tsx
  packages/frontend/src/pages/Routing.tsx
  packages/frontend/src/styles/routing.css
  packages/frontend/src/styles/tooltip.css
  packages/frontend/tests/pages/Routing.test.tsx
Due: frontend

fix(ci): use ubuntu-only and RUNNER_TEMP for server smoke test
  .github/workflows/ci.yml
Due: none

fix(ci): use in-memory SQLite for smoke test
  packages/manifest-server/smoke-test.cjs
Due: none

refactor: improve smoke test robustness
  .github/workflows/ci.yml
  packages/manifest-server/smoke-test.cjs
Due: none
